<template>
  <main class="container flex flex-col">
    <Nuxt />
  </main>
</template>

<style>
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 21cm;
  padding-left: 1.5cm;
  padding-right: 1.5cm;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
}

.text-extra-xs {
  font-size: 9px;
}
.text-small {
  font-size: 10px;
}
</style>
