<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Pilih Apoteker </mobile-appbar-title>
    </template>
    <common-toolbar-filter-area v-model="selectedFilterArea" />
    <page-telefarmasi-toolbar-location
      v-model="queryApi.filterCoordinate"
      @input="onChangeFilterCoordinate"
    />
    <v-row>
      <v-col cols="12">
        <v-text-field
          v-model="search"
          small
          outlined
          hide-details
          label="Cari Apoteker"
          data-cy="form-search-apoteker"
          append-icon="mdi-magnify"
          class="ma-3"
          @click:append="searchName"
          @keyup.enter="searchName"
        />
      </v-col>
    </v-row>
    <v-alert
      v-if="listApoteker.length === 0 && !isLoading"
      dense
      prominent
      type="info"
      class="white--text"
    >
      <div>
        <div>Tidak Ditemukan Apoteker dengan Spesifikasi yang Anda Minta</div>
      </div>
    </v-alert>
    <v-card
      elevation="0"
      @click="onSelectApoteker(item.id)"
      outlined
      class="my-2"
      v-for="item in listApoteker"
      :key="item.id"
      :disabled="!item.isActive"
    >
      <v-card-text>
        <v-row>
          <v-col cols="2">
            <v-img
              contain
              height="100"
              max-width="100"
              :src="
                item.photo
                  ? item.photo
                  : require('@/assets/images/media/image_not_available.png')
              "
              aspect-ratio="1"
              class="rounded"
            ></v-img>
          </v-col>
          <v-col cols="10">
            <div
              style="height: 100%"
              class="d-flex justify-center flex-column align-start"
            >
              <span class="text-h6 font-weight-medium">{{ item.name }}</span>
              <div class="d-flex mt-1 justify-center flex-row align-center">
                <v-icon color="grey">mdi-mortar-pestle-plus</v-icon>
                <span class="text-subtitle-1 ml-1">{{
                  item.apotek.name ?? '-'
                }}</span>
              </div>
              <div
                v-if="item.isActive"
                class="d-flex mt-1 justify-center flex-row align-center"
              >
                <v-icon color="inattigreen">mdi-face-agent</v-icon>
                <span
                  class="text-subtitle-1 ml-1 inattigreen--text font-weight-bold"
                >
                  Aktif Melayani
                </span>
              </div>
              <div
                v-else
                class="d-flex mt-1 justify-center flex-row align-center"
              >
                <v-icon color="grey">mdi-face-agent</v-icon>
                <span class="text-subtitle-1 ml-1"> Tidak Aktif </span>
              </div>
              <div class="d-flex mt-1 justify-center flex-row align-center">
                <span class="text-subtitle-1 ml-1">{{
                  item.apotekGroup ? `Grup ${item.apotekGroup.name}` : ''
                }}</span>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <div v-show="isLoading">
      <v-col v-for="(n, i) in 3" :key="i" cols="12">
        <v-card outlined>
          <v-row>
            <v-col cols="3">
              <v-skeleton-loader width="100%" type="image"></v-skeleton-loader>
            </v-col>
            <v-col cols="9" class="d-flex flex-column justify-space-between">
              <v-skeleton-loader
                width="70%"
                type="list-item-two-line"
              ></v-skeleton-loader>
              <v-skeleton-loader
                width="70%"
                type="list-item-three-line"
              ></v-skeleton-loader>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </div>
    <common-observer @intersect="onIntersect" />
  </mobile-layout>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { Watch } from 'vue-property-decorator'
import { ApotekApi } from '@inatti/shared/api-nuxt'

@Component({
  layout: 'blank',
})
export default class ApotekListComponent extends Vue {
  queryApi = {
    withDeleted: false,
    filterKabupaten: '',
    filterProvinsi: '',
    filterCoordinate: '',
    'paginate[limit]': 10,
    'paginate[page]': 0,
    search: '',
    isActive: true,
  }

  isLoading = false
  pageTotal = 0

  selectedFilterArea = {}

  $refs: any

  search = null

  searchName() {
    this.queryApi.search = this.search
    this.fetchApoteker(false)
  }

  @Watch('search')
  onChangeSearchField(val: any) {
    !val ? (this.queryApi.isActive = true) : (this.queryApi.isActive = false)
  }

  @Watch('selectedFilterArea')
  onChangeFilterArea(val: any) {
    if (!val) {
      return
    }
    if (Object.keys(val).length === 0) {
      return
    }
    this.queryApi.filterKabupaten = val.kab ? val.kab.id : null
    this.queryApi.filterProvinsi = val.prov ? val.prov.id : null
    this.queryApi.filterCoordinate = ''
    this.queryApi['paginate[page]'] = 0
    this.fetchApoteker(false)
  }

  onIntersect() {
    if (
      this.pageTotal > this.queryApi['paginate[page]'] + 1 &&
      !this.isLoading
    ) {
      this.queryApi['paginate[page]'] = this.queryApi['paginate[page]'] + 1
      this.fetchApoteker(true)
    }
  }

  resetCurrentAreaFilter() {
    this.selectedFilterArea = {}
  }

  onChangeFilterCoordinate() {
    this.queryApi.filterKabupaten = ''
    this.queryApi.filterProvinsi = ''
    this.queryApi['paginate[page]'] = 0
    this.queryApi.search = ''
    this.resetCurrentAreaFilter()
    this.fetchApoteker(false)
  }

  listApoteker = [] as any[]

  async fetchApoteker(scrollEvent: boolean) {
    this.isLoading = true
    try {
      const resp = await new ApotekApi(this.$axios).getApoteker(this.queryApi)
      this.pageTotal = resp.pageLength
      if (scrollEvent) {
        const data = [].concat(this.listApoteker, resp.results)
        this.listApoteker = data
      } else {
        this.listApoteker = resp.results
      }
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  onSelectApoteker(id: any) {
    this.$router.push(`/telefarmasi/apoteker/${id}`)
  }

  mounted() {
    this.fetchApoteker(false)
  }
}
</script>
