<template>
  <div>
    <common-toolbar> List Rujukan </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <v-row>
          <v-col class="col-md-5 col-12">
            <v-text-field
              v-model="querySearch"
              label="Cari Data"
              class="d-inline"
              width="30%"
              dense
              clearable
              hint="Cari Rujukan"
              persistent-hint
              append-icon="mdi-magnify"
              @click:clear="clearAndChange"
            />
          </v-col>
          <v-col class="d-md-flex justify-end">
            <v-btn color="primary" @click="isShowDialog = true"> Tambah </v-btn>
          </v-col>
        </v-row>
        <v-alert
          v-model="alert.isShow"
          :type="alert.type"
          dismissible
          dense
          outlined
        >
          {{ alert.msg }}
        </v-alert>
        <v-data-table :items="result" :headers="headers" :search="querySearch">
          <template #[`item.createdAt`]="{ item }">
            {{ new Date(item.createdAt).toLocaleString() }}
          </template>
          <template #[`item.action`]="{ item }">
            <v-btn icon color="primary" @click="edit(item)">
              <v-icon>mdi-pencil-outline</v-icon>
            </v-btn>
            <v-btn icon color="red" @click="confirmDelete(item)">
              <v-icon>mdi-delete-outline</v-icon>
            </v-btn>
            <v-btn text :to="`/ref/${item.id}/detail`"> Detail </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <dialog-delete-confirm
      v-model="dialogDeleteConfirm"
      :loading="isLoadingDelete"
      @ok="confirmedDelete"
    />
    <UiCommonDialog
      v-model="dialogEdit"
      :width="600"
      title="Edit Ref"
      cancelText="Batal"
      confirmText="Simpan"
      :confirmLoading="isLoadingDialog"
      @btn-save="saveFormEdit"
      @btn-cancel="dialogEdit = !dialogEdit"
    >
      <v-text-field
        v-model="formEdit.name"
        label="Nama"
        :error-messages="editNameError"
        required
        outlined
        dense
      />
    </UiCommonDialog>
    <UiCommonDialog
      v-model="isShowDialog"
      :width="600"
      title="Form Ref"
      cancelText="Batal"
      confirmText="Simpan"
      :confirmLoading="isLoadingDialog"
      @btn-save="saveForm"
      @btn-cancel="isShowDialog = !isShowDialog"
    >
      <v-text-field
        v-model="form.name"
        label="Nama"
        :error-messages="formNameError"
        required
        outlined
        dense
      />
    </UiCommonDialog>
  </div>
</template>

<script lang="ts">
import { AdminApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'
import { UiCommonDialog } from '@inatti/shared/ui'

@Component({ components: { UiCommonDialog } })
export default class ListDataComponent extends Vue {
  adminApi!: AdminApi
  created() {
    this.adminApi = new AdminApi(this.$axios)
    this.fetchData()
  }

  querySearch: string | null = null

  clearAndChange() {
    this.querySearch = null
  }

  isLoading = false
  headers = [
    {
      text: 'Nama',
      value: 'name',
    },
    {
      text: 'Tanggal Dibuat',
      value: 'createdAt',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]
  result = []

  async fetchData() {
    this.isLoading = true
    this.result = await this.adminApi.getRefs()
    this.isLoading = false
  }

  isShowDialog = false
  isLoadingDialog = false
  form = {
    name: '',
  }
  alert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }
  setAlert(msg: string, type: string = 'warning') {
    this.alert = {
      isShow: true,
      type,
      msg,
    }
  }

  async saveForm() {
    if (this.formNameError) return
    this.isLoadingDialog = true
    try {
      await this.adminApi.createRef(this.form)
      this.fetchData()
    } catch (err: any) {
      this.setAlert(err.response?.data?.message ?? 'Terjadi kesalahan', 'error')
    }
    this.isLoadingDialog = false
    this.isShowDialog = false
  }

  dialogDeleteConfirm = false
  isLoadingDelete = false

  selectedDelete: any = null
  confirmDelete(item: any) {
    this.selectedDelete = item
    this.dialogDeleteConfirm = true
  }

  async confirmedDelete() {
    if (!this.selectedDelete) return null
    this.isLoadingDelete = true
    const idref = this.selectedDelete.id
    try {
      await this.adminApi.deleteRefById(idref)
      this.fetchData()
    } catch (err: any) {
      this.setAlert(err.response?.data?.message ?? 'Terjadi kesalahan', 'error')
    }
    this.isLoadingDelete = false
    this.dialogDeleteConfirm = false
  }

  get formNameError() {
    if (!this.form.name) {
      return 'Mohon isi field ini'
    }
  }

  get editNameError() {
    if (!this.formEdit.name) {
      return 'Mohon isi field ini'
    }
  }

  dialogEdit = false
  formEdit: any = {}
  edit(item: any) {
    this.dialogEdit = true
    this.formEdit = { ...item }
  }

  async saveFormEdit() {
    if (this.editNameError) return
    if (Object.keys(this.formEdit).length < 1) return null
    this.isLoadingDialog = true
    const id = this.formEdit.id
    try {
      await this.adminApi.updateRef(id, this.formEdit)
    } catch (err: any) {
      this.setAlert(err.response?.data?.message ?? 'Terjadi kesalahan', 'error')
    }
    this.fetchData()
    this.dialogEdit = false
    this.isLoadingDialog = false
  }
}
</script>

<style></style>
