<template>
  <v-tab-item>
    <v-card flat>
      <v-card-text>
        <v-dialog v-model="isDialogAddOpen" width="450">
          <template #activator="{ on, attrs }">
            <v-btn small color="primary" v-bind="attrs" v-on="on">
              Tambah {{ title }}
            </v-btn>
          </template>
          <v-card>
            <v-card-title> Form Tambah Role {{ title }} </v-card-title>
            <v-card-text class="pa-3">
              <v-autocomplete
                v-if="title !== 'Admin'"
                v-model="selectedUser"
                :items="value.userDatas"
                item-text="name"
                item-value="id"
                :label="title"
                v-bind="attrForm"
                :menu-props="{ bottom: true, overflowY: true }"
              >
              </v-autocomplete>
              <v-select
                v-model="selectedRole"
                :items="value.userRoles"
                item-text="name"
                item-value="id"
                label="Role"
                v-bind="attrForm"
                :menu-props="{ bottom: true, offsetY: true }"
              >
              </v-select>
            </v-card-text>
            <v-card-actions class="text-right">
              <v-btn
                color="primary"
                :loading="isLoadingButtonAdd"
                @click="addUserRole"
              >
                Simpan
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-data-table
          :headers="headers"
          :items="value.tableData"
          :loading="value.isLoading"
          disable-sort
        >
          <template #[`header.name`]> Nama {{ title }} </template>

          <template #[`item.createdAt`]="{ item }">
            {{ new Date(item.createdAt).toLocaleString() }}
          </template>

          <template #[`item.action`]="{ item }">
            <v-btn icon color="red" @click="deleteRole(item)">
              <v-icon>mdi-delete-outline</v-icon>
            </v-btn>
            <v-dialog width="450">
              <template #activator="{ on, attrs }">
                <v-btn small text v-bind="attrs" v-on="on"> Detail </v-btn>
              </template>
              <v-card>
                <v-card-title> Detail {{ title }}</v-card-title>
                <v-card-text class="pa-3">
                  <v-autocomplete
                    v-if="title !== 'Admin'"
                    :value="item.user.id"
                    :items="value.userDatas"
                    item-text="name"
                    item-value="id"
                    :label="title"
                    v-bind="attrForm"
                    readonly
                    :menu-props="{ bottom: true, overflowY: true }"
                  >
                  </v-autocomplete>
                  <v-select
                    :value="item.role.id"
                    :items="value.userRoles"
                    item-text="name"
                    item-value="id"
                    label="Role"
                    v-bind="attrForm"
                    readonly
                    :menu-props="{ bottom: true, offsetY: true }"
                  >
                  </v-select>
                </v-card-text>
              </v-card>
            </v-dialog>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-tab-item>
</template>

<script lang="ts">
import { AdminApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

interface TabItemData {
  isLoading: boolean
  tableData: Array<object>
  userDatas: Array<object>
  userRoles: Array<object>
}

@Component
export default class TabItemUser extends Vue {
  @Prop({ type: Object })
  value!: TabItemData

  @Prop({ type: String })
  title!: string

  isDialogAddOpen = false

  isLoadingButtonAdd = false
  isLoadingButtonDelete = false

  attrForm = {
    outlined: true,
    dense: true,
  }

  selectedUser = null

  selectedRole = null

  headers = [
    {
      text: 'Nama',
      value: 'user.name',
    },
    {
      text: 'Role',
      value: 'role.name',
    },
    {
      text: 'Tanggal Dibuat',
      value: 'createdAt',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]

  adminApi: AdminApi

  mounted() {
    this.adminApi = new AdminApi(this.$axios)
    if (this.title === 'Admin') {
      this.headers.splice(2, 1)
    }
  }

  async addUserRole() {
    this.isLoadingButtonAdd = true
    const { id } = this.$route.params
    try {
      switch (this.title) {
        case 'Rujukan':
          await this.adminApi.updateRoleAssignedByRefId(
            id,
            this.selectedUser,
            this.selectedRole
          )
          break
        case 'Lab':
          await this.adminApi.updateRolesAssignedByLabId(
            id,
            this.selectedUser,
            this.selectedRole
          )
          break
        default:
          await this.adminApi.updateRoleAssignedByAdminUserId(
            id,
            this.selectedRole
          )
          break
      }
      this.$emit('refetch', true)
      this.isDialogAddOpen = false
    } finally {
      this.isLoadingButtonAdd = false
      this.selectedUser = null
      this.selectedRole = null
    }
  }

  async deleteRole(item: any) {
    this.isLoadingButtonDelete = true
    try {
      switch (this.title) {
        case 'Rujukan':
          await this.adminApi.deleteRoleAssignedByRefId(item.id)
          break
        case 'Lab':
          await this.adminApi.deleteRoleAssignedByLabId(item.id)
          break
        default:
          await this.adminApi.deleteRoleAssignedByAdminUserId(item.id)
          break
      }
      this.$emit('refetch', true)
    } finally {
      this.isLoadingButtonDelete = false
    }
  }
}
</script>
