<template>
  <div>
    <common-toolbar> Detail pasien </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <v-row>
          <v-col md="6" cols="12">
            <div class="d-flex align-center">
              <div class="text-h5">Detail Pasien</div>
              <v-spacer />
              <div title="Pasien Id">
                {{ detailPatient.id }}
              </div>
            </div>
            <v-divider class="my-3" />
            <v-form ref="form" v-model="valid" lazy-validation>
              <div class="mb-3">
                Sampling Point :
                {{ swabData.refTarget ? swabData.refTarget.name : null }}
              </div>
              <fieldset class="pa-3">
                <legend>Data Personal</legend>
                <v-text-field
                  v-model="detailPatient.nik"
                  v-bind="defaultFormReadOnlyProp"
                  label="Nik"
                  placeholder="Nomor Induk Kependudukan"
                />
                <v-select
                  v-model="detailPatient.type"
                  label="Tipe Nik"
                  v-bind="defaultFormReadOnlyProp"
                  :items="TypeNik"
                  item-text="name"
                  item-value="value"
                />
                <v-text-field
                  v-model="detailPatient.name"
                  v-bind="defaultFormReadOnlyProp"
                  label="Nama"
                  placeholder="Nama Pasien"
                />
                <v-text-field
                  v-model="detailPatient.datebirth"
                  v-bind="defaultFormReadOnlyProp"
                  type="date"
                  label="Tanggal Lahir"
                ></v-text-field>

                <v-text-field
                  v-model="detailPatient.placebirth"
                  v-bind="defaultFormReadOnlyProp"
                  label="Tempat Lahir"
                ></v-text-field>

                <v-text-field
                  v-model="detailPatient.email"
                  v-bind="{ ...defaultFormReadOnlyProp, required: false }"
                  label="Email"
                ></v-text-field>

                <ui-form-select-phone-code
                  v-model="detailPatient.phonenumber"
                  :attr-form="{ ...defaultFormReadOnlyProp, required: false }"
                  hint-country-code=""
                  hint-phone=""
                />
                
                <ui-form-select-gender
                  v-model="detailPatient.gender"
                  v-bind="defaultFormReadOnlyProp"
                />
              </fieldset>

              <fieldset v-if="detailPatient.type === 'nik'" class="pa-3">
                <legend>Alamat KTP</legend>
                <ui-form-select-provinsi
                  v-model="detailPatient.provinsi"
                  v-bind="defaultFormReadOnlyProp"
                />
                <ui-form-select-kabupaten
                  v-model="detailPatient.kabupaten"
                  v-bind="defaultFormReadOnlyProp"
                  :provinsi="detailPatient.provinsi"
                />
                <ui-form-select-kecamatan
                  v-model="detailPatient.kecamatan"
                  v-bind="defaultFormReadOnlyProp"
                  :kabupaten="detailPatient.kabupaten"
                />
                <ui-form-select-kelurahan
                  v-model="detailPatient.kelurahan"
                  v-bind="defaultFormReadOnlyProp"
                  :kecamatan="detailPatient.kecamatan"
                />
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="detailPatient.kelurahanRt"
                      v-bind="defaultFormReadOnlyProp"
                      label="Kelurahan RT"
                    />
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-model="detailPatient.kelurahanRw"
                      v-bind="defaultFormReadOnlyProp"
                      label="Kelurahan RW"
                    />
                  </v-col>
                </v-row>
                <v-text-field
                  v-model="detailPatient.address"
                  v-bind="defaultFormReadOnlyProp"
                  label="Alamat"
                />
              </fieldset>

              <fieldset class="pa-3">
                <legend>Alamat Domisili</legend>
                <ui-form-select-provinsi
                  v-model="detailPatient.domisiliProvinsi"
                  v-bind="defaultFormReadOnlyProp"
                />
                <ui-form-select-kabupaten
                  v-model="detailPatient.domisiliKabupaten"
                  v-bind="defaultFormReadOnlyProp"
                  :provinsi="detailPatient.domisiliProvinsi"
                />
                <ui-form-select-kecamatan
                  v-model="detailPatient.domisiliKecamatan"
                  v-bind="defaultFormReadOnlyProp"
                  :kabupaten="detailPatient.domisiliKabupaten"
                />
                <ui-form-select-kelurahan
                  v-model="detailPatient.domisiliKelurahan"
                  v-bind="defaultFormReadOnlyProp"
                  :kecamatan="detailPatient.domisiliKecamatan"
                />
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="detailPatient.domisiliKelurahanRt"
                      v-bind="defaultFormReadOnlyProp"
                      label="Domisili Kelurahan RT"
                    />
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-model="detailPatient.domisiliKelurahanRw"
                      v-bind="defaultFormReadOnlyProp"
                      label="Domisili Kelurahan RW"
                    />
                  </v-col>
                </v-row>
                <v-text-field
                  v-model="detailPatient.addressDomisili"
                  v-bind="defaultFormReadOnlyProp"
                  label="Alamat Domisili"
                />
              </fieldset>
            </v-form>
          </v-col>
          <v-col md="6" cols="12">
            <div class="text-h5">Data Test Swab Covid 19</div>
            <v-divider class="my-3" />
            <div style="width: 100%">
              <div class="d-flex justify-space-between align-center">
                <div>Id Sample</div>
                <span v-if="swabData.sampleId" class="text-h5">
                  <strong>{{ swabData.sampleId }}</strong>
                </span>
              </div>
              <div
                v-if="swabData.sendToLabDate"
                class="d-flex justify-space-between align-center mt-3"
              >
                <div>Sample telah terkirim ke Lab pada tanggal</div>
                <strong>
                  {{ swabData.sendToLabDate | toLocale }}
                </strong>
              </div>
              <div class="d-flex justify-space-between align-center mt-3">
                <div>Status Sample</div>
                <div>
                  <common-chip-history-sample
                    v-model="swabData.history"
                    :sample-id="swabData.id"
                    show-detail
                  />
                </div>
              </div>
            </div>

            <!-- Table Sample Result -->
            <div v-if="resultAnalyze">
              <div class="text-h5 mt-6">Hasil Swab Lab</div>
              <v-divider class="my-3" />
              <div class="d-flex justify-space-between mb-3">
                <div>
                  Alat yang digunakan :
                  <span class="text-h5">
                    <strong>{{
                      tool ? tool.name : 'Nama alat tidak ada'
                    }}</strong>
                  </span>
                </div>
                <div>
                  Waktu hasil keluar : {{ resultAnalyze.createdAt | toLocale }}
                </div>
              </div>
              <div>
                Hasil dari alat :
                <common-result-chip v-model="resultAnalyze.resultSummary" />

                <div
                  v-if="
                    resultAnalyze.session && resultAnalyze.session.attachedFile
                  "
                >
                  File tambahan :
                  <a
                    v-if="resultAnalyze.session.attachedFile.s3"
                    class="primary--text mt-3"
                    target="_blank"
                    :href="resultAnalyze.session.attachedFile.s3.Location"
                  >
                    <v-icon>mdi-file</v-icon>
                    {{ resultAnalyze.session.attachedFile.originalName }}
                  </a>
                </div>
              </div>
              <component
                :is="selectedResultSummaryComponent"
                v-if="resultAnalyze.resultRaw"
                v-model="resultAnalyze"
              />
            </div>

            <!-- Form Validation -->
            <template v-if="resultAnalyze">
              <div class="text-h5 mt-6">Validasi Dokter</div>
              <v-divider class="my-3" />
              <div
                v-if="responseSample.createdAt"
                class="d-flex justify-space-between align-center"
              >
                <div>
                  Hasil Validasi Dokter :
                  <strong>{{ responseSample.createdAt | toLocale }}</strong>
                </div>
                <span
                  v-if="
                    $allow('update:docter_result') && formResultDoctor.readOnly
                  "
                >
                  <v-btn
                    class="amber darken-1 white--text"
                    outlined
                    small
                    @click="editValidation()"
                    >Edit</v-btn
                  >
                </span>
              </div>

              <v-form @submit="submitValidationDoctor()">
                <page-sample-data-form-validation
                  v-model="formResultDoctor"
                  :is-loading="isLoadingButton"
                  @btn-submit="submitValidationDoctor()"
                  @btn-cancel="cancelValidationDoctor()"
                />
              </v-form>
            </template>
            <!-- End Form Validation -->

            <page-sample-data-result-final
              v-if="formResultDoctorOriginal.status"
              v-model="swabData"
              @change="fetchData"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col md="12" cols="12">
            <div class="d-flex align-center">
              <div class="text-h5">Log Aktifitas</div>
              <v-spacer />
            </div>
            <v-divider class="mt-3 mb-5" />
            <page-sample-swab-list-log-activity :sample-id="swabData.id" />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import ResultSummaryLC96 from '../../components/tool/analyze/lc96/resultSummary.vue'
import ResultSummaryCFX96 from '../../components/tool/analyze/cfx96/resultSummary.vue'
import ResultSummaryVazyment3 from '../../components/tool/analyze/vazyment3/resultSummary.vue'
import ResultNotSupport from '../../components/page/sampleData/resultNotSupport.vue'
import {
  LabAnalyzeResultEntity,
  PatientSwabDetailDTO,
  TypeNikSelect,
} from '@inatti/shared/api-nuxt'
import ResultSummaryQlAquant96Component from '../../components/tool/analyze/QlAquant96/resultSummary.vue'

@Component
export default class DetailSampleSwabComponent extends Vue {
  $allow!: any
  created() {
    if (!this.$allow('docter_result')) {
      this.formResultDoctor.readOnly = true
    }
  }

  mounted() {
    this.fetchData()
    this.fetchResultSample()
    this.getSampleResultDoctor()
  }

  isLoadingButton = false
  isData = false

  formResultDoctor = {
    status: '',
    notes: '',
    readOnly: false,
    asFinalResult: true,
  }
  formResultDoctorOriginal = {}

  responseSample = {}

  defaultFormReadOnlyProp = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
    readonly: true,
  }

  TypeNik = TypeNikSelect
  valid = false

  // fetch detail data save here
  swabData = {} as PatientSwabDetailDTO.SwabDetail
  swabDataOriginal = {} as PatientSwabDetailDTO.SwabDetail

  // only patient part
  detailPatient = {} as PatientSwabDetailDTO.Patient

  isLoading = false
  resultAnalyze = null as unknown as LabAnalyzeResultEntity

  /**
   * Result Component based
   */
  resultSummaryComponent: { [key: number]: any } = {
    1: ResultSummaryLC96,
    2: ResultSummaryCFX96,
    3: ResultSummaryVazyment3,
    4: ResultSummaryQlAquant96Component,
  }

  get tool() {
    return this.resultAnalyze.tool ?? null
  }

  get selectedResultSummaryComponent() {
    if (!this.tool) return false
    if (!this.tool.id) {
      return ResultNotSupport
    }
    return this.resultSummaryComponent[this.tool.id]
  }

  tempformResultDoctor = {}
  editValidation() {
    this.tempformResultDoctor = { ...this.formResultDoctor }
    this.formResultDoctor.readOnly = false
  }

  async submitValidationDoctor() {
    if (!this.$allow(['manage:doctor_result', 'update:docter_result'])) {
      alert('Anda tidak diperbolehkan melakukan aksi validasi dokter')
      return false
    }
    try {
      this.isLoadingButton = true
      const { idsample } = this.$route.params
      const { labId } = this.$store.state.labStore
      await this.$axios.post(
        `/api-lab/analyze/result-doctor/${idsample}?idlab=${labId}`,
        {
          result: this.formResultDoctor.status,
          note: this.formResultDoctor.notes,
          asFinalResult: this.formResultDoctor.asFinalResult,
        }
      )
      await this.getSampleResultDoctor()
      await this.fetchData()
    } finally {
      this.isLoadingButton = false
    }
  }

  cancelValidationDoctor() {
    this.formResultDoctor = { ...this.tempformResultDoctor } as any
    this.tempformResultDoctor = {}
    this.formResultDoctor.readOnly = true
  }

  async fetchData() {
    try {
      this.isLoading = true
      const sampleId = this.$route.params.idsample
      const labId = this.$store.state.labStore.labId
      const urlApi = '/api-lab/sample-swab/' + sampleId + '/?labId=' + labId
      const result = await this.$axios.$get(urlApi)
      this.swabData = result
      this.detailPatient = this.swabData.patient      
    } finally {
      this.isLoading = false
    }
  }

  async getSampleResultDoctor() {
    try {
      const { idsample } = this.$route.params
      const { labId } = this.$store.state.labStore
      const result = await this.$axios.get(
        `/api-lab/analyze/result-doctor/${idsample}?idlab=${labId}`
      )
      this.responseSample = result.data
      this.isLoadingButton = false
      if (result.data) {
        const updated = {
          status: result.data.result,
          notes: result.data.note,
          readOnly: true,
        }
        Object.assign(this.formResultDoctor, updated)
        this.formResultDoctorOriginal = { ...this.formResultDoctor }
      }
    } catch (error) {}
  }

  async fetchResultSample() {
    try {
      const idLab = this.$store.state.labStore.labId
      const idSwab = this.$route.params.idsample
      this.resultAnalyze = await this.$axios.$get(
        `/api-lab/sample-swab/analyze-result/${idSwab}?labId=${idLab}`
      )
      if (!this.resultAnalyze) {
        return null
      }
    } catch (error) {}
  }
}
</script>

<style></style>
