<template>
  <div>
    <common-toolbar no-back> Data pasien </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination-filter
          v-model="dataResult"
          :isShowFilter="false"
          :isShowQrScan="false"
          search
          search-hint="Cari nama atau kode sample"
          @change="fetchData"
        >
          <template #filter-result="{ data }">
            <table-filter-result v-model="data.resultApi" />
          </template>
          <template #default="{ options }">
            <v-btn
              color="primary"
              :loading="isLoadingSubmit"
              @click="submitSamples()"
            >
              Submit Sample
            </v-btn>
            <v-data-table
              v-model="selectedRow"
              :loading="isLoading"
              :headers="header"
              :items="items"
              :items-per-page="options.itemPerPage"
              hide-default-footer
              disable-pagination
              show-select
            >
              <template #[`item.action`]="{ item }">
                <v-btn icon :to="'' + item.id">
                  <v-icon> mdi-eye </v-icon>
                </v-btn>
              </template>
              <template #[`item.resultTest`]="{ item }">
                <div v-if="item.resultSwab">
                  <common-result-chip v-model="item.resultSwab" />
                  <br />
                  {{ item.resultSentAt | toLocale }}
                </div>
              </template>
              <template #[`item.statusHistory`]="{ item }">
                <div>
                  <common-chip-history-sample
                    v-model="item.history"
                    :sample-id="item.id"
                    show-detail
                  />
                </div>
              </template>
            </v-data-table>
          </template>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { PaginationResult, PatientSwabDetailDTO } from '@inatti/shared/api-nuxt'
import { UiTablePaginationFilter } from '@inatti/shared/ui'
import { helperFormatDate } from '../../helper/date'

@Component({ components: { UiTablePaginationFilter } })
export default class SampleSwabListComponent extends Vue {
  created() {
    this.fetchData()
  }
  isLoading = false
  items: PatientSwabDetailDTO.SwabDetail[] | any[] = []
  header = [
    {
      text: 'Nama',
      value: 'patient.name',
    },
    {
      text: 'Jenis Kelamin',
      value: 'patient.gender',
    },
    {
      text: 'Kode Sample',
      value: 'sampleId',
    },
    {
      text: 'Rujukan',
      value: 'refTarget.name',
    },
    {
      text: 'Tanggal Kirim Lab',
      value: 'sendToLabDate',
    },
    {
      text: 'Hasil Test',
      value: 'resultTest',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
    {
      text: 'Status History',
      value: 'statusHistory',
    },
  ]

  selectedRow = []

  @Watch('selectedFilter')
  updateFilter() {
    this.fetchData()
  }

  dataResult = {}

  lastParams = null
  async fetchData(params: any = {}) {
    this.lastParams = params
    try {
      this.items = []

      this.isLoading = true
      let labId = this.$store.state.labStore.labId
      const result: PaginationResult<PatientSwabDetailDTO.SwabDetail> =
        await this.$axios.$get(`/api-lab/sample-swab`, {
          params: {
            labId,
            ...params,
          },
        })

      this.dataResult = result

      this.items = result.results.map((v: PatientSwabDetailDTO.SwabDetail) => {
        return {
          ...v,
          sendToLabDate: helperFormatDate(v.sendToLabDate as Date),
        }
      })
    } catch (error) {
      console.log(error)
    }
    this.isLoading = false
  }

  isLoadingSubmit = false
  async submitSamples() {
    this.isLoadingSubmit = true
    let listIdSample = this.selectedRow.map((v: any) => v.id)
    try {
      await this.$axios.$patch(
        'api-lab/sample-swab/sample-submit',
        listIdSample
      )
    } finally {
      this.fetchData(this.lastParams)
    }
    this.isLoadingSubmit = false
  }
}
</script>

<style></style>
