<template>
  <div>
    <v-toolbar class="mb-3">
      <v-toolbar-title>Manajemen Unit Bisnis</v-toolbar-title>
      <v-spacer />
      <v-btn @click="dialogFormApotekGroup.show = true" color="primary">
        <v-icon left> mdi-plus </v-icon> Tambah Unit Bisnis
      </v-btn>
    </v-toolbar>
    <v-data-table
      :headers="table.headers"
      :items="table.items"
      :loading="isLoading"
      item-key="id"
      class="elevation-1"
      pagination.sync="pagination"
    >
      <template #[`item.deleteAt`]="{ item }">
        <span :class="item.deleteAt ? 'red--text' : 'green--text'">
          {{ item.deleteAt ? 'Telah dihapus' : 'Aktif' }}
        </span>
      </template>
      <template #[`item.createdAt`]="{ item }">
        <span>
          {{ item.createdAt ? $utils.toFormatDateTime(item.createdAt) : '-' }}
        </span>
      </template>
      <template #[`item.actions`]="{ item }">
        <v-btn color="error" icon small @click="confirmDelete(item)">
          <v-icon small> mdi-trash-can-outline </v-icon>
        </v-btn>
        <v-btn icon :to="`/apotek-grup/${item.id}`" small>
          <v-icon small> mdi-eye </v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <ui-common-dialog
      v-model="dialogFormApotekGroup.show"
      :width="600"
      :confirm-text="dialogFormApotekGroup.confirmText"
      :cancel-text="dialogFormApotekGroup.cancelText"
      :loading="dialogFormApotekGroup.loading"
      :title="dialogFormApotekGroup.title"
      @btn-save="onConfirmDialogFormApotekGroup()"
      @btn-cancel="onCloseDialogFormApotekGroup()"
    >
      <page-apotek-grup-form
        ref="apotekGrupFormRef"
        v-model="formApotekGroup"
        :alert="alertFormApotekGroup"
        v-if="dialogFormApotekGroup.show"
      />
    </ui-common-dialog>
    <dialog-delete-confirm
      :title="deleteApotekGroup.name"
      :loading="deleteApotekGroup.loading"
      v-model="isOpenDialogDelete"
      @delete="onDeleteApotekGroup"
      @cancel="onCloseDialogDeleteApotekGroup"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { ApotekGroup, ApotekGroupApi } from '@inatti/shared/api-nuxt'

@Component
export default class ApotekGroupList extends Vue {
  table = {
    headers: [
      { text: 'Nama', value: 'name' },
      { text: 'Tanggal Dibuat', value: 'createdAt' },
      { text: 'Status Apotek', value: 'deleteAt' },
      { text: 'Aksi', value: 'actions' },
    ],
    items: [] as ApotekGroup[],
  }

  isOpenDialogDelete = false
  deleteApotekGroup = {
    name: '',
    id: '',
    loading: false,
  }
  isLoading = false

  formApotekGroup = {
    name: '',
    address: '',
    description: '',
    phonenumber: '',
    thumbnail: '',
    reset: () => {
      this.formApotekGroup.name = ''
      this.formApotekGroup.address = ''
      this.formApotekGroup.description = ''
      this.formApotekGroup.phonenumber = ''
      this.formApotekGroup.thumbnail = ''
    },
  }
  dialogFormApotekGroup = {
    show: false,
    confirmText: 'Simpan',
    cancelText: 'Batal',
    loading: false,
    title: 'Tambah Unit Bisnis',
  }

  alertFormApotekGroup = {
    isShow: false,
    msg: '',
    type: '',
  }
  showAlertFormApotekGroup(type: string, msg: string) {
    this.alertFormApotekGroup = {
      isShow: true,
      msg,
      type,
    }
  }

  $refs: any

  async onConfirmDialogFormApotekGroup() {
    if (!this.$refs.apotekGrupFormRef.validateForm()) return false
    try {
      this.dialogFormApotekGroup.loading = true
      await this.apotekGroupApi.create(this.formApotekGroup)
      this.onCloseDialogFormApotekGroup()
      this.fetchApotekGroup()
    } catch (error) {
      const errData = error?.response?.data ?? 'Error tidak diketahui'
      this.showAlertFormApotekGroup(errData.message, 'error')
    } finally {
      this.dialogFormApotekGroup.loading = true
    }
  }
  onCloseDialogFormApotekGroup() {
    this.dialogFormApotekGroup.show = false
    this.formApotekGroup.reset()
  }

  $form: any
  $snackbar: any
  $utils: any

  apotekGroupApi!: ApotekGroupApi
  $dayjs: any
  mounted() {
    this.apotekGroupApi = new ApotekGroupApi(this.$axios)
    this.fetchApotekGroup()
  }

  async fetchApotekGroup() {
    try {
      this.isLoading = true
      this.table.items = await this.apotekGroupApi.getListBasedUser(true) || []
    } catch (error) {
      console.log(error)
    }
    this.isLoading = false
  }

  onCloseDialogDeleteApotekGroup() {
    this.deleteApotekGroup = {
      id: '',
      loading: false,
      name: '',
    }
    this.isOpenDialogDelete = false
  }

  async onDeleteApotekGroup() {
    try {
      this.deleteApotekGroup.loading = true
      await this.apotekGroupApi.delete(this.deleteApotekGroup.id)
      this.onCloseDialogDeleteApotekGroup()
      this.fetchApotekGroup()
    } catch (error: any) {
      const code = parseInt(error.response && error.response.status)
      this.$snackbar(error.response.data.message ?? code)
    } finally {
      this.deleteApotekGroup.loading = false
    }
  }

  confirmDelete(item: any) {
    this.deleteApotekGroup = {
      loading: false,
      id: item.id,
      name: item.name,
    }
    this.isOpenDialogDelete = true
  }
}
</script>
