<template>
  <div>
    <common-toolbar no-back> Hasil Akhir </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination-filter
          v-model="dataResult"
          :isShowFilter="false"
          :isShowQrScan="false"
          search
          search-hint="Cari nama atau kode sample"
          @change="fetchData"
        >
          <v-row>
            <v-col md="2">
              <v-btn
                :disabled="selectedRow.length < 1"
                color="primary"
                small
                @click="bulkPublishResult()"
              >
                Bulk Publish Hasil
              </v-btn>
            </v-col>
            <v-col md="2">
              <v-btn
                :disabled="selectedRow.length < 1"
                color="primary"
                class="ml-3"
                small
                @click="sendToNar()"
              >
                Kirim Ke NAR
              </v-btn>
            </v-col>
            <v-col class="d-flex justify-end align-center flex-row" md="8">
              <v-btn
                small
                color="primary"
                :disabled="
                  selectedRow.length < 1 ||
                  isLoadingDownloadCertificateZip === true
                "
                :loading="isLoadingDownloadCertificateZip"
                @click="onDownloadCertificateZip()"
              >
                Download sertifikat ZIP
              </v-btn>
            </v-col>
          </v-row>
          <v-data-table
            v-model="selectedRow"
            :headers="tableHeader"
            :items="tableItems"
            :loading="isLoading"
            :item-class="getItemClass"
            hide-default-footer
            disable-pagination
            show-select
          >
            <template #item.patientIdentity="{ item }">
              <div>
                <div>
                  {{ item.sample.patient.name }}
                </div>
                <div>
                  {{ item.sample.patient.nik }}
                </div>
              </div>
            </template>
            <template #item.resultTool="{ item }">
              <div v-if="item.sampleSession.resultTool">
                <common-result-chip
                  v-model="item.sampleSession.resultTool.resultSummary"
                />
                <div>
                  {{ item.sampleSession.resultTool.createdAt | toLocale }}
                </div>
              </div>
            </template>
            <template #item.resultDoctor="{ item }">
              <div v-if="item">
                <common-result-chip v-model="item.result" />
                <span v-if="item.note"> ({{ item.note }}) </span>
                <div>
                  {{ item.createdAt | toLocale }}
                </div>
              </div>
            </template>
            <template #item.resultFinal="{ item }">
              <div v-if="item.sample.resultSwab">
                <common-result-chip v-model="item.sample.resultSwab" />
              </div>
              <div v-if="item.sample.resultSentAt">
                {{ item.sample.resultSentAt | toLocale }}
              </div>
            </template>
            <template #item.action="{ item }">
              <div class="d-flex">
                <v-btn
                  v-if="item.sample"
                  icon
                  small
                  :to="'/sample-swab/' + item.sample.id"
                  class="mr-3"
                >
                  <v-icon> mdi-eye </v-icon>
                </v-btn>
              </div>
            </template>
            <template #item.dateResultSent="{ item }">
              <div>
                <v-btn
                  v-if="$allow('manage:send_result')"
                  color="primary"
                  small
                  :loading="item.isLoading"
                  @click="publishItem(item)"
                >
                  Publish Hasil
                </v-btn>
                <div v-if="getDatePublish(item)">
                  Terakhir di update : {{ getDatePublish(item) | toLocale }}
                </div>
              </div>
            </template>
            <template #item.narSample="{ item }">
              <v-chip
                v-if="item.sample.narSample"
                small
                :color="
                  item.sample.narSample.isSuccess
                    ? 'green darken-4'
                    : 'deep-orange accent-3'
                "
                class="text-center white--text"
              >
                {{
                  item.sample.narSample.isSuccess
                    ? 'SUCCESS'
                    : item.sample.narSample.message
                }}
              </v-chip>
            </template>
          </v-data-table>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { PaginationResult, ReadExtractionDTO } from '@inatti/shared/api-nuxt'
import { UiTablePaginationFilter } from '@inatti/shared/ui'

@Component({ components: { UiTablePaginationFilter } })
export default class AnalizeDoctorListComponent extends Vue {
  created() {
    this.fetchData({
      'filter[date]': 'today',
    })
  }

  tableHeader = [
    {
      text: 'Nama / Nik',
      value: 'patientIdentity',
    },
    {
      text: 'Tanggal Lahir',
      value: 'sample.patient.datebirth',
    },
    {
      text: 'Jenis kelamin',
      value: 'sample.patient.gender',
    },
    {
      text: 'Rujukan',
      value: 'sample.refTarget.name',
    },
    {
      text: 'Hasil dari alat',
      value: 'resultTool',
    },
    {
      text: 'Hasil dari dokter',
      value: 'resultDoctor',
    },
    {
      text: 'Hasil yang dikirim',
      value: 'resultFinal',
    },
    {
      text: 'Hasil NAR',
      value: 'narSample',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
    {
      text: 'Tanggal Kirim Hasil',
      value: 'dateResultSent',
    },
  ]
  tableItems = [] as any[]
  dataResult = {}

  isLoading = true
  selectedRow: ReadExtractionDTO.ResultDoctor[] = []
  $snackbar: any

  lastParams = null
  async fetchData(params: any = {}) {
    this.lastParams = params
    this.isLoading = true
    try {
      let idlab = this.$store.state.labStore.labId
      const result: PaginationResult<any> = await this.$axios.$get(
        '/api-lab/analyze/result-final',
        {
          params: {
            idlab,
            ...params,
          },
        }
      )

      this.dataResult = result
      this.tableItems = result.results

      this.tableItems.map((v) => ({ ...v, isLoading: false }))
    } catch (error) {
      console.log(error)
    }
    this.isLoading = false
  }

  async publishItem(item: ReadExtractionDTO.ResultDoctor) {
    let sampleId = item.sample.id
    // @ts-ignore
    item.isLoading = true
    try {
      let labId = this.$store.state.labStore.labId
      await this.$axios.$post(
        '/api-lab/analyze/result-final/send/' + sampleId + '?idlab=' + labId
      )

      item.publishAt = new Date()
      this.fetchData()
    } catch (error) {
      console.log(error)
    }
    // @ts-ignore
    item.isLoading = false
  }

  async bulkPublishResult() {
    if (!this.selectedRow) return false
    if (this.selectedRow.length < 1) {
      return false
    }

    try {
      this.isLoading = true
      const labId = this.$store.state.labStore.labId
      const sampleIds = this.selectedRow.map((v) => v.sample.id ?? null)
      await this.$axios.$post(
        `/api-lab/analyze/result-final/send-bulk/?idlab=${labId}`,
        sampleIds
      )
      this.$snackbar(
        `Berhasil kirim hasil sebanyak ${this.selectedRow.length} data`
      )
      this.fetchData(this.lastParams)
      this.selectedRow = []
    } catch (error) {
      console.log(error)
    } finally {
      this.isLoading = false
    }
  }

  isLoadingDownloadCertificateZip = false
  $utils: any

  async onDownloadCertificateZip() {
    if (!this.selectedRow) return false
    if (this.selectedRow.length < 1) {
      return false
    }
    const { labId } = this.$route.query
    const sampleIds = this.selectedRow.map((v) => v.sample.id ?? null)

    try {
      this.isLoadingDownloadCertificateZip = true
      const resp = await this.$axios.$get(
        '/api-lab/report-pdf/download-sertifikat/zip',
        {
          responseType: 'blob',
          params: {
            idlab: labId,
            idswab: sampleIds.toString(),
          },
        }
      )
      this.$utils.saveFile({
        byteArray: resp,
        fileName: 'sertifikat',
        extension: 'zip',
      })
    } catch (error) {
    } finally {
      this.isLoadingDownloadCertificateZip = false
    }
  }

  getDatePublish(item: ReadExtractionDTO.ResultDoctor) {
    return item?.publishAt ?? null
  }

  getItemClass(item: ReadExtractionDTO.ResultDoctor) {
    return item.sample.resultSwab
      ? 'light-green--text accent-4'
      : 'red--text accent-4'
  }

  sendToNar() {
    let isSomeSampleNotSent = this.selectedRow.some((v) => !v.sample.resultSwab)
    if (isSomeSampleNotSent) {
      this.$snackbar(
        'Ada sample yang belum di publish. Silahkan publish terlebih dahulu'
      )
      return false
    }
    this.$store.commit(
      'narSample/setSelected',
      this.selectedRow.filter((v) => v.sample.resultSwab).map((v) => v.sample)
    )
    this.$router.push('/nar/process')
  }
}
</script>

<style></style>
