<template>
  <v-app dark>
    <v-navigation-drawer v-model="drawer" :mini-variant="miniVariant" fixed app>
      <v-list-item>
        <v-list-item-content>
          <div class="d-flex align-center justify-space-evenly pb-1">
            <v-img :src="brandImage" max-width="78px" alt="Inatti Lab" />
            <div class="font-weight-bold text-style ml-2">{{ brandTitle }}</div>
          </div>
        </v-list-item-content>
      </v-list-item>

      <v-divider />

      <slot name="sidebar-menu" />
    </v-navigation-drawer>
    <v-app-bar fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-spacer />
      <slot name="appbar-sidetool" />
    </v-app-bar>
    <v-main>
      <v-container>
        <notification-management />
        <slot name="extra-notif" />
        <Nuxt />
      </v-container>
      <ui-common-snackbar-error />
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { NotificationManagement } from '@inatti/shared/ui';

@Component({
  components: { NotificationManagement },
})
export default class Container extends Vue {
  @Prop({ type: String })
  brandTitle!: string;
  @Prop({ type: String })
  brandImage!: string;

  drawer = true;
  fixed = false;
  miniVariant = false;
}
</script>

<style>
.text-style {
  position: relative;
  top: 2.5px;
  font-size: 1.5rem;
  color: #7a892a;
}
</style>
