<template>
  <v-list v-model="selected" nav dense>
    <v-list-item-group v-for="(group, i) in menuItems" :key="i" color="primary">
      <template v-if="group.allow ? $allow(group.allow) : true">
        <v-subheader v-if="group.title">{{ group.title }}</v-subheader>
        <template v-for="(menu, j) in group.child">
          <template v-if="menu.child">
            <v-list-group
              v-if="menu.allow ? $allow(menu.allow) : true"
              :key="j"
              :prepend-icon="menu.icon"
              no-action
            >
              <template #activator>
                <v-list-item-content>
                  <v-list-item-title v-text="menu.title"></v-list-item-title>
                </v-list-item-content>
              </template>

              <template v-for="(child, ci) in menu.child">
                <v-list-item
                  v-if="child.allow ? $allow(child.allow) : true"
                  :key="ci"
                  :to="child.to"
                >
                  <v-list-item-content>
                    <v-list-item-title v-text="child.title"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-list-group>
          </template>
          <template v-if="menu.to && !menu.child">
            <v-list-item
              v-if="menu.allow ? $allow(menu.allow) : true"
              :key="j"
              :to="menu.to"
            >
              <v-list-item-icon>
                <v-icon>{{ menu.icon }}</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>
                  {{ menu.title }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </template>
      </template>
    </v-list-item-group>
  </v-list>
</template>

<script lang="ts">
import Vue from 'vue';
import { Prop } from 'vue-property-decorator';
import Component from 'vue-class-component';

@Component
export default class ContainerMenuNavigation extends Vue {
  @Prop({ type: Array })
  menuItems!: [];

  selected = '';

  mounted() {
    console.log('menuItems', this.menuItems);
  }
}
</script>

<style></style>
