<template>
  <div class="d-flex text-right">
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title>{{
          $auth.user ? $auth.user.fullname : ''
        }}</v-list-item-title>
        <v-list-item-subtitle>{{ currentBranch }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-menu>
      <template #activator="{ on, attrs }">
        <div class="d-flex justify-center align-center">
          <v-btn
            data-cy="menu-account-dropdown-activator"
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-avatar color="primary">
              <v-icon color="white" light>mdi-account-outline</v-icon>
            </v-avatar>
          </v-btn>
        </div>
      </template>
      <v-list dense nav>
        <v-list-item to="/account/setting">
          <v-list-item-title data-cy="menu-account-dropdown-account-setting"
            >Account Setting</v-list-item-title
          >
        </v-list-item>
        <v-divider />
        <v-list-item v-if="titleActionChangeBranch" @click="changeBranch">
          <v-list-item-title>{{ titleActionChangeBranch }}</v-list-item-title>
        </v-list-item>
        <v-list-item @click="logout">
          <v-list-item-title>Logout</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component
export default class MenuAccount extends Vue {
  @Prop({ type: String })
  currentBranch: string;
  @Prop({ type: String })
  titleActionChangeBranch: string;

  $auth: any;
  changeBranch() {
    this.$router.replace('/login/app');
  }

  logout() {
    this.$auth.logout();
    this.$router.replace({
      path: '/login',
    });
  }
}
</script>

<style></style>
