<template>
  <v-autocomplete
    :items="apotekGroupList"
    item-text="name"
    outlined
    v-model="form"
    :return-object="false"
    item-value="id"
    label="Unit Bisnis"
    hint="Filter berdasarkan Unit Bisnis"
    persistent-hint
    dense
    :rules="rules"
    multiple
    clearable
  >
    <template v-slot:selection="{ item, index }">
      <v-chip small v-if="index === 0">
        <span>{{ item.name }}</span>
      </v-chip>
      <span v-if="index === 1" class="grey--text text-caption">
        (+{{ form.length - 1 }} others)
      </span>
    </template>
    <template v-slot:prepend-item>
      <v-list-item ripple @mousedown.prevent @click="toggle">
        <v-list-item-action>
          <v-icon>
            {{ icon }}
          </v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title> Select All </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mt-2"></v-divider>
    </template>
  </v-autocomplete>
</template>

<script lang="ts">
import Vue from 'vue';
import { Prop } from 'vue-property-decorator';
import { ApotekGroupApi, ApotekHeadofficeApi } from '@inatti/shared/api-nuxt';
import Component from 'vue-class-component';

@Component
export default class FormSelectApotekGrup extends Vue {
  @Prop()
  value!: any;
  @Prop({ type: Boolean, required: false, default: false })
  defaultAllSelected!: boolean;
  @Prop({ type: Number, default: 0 })
  minimumSelected!: number;
  @Prop({ type: Boolean, required: false, default: false })
  withDeleted!: boolean;
  @Prop({ type: Boolean, required: false, default: false })
  isHeadoffice!: boolean;

  apotekGroupList = [];
  apotekGroupApi = new ApotekGroupApi(this.$axios);

  rules = [
    (v: any) =>
      v.length >= this.minimumSelected ||
      `Pilih Minimal ${this.minimumSelected} Apotek Grup`,
  ];

  get form() {
    return this.value;
  }

  set form(val: any) {
    if (val.length < this.minimumSelected) {
      return;
    }
    this.$emit('input', val);
  }

  get someSelected() {
    if (this.form.length > 0) return true;
  }

  get allSelected() {
    if (this.form.length === this.apotekGroupList.length) return true;
  }

  get icon() {
    if (this.allSelected) return 'mdi-close-box';
    if (this.someSelected) return 'mdi-minus-box';
    return 'mdi-checkbox-blank-outline';
  }

  toggle() {
    if (this.allSelected) {
      this.form = []
    } else {
      this.form = this.apotekGroupList.map(item => item.id);
    }
  }

  async fetchApotekGroupListByUser() {
    try {
      this.apotekGroupList = await this.apotekGroupApi.getListBasedUser();
      if (this.defaultAllSelected) {
        this.form = this.apotekGroupList.map((v: any) => v.id);
      }
    } catch (error) {}
  }

  async fetchApotekGroupListByHeadoffice() {
    try {
      this.apotekGroupList = await this.apotekGroupApi.getListBasedHeadoffice();
      if (this.defaultAllSelected) {
        this.form = this.apotekGroupList.map((v: any) => v.id);
      }
    } catch (error) {}
  }
  mounted() {
    this.isHeadoffice
      ? this.fetchApotekGroupListByHeadoffice()
      : this.fetchApotekGroupListByUser();
  }
}
</script>
