<template>
  <div>
    <v-select
      :items="apotekList"
      outlined
      v-model="form"
      v-bind="$attrs"
      item-value="id"
      item-text="name"
      label="Apotek"
      dense
      clearable
    >
      <template v-slot:item="{ item, attrs }">
        <v-checkbox :value="attrs.inputValue">
          <template v-slot:label>
            <span v-if="item.name" class="text-subtitle-2 black--text">
              {{ item.name }}
              {{ item.apotekGroup ? `( ${item.apotekGroup.name} )` : '' }}</span
            >
          </template>
        </v-checkbox>
      </template>
      <template v-slot:selection="{ item, index }">
        <v-chip small v-if="index === 0">
          <span>{{ limitWords(item) }}</span>
        </v-chip>
        <span v-else-if="index === 1" class="grey--text text-caption">
          (+{{ form.length - 1 }} others)
        </span>
      </template>
    </v-select>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Prop, Watch } from 'vue-property-decorator';
import { ApotekApi } from '@inatti/shared/api-nuxt';
import Component from 'vue-class-component';

@Component
export default class FormSelectApotek extends Vue {
  @Prop()
  value!: any;
  @Prop({ type: Number, default: 1 })
  minimumSelected!: number;
  @Prop()
  apotekGroup!: string[];

  apotekList = [];
  apotekApi = new ApotekApi(this.$axios);

  @Watch('apotekGroup', {
    immediate: true,
  })
  onChangeApotekGroup(v: any) {
    this.fetchApotekList();
  }

  get form() {
    return this.value;
  }

  set form(val: any) {
    this.$emit('input', val);
  }

  async fetchApotekList() {
    if (this.apotekGroup.length === 0) {
      this.apotekList = [];
      return;
    }
    try {
      const groupApotekId = this.apotekGroup.toString();
      const resp = await this.apotekApi.getByGroup(groupApotekId, false, {
        'paginate[page]': 0,
        'paginate[limit]': 1000,
      });
      this.apotekList = resp.results;
    } catch (error) {}
  }
  mounted() {
    this.fetchApotekList();
  }

  limitWords(item: any) {
    return item.name.length < 30 ? item.name : item.name.slice(0, 29) + '...';
  }
}
</script>
