<template>
  <v-text-field
    v-model="selected"
    label="Kewarnegaraan"
    v-bind="$attrs"
    persistent-hint
  />
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component
export default class SelectCountryComponent extends Vue {
  @Prop({ type: [Number, String, Object] })
  value!: string | Number | Object;

  get selected(): any {
    return this.value;
  }
  set selected(val) {
    this.$emit('input', val);
  }
}
</script>

<style></style>
