<template>
  <v-select
    :items="referenceList"
    item-text="name"
    outlined
    v-model="form"
    :return-object="false"
    item-value="id"
    label="Rujukan"
    hint="Filter berdasarkan rujukan"
    persistent-hint
    dense
    :rules="rules"
    multiple
  >
    <template v-slot:selection="{ item, index }">
      <v-chip small v-if="index === 0">
        <span>{{ item.name }}</span>
      </v-chip>
      <span v-if="index === 1" class="grey--text text-caption">
        (+{{ form.length - 1 }} others)
      </span>
    </template>
  </v-select>
</template>

<script lang="ts">
import Vue from 'vue';
import { Prop } from 'vue-property-decorator';
import { AdminApi } from '@inatti/shared/api-nuxt';
import Component from 'vue-class-component';

@Component
export default class FormSelectReference extends Vue {
  @Prop()
  value!: any;
  @Prop({ type: Boolean, required: false, default: false })
  defaultAllSelected!: boolean;
  @Prop({ type: Number, default: 0 })
  minimumSelected!: number;

  referenceList = [];
  adminApi = new AdminApi(this.$axios);

  rules = [
    (v: any) =>
      v.length >= this.minimumSelected ||
      `Pilih Minimal ${this.minimumSelected} Rujukan`,
  ];

  get form() {
    return this.value;
  }

  set form(val: any) {
    if (val.length < this.minimumSelected) {
      return;
    }
    this.$emit('input', val);
  }

  async fetchReferenceList() {
    try {
      this.referenceList = await this.adminApi.getRefs();
      if (this.defaultAllSelected) {
        this.form = this.referenceList.map((v: any) => v.id);
      }
    } catch (error) {}
  }
  mounted() {
    this.fetchReferenceList();
  }
}
</script>
