<template>
  <v-select
    v-model="selected"
    label="Jenis Kelamin"
    v-bind="$props"
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  ></v-select>
</template>

<script lang="ts">
import { mixins } from 'vue-class-component';
import { MixinSelect } from './mixinSelect';

export default class SelectGender extends mixins(MixinSelect) {
  listItems = [
    {
      id: 'lk',
      name: 'Laki-laki',
    },
    {
      id: 'pr',
      name: 'Perempuan',
    },
  ];
}
</script>

<style></style>
