<template>
  <v-row class="mt-1">
    <v-col cols="6">
      <v-autocomplete
        v-model="selectedCountryCode"
        :readonly="readonly"
        :items="countryCodes"
        :label="hideLabel ? null : 'Kode Negara'"
        item-text="name"
        item-value="id"
        return-object
        :hint="hintCountryCode"
        persistent-hint
        v-bind="attrForm"
        prepend-inner-icon="mdi-plus"
        :menu-props="{ bottom: true, offsetY: true }"
      >
        <template slot="selection" slot-scope="data">
          {{ data.item.phone }}
        </template>
        <template slot="item" slot-scope="data">
          {{ data.item.name }} (+{{ data.item.phone }})
        </template>
      </v-autocomplete>
    </v-col>
    <v-col cols="6">
      <v-text-field
        v-model="phoneNumber"
        :label="hideLabel ? null : 'No. Telepon'"
        :rules="rules.phoneNumber"
        v-bind="attrForm"
        placeholder="82230123xx"
        :hint="hintPhone"
        persistent-hint
        :readonly="readonly"
        @input="parsePhoneNumber"
      />
    </v-col>
  </v-row>
</template>

<script>
import { CountryPhoneCode } from '@inatti/shared/api-nuxt';
export default {
  props: {
    value: {
      type: String,
      default: '',
    },
    hideLabel: {
      type: Boolean,
      default: false,
    },
    hintCountryCode: {
      type: String,
      default: 'Kode Telepon Negara',
    },
    hintPhone: {
      type: String,
      default: 'Tanpa kode negara',
    },
    readonly: {
      type: Boolean,
      default: false
    },
    attrForm: {
      type: Object,
      default: () => ({
        outlined: true,
        dense: true,
        readonly: false,
      }),
    },
    rulesForm: {
      type: Array,
    }
  },
  data() {
    return {
      selectedCountryCode: { id: 'ID', name: 'Indonesia', phone: '62' },
      countryCodes: [],
      countryCode: '62',
      phoneNumber: '',

      rules: {
        phoneNumber: [
          (v) => (v !== '' && v.length <= 20) || 'Maksimal 20 karakter',
          (v) => (v !== '' && v.length >= 5) || 'Minimal 5 karakter',
          (v) => /^[0-9]+$/.test(v) || 'Hanya Boleh Angka',
        ],
      },
    };
  },

  computed: {
    resultPhone() {
      return this.countryCode + this.phoneNumber;
    },
  },

  watch: {
    value(_val) {
      if (!_val) return;
      const parse = this.parseCountryCode(_val);

      this.selectedCountryCode = parse.countryData;
      this.phoneNumber = parse.phoneNumber;
    },
    selectedCountryCode(value) {
      if (!value) return;
      this.countryCode = value.phone;
    },
    resultPhone(value) {
      this.$emit('input', value);
    },
  },

  mounted() {
    this.fetchCodes();
    if(this.rulesForm){
      this.rules.phoneNumber = this.rulesForm
    }
  },

  methods: {
    fetchCodes() {
      this.countryCodes = CountryPhoneCode;
    },
    parsePhoneNumber() {
      if (this.phoneNumber[0] !== '0') return;
      this.phoneNumber = this.phoneNumber.slice(1);
      this.selectedCountryCode = { id: 'ID', name: 'Indonesia', phone: '62' };
    },
    parseCountryCode(inputVal) {
      let countryData = { id: 'ID', name: 'Indonesia', phone: '62' };
      if (inputVal.startsWith('08'))
        return {
          countryData,
          phoneNumber: inputVal.slice(1),
        };
      if (inputVal.startsWith('62'))
        return {
          countryData,
          phoneNumber: inputVal.slice(2),
        };
      if (inputVal.startsWith('+62'))
        return {
          countryData,
          phoneNumber: inputVal.slice(3),
        };

      this.countryCodes.forEach((country) => {
        if (inputVal.startsWith(country.phone)) {
          countryData = country;
        }
      });
      return {
        countryData,
        phoneNumber: inputVal.slice(countryData.phone.length),
      };
    },
  },
};
</script>
