<template>
  <v-select
    v-model="selected"
    label="Status Order Pembayaran"
    v-bind="$props"
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  ></v-select>
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component';
import { MixinSelect } from './mixinSelect';
import { MappingToSelect } from '@inatti/shared/api-nuxt';

@Component
export default class SelectProduct extends mixins(MixinSelect) {
  listItems: any[] = [];
  created() {
    const StatusOrderMapping = {
      new: {
        text: 'Order Baru',
        color: 'yellow darken-4',
      },
      paid: {
        text: 'Sudah Terbayar',
        color: 'blue darken-1',
      },
      canceled: {
        text: 'Pembayaran dibatalkan',
        color: 'red darken-4',
      },
    };
    this.listItems = MappingToSelect(StatusOrderMapping);
  }
}
</script>

<style></style>
