<template>
  <v-autocomplete
    v-model="selected"
    label="Kelurahan"
    v-bind="$props"
    outlined
    dense
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
    :hint="kecamatan === null ? 'Pilih kecamatan terlebih dahulu' : null"
    persistent-hint
  />
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import { MixinSelectLocation } from './mixinSelectLocation';

@Component
export default class SelectKabupaten extends mixins(MixinSelectLocation) {
  @Prop({ type: [String, Number, Object] })
  kecamatan!: string | number | any;

  async fetchData() {
    this.isLoading = true;
    if (this.kecamatan) {
      let idkecamatan = this.kecamatan;
      if (typeof this.kecamatan === 'object') {
        idkecamatan = this.kecamatan.id;
      }
      this.listItems = await this.$axios.$get('/wilayah/kelurahan', {
        params: {
          kecamatan_id: idkecamatan,
        },
      });
    }
    this.isLoading = false;
  }

  @Watch('kecamatan')
  async updatekecamatan() {
    await this.fetchData();
    this.checkValueValidityOnChange(this.selected);
  }

  mounted() {
    this.fetchData();
  }
}
</script>

<style></style>
