<template>
  <v-autocomplete
    v-model="selected"
    label="Kabupaten"
    outlined
    dense
    v-bind="$props"
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
    :hint="provinsi === null ? 'Pilih provinsi terlebih dahulu' : null"
    persistent-hint
  />
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import { MixinSelectLocation } from './mixinSelectLocation';

@Component
export default class SelectKabupaten extends mixins(MixinSelectLocation) {
  @Prop({ type: [String, Number, Object] })
  provinsi!: string | number | any;

  async fetchData() {
    this.isLoading = true;
    if (this.provinsi) {
      let idProvinsi = this.provinsi;
      if (typeof this.provinsi === 'object') {
        idProvinsi = this.provinsi.id;
      }
      this.listItems = await this.$axios.$get('/wilayah/kabupaten', {
        params: {
          provinsi_id: idProvinsi,
        },
      });
    }
    this.isLoading = false;
  }

  @Watch('provinsi')
  async updateProvinsi() {
    await this.fetchData();
    this.checkValueValidityOnChange(this.selected);
  }

  mounted() {
    this.fetchData();
  }
}
</script>

<style></style>
