<template>
  <v-autocomplete
    v-model="selected"
    label="Kecamatan"
    v-bind="$props"
    :items="listItems"
    outlined
    dense
    item-text="name"
    item-value="id"
    :loading="isLoading"
    :hint="kabupaten === null ? 'Pilih kabupaten terlebih dahulu' : null"
    persistent-hint
  />
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import { MixinSelectLocation } from './mixinSelectLocation';

@Component
export default class SelectKecamatan extends mixins(MixinSelectLocation) {
  @Prop({ type: [String, Number, Object] })
  kabupaten!: string | number | any;

  async fetchData() {
    this.isLoading = true;
    if (this.kabupaten) {
      let idKabupaten = this.kabupaten;
      if (typeof this.kabupaten === 'object') {
        idKabupaten = this.kabupaten.id;
      }
      this.listItems = await this.$axios.$get('/wilayah/kecamatan', {
        params: {
          kabupaten_id: idKabupaten,
        },
      });
    }
    this.isLoading = false;
  }

  @Watch('kabupaten')
  async updateKabupaten() {
    await this.fetchData();
    this.checkValueValidityOnChange(this.selected);
  }
  
  mounted() {
    this.fetchData();
  }
}
</script>

<style></style>
