<template>
  <v-autocomplete
    v-model="selected"
    label="Provinsi"
    v-bind="$props"
    outlined
    dense
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  />
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import { MixinSelectLocation } from './mixinSelectLocation';

@Component
export default class SelectProvinsi extends mixins(MixinSelectLocation) {
  async fetchData() {
    this.isLoading = true;
    this.listItems = await this.$axios.$get('/wilayah/provinsi');
    this.isLoading = false;
  }

  created() {
    this.fetchData();
  }
}
</script>

<style></style>
