<template>
  <div>
    <v-row
      justify="center"
      align-content="start"
      align-content-md="center"
      class="h-100vh"
    >
      <v-col lg="6" md="8" cols="12">
        <v-card class="ma-3">
          <v-card-title>
            <h2 class="primary--text">
              Pilih <span class="secondary--text"> Faskes </span>
            </h2>
          </v-card-title>
          <v-card-text class="overflow-auto" style="max-height: 300px">
            <v-text-field
              v-model="search"
              class="mt-2"
              label="Cari Faskes"
              outlined
            ></v-text-field>
            <v-progress-circular
              v-if="isLoading"
              indeterminate
              color="primary"
            />
            <v-list class="overflow-auto" v-else dense>
              <v-list-item
                v-for="(role, i) in filterApotek"
                :key="i"
                data-cy="auth-app-list-apotek"
                @click="saveApotek(role)"
              >
                <v-list-item-avatar color="primary" class="white--text">
                  {{ role.apotekDetail ? role.apotekDetail.name[0] : ' ' }}
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title data-cy="auth-app-list-item-apotek">{{
                    role.apotekDetail ? role.apotekDetail.name : ' '
                  }}</v-list-item-title>
                  <v-list-item-subtitle>
                    <strong>
                      {{ role.roleId ? role.roleId.name : '' }}
                    </strong>
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    {{ role.roleId ? role.roleId.description : '' }}
                  </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-list-item-action-text> Masuk </v-list-item-action-text>
                  <v-icon> mdi-arrow-right </v-icon>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import Vue from 'vue'
import { AccountApi, ApotekApi } from '@inatti/shared/api-nuxt'

export default Vue.extend({
  layout: 'blank',
  data() {
    return {
      isLoading: true,
      listApotek: null,
      search: null,
      accountApi: null,
    }
  },
  computed: {
    filterApotek() {
      if (!this.listApotek) return []
      if (!this.search) return this.listApotek
      const result = this.listApotek.filter((apotek) => {
        if (!apotek.apotekDetail) return false
        return apotek.apotekDetail.name
          .toLowerCase()
          .includes(this.search.toLowerCase())
      })
      return result
    },
  },
  created() {
    this.accountApi = new AccountApi(this.$axios)
    this.fetchApotek()
  },
  methods: {
    async fetchApotek() {
      this.isLoading = true
      try {
        const apotekApi = new ApotekApi(this.$axios)
        this.listApotek = await apotekApi.getRegisteredApotek()
      } catch (error) {
        // alert(error)
      }
      this.isLoading = false
    },
    async saveApotek(role) {
      const apotekId = role.apotekDetail?.id ?? null
      await this.refetchToken(role)
      await this.fetchRole(apotekId)
      const redirect = this.$route.query.from
      this.$router.replace({
        path: redirect || '/',
        query: {
          apotekId,
        },
      })
    },
    async refetchToken(role) {
      const token = await this.accountApi.refetchToken(role.id)
      return await this.$auth.setUserToken(token)
    },
    async fetchRole(apotekId) {
      const axios = this.$axios
      const query = { apotekId }
      const context = {
        $axios: axios,
        query,
      }
      try {
        await this.$store.dispatch('permission/fetchRole', {
          context,
          force: true,
        })
      } catch (err) {}
    },
  },
})
</script>

<style></style>
