<template>
  <div>
    <v-row justify="center" align-content="start" align-content-md="center" class="h-100vh">
      <v-col lg="6" md="8" cols="12">
        <v-card class="ma-3">
          <v-card-title class="justify-center mb-6 mb-md-5">
            <img src="https://inatti.id/asset-app/inatti-v2.2-large.png" height="70vh" alt="Logo InaTTI" class="mt-6" />
          </v-card-title>
          <v-card-subtitle class="mt-1 mb-2">
            <div class="primary--text text-center text-h4">Login Apoteker</div>
          </v-card-subtitle>
          <v-card-text>
            <v-form ref="loginForm" :disabled="isLoading" @submit="login()">
              <v-text-field v-model="username" data-cy="auth-form-login-field-username" placeholder="Masukkan username"
                label="Username" outlined :rules="required" @keyup.enter="login()" />
              <v-text-field v-model="password" data-cy="auth-form-login-field-password" placeholder="Masukkan password"
                label="Password" :type="isShowPassword ? 'text' : 'password'" outlined :rules="required"
                hide-details="auto" :append-icon="
                  isShowPassword ? 'mdi-eye-off-outline' : 'mdi-eye'
                " @click:append="isShowPassword = !isShowPassword" @keyup.enter="login()" />
              <div class="d-flex justify-end mb-5">
                <ui-identity-forget-password-btn />
              </div>
              <v-btn data-cy="auth-form-login-submit" color="primary" block :loading="isLoading" @click="login()">
                Masuk
              </v-btn>

              <a :href="urlRegister" target="_blank">
                <v-btn class="mt-3" color="primary" text depressed block>
                  Daftar Akun Baru
                </v-btn>
              </a>

              <v-card-text class="text-caption text-center">
                <UiCommonTncInfoFooter />
              </v-card-text>
            </v-form>
            <v-alert v-model="alert.isShow" data-cy="auth-form-login-alert" :type="alert.type" class="mt-3" dismissible
              outlined transition="scale-transition">
              {{ alert.msg }}
            </v-alert>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { UiCommonTncInfoFooter } from '@inatti/shared/ui'
export default {
  auth: false,
  layout: 'blank',
  data() {
    return {
      username: null,
      password: null,
      identityLink: '',
      isShowPassword: false,
      isLoading: false,
      alert: {
        isShow: false,
        type: null,
        msg: null,
      },
      errorMap: {
        RoleUserNotFound: 'Akun anda tidak memiliki akses ke Aplikasi Apoteker',
        PasswordIncorrectException: 'Password yang anda masukkan salah',
        UserNotFoundException: 'User tidak ditemukan',
      },
      required: [(v) => !!v || 'Form ini harus diisi'],
    }
  },
  components: {
    UiCommonTncInfoFooter,
  },
  mounted() {
    this.identityLink = process.env.URL_INATTI_IDENTITY
  },
  computed: {
    urlRegister() {
      const identity = this.identityLink
      const origin = window.location.origin
      const app = 'Apotek'
      return `${identity}/auth/register?req=${origin}&app=${app}`
    }
  },
  methods: {
    async login() {
      if (!this.$refs.loginForm.validate()) return
      this.isLoading = true
      try {
        await this.$auth.loginWith('local', {
          data: {
            username: this.username,
            password: this.password,
          },
        })
        this.$router.replace({
          path: '/login/app',
          query: this.$route.query,
        })
      } catch (error) {
        const errorResponse = error?.response?.data ?? 'Error tidak ditemukan'
        this.setAlert(
          this.errorMap[errorResponse.name] || errorResponse.message
        )
      } finally {
        this.isLoading = false
      }
    },
    setAlert(msg, type = 'warning') {
      this.alert = {
        isShow: true,
        type,
        msg,
      }
    },
  },
}
</script>

<style>

</style>
