<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Detail Apoteker </mobile-appbar-title>
    </template>

    <v-row class="mt-16">
      <v-col v-if="apotekerDetails.length === 0 && !isLoading">
        <v-row>
          <v-col cols="12">
            <v-alert dense prominent type="info" class="white--text">
              <div>
                <div>
                  Tidak Ditemukan Apoteker
                  {{ apotek ? apotek.name : 'Tersebut' }}
                </div>
              </div>
            </v-alert>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-row style="position: relative; top: -8px" class="px-3">
      <div class="ref-photo" style="width: 100%">
        <img
          :src="
            apotekerDetails.apotek.logo
              ? apotekerDetails.apotek.logo
              : require('@/assets/images/media/image_not_available.png')
          "
          alt="gambar-apotek"
          height="250px"
          width="100%"
          style="object-fit: cover; position: relative; display: block"
        />
      </div>

      <div
        class="d-flex flex-row align-end"
        style="position: absolute; bottom: 20px; left: 25px"
      >
        <img
          :src="
            apotekerDetails.photo
              ? apotekerDetails.photo
              : require('@/assets/images/media/image_not_available.png')
          "
          alt="Apoteker Photo"
          width="100"
          height="100"
          class="rounded-lg"
          style="object-fit: cover"
        />
        <div class="ml-3 white--text">
          <div class="font-weight-bold text-subtitle-1 text-sm-h6">
            {{ apotekerDetails.name }}
          </div>
          <div class="text-caption text-sm-subtitle-1">
            {{ apotekerDetails.nomorSIPA }}
          </div>
        </div>
      </div>
    </v-row>

    <v-sheet color="white" class="mt-1">
      <v-col class="d-flex flex-column pa-5">
        <div
          class="text-body-1 font-weight-bold grey--text text--darken-3 mb-3"
        >
          <v-icon class="mr-2">mdi-face-agent</v-icon> Status Pelayanan
        </div>
        <div
          v-if="apotekerDetails.isActive"
          class="inattigreen--text font-weight-bold"
        >
          Aktif Melayani
        </div>
        <div v-else class="grey--text text--darken-2">Tidak Aktif</div>
      </v-col>
    </v-sheet>

    <v-sheet class="mt-1 rounded-lg" outlined color="white">
      <v-col class="d-flex flex-column pa-5">
        <div
          class="text-body-1 font-weight-bold grey--text text--darken-3 mb-3"
        >
          <v-icon class="mr-2">mdi-whatsapp</v-icon> Kontak Whatsapp
        </div>
        <div>
          {{
            apotekerDetails.phonenumber
              ? '+' + apotekerDetails.phonenumber
              : '-'
          }}
        </div>
      </v-col>
    </v-sheet>

    <v-sheet class="mt-1 rounded-lg" outlined color="white">
      <v-col class="d-flex flex-column pa-5">
        <div
          class="text-body-1 font-weight-bold grey--text text--darken-3 mb-3"
        >
          <v-icon class="mr-2">mdi-mortar-pestle-plus</v-icon> Apotek
        </div>
        <div>
          {{
            apotekerDetails.apotek && apotekerDetails.apotek.name
              ? apotekerDetails.apotek.name
              : '-'
          }}
        </div>
      </v-col>
    </v-sheet>

    <v-sheet class="mt-1 rounded-lg" outlined color="white">
      <v-col class="d-flex flex-column pa-5">
        <div
          class="text-body-1 font-weight-bold grey--text text--darken-3 mb-3"
        >
          <v-icon class="mr-2">mdi-map-marker-outline</v-icon> Lokasi
        </div>

        <div v-if="apotekerDetails.apotek.coord" class="mapouter">
          <div class="gmap_canvas">
            <iframe
              id="gmap_canvas"
              width="100%"
              height="250"
              :src="apotekerDetails.refCoordinate"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
            ></iframe>
          </div>
        </div>

        <div
          class="d-flex flex-row mt-3 align-center grey--text text--darken-2"
        >
          <v-icon class="mr-2">mdi-map-marker-outline</v-icon>
          <div class="font-weight-bold">
            {{
              apotekerDetails.apotek && apotekerDetails.apotek.address
                ? apotekerDetails.apotek.address
                : '-'
            }}
          </div>
        </div>
      </v-col>
    </v-sheet>

    <v-row>
      <v-col class="pa-8">
        <v-btn color="warning" block @click="onSubmit">Konsultasi</v-btn>
      </v-col>
    </v-row>

    <div v-show="isLoading">
      <v-col v-for="(n, i) in 3" :key="i" cols="12">
        <v-card outlined>
          <v-row>
            <v-col cols="3">
              <v-skeleton-loader width="100%" type="image"></v-skeleton-loader>
            </v-col>
            <v-col cols="9" class="d-flex flex-column justify-space-between">
              <v-skeleton-loader
                width="70%"
                type="list-item-two-line"
              ></v-skeleton-loader>
              <v-skeleton-loader
                width="70%"
                type="list-item-three-line"
              ></v-skeleton-loader>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </div>
  </mobile-layout>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import { ApotekApi, DataApotekDTO, GenderEnum } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import { ApotekerDetailDTO } from 'apps/backend/apps/data/src/apoteker/type'

@Component({
  layout: 'blank',
})
export default class ApotekerDetailComponent extends Vue {
  apotek: DataApotekDTO

  apotekerDetails: ApotekerDetailDTO = {
    isActive: false,
    nomorSIPA: '',
    nomorSTRA: '',
    phonenumber: '',
    name: '',
    gender: GenderEnum.male,
    birthdate: new Date(),
    photo: '',
    apotek: '',
  }

  apotekApi = new ApotekApi(this.$axios)

  isLoading = false

  async fetchApoteker() {
    this.isLoading = true
    try {
      const resp: any = await this.apotekApi.getApotekerDetails(
        this.$route.params.id
      )
      this.apotekerDetails = {
        ...resp,
        refCoordinate: `https://maps.google.com/maps?q=${resp?.apotek?.coord}&t=&z=13&ie=UTF8&iwloc=&output=embed`,
      }
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  mounted() {
    this.fetchApoteker()
  }

  onSubmit() {
    this.$store.commit('telefarmasi/setApotek', this.apotekerDetails.apotek.id)
    this.$store.commit('telefarmasi/setConsultant', this.$route.params.id)
    this.$router.push('/telefarmasi/patient?from-apoteker=true')
  }
}
</script>

<style>
.ref-photo {
  position: relative;
  display: inline-block;
}
.ref-photo::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0.65)),
    color-stop(100%, rgba(0, 0, 0, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
</style>
