<template>
  <v-chip v-bind="chipOption" class="white--text">
    {{ status ? statusPaymentMapping[status].text : null }}
  </v-chip>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { VChip } from 'vuetify/lib'
import { StatusOrderEnum, StatusPaymentMapping } from '@inatti/shared/api-nuxt'

@Component
export default class ChipStatusOrderComponent extends VChip {
  @Prop({
    type: String,
    validator: (v) => Object.values(StatusOrderEnum).includes(v),
  })
  status!: StatusOrderEnum

  statusPaymentMapping = StatusPaymentMapping

  get chipOption() {
    return {
      ...this.$props, // default
      ...this.statusPaymentMapping[this.status],
    }
  }

  mounted() {}
}
</script>

<style></style>
