<template>
  <div>
    <common-toolbar>
      Tambah Pasien swab {{ $route.params.type }}
      <template #control>
        <v-btn color="red" dark @click="$router.back()"> Batal </v-btn>
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <v-col md="6" cols="12">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-autocomplete
              v-model="formNik.model"
              :loading="formNik.isLoading"
              :items="formNik.items"
              :search-input.sync="formNik.search"
              item-value="id"
              item-text="combineText"
              label="Pilih pasien"
              placeholder="Cari nik atau nama pasien"
              outlined
              return-object
            >
              <template #no-data>
                <v-list-item to="/pasien/add">
                  <v-list-item-title v-if="!formNik.isLoading">
                    Tidak menemukan Nik atau nama pasien ? Tambah disini
                  </v-list-item-title>
                  <v-list-item-title v-else>
                    Sedang mencari data...
                  </v-list-item-title>
                </v-list-item>
              </template>
              <template #item="{ item }">
                <v-list-item-content>
                  <v-list-item-title>
                    {{ item.name }}
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    {{ item.nik }}. {{ item.datebirth }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </template>
              <template #selection="{ item }">
                <v-list-item-content>
                  <v-list-item-title>
                    <strong>
                      {{ item.name }}
                    </strong>
                  </v-list-item-title>
                  <v-list-item-subtitle v-if="item.nik">
                    {{ item.nik }}. {{ item.datebirth }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </template>
            </v-autocomplete>

            <div class="mb-3">Sampling Point : {{ refSelected.name }}</div>

            <form-select-product
              typeProduct="test-covid"
              v-model="form.productId"
              v-bind="defaultFormProp"
              return-object
            />

            <form-select-shift
              v-model="form.shiftId"
              v-bind="defaultFormProp"
            />

            <form-select-method-payment
              v-model="form.methodPayment"
              v-bind="defaultFormProp"
            />

            <ui-form-select-status-order
              v-model="form.statusOrder"
              v-bind="defaultFormProp"
            />

            <v-spacer />
            <v-btn color="primary" :loading="isLoading" @click="validateForm"
              >Simpan</v-btn
            >
          </v-form>
        </v-col>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import {
  MethodPaymentEnum,
  ReferenceApi,
  ReferencePatientApi,
  ReferencePatientSwabApi,
  StatusOrderEnum,
} from '@inatti/shared/api-nuxt'

interface patientDTO {
  patientId: string
  productId: any
  referenceTargetId: string | null
  shiftId: string
  methodPayment: MethodPaymentEnum
  statusOrder: StatusOrderEnum
}

@Component
export default class AddPatient extends Vue {
  created() {}
  referencePatientApi = new ReferencePatientApi(this.$axios)
  referencePatientSwabApi = new ReferencePatientSwabApi(this.$axios)
  referenceApi = new ReferenceApi(this.$axios)
  typeNik = [
    { id: 'nik', name: 'Nik KTP' },
    { id: 'passport', name: 'Nomor Passport' },
  ]

  defaultFormProp = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
    rules: [(v: any) => !!v || 'Kolom ini harus diisi'],
  }

  refSelected = {}
  valid = true
  isLoading = false
  form = {} as patientDTO

  async getRef() {
    let refId: string | null = this.$store.state.refStore.refId
    let refSelected = await this.referenceApi.getRegisteredRefOne(refId)
    this.refSelected = {
      name: refSelected.refId.name,
    }
    this.form.referenceTargetId = refId
  }

  $refs!: {
    form: any
  }

  validateForm() {
    let isValid: boolean = this.$refs.form.validate()
    // let isValid: boolean = false
    if (isValid) {
      this.savePatient()
    }
  }

  async savePatient() {
    try {
      if (!this.formNik.model) {
        alert('Pilih pasien terlebih dahulu')
        return
      }
      if (!this.form.productId) {
        return
      }

      let form = { ...this.form }

      this.isLoading = true
      // @ts-ignore
      form.patientId = this.formNik.model.id

      const productTypeId = this.form.productId.item.product.id

      form.productId = this.form.productId.item.id

      this.defaultFormProp.disabled = true
      await this.referencePatientSwabApi.add(form)
      this.$router.replace(
        `/swab/${productTypeId === 1 ? 'pcr' : 'antigen'}/pasien`
      )
    } catch (error) {
      alert(error)
    }
    this.defaultFormProp.disabled = false
    this.isLoading = false
  }

  // seaction form nik
  formNik = {
    isLoading: false,
    search: null,
    model: {},
    items: [] as any[],
    debounce: null,
  }

  @Watch('formNik.search')
  searchPatient(search: string) {
    // this.formNik.isLoading = true
    if (!search) {
      return
    }

    if (this.formNik.debounce) {
      clearTimeout(this.formNik.debounce as any)
    }
    this.formNik.isLoading = true

    // debounce system
    // @ts-ignore
    this.formNik.debounce = setTimeout(async () => {
      await this.fetchFormNikItems({ query: search })
      this.formNik.isLoading = false
    }, 2000)
  }

  async fetchFormNikItems(option: { query?: string; id?: string }) {
    this.formNik.items = await this.referencePatientApi.searchPatient({
      query: option.query,
      id: option.id,
    })
    this.formNik.items = this.formNik.items.map((v: any) => {
      v.combineText = v.nik + v.name
      return v
    })
  }

  async injectPatientById(id: string) {
    this.formNik.isLoading = true
    await this.fetchFormNikItems({ id })

    // select first data
    if (this.formNik.items.length > 0) {
      this.formNik.model = this.formNik.items[0]
    }
    this.formNik.isLoading = false
  }

  mounted() {
    this.getRef()

    let idPatientInject = this.$route.query.patient
    console.log('id patient inject ' + idPatientInject)

    if (idPatientInject) {
      this.injectPatientById(idPatientInject + '')
    }
  }
}
</script>
<style></style>
