<template>
  <div>
    <common-toolbar no-back>
      Pasien swab {{ $route.params.type }}
      <template #control>
        <v-btn
          :to="'/swab/' + $route.params.type + '/pasien/add'"
          color="primary"
        >
          Tambah Pasien
        </v-btn>
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination-filter
          v-model="dataResult"
          :isShowFilter="false"
          search
          search-hint="Cari berdasarkan Nama atau NIK"
          @change="fetchPatient"
        >
          <div class="d-flex py-4 justify-end align-center" style="width: 100%">
            <v-btn color="primary" @click="exportXlsx"> DOWNLOAD EXCEL </v-btn>
          </div>
          <v-data-table
            :headers="patientTableHeader"
            :items="patientItems"
            :loading="isLoading"
            hide-default-footer
            disable-pagination
            :item-class="getItemClass"
          >
            <template #[`item.column1`]="{ item }">
              <div>
                <strong>
                  {{ item.column1.name }}
                </strong>
              </div>
              <div>
                {{ item.column1.gender }}
              </div>
            </template>
            <template #[`item.column2`]="{ item }">
              <div>
                {{ item.column2.datebirth }}
              </div>
              <div>
                {{ item.column2.nik }}
              </div>
            </template>
            <template #[`item.column3`]="{ item }">
              <common-chip-payment
                v-if="item.column3.statusOrder"
                label
                small
                :status="item.column3.statusOrder"
              />
              <div>
                {{ item.column3.method }}
              </div>
            </template>
            <template #[`item.column4`]="{ item }">
              <div>
                <common-chip-status
                  label
                  :status="item.column4.statusTest"
                  small
                />
              </div>
              <div>
                {{ item.column4.dateTest }}
              </div>
            </template>
            <template #[`item.resultSwab`]="{ item }">
              <common-chip-result v-model="item.resultSwab" />
            </template>
            <template #[`item.column5`]="{ item }">
              <div>
                {{ item.column5.phone }}
              </div>
            </template>
            <template #[`item.column6`]="{ item }">
              <v-btn icon :to="`/swab/pasien/` + item.data.swabId">
                <v-icon> mdi-eye </v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { UiTablePaginationFilter } from '@inatti/shared/ui'

import {
  GenderEnum,
  MethodPaymentEnum,
  PatientSwabDetailDTO,
  ResultSwabEnum,
  StatusOrderEnum,
  StatusSwabEnum,
  StatusSwabMapping,
  StatusPaymentMapping,
  ReferencePatientSwabApi,
} from '@inatti/shared/api-nuxt'

import { DataTableHeader } from 'vuetify/types/index'

interface PatientTableData {
  data: {
    swabId: number
    patientId: string
  }
  column1: {
    name: string
    gender: GenderEnum | string
  }
  column2: {
    nik: string
    datebirth: string
  }
  column3: {
    statusOrder?: StatusOrderEnum
    method?: MethodPaymentEnum
  }
  column4: {
    statusTest: StatusSwabEnum | string
    dateTest: string | null
  }
  column5: {
    phone: string
  }
  createdAt: string
  sampleId: string
  resultSwab: ResultSwabEnum | string
}

interface xlsxPatientModel {
  id: number
  patientName: string
  patientNik: string
  patientGender: GenderEnum | string
  datebirth: string
  placebirth: string
  address: string
  typeTest?: string
  status: StatusSwabEnum | string
  swabDate: string | null
  createdAt: string
  codeBooking: string | number
  resultSwab: ResultSwabEnum | undefined
  resultSentAt: string | null
  orderSwabId: string | undefined
  orderSwabMethod?: MethodPaymentEnum
  orderSwabStatus?: StatusOrderEnum
  orderSwabPrice: number | undefined
}

@Component({ components: { UiTablePaginationFilter } })
export default class ListPatient extends Vue {
  listPatiens = [] as PatientSwabDetailDTO.SwabDetail[]
  patientTableHeader = [
    {
      text: 'Pasien',
      value: 'column1',
      sortable: false,
    },
    {
      text: 'ID Sample',
      value: 'sampleId',
      sortable: false,
    },
    {
      text: 'Tgl Lahir/Nik',
      value: 'column2',
      sortable: false,
    },
    {
      text: 'Status Bayar',
      value: 'column3',
      sortable: false,
    },
    {
      text: 'Status & Tanggal Test',
      value: 'column4',
      sortable: false,
    },

    {
      text: 'Hasil Test',
      value: 'resultSwab',
      sortable: false,
    },
    {
      text: 'No. Telepon',
      value: 'column5',
      sortable: false,
    },
    {
      text: 'Tanggal dibuat',
      value: 'createdAt',
      sortable: false,
    },
    {
      text: 'Aksi',
      value: 'column6',
      sortable: false,
    },
  ] as DataTableHeader[]
  patientItems = [] as PatientTableData[]
  dataResult = {}
  isLoading = true

  xlsxHeaderPatient = [
    {
      header: 'Id Swab',
      key: 'id',
      width: 10,
    },
    {
      header: 'Nama',
      key: 'patientName',
      width: 20,
    },
    {
      header: 'Nik',
      key: 'patientNik',
      width: 20,
    },
    {
      header: 'Jenis Kelamin',
      key: 'patientGender',
      width: 20,
    },
    {
      header: 'Tanggal Lahir',
      key: 'datebirth',
      width: 20,
    },
    {
      header: 'Tempat Lahir',
      key: 'placebirth',
      width: 20,
    },
    {
      header: 'Alamat',
      key: 'address',
      width: 20,
    },
    {
      header: 'Tipe Tes',
      key: 'typeTest',
      width: 20,
    },
    {
      header: 'Status',
      key: 'status',
      width: 20,
    },
    {
      header: 'Tanggal swab',
      key: 'swabDate',
      width: 20,
    },
    {
      header: 'Tanggal Register',
      key: 'createdAt',
      width: 20,
    },
    {
      header: 'Kode Booking',
      key: 'codeBooking',
      width: 20,
    },
    {
      header: 'Hasil',
      key: 'resultSwab',
      width: 20,
    },
    {
      header: 'Tanggal keluar hasil',
      key: 'resultSentAt',
      width: 20,
    },
    {
      header: 'ID Pembayaran',
      key: 'orderSwabId',
      width: 20,
    },
    {
      header: 'Metode pembayaran',
      key: 'orderSwabMethod',
      width: 20,
    },
    {
      header: 'Status pembayaran',
      key: 'orderSwabStatus',
      width: 20,
    },
    {
      header: 'Harga',
      key: 'orderSwabPrice',
      width: 20,
    },
  ]

  xlsxBodyItems = [] as xlsxPatientModel[]
  xlsxBodyList = [] as PatientSwabDetailDTO.SwabDetail[]
  referencePatientSwabApi = new ReferencePatientSwabApi(this.$axios)

  async fetchPatient(params: any = {}) {
    try {
      this.isLoading = true
      const refId = this.$store.state.refStore.refId
      const type = this.$route.params.type !== 'pcr' ? 'antigen' : 'pcr'
      const result = await this.referencePatientSwabApi.get(type, {
        refId,
        ...params,
      })
      this.dataResult = result
      this.listPatiens = result.results
      this.patientItems = this.parseToTable()
      this.xlsxBodyList = result.results
      this.xlsxBodyItems = this.parseBodyXlsx()
    } finally {
      this.isLoading = false
    }
  }

  parseToTable(): PatientTableData[] {
    let patientTableData: PatientTableData[] = []
    for (let i = 0; i < this.listPatiens.length; i++) {
      const swabDetail: PatientSwabDetailDTO.SwabDetail = this.listPatiens[i]
      patientTableData.push({
        data: {
          swabId: swabDetail.id,
          patientId: swabDetail.patient.id,
        },
        column1: {
          name: swabDetail.patient.name,
          gender: swabDetail.patient.gender,
        },
        column2: {
          nik: swabDetail.patient.nik,
          datebirth: swabDetail.patient.datebirth,
        },
        column3: {
          statusOrder: swabDetail.orderSwab?.status, // Dummy,
          method: swabDetail.orderSwab?.method, // Dummy
        },
        column4: {
          statusTest: swabDetail.status,
          dateTest: swabDetail.swabDate
            ? new Date(swabDetail.swabDate.toString()).toLocaleString()
            : null,
        },
        column5: {
          phone: swabDetail.patient.phonenumber,
        },
        createdAt: new Date(swabDetail.createdAt.toString()).toLocaleString(),
        sampleId: swabDetail.sampleId ?? '-',
        resultSwab: swabDetail.resultSwab ?? 'Belum keluar',
      })
    }
    return patientTableData
  }

  created() {
    this.fetchPatient({
      'filter[date]': 'today',
    })
  }

  statusSwabMapping: any = StatusSwabMapping

  statusPaymentMapping: any = StatusPaymentMapping

  getItemClass(item: any) {
    let swabMap = this.statusSwabMapping[item.column4.statusTest]
    if (!swabMap) return null

    let color = swabMap.color

    if (!color) return null
    if (color.split(' ').length > 0) {
      const colorSplit = color.split(' ')
      color = colorSplit[0] + '--text text--' + colorSplit[1]
    } else {
      color = color + '--text'
    }
    return color
  }
  $utils: any
  parseBodyXlsx(): xlsxPatientModel[] {
    let xlsxPatientData: xlsxPatientModel[] = []
    for (let i = 0; i < this.xlsxBodyList.length; i++) {
      const xlsxPatientDetail: PatientSwabDetailDTO.SwabDetail =
        this.xlsxBodyList[i]
      xlsxPatientData.push({
        id: xlsxPatientDetail.id,
        patientName: xlsxPatientDetail.patient?.name,
        patientNik: xlsxPatientDetail.patient?.nik,
        patientGender:
          xlsxPatientDetail.patient?.gender === 'lk'
            ? 'Laki Laki'
            : xlsxPatientDetail.patient?.gender === 'pr'
            ? 'Perempuan'
            : xlsxPatientDetail.patient?.gender,
        datebirth: xlsxPatientDetail.patient?.datebirth,
        placebirth: xlsxPatientDetail.patient?.placebirth,
        address: xlsxPatientDetail.patient?.address,
        typeTest: this.$route.params.type,
        status: xlsxPatientDetail.status
          ? this.statusSwabMapping[xlsxPatientDetail.status]?.text
          : xlsxPatientDetail.status,
        swabDate: xlsxPatientDetail.swabDate
          ? new Date(xlsxPatientDetail.swabDate.toString()).toLocaleString()
          : null,
        createdAt: new Date(
          xlsxPatientDetail.createdAt.toString()
        ).toLocaleString(),
        codeBooking: xlsxPatientDetail.codeBooking,
        resultSwab: xlsxPatientDetail.resultSwab,
        resultSentAt: xlsxPatientDetail.resultSentAt
          ? new Date(xlsxPatientDetail.resultSentAt.toString()).toLocaleString()
          : null,
        orderSwabId: xlsxPatientDetail.orderSwab?.id,
        orderSwabMethod: xlsxPatientDetail.orderSwab?.method,
        orderSwabStatus: xlsxPatientDetail.orderSwab?.status
          ? this.statusPaymentMapping[xlsxPatientDetail.orderSwab?.status].text
          : xlsxPatientDetail.orderSwab?.status,
        orderSwabPrice: xlsxPatientDetail.orderSwab?.price,
      })
    }
    return xlsxPatientData
  }
  $excelJSExport: any
  exportXlsx() {
    this.$excelJSExport({
      body: this.xlsxBodyItems,
      header: this.xlsxHeaderPatient,
      worksheetName: 'Sheets1',
      fileName: `Pasien_${this.$route.params.type}`,
      format: 'xlsx',
      headerStyle: {
        align: 'center',
        fontColor: 'FFFFFF',
        fontBold: true,
        bgColor: '031E68',
        borderColor: '000000',
      },
      bodyStyle: {
        align: 'center',
        fontColor: '000000',
        fontBold: false,
        bgColor: 'FFFFFF',
        borderColor: '000000',
      },
    })
  }
}
</script>

<style></style>
