.status-sample-1__text{
  color: #fc3a3a,
}
.status-sample-1__background{
  background: #fc3a3a
}

.status-sample-2__text{
  color: #00c400,
}
.status-sample-2__background{
  background: #00c400
}

.status-sample-3__text{
  color: #d7d700,
}
.status-sample-3__background{
  background: #d7d700
}

.status-sample-4__text{
  color: #00c400,
}
.status-sample-4__background{
  background: #00c400
}

.status-sample-5__text{
  color: #d7d700,
}
.status-sample-5__background{
  background: #d7d700
}

.status-sample-6__text{
  color: #0000ff,
}
.status-sample-6__background{
  background: #0000ff
}

.status-sample-7__text{
  color: #0000ff,
}
.status-sample-7__background{
  background: #0000ff
}

.status-sample-8__text{
  color: #00c600,
}
.status-sample-8__background{
  background: #00c600
}
