<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Hasil Test </mobile-appbar-title>
    </template>
    <v-sheet
      min-height="80vh"
      class="mt-toolbar pb-14"
      style="position: relative"
    >
      <div
        class="font-weight-medium pt-3 pb-2 pl-5 d-flex justify-center align-start flex-column"
        style="font-size: 15px; background-color: #f5f5f5"
      >
        Pasien
      </div>
      <v-col v-if="!result || result.length < 1">
        <v-row>
          <v-col cols="12">
            <v-alert dense prominent type="info" class="white--text">
              <div>
                <div>Tidak Ditemukan Hasil Test</div>
              </div>
            </v-alert>

            <v-alert
              v-if="!$auth.loggedIn"
              outlined
              type="info"
              text
              class="mt-0"
            >
              <v-row align="center">
                <v-col class="grow body-2"> Belum punya akun? </v-col>
                <v-col class="shrink">
                  <v-btn small color="primary" to="/auth">Sign Up</v-btn>
                </v-col>
              </v-row>
            </v-alert>
          </v-col>
        </v-row>
      </v-col>
      <v-card
        v-if="isLoading"
        outlined
        class="d-flex justify-center align-center py-10"
      >
        <v-progress-circular
          indeterminate
          color="primary"
          size="50"
        ></v-progress-circular>
      </v-card>
      <div v-if="!isLoading" class="mb-12">
        <v-card
          v-for="items in result"
          :key="items.id"
          cols="12"
          outlined
          class="rounded-0 pa-4"
          :ripple="false"
        >
          <div class="d-flex justify-space-between">
            <div
              class="d-flex justify-space-between align-start flex-column"
              style="width: 100%"
            >
              <div
                class="d-flex justify-space-between align-start flex-column"
                style="width: 100%"
                @click="clicked(items)"
              >
                <div class="d-flex justify-center flex-row align-center">
                  <v-icon size="25">mdi-account-outline</v-icon>
                  <span class="text-subtitle-2 font-weight-medium ml-2">{{
                    items.patient.name
                  }}</span>
                </div>
                <div
                  class="d-flex justify-space-between flex-row align-center mt-3"
                  style="width: 100%"
                >
                  <span class="text-subtitle-2"> Tanggal Lahir </span>
                  <span class="text-caption black--text font-weight-medium">
                    {{ $utils.dateToFullText(items.patient.datebirth) }}
                  </span>
                </div>
                <div
                  style="width: 100%"
                  class="d-flex justify-space-between flex-row align-center mt-3"
                >
                  <span class="text-subtitle-2">NIK / Paspor</span>
                  <span class="text-subtitle-2 font-weight-medium">{{
                    items.patient.nik
                  }}</span>
                </div>
                <div
                  class="d-flex justify-space-between flex-row align-center mt-3"
                  style="width: 100%"
                >
                  <span class="text-subtitle-2"> Tanggal Test </span>
                  <span class="text-caption black--text font-weight-medium">
                    {{ $utils.dateToFullText(items.requestSwabDate) }}
                  </span>
                </div>
                <div
                  v-if="items.resultSwab ? true : false"
                  style="width: 100%"
                  class="d-flex justify-space-between flex-row align-center mt-3"
                >
                  <span class="text-subtitle-2 font-weight-medium"
                    >Hasil Test</span
                  >
                  <common-chip-status-swab
                    :small="true"
                    :status="items.resultSwab"
                  ></common-chip-status-swab>
                </div>
              </div>
              <v-btn
                v-if="items.resultSwab ? true : false"
                class="mt-3"
                block
                small
                color="primary"
                :loading="orderSwabLoadingId === items.orderSwab.id"
                @click="
                  printSwabResult(
                    items.orderSwab.id,
                    items.patient.name,
                    items.patient.id
                  )
                "
              >
                Unduh Hasil
              </v-btn>
            </div>
          </div>
        </v-card>
      </div>
    </v-sheet>
  </mobile-layout>
</template>
<script>
import { UserApi, UserTestCovidApi } from '@inatti/shared/api-nuxt'
export default {
  name: 'ResultList',
  layout: 'blank',
  data() {
    return {
      isLoading: false,
      result: [],
      orderSwabLoadingId: null,
      userTestCovidApi: null,
      userApi: null,
    }
  },
  created() {
    if (!this.$auth.loggedIn) {
      return false
    }
    this.userApi = new UserApi(this.$axios)
    this.userTestCovidApi = new UserTestCovidApi(this.$axios)
    this.fetchResult()
  },
  methods: {
    async printSwabResult(id, patientName, patientId) {
      this.orderSwabLoadingId = id
      try {
        const resp = await this.userTestCovidApi.getCertificate(id)
        if (resp) {
          const url = window.URL.createObjectURL(new Blob([resp]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', `${patientName}_${patientId}.pdf`)
          document.body.appendChild(link)
          link.click()
          link.remove()
        }
      } catch (error) {}
      this.orderSwabLoadingId = null
    },
    clicked(items) {
      this.$router.push('/testcovid/result/' + items.id)
    },
    async fetchResult() {
      this.isLoading = true
      try {
        const resp = await this.userApi.getPatientTestResults()
        this.result = resp
      } catch (error) {}
      this.isLoading = false
    },
  },
}
</script>

<style>
@media only screen and (max-width: 959px) {
  .v-stepper:not(.v-stepper--vertical) .v-stepper__label {
    display: flex !important;
  }
}
</style>
