<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-testcovid />
    </template>

    <common-toolbar-filter-area v-model="filterArea" class="mt-toolbar" />
    <page-testcovid-toolbar-location
      @onchange="fetchFaskesByNearLocation($event)"
    />
    <v-container class="mt-2">
      <v-row>
        <template v-if="!show">
          <v-col v-for="(n, i) in 3" :key="i" cols="12">
            <v-card outlined>
              <v-row>
                <v-col cols="3">
                  <v-skeleton-loader
                    width="100%"
                    type="image"
                  ></v-skeleton-loader>
                </v-col>
                <v-col
                  cols="9"
                  class="d-flex flex-column justify-space-between"
                >
                  <v-skeleton-loader
                    width="70%"
                    type="list-item-two-line"
                  ></v-skeleton-loader>
                  <v-skeleton-loader
                    width="70%"
                    type="list-item-three-line"
                  ></v-skeleton-loader>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </template>
        <v-col v-if="!data.allFaskes || data.allFaskes.length < 1">
          <v-row>
            <v-col cols="12">
              <v-alert dense prominent type="info" class="white--text">
                <div>
                  <div>Tidak Ditemukan Faskes Di Daerah Yang Anda Minta</div>
                </div>
              </v-alert>
            </v-col>
          </v-row>
        </v-col>
        <template v-if="show">
          <v-col cols="12">
            <v-text-field
              v-model="searchFaskes"
              small
              outlined
              hide-details
              label="Cari
              Faskes"
              data-cy="form-search-faskes"
              append-icon="mdi-magnify"
              @click:append="searchFaskesName"
              @keyup.enter="searchFaskesName"
            >
            </v-text-field>
          </v-col>
          <v-col
            v-for="(faskes, index) in data.filteredFaskes"
            :key="index"
            cols="12"
          >
            <v-card
              data-cy="faskes-card-item-testcovid"
              outlined
              :to="`/testcovid/faskes/${faskes.id}`"
            >
              <v-row>
                <v-col cols="3">
                  <v-img
                    v-if="faskes.image"
                    :src="faskes.image"
                    height="100%"
                    class="rounded"
                  />
                  <v-img
                    v-else
                    :src="require('@/assets/images/logo_inatti.svg')"
                    height="100%"
                  />
                </v-col>
                <v-col cols="9">
                  <v-list-item three-line>
                    <v-list-item-content>
                      <v-list-item-title>
                        {{ faskes.name }}
                      </v-list-item-title>
                      <v-list-item-subtitle>
                        <v-icon size="14">mdi-map-marker-outline</v-icon>
                        {{ faskes.refAddress }}
                      </v-list-item-subtitle>
                      <v-list-item-subtitle v-if="faskes.distanceMeter">
                        <span class="red--text"
                          >{{
                            $utils.distanceConverter(faskes.distanceMeter, {
                              ratio: 1000,
                              prepended: 2,
                            })
                          }}
                          km</span
                        >
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>

                  <v-list-item class="mt-6">
                    <v-list-item-content style="width: 100%">
                      <v-list-item-title>
                        {{ typeTest.name }} Test
                      </v-list-item-title>
                      <v-list-item-subtitle>
                        <div class="d-flex justify-space-between align-center">
                          <div class="text-subtitle-2">Harga mulai dari</div>
                          <div class="text-h6 font-weight-bold">
                            Rp. {{ getLowestPrice(faskes.products) }}
                          </div>
                        </div>
                        <div class="light-green--text lighten-1">
                          1000 Quota tersedia
                        </div>
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </template>
      </v-row>
    </v-container>
  </mobile-layout>
</template>

<script>
import { UserFaskesApi } from '@inatti/shared/api-nuxt'
export default {
  layout: 'blank',
  auth: false,
  data() {
    return {
      show: false,
      filterArea: null,
      data: {
        allFaskes: null,
        filteredFaskes: null,
      },
      searchFaskes: null,
      userFaskesApi: null,
    }
  },
  computed: {
    typeTest() {
      return this.$store.state.testcovid.typeTest
    },
    savedFilter() {
      return this.$store.state.testcovid.savedFilter
    },
  },
  watch: {
    filterArea() {
      this.fetchFaskesByProductId()
    },
  },
  mounted() {
    this.userFaskesApi = new UserFaskesApi(this.$axios)
    this.fetchFaskesByProductId(true)
  },
  methods: {
    async fetchFaskesByNearLocation(value) {
      try {
        const allFaskes = await this.userFaskesApi.findNearLocation(
          this.typeTest.id,
          value
        )
        this.data.allFaskes = allFaskes
        this.data.filteredFaskes = allFaskes
        this.show = true
      } catch (err) {
        return err
      }
    },
    async fetchFaskesByProductId(isInit) {
      try {
        let params = {
          prov_id: this.filterArea?.prov?.id,
          kab_id: this.filterArea?.kab?.id,
          product_id: this.typeTest.id,
        }
        if (isInit) {
          params.product_id = this.typeTest.id
        }
        const allFaskes = await this.userFaskesApi.getLocationFiltered(params)
        this.data.allFaskes = allFaskes
        this.data.filteredFaskes = allFaskes
        this.show = true
      } catch (err) {
        return err
      }
    },
    getLowestPrice(products) {
      const selectedTypeProduct = this.$store.state.testcovid.typeTest.id
      const sort = products
        .filter((product) => product.product.id === selectedTypeProduct)
        .map((v) => v.price)
        .sort((first, second) => first - second)
      return sort[0]
    },
    searchFaskesName() {
      const val = this.searchFaskes
      if (!val) {
        this.data.filteredFaskes = this.data.allFaskes
        return
      }
      this.data.filteredFaskes = this.data.allFaskes.filter((v) => {
        return v.name.toLowerCase().includes(val.toLowerCase())
      })
    },
  },
}
</script>
