<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Hasil Test </mobile-appbar-title>
    </template>
    <v-sheet
      min-height="80vh"
      class="mt-toolbar pb-14"
      style="position: relative"
    >
      <div
        class="font-weight-medium pt-3 pb-2 pl-5 d-flex justify-center align-start flex-column"
        style="font-size: 15px; background-color: #f5f5f5"
      >
        Pilih Hasil Dari Layanan
      </div>
      <section class="d-flex justify-space-around pa-5">
        <v-row>
          <v-col
            v-for="(item, n) in nav"
            :key="n"
            cols="6"
            class="px-3 d-flex justify-center"
          >
            <common-card-menu
              :image="require(`~/assets/icons/result-nav/${item.id}.png`)"
              :text="item.text"
              :width="item.width"
              :to="item.link"
            />
          </v-col>
        </v-row>
      </section>
    </v-sheet>
  </mobile-layout>
</template>

<script>
export default {
  layout: 'blank',
  data() {
    return {
      nav: [
        {
          id: 'testcovid',
          text: 'Test Covid',
          width: '100%',
          link: '/testcovid/result',
        },
        {
          id: 'vaksinasi',
          text: 'Vaksinasi',
          width: '100%',
          link: '/testcovid/vaccine/relations',
        },
      ],
    }
  },
}
</script>

<style>
.cursor-pointer {
  cursor: pointer;
  text-decoration: none;
  color: #555555 !important;
}

.cursor-pointer:hover {
  color: #168aad !important;
  font-weight: 500;
  transition: 0.2s ease;
}
</style>
