<template>
  <section>
    <auth-banner />
    <v-container class="mt-12 d-flex justify-center align-center">
      <v-card width="410" outlined class="mb-12">
        <v-tabs v-model="tab" fixed-tabs>
          <v-tab href="#tab-login">Login</v-tab>
          <v-tab data-cy="tab-access-register" href="#register">Register</v-tab>
        </v-tabs>
        <div class="py-4 px-8">
          <v-tabs-items v-model="tab">
            <v-tab-item value="tab-login">
              <page-auth-login :show-alert="isShowAlertCreatedAccount" />
            </v-tab-item>
            <v-tab-item value="register">
              <page-auth-register />
            </v-tab-item>
          </v-tabs-items>
          <div class="text-center caption my-3">
            Belum Punya Akun ?
            <span
              class="primary--text cursor-pointer"
              @click="$router.push('/auth')"
            >
              Daftar disini
            </span>
          </div>
          <div class="text-center caption px-4 mb-6">
            *Dengan login ke aplikasi, berarti Anda telah menyetujui
            <a href="https://www.inatti.id/inatti-user/kebijakanInaTTI.html">
              Kebijakan dan Privasi
            </a>
            penggunaan InaTTI.
          </div>
        </div>
      </v-card>
    </v-container>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      tab: 'tab-login',
      isShowAlertCreatedAccount: false,
    }
  },
  mounted() {
    this.createdAccountValidation()
  },
  methods: {
    directToOldInatti() {
      window.location.href = 'https://www.inatti.id/inatti-user/public/'
    },

    createdAccountValidation() {
      const { account } = this.$route.query
      if (!account) return
      this.isShowAlertCreatedAccount = true
    },
  },
})
</script>

<style>
.cursor-pointer:hover {
  cursor: pointer;
  font-weight: normal;
}
</style>
