<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title class="subtitle-1">Verifikasi</mobile-appbar-title>
    </template>

    <v-sheet
      color="white"
      width="100%"
      class="text-center mt-toolbar font-weight-normal grey--text text--darken-3 px-3 py-5"
    >
      <div class="px-4">
        <h1 class="subtitle-1">Masukan Kode Verifikasi</h1>
        <p width="100%" class="caption ma-2 mb-6">
          Untuk memastikan pesanan anda kami mengirimkan 6 digit kode pada
          {{ labelMethod }} anda
        </p>
        <div class="ma-auto position-relative" style="max-width: 300px">
          <v-otp-input v-model="otp" length="6"></v-otp-input>
        </div>
        <p class="caption ma-2 mb-6">
          Tidak mendapatkan kode?
          <span
            v-if="user.email ? true : false"
            class="blue--text text--lighten-2"
            style="cursor: pointer"
            @click="resendOtp('email')"
          >
            kirim ulang Ke Email
          </span>
          <span v-if="user.email ? true : false" >
            Atau
          </span>
          <span
            class="blue--text text--lighten-2"
            style="cursor: pointer"
            @click="resendOtp('whatsapp')"
          >
            kirim ulang Ke Whatsapp
          </span>
        </p>
      </div>
      <v-btn
        color="warning"
        block
        :disabled="loading || otp.length < 6"
        :loading="loading"
        class="font-weight-light text-capitalize my-5"
        @click="validateOtp"
      >
        KONFIRMASI
      </v-btn>
      <v-snackbar v-model="snackbar" :color="snackbarColor" :timeout="2000">
        {{ text }}
      </v-snackbar>
    </v-sheet>
  </mobile-layout>
</template>

<script>
import { UserAuthApi } from '@inatti/shared/api-nuxt'
export default {
  name: 'ValidateOtp',
  layout: 'blank',
  data: () => ({
    loading: false,
    snackbar: false,
    snackbarColor: 'default',
    otp: '',
    text: '',
    user: {
      email: null,
      phoneNumber: null,
      username: null
    },
    labelMethod: '',
    userAuthApi: null
  }),
  mounted() {
    this.userAuthApi = new UserAuthApi(this.$axios)
    this.fetchData()
  },
  methods: {
    async validateOtp() {
      this.loading = true
      const { next } = this.$route.query
      try {
        await this.userAuthApi.validateOtp(this.otp, this.user.username)
        this.snackbarColor = 'success'
        this.text = `Success`
        this.snackbar = true
        setTimeout(() => {
          this.$router.push(next || '/')
        }, 1000)
      } catch (error) {
        this.snackbarColor = 'error'
        this.text = `"${error.response.data.message}"`
        this.snackbar = true
      }
      this.loading = false
    },

    async resendOtp(method) {
      try {
        await this.userAuthApi.resendOtp(this.user.username, method)
        this.snackbarColor = 'success'
        this.text = `Success`
        this.snackbar = true
        this.labelMethod = this.user.email ? method : this.labelMethod
      } catch (error) {
        this.snackbarColor = 'error'
        this.text = `"${error.response.data.message}"`
        this.snackbar = true
      }
    },
    fetchData() {
      this.user = this.$auth.state.user
      this.labelMethod = this.user.email ? 'Email' : 'Whatsapp'
    },
  },
}
</script>

<style scoped>
.position-relative {
  position: relative;
}
</style>
