<template>
  <div>
    <auth-banner text="Data Akun" />
    <v-container class="mt-12 d-flex justify-center align-center">
      <v-card width="410" outlined class="mb-12 px-6 pt-6 pb-8">
        <div class="d-flex justify-space-between mb-3">
          <v-btn depressed color="info" to="/account/edit/password"
            >Ganti Password</v-btn
          >
          <v-btn depressed color="info" to="/account/edit/data"
            >Ganti Data Akun</v-btn
          >
        </div>
        <v-form ref="form" lazy-validation>
          <div class="text-subtitle-1 font-weight-medium">Nama Lengkap</div>
          <div class="mt-1">
            <v-text-field
              v-model="$auth.user.fullname"
              :placeholder="$auth.user.fullname"
              outlined
              dense
              readonly
            />
          </div>
          <div class="text-subtitle-1 font-weight-medium">E-mail</div>
          <div>
            <v-text-field
              v-model="$auth.user.email"
              :placeholder="$auth.user.email"
              outlined
              dense
              readonly
            />
          </div>
          <div class="text-subtitle-1 font-weight-medium">
            Nomor HP (Whatsapp Aktif)
          </div>
          <v-row>
            <v-col>
              <v-autocomplete
                v-model="countryCode"
                prepend-inner-icon="mdi-plus"
                placeholder="62"
                outlined
                dense
                readonly
                messages="Kode Negara"
              >
              </v-autocomplete>
            </v-col>
            <v-col>
              <v-text-field
                v-model="phoneNumber"
                outlined
                dense
                readonly
                messages="No. Telepon tanpa kode area"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { AccountApi } from '@inatti/shared/api-nuxt'

@Component
export default class ProfilePage extends Vue {

  $auth: any

  countryCode() {
    return this.$auth.user?.phoneNumber?.slice(1, 3) ?? '62'
  }

  get phoneNumber() {
    return this.$auth.user?.username?.slice(2) ?? '-'
  }
}
</script>

<style>
.cursor-pointer {
  cursor: pointer;
  text-decoration: none;
  color: #555555 !important;
}

.cursor-pointer:hover {
  color: #168aad !important;
  font-weight: 500;
  transition: 0.2s ease;
}
</style>
