<template>
  <div class="d-flex align-baseline flex-wrap">
    <v-text-field
      class="mr-3"
      outlined
      :clearable="!readonly"
      readonly
      dense
      :value="name"
      prepend-inner-icon="mdi-paperclip"
      :label="label"
      hide-details="auto"
      @click:clear="onReset"
    ></v-text-field>
    <v-btn
      class="align-self-center my-1"
      color="primary"
      small
      v-if="allowPreview"
      @click="previewDocs"
      >Lihat Dokumen</v-btn
    >
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
@Component
export default class FieldAttachmentPicker extends Vue {
  @Prop({ type: [String], required: true })
  label!: string;

  @Prop()
  readonly!: boolean;

  @Prop({ type: [String], required: true })
  name!: string;

  @Prop({ type: [String], required: true })
  url!: string;

  @Prop({ type: Boolean, default: true })
  readonly allowPreview: boolean;

  onReset() {
    this.$emit('resetImage');
  }

  previewDocs() {
    window.open(this.url, '_blank');
  }
}
</script>
