<template>
  <div>
    <v-toolbar class="mb-3">
      <v-toolbar-title>Unit Bisnis Management</v-toolbar-title>
      <v-spacer />
      <v-btn color="primary" @click="isDialogAddApotekOpen = true">
        <v-icon left> mdi-plus </v-icon> Tambah Unit Bisnis
      </v-btn>
    </v-toolbar>
    <v-card class="pa-4">
      <div class="filter-container">
        <v-text-field
          v-model="search"
          clearable
          outlined
          dense
          append-icon="mdi-magnify"
          label="Cari Unit Bisnis"
          hide-details
          class="mb-2"
        ></v-text-field>
        <form-select-apotek-headoffice
          v-model="apotekHeadoffice"
          outlined
          dense
          clearable
        />
      </div>
      <v-data-table
        :headers="table.headers"
        :items="table.items"
        item-key="id"
        class="elevation-1"
        pagination.sync="pagination"
        :search="search"
      >
        <template #[`item.date`]="{ item }">
          {{ item.date }}
        </template>
        <template #[`item.deleteAt`]="{ item }">
          <span
            :class="item.deleteAt !== 'Aktif' ? 'red--text' : 'green--text'"
          >
            {{ item.deleteAt }}
          </span>
        </template>
        <template #[`item.actions`]="{ item }">
          <v-btn color="primary" icon small @click="openEditDialog(item)">
            <v-icon small> mdi-pencil-outline </v-icon>
          </v-btn>
          <v-btn color="error" icon small @click="confirmDelete(item)">
            <v-icon small> mdi-trash-can-outline </v-icon>
          </v-btn>
          <v-btn x-small depressed @click="setApotekGroup(item)">
            Detail
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
    <UiCommonDialog
      :value="isDialogAddApotekOpen"
      :confirmText="'Tambah'"
      :cancelText="'Batal'"
      :width="600"
      :persistent="true"
      :title="'Tambah Unit Bisnis'"
      @btn-cancel="cancelAddApotekGroup()"
      @btn-save="addApotekGroup()"
    >
      <v-form ref="addApotekForm">
        <v-alert type="error" outlined :value="attribute.addApotekForm.isError">
          Gagal menambahkan Unit Bisnis.
        </v-alert>
        <v-text-field
          v-model="form.addApotekGroup.name"
          label="Nama Apotek"
          :rules="[attribute.rules.required]"
          outlined
          dense
        />
        <form-select-apotek-headoffice
          v-model="form.addApotekGroup.headOffice"
          :rules="[attribute.rules.required]"
          outlined
          dense
        />
      </v-form>
    </UiCommonDialog>
    <UiCommonDialog
      :persistent="true"
      :value="isDialogEditApotekOpen"
      :confirmText="'Simpan'"
      :cancelText="'Batal'"
      :width="600"
      :title="'Edit Unit Bisnis'"
      @btn-save="updateApotekGroupById(form.selectedApotekGroup.id)"
      @btn-cancel="isDialogEditApotekOpen = false"
    >
      <v-form ref="updateApotekForm">
        <v-alert type="error" text :value="attribute.updateApotekForm.isError">
          Gagal mengubah data Unit Bisnis.
        </v-alert>
        <v-text-field
          v-model="form.updateApotekGroup.name"
          label="Nama Apotek"
          :rules="[attribute.rules.required]"
          outlined
          dense
        ></v-text-field>
        <form-select-apotek-headoffice
          v-model="form.updateApotekGroup.headOffice"
          :rules="[attribute.rules.required]"
          outlined
          dense
        />
      </v-form>
    </UiCommonDialog>
    <dialog-delete-confirm
      v-model="isOpenDialogDelete"
      @ok="deleteApotekGroupById(form.selectedApotekGroup.id)"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { ApotekGroup, ApotekGroupApi } from '@inatti/shared/api-nuxt'
import { UiCommonDialog } from '@inatti/shared/ui'

@Component({ components: { UiCommonDialog } })
export default class DetailUserComponent extends Vue {
  search = ''
  table = {
    headers: [
      {
        text: 'No.',
        align: 'start',
        sortable: false,
        value: 'no',
      },
      { text: 'Nama Grup', value: 'name' },
      { text: 'Head Quarter', value: 'headOffice' },
      { text: 'Tanggal Dibuat', value: 'createdAt' },
      { text: 'Status Apotek', value: 'deleteAt' },
      { text: 'Aksi', value: 'actions' },
    ],
    items: [] as ApotekGroup[],
  }

  form = {
    addApotekGroup: {
      name: '',
      headOffice: '',
    },
    currentApotekGroupSelected: null as any,
    updateApotekGroup: {
      name: '',
      headOffice: '',
    },
    selectedApotekGroup: {
      id: '',
      name: '',
    },
  }

  attribute = {
    addApotekForm: {
      isLoading: false,
      isError: false,
    },
    updateApotekForm: {
      isLoading: false,
      isError: false,
    },
    rules: {
      required: (v: any) => !!v || 'Form ini harus diisi.',
    },
  }

  isDialogAddApotekOpen = false
  isDialogEditApotekOpen = false
  isShowDialogDeleteApotekPicture = false
  isOpenDialogDelete = false

  isLoadingConfirmDeleteApotekPicture = false

  $form: any
  $snackbar: any
  $utils: any

  apotekGroupApi!: ApotekGroupApi
  $dayjs: any
  mounted() {
    this.apotekGroupApi = new ApotekGroupApi(this.$axios)
    if (this.$route.query.headOfficeId)
      this.apotekHeadoffice = this.$route.query.headOfficeId
    this.fetchAllListApotekGroup()
  }

  selectApotekGroup(item: ApotekGroup) {
    this.form.selectedApotekGroup = {
      id: item.id,
      name: item.name,
    }
  }

  apotekHeadoffice = null

  @Watch('apotekHeadoffice')
  onApotekHeadofficeChange(val: any) {
    this.fetchAllListApotekGroup()
  }

  async fetchAllListApotekGroup() {
    try {
      const response = await this.apotekGroupApi.get(
        false,
        this.apotekHeadoffice
      )
      const tableData = [] as ApotekGroup[]
      response.forEach((el: any, i : any) => {
        const tableElement: any = {
          id: el?.id,
          no: i + 1,
          name: el?.name ?? '-',
          address: el?.address ?? '-',
          description: el?.description ?? '-',
          phonenumber: el?.phonenumber ? `+62${el?.phonenumber}` : '-',
          thumbnail: el?.thumbnail ?? '-',
          headOffice: el?.headOffice?.name ?? '-',
          headOfficeId: el?.headOffice?.id ?? '-',
          createdAt: el?.createdAt
            ? this.$dayjs(el?.createdAt).format('DD/MM/YYYY, HH:mm:ss A')
            : '-',
          deleteAt: el?.deleteAt ? 'Telah dihapus' : 'Aktif',
        }
        tableData.push(tableElement)
      })
      this.table.items = tableData
    } catch (error) {}
  }

  openEditDialog(item: ApotekGroup) {
    this.selectApotekGroup(item)
    this.fetchDetailApotekGroupById(item.id)
    this.isDialogEditApotekOpen = true
  }

  async fetchDetailApotekGroupById(idapotekGroup: string) {
    try {
      const response = await this.apotekGroupApi.getOne(idapotekGroup)
      this.form.updateApotekGroup = this.$utils.cloneObject(response)
      this.form.currentApotekGroupSelected = this.$utils.cloneObject(response)
      this.$form.resetValidation(this.$refs, 'updateApotekForm')
    } catch (error) {
      this.isDialogEditApotekOpen = false
    }
  }

  async addApotekGroup() {
    this.attribute.addApotekForm.isLoading = true
    try {
      if (!this.$form.validate(this.$refs, 'addApotekForm')) return
      await this.apotekGroupApi.create(this.form.addApotekGroup)
      this.attribute.addApotekForm.isError = false
      this.isDialogAddApotekOpen = false
      this.$form.reset(this.$refs, 'addApotekForm')
      this.fetchAllListApotekGroup()
    } catch (error) {
      this.attribute.addApotekForm.isError = true
    } finally {
      this.attribute.addApotekForm.isLoading = false
    }
  }

  cancelAddApotekGroup() {
    this.$form.reset(this.$refs, 'addApotekForm')
    this.isDialogAddApotekOpen = false
  }

  @Watch('isDialogEditApotekOpen')
  onDialogEditIsNotOpen(val: boolean) {
    if (val) return
    this.$form.resetValidation(this.$refs, 'updateApotekForm')
  }

  async updateApotekGroupById(idapotekGroup: string) {
    const isValid = this.$form.validate(this.$refs, 'updateApotekForm')
    if (
      isValid &&
      this.$utils.dirtyValidation(
        this.form.currentApotekGroupSelected,
        this.form.updateApotekGroup
      )
    ) {
      this.attribute.updateApotekForm.isLoading = false
      try {
        await this.apotekGroupApi.update(
          idapotekGroup,
          this.form.updateApotekGroup
        )
        this.attribute.updateApotekForm.isError = false
        this.isDialogEditApotekOpen = false
        this.fetchAllListApotekGroup()
      } catch (error) {
        this.attribute.updateApotekForm.isError = true
      } finally {
        this.attribute.updateApotekForm.isLoading = false
      }
    }
  }

  async deleteApotekGroupById(idapotekGroup: string) {
    try {
      await this.apotekGroupApi.delete(idapotekGroup)
      this.isOpenDialogDelete = false
      this.fetchAllListApotekGroup()
    } catch (error: any) {
      const code = parseInt(error.response && error.response.status)
      this.$snackbar(error.response.data.message ?? code)
    }
  }

  setApotekGroup(item: any) {
    const apotekGroup = {
      id: item.id,
      name: item.name,
    }
    this.$store.commit('apotekStore/setApotekGroup', apotekGroup)
    this.$router.push({
      path: `/apotek-group/detail/${item.id}`,
      query: { headOfficeId: `${item.headOfficeId}` },
    })
  }

  confirmDelete(item: any) {
    this.selectApotekGroup(item)
    this.isOpenDialogDelete = true
  }
}
</script>

<style scoped>
.filter-container {
  width: 400px;
}
</style>
