<template>
  <v-menu
    top
    close-on-click
  >
    <template #activator="{ on, attrs }">
      <v-btn
        small
        v-bind="attrs"
        :loading="isLoading"
        v-on="on"
      >
        Edit Status
      </v-btn>
    </template>

    <v-list>
      <v-list-item
        v-for="(item, index) in statusList"
        :key="index"
        @click="updateSelectedToStatus(item)"
      >
        <v-list-item-title>{{ item }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: {
    value: {
      type: Array,
      default: () => []
    },
    session: {
      type: String,
      default: null
    },
    lab: {
      type: String,
      default: null
    }
  },
  data(){
    return {
      statusList: [
        'Positif',
        'Negatif',
        'Need verification'
      ],
      isLoading: false
    }
  },
  methods: {
    async updateSelectedToStatus(status){
      if(this.value.length < 1) return false;
      try{
        this.isLoading = true
        const payload = {}
        this.value.forEach(row => {
          if(row.isControl) return; // skip
          if(!row.idSample) return; // skip
          payload[row.idSample] = status
        });
        await this.$axios.$patch(`/api-lab/analyze/session/${this.session}/bulk-result-sample?idlab=${this.lab}`, payload)
        this.$emit('update')
      }catch(error){  
        this.$snackbar('Gagal mengubah final result')
      }
      this.isLoading = false
    }
  }
}
</script>