<template>
  <div>
    <common-toolbar>
      User Management
      <template #control>
        <v-btn
          color="primary"
          class="px-3 py-2"
          depressed
          @click.stop="showDialogAdd()"
        >
          <v-icon color="#fff" class="mr-2">mdi-plus</v-icon>
          Tambah User
        </v-btn>
      </template>
    </common-toolbar>
    <v-card :loading="listLoading">
      <v-card-text>
        <v-data-table :headers="tableHeader" :items="listUser">
          <template #[`item.action`]="{ item }">
            <v-btn icon @click="previewUser(item)">
              <v-icon> mdi-eye </v-icon>
            </v-btn>
            <v-btn icon @click="confirmDelete(item)">
              <v-icon color="red"> mdi-delete </v-icon>
            </v-btn>
          </template>
        </v-data-table>

        <ui-common-dialog
          v-model="dialogForm"
          :title="dialogTitle"
          :loading="dialogLoading"
          @btn-save="saveUser"
          @btn-cancel="dialogForm = !dialogForm"
        >
          <ui-page-management-user-form
            ref="formUser"
            v-model="userForm"
            :alert="alertForm"
            :user-roles="roleUser"
            :is-form-add="!selectedUser"
          />
        </ui-common-dialog>

        <!-- Delete User -->
        <div class="text-center">
          <v-dialog v-model="dialogDelete" width="290">
            <v-card>
              <v-card-title class="text-h5"> Hapus User ? </v-card-title>

              <v-card-text> Anda yakin akan menghapus user ini? </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#4CAF50" text @click="closeDeleteDialog">
                  Batal
                </v-btn>
                <v-btn
                  text
                  color="#FF5252"
                  :loading="deleteLoading"
                  @click="deleteUser()"
                >
                  Ya
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
        <!-- End Delete User -->
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { ReferenceUserApi, UserRole } from '@inatti/shared/api-nuxt'
import { UiCommonDialog } from '@inatti/shared/ui'

type userField = {
  fullname: string
  username: string
  roleId: number
  email: string
  password: string
  userId?: string
}

@Component({ components: { UiCommonDialog } })
export default class UserManagement extends Vue {
  dialogForm = false
  dialogDelete = false
  dialogLoading = false
  dialogTitle = 'Tambah User'

  referenceUserApi = new ReferenceUserApi(this.$axios)

  userForm: userField = {
    fullname: '',
    username: '',
    roleId: 0,
    email: '',
    password: '',
    userId: '',
  }

  alertForm = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }

  setAlert(msg: string, type: string = 'warning'): void {
    this.alertForm = {
      isShow: true,
      type,
      msg,
    }
  }

  tableHeader = [
    {
      text: 'Username',
      value: 'userId.username',
    },
    {
      text: 'Fullname',
      value: 'userId.fullname',
    },
    {
      text: 'Role',
      value: 'roleId.name',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]

  roleUser = []

  listUser: UserRole[] = []

  created() {
    this.fetchListUser()
    this.fetchRoleUser()
  }

  showDialogAdd() {
    this.dialogForm = true
    this.resetForm()
    setTimeout(() => {
      this.$refs.formUser.appendOldValue(
        JSON.parse(JSON.stringify(this.userForm))
      )
    }, 500)
  }

  @Watch('dialogForm')
  onChangeDialogForm(val: boolean) {
    if (val === false) {
      this.resetForm()
    }
  }

  resetForm() {
    this.dialogTitle = 'Tambah User'
    this.selectedUser = null
    this.userForm = {
      fullname: '',
      username: '',
      roleId: 0,
      email: '',
      password: '',
      userId: '',
    }
  }

  listLoading = false
  async fetchListUser() {
    const { refId } = this.$route.query
    try {
      this.listLoading = true
      this.listUser = await this.referenceUserApi.get({
        idref: refId,
      })
    } catch (error) {
      console.log(error)
    }
    this.listLoading = false
  }

  $refs = {
    formUser: {} as any,
  }

  async saveUser() {
    // validate formUser
    if (!this.$refs.formUser.validateForm() || !this.$refs.formUser.isDirty())
      return false

    // edit mode, run update User
    if (this.selectedUser) return this.updateUser()

    this.dialogLoading = true
    try {
      await this.referenceUserApi.add(this.userForm, {
        idref: this.$route.query.refId,
      })
      this.dialogForm = false
      this.resetForm()
      this.fetchListUser()
    } catch (error: any) {
      let errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlert(errData.message, 'error')
    }
    this.dialogLoading = false
  }

  selectedUser: UserRole | null = null
  previewUser(user: UserRole) {
    this.dialogTitle = 'Lihat user'
    this.dialogForm = true
    this.userForm.fullname = user.userId.fullname
    this.userForm.username = user.userId.username
    this.userForm.roleId = user.roleId.id
    this.userForm.email = user.userId.email
    this.userForm.userId = user.userId.id
    this.selectedUser = user
    setTimeout(() => {
      this.$refs.formUser.appendOldValue(
        JSON.parse(JSON.stringify(this.userForm))
      )
    }, 500)
  }

  async updateUser() {
    if (!this.selectedUser) return false
    this.dialogLoading = true
    try {
      const id = this.selectedUser.id
      await this.referenceUserApi.update(id, this.userForm, {
        idref: this.$route.query.refId,
      })
      this.dialogForm = false
      this.resetForm()
      this.fetchListUser()
    } catch (error: any) {
      let errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlert(errData.message, 'error')
    }
    this.dialogLoading = false
  }

  @Watch('dialogDelete')
  resetDelete(newValue?: boolean) {
    if (!newValue) {
      this.selectedUserToDelete = null
    }
  }

  closeDeleteDialog() {
    this.dialogDelete = false
    this.resetDelete()
  }

  selectedUserToDelete: null | UserRole = null

  confirmDelete(item: UserRole) {
    this.selectedUserToDelete = item
    this.dialogDelete = true
  }

  $snackbar!: (arg: string) => void

  deleteLoading = false
  async deleteUser() {
    this.deleteLoading = true
    try {
      if (!this.selectedUserToDelete) {
        this.$snackbar('Pilih user terlebih dahulu')
        return
      }
      await this.referenceUserApi.delete(
        this.selectedUserToDelete.userId.id,
        {
          idref: this.$route.query.refId,
        }
      )

      this.closeDeleteDialog()
      this.fetchListUser()
    } catch (error: any) {
      this.$snackbar(error)
    } finally {
      this.deleteLoading = false
    }
  }

  async fetchRoleUser(){
    this.roleUser = await this.referenceUserApi.getRole()
  }
}
</script>

<style>
.pointer-cursor {
  cursor: pointer;
}
</style>
