<template>
  <mobile-layout-body>
    <v-sheet color="#F5F5F5" min-height="80vh" class="mb-14">
      <page-beranda-toolbar-top />

      <page-beranda-nav />

      <v-alert v-if="!$auth.loggedIn" outlined type="info" text class="ma-3">
        <v-row align="center">
          <v-col class="grow body-2"> Belum punya akun? </v-col>
          <v-col class="shrink">
            <v-btn small color="primary" to="/auth">Sign Up</v-btn>
          </v-col>
        </v-row>
      </v-alert>

      <div v-if="$auth.loggedIn">
        <page-beranda-group-item
          heading-text="Hasil Tes"
          link="/testcovid/result"
        >
          <v-alert
            v-if="orderList.length < 1"
            outlined
            type="info"
            text
            class="ma-3 mt-0"
          >
            <v-row align="center">
              <v-col class="grow body-2"> Hasil belum tesedia. </v-col>
              <v-col class="shrink">
                <v-btn small color="primary" to="/testcovid"
                  >Tes Sekarang</v-btn
                >
              </v-col>
            </v-row>
          </v-alert>

          <section v-else class="px-1 mb-2">
            <v-carousel
              hide-delimiters
              show-arrows-on-hover
              cycle
              height="100px"
              class="rounded-lg"
              style="border: 2px solid #eeeeee"
            >
              <v-carousel-item v-for="(result, i) in resultList" :key="i">
                <v-sheet height="100%" tile class="pa-3">
                  <table v-if="result.patient" width="100%">
                    <tbody>
                      <tr>
                        <td class="subtitle-2 text-capitalize">
                          {{ result.patient.name }}
                        </td>
                        <td class="text-right">
                          <common-chip-status-swab
                            :x-small="true"
                            :status="result.resultSwab"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td class="caption">Tanggal Tes</td>
                        <td class="subtitle-2 font-weight-regular text-right">
                          {{ formatDate(result.createdAt) }}
                        </td>
                      </tr>
                      <tr>
                        <td class="caption font-weight-light" colspan="2">
                          Order id : {{ result.orderTrx.invId }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </v-sheet>
              </v-carousel-item>
            </v-carousel>
          </section>
        </page-beranda-group-item>

        <page-beranda-group-item
          heading-text="Pesanan Tes"
          link="/testcovid/order/list"
        >
          <v-alert
            v-if="orderList.length < 1"
            outlined
            type="info"
            text
            class="ma-3 mt-0"
          >
            <v-row align="center">
              <v-col class="grow body-2"> Belum ada pesanan. </v-col>
              <v-col class="shrink">
                <v-btn small color="primary" to="/testcovid"
                  >Tes Sekarang</v-btn
                >
              </v-col>
            </v-row>
          </v-alert>

          <div v-else class="order-component">
            <v-sheet
              v-for="(order, index) in orderList"
              :key="index"
              width="100%"
              rounded
              outlined
              class="px-4 py-2 mb-3 last-item--no-margin"
            >
              <table width="100%">
                <tbody class="subtitle-2">
                  <tr :style="productColors[order.product.product.name]">
                    <td class="d-flex align-center">
                      <img
                        :src="
                          require(`~/assets/icons/test/product_${order.product.product.id}.svg`)
                        "
                        height="25px"
                      />
                      <span class="ml-2"> Tes {{ order.product.product.name }} </span>
                    </td>
                    <td class="text-right font-weight-light caption">
                      Order id : <br />
                      {{ order.invId }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="subtitle-1">
                      {{
                        order
                          ? order.reference
                            ? order.reference.name
                            : '-'
                          : '-'
                      }}
                    </td>
                  </tr>
                  <tr>
                    <td>{{ order.totalOrder }} Pasien</td>
                    <td class="text-right">
                      {{ formatDate(order.createdAt) }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </v-sheet>
          </div>
        </page-beranda-group-item>

        <page-beranda-group-item
          heading-text="Vaksinasi"
          link="/testcovid/vaccine/relations"
        >
          <v-alert
            v-if="vaccineHistories.length < 1"
            outlined
            type="info"
            text
            class="ma-3 mt-0"
          >
            <v-row align="center">
              <v-col class="grow body-2">
                Riwayat Vaksinasi akan mucul saat anda mendaftarkan beberapa
                pasien sekaligus dalam pesanan.
              </v-col>
              <v-col class="shrink">
                <v-btn small color="primary" to="/testcovid"
                  >Test Sekarang</v-btn
                >
              </v-col>
            </v-row>
          </v-alert>

          <section v-else class="px-1 mb-2">
            <v-carousel
              hide-delimiters
              show-arrows-on-hover
              cycle
              height="100px"
              class="rounded-lg"
              style="border: 2px solid #eeeeee"
            >
              <v-carousel-item v-for="(result, i) in vaccineHistories" :key="i">
                <v-sheet height="100%" tile class="pa-3">
                  <table v-if="result.patient" width="100%">
                    <tbody>
                      <tr>
                        <td class="subtitle-2 text-capitalize">
                          {{ result.patient.name }}
                        </td>
                        <td class="text-right">
                          <common-chip-status-vaccine
                            :x-small="true"
                            :status="resultVaccine(result.vaksinDateAt)"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td class="caption">Tanggal Test</td>
                        <td class="subtitle-2 font-weight-regular text-right">
                          {{ formatDate(result.requestDate) }}
                        </td>
                      </tr>
                      <tr>
                        <td class="caption font-weight-light" colspan="2">
                          Order id : {{ result.orderTrx.invId }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </v-sheet>
              </v-carousel-item>
            </v-carousel>
          </section>
        </page-beranda-group-item>

        <page-beranda-group-item
          heading-text="Relasi"
          link="/testcovid/relations"
        >
          <v-alert
            v-if="relationList.length < 1"
            outlined
            type="info"
            text
            class="body-2 ma-3 mt-0"
          >
            Relasi akan mucul saat anda mendaftarkan beberapa pasien sekaligus
            dalam pesanan.
          </v-alert>

          <section
            v-else
            class="d-flex justify-start horizontally-scroll scrollbar--hide px-3 py-1"
            height="fit-content"
          >
            <div
              v-for="(relation, index) in relationList"
              :key="index"
              class="d-flex flex-column align-center px-3 last-item--no-margin"
            >
              <common-avatar-status-relasi
                :status="
                  relation.detailSwab && relation.detailSwab.length > 0
                    ? relation.detailSwab[0].resultSwab
                    : null
                "
                :swab-date="
                  relation.detailSwab && relation.detailSwab.length > 0
                    ? relation.detailSwab[0].swabDate
                    : null
                "
                :given-name="relation.name"
                :size="62"
                :change-color-after-three-days="true"
              />

              <div class="caption my-1 text-capitalize">
                {{ filterName(relation.name) }}
              </div>
            </div>
          </section>
        </page-beranda-group-item>
      </div>
    </v-sheet>
  </mobile-layout-body>
</template>

<script>
import { UserApi, UserOrderApi, VaksinApi } from '@inatti/shared/api-nuxt'
import { id } from 'date-fns/esm/locale'

export default {
  layout: 'mobile',
  middleware: 'auth',
  auth: 'guest',
  data: () => ({
    resultList: [],
    orderList: [],
    relationList: [],
    vaccineHistories: [],
    userApi: null,
    userOrderApi: null,
    productColors: {
      PCR: {
        color: '#9ccc65',
      },
      Antigen: {
        color: '#82B1FF',
      },
      Vaksin: {
        color: '#36c7c7',
      },
    },
  }),
  mounted() {
    if (!this.$auth.loggedIn) return false
    this.userApi = new UserApi(this.$axios)
    this.vaksinApi = new VaksinApi(this.$axios)
    this.userOrderApi = new UserOrderApi(this.$axios)
    this.getTestResultList()
    this.getTestOrderList()
    this.getRelationList()
    this.getVaccineHistoryList()
  },
  methods: {
    getNameInitial(givenName) {
      const name = givenName.split(' ')
      return `${name[0].charAt(0)}${name[1] ? name[1].charAt(0) : ''}`
    },
    filterName(givenName) {
      if (givenName.length < 13) return givenName
      const name = givenName.split(' ')
      return name[0]
    },
    async getTestResultList() {
      try {
        this.resultList = await this.userApi.getPatientTestResults()
      } catch (err) {
        return err
      }
    },
    async getTestOrderList() {
      try {
        this.orderList = await this.userOrderApi.getList()
        // cut, only 2 items
        if (this.orderList.length > 2) {
          this.orderList.splice(0, 2)
        }
      } catch (err) {
        return err
      }
    },
    async getVaccineHistoryList() {
      try {
        this.vaccineHistories = await this.vaksinApi.listByUser()
      } catch (err) {}
    },
    async getRelationList() {
      try {
        const relationList = await this.userApi.getUserRelation()
        this.relationList = relationList
        this.$emit('list-relation', this.relationList)
      } catch (err) {
        return err
      }
    },
    resultVaccine(date) {
      return date ? 'vaccinated' : 'unvaccinated'
    },
    formatDate(date) {
      return this.$dateFns.format(date, 'dd MMMM yyyy', {
        locale: id,
      })
    },
  },
}
</script>

<style>
.horizontally-scroll {
  display: flex;
  overflow-x: auto;
}

.horizontally-scroll div {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
}

.order-component {
  overflow-y: scroll;
  max-height: 220px;
}

.last-item--no-margin:last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}
</style>
