<template>
  <div class="flex-cont min-h-full">
    <div>
      <layout-logo />
      <div class="text-h5 text-center">Loading ...</div>
    </div>
  </div>
</template>
<script>

export default {
  auth: false,
  layout: 'blank',
  mounted() {
    setTimeout(() => {
      this.$router.replace('/beranda')
    }, 2000)
  },
}
</script>

<style>
.flex-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>