<template>
  <mobile-layout>
    <template slot="title">
      <mobile-appbar-title> Isolation </mobile-appbar-title>
    </template>

    <div class="mt-toolbar d-flex flex-wrap justify-space-around grey--text text--darken-3">
      <a v-for="(button, index) in buttonIcons" :key="index" style="width: 30%" class="my-3 mx-xs-3 mx-0 cursor-pointer" :href="button.link" @click.stop.prevent="openNewTab(button.link)">
        <v-card outlined class="rounded-xl d-flex flex-column justify-space-between">
          <img :src="require(`~/assets/icons/isolation/${button.icon}.svg`)" width="100%" class="mb-2 pt-3 px-6 pt-sm-6 px-sm-8 " style="max-height: 80px">
          <v-card-text class="text-center text-uppercase caption pa-0 pb-1"> {{ iconText(button.icon, index) }} </v-card-text>
        </v-card>
        <div class="text-center caption pt-5"> {{ button.description }} </div>
      </a>
    </div>
  </mobile-layout>
</template>

<script>
export default {
  layout: 'blank',
  data() {
    return {
      buttonIcons: [
        {
          icon: 'isoman',
          description: 'Shelter Pemulihan COVID-19',
          link: 'https://inatti.id/isoman.html'
        },
        {
          icon: 'artikel',
          description: 'Informasi Seputar Isoman',
          link: 'http://mtac.farmasi.unpad.ac.id/'
        },
        {
          icon: 'amari',
          description: 'Aplikasi Mawas Diri COVID-19',
          link: 'https://amari.unpad.ac.id/surveys/index.php?s=R7EDYCLWCK'
        },
        {
          icon: 'live_chat',
          description: 'Konsultasi Obat/Kesehatan pada Apoteker',
          link: '/telefarmasi'
        },
        {
          icon: 'swa_medikasi',
          description: 'Lindungi Diri dan Orang Sekitar Anda',
          link: 'https://kimiafarmaapotek.co.id/paket-isolasi-mandiri/'
        },
        {
          icon: 'hipnosis',
          description: 'Aplikasi Mawas Diri COVID-19',
          link: 'https://injabar.unpad.ac.id/hipnosis/'
        },
        {
          icon: 'rawat_inap',
          description: 'Ketersediaan Tempat Rumah Sakit Rujukan',
          link: 'https://yankes.kemkes.go.id/app/siranap/'
        },
        {
          icon: 'stok_obat',
          description: 'Informasi Stok Obat Farmaplus Kemenkes',
          link: 'https://farmaplus.kemkes.go.id/'
        },
        {
          icon: 'obat_gratis',
          description: 'Obat Isoman Gratis Kemenkes',
          link: 'https://isoman.kemkes.go.id/index.html'
        },
      ]
    }
  },
  methods: {
    iconText(val, index) {
      this.buttonIcons[index].buttonText = val
      return this.buttonIcons[index].buttonText.split('_').join(' ')
    },
    openNewTab(url) {
      window.open(url)
    }
  }
}
</script>

<style>
.cursor-pointer:hover {
  cursor: pointer;
  text-decoration: none;
  color: #555555 !important;
}
</style>
