<template>
  <v-avatar
    v-bind="avatarOptions"
    class="elevation-2"
    :color="
      changeColorNegativeStatusAfterThreeDays
        ? 'grey lighten-1'
        : statusSwabList[$attrs.status].color
    "
  >
    <span class="white--text text-h5 text-uppercase">
      {{ getNameInitial(givenName) }}
    </span>
  </v-avatar>
</template>

<script>
export default {
  props: {
    givenName: {
      type: String,
      default: '',
    },
    changeColorAfterThreeDays: {
      type: Boolean,
      default: false,
    },
    swabDate: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      statusSwabList: {
        positif: {
          text: 'Positif',
          color: 'error',
        },
        negatif: {
          text: 'Negatif',
          color: 'success',
        },
        presumtifPositif: {
          text: 'Presumtif Positif',
          color: 'error',
        },
        presumtifNegatif: {
          text: 'Presumtif Negatif',
          color: 'success',
        },
        null: {
          text: 'Belum Test',
          color: 'grey lighten-1',
        },
      },
    }
  },
  computed: {
    avatarOptions() {
      return {
        ...this.$attrs,
        ...this.statusSwabList[this.$attrs.status],
      }
    },
    changeColorNegativeStatusAfterThreeDays() {
      let result
      if (!this.changeColorAfterThreeDays) {
        result = false
      }

      const today = new Date()
      const swabDate = new Date(this.swabDate)
      const dayDifferent = Math.floor(
        Math.abs(today - swabDate) / (1000 * 60 * 60 * 24)
      )

      if (this.$attrs.status === 'negatif' && dayDifferent > 3) {
        result = true
      }

      return result
    }
  },
  methods: {
    getNameInitial(givenName) {
      const name = givenName.split(' ')
      return `${name[0].charAt(0)}${name[1] ? name[1].charAt(0) : ''}`
    },
  },
}
</script>
