<template>
  <section>
    <div class="d-flex flex-row justify-space-between py-2 px-5">
      <div class="subtitle-2"> {{ headingText }} </div>
      <NuxtLink :to="link" class="body-2" style="text-decoration: none"
        >Lihat Semua</NuxtLink
      >
    </div>
    <slot />
  </section>
</template>

<script>
export default {
  props: {
    link: {
      type: String,
      default: '/'
    },
    headingText: {
      type: String,
      default: 'Hasil Test'
    }
  }
}
</script>
