<template>
  <section class="d-flex justify-space-around pa-5">
    <v-row>
      <v-col v-for="(item, n) in nav" :key="n" cols="4" class="px-3 d-flex justify-center">
        <common-card-menu
          :image="require(`~/assets/icons/nav/${item.id}.png`)"
          :text="item.text"
          :to="item.link"
        />
      </v-col>
    </v-row>
  </section>
</template>

<script>
export default {
  data() {
    return {
      nav: [
        { id: 'test', text: 'Tes', width: '110px', link: '/testcovid' },
        { id: 'telefarmasi', text: 'telefarmasi', width: '45px', link: '/telefarmasi' },
        { id: 'isolation', text: 'isolation', width: '56px', link: '/isolation' }
      ]
    }
  },
}
</script>

<style>
.cursor-pointer {
  cursor: pointer;
  text-decoration: none;
  color: #555555 !important;
}

.cursor-pointer:hover {
  color: #168aad !important;
  font-weight: 500;
  transition: 0.2s ease;
}
</style>