<template>
  <common-top-sheet>
    <v-autocomplete
      v-model="search"
      :items="searchItem"
      label="Cari hasil test saya"
      outlined
      dense
      hide-details
      readonly
      background-color="white"
      @click="$router.push('/testcovid/order/search')"
    ></v-autocomplete>
  </common-top-sheet>
</template>

<script>
export default {
  data() {
    return {
      searchItem: [],
      search: null,
    }
  },
}
</script>