<template>
  <div>
    <v-toolbar class="mb-3">
      <v-toolbar-title>Dashboard Apoteker dan PMR</v-toolbar-title>
    </v-toolbar>
    <v-card class="pa-4">
      <form-filter-headoffice v-model="query"></form-filter-headoffice>
      <v-row>
        <v-col>
          <div class="text-h6 font-weight-bold mb-3">Statistik Keseluruhan</div>
          <v-row>
            <feature-telefarmasi-headoffice-dashboard-section-statistic
              :dashboard="dashboard"
            />
          </v-row>
        </v-col>
      </v-row>
      <feature-telefarmasi-headoffice-dashboard-section-graph-table
        v-if="dashboard"
        :dashboard="dashboard"
      />
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { ApotekHeadofficeApi } from '@inatti/shared/api-nuxt'
import {
  FeatureTelefarmasiHeadofficeDashboardSectionGraphTable,
  FeatureTelefarmasiHeadofficeDashboardSectionStatistic,
} from '@inatti/features/telefarmasi'
import { UiFormSelectApotekGrup, UiFormSelectApotek } from '@inatti/shared/ui'
import { Watch } from 'vue-property-decorator'
import qs from 'qs'

@Component({
  components: {
    FeatureTelefarmasiHeadofficeDashboardSectionStatistic,
    FeatureTelefarmasiHeadofficeDashboardSectionGraphTable,
    UiFormSelectApotekGrup,
    UiFormSelectApotek,
  },
})
export default class DashboardPage extends Vue {
  test = { test: '1243' }
  apotekHeadofficeApi!: ApotekHeadofficeApi
  dashboard: any = null
  isLoading = false
  error: any = null
  query = {
    apotekIds: [],
    apotekGroupIds: [],
    headofficeIds: [],
  }
  lastParams = {}

  @Watch('query', { deep: true })
  refetchData() {
    this.lastParams = this.query
    this.fetchDashboard(this.lastParams)
  }

  onChangeFilter() {
    if (
      !this.query.apotekIds ||
      !this.query.apotekGroupIds ||
      this.query.headofficeIds
    )
      return
    this.refetchData()
  }

  mounted() {
    this.apotekHeadofficeApi = new ApotekHeadofficeApi(this.$axios)
    this.fetchDashboard()
  }

  async fetchDashboard(params: any = {}, isForce = true) {
    this.isLoading = true
    const query = qs.stringify(params)
    try {
      this.dashboard = await this.apotekHeadofficeApi.getDashboardV2ByAdmin(
        query,
        isForce
      )
    } catch (err) {
      this.error = err
    }
    this.isLoading = false
  }
}
</script>
