<template>
  <header class="text-center">
    <img src="https://inatti.id/asset-app/inatti-v2.2-large.png" alt="Logo Inatti" width="200px" class="mx-auto">
    <hr class="w-auto h-1 bg-gray-500 mt-6" style="background-color: #78872b">
  </header>
</template>
