<template>
  <feature-telefarmasi-apotek-medicine-inventory-list
    ref="coreMedicineInventoryList"
    :custom-query="query"
    :allowFetch="allowFetch"
    :isApotek="false"
  >
    <template #additional-filter>
      <v-row dense>
        <v-col cols="12" md="6">
          <ui-form-select-apotek-grup
            v-model="query['filter[apotekGroup]']"
            @input="onChangeFilter"
            default-all-selected
          />
        </v-col>
        <v-col cols="12" md="6">
          <ui-form-select-apotek
            :apotek-group="query['filter[apotekGroup]']"
            v-model="query['filter[apotek]']"
            @input="onChangeFilter"
            multiple
            hint="Filter berdasarkan Apotek"
            persistent-hint
          />
        </v-col>
      </v-row>
    </template>

    <template #form-dialog-add-item>
      <ui-common-dialog
        ref="formDialogAddItem"
        v-model="form.addObat.isOpenDialog"
        title="Tambah Obat"
        :width="540"
        :loading="form.addObat.isLoading"
        persistent
        confirm-icon="mdi-plus"
        confirm-text="Tambah"
        cancel-text="Batal"
        @btn-save="addObat()"
        @btn-cancel="cancelDialog('addObat', 'addObatForm')"
      >
        <v-form ref="addObatForm" lazy-validation>
          <v-alert type="error" text :value="form.addObat.isError">
            Gagal menambah obat.
          </v-alert>
          <v-text-field
            v-model="form.addObat.data.name"
            label="Nama Obat"
            :rules="[rules.required]"
            outlined
            dense
            @keydown.enter.prevent="addObat()"
          ></v-text-field>
          <ui-form-select-apotek v-model="apotekId" :rules="[rules.required]" />
        </v-form>
      </ui-common-dialog>
    </template>
  </feature-telefarmasi-apotek-medicine-inventory-list>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  UiFormSelectApotek,
  UiFormSelectApotekGrup,
  UiCommonDialog,
} from '@inatti/shared/ui'
import { MedicineApotekBasedApi } from '@inatti/shared/api-nuxt'

@Component({
  components: {
    UiFormSelectApotek,
    UiFormSelectApotekGrup,
    UiCommonDialog,
  },
})
export default class ObatApotekComponent extends Vue {
  query = {
    'filter[apotek]': [],
    'filter[apotekGroup]': [],
  }
  apotekId = ''
  get allowFetch() {
    return this.query['filter[apotekGroup]'].length !== 0
  }

  form = {
    addObat: {
      isOpenDialog: false,
      isLoading: false,
      isError: false,
      data: {
        name: '',
      },
    },
  }

  rules = {
    required: (v: any) => !!v || 'Form ini harus diisi',
  }

  $refs: any

  onChangeFilter() {
    if (this.query['filter[apotekGroup]'].length < 1) return
    this.$refs.coreMedicineInventoryList.refetchData()
  }

  $form: any
  async addObat() {
    if (!this.$form.validate(this.$refs, 'addObatForm')) return
    const medicineApotekBasedApi = new MedicineApotekBasedApi(
      this.$axios,
      this.apotekId
    )
    try {
      this.form.addObat.isError = false
      this.form.addObat.isLoading = true
      await medicineApotekBasedApi.create(this.form.addObat.data.name)
      this.form.addObat.isOpenDialog = false
      this.$form.reset(this.$refs, 'addObatForm')
      this.$refs.coreMedicineInventoryList.refetchData()
    } catch (error) {
      this.form.addObat.isError = true
    } finally {
      this.form.addObat.isLoading = false
    }
  }

  cancelDialog(data, refs) {
    this.form[data].isOpenDialog = false
    this.$form.reset(this.$refs, refs)
  }
}
</script>
