<template>
  <feature-telefarmasi-apotek-medicine-inventory-upload :is-apotek="false" />
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { UiFormSelectApotek } from '@inatti/shared/ui'

@Component({
  components: { UiFormSelectApotek },
})
export default class MedicineApotekUploadComponent extends Vue {}
</script>
