<template>
  <v-chip class="ml-2" small :color="statusColorMapping.get(status)">
    {{ statusLabelMapping.get(status) }}
  </v-chip>
</template>

<script lang="ts">
import Vue from 'vue'
import { Prop } from 'vue-property-decorator'
import Component from 'vue-class-component'
@Component
export default class ChipPaymentProviderStatus extends Vue {
  @Prop({ type: String })
  status!: string

  statusColorMapping = new Map([
    ['NOT_REGISTERED', 'warning'],
    ['INVITED', 'warning'],
    ['REGISTERED', 'primary'],
    ['AWAITING_DOCS', 'primary'],
    ['LIVE', 'success'],
  ])

  statusLabelMapping = new Map([
    ['NOT_REGISTERED', 'Tidak Terdaftar'],
    ['INVITED', 'Invited'],
    ['REGISTERED', 'Registered'],
    ['AWAITING_DOCS', 'Awaiting Docs'],
    ['LIVE', 'Activated'],
  ])
}
</script>
