<template>
  <div class="text-center">
    <v-dialog v-model="dialogsModel" width="645">
      <v-card>
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>
        <v-divider />

        <v-card-text class="mt-3">
          <slot />
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions class="justify-end">
          <v-btn color="primary"  text @click="$emit('btn-save')">
            {{ confirmText }}
          </v-btn>

          <v-btn color="primary" text @click="$emit('btn-cancel')">
            {{ cancelText }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: '',
    },
    confirmText: {
      type: String,
      default: 'Save',
    },
    cancelText: {
      type: String,
      default: 'Close',
    },
  },
  computed: {
    dialogsModel: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      },
    },
  },
}
</script>
