<template>
  <canvas
    id="canvas-qr-code"
    ref="canvasQrCodeRef"
    style="width: 100%"
  ></canvas>
</template>
<script>
import QRCode from 'qrcode'
export default {
  props: {
    text: {
      type: String,
      default: '',
      require: false,
    },
  },
  watch: {
    text() {
      const canvas = this.$refs.canvasQrCodeRef
      QRCode.toCanvas(canvas, this.text, {
        scale: 7,
        margin: 0,
      })
    },
  },
  methods: {
    saveQrCodeAsImage() {
      const link = document.createElement('a')
      const canvas = document.getElementById('canvas-qr-code')
      link.download = 'qrcode.png'
      link.href = canvas.toDataURL()
      link.click()
    },
  },
}
</script>
