<template>
  <v-chip :color="getColor" dark small>{{ value }}</v-chip>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class ResultChipComponent extends Vue {
  @Prop([String])
  value!: string
  created() {}

  colorMap = {
    positif: 'red darken-1',
    negatif: 'green darken-3',
    other: 'blue-grey darken-1',
  }

  get getColor() {
    if (!this.value) {
      return null
    }
    // positif regex
    if (/positi(f|ve)/gi.test(this.value)) {
      return this.colorMap.positif
    }
    if (/negati(f|ve)/gi.test(this.value)) {
      return this.colorMap.negatif
    }
    return this.colorMap.other
  }
}
</script>

<style>
</style>