<template>
  <v-dialog v-model="dialogsModel" width="645">
    <template #activator="{ on, attrs }">
      <div class="d-flex">
        <v-btn color="primary" dark v-bind="attrs" v-on="on"> Filter </v-btn>
      </div>
    </template>
    <v-card>
      <v-card-title class="text-h5"> Filter Transaksi </v-card-title>
      <v-divider />

      <v-card-text class="mt-3">
        <v-form ref="form" lazy-validation>
          <common-select-lab
            v-if="filterLab"
            v-model="dataFilter.labSelected"
          />
          <common-select-rujukan
            v-model="dataFilter.rujukanSelected"
            :is-role-reporter="isRoleReporter"
            @update-value="updateValue()"
            @fetch-reference-product-from-parent="
              fetchReferenceProduct(dataFilter.rujukanSelected)
            "
          />
          <common-select-produk-rujukan
            v-show="dataFilter.rujukanSelected.length === 1"
            v-model="dataFilter.rujukanProduct"
            :rujukan-selected="dataFilter.rujukanSelected"
          />
          <v-select
            v-model="dataFilter.productType"
            name="productType"
            :items="productTypeList"
            label="Tipe Produk"
            :loading="productTypeListLoading"
            item-text="name"
            outlined
            clearable
            item-value="id"
          />
          <v-select
            v-model="dataFilter.statusTrx"
            name="statusTrx"
            label="Status"
            :items="statusTrxList"
            item-text="name"
            outlined
            clearable
            item-value="id"
          />

          <v-select
            v-model="dataFilter.method"
            name="method"
            :items="methodsList"
            label="Transaksi"
            item-text="name"
            outlined
            clearable
            item-value="id"
          />

          <v-row justify="center">
            <v-col cols="6">
              <v-dialog
                ref="createdAtFromMenu"
                v-model="createdAtFromMenu"
                :return-value.sync="dataFilter.createdAtStart"
                persistent
                width="290px"
              >
                <template #activator="{ on, attrs }">
                  <v-text-field
                    v-model="dataFilter.createdAtStart"
                    label="From"
                    outlined
                    prepend-inner-icon="mdi-calendar"
                    readonly
                    clearable
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="dataFilter.createdAtStart" scrollable>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="createdAtFromMenu = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="
                      $refs.createdAtFromMenu.save(dataFilter.createdAtStart)
                    "
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>
            <v-col cols="6">
              <v-dialog
                ref="createdAtToMenu"
                :return-value.sync="dataFilter.createdAtEnd"
                persistent
                width="290px"
              >
                <template #activator="{ on, attrs }">
                  <v-text-field
                    v-model="dataFilter.createdAtEnd"
                    label="To"
                    outlined
                    prepend-inner-icon="mdi-calendar"
                    readonly
                    clearable
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="dataFilter.createdAtEnd" scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="createdAtToMenu = false">
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.createdAtToMenu.save(dataFilter.createdAtEnd)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>
          </v-row>
        </v-form>
        <v-alert
          v-model="alert.isShow"
          :type="alert.type"
          dismissible
          dense
          outlined
        >
          {{ alert.msg }}
        </v-alert>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-btn color="primary" text @click="setFilter"> Simpan Filter </v-btn>

        <v-btn color="primary" text @click="dialogsModel = false">
          Batal Filter
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { InfoApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

interface FormFilter {
  rujukanSelected: string[]
  labSelected: string[]
  rujukan: string
  lab: string
  rujukanProduct: string
  productType: string
  statusTrx: string
  method: string
  createdAtStart: string
  createdAtEnd: string
}

@Component
export default class Form extends Vue {
  @Prop({ type: [Object] })
  value!: Record<string, string>
  @Prop({ type: Boolean, default: false })
  readonly filterLab!: boolean

  infoApi: InfoApi

  mounted() {
    this.infoApi = new InfoApi(this.$axios)
    this.fetchProductType()
  }

  @Watch('dataFilter.rujukanSelected')
  onRefChange(val: any) {
    if (!val) return
    const refSelected = val

    if (typeof refSelected[0] === 'object') {
      this.dataFilter.rujukan = refSelected.map(
        (index: { id: any }) => index.id
      )
      return
    }
    this.dataFilter.rujukan = refSelected.join()    
  }

  @Watch('dataFilter.labSelected')
  onLabChange(val: any) {
    if (!val) return
    const labSelected = val

    if (typeof labSelected[0] === 'object') {
      this.dataFilter.lab = labSelected.map((index: { id: any }) => index.id)
      return
    }
    this.dataFilter.lab = labSelected.join()    
  }

  @Watch('value', { immediate: true })
  onValueChange(val: any) {
    if (!val) return
    // copy object, so this will not be triggered when set dataFilter
    this.dataFilter = { ...val }
  }

  dataFilter: FormFilter = {
    rujukanSelected: [],
    labSelected: [],
    rujukan: '',
    lab: '',
    rujukanProduct: '',
    productType: '',
    statusTrx: 'paid',
    method: '',
    createdAtStart: '',
    createdAtEnd: '',
  }

  get isRoleReporter() {
    return this.$store.getters['permission/isReporter']
  }

  statusTrxList = [
    { id: 'new', name: 'Order Baru' },
    {
      id: 'paymentReceived',
      name: 'Sudah diterima',
    },
    {
      id: 'paymentFailed',
      name: 'Pembayaran Gagal',
    },
    {
      id: 'inProgress',
      name: 'Sedang di proses',
    },
    {
      id: 'paid',
      name: 'Sudah Terbayar',
    },
    {
      id: 'close',
      name: 'Pembayaran ditutup',
    },
    {
      id: 'canceled',
      name: 'Pembayaran dibatalkan',
    },
  ]

  methodsList = [
    { id: 'Cash', name: 'Tunai' },
    { id: 'Transfer', name: 'Transfer' },
  ]

  dialogsModel = false

  alert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }
  setAlert(msg: string, type: string = 'warning') {
    this.alert = {
      isShow: true,
      type,
      msg,
    }
  }

  productTypeList = []
  productTypeListLoading = false

  async fetchProductType() {
    try {
      this.productTypeListLoading = true
      const result = await this.infoApi.getProductType()
      this.productTypeList = result.filter((v: any) => !!v)
    } catch (error: any) {}
    this.productTypeListLoading = false
  }

  createdAtFromMenu = false
  createdAtToMenu = false

  createdAtStartDate = ''
  createdAtEndDate = ''

  formRequire = [(v: any) => !!v || 'Form ini harus di isi']
  $refs = {
    form: {} as any,
  }
  validateForm() {
    if (this.isRoleReporter) {
      if (
        !this.dataFilter.rujukanSelected ||
        !this.dataFilter.rujukanSelected.length
      ) {
        this.setAlert('Mohon pilih salah satu rujukan', 'warning')
        return false
      }
    }
    return true
  }

  setFilter() {
    if (!this.validateForm()) return false
    this.updateValue()
    this.dialogsModel = false
  }

  updateValue() {
    this.$emit('input', { ...this.dataFilter })
    console.log(this.dataFilter);
    
  }

  cleanFilter() {
    this.dataFilter = {
      rujukanSelected: [],
      labSelected: [],
      rujukan: '',
      lab: '',
      rujukanProduct: '',
      productType: '',
      statusTrx: '',
      method: '',
      createdAtStart: '',
      createdAtEnd: '',
    }
  }
}
</script>
