<template>
  <v-row>
    <v-col cols="12">
      <div class="font-weight-bold text-h6 mb-3">Filter</div>
      <v-row>
        <v-col cols="12" sm="6">
          <ui-form-autocomplete-headoffice
            v-model="query.headofficeIds"
            hide-details
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6">
          <ui-form-autocomplete-apotek-grup
            v-model="query.apotekGroupIds"
            :headoffice="query.headofficeIds"
            :disabled="query.headofficeIds.length !== 1"
            hide-details
          />
        </v-col>
        <v-col cols="12" sm="6">
          <ui-form-autocomplete-apotek
            v-model="query.apotekIds"
            :apotekGroup="query.apotekGroupIds"
            :disabled="query.apotekGroupIds.length !== 1"
            hide-details
          />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import {
  UiFormAutocompleteApotek,
  UiFormAutocompleteApotekGrup,
  UiFormAutocompleteHeadoffice,
} from '@inatti/shared/ui'
import { Component, Vue, Watch, Prop } from 'nuxt-property-decorator'

@Component({
  components: {
    UiFormAutocompleteApotek,
    UiFormAutocompleteApotekGrup,
    UiFormAutocompleteHeadoffice,
  },
})
export default class FilterHeadoffice extends Vue {
  @Prop() value!: any
  lastParams = {}

  get query() {
    return this.value
  }

  set query(val: any) {
    this.$emit('input', val)
  }

  @Watch('query.headofficeIds')
  onChangeHq(val) {
    if (val.length === 0) {
      this.query.apotekGroupIds = []
      this.query.apotekIds = []
      return
    }
  }

  @Watch('query.apotekGroupIds')
  onChangeApotekGrup(val) {
    if (val.length === 0) {
      this.query.apotekIds = []
      return
    }
  }
}
</script>
