<template>
  <v-select
    v-model="selected"
    label="Metode Pembayaran"
    v-bind="$props"
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  ></v-select>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import { MethodPaymentEnum } from '@inatti/shared/api-nuxt'
import { MixinSelect } from './mixinSelect'

@Component
export default class SelectPaymentMethod extends Mixins(MixinSelect) {
  listItems = Object.values(MethodPaymentEnum)
}
</script>

<style>
</style>