<template>
  <v-select
    v-model="selected"
    label="Shift kerja"
    v-bind="$props"
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  ></v-select>
</template>

<script lang="ts">
import { InfoApi } from '@inatti/shared/api-nuxt'
import { Component, Mixins } from 'vue-property-decorator'
import { MixinSelect } from './mixinSelect'

interface shiftDTO {
  id: number
  name: string
  day: number // 0 - 6
  timeStart: string
  timeEnd: string
}

@Component
export default class SelectShift extends Mixins(MixinSelect) {
  async getShift() {
    let refId = this.$store.state.refStore.refId
    this.isLoading = true
    try {
      let reference = await this.infoApi.getReferenceDetails(refId)
      this.listItems = reference.shifts.map((v: shiftDTO) => {
        return {
          id: v.id,
          name: `${v.name} (${v.timeStart} - ${v.timeEnd})`,
        }
      })
    } catch (error) {
      alert(error)
    }
    this.isLoading = false
  }

  infoApi: InfoApi

  mounted() {
    this.infoApi = new InfoApi(this.$axios)
    this.getShift()
  }
}
</script>

<style>
</style>