<template>
  <v-select
    v-model="selected"
    label="Head Quarter"
    v-bind="$props"
    :items="list"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  />
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { ApotekHeadofficeApi, ApotekHeadofficeData } from '@inatti/shared/api-nuxt'
import MixinSelect from './mixinSelect'


@Component
export default class SelectApotekHeadoffice extends mixins(MixinSelect) {
  list: ApotekHeadofficeData[] = []
  api: ApotekHeadofficeApi
  isLoading = false
  mounted(){
    this.api = new ApotekHeadofficeApi(this.$axios)
    this.fetchList()
  }

  async fetchList(){
    this.isLoading = true
    try{
      this.list = await this.api.getList()
    }catch(err){
      console.log(err)
    }
    this.isLoading = false
  }
}
</script>