<template>
  <v-select
    v-model="selected"
    label="Product Test Covid"
    v-bind="$props"
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  ></v-select>
</template>

<script lang="ts">
import { Component, Mixins } from 'vue-property-decorator'
import { InfoApi, InfoReferenceDTO } from '@inatti/shared/api-nuxt'
import { MixinSelect } from './mixinSelect'

export interface IProductSelected {
  id: number
  name: string
  item: InfoReferenceDTO.Product
}

@Component
export default class SelectProduct extends Mixins(MixinSelect) {
  async getProduct() {
    let refId = this.$store.state.refStore.refId
    this.isLoading = true
    try {
      let reference: InfoReferenceDTO.InfoReference = await this.infoApi.getReferenceDetails(refId)
      this.listItems = reference.products.map(
        (v: InfoReferenceDTO.Product): IProductSelected => {
          return {
            id: v.id,
            name: `${v.product.name} (Rp. ${v.price})`,
            item: v,
          }
        }
      )
    } catch (error) {
      alert(error)
    }
    this.isLoading = false
  }

  infoApi: InfoApi

  mounted() {
    this.infoApi = new InfoApi(this.$axios)
    this.getProduct()
  }
}
</script>

<style>
</style>