<template>
  <v-select
    v-model="selected"
    label="Unit Bisnis"
    :multiple="multiple"
    clearable
    outlined
    dense
    :items="list"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  />
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { ApotekGroupApi } from '@inatti/shared/api-nuxt'
import MixinSelect from './mixinSelect'
import { Prop } from 'vue-property-decorator'

@Component
export default class SelectApotekGroup extends mixins(MixinSelect) {
  list: [] = []
  api: ApotekGroupApi
  isLoading = false

  @Prop({
    type: Boolean,
    default: false
  })
  multiple!: boolean

  mounted() {
    this.api = new ApotekGroupApi(this.$axios)
    this.fetchList()
  }

  async fetchList() {
    this.isLoading = true
    try {
      this.list = await this.api.get(false, null)
    } catch (err) {
      console.log(err)
    }
    this.isLoading = false
  }
}
</script>
