<template>
  <div>
    <common-toolbar>
      <div>Patient Medical Record</div>
    </common-toolbar>
    <feature-telefarmasi-database-pmr-detail
      :patient-id="patientId"
      :pmr-id="pmrId"
      :branch-id="apotekId"
      :is-edit="true"
      :isApotek="false"
      :readonly="true"
    />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class MedicalRecordForm extends Vue {
  get pmrId() {
    return this.$route.params.id
  }

  get patientId() {
    return this.$route.query.patientId
  }

  get apotekId() {
    return this.$route.query.apotekId
  }
}
</script>
