<template>
  <div>
    <v-row justify="center">
      <v-col cols="16">
        <v-text-field
          v-model="dataLab.name"
          name="name"
          label="Name"
          clearable
        />
      </v-col>

      <v-col cols="16">
        <v-select v-model="dataLab.tenantId" label="Tenant" :items="tenantLabs" />
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <v-text-field
          v-model="dataLab.narLabId"
          name="nar-id"
          label="Nar ID"
          clearable
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      tenantLabs: ["1","2","3"],
    }
  },
  computed: {
    dataLab: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      },
    },
  },
}
</script>
