<template>
  <v-simple-table class="mt-14">
    <template #default>
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Tenant</th>
          <th class="text-left">Nar ID</th>
          <th class="text-left">Date Created</th>
          <th class="text-left">Edit / Hapus Data</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, key) in dataLab" :key="item.id">
          <td>{{ item.name }}</td>
          <td>{{ item.tenantId }}</td>
          <td>{{ item.narLabId === null ? "none" : item.narLabId }}</td>
          <td>{{ item.createdAt.substr(0, 10) }}</td>
          <td class="d-flex">
            <v-btn icon class="mr-3" @click="$emit('edit-lab', key)">
              <v-icon color="#424242"> mdi-pencil </v-icon>
            </v-btn>
            <v-btn icon @click="$emit('delete-lab', item.id)">
              <v-icon color="#424242" size="24">mdi-trash-can</v-icon>
            </v-btn>
          </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
export default {
  props: {
    dataLab: {
      type: Array,
      default: () => {
        return []
      }
    }
  }
}
</script>
