<template>
  <div>
    <common-toolbar no-back> Vaksin Pasien </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination-filter
          v-model="dataResult"
          :isShowFilter="false"
          search
          search-hint="Cari berdasarkan Nama atau NIK"
          @change="fetchVaccine"
        >
          <div
            class="d-flex py-4 justify-space-between align-center"
            style="width: 100%"
          >
            <div>
              <ui-form-select-reference
                v-model="filterReferenceSelected"
                multiple
                @input="fetchVaccine(currentQuery)"
                hide-details
              />
            </div>
            <div class="d-flex justify-center flex-column align-end">
              <ui-table-filter-select
                v-model="filterStatusSelected"
                :filters="listFilter"
                @input="fetchVaccine(currentQuery)"
                :mandatory="true"
              />
              <v-btn
                :loading="isLoadingDownloadExcel"
                @click="onDownloadExcel"
                color="primary"
              >
                DOWNLOAD EXCEL
              </v-btn>
            </div>
          </div>
          <v-data-table
            :headers="vaccineTableHeader"
            :items="vaccineItems"
            :loading="isLoading"
            hide-default-footer
            disable-pagination
          >
            <template #[`item.customColumn1`]="{ item }">
              <div>
                <strong>
                  {{ item.customColumn1.name }}
                </strong>
              </div>
              <div>
                {{ item.customColumn1.gender }}
              </div>
            </template>
            <template #[`item.customColumn2`]="{ item }">
              <common-chip-payment
                v-if="item.customColumn2.statusOrder"
                label
                small
                :status="item.customColumn2.statusOrder"
              />
              <div>
                {{ item.customColumn2.method }}
              </div>
            </template>
            <template #[`item.customColumn3`]="{ item }">
              <div>
                <ui-chip-status-vaksin
                  v-if="item.statusVaksin"
                  label
                  small
                  :status="item.statusVaksin"
                />
              </div>
              <div>
                {{ item.customColumn3.dateTest }}
              </div>
            </template>
          </v-data-table>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { UiTablePaginationFilter } from '@inatti/shared/ui'
import {
  VaksinApi,
  StatusVaksinMapping,
  PatientVaksinDetailDto,
  StatusVaksinEnum,
} from '@inatti/shared/api-nuxt'
import { DataTableHeader } from 'vuetify/types/index'
import {
  GenderEnum,
  MethodPaymentEnum,
  StatusOrderEnum,
} from '@inatti/shared/dtos'

interface TableVaccineItem {
  id: string
  customColumn1: {
    name: string
    gender: GenderEnum | string | null
  }
  passport: string
  nik: string
  datebirth: Date | string
  customColumn2: {
    statusOrder: StatusOrderEnum | string
    method: MethodPaymentEnum
  }
  statusVaksin: StatusVaksinEnum | string
  customColumn3: {
    dateTest: Date | string
  }
  createdAt: Date | string
  reference: string
}

@Component({ components: { UiTablePaginationFilter } })
export default class ListVaccine extends Vue {
  filterStatusSelected = 'AlreadyVaksin'
  filterReferenceSelected = []
  listFilter = [
    {
      text: 'Sudah Vaksin',
      value: 'AlreadyVaksin',
    },
    {
      text: 'Belum Vaksin',
      value: '',
    },
  ]
  vaccineTableHeader = [
    {
      text: 'Pasien',
      value: 'customColumn1',
      sortable: false,
    },
    {
      text: 'No. Passpor',
      value: 'passport',
      sortable: false,
    },
    {
      text: 'NIK',
      value: 'nik',
      sortable: false,
    },
    {
      text: 'Tanggal Lahir',
      value: 'datebirth',
      sortable: false,
    },
    {
      text: 'Status Bayar',
      value: 'customColumn2',
      sortable: false,
    },
    {
      text: 'Status & Tanggal Test',
      value: 'customColumn3',
      sortable: false,
    },
    {
      text: 'Tanggal Dibuat',
      value: 'createdAt',
      sortable: false,
    },
    {
      text: 'Rujukan',
      value: 'reference',
      sortable: false,
    },
  ] as DataTableHeader[]
  vaccineItems = [] as TableVaccineItem[]
  dataResult = {}
  currentQuery = null
  isLoading = true

  vaksinApi = new VaksinApi(this.$axios)

  isLoadingDownloadExcel = false

  async onDownloadExcel() {
    try {
      this.isLoadingDownloadExcel = true
      const resp = await this.vaksinApi.downloadExcelByAdmin({
        ...this.currentQuery,
        'filter[status]': this.filterStatusSelected,
        'filter[refId]': this.filterReferenceSelected,
      })
      this.$utils.saveFile({
        byteArray: resp,
        fileName: `Vaksin ${this.$utils.dateTimeFormat(new Date())}`,
        extension: 'xlsx',
      })
    } catch (error) {
    } finally {
      this.isLoadingDownloadExcel = false
    }
  }

  async fetchVaccine(params: any = {}) {
    this.currentQuery = params
    try {
      this.isLoading = true
      const result = await this.vaksinApi.get({
        ...params,
        'filter[status]': this.filterStatusSelected,
        'filter[refId]': this.filterReferenceSelected,
      })
      this.dataResult = result
      this.vaccineItems = this.parseToTable(result.results)
    } finally {
      this.isLoading = false
    }
  }

  statusVaksinMapping: any = StatusVaksinMapping

  parseToTable(data: PatientVaksinDetailDto.VaksinDetail[]) {
    let vaccineTableData: TableVaccineItem[] = []
    for (let i = 0; i < data.length; i++) {
      const item: PatientVaksinDetailDto.VaksinDetail = data[i]
      vaccineTableData.push({
        id: item.id,
        customColumn1: {
          name: item.patient?.name,
          gender: item.patient?.gender,
        },
        passport: item.patient?.passport,
        nik: item.patient?.nik,
        datebirth: item.patient?.datebirth,
        customColumn2: {
          statusOrder: item.orderTrx?.status,
          method: item.orderTrx?.method,
        },
        statusVaksin: item.vaksinDateAt
          ? 'vaccine'
          : item.checkinDateAt
          ? 'checkin'
          : 'registered',
        customColumn3: {
          dateTest: item.vaksinDateAt
            ? new Date(item.vaksinDateAt.toString()).toLocaleString()
            : null,
        },
        createdAt: new Date(item.createdAt.toString()).toLocaleString(),
        reference: item.ref?.name,
      })
    }
    return vaccineTableData
  }

  created() {
    this.fetchVaccine({
      'filter[date]': 'today',
    })
  }

  $utils: any
}
</script>

<style></style>
