<template>
  <section class="relative">
    <page-invoice-header />

    <section class="mt-7">
      <table width="100%" class="table-auto">
        <tbody class="font-bold">
          <tr>
            <td class="w-32">Nomor Invoice</td>
            <td>:</td>
            <td>{{ invoiceDetail.id }}</td>
          </tr>
          <tr>
            <td>Tanggal</td>
            <td>:</td>
            <td class="font-normal">{{ invoiceDetail.date }}</td>
          </tr>
          <tr>
            <td>Pembayaran</td>
            <td>:</td>
            <td class="font-normal">{{ invoiceDetail.paymentMethod }}</td>
          </tr>
          <tr>
            <td>Sampling Point</td>
            <td>:</td>
            <td v-if="invoiceDetail.samplingPoint">
              {{ invoiceDetail.samplingPoint }}
            </td>
            <td v-else>-</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="mt-5">
      <table width="100%">
        <thead>
          <tr>
            <td
              colspan="4"
              class="border border-black font-bold pl-1.5 py-2 bg-blue-300"
            >
              Ringkasan Pembayaran
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-black font-bold pl-1.5 w-96">
              Total Transaksi
            </td>
            <td class="border border-black text-center">Qty</td>
            <td class="border border-black text-center">Harga</td>
            <td class="border border-black text-center">Total Harga</td>
          </tr>
          <tr v-for="(transaction, index) in paymentSummary" :key="index">
            <td class="border border-black pl-1.5">
              {{
                `${product.description}`
              }}
            </td>
            <td class="border border-black text-center">1</td>
            <td class="border border-black text-right pr-1.5">
              {{ $toIdr(transaction.price) }}
            </td>
            <td class="border border-black text-right pr-1.5">
              {{ $toIdr(transaction.price) }}
            </td>
          </tr>
          <tr>
            <td class="border border-black font-bold pl-1.5">
              Subtotal Belanja
            </td>
            <td
              colspan="3"
              class="border border-black font-bold text-right pr-1.5"
            >
              {{ $toIdr(invoiceDetail.subTotalPayment) }}
            </td>
          </tr>
          <tr>
            <td class="border border-black font-bold pl-1.5">Biaya Admin</td>
            <td colspan="3" class="border border-black text-right pr-1.5">
              {{ $toIdr(invoiceDetail.adminFee) }}
            </td>
          </tr>
          <tr class="bg-green-100">
            <td class="border border-black font-bold text-right text-2xl pr-2">
              Total Bayar
            </td>
            <td
              colspan="3"
              class="border border-black font-bold text-right text-2xl py-2 pr-1.5"
            >
              {{ $toIdr(invoiceDetail.totalPrice) }}
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="text-right pt-5">
      <div class="text-sm w-52 inline-block text-center">
        <div class="font-bold">Scan QR Code</div>
        <img :src="qrCode.image" class="w-32 inline" alt="QR Code" />
        <div>{{ invoiceDetail.id }}</div>
      </div>
    </section>

    <section
      v-if="invoiceDetail.isPaid"
      class="absolute top-96 left-0 right-0 font-bold text-7xl lg:text-8xl text-center uppercase transform -rotate-45 opacity-10"
    >
      SUDAH LUNAS
    </section>
  </section>
</template>

<script lang="ts">
import { Context } from '@nuxt/types'
import { InvoiceDetail } from 'apps/template-pdf/utils/types'
import { generateQRCode } from 'apps/template-pdf/utils/GenerateQRCode'

export default {
  async asyncData(context: Context) {
    // example inv : INATTI-TEST-4-5ZO5BR6-1657512474103
    const { inv } = context.query
    const result: null | InvoiceDetail = await context.$axios.$get(
      '/template-api/invoice-detail/' + inv
    )

    if (!result) {
      return null
    }

    const paymentSummary = result?.orderSwab

    const invoiceDetail = {
      id: result?.invId,
      totalPrice: result?.totalPrice,
      adminFee: result?.feeAdmin ?? 0,
      date: result?.createdAt
        ? context.$dateFns.format(new Date(result.createdAt), 'dd MMM yyyy')
        : '-',
      paymentMethod: result?.method === 'Cash' ? 'Tunai' : 'Transfer',
      isPaid: result?.status === 'paid',
      samplingPoint: result?.reference?.name,
      subTotalPayment: paymentSummary
        .map((x) => x.price)
        .reduce((prevPrice, currPrice) => prevPrice + currPrice),
    }

    const product = result?.product.product

    const valueQrCode = invoiceDetail.id

    const qrCode = {
      value: valueQrCode,
      image: await generateQRCode(valueQrCode),
    }

    return { invoiceDetail, paymentSummary, product, qrCode }
  },
}
</script>
