<template>
  <div>
    <v-data-table
      v-if="tableItems.length"
      :headers="tableHeader"
      :items="tableItems"
      :items-per-page="3"
      :loading="isLoading"
    />
    <tool-analyze-vazyment3-chart v-model="graphResult" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { ResultTypeVazyment3 } from '@inatti/mapping-analyze-result'
import { LabAnalyzeResultEntity } from '@inatti/shared/api-nuxt'

@Component
export default class ResultSummaryVazyment3Component extends Vue {
  @Prop([Object]) readonly value!: LabAnalyzeResultEntity
  tableHeader = [] as any[]
  tableItems = [] as any[]
  isLoading = false

  mounted() {
    this.mapData()
  }
  graphResult = null

  @Watch('value')
  mapData() {
    if (!this.value.sampleSession) {
      return
    }

    const { headers, item } = this.mapTable(this.value.resultRaw)
    this.tableHeader = headers
    this.tableItems = item

    this.graphResult = this.value.resultRaw.drn
  }

  mapTable(resultRaw: ResultTypeVazyment3): { headers: any; item: any } {
    const headers = [
      'Sample Name',
      'Well',
      'Target',
      'Reporter',
      'Ct',
      'Test Result',
    ]
    return {
      headers: headers.map((v) => ({ text: v, value: v })),
      item: resultRaw.rows,
    }
  }
}
</script>

<style>
</style>