<template>
  <div>
    <div class="text-h5">Hasil Vazyment 3</div>
    <v-row align="center" class="my-3">
      <v-col md="3">
        <tool-menu-status
          :value="tableItem.filter((v) => v.isChecked)"
          :session="$route.params.id"
          :lab="$route.query.labId"
          @update="$emit('update')"
        />
      </v-col>
      <v-spacer />
      <v-col v-if="value.attachedFile" md="3" class="text-right">
        File tambahan :
        <v-btn
          v-if="value.attachedFile.s3"
          color="primary"
          small
          target="_blank"
          :href="value.attachedFile.s3.Location"
        >
          <v-icon>mdi-file</v-icon> {{ value.attachedFile.originalName }}
        </v-btn>
      </v-col>
    </v-row>
    <v-data-table
      :headers="tableHeader"
      :items="tableItem"
      :expanded.sync="tableExpanded"
      :item-class="getClassRow"
      item-key="no"
      dense
      show-expand
    >
      <template #expanded-item="{ headers, item }">
        <td v-if="item.expandedData" :colspan="headers.length">
          <div>
            <v-data-table
              dense
              :headers="item.expandedData.headers"
              :items="item.expandedData.item"
            />
          </div>
          <tool-analyze-vazyment3-chart v-model="item.resultToolRaw.drn" />
        </td>
      </template>
      <template #item.checkCol="{ item }">
        <v-simple-checkbox
          v-if="isAbleToCheck(item)"
          v-model="item.isChecked"
        />
      </template>
      <template #item.typeSample="{ item }">
        <span>
          {{ getTypeSample(item) }}
        </span>
      </template>
      <template #item.resultDataSuggestedResult="{ item }">
        <common-result-chip
          v-if="item.resultDataSuggestedResult"
          v-model="item.resultDataSuggestedResult"
        />
      </template>
      <template #item.resultDataFinalResult="{ item }">
        <common-result-chip
          v-if="item.resultDataFinalResult"
          v-model="item.resultDataFinalResult"
        />
      </template>
      <template #item.action="{ item }">
        <nuxt-link v-if="item.patientId" :to="'/sample-swab/' + item.patientId">
          <v-icon> mdi-eye </v-icon>
        </nuxt-link>
      </template>
    </v-data-table>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import {
  ObjectResultTypeVazyment3,
  ResultTypeVazyment3,
} from '@inatti/mapping-analyze-result'
import { NumberToA1 } from '../../../../helper/table'
import { ReadExtractionDTO } from '@inatti/shared/api-nuxt'

@Component
export default class ResultVazyment3Component extends Vue {
  created() {}

  @Prop([Object])
  value!: ReadExtractionDTO.Session

  mounted() {
    this.updateTable()
  }

  @Watch('value')
  onValuChange(_val: any) {
    this.updateTable()
  }

  tableHeader = [
    { text: '', value: 'data-table-expand' },
    { text: '', value: 'checkCol' },
    {
      text: 'Nomor',
      value: 'no',
    },
    {
      text: 'Type Sample',
      value: 'typeSample',
    },
    {
      text: 'Map Position',
      value: 'mapDataPosition',
    },
    {
      text: 'Map Nama Sample',
      value: 'mapDataName',
    },
    {
      text: 'Map Tanggal Lahir',
      value: 'mapDataDateBirth',
    },
    {
      text: 'Result Position',
      value: 'resultDataPosition',
    },
    {
      text: 'Result Nama Sample',
      value: 'resultDataSampleName',
    },
    {
      text: 'Suggested Result',
      value: 'resultDataSuggestedResult',
    },
    {
      text: 'Final Result',
      value: 'resultDataFinalResult',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]
  tableItem: {
    idSample?: any // id sample of session = session detail id
    patientId?: any // patient id
    actionDetail?: any
    action?: any
    no: any
    mapDataPosition: any
    mapDataName: any
    mapDataDateBirth: any
    resultDataPosition: any
    resultDataSampleName: any
    resultDataSuggestedResult: any
    resultDataFinalResult: any
    expandedData?: {
      headers: any
      item: any
    }
    resultToolRaw: any
    isControl?: boolean
    isChecked?: boolean
  }[] = []
  tableExpanded = []

  updateTable() {
    this.tableItem = []
    const { usedRow } = this.mapRowSinkron()
    this.mapRowUnSinkron(usedRow)
  }

  getExpandedData(resultRaw: ResultTypeVazyment3): { headers: any; item: any } {
    const headers = [
      'Sample Name',
      'Well',
      'Target',
      'Reporter',
      'Ct',
      'Test Result',
    ]
    return {
      headers: headers.map((v) => ({ text: v, value: v })),
      item: resultRaw.rows,
    }
  }

  mapRowSinkron() {
    const usedRow = []
    for (const mappedRow of this.value.mapping) {
      if (!mappedRow.resultTool) continue

      const mapDataPosition = NumberToA1({
        row: mappedRow.locateRow,
        col: mappedRow.locateColumn,
      })
      const mapDataName = mappedRow.isControl
        ? mappedRow.controlName
        : mappedRow.sample.patient.name
      const mapDataDateBirth = !mappedRow.isControl
        ? mappedRow.sample.patient.datebirth
        : null
      const resultDataFinalResult = mappedRow.resultTool.resultSummary

      const resultToolRaw: ResultTypeVazyment3 = mappedRow.resultTool.resultRaw

      const resultDataPosition = resultToolRaw.well
      const resultDataSampleName = resultToolRaw.rows.length
        ? resultToolRaw.rows[0]['Sample Name']
        : null
      const resultDataSuggestedResult = resultToolRaw.result
      const idSample = mappedRow.id

      this.tableItem.push({
        idSample,
        patientId: mappedRow.sample?.id ?? null,
        no: this.tableItem.length + 1,
        mapDataPosition,
        mapDataName,
        mapDataDateBirth,
        resultDataPosition,
        resultDataSampleName,
        resultDataSuggestedResult,
        resultDataFinalResult,
        expandedData: this.getExpandedData(mappedRow.resultTool.resultRaw),
        resultToolRaw,
        isControl: mappedRow.isControl,
      })
      usedRow.push(resultToolRaw.well)
    }

    return {
      usedRow,
    }
  }

  mapRowUnSinkron(usedRow: string[]) {
    const allResult: ObjectResultTypeVazyment3 = this.value.result
    for (const well of Object.keys(allResult)) {
      if (usedRow.includes(well)) continue
      const resultToolRaw = allResult[well]

      const resultDataPosition = resultToolRaw.well
      const resultDataSampleName = resultToolRaw.rows.length
        ? resultToolRaw.rows[0]['Sample Name']
        : null
      const resultDataSuggestedResult = resultToolRaw.result

      this.tableItem.push({
        no: this.tableItem.length + 1,
        mapDataPosition: null,
        mapDataName: null,
        mapDataDateBirth: null,
        resultDataPosition,
        resultDataSampleName,
        resultDataSuggestedResult,
        resultDataFinalResult: null,
        expandedData: this.getExpandedData(resultToolRaw),
        resultToolRaw,
      })
    }
  }

  getClassRow(item: any) {
    if (!item.resultDataPosition) return 'row__unsync red accent-4 white--text'

    if (item.isControl) return 'row__control orange--text accent-4'

    if (item.idSample) return 'row__sample indigo--text darken-3'
    return 'row__unsync red accent-4 white--text'
  }

  isAbleToCheck(item: any) {
    return !item.isControl && item.idSample
  }

  getTypeSample(item: any) {
    if (!item.idSample) return 'Tidak Sinkron'
    let type = item.isControl ? 'Control' : 'Sample'
    if (!item.resultDataPosition) {
      type = type + '(Tidak sinkron)'
    }
    return type
  }
}
</script>

<style>
</style>