<template>
  <v-form ref="form" lazy-validation>
    <div>
      <v-row>
        <v-col cols="12">
          <page-telefarmasi-regis-content head-text="Identitas">
            <v-row class="white mx-3 my-0">
              <v-col cols="12">
                <v-text-field
                  v-model="form.name"
                  label="Nama Lengkap"
                  :rules="[rules.required]"
                  v-bind="attrForm"
                  hint="Nama Lengkap Sesuai KTP"
                  persistent-hint
                ></v-text-field>
                <v-select
                  v-model="form.type"
                  :items="options.typeIdentity"
                  :rules="[rules.required]"
                  v-bind="attrForm"
                  label="Tipe identitas"
                  single-line
                  item-text="text"
                  item-value="value"
                ></v-select>
                <v-text-field
                  v-model="form.nik"
                  label="No. NIK"
                  :rules="
                    form.type !== 'passport'
                      ? [...rules.required, ...rules.idNumberNik]
                      : rules.idNumberNik
                  "
                  v-bind="attrForm"
                  @blur="form.type === 'passport' ? false : parseNikToData()"
                ></v-text-field>
                <v-text-field
                  v-model="form.passport"
                  label="No. Passport"
                  :rules="form.type === 'passport' ? [rules.required] : []"
                  v-bind="attrForm"
                ></v-text-field>
                <v-select
                  v-model="form.gender"
                  :items="options.genders"
                  item-value="id"
                  item-text="text"
                  label="Jenis Kelamin"
                  v-bind="attrForm"
                ></v-select>
                <v-text-field
                  v-model="form.placebirth"
                  label="Tempat Lahir"
                  v-bind="attrForm"
                ></v-text-field>
                <v-select
                  v-model="form.bloodtype"
                  :items="options.bloodTypes"
                  item-value="id"
                  item-text="text"
                  label="Golongan Darah"
                  v-bind="attrForm"
                ></v-select>
                <v-menu
                  v-model="datebirthDialog"
                  v-bind="attrForm"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template #activator="{ on, attrs }">
                    <v-text-field
                      v-model="form.datebirth"
                      label="Tanggal Lahir"
                      prepend-inner-icon="mdi-calendar"
                      readonly
                      dense
                      hint="YYYY-MM-DD format"
                      persistent-hint
                      v-bind="attrs"
                      outlined
                      :rules="[ ]"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="form.datebirth"
                    @input="datebirthDialog = false"
                  ></v-date-picker>
                </v-menu>
                <v-text-field
                  v-model="form.weight"
                  label="Berat Badan"
                  suffix="Kg"
                  v-bind="attrForm"
                ></v-text-field>
                <v-text-field
                  v-model="form.height"
                  suffix="Cm"
                  label="Tinggi Badan"
                  v-bind="attrForm"
                ></v-text-field>
                <v-text-field
                  v-model="form.job"
                  label="Pekerjaan"
                  v-bind="attrForm"
                ></v-text-field>
                <ui-form-select-phone-code
                  v-model="form.phonenumber"
                  hint-phone="No. Telepon / WA harus diisi."
                  hint-country-code=""
                  :attr-form="attrForm"
                />
                <v-text-field
                  v-model="form.email"
                  label="Email"
                  :rules="rules.email"
                  v-bind="attrForm"
                  persistent-hint
                ></v-text-field>
              </v-col>
            </v-row>
          </page-telefarmasi-regis-content>
        </v-col>
        <v-col cols="12">
          <page-telefarmasi-regis-content
            :head-text="
              form.type === 'passport' ? 'Alamat' : 'Alamat Sesuai KTP'
            "
          >
            <v-row class="white mx-3 my-0">
              <v-col cols="12">
                <v-textarea
                  v-model="form.address"
                  :rules="[rules.required]"
                  v-bind="attrForm"
                  label="Alamat"
                  hint="Alamat Lengkap Sesuai KTP"
                  persistent-hint
                ></v-textarea>
                <ui-form-select-provinsi
                  v-model="form.provinsi"
                  :rules="form.type === 'nik' ? [rules.required] : []"
                />
                <ui-form-select-kabupaten
                  v-model="form.kabupaten"
                  :provinsi="form.provinsi"
                  :rules="form.type === 'nik' ? [rules.required] : []"
                />
                <ui-form-select-kecamatan
                  v-model="form.kecamatan"
                  :kabupaten="form.kabupaten"
                  :rules="rules.type === 'nik' ? [rules.required] : []"
                />
                <ui-form-select-kelurahan
                  v-model="form.kelurahan"
                  :kecamatan="form.kecamatan"
                  :rules="form.type === 'nik' ? [rules.required] : []"
                />
                <v-checkbox
                  v-model="isDomicilieIdCardAddress"
                  class="mt-0"
                  label="Alamat Domisili Sesuai KTP"
                ></v-checkbox>
              </v-col>
            </v-row>
          </page-telefarmasi-regis-content>
        </v-col>
        <v-col v-if="!isDomicilieIdCardAddress" cols="12">
          <page-telefarmasi-regis-content head-text="Alamat Domisili">
            <v-row class="white mx-3 my-0">
              <v-col cols="12">
                <v-textarea
                  v-model="form.addressDomisili"
                  :rules="[rules.required]"
                  v-bind="attrForm"
                  label="Alamat Domisili"
                  hint="Alamat Domisili"
                  persistent-hint
                ></v-textarea>
                <ui-form-select-provinsi
                  v-model="form.domisiliProvinsi"
                  :rules="[rules.required]"
                />
                <ui-form-select-kabupaten
                  v-model="form.domisiliKabupaten"
                  :provinsi="form.domisiliProvinsi"
                  :rules="[rules.required]"
                />
                <ui-form-select-kecamatan
                  v-model="form.domisiliKecamatan"
                  :kabupaten="form.domisiliKabupaten"
                  :rules="[rules.required]"
                />
                <ui-form-select-kelurahan
                  v-model="form.domisiliKelurahan"
                  :kecamatan="form.domisiliKecamatan"
                  :rules="[rules.required]"
                />
              </v-col>
            </v-row>
          </page-telefarmasi-regis-content>
        </v-col>
      </v-row>
    </div>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { format, isValid, parse } from 'date-fns'

@Component
export default class CorePatientForm extends Vue {
  @Prop({ type: [Object] })
  value!: object

  get form(): any {
    return this.value
  }

  set form(val) {
    this.$emit('input', val)
  }

  options = {
    typeIdentity: [
      { text: 'NIK', value: 'nik' },
      { text: 'Passport', value: 'passport' },
    ],
    genders: [
      {
        id: 'lk',
        text: 'Laki-laki',
      },
      {
        id: 'pr',
        text: 'Perempuan',
      },
    ],
    bloodTypes: ['AB', 'A', 'B', 'O'],
    phoneCountryCodes: [
      '+62',
      '1-684',
      '54',
      '61',
      '43',
      '297',
      '91',
      '358-18',
      '994',
      '353',
      '380',
      '974',
      '258',
    ],
  }
  $utils: any
  rules = {
    idNumberNik: [
      (v: any) => (!v || /^$|\d+/.test(v)) || 'No. NIK harus berupa angka.',
      (v: any) =>
        (!v || v.length === 16) || 'No. NIK harus memiliki 16 digit nomor.',
    ],
    required: (v: any) => !!v || 'Form ini wajib diisi',
    countryCode: [
      (v: any) => !!v || 'kode negara harus diisi',
      (v: any) =>
        this.$utils.validateCountryCode(v) || 'kode negara harus berupa angka',
    ],
    phone: [
      (v: any) => !!v || 'No. Telepon / WA harus diisi.',
      (v: any) =>
        this.$utils.validatePhoneNumber(v) || 'No. Telepon / WA Tidak valid.',
    ],
    email: [
      (v: any) =>
        v &&
        v.length > 0 &&
        !/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v)
          ? 'Format Email Tidak Valid'
          : true,
    ],
  }
  debounce = null
  attrForm = {
    outlined: true,
    dense: true,
    readonly: false,
  }
  isDataRelations = false
  isDomicilieIdCardAddress = false
  datebirthDialog = false

  @Watch('isDomicilieIdCardAddress')
  onSameAddress(val: any) {
    if (val) {
      this.form.domisiliProvinsi = this.form.provinsi
      this.form.domisiliKabupaten = this.form.kabupaten
      this.form.domisiliKecamatan = this.form.kecamatan
      this.form.domisiliKelurahan = this.form.kelurahan
      this.form.addressDomisili = this.form.address
    } else {
      this.form.domisiliProvinsi = null
      this.form.domisiliKabupaten = null
      this.form.domisiliKecamatan = null
      this.form.domisiliKelurahan = null
      this.form.addressDomisili = ''
    }
  }

  parseAddress() {
    if (this.form.nik.length >= 6) {
      const kecamatan = this.form.nik.slice(0, 6)
      const kabupaten = kecamatan.slice(0, 4)
      const provinsi = kabupaten.slice(0, 2)
      this.form.provinsi = +provinsi
      this.form.kabupaten = +kabupaten
      this.form.kecamatan = +kecamatan
    }
  }

  parseDateBirth() {
    if (this.form.nik.length >= 12) {
      const dateFromId = this.form.nik.slice(6, 12)
      let day = dateFromId.slice(0, 2)
      const month = dateFromId.slice(2, 4)
      const year = dateFromId.slice(4, 6)

      // KTP perempuan tanggal lahir nya + 40
      if (day > 40) {
        day = day - 40
        this.form.gender = 'pr'
      } else {
        this.form.gender = 'lk'
      }

      // parsing incorrect format, will cause problem
      try {
        const parseDate = parse(
          `${year}-${month}-${day}`,
          'yy-MM-dd',
          Date.now()
        )
        if (!isValid(parseDate)) {
          this.form.datebirth = null
          return
        }
        const dateBirth = format(parseDate, 'yyyy-MM-dd')
        this.form.datebirth = dateBirth
      } catch (err) {}
    }
  }
  parseNikToData() {
    if (!this.form.nik) return
    this.parseAddress()
    this.parseDateBirth()
  }
  $refs: any
  validateForm() {
    return this.$refs.form.validate()
  }
}
</script>
