<template>
  <div>
    <common-toolbar no-back>
      Pengaturan Pesan Apoteker
      <template #control>
        <v-btn
          color="primary"
          :loading="isLoadingSaveSetting"
          @click="onSaveSetting"
        >
          Simpan Pengaturan
        </v-btn>
      </template>
    </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text v-if="form">
        <v-alert
          v-if="alertForm.isShow"
          :icon="alertForm.icon"
          :type="alertForm.type"
          dismissible
        >
          {{ alertForm.msg }}
        </v-alert>
        <v-row>
          <v-col cols="12">
            <span class="subtitle-1 font-weight-medium">
              Pengaturan Whatsapp Pesan untuk Apoteker dari User
            </span>
            <v-divider class="mb-4 mt-3" />
            <v-row class="mt-2">
              <v-col md="6" cols="12">
                <v-textarea
                  v-model="form.value"
                  auto-grow
                  label="Isi Pesan Whatsapp"
                  row-height="80"
                  outlined
                ></v-textarea>
              </v-col>
              <v-col md="6" cols="12">
                <common-card-content
                  :max-length="300"
                  title="Pratinjau Pesan Whatsapp"
                  :value="
                    outputPreview(form.value)
                  "
                />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { AdminApi } from '@inatti/shared/api-nuxt'

@Component
export default class WhatsappServiceComponent extends Vue {
  form = {} as any
  isLoading = false
  isLoadingSaveSetting = false
  alertForm = {
    isShow: false,
    msg: '',
    type: '',
  }
  adminApi!: AdminApi

  mounted() {
    this.adminApi = new AdminApi(this.$axios)
    this.fetchTemplateMessage()
  }

  outputPreview(val: string) {
    if (val) {
      val = val
        .replace('{urlPasien}', 'https://apotek.inatti.id/patient/c0584e5a-360d-4fb0-bf9f-19f4e57fb643')
      return val
    }
    return val
  }

  showAlert(type: string, msg: string) {
    this.alertForm = {
      isShow: true,
      msg,
      type,
    }
  }

  async onSaveSetting() {
    try {
      this.isLoadingSaveSetting = true
      await this.adminApi.updateAppConfig(this.form.id, this.form)
      this.showAlert('success', 'Sukses Update Pengaturan Pesan Apoteker')
    } catch (error) {
      this.showAlert('warning', 'Gagal Update Pengaturan Pesan Apoteker. ' + error)
    } finally {
      this.isLoadingSaveSetting = false
    }
  }

  async fetchTemplateMessage() {
    try {
      this.isLoading = true
      const resp = await this.adminApi.getAppConfig('WA_PREMESSAGE_APOTEKER')
      this.form = resp
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }
}
</script>
