<template>
  <div>
    <common-toolbar>
      Pengaturan Informasi Lab
    </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <v-row>
          <v-col md="4">
            <v-btn v-if="defaultForm.disabled" color="primary" @click="formDisabled(false)">
              Edit
            </v-btn>
            <v-btn v-else color="primary" :loading="isLoading" @click="saveInformation()">
              Simpan
            </v-btn>
            <div class="mt-3">
              <v-text-field
                v-model="form.name"
                v-bind="defaultForm"
                label="Nama Lab"
              />
              <v-select
                v-model="form.config.timezone"
                v-bind="defaultForm"
                label="Zona Waktu"
                :items="['WIB', 'WITA', 'WIT']"
              />
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class SettingInformationComponents extends Vue {
  mounted(){
    this.fetchInformations()
  }

  defaultForm = {
    outlined: true,
    disabled: true,
  }

  form = {
    name: '',
    config: {
      timezone: null
    }
  }

  formDisabled(val:boolean){
    this.defaultForm.disabled = val
  }

  isLoading = false
  async fetchInformations(){
    let { labId } = this.$route.query
    this.isLoading = true
    try{
      let res:any = await this.$axios.$get('/api-lab/setting/information', {
        params: {
          idlab: labId
        }
      })
      if(!res){
        throw new Error("No response found")
      }
      this.form.name = res.name
      if(res.config){
        this.form.config = res.config
      }
    }catch(err){
      console.log(err)
    }
    this.isLoading = false
  }

  async saveInformation(){
    try{
      let { labId } = this.$route.query
      if(!this.form.name){
        throw new Error("Nama lab kosong")
      }
      this.isLoading = true
      await this.$axios.$patch('/api-lab/setting/information?idlab=' + labId, this.form)
      this.defaultForm.disabled = true
    } catch(err){
      console.log(err)
    }
    this.isLoading = false
  }
}
</script>