<template>
  <v-dialog v-model="valueModel" persistent scrollable max-width="400px">
    <v-card>
      <v-card-title>
        <span class="text-h5"> Konfirmasi Hapus {{ title }} </span>
      </v-card-title>
      <v-divider class="mb-3 mx-1" />
      <v-card-text>
        <slot></slot>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn @click="$emit('cancel')">
          <v-icon left> mdi-close </v-icon>
          Batal
        </v-btn>
        <v-btn color="error" @click="$emit('delete')">
          <v-icon left> mdi-trash-can </v-icon>
          Hapus
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  auth: false,
  props: {
    title: {
      type: String,
      default: '',
      required: true
    },
    value: {
      type: Boolean,
      default: false,
      required: true
    },
    loading: {
      type: Boolean,
      default: false,
      required: true
    }
  },
  asyncData({ params }) {
    const id = params.id // When calling /abc the id will be "abc"
    return { id }
  },
  computed: {
    valueModel: {
      get(): boolean {
        return this.value
      },
      set(value: boolean) {
        this.$emit('input', value)
      }
    }
  }
})
</script>

