<template>
  <div>
    <common-toolbar no-back>
      <div>Database PMR</div>
    </common-toolbar>
    <feature-telefarmasi-database-pmr-list
      ref="coreDatabasePmrListRef"
      :custom-query="query"
    >
      <template #list-action="{ data }">
        <v-btn x-small color="primary" :to="`/patient/${data.patient.id}`">
          Detail Pasien
        </v-btn>
        <v-btn
          x-small
          color="primary"
          :to="`/pmr/${data.id}?patientId=${data.patient.id}`"
        >
          PMR
        </v-btn>
      </template>
      <template #additional-filter>
        <v-row dense>
          <v-col cols="12" md="6">
            <ui-form-select-apotek-grup
              @input="onChangeFilter"
              :isHeadoffice="true"
              v-model="query['filter[apotekGroup]']"
            />
          </v-col>
          <v-col cols="12" md="6">
            <ui-form-select-apotek
              :apotek-group="query['filter[apotekGroup]']"
              @input="onChangeFilter"
              v-model="query['filter[apotek]']"
              multiple
            />
          </v-col>
        </v-row>
      </template>
    </feature-telefarmasi-database-pmr-list>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { UiFormSelectApotekGrup, UiFormSelectApotek } from '@inatti/shared/ui'

@Component({
  components: {
    UiFormSelectApotekGrup,
    UiFormSelectApotek,
  },
})
export default class listPmr extends Vue {
  query = {
    'filter[apotek]': [],
    'filter[apotekGroup]': [],
  }
  $refs: any

  onChangeFilter() {
    this.$refs.coreDatabasePmrListRef.fetchData()
  }
}
</script>

<style></style>
