<template>
  <ui-container-layout
    brand-image="https://inatti.id/asset-app/inatti-v2.2-large.png"
    brand-title="Lab"
  >
    <template #sidebar-menu>
      <ui-container-menu-navigation :menu-items="menus" />
    </template>
    <template #appbar-sidetool>
      <ui-container-menu-account
        :current-branch="selectedLab ? selectedLab.labId ? selectedLab.labId.name : '' : ''"
        title-action-change-branch="Pindah Lab"
      />
    </template>
  </ui-container-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class DefaultLayout extends Vue {
  selectedLab = null
  menus = [
    {
      child: [
        {
          icon: 'mdi-apps',
          title: 'Dashboard',
          to: '/',
        },
      ],
    },
    {
      child: [
        {
          icon: 'mdi-account-group-outline',
          title: 'User Management',
          to: '/user-management/',
          allow: 'user_management',
        },
      ],
    },
    {
      child: [
        {
          icon: 'mdi-cog',
          title: 'Pengaturan',
          allow: 'lab_setting',
          child: [
            {
              title: 'Informasi Lab',
              to: '/setting/information',
              allow: 'lab_information',
            },
            {
              title: 'Template Sertifikat',
              to: '/setting/template-sertificate',
              allow: 'certificate',
            },
          ],
        },
      ],
    },
    {
      title: 'Sample Management',
      child: [
        {
          icon: 'mdi-seat-individual-suite',
          title: 'Handover Rujukan',
          to: '/sample-swab/',
          allow: 'sample',
        },
        {
          icon: 'mdi-apps',
          title: 'Ekstraksi',
          to: '/ekstraksi/',
          allow: 'extraction_session',
        },
        {
          icon: 'mdi-apps',
          title: 'Analisa Sample',
          to: '/analyze/',
          allow: 'analyze_session',
        },
        {
          icon: 'mdi-apps',
          title: 'Analisa Dokter',
          to: '/analyze-doctor/',
          allow: 'docter_result',
        },
        {
          icon: 'mdi-apps',
          title: 'Hasil Akhir',
          to: '/result-final/',
          allow: 'analyze_session-result',
        },
      ],
    },
    {
      title: 'Report',
      allow: 'report',
      child: [
        {
          icon: 'mdi-apps',
          allow: 'report',
          title: 'Report Transaksi Rujukan',
          to: '/report-ref/',
        },
      ],
    },
    {
      title: 'Account',
      child: [
        {
          icon: 'mdi-chart-bubble',
          title: 'Account Management',
          to: '/account/setting',
        },
      ],
    },
  ]
  async fetchLab() {
    try {
      const idlab = this.$route.query.labId
      this.selectedLab = await this.$axios.$get(`/api-lab/role-user/${idlab}`)
      if (!this.selectedLab) this.selectedLab = {}
    } catch (error) {}
  }
  mounted() {
    this.fetchLab()
  }
}
</script>

<style>
.text-style {
  position: relative;
  top: 2.5px;
  font-size: 1.5rem;
  color: #7a892a;
}
</style>
