<template>
  <v-card outlined>
    <v-card-text>
      <v-form v-if="renderContent" ref="addPillForm">
        <v-row>
          <v-col cols="12" lg="6">
            <v-row dense>
              <v-col cols="12">
                <v-autocomplete
                  :readonly="readonly"
                  v-if="form.medicine"
                  v-model="form.medicine.name"
                  outlined
                  dense
                  :items="listPills"
                  :loading="isLoadingSearchPill"
                  :search-input.sync="searchPill"
                  hide-details="auto"
                  label="Nama Obat"
                  hint="Ketik nama obat untuk memilih obat"
                  persistent-hint
                  :rules="required"
                >
                  <template #progress>
                    <div class="w-full justify-center d-flex align-center">
                      <span class="text-subtitle-2 font-weight-normal"
                        >Please Wait</span
                      >
                    </div>
                  </template>
                  <template #no-data>
                    <div
                      v-if="isEmpty"
                      style="cursor: pointer"
                      class="w-full justify-center d-flex align-center"
                      @click="injectPillData"
                    >
                      <span class="text-subtitle-2 font-weight-light"
                        >Tambah Obat :
                        <span class="font-weight-medium">{{
                          searchPill ? searchPill : ''
                        }}</span>
                      </span>
                    </div>
                    <div
                      v-if="!searchPill"
                      style="cursor: pointer"
                      class="w-full justify-start px-4 py-2 d-flex align-center"
                      @click="injectPillData"
                    >
                      <span
                        style="color: #37474f"
                        class="text-subtitle-2 font-weight-medium"
                        >Ketik Nama Obat
                      </span>
                    </div>
                  </template>
                </v-autocomplete>
              </v-col>
              <v-col cols="12">
                <v-row>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="form.amount"
                      outlined
                      dense
                      :readonly="readonly"
                      class="mb-4"
                      label="Jumlah"
                      hide-details="auto"
                      :rules="required"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-select
                      v-model="form.amountUnit"
                      dense
                      :readonly="readonly"
                      :items="inventoryList"
                      label="Sediaan"
                      hide-details="auto"
                      outlined
                      :rules="required"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-autocomplete
                      :readonly="readonly"
                      v-model="form.notes.signa"
                      outlined
                      v-if="form.notes"
                      dense
                      :search-input.sync="searchSigna"
                      :items="signaList"
                      hide-details="auto"
                      label="Signa"
                      persistent-hint
                      :rules="required"
                    >
                      <template #no-data>
                        <div
                          style="cursor: pointer"
                          class="w-full justify-center d-flex align-center"
                          @click="signaList.push(searchSigna)"
                        >
                          <span class="text-subtitle-2 font-weight-light"
                            >Tambah Signa :
                            <span class="font-weight-medium">{{
                              searchSigna ? searchSigna : ''
                            }}</span>
                          </span>
                        </div>
                      </template>
                    </v-autocomplete>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" lg="6">
            <v-row dense>
              <v-col cols="12">
                <v-autocomplete
                  :readonly="readonly"
                  v-if="form.notes"
                  v-model="form.notes.caraPakai"
                  outlined
                  dense
                  :search-input.sync="searchCaraPakai"
                  :items="caraPakaiList"
                  label="Cara Pakai"
                  :rules="required"
                >
                  <template #no-data>
                    <div
                      style="cursor: pointer"
                      class="w-full justify-center d-flex align-center"
                      @click="caraPakaiList.push(searchCaraPakai)"
                    >
                      <span class="text-subtitle-2 font-weight-light"
                        >Tambah Signa :
                        <span class="font-weight-medium">{{
                          searchCaraPakai ? searchCaraPakai : ''
                        }}</span>
                      </span>
                    </div>
                  </template>
                </v-autocomplete>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  :readonly="readonly"
                  v-model="form.notes.aturanPakai"
                  outlined
                  dense
                  label="Aturan Pakai"
                  hide-details="auto"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="12">
            <v-text-field
              v-model="form.notes.notes"
              label="Catatan Obat"
              :readonly="readonly"
              outlined
              dense
              hide-details="auto"
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-btn
              v-show="$allow('manage:pmr')"
              outlined
              v-if="!readonly"
              color="error"
              @click="$emit('onDelete')"
            >
              <v-icon>mdi-delete</v-icon> <span class="ml-2">Hapus</span>
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import { AdminApi } from '@inatti/shared/api-nuxt';

interface IMedicineDto {
  medicine: {
    name: string;
  };
  amount: number;
  amountUnit: string;
  notes: {
    signa: string;
    caraPakai: string;
    aturanPakai: string;
    notes: string;
  };
}

@Component
export default class PatientMedicalRecordPillForm extends Vue {
  @Prop({ type: [Object] })
  value!: any;
  @Prop({ type: Boolean })
  readonly!: boolean;

  get form() {
    return this.value;
  }

  set form(val) {
    this.$emit('input', val);
  }

  adminApi = new AdminApi(this.$axios);

  inventoryList = [] as string[];
  bounceInstance = null as any;
  signaList = [] as string[];
  searchSigna = '';
  caraPakaiList = [] as string[];
  searchCaraPakai = '';
  isEmpty = false;
  searchPill = '';
  isLoadingSearchPill = false;
  listPills = [] as string[];
  required = [(v: any) => !!v || 'Input harus diisi'];
  loadingContent = true;

  @Watch('loadingContent')
  autoFill(v: any) {
    if (v) {
      return;
    }
    this.$nextTick(() => {
      this.searchPill = this.form.medicine?.name;
      this.searchCaraPakai = this.form.notes?.caraPakai;
      this.searchSigna = this.form.notes?.signa;
    });
  }

  injectPillData() {
    this.listPills.push(this.searchPill);
  }

  async fetchInventoryList() {
    try {
      const resp = await this.adminApi.getAppConfig('PMR_OPTION_UNIT_MEDICINE');
      this.inventoryList = resp?.valueJson;
    } catch (error) {}
  }

  @Watch('searchPill')
  onChangeSearch(val: any) {
    this.isEmpty = false;
    clearTimeout(this.bounceInstance);
    if (!val) {
      this.listPills = [];
      return;
    }
    this.bounceInstance = setTimeout(async () => {
      try {
        this.isLoadingSearchPill = true;
        const resp = await this.$axios.$get('/medicine/apotek/search', {
          params: {
            apotekId: this.$route.query.apotekId
              ? this.$route.query.apotekId
              : null,
            name: val,
          },
        });
        if (resp.results.length === 0) {
          this.isEmpty = true;
          return;
        }
        this.listPills = resp.results.map((v: any) => v.name);
      } catch (error) {
      } finally {
        this.isLoadingSearchPill = false;
      }
    }, 500);
  }

  preventNullMedicine() {
    if (!this.form.medicine) {
      this.form.medicine = {
        name: '',
      };
    }
  }

  async fetchPmrMedicineOptions() {
    try {
      const resp = await this.adminApi.getAppConfig('PMR_MEDICINE_OPTIONS');
      this.caraPakaiList = resp.valueJson.caraPakai;
      this.signaList = resp.valueJson.signa;
      this.loadingContent = false;
    } catch (error) {}
  }

  renderContent = false;

  modifyDto() {
    const form: IMedicineDto = {
      notes: this.value?.notes ?? {
        signa: '',
        caraPakai: '',
        aturanPakai: '',
        notes: '',
      },
      medicine: this.value.medicine,
      amount: this.value.amount,
      amountUnit: this.value.amountUnit,
    };
    this.form = form;
    this.renderContent = true;
  }

  mounted() {
    this.modifyDto();
    this.fetchPmrMedicineOptions();
    this.preventNullMedicine();
    this.fetchInventoryList();
  }
}
</script>
