<template>
  <v-app dark>
    <v-app-bar app class="white" elevation="3">
      <v-row>
        <v-col>
          <layout-logo-mobile />
        </v-col>
        <v-col cols="2">
          <img :src="require('~/assets/icons/Floating_button.png')" />
        </v-col>
      </v-row>
    </v-app-bar>

    <v-main>
      <Nuxt />  
    </v-main>
    <layout-footer />
  </v-app>
</template>

<script>
export default {
}
</script>