<template>
  <v-app>
    <mobile-layout>
      <template #title>
        <mobile-appbar-title>
          Pendaftaran
          <div>
            <common-stepper />
          </div>
        </mobile-appbar-title>
      </template>

      <Nuxt />
    </mobile-layout>
  </v-app>
</template>

<script>
export default {
  mounted() {
    // middleware to check is form regsitration filled
    if (!this.$store.state.testcovid.dateTest) return this.$router.replace('/')
  },
}
</script>
