<template>
  <div>
    <common-toolbar> List All User </common-toolbar>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col class="col-md-5 col-12">
            <div class="font-weight-bold">Username: {{ user.username }}</div>
            <div>Fullname: {{ user.fullname }}</div>
            <div>Email: {{ user.email ? user.email : '-' }}</div>
          </v-col>
          <v-col class="d-md-flex justify-end">
            <v-dialog v-model="dialogEditUser.isOpen" width="450">
              <template #activator="{ on, attrs }">
                <v-btn small color="primary" v-bind="attrs" v-on="on">
                  Edit User
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  Form Edit User {{ user.username }}
                </v-card-title>
                <v-card-text class="pa-3">
                  <v-text-field
                    v-model="dialogEditUser.data.username"
                    label="Username"
                    outlined
                    dense
                  ></v-text-field>
                  <v-text-field
                    v-model="dialogEditUser.data.fullname"
                    label="Nama Lengkap"
                    outlined
                    dense
                  ></v-text-field>
                  <v-text-field
                    v-model="dialogEditUser.data.email"
                    label="E-mail"
                    outlined
                    dense
                  ></v-text-field>
                  <v-text-field
                    v-model="dialogEditUser.data.password"
                    label="Password"
                    outlined
                    dense
                  ></v-text-field>
                </v-card-text>
                <v-card-actions class="text-right">
                  <v-btn
                    color="primary"
                    :loading="dialogEditUser.isButtonLoadingSave"
                    @click="editUserAccount"
                  >
                    Simpan
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-col>
        </v-row>
        <v-row>
          <v-tabs v-model="tabs">
            <v-tab>Rujukan</v-tab>
            <v-tab>Lab</v-tab>
            <v-tab>Admin</v-tab>
          </v-tabs>

          <v-tabs-items v-model="tabs">
            <page-usermanagement-tab-item-user
              v-model="ref"
              title="Rujukan"
              @refetch="getRefTableData()"
            />
            <page-usermanagement-tab-item-user
              v-model="lab"
              title="Lab"
              @refetch="getLabTableData()"
            />
            <page-usermanagement-tab-item-user
              v-model="admin"
              title="Admin"
              @refetch="getAdminTableData()"
            />
          </v-tabs-items>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { AdminApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'

interface TableUserData {
  name?: string
  role: string
  createdAt: string
}

interface LabUserRole {
  id: string
  labId: {
    id: string
    name: string
    tenantId: string
    createdAt: string
    narLabId: string
    isDelete?: string
    deleteAt?: string
  }
  roleId: {
    id: number
    name: string
    description: string
    permission: Array<string>
  }
}

interface RefUserRole {
  id: string
  refId: {
    id: string
    name: string
    tenantId: string
    createdAt: string
    narLabId: string
    isDelete?: string
    deleteAt?: string
  }
  roleId: {
    id: number
    name: string
    description: string
    permission: Array<string>
  }
}

interface AdminUserRole {
  id: string
  userId: {
    id: string
    fullname: string
    username: string
    password: string
    isActive: boolean
    isVerified: false
    email: string
    phoneNumber?: string
    isAnonymous: boolean
  }
  roleId: {
    id: number
    name: string
    description: string
    permission: Array<string>
  }
}

@Component
export default class ListUserComponent extends Vue {
  tabs = null

  user = {
    username: null,
    fullname: null,
    email: null,
  }

  ref = {
    isLoading: false,
    tableData: [] as TableUserData[],
    userDatas: [],
    userRoles: [],
  }

  lab = {
    isLoading: false,
    tableData: [] as TableUserData[],
    userDatas: [],
    userRoles: [],
  }

  admin = {
    isLoading: false,
    tableData: [] as TableUserData[],
    userRoles: [],
  }

  dialogEditUser = {
    data: {
      username: null,
      fullname: null,
      email: null,
      password: null,
    },
    isOpen: false,
    isButtonLoadingSave: false,
  }

  adminApi!: AdminApi
  mounted() {
    this.adminApi = new AdminApi(this.$axios)
    this.getUserById()
    this.getAllRef()
    this.getAllRefRoles()
    this.getAllLab()
    this.getAllLabRoles()
    this.getAllAdminRoles()
    this.getRefTableData()
    this.getLabTableData()
    this.getAdminTableData()
  }

  @Watch('user')
  onUserChanged() {
    this.dialogEditUser.data.username = this.user.username
    this.dialogEditUser.data.fullname = this.user.fullname
    this.dialogEditUser.data.email = this.user.email
  }

  async editUserAccount() {
    this.dialogEditUser.isButtonLoadingSave = true
    const { id } = this.$route.params
    const dataToSend = !this.dialogEditUser.data.password
      ? {
          id,
          username: this.dialogEditUser.data.username,
          fullname: this.dialogEditUser.data.fullname,
          email: this.dialogEditUser.data.email,
        }
      : {
          id,
          username: this.dialogEditUser.data.username,
          fullname: this.dialogEditUser.data.fullname,
          email: this.dialogEditUser.data.email,
          password: this.dialogEditUser.data.password,
        }
    try {
      await this.adminApi.updateUserInfoById(id, dataToSend)
      this.dialogEditUser.isOpen = false
      this.getUserById()
    } finally {
      this.dialogEditUser.isButtonLoadingSave = false
    }
  }

  async getUserById() {
    const { id } = this.$route.params
    const response = await this.adminApi.getUserById(id)
    this.user = response
  }

  async getRefTableData() {
    const { id } = this.$route.params
    this.ref.isLoading = true
    try {
      const result = await this.adminApi.getRolesAssignedByRefUserId(id)
      this.ref.tableData = result.map((x: RefUserRole) => {
        return {
          id: x.id,
          user: {
            id: x.refId.id,
            name: x.refId.name,
          },
          role: {
            id: x.roleId.id,
            name: x.roleId.name,
          },
          createdAt: x.refId.createdAt,
        }
      })
    } finally {
      this.ref.isLoading = false
    }
  }

  async getLabTableData() {
    const { id } = this.$route.params
    this.lab.isLoading = true
    try {
      const result = await this.adminApi.getRolesAssignedByLabUserId(id)
      this.lab.tableData = result.map((x: LabUserRole) => {
        return {
          id: x.id,
          user: {
            id: x.labId.id,
            name: x.labId.name,
          },
          role: {
            id: x.roleId.id,
            name: x.roleId.name,
          },
          createdAt: x.labId.createdAt,
        }
      })
    } finally {
      this.lab.isLoading = false
    }
  }

  async getAdminTableData() {
    const { id } = this.$route.params
    this.admin.isLoading = true
    try {
      const result = await this.adminApi.getRolesAssignedByAdminUserId(id)
      this.admin.tableData = result.map((x: AdminUserRole) => {
        return {
          id: x.id,
          user: {
            id: x.userId.fullname,
            name: x.userId.username,
          },
          role: {
            id: x.roleId.id,
            name: x.roleId.name,
          },
        }
      })
    } finally {
      this.admin.isLoading = false
    }
  }

  async getAllRef() {
    try {
      const result = await this.adminApi.getRefs()
      this.ref.userDatas = result
    } catch (error) {}
  }

  async getAllRefRoles() {
    try {
      const result = await this.adminApi.getRefRoles()
      this.ref.userRoles = result
    } catch (error) {}
  }

  async getAllLab() {
    try {
      const result = await this.adminApi.getLabs()
      this.lab.userDatas = result
    } catch (error) {}
  }

  async getAllLabRoles() {
    try {
      const result = await this.adminApi.getLabRoles()
      this.lab.userRoles = result
    } catch (error) {}
  }

  async getAllAdminRoles() {
    try {
      const result = await this.adminApi.getAdminUserRoles()
      this.admin.userRoles = result
    } catch (error) {}
  }
}
</script>
