<template>
  <div>
    <common-toolbar> Chekin Patient </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <page-swab-list-patient
          ref="tablePatient"
          type-table="Checkin"
          :filt-status="selectedFilter"
        >
          <template #actions="{ selected }">
            <div class="d-flex justify-space-between">
              <div>
                <v-btn color="primary" @click="checkinPatient(selected)">
                  Checkin pasien
                </v-btn>
              </div>

              <page-swab-filter-option
                v-model="selectedFilter"
                :list-filter="listFilter"
              />
            </div>
          </template>
        </page-swab-list-patient>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  StatusSwabEnum,
  PatientSwabDetailDTO,
  ReferencePatientSwabApi,
} from '@inatti/shared/api-nuxt'

@Component
export default class CheckinPatientSwabComponent extends Vue {
  listFilter: StatusSwabEnum[] = [
    StatusSwabEnum.registered,
    StatusSwabEnum.checkin,
  ]

  selectedFilter: StatusSwabEnum[] = []

  created() {
    this.selectedFilter = this.listFilter
  }

  referencePatientSwab = new ReferencePatientSwabApi(this.$axios)

  isLoading = false

  async checkinPatient(selected: PatientSwabDetailDTO.SwabDetail[]) {
    if (!selected || selected.length < 1) return false
    const payloadCheckin = selected.map((v) => v.id)
    this.isLoading = true
    await this.referencePatientSwab.checkingBulk(payloadCheckin)
    if (this.$refs.tablePatient) {
      // @ts-ignore
      this.$refs.tablePatient.refetchPatient()
    }

    this.isLoading = false
  }
}
</script>

<style></style>
