<template>
  <div>
    <common-toolbar> Notifikasi Pasien </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <page-swab-list-patient
          ref="tablePatient"
          :filt-status="selectedFilter"
        >
          <template #actions="{ selected }">
            <div class="d-flex justify-space-between">
              <div>
                <v-btn
                  color="primary"
                  small
                  :loading="isLoadingSendWhatsapp"
                  @click="sendWhatsapp(selected)"
                >
                  Kirim Whatsapp
                </v-btn>
                <v-btn
                  color="primary"
                  small
                  :loading="isLoadingCheckWhatsapp"
                  @click="checkWhatsapp(selected)"
                >
                  Periksa Whatsapp
                </v-btn>
                <v-btn
                  :disabled="
                    selected.length === 0 || isLoadingDownloadCertificateZip
                  "
                  color="primary"
                  small
                  :loading="isLoadingDownloadCertificateZip"
                  @click="onDownloadCertificateZip(selected)"
                >
                  Download sertifikat ZIP
                </v-btn>
              </div>
              <page-swab-filter-option
                v-model="selectedFilter"
                :list-filter="listFilter"
              />
            </div>
          </template>
        </page-swab-list-patient>
      </v-card-text>
    </v-card>
    <v-dialog v-model="dialogWarn" width="450">
      <v-card width="450">
        <v-card-title class="white--text red darken-4">
          Peringatan
        </v-card-title>
        <v-card-text>
          <div class="mt-3 text-h6">
            {{ warnText }}
          </div>
        </v-card-text>
        <v-card-actions>
          <div>
            <v-btn color="primary" @click="closeDialogWarn"> Batal </v-btn>
            <v-btn color="primary" outlined @click="forceSendWhatsapp">
              Paksa kirim
            </v-btn>
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  ReferenceTransactionApi,
  StatusSwabEnum,
} from '@inatti/shared/api-nuxt'

@Component
export default class NotificationSwabComponent extends Vue {
  referenceTransactionApi = new ReferenceTransactionApi(this.$axios)
  listFilter: StatusSwabEnum[] = [
    StatusSwabEnum.resultOutRef,
    StatusSwabEnum.resultOutLab,
  ]

  selectedFilter: StatusSwabEnum[] = []

  created() {
    this.selectedFilter = this.listFilter
  }

  isLoading = false

  defaultFormProp = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
  }

  resultSelected: any = null

  dialogWarn = false
  warnText = ''

  someSelectedSended(selected: any[]) {
    let selectedFilledNotify = selected.filter((v) => v.notifyWhataspp)
    if (selectedFilledNotify.length < 1) {
      return this.sendWhatsapp(selected, true)
    }
    this.resultSelected = selected
    this.dialogWarn = true
    this.warnText = `Terdapat ${selectedFilledNotify.length} sample sudah di proses`
  }

  forceSendWhatsapp() {
    this.sendWhatsapp(this.resultSelected, true, true)
    this.closeDialogWarn()
  }

  closeDialogWarn() {
    this.dialogWarn = false
    this.warnText = ''
  }

  isLoadingSendWhatsapp = false
  async sendWhatsapp(
    selected: any[],
    confirmed: boolean = false,
    isForce?: boolean
  ): Promise<any> {
    if (!confirmed) {
      return this.someSelectedSended(selected)
    }

    this.isLoadingSendWhatsapp = true

    if (!selected || selected.length < 1) return false
    const listSample = selected.map((v) => v.id)
    try {
      await this.referenceTransactionApi.sendNotificationSwab({
        listIdSwab: listSample,
        isForce,
      })
      if (this.$refs.tablePatient) {
        // @ts-ignore
        this.$refs.tablePatient.refetchPatient()
      }
    } catch (err) {
      console.log(err)
    }
    this.isLoadingSendWhatsapp = false
  }

  isLoadingCheckWhatsapp = false
  async checkWhatsapp(selected: any[]) {
    this.isLoadingCheckWhatsapp = true

    if (!selected || selected.length < 1) return false
    const listSample = selected.map((v) => v.id)
    try {
      await this.referenceTransactionApi.checkNotificationSwab({
        listIdSwab: listSample,
      })
      if (this.$refs.tablePatient) {
        // @ts-ignore
        this.$refs.tablePatient.refetchPatient()
      }
    } catch (err) {
      console.log(err)
    }
    this.isLoadingCheckWhatsapp = false
  }

  isLoadingDownloadCertificateZip = false
  $utils: any

  async onDownloadCertificateZip(selected: any[]) {
    if (!selected || selected.length < 1) return false
    const listSample = selected.map((v) => v.id)
    const { refId } = this.$route.query
    const { type } = this.$route.params
    try {
      this.isLoadingDownloadCertificateZip = true
      const resp = await this.referenceTransactionApi.downloadCertificateZip({
        idref: refId,
        idswab: listSample.toString(),
        type,
      })
      this.$utils.saveFile({
        blobType:
          'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
        byteArray: resp,
        fileName: 'sertifikat',
        extension: 'zip',
      })
    } catch (error) {
    } finally {
      this.isLoadingDownloadCertificateZip = false
    }
  }
}
</script>

<style></style>
