<template>
  <div>
    <common-toolbar> Kirim Ke NAR ANTIGEN </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <page-swab-list-patient
          ref="tablePatient"
          :filt-status="selectedFilter"
        >
          <template #actions="{ selected }">
            <div>
              <div>
                <v-alert
                type="warning"
                dismissible
                dense
                outlined
                >
                <strong>Automasi NAR Antigen tidak bekerja maksimal</strong>, kemungkinan besar data tidak masuk di website NAR karena NAR yang kadang tidak stabil. Segera akan diupdate untuk memudahkan pengguna. Mohon maaf atas ketidaknyamannya
                </v-alert>
              </div>
              <div class="d-flex justify-space-between">
                <v-btn color="primary" @click="saveSelected(selected)">
                  Kirim NAR
                </v-btn>

                <page-swab-filter-option
                  v-model="selectedFilter"
                  :list-filter="listFilter"
                />
              </div>
            </div>
          </template>
        </page-swab-list-patient>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { StatusSwabEnum } from '@inatti/shared/api-nuxt'

@Component
export default class ReadyNARSwabComponent extends Vue {
  listFilter: StatusSwabEnum[] = [
    StatusSwabEnum.resultOutRef,
  ]

  selectedFilter: StatusSwabEnum[] = []

  created() {
    this.selectedFilter = this.listFilter
  }

  isLoading = false

  defaultFormProp = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
  }

  resultSelected = null

  saveSelected(selected:any[]){
    this.$store.commit('narSample/setSelected', selected)
    this.$router.push('/nar/process')
  }
}
</script>

<style>
</style>