<template>
  <div>
    <common-toolbar> Atur Hasil Test Patient </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <page-swab-list-patient
          ref="tablePatient"
          :filt-status="selectedFilter"
        >
          <template #actions="{ selected }">
            <div class="d-flex justify-space-between">
              <v-dialog v-model="dialogSelectLab" width="450">
                <template #activator="{ on, attrs }">
                  <div>
                    <v-btn color="primary" v-bind="attrs" v-on="on">
                      Atur Hasil untuk Sample
                    </v-btn>
                  </div>
                </template>
                <v-card>
                  <v-card-title class="primary white--text">
                    Pilih Hasil
                  </v-card-title>
                  <v-card-text>
                    <v-select
                      v-model="resultSelected"
                      class="mt-3"
                      label="Hasil"
                      :items="listResult"
                      item-text="text"
                      item-value="value"
                      v-bind="defaultFormProp"
                    />
                  </v-card-text>
                  <v-card-actions>
                    <v-btn
                      color="primary"
                      :loading="isLoading"
                      @click="setResult(selected)"
                    >
                      Simpan
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <page-swab-filter-option
                v-model="selectedFilter"
                :list-filter="listFilter"
              />
            </div>
          </template>
        </page-swab-list-patient>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  StatusSwabEnum,
  PatientSwabDetailDTO,
  ReferencePatientSwabApi,
} from '@inatti/shared/api-nuxt'

@Component
export default class setResultSwabComponent extends Vue {
  listFilter: StatusSwabEnum[] = [
    StatusSwabEnum.done,
    StatusSwabEnum.resultOutRef,
  ]

  selectedFilter: StatusSwabEnum[] = []

  created() {
    this.selectedFilter = this.listFilter
  }

  isLoading = false

  defaultFormProp = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
  }

  resultSelected = null

  listResult = [
    {
      text: 'Positif',
      value: 'positif',
    },
    {
      text: 'Negatif',
      value: 'negatif',
    },
  ]

  dialogSelectLab = false

  referencePatientSwabApi = new ReferencePatientSwabApi(this.$axios)

  async setResult(selected: PatientSwabDetailDTO.SwabDetail[]) {
    if (!selected || selected.length < 1) return false
    const listSample = selected.map((v) => v.id)

    this.isLoading = true
    await this.referencePatientSwabApi.updateSwabResultBulk({
      listSample,
      result: this.resultSelected,
    })
    if (this.$refs.tablePatient) {
      // @ts-ignore
      this.$refs.tablePatient.refetchPatient()
    }

    this.isLoading = false
    this.dialogSelectLab = false
  }
}
</script>

<style></style>
