<template>
  <div>
    <common-toolbar> Swab Patient </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <page-swab-list-patient
          ref="tablePatient"
          :filt-status="selectedFilter"
          type-table="Swab"
        >
          <template #actions="{ selected }">
            <div class="d-flex justify-space-between">
              <div>
                <v-btn color="primary" @click="swabPatient(selected)">
                  Swab pasien
                </v-btn>
              </div>

              <page-swab-filter-option
                v-model="selectedFilter"
                :list-filter="listFilter"
              />
            </div>
          </template>
        </page-swab-list-patient>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  StatusSwabEnum,
  PatientSwabDetailDTO,
  ReferencePatientSwabApi,
} from '@inatti/shared/api-nuxt'

@Component
export default class swabPatientSwabComponent extends Vue {
  listFilter: StatusSwabEnum[] = [StatusSwabEnum.checkin, StatusSwabEnum.done]

  selectedFilter: StatusSwabEnum[] = []

  referencePatientSwabApi = new ReferencePatientSwabApi(this.$axios)

  created() {
    this.selectedFilter = this.listFilter
  }

  isLoading = false

  async swabPatient(selected: PatientSwabDetailDTO.SwabDetail[]) {
    if (!selected || selected.length < 1) return false
    const payloadSwabnow = selected.map((v) => v.id)
    this.isLoading = true
    await this.referencePatientSwabApi.swabNowBulk(payloadSwabnow)

    if (this.$refs.tablePatient) {
      // @ts-ignore
      this.$refs.tablePatient.refetchPatient()
    }

    this.isLoading = false
  }

  $utils: any
}
</script>

<style></style>
