<template>
  <div>
    <common-toolbar> Kirim ke Lab Patient </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <page-swab-list-patient
          ref="tablePatient"
          :filt-status="selectedFilter"
          type-table="Kirim Ke Lab"
        >
          <template #actions="{ selected }">
            <div class="d-flex justify-space-between">
              <v-dialog v-model="dialogSelectLab" width="450">
                <template #activator="{ on, attrs }">
                  <div>
                    <v-btn color="primary" v-bind="attrs" v-on="on">
                      Kirim ke LAB
                    </v-btn>
                  </div>
                </template>
                <v-card>
                  <v-card-title class="primary white--text">
                    Pilih LAB
                  </v-card-title>
                  <v-card-text>
                    <form-select-lab
                      v-model="labSelected"
                      class="mt-3"
                      v-bind="defaultFormProp"
                    />
                  </v-card-text>
                  <v-card-actions>
                    <v-btn
                      color="primary"
                      :loading="isLoading"
                      @click="sendToLab(selected)"
                    >
                      Kirim sekarang
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <page-swab-filter-option
                v-model="selectedFilter"
                :list-filter="listFilter"
              />
            </div>
          </template>
        </page-swab-list-patient>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  StatusSwabEnum,
  PatientSwabDetailDTO,
  ReferencePatientSwabApi,
} from '@inatti/shared/api-nuxt'

@Component
export default class sendToLabSwabComponent extends Vue {
  listFilter: StatusSwabEnum[] = [
    StatusSwabEnum.done,
    StatusSwabEnum.onLab,
    StatusSwabEnum.resultOutLab,
  ]

  selectedFilter: StatusSwabEnum[] = []
  referencePatientSwabApi = new ReferencePatientSwabApi(this.$axios)

  created() {
    this.selectedFilter = this.listFilter
  }

  isLoading = false

  defaultFormProp = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
  }

  labSelected = null

  dialogSelectLab = false

  async sendToLab(selected: PatientSwabDetailDTO.SwabDetail[]) {
    if (!selected || selected.length < 1) return false
    const listSample = selected.map((v) => v.id)

    this.isLoading = true
    await this.referencePatientSwabApi.sendToLabBulk({
      listSample,
      labTarget: this.labSelected,
    })

    if (this.$refs.tablePatient) {
      // @ts-ignore
      this.$refs.tablePatient.refetchPatient()
    }

    this.isLoading = false
    this.dialogSelectLab = false
  }

  $utils: any
}
</script>

<style></style>
