<template>
  <v-dialog v-model="dialogMethodCash" width="450">
    <v-card :loading="isLoading">
      <v-card-title class="text-h5 primary white--text">
        Metode Pembayaran Cash
      </v-card-title>
      <v-card-text>
        <div class="ma-3">
          <v-radio-group
            v-if="listMethod && listMethod.length > 0"
            v-model="selectedMethod"
          >
            <v-radio
              v-for="(method, index) in listMethod"
              :key="index"
              :value="method.id"
              :label="method.name"
            ></v-radio>
          </v-radio-group>
        </div>
      </v-card-text>
      <v-card-actions>
        <div>
          <v-btn
            color="primary"
            :disabled="!selectedMethod"
            @click="$emit('ok', selectedMethod)"
          >
            Simpan
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { ReferenceTransactionApi } from '@inatti/shared/api-nuxt'

@Component
export default class MethodCashComponent extends Vue {
  @Prop()
  value!: any

  get dialogMethodCash() {
    return this.value
  }
  set dialogMethodCash(val) {
    this.$emit('input', val)
  }
  isLoading = false

  referenceTransactionApi = new ReferenceTransactionApi(this.$axios)

  mounted() {
    this.fetchListMethod()
  }

  listMethod = []
  async fetchListMethod() {
    this.isLoading = true
    try {
      this.listMethod = await this.referenceTransactionApi.getListMethod()
    } catch (err) {
      return err
    }
    this.isLoading = false
  }

  selectedMethod = null
}
</script>

<style></style>
