<template>
  <div>
    <common-toolbar>
      <div class="d-flex justify-space-between">
        <div>Data {{ batchName }}</div>
        <div class="ml-auto">Rujukan : {{ refName }} </div>
      </div>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <v-btn color="primary" :disabled="selectedRow.length < 1" :loading="isLoading" @click="submitSample">
          Submit
        </v-btn>

        <v-data-table
          v-model="selectedRow"
          :loading="isLoading"
          :headers="header"
          :items="itemsTable"
          :item-class="itemClass"
          show-select
        >
          <template #item.action="{ item }">
            <v-btn icon :to="'/sample-swab/' + item.swabDetail.id">
              <v-icon> mdi-eye </v-icon>
            </v-btn>
          </template>
          <template #item.swabDetail.sendToLabDate="{ item }">
            {{ item.swabDetail.sendToLabDate | toLocale }}
          </template>
          <template #item.swabDetail.resultTest="{ item }">
            <div v-if="item.swabDetail.resultTest">
              <common-result-chip v-model="item.swabDetail.resultTest" />
              <br />
              {{ item.swabDetail.resultSentAt | toLocale }}
            </div>
          </template>
          <template #item.history="{ item }">
            <common-chip-history-sample v-model="item.swabDetail.history" :sample-id="item.swabDetail.id" :show-detail="true"/>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { PatientSwabDetailDTO } from '@inatti/shared/api-nuxt'

export interface BatchMap{
  createdAt: Date
  id: number
  swabDetail:PatientSwabDetailDTO.SwabDetail
}

@Component
export default class HandoverBatchDetailComponent extends Vue {
  created() {
    this.fetchData()
  }
  isLoading = false
  itemsTable: BatchMap[] | any[] = []
  header = [
    {
      text: 'NIK',
      value: 'swabDetail.patient.nik',
    },
    {
      text: 'Nama',
      value: 'swabDetail.patient.name',
    },
    {
      text: 'Tanggal Lahir',
      value: 'swabDetail.patient.datebirth',
    },
    {
      text: 'Jenis Kelamin',
      value: 'swabDetail.patient.gender',
    },
    {
      text: 'Kode Sample',
      value: 'swabDetail.sampleId',
    },
    {
      text: 'Tanggal Kirim Lab',
      value: 'swabDetail.sendToLabDate',
    },
    {
      text: 'Hasil Test',
      value: 'swabDetail.resultTest',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
    {
      text: 'Status',
      value: 'history'
    }
  ]
  selectedRow:any[] = []

  @Watch('selectedFilter')
  updateFilter() {
    this.fetchData()
  }

  dataResult:any = {}

  // plugin snackbar
  $snackbar:any

  get batchName(){
    return this.dataResult.name ?? "Batch ..."
  }

  get refName(){
    return this.dataResult?.createdBy?.name ?? ""
  }

  async fetchData() {
    try {
      this.itemsTable = []

      this.isLoading = true
      let labId = this.$store.state.labStore.labId
      const result: any =
        await this.$axios.$get(`/api-lab/sample-swab/batch/${this.idBatch}`, {
          params: {
            idlab: labId
          },
        })

      this.dataResult = result

      this.itemsTable = result.mapBatch
    } catch (error) {
      console.log(error)
    }
    this.isLoading = false
  }

  get idBatch() {
    return this.$route.params.idbatch
  }

  async submitSample(){
    this.isLoading = true;
    try {
      if(this.selectedRow.length < 1){
        return this.$snackbar('Mohon pilih beberapa sample')
      }
      let listIdSample: number[] = this.selectedRow.map((v) => {
        return v.swabDetail.id
      })
      await this.$axios.$patch(`/api-lab/sample-swab/batch/${this.idBatch}/submit`, listIdSample)
      
      // clean the crime scene
      this.selectedRow = [] 
      
      await this.fetchData();
    } finally {
      this.isLoading = false;
    }
  }

  // function to set class for every row based on latest history status
  itemClass(item:BatchMap){
    if(!item.swabDetail.history || item.swabDetail.history.length < 1){
      return null;
    }
    let lastHistory = item.swabDetail.history[item.swabDetail.history.length - 1]
    let statusId = lastHistory.status.id

    // class name in `assets/scss/statusSample.scss`
    return `status-sample-${statusId}__text`;
  }
}
</script>

<style>
</style>