<template>
  <div>
    <common-toolbar no-back> Data handover Batch </common-toolbar>
    <v-card>
      <v-card-text>
        <v-btn
          color="primary"
          :loading="isLoading"
          :disabled="!selectedRow.length"
          @click="submitBatch"
        >
          Submit
        </v-btn>
        <ui-table-pagination-filter v-model="dataResult" @change="fetchData">
          <template #default="{ options }">
            <v-data-table
              v-model="selectedRow"
              v-bind="options"
              :loading="isLoading"
              :headers="header"
              :items="items"
              :item-class="getClassItem"
              show-select
              hide-default-footer
              disable-pagination
            >
              <template #[`item.action`]="{ item }">
                <v-btn icon :to="'' + item.id">
                  <v-icon> mdi-eye </v-icon>
                </v-btn>
              </template>

              <template #[`item.isSubmitted`]="{ item }">
                {{ item.isSubmitted ? 'Submitted' : 'Belum di-submit' }}
              </template>
            </v-data-table>
          </template>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { PatientSwabDetailDTO } from '@inatti/shared/api-nuxt'
import { helperFormatDate } from '../../helper/date'
import { UiTablePaginationFilter } from '@inatti/shared/ui'

export interface BatchHandover {
  id: number
  name: string
  createdBy: any
  labTarget: any
  createdAt: Date
  isSubmitted: boolean
  mapBatch: any[]
}

export interface BatchList extends BatchHandover {
  // eslint-disable-next-line camelcase
  ref_name: string
  // eslint-disable-next-line camelcase
  total_sample: string
  // eslint-disable-next-line camelcase
  result_out: string
  // eslint-disable-next-line camelcase
  sample_onlab: string
}

@Component({ components: { UiTablePaginationFilter } })
export default class HandoverBatchListComponent extends Vue {
  mounted() {
    this.fetchData({
      'filter[date]': 'today',
    })
  }
  isLoading = false
  items: PatientSwabDetailDTO.SwabDetail[] | any[] = []
  header = [
    {
      text: 'Nama',
      value: 'name',
    },
    {
      text: 'Tanggal dibuat',
      value: 'createdAt',
    },
    {
      text: 'Rujukan',
      value: 'ref_name',
    },
    {
      text: 'Total Sample',
      value: 'total_sample',
    },
    {
      text: 'Sample keluar hasil',
      value: 'result_out',
    },
    {
      text: 'Sample Handover',
      value: 'sample_onlab',
    },
    {
      text: 'Submit',
      value: 'isSubmitted',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]

  selectedRow: BatchList[] = []

  @Watch('selectedFilter')
  updateFilter() {
    this.fetchData()
  }

  dataResult = {}

  lastParams = null
  async fetchData(params: any = {}) {
    this.lastParams = params
    try {
      this.items = []

      this.isLoading = true
      let labId = this.$store.state.labStore.labId
      const result: any = await this.$axios.$get(
        `/api-lab/sample-swab/batchs/list`,
        {
          params: {
            idlab: labId,
            ...params,
          },
        }
      )

      this.dataResult = result

      this.items = result.results.map((v: any) => {
        return {
          ...v,
          createdAt: helperFormatDate(v.createdAt as Date),
        }
      })
    } catch (error) {
      console.log(error)
    }
    this.isLoading = false
  }

  getClassItem(item: BatchList) {
    return item.isSubmitted ? 'batch__submitted' : 'batch__not-submitted'
  }

  async submitBatch() {
    if (!this.selectedRow || this.selectedRow.length < 1) {
      return alert('Mohon Pilih batch')
    }
    this.isLoading = true
    try {
      let listBatch = this.selectedRow.map((v) => v.id)
      await this.$axios.$patch(
        '/api-lab/sample-swab/batch/submit/bulk',
        listBatch
      )
      this.fetchData(this.lastParams)
    } finally {
      this.isLoading = false
    }
  }
}
</script>

<style>
.batch__submitted {
  color: #00c400;
}
.batch__not-submitted {
  color: #fc3a3a;
}
</style>
