<template>
  <v-img class="hero-banner" :src="require('~/assets/images/background/bg-hero.svg')">
    <v-container class="d-flex flex-row-reverse flex-md-row align-center">
      <img :src="require('~/assets/images/hero/hero2.svg')" />
      <div class="hero-banner-title text-sm-h4 text-h6 white--text text-left px-4 px-sm-12 text-md-center"> {{ text }} </div>
    </v-container>
  </v-img>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'Login Inatti'
    }
  },
}
</script>

<style>
.hero-banner {
  background-size: cover;
  height: 129px;
}

.hero-banner-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
</style>
