<template>
  <v-chip-group v-model="selectedFilter" column multiple color="primary">
    <v-chip
      v-for="(item, i) in listFilter"
      :key="i"
      filter
      outlined
      :value="item"
    >
      {{ getStatusMap(item).text }}
    </v-chip>
  </v-chip-group>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { StatusSwabEnum, StatusSwabMapping } from '@inatti/shared/api-nuxt'

@Component
export default class FilterOptionsComponent extends Vue {
  @Prop()
  value!: any

  @Prop({ type: Array, default: () => [] })
  listFilter!: any[]

  get selectedFilter() {
    return this.value
  }
  set selectedFilter(val) {
    this.$emit('input', val)
  }

  statusSwabMapping = StatusSwabMapping

  getStatusMap(val: StatusSwabEnum) {
    return this.statusSwabMapping[val] ?? {}
  }
}
</script>
