<template>
  <v-data-table
    :headers="LogActivityTableHeader"
    :items="LogActivityListItems"
    :loading="isLoading"
    hide-default-footer
  >
    <template #top>
      <v-row class="pa-0 ma-0">
        <v-col class="d-flex justify-end flex-row pa-0 ma-0" cols="12">
          <v-select
            v-model="area"
            style="max-width: 230px"
            :items="areaList"
            label="Area"
            dense
            outlined
            item-text="name"
            item-value="id"
            @input="onChangeArea"
          />
        </v-col>
      </v-row>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { DataTableHeader } from 'vuetify/types/index'
import { LogActivityDTO } from '@inatti/shared/api-nuxt'
import { ReferencePatientApi } from '@inatti/shared/api-nuxt'

interface LogActivityTableData {
  data: {
    id: number
  }
  name: string
  username: string
  area: string
  createdAt: string
}

@Component
export default class ListLogActivityComponent extends Vue {
  @Prop({
    type: Number,
    default: null,
  })
  sampleId!: number

  referencePatientApi = new ReferencePatientApi(this.$axios)

  LogActivityListItems = [] as LogActivityTableData[]
  listLogActivity = [] as LogActivityDTO.logActivity[]

  LogActivityTableHeader = [
    {
      text: 'Nama aktifitas',
      value: 'name',
      sortable: false,
    },
    {
      text: 'Nama User',
      value: 'username',
      sortable: false,
    },
    {
      text: 'Area',
      value: 'area',
      sortable: false,
    },
    {
      text: 'Tanggal',
      value: 'createdAt',
      sortable: false,
    },
  ] as DataTableHeader[]

  isLoading = false
  async fetchLogActivity() {
    try {
      this.isLoading = true
      const result = await this.referencePatientApi.getLogActivity({
        area: this.area,
        sampleId: this.sampleId,
      })
      this.listLogActivity = result
      this.LogActivityListItems = this.parseToTableLogActivity()
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  parseToTableLogActivity(): LogActivityTableData[] {
    let logActivityTableData: LogActivityTableData[] = []
    for (let i = 0; i < this.listLogActivity.length; i++) {
      const logActivityDetail: LogActivityDTO.logActivity =
        this.listLogActivity[i]
      logActivityTableData.push({
        data: {
          id: logActivityDetail.id,
        },
        name: logActivityDetail.formatted_activity,
        username: logActivityDetail.user ? logActivityDetail.user.username : '',
        area: logActivityDetail.type ? logActivityDetail.type.area : '',
        createdAt: new Date(
          logActivityDetail.createdAt.toString()
        ).toLocaleString(),
      })
    }
    return logActivityTableData
  }

  area = 'ref'
  areaList = [
    {
      name: '-- Semua Area --',
      id: '',
    },
    {
      name: 'Rujukan',
      id: 'ref',
    },
    {
      name: 'Lab',
      id: 'lab',
    },
    {
      name: 'User',
      id: 'user',
    },
  ]

  @Watch('sampleId')
  onChangeSampleId() {
    this.fetchLogActivity()
  }

  onChangeArea() {
    this.fetchLogActivity()
  }
}
</script>
