<template>
  <ui-table-pagination-filter
    v-model="dataResult"
    :isShowFilter="false"
    search
    search-hint="Cari berdasarkan Nama atau NIK"
    @change="fetchPatient"
  >
    <div class="my-3">
      <slot name="actions" :selected="listSelected" />
    </div>
    <div class="d-flex py-3 justify-end align-center" style="width: 100%">
      <v-btn
        color="primary"
        class="ma-2"
        outlined
        @click="onPrintSample(listSelected)"
      >
        Cetak Sample
      </v-btn>
      <v-btn color="primary" @click="exportXlsx"> DOWNLOAD EXCEL </v-btn>
    </div>
    <v-data-table
      v-model="selected"
      :headers="patientTableHeader"
      :items="patientItems"
      :loading="isLoading"
      hide-default-footer
      disable-pagination
      show-select
      item-key="data.swabId"
      :item-class="getItemClass"
    >
      <template #[`item.column1`]="{ item }">
        <div>
          <strong>
            {{ item.column1.name }}
          </strong>
        </div>
        <div>
          {{ item.column1.gender }}
        </div>
      </template>
      <template #[`item.column2`]="{ item }">
        <div>
          {{ item.column2.datebirth }}
        </div>
        <div>
          {{ item.column2.nik }}
        </div>
      </template>
      <template #[`item.column3`]="{ item }">
        <common-chip-payment
          v-if="item.column3.statusOrder"
          label
          small
          :status="item.column3.statusOrder"
        />
        <div>
          {{ item.column3.method }}
        </div>
      </template>
      <template #[`item.column4`]="{ item }">
        <div>
          <common-chip-status label :status="item.column4.statusTest" small />
        </div>
        <div>
          {{ item.column4.dateTest }}
        </div>
      </template>
      <template #[`item.column5`]="{ item }">
        <div>
          {{ item.column5.phone }}
        </div>
      </template>
      <template #[`item.narSample`]="{ item }">
        <v-chip
          v-if="item.narSample"
          small
          :color="
            item.narSample.isSuccess ? 'green darken-4' : 'deep-orange accent-3'
          "
          class="text-center white--text"
        >
          {{
            item.narSample.isSuccess
              ? 'SUCCESS'
              : item.narSample.message
              ? item.narSample.message
              : 'Gagal kirim'
          }}
        </v-chip>
      </template>
      <template #[`item.column6`]="{ item }">
        <v-btn icon :to="`/swab/pasien/` + item.data.swabId">
          <v-icon> mdi-eye </v-icon>
        </v-btn>
      </template>
      <template #[`item.resultSwab`]="{ item }">
        <common-chip-result v-model="item.resultSwab" />
      </template>
      <template #[`item.notifyWhatsapp`]="{ item }">
        <div
          v-if="item.notifyWhatsapp"
          :class="
            item.notifyWhatsapp.status === 'failed'
              ? 'red--text'
              : 'green--text'
          "
        >
          <div>
            {{ item.notifyWhatsapp.status }}
          </div>
          <div>
            {{ item.notifyWhatsapp.message }}
          </div>
        </div>
      </template>
    </v-data-table>
  </ui-table-pagination-filter>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import { UiTablePaginationFilter } from '@inatti/shared/ui'
import { ReferencePatientSwabApi } from '@inatti/shared/api-nuxt'

import {
  GenderEnum,
  MethodPaymentEnum,
  PatientSwabDetailDTO,
  StatusOrderEnum,
  StatusSwabEnum,
  StatusSwabMapping,
  StatusPaymentMapping,
  ResultSwabEnum,
} from '@inatti/shared/api-nuxt'
import { DataTableHeader } from 'vuetify/types/index'

interface PatientTableData {
  data: {
    swabId: number
    patientId: string
  }
  column1: {
    name: string
    gender: GenderEnum | string
  }
  column2: {
    nik: string
    datebirth: string
  }
  column3: {
    statusOrder?: StatusOrderEnum
    method?: MethodPaymentEnum
  }
  column4: {
    statusTest: StatusSwabEnum | string
    dateTest: string | null
  }
  column5: {
    phone: string
  }
  resultSwab: ResultSwabEnum | string
  sampleId: any
  createdAt: string
  narSample: any
  notifyWhatsapp: any
}

interface xlsxPatientModel {
  id: number
  patientName: string
  patientNik: string
  patientGender: GenderEnum | string
  datebirth: string
  placebirth: string
  address: string
  typeTest?: string
  status: StatusSwabEnum | string
  swabDate: string | null
  createdAt: string
  codeBooking: string | number
  resultSwab: ResultSwabEnum | undefined
  resultSentAt: string | null
  orderSwabId: string | undefined
  orderSwabMethod?: MethodPaymentEnum
  orderSwabStatus?: StatusOrderEnum
  orderSwabPrice: number | undefined
}

@Component({ components: { UiTablePaginationFilter } })
export default class ListPatientComponent extends Vue {
  @Prop({
    type: [String, Array],
    default: null,
  })
  filtStatus!: StatusSwabEnum | StatusSwabEnum[]

  @Prop({
    type: String,
    default: null,
  })
  typeTable!: string

  referenceTransactionApi = new ReferencePatientSwabApi(this.$axios)

  listPatiens = [] as PatientSwabDetailDTO.SwabDetail[]
  patientTableHeader = [
    {
      text: 'Pasien',
      value: 'column1',
      sortable: false,
    },
    {
      text: 'Tgl Lahir/Nik',
      value: 'column2',
      sortable: false,
    },
    {
      text: 'No. Telepon',
      value: 'column5',
      sortable: false,
    },
    {
      text: 'Status Bayar',
      value: 'column3',
      sortable: false,
    },
    {
      text: 'Status & Tanggal Test',
      value: 'column4',
      sortable: false,
    },
    {
      text: 'Hasil Test',
      value: 'resultSwab',
      sortable: false,
    },
    {
      text: 'Kode Sample',
      value: 'sampleId',
      sortable: false,
    },
    {
      text: 'Tanggal dibuat',
      value: 'createdAt',
      sortable: false,
    },
    {
      text: 'Status NAR',
      value: 'narSample',
      sortable: false,
    },
    {
      text: 'Status kirim whatsapp',
      value: 'notifyWhatsapp',
    },
    {
      text: 'Aksi',
      value: 'column6',
      sortable: false,
    },
  ] as DataTableHeader[]
  patientItems = [] as PatientTableData[]
  dataResult = {}
  isLoading = true
  selected = []

  xlsxHeaderPatient = [
    {
      header: 'Id Swab',
      key: 'id',
      width: 10,
    },
    {
      header: 'Nama',
      key: 'patientName',
      width: 20,
    },
    {
      header: 'Nik',
      key: 'patientNik',
      width: 20,
    },
    {
      header: 'Jenis Kelamin',
      key: 'patientGender',
      width: 20,
    },
    {
      header: 'Tanggal Lahir',
      key: 'datebirth',
      width: 20,
    },
    {
      header: 'Tempat Lahir',
      key: 'placebirth',
      width: 20,
    },
    {
      header: 'Alamat',
      key: 'address',
      width: 20,
    },
    {
      header: 'Tipe Tes',
      key: 'typeTest',
      width: 20,
    },
    {
      header: 'Status',
      key: 'status',
      width: 20,
    },
    {
      header: 'Tanggal swab',
      key: 'swabDate',
      width: 20,
    },
    {
      header: 'Tanggal Register',
      key: 'createdAt',
      width: 20,
    },
    {
      header: 'Kode Booking',
      key: 'codeBooking',
      width: 20,
    },
    {
      header: 'Hasil',
      key: 'resultSwab',
      width: 20,
    },
    {
      header: 'Tanggal keluar hasil',
      key: 'resultSentAt',
      width: 20,
    },
    {
      header: 'ID Pembayaran',
      key: 'orderSwabId',
      width: 20,
    },
    {
      header: 'Metode pembayaran',
      key: 'orderSwabMethod',
      width: 20,
    },
    {
      header: 'Status pembayaran',
      key: 'orderSwabStatus',
      width: 20,
    },
    {
      header: 'Harga',
      key: 'orderSwabPrice',
      width: 20,
    },
  ]

  xlsxBodyItems = [] as xlsxPatientModel[]
  xlsxBodyList = [] as PatientSwabDetailDTO.SwabDetail[]

  get listSelected() {
    const selectedSwabId = this.selected.map((v: any) => v.data.swabId)
    return this.listPatiens.filter((v) => selectedSwabId.includes(v.id))
  }

  @Watch('filtStatus')
  onChangeFiltStatus(_newVal: any) {
    this.fetchPatient()
  }

  lastParams = null
  async fetchPatient(params: any = {}) {
    try {
      this.lastParams = params
      if (!this.filtStatus) return true

      this.isLoading = true
      let refId = this.$store.state.refStore.refId
      const typeProduct = this.$route.params.type === 'pcr' ? 1 : 2
      let filterStatus = Array.isArray(this.filtStatus)
        ? this.filtStatus.join(',')
        : this.filtStatus

      const result = await this.referenceTransactionApi.getStatus({
        refId,
        product: typeProduct,
        status: filterStatus,
        paymentStatus: 'paid,paymentReceived', // only show `paid` status
        ...params,
      })
      this.dataResult = result
      this.listPatiens = result.results
      this.patientItems = this.parseToTable()
      this.xlsxBodyList = result.results
      this.xlsxBodyItems = this.parseBodyXlsx()
    } finally {
      this.isLoading = false
    }
  }

  statusPaymentMapping: any = StatusPaymentMapping

  refetchPatient() {
    this.fetchPatient(this.lastParams)
  }

  parseToTable(): PatientTableData[] {
    let patientTableData: PatientTableData[] = []
    for (let i = 0; i < this.listPatiens.length; i++) {
      const swabDetail: PatientSwabDetailDTO.SwabDetail = this.listPatiens[i]
      patientTableData.push({
        data: {
          swabId: swabDetail.id,
          patientId: swabDetail.patient.id,
        },
        column1: {
          name: swabDetail.patient.name,
          gender: swabDetail.patient.gender,
        },
        column2: {
          nik: swabDetail.patient.nik,
          datebirth: swabDetail.patient.datebirth,
        },
        column3: {
          statusOrder: swabDetail.orderSwab?.status,
          method: swabDetail.orderSwab?.method,
        },
        column4: {
          statusTest: swabDetail.status,
          dateTest: swabDetail.swabDate
            ? new Date(swabDetail.swabDate.toString()).toLocaleString()
            : null,
        },
        column5: {
          phone: swabDetail.patient.phonenumber,
        },
        resultSwab: swabDetail.resultSwab ?? 'Belum keluar',
        sampleId: swabDetail.sampleId,
        createdAt: new Date(swabDetail.createdAt.toString()).toLocaleString(),
        narSample: swabDetail.narSample,
        notifyWhatsapp: swabDetail.notifyWhataspp,
      })
    }
    return patientTableData
  }

  created() {
    this.fetchPatient({
      'filter[date]': 'today',
    })
  }

  statusSwabMapping: any = StatusSwabMapping
  getItemClass(item: any) {
    let swabMap = this.statusSwabMapping[item.column4.statusTest]
    if (!swabMap) return null

    let color = swabMap.color

    if (!color) return null
    if (color.split(' ').length > 0) {
      const colorSplit = color.split(' ')
      color = colorSplit[0] + '--text text--' + colorSplit[1]
    } else {
      color = color + '--text'
    }
    return color
  }
  parseBodyXlsx(): xlsxPatientModel[] {
    let xlsxPatientData: xlsxPatientModel[] = []
    for (let i = 0; i < this.xlsxBodyList.length; i++) {
      const xlsxPatientDetail: PatientSwabDetailDTO.SwabDetail =
        this.xlsxBodyList[i]
      xlsxPatientData.push({
        id: xlsxPatientDetail.id,
        patientName: xlsxPatientDetail.patient?.name,
        patientNik: xlsxPatientDetail.patient?.nik,
        patientGender:
          xlsxPatientDetail.patient?.gender === 'lk'
            ? 'Laki Laki'
            : xlsxPatientDetail.patient?.gender === 'pr'
            ? 'Perempuan'
            : xlsxPatientDetail.patient?.gender,
        datebirth: xlsxPatientDetail.patient?.datebirth,
        placebirth: xlsxPatientDetail.patient?.placebirth,
        address: xlsxPatientDetail.patient?.address,
        typeTest: this.$route.params.type,
        status: xlsxPatientDetail.status
          ? this.statusSwabMapping[xlsxPatientDetail.status]?.text
          : xlsxPatientDetail.status,
        swabDate: xlsxPatientDetail.swabDate
          ? new Date(xlsxPatientDetail.swabDate.toString()).toLocaleString()
          : null,
        createdAt: new Date(
          xlsxPatientDetail.createdAt.toString()
        ).toLocaleString(),
        codeBooking: xlsxPatientDetail.codeBooking,
        resultSwab: xlsxPatientDetail.resultSwab,
        resultSentAt: xlsxPatientDetail.resultSentAt
          ? new Date(xlsxPatientDetail.resultSentAt.toString()).toLocaleString()
          : null,
        orderSwabId: xlsxPatientDetail.orderSwab?.id,
        orderSwabMethod: xlsxPatientDetail.orderSwab?.method,
        orderSwabStatus: xlsxPatientDetail.orderSwab?.status
          ? this.statusPaymentMapping[xlsxPatientDetail.orderSwab?.status].text
          : xlsxPatientDetail.orderSwab?.status,
        orderSwabPrice: xlsxPatientDetail.orderSwab?.price,
      })
    }
    return xlsxPatientData
  }
  $printPdf: any
  $utils: any

  onPrintSample(payload: any) {
    if (!Array.isArray(payload) && payload.length === 0) return
    let data = payload.map((v: any) => ({
      idSample: v.sampleId,
      dateTest: v.requestSwabDate ?? v.createdAt,
      patientName: v.patient?.name,
      birthDate: v.patient?.datebirth,
      gender: v.patient?.gender,
      referenceName: v.refTarget?.name,
    }))
    this.$printPdf.printSample(data)
  }
  $excelJSExport: any
  exportXlsx() {
    this.$excelJSExport({
      body: this.xlsxBodyItems,
      header: this.xlsxHeaderPatient,
      worksheetName: 'Sheets1',
      fileName: `Pasien_${this.$route.params.type}_${this.typeTable}`,
      format: 'xlsx',
      headerStyle: {
        align: 'center',
        fontColor: 'FFFFFF',
        fontBold: true,
        bgColor: '031E68',
        borderColor: '000000',
      },
      bodyStyle: {
        align: 'center',
        fontColor: '000000',
        fontBold: false,
        bgColor: 'FFFFFF',
        borderColor: '000000',
      },
    })
  }
}
</script>

<style></style>
