<template>
  <div>
    <common-toolbar no-back>
      <div>Database PMR</div>
      <template #control>
        <v-btn v-show="$allow('manage:pmr')" :disabled="isButtonAddDisabled" color="primary" :to="`/patient`">
          Tambah PMR Pasien
        </v-btn>
      </template>
    </common-toolbar>
    <feature-telefarmasi-database-pmr-list :custom-query="query">
      <template #list-action="{ data }">
        <v-btn x-small color="primary" :to="`patient/${data.patient.id}`">
          Detail Pasien
        </v-btn>
        <v-btn
          x-small
          color="primary"
          :to="`patient/${data.patient.id}/medical-record?pmrId=${data.id}&apotekId=${$store.state.apotekStore.apotekId}`"
        >
          PMR
        </v-btn>
      </template>
    </feature-telefarmasi-database-pmr-list>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class listPmr extends Vue {
  query = {
    'filter[apotek]': this.$route.query.apotekId,
  }

  $allow : any

  get apotekStatus() {
    return this.$store.state.apotekerStore.status
  }

  get isButtonAddDisabled() {
    return !this.apotekStatus.isApotekActice.status
  }
}
</script>

<style></style>
