<template>
  <div>
    <v-toolbar class="mb-3">
      <v-toolbar-title>Head Quarter Management</v-toolbar-title>
      <v-spacer />
      <v-btn
        color="primary"
        @click="isDialogAddHeadofficeOpen = !isDialogAddHeadofficeOpen"
      >
        <v-icon left> mdi-plus </v-icon> Tambah Head Quarter
      </v-btn>
    </v-toolbar>
    <v-card class="pa-4">
      <div class="filter-container mb-4">
        <v-text-field
          v-model="search"
          outlined
          dense
          append-icon="mdi-magnify"
          label="Cari Head Quarter"
          hide-details
        ></v-text-field>
      </div>
      <v-data-table
        :headers="table.headers"
        :items="table.items"
        item-key="id"
        class="elevation-1"
        pagination.sync="pagination"
        :search="search"
      >
        <template #[`item.createdAt`]="{ item }">
          {{ formatDate(item.createdAt) }}
        </template>
        <template #[`item.deleteAt`]="{ item }">
          <span :class="item.deleteAt ? 'red--text' : 'green--text'">
            {{ item.deleteAt ? 'Telah dihapus' : 'Aktif' }}
          </span>
        </template>
        <template #[`item.actions`]="{ item }">
          <v-btn color="primary" icon small @click="openEditDialog(item)">
            <v-icon small> mdi-pencil-outline </v-icon>
          </v-btn>
          <v-btn color="error" icon small @click="confirmDelete(item)">
            <v-icon small> mdi-trash-can-outline </v-icon>
          </v-btn>
          <v-btn
            color="gray"
            depressed
            x-small
            @click="$router.push(`/apotek-headoffice/${item.id}`)"
          >
            detail
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
    <UiCommonDialog
      :value="isDialogAddHeadofficeOpen"
      :confirmText="'Tambah'"
      :cancelText="'Batal'"
      :width="600"
      :persistent="true"
      :title="'Tambah Head Quarter'"
      @btn-cancel="cancelAddHeadoffice"
      @btn-save="addHeadoffice()"
    >
      <v-form ref="addHeadofficeForm">
        <v-alert
          type="error"
          outlined
          :value="attribute.addHeadofficeForm.isError"
        >
          Gagal menambahkan Head Quarter.
        </v-alert>
        <v-text-field
          v-model="form.addHeadoffice.name"
          label="Nama Head Quarter"
          :rules="[attribute.rules.required]"
          outlined
          dense
          @keydown.enter.prevent="addHeadoffice()"
        />
      </v-form>
    </UiCommonDialog>
    <UiCommonDialog
      :persistent="true"
      :value="isDialogEditHeadofficeOpen"
      :confirmText="'Simpan'"
      :cancelText="'Batal'"
      :width="600"
      :title="'Edit Head Quarter'"
      @btn-save="updateHeadoffice(form.selectedHeadoffice.id)"
      @btn-cancel="isDialogEditHeadofficeOpen = false"
    >
      <v-form ref="updateHeadofficeForm">
        <v-alert
          type="error"
          text
          :value="attribute.updateHeadofficeForm.isError"
        >
          Gagal mengubah Apotek Head Quarter.
        </v-alert>
        <v-text-field
          v-model="form.updateHeadoffice.name"
          label="Nama Headoffice"
          :rules="[attribute.rules.required]"
          outlined
          dense
          @keydown.enter.prevent="updateHeadoffice(form.selectedHeadoffice.id)"
        ></v-text-field>
      </v-form>
    </UiCommonDialog>
    <dialog-delete-confirm
      v-model="isOpenDialogDelete"
      @ok="deleteHeadoffice(form.selectedHeadoffice.id)"
    />
  </div>
</template>

<script lang="ts">
import {
  ApotekHeadofficeApi,
  ApotekHeadofficeData,
} from '@inatti/shared/api-nuxt'
import { UiCommonDialog } from '@inatti/shared/ui'
import { Component, Vue } from 'nuxt-property-decorator'

@Component({ components: { UiCommonDialog } })
export default class ApotekHeadoffice extends Vue {
  search = ''
  table = {
    headers: [
      {
        text: 'No.',
        align: 'start',
        sortable: false,
        value: 'no',
      },
      { text: 'Nama Head Quarter', value: 'name' },
      { text: 'Tanggal Dibuat', value: 'createdAt' },
      { text: 'Status Head Quarter', value: 'deleteAt' },
      { text: 'Aksi', value: 'actions' },
    ],
    items: [] as ApotekHeadofficeData[],
  }

  async fetchHeadofficeList() {
    try {
      const result = await this.apotekHeadofficeApi.getList()
      this.table.items = result.map((item: any, i: any) => {
        return {
          no: i + 1,
          id: item.id,
          name: item.name,
          createdAt: item.createdAt,
          deleteAt: item.deleteAt,
        }
      })
    } catch (error) {}
  }

  form = {
    addHeadoffice: {
      name: '',
    },
    currentHeadofficeSelected: null as any,
    updateHeadoffice: {
      name: '',
    },
    selectedHeadoffice: {
      id: '',
      name: '',
    },
  }

  attribute = {
    addHeadofficeForm: {
      isLoading: false,
      isError: false,
    },
    updateHeadofficeForm: {
      isLoading: false,
      isError: false,
    },
    rules: {
      required: (v: any) => !!v || 'Form ini harus diisi.',
    },
  }

  isDialogAddHeadofficeOpen = false
  isDialogEditHeadofficeOpen = false
  isShowDialogDeleteHeadofficePicture = false
  isOpenDialogDelete = false

  $dayjs
  $form
  $utils

  apotekHeadofficeApi!: ApotekHeadofficeApi

  mounted() {
    this.apotekHeadofficeApi = new ApotekHeadofficeApi(this.$axios)
    this.fetchHeadofficeList()
  }

  async fetchDetailHeadoffice(id: string) {
    try {
      const response = await this.apotekHeadofficeApi.getOne(id)
      this.form.updateHeadoffice = this.$utils.cloneObject(response)
      this.form.currentHeadofficeSelected = this.$utils.cloneObject(response)
      this.$form.resetValidation(this.$refs, 'updateHeadofficeForm')
    } catch (error) {
      this.isDialogEditHeadofficeOpen = false
    }
  }

  async addHeadoffice() {
    this.attribute.addHeadofficeForm.isLoading = true
    try {
      if (!this.$form.validate(this.$refs, 'addHeadofficeForm')) return
      await this.apotekHeadofficeApi.create(this.form.addHeadoffice)
      this.attribute.addHeadofficeForm.isError = false
      this.isDialogAddHeadofficeOpen = false
      this.$form.reset(this.$refs, 'addHeadofficeForm')
      this.fetchHeadofficeList()
    } catch (error) {
      this.attribute.addHeadofficeForm.isError = true
    } finally {
      this.attribute.addHeadofficeForm.isLoading = false
    }
  }

  cancelAddHeadoffice() {
    this.$form.reset(this.$refs, 'addHeadofficeForm')
    this.isDialogAddHeadofficeOpen = false
  }

  openEditDialog(item: ApotekHeadofficeData) {
    this.selectHeadoffice(item)
    this.fetchDetailHeadoffice(item.id)
    this.isDialogEditHeadofficeOpen = true
  }

  selectHeadoffice(item: ApotekHeadofficeData) {
    this.form.selectedHeadoffice = {
      id: item.id,
      name: item.name,
    }
  }

  async updateHeadoffice(id: string) {
    this.attribute.updateHeadofficeForm.isLoading = true
    if (!this.$form.validate(this.$refs, 'updateHeadofficeForm')) return
    try {
      await this.apotekHeadofficeApi.update(id, this.form.updateHeadoffice)
      this.attribute.updateHeadofficeForm.isError = false
      this.fetchHeadofficeList()
      this.isDialogEditHeadofficeOpen = false
    } catch (error) {
      this.attribute.updateHeadofficeForm.isError = true
    } finally {
      this.attribute.updateHeadofficeForm.isLoading = false
    }
  }

  confirmDelete(item: any) {
    this.selectHeadoffice(item)
    this.isOpenDialogDelete = true
  }

  $snackbar
  async deleteHeadoffice(id: string) {
    try {
      await this.apotekHeadofficeApi.delete(id)
      this.isOpenDialogDelete = false
      this.fetchHeadofficeList()
    } catch (error: any) {
      const code = parseInt(error.response && error.response.status)
      this.$snackbar(error.response.data.message ?? code)
    }
  }

  formatDate(date: string | Date) {
    return this.$dayjs(date).format('DD/MM/YYYY, HH:mm:ss A')
  }
}
</script>

<style scoped>
.filter-container {
  width: 400px;
}
</style>
