<template>
  <div class="text-center">
    <v-dialog
      v-model="showDialog"
      :width="width"
      @click:outside="$emit('cancel')"
    >
      <v-card :loading="loading">
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>
        <v-divider />
        <v-card-text class="mt-3">
          <slot />
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer />
          <v-btn @click="$emit('cancel')">
            <v-icon> mdi-close </v-icon>
            {{ cancelText }}
          </v-btn>
          <v-btn color="secondary" @click="$emit('ok')">
            <v-icon> {{ confirmIcon }} </v-icon>
            {{ confirmText }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
@Component
export default class CommonDialog extends Vue {
  @Prop({ type: [Boolean], default: false })
  value!: boolean

  @Prop({ type: [Number] })
  width!: number

  @Prop({ type: [Boolean], default: false })
  loading!: boolean

  @Prop({ type: [String] })
  title!: string

  @Prop({ type: [String], default: undefined })
  confirmIcon!: string | undefined

  @Prop({ type: [String], default: 'Ok' })
  confirmText!: string

  @Prop({ type: [String], default: 'Close' })
  cancelText!: string

  get showDialog() {
    return this.value
  }

  set showDialog(val) {
    this.$emit('input', val)
  }
}
</script>
