<template>
  <v-form ref="form" v-model="isValid" lazy-validation>
    <v-row>
      <v-col cols="12">
        <p class="text-body-1 grey--text text--darken-1 mb-3">Tanggal Test</p>
        <v-menu
          v-model="datePickerMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template #activator="{ on, attrs }">
            <v-text-field
              v-model="testDate"
              v-bind="attrs"
              label="Tanggal Test"
              prepend-inner-icon="mdi-calendar"
              outlined
              hint="YYYY-MM-DD format"
              persistent-hint
              readonly
              single-line
              dense
              :rules="rules.date"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="testDate" @input="datePickerMenu = false"></v-date-picker>
        </v-menu>

      </v-col>
      <v-col cols="12">
        <p class="text-body-1 grey--text text--darken-1 mb-3">Jenis Test</p>
        
        <page-testcovid-test-type ref="testType" v-model="testType" />

      </v-col>
    </v-row>
    
    <slot />

  </v-form>
</template>


<script>
export default {
  name: "FormStart",
  props: {
    redirect: {
      type: String,
      default: null,
    },
    typeEditable: {
      type: Boolean,
      default: true,
    }
  },
  data: () => ({
    datePickerMenu: false,
    
    rules: {
      date: [
        (v) => !!v || 'Tanggal test harus diisi'
      ],
      patient: [
        (v) => v >= 1 || 'Jumlah pendaftar harus diisi'
      ]
    },
    amountPatient: null,
    isValid: true
  }),
  computed: {
    amountPatientStore: {
      get(){
        return this.$store.state.testcovid.amountPatient
      },
      set(val){
        this.$store.commit('testcovid/setAmountPatient', val)
      }
    },
    testDate: {
      get() {
        return this.$store.state.testcovid.dateTest
      },
      set(val){
        this.$store.commit('testcovid/setDateTest', val)
      }
    },
    testType: {
      get() {
        return this.$store.state.testcovid.typeTest
      },
      set(val){
        if(!this.typeEditable) return false
        this.$store.commit('testcovid/setTypeTest', val)
      }
    }
  },
  mounted(){
    // set testdate to today
    this.testDate = new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10)
    this.amountPatient = this.amountPatientStore ? this.amountPatientStore : 1;
  },
  methods: {
    validate(){
      const formValidate = this.$refs.form.validate();
      const testTypeValidate = this.$refs.testType.validate();
      this.amountPatientStore = this.amountPatient
      return formValidate && testTypeValidate
    },
  }
}
</script>