<template>
  <div
    class="d-block white patient-list pa-3 px-6 pointer"
    @click="$store.commit('testcovid/addAmountPatient')"
  >
    <div class="d-flex justify-space-between">
      <div>
        <v-icon color="info"> mdi-account-plus-outline </v-icon>
        <span
          class="subtitle-2 info--text ml-2"
        >
          Tambah Pasien
        </span>
      </div>
      <v-icon color="info">
        mdi-plus
      </v-icon>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#757575',
    },
  },
}
</script>

<style scoped>
.patient-list {
  text-decoration: none;
  border-bottom: 4px solid #F5F5F5 !important;
}
.patient-list:last-of-type {
  border: 0px solid black;
}
.pointer {
  cursor: pointer;
}
</style>
