<template>
  <NuxtLink
    class="d-block white payment-list px-6"
    :to="linkTo"
  >
    <div class="d-flex justify-space-between">
      <div class="d-flex align-center justify-space-between">
        <img :src="iconLink" width="50px"/>
        <span
          class="subtitle-2 ml-2 grey--text text--darken-3"
        >
          {{ text }}
        </span>
      </div>
      <v-icon v-if="rightIcon" color="#757575">
        mdi-chevron-right
      </v-icon>
    </div>
  </NuxtLink>
</template>

<script>
export default {
  props: {
    rightIcon: {
      type: Boolean,
      default: true
    },
    text: {
      type: String,
      default: 'Pasien '
    },
    color: {
      type: String,
      default: '#757575'
    },
    linkTo: {
      type: String,
      default: ''
    },
    iconLink: {
      type: String,
      default: ""
    }
  },
}
</script>

<style scoped>
.payment-list {
  text-decoration: none;
  border-bottom: 4px solid #F5F5F5 !important;
}
.payment-list:last-of-type {
  border: none !important;
}
</style>
