<template>
  <NuxtLink class="d-block white patient-list pa-3 px-6" :to="linkTo">
    <div class="d-flex justify-space-between">
      <div>
        <v-icon :color="color"> {{ icon }} </v-icon>
        <span class="subtitle-2 ml-2 grey--text text--darken-3">
          {{ name == null ? text : name }}
        </span>
      </div>
      <v-icon v-if="linkTo" :color="color"> mdi-chevron-right </v-icon>
    </div>
  </NuxtLink>
</template>

<script>
export default {
  props: {
    name: {
      type: [String, Number],
      default: '',
    },
    icon: {
      type: String,
      default: 'mdi-account-outline',
    },
    text: {
      type: String,
      default: 'Pasien ',
    },
    color: {
      type: String,
      default: '#757575',
    },
    linkTo: {
      type: String,
      default: '',
    },
  },
}
</script>

<style scoped>
.patient-list {
  text-decoration: none;
  border-bottom: 4px solid #f5f5f5 !important;
}
.patient-list:last-of-type {
  border: none !important;
}
</style>
