<template>
  <v-row>
    <v-col cols="12" class="d-block grey lighten-4 pa-2 px-6">
      <div class="subtitle-2 grey--text text--darken-3">{{ headText }}</div>
    </v-col>
    <v-col cols="12" class="white pa-0">
      <slot />
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    headText: {
      type: String,
      default: ''
    }
  }
}
</script>
