<template>
  <div>
    <v-row class="d-flex justify-space-around">
      <div
        v-if="!testType.length"
        class="d-flex justify-space-around"
        style="width: 100%"
      >
        <v-col v-for="(n, i) in 3" :key="i" cols="4">
          <v-skeleton-loader
            min-width="70"
            max-width="102"
            height="143"
            type="image"
          ></v-skeleton-loader>
        </v-col>
      </div>
      <v-col
        v-else
        v-for="test in testType"
        :key="test.id"
        cols="4"
        class="d-flex justify-center"
      >
        <v-card
          class="px-3 py-6 pa-sm-3 text-center"
          elevation="0"
          :color="
            selected.id === test.id ? '#8ED4DC' : 'rgba(204, 204, 204, 0.18)'
          "
          width="fit-content"
          data-cy="form-start-testcovid-test-type"
          @click="setSelected(test)"
        >
          <div>
            <img
              :src="require(`~/assets/icons/test/product_${test.id}.svg`)"
              class="icon-test"
            />
          </div>
          <div
            class="text-md-body-1 text-body-2 font-weight-light grey--text text--darken-3"
          >
            {{ test.name }}
          </div>
        </v-card>
      </v-col>
    </v-row>
    <v-alert
      v-if="msgError"
      class="mt-3 text-md-body-1 text-body-2"
      type="warning"
      dense
      text
    >
      {{ msgError }}
    </v-alert>
  </div>
</template>

<script>
import { InfoApi, UserFaskesApi } from '@inatti/shared/api-nuxt'
export default {
  props: {
    value: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      testType: [],
      msgError: null,
      userFaskesApi: null,
      infoApi: null,
    }
  },
  computed: {
    selected: {
      get() {
        return this.$props.value ?? {}
      },
      set(val) {
        this.$emit('input', {
          id: val.id,
          name: val.title,
        })
      },
    },
  },
  mounted() {
    this.infoApi = new InfoApi(this.$axios)
    this.fetchTestType()
    this.userFaskesApi = new UserFaskesApi(this.$axios)
  },
  methods: {
    setSelected(item) {
      this.selected = item
    },
    validate() {
      if (!this.selected || typeof this.selected.id === 'undefined') {
        this.msgError = 'Mohon pilih salah satu tipe test'
        return false
      }
      this.msgError = null
      return true
    },
    async fetchTestType() {
      try {
        this.testType = await this.infoApi.getProductType()
      } catch (error) {}
    },
  },
}
</script>

<style>
.icon-test {
  width: 13vw;
  max-width: 78px;
}
</style>
