<template>
  <v-app-bar class="mt-toolbar" app dense outlined elevation="0">
    <v-row class="subtitle-2 secondary--text font-weight-light">
      <v-col cols="1">
        <v-icon color="secondary" small> mdi-clock-alert-outline </v-icon>
      </v-col>
      <v-col class="subtitle-2 font-weight-regular">Selesaikan pembayaran dalam waktu :</v-col>
      <v-col cols="2" class="px-0">14:00</v-col>
    </v-row>
  </v-app-bar>
</template>