<template>
  <v-app-bar
    absolute
    dense
    outlined
    elevation="0"
    class="toolbar-edit-test mt-toolbar"
  >
    <v-row
      class="subtitle-2 secondary--text font-weight-light cursor-pointer"
      @click="showExpand()"
    >
      <v-col class="d-flex align-center justify-center">
        <v-icon class="mr-3" size="16"> mdi-calendar-range </v-icon>
        {{
          $store.state.testcovid.dateTest
            ? $dateFns.format($store.state.testcovid.dateTest, 'dd/MM/yyyy')
            : null
        }}.
      </v-col>
      <v-divider vertical inset class="mb-3" />
      <v-col class="d-flex align-center justify-center">
        <v-icon class="mr-3" size="16">
          mdi-account-multiple-check-outline
        </v-icon>
        {{ $store.state.testcovid.amountPatient }} Orang
      </v-col>
      <v-divider vertical inset class="mb-3" />
      <v-col class="d-flex align-center justify-center">
        <v-icon class="mr-3" size="16"> mdi-diabetes </v-icon>
        {{
          $store.state.testcovid.typeTest
            ? $store.state.testcovid.typeTest.name
            : null
        }}
      </v-col>
    </v-row>
    <v-dialog v-model="show">
      <v-card>
        <v-card-title> Pengaturan Daftar Test </v-card-title>
        <v-card-text>
          <page-testcovid-form-start ref="form" :type-editable="false">
            <v-row>
              <v-col cols="12">
                <v-alert type="info" dense class="mb-3">
                  Peringatan : Tipe test tidak bisa diubah karena Anda telah
                  memilih Faskes
                </v-alert>
                <v-btn depressed block color="warning" @click="validateForm()">
                  Simpan
                </v-btn>
              </v-col>
            </v-row>
          </page-testcovid-form-start>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-app-bar>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      show: false
    }
  },
  methods: {
    showExpand() {
      this.show = !this.show
    },
    validateForm() {
      if (!this.$refs.form.validate()) return false

      this.show = !this.show
    }
  }
}
</script>

<style scoped>
.toolbar-edit-test {
  position: fixed;
  width: 100%;
  z-index: 999;
}
</style>