<template>
  <v-card
    color="secondary"
    class="toolbar-location__card rounded-t-0"
    width="100%"
    elevation="0"
  >
    <v-toolbar color="secondary" class="white--text" elevation="0">
      <div
        style="width: 100%"
        class="d-flex justify-space-between align-center"
      >
        <span>Filter Berdasarkan Lokasi Terdekat</span>
        <v-btn
          v-if="!cordinate"
          small
          depressed
          color="warning"
          @click="getCurrentLocation"
        >
          Aktifkan Lokasi
        </v-btn>
        <v-btn
          v-if="cordinate"
          small
          outlined
          depressed
          color="white"
          @click="resetFilter"
        >
          Matikan Lokasi
        </v-btn>
      </div>
    </v-toolbar>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      cordinate: '',
    }
  },
  watch: {
    cordinate() {
      this.$emit('onchange', this.cordinate)
    },
  },
  methods: {
    getCurrentLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(this.succes, this.error)
      }
    },
    succes(resp) {
      this.cordinate = `${resp.coords?.latitude},${resp.coords?.longitude}`
    },
    error() {},
    resetFilter() {
      this.cordinate = ''
    },
  },
}
</script>

<style scoped>
.toolbar-location__card {
  /* position: fixed; */
  width: 100%;
  z-index: 1;
  left: 0;
}
</style>
