<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Vaksinasi Anggota Keluarga </mobile-appbar-title>
    </template>

    <div class="mt-16">
      <div
        class="font-weight-medium pt-3 pb-2 pl-5 d-flex justify-center align-start flex-column"
        style="font-size: 15px; background-color: #f5f5f5"
      >
        Pilih Hasil Dari Layanan
      </div>
      <v-sheet
        v-for="(relation, index) in relationList"
        :key="index"
        class="cursor-pointer py-3 px-6"
        outlined
      >
        <table @click="routeToPatientPage(relation.patient.id)" width="100%">
          <tbody class="subtitle-2">
            <tr>
              <td justify="center">
                <v-icon class="ml-n1"> mdi-account-outline </v-icon>
                {{ relation.patient.name }}
              </td>
              <td
                :class="
                  relation.vaksinDateAt
                    ? 'text-right info--text font-weight-bold'
                    : 'text-right warning--text text--lighten-2 font-weight-bold'
                "
              >
                {{ formatDate(relation.requestDate) }}
              </td>
            </tr>
            <tr>
              <td>Tanggal Order</td>
              <td class="caption font-weight-bold text-right">
                {{ formatDate(relation.createdAt) }}
              </td>
            </tr>
            <tr>
              <td>NIK</td>
              <td class="text-right">
                {{ relation.patient.nik ? relation.patient.nik : '' }}
              </td>
            </tr>
            <tr>
              <td>Status</td>
              <td class="text-right">
                <common-chip-status-vaccine
                  :swab-date="relation.vaksinDateAt ?? ''"
                  :x-small="true"
                  :status="resultVaccine(relation.vaksinDateAt)"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <v-btn
          v-if="relation.vaksinDateAt ? true : false"
          class="mt-3"
          block
          small
          color="primary"
          :loading="vaksinLoadingId === relation.id"
          @click="
            printVaksinResult(
              relation.id,
              relation.patient.name,
              relation.patient.id
            )
          "
        >
          Unduh Hasil Vaksin
        </v-btn>
      </v-sheet>
    </div>
  </mobile-layout>
</template>

<script>
import { VaksinApi } from '@inatti/shared/api-nuxt'
import { id } from 'date-fns/esm/locale'

export default {
  layout: 'blank',
  data: () => ({
    relationList: [],
    vaksinApi: null,
    vaksinLoadingId: null,
    // negativeAfterThreeDays: false,
  }),
  mounted() {
    this.vaksinApi = new VaksinApi(this.$axios)
    this.getRelationList()
  },
  methods: {
    async getRelationList() {
      try {
        this.relationList = await this.vaksinApi.listByUser()
      } catch (err) {}
    },
    async printVaksinResult(id, patientName, patientId) {
      this.vaksinLoadingId = id
      try {
        const resp = await this.vaksinApi.downloadPdf(id)
        if (resp) {
          this.$utils.saveFile({
            byteArray: resp,
            blobType: 'application/pdf',
            fileName: `${patientName}_${patientId}`,
            extension: 'pdf',
          })
        }
      } catch (error) {}
      this.vaksinLoadingId = null
    },

    formatDate(date) {
      return this.$dateFns.format(date, 'EEEE, dd MMMM yyyy', {
        locale: id,
      })
    },
    routeToPatientPage(patientId) {
      const show = this.$route.query.show
      if (show === 'pmr')
        return this.$router.push(`/testcovid/patient/${patientId}?tab=1`)
      this.$router.push(`/testcovid/patient/${patientId}`)
    },
    resultVaccine(date) {
      return date ? 'vaccinated' : 'unvaccinated'
    },
  },
}
</script>

<style>
.cursor-pointer:hover {
  cursor: pointer;
  text-decoration: none;
  color: #424242 !important;
}
</style>
