<template>
  <div>
    <ui-page-auth-container title="Ganti Password Baru">
      <template #content>
        <v-alert
          v-model="alert.isShow"
          data-cy="auth-form-login-alert"
          :type="alert.type"
          class="mt-3"
          outlined
          transition="scale-transition"
        >
          <v-row align="center">
            <v-col class="grow">
              {{ alert.msg }}
            </v-col>
            <v-col v-show="alert.isShowButton" class="shrink">
              <a href="https://inatti.id/help/" target="_blank">
                <v-btn outlined small :color="alert.type">Pusat Bantuan</v-btn>
              </a>
            </v-col>
          </v-row>
        </v-alert>
        <v-text-field
          v-model="password"
          label="Password Baru"
          class="my-3"
          :rules="[rules.required, rules.min8Char]"
          outlined
          dense
          hide-details="auto"
          :type="isShowPassword ? 'text' : 'password'"
          :append-icon="
            isShowPassword ? 'mdi-eye-off-outline' : 'mdi-eye-outline'
          "
          @click:append="isShowPassword = !isShowPassword"
        ></v-text-field>
        <v-text-field
          v-model="passwordConfirm"
          label="Konfirmasi password"
          class="my-3"
          :rules="[
            rules.required,
            password === passwordConfirm || 'Password tidak sama',
          ]"
          outlined
          dense
          hide-details="auto"
          :type="isShowPassword ? 'text' : 'password'"
          :append-icon="
            isShowPassword ? 'mdi-eye-off-outline' : 'mdi-eye-outline'
          "
          @click:append="isShowPassword = !isShowPassword"
        ></v-text-field>

        <v-btn
          data-cy="auth-form-login-submit"
          color="primary"
          block
          depressed
          :loading="isLoading"
          @click="onChangePassword()"
        >
          Simpan
        </v-btn>
      </template>
      <template #footer>
        <ui-common-tnc-info-footer />
      </template>
    </ui-page-auth-container>
  </div>
</template>

<script lang="ts">
import { UserAuthApi } from '@inatti/shared/api-nuxt';
import setToken from 'apps/identity/utils/token';
import { Component, Vue } from 'nuxt-property-decorator';
import { UiCommonTncInfoFooter, UiPageAuthContainer } from '@inatti/shared/ui';

@Component({
  layout: 'blank',
  components: { UiCommonTncInfoFooter, UiPageAuthContainer },
})
export default class PageNewPassword extends Vue {
  password = '';
  passwordConfirm = '';
  alert = {
    isShow: false,
    isShowButton: false,
    type: null,
    msg: null,
  };
  isLoading = false;
  isShowPassword = false;
  errorMap = {
    'Username found but have no phonenumber':
      'No. Telepon tidak ditemukan, hubungi pusat bantuan InaTTi',
    'Username not found': 'Username tidak ditemukan',
  };
  rules = {
    required: (v: string) => !!v || 'Wajib diisi',
    min8Char: (v: string) =>
      (!!v && v.length > 7) || 'Password minimal 8 karakter',
  };

  userAuthApi!: UserAuthApi;
  mounted() {
    this.userAuthApi = new UserAuthApi(this.$axios);
  }

  $auth: any;
  async onChangePassword() {
    if (!this.password) return;
    const { next, token } = this.$route.query;
    try {
      this.isLoading = true;
      await this.userAuthApi.forgetPasswordChangePassword(this.password);
      setToken(this.$auth, token);
      window.open(next as string, '_self');
    } catch (error) {
      this.setAlert(
        this.errorMap[error.response.data.message],
        error.response.data.message === 'Username found but have no phonenumber'
      );
    }
    this.isLoading = false;
  }

  setAlert(msg, isShowButton = false, type = 'error') {
    this.alert = {
      isShow: true,
      isShowButton: isShowButton,
      type,
      msg,
    };
  }
}
</script>

<style ${2|scoped,|} lang="scss"></style>
