<template>
  <div>
    <UiPageAuthContainer title="Lupa Password">
      <template #content>
        <v-alert v-model="alert.isShow" data-cy="auth-form-login-alert" :type="alert.type" class="mt-3" outlined
          transition="scale-transition">
          <v-row align="center">
            <v-col class="grow">
              {{ alert.msg }}
            </v-col>
            <v-col v-show="alert.isShowButton" class="shrink">
              <a href="https://inatti.id/help/" target="_blank">
                <v-btn outlined small :color="alert.type">Pusat Bantuan</v-btn>
              </a>
            </v-col>
          </v-row>
        </v-alert>
        <v-text-field v-model="username" label="Username" class="my-3" :rules="rules" outlined dense
          hide-details="auto"></v-text-field>

        <v-btn data-cy="auth-form-login-submit" color="primary" block depressed :loading="isLoading"
          @click="checkUsername()">
          Kirim OTP
        </v-btn>

        <a :href="linkLogin">
          <v-btn data-cy="auth-form-login-submit" class="mt-3" color="primary" text block depressed>
            Login
          </v-btn>
        </a>
      </template>
      <template #footer>
        <ui-common-tnc-info-footer />
      </template>
    </UiPageAuthContainer>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import {
  UiCommonDialog,
  UiCommonTncInfoFooter,
  UiPageAuthContainer,
} from '@inatti/shared/ui';
import { UserAuthApi } from '@inatti/shared/api-nuxt';
import setToken from 'apps/identity/utils/token';

@Component({
  auth: false,
  layout: 'blank',
  components: { UiCommonDialog, UiCommonTncInfoFooter, UiPageAuthContainer },
} as any)
export default class PageForgetPassword extends Vue {
  username = null;
  alert = {
    isShow: false,
    isShowButton: false,
    type: null,
    msg: null,
  };
  isLoading = false;
  errorMap = {
    'Username found but have no phonenumber':
      'No. Telepon tidak ditemukan, hubungi pusat bantuan InaTTi',
    'Username not found': 'Username tidak ditemukan',
  };
  rules = [
    (v: string) => !!v || 'Wajib diisi',
    (v: string) => !/\s/.test(v) || 'Spasi tidak diperbolehkan',
  ];

  userAuthApi!: UserAuthApi;
  mounted() {
    this.userAuthApi = new UserAuthApi(this.$axios);
  }

  $auth!: any;
  async checkUsername() {
    if (!this.username) return;
    const req = this.$route.query.req || 'https://app.inatti.id';
    try {
      this.isLoading = true;
      const res = await this.userAuthApi.forgetPasswordSendOtp(this.username);
      setToken(this.$auth, res.access_token);
      this.$router.push(
        `/auth/otp?next=/auth/change-password?next=${req}/login`
      );
    } catch (error) {
      this.setAlert(
        this.errorMap[error.response.data.message],
        error.response.data.message === 'Username found but have no phonenumber'
      );
    }
    this.isLoading = false;
  }
  setAlert(msg, isShowButton = false, type = 'error') {
    this.alert = {
      isShow: true,
      isShowButton: isShowButton,
      type,
      msg,
    };
  }

  get linkLogin() {
    const { req } = this.$route.query
    return req ? `${req}/login` : 'https://app.inatti.id'
  }
}
</script>

<style lang="scss">

</style>
