<template>
  <div>
    <v-row justify="center" align-content="start" align-content-md="center" class="h-100vh">
      <v-col lg="5" md="6" cols="12" class="my-5">
        <v-card class="ma-3">
          <v-card-title class="justify-center mb-6 mb-md-5">
            <img src="https://inatti.id/asset-app/inatti-v2.2-large.png" height="70vh" alt="Logo InaTTI" class="mt-6" />
          </v-card-title>
          <v-card-subtitle class="mt-1">
            <div class="primary--text text-center text-h5">Verifikasi OTP</div>
          </v-card-subtitle>
          <v-card-text>
            <div class="text-center mb-3">
              Halo <strong>{{ userLoggedin.username }}</strong>, Kode OTP telah dikirimkan ke Whatsapp
              {{ userLoggedin.phoneNumber }}.
            </div>
            <v-form ref="loginForm" :disabled="isLoading" @submit="
              () => {
              }
            ">
              <v-container>
                <v-row justify="center">
                  <v-col cols="12" sm="7">
                    <v-otp-input v-model="otp" length="6" type="text" @finish="login()"></v-otp-input>
                  </v-col>
                </v-row>
              </v-container>

              <div v-if="timeToResend == 0" class="mb-4 d-flex text-center align-center justify-center">
                <v-btn :loading="resendLoading" text color="primary" @click="resendOtp">Kirim Ulang</v-btn>
              </div>

              <div v-else class="grey--text text-center mb-3">
                Kirim ulang {{ timeToResend }} detik lagi
              </div>

              <v-btn data-cy="auth-form-login-submit" color="primary" block depressed :loading="isLoading"
                @click="login()">
                Validasi OTP
              </v-btn>

              <v-btn @click="$auth.logout()" block text class="mt-2"> Batal </v-btn>

              <v-card-text class="text-caption text-center">
                <UiCommonTncInfoFooter />
              </v-card-text>
            </v-form>
            <v-alert v-model="alert.isShow" data-cy="auth-form-login-alert" :type="alert.type" class="mt-3" dismissible
              outlined transition="scale-transition">
              {{ alert.msg }}
            </v-alert>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog.isShow" width="500" persistent>
      <v-card :loading="dialog.isLoading">
        <v-card-title class="text-h5">
          <span>Ganti Nomor Hp (Whatsapp)</span>
          <v-spacer />
          <v-btn icon>
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>

        <v-divider />

        <v-card-text class="pt-3">
          <v-text-field dense outlined hide-details="auto" prefix="+62" placeholder="1234567823">
            <template v-slot:label>
              <div>
                No. HP (Whatsapp)<span class="red--text text--darken-2">*</span>
              </div>
            </template>
          </v-text-field>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="dialog.isShow = false"> Batal </v-btn>
          <v-btn color="success" @click="dialog.isShow = false"> Ok </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { UiCommonDialog, UiCommonTncInfoFooter } from '@inatti/shared/ui';
import Vue from 'vue';
import Component from 'vue-class-component';
import { ApiIdentity } from '@inatti/shared/api-nuxt';
import setToken from '../../utils/token.js';

@Component({ components: { UiCommonDialog, UiCommonTncInfoFooter } })
export default class OtpPage extends Vue {
  next = this.$route.query.next;
  auth = false;
  layout = 'blank';
  otp = null;
  dialog = {
    isShow: false,
    isLoading: false,
  };
  isLoading = false;
  alert = {
    isShow: false,
    type: null,
    msg: null,
  };
  errorMap = {
    RoleUserNotFound: 'Akun anda tidak memiliki akses ke Aplikasi Apoteker',
    PasswordIncorrectException: 'Password yang anda masukkan salah',
    UserNotFoundException: 'User tidak ditemukan',
  };

  get redirectTo() {
    return this.next ? this.next : 'https://inatti.id';
  }

  async login() {
    if (!this.otp) return;
    this.isLoading = true;
    let data = {
      otp: this.otp,
    };
    try {
      let res = await this.identityApi.validateOtp(data);
      setToken(this.$auth, res.access_token);
      const redirect = new URL(this.redirectTo as string, window.location.origin)
      redirect.searchParams.set('token', res.access_token)
      window.location.href = redirect.toString()
    } catch (error) {
      this.setAlert('Invalid OTP', 'error');
      console.error(error);
    } finally {
      this.isLoading = false;
    }
  }
  setAlert(msg, type = 'warning') {
    this.alert = {
      isShow: true,
      type,
      msg,
    };
  }

  async resendOtp() {
    this.resendLoading = true;
    try {
      let res = await this.identityApi.resendOtp();
      this.setAlert(`${res.message}!`, 'success');
      this.timeToResend = 60;
      this.countDown();
    } catch (error) {
      this.setAlert(error.message, 'error');
      console.error(error);
    } finally {
      this.resendLoading = false;
    }
  }

  timeToResend = 60;
  resendLoading = false;
  countDown() {
    let startCountDown = setInterval(() => {
      --this.timeToResend;
      if(this.timeToResend == 0) {
        clearInterval(startCountDown);
      }
    }, 1000);
  }

  $auth: any

  identityApi: ApiIdentity;
  mounted() {
    if (!this.$route.query.next) this.$router.replace('/auth/register')
    this.identityApi = new ApiIdentity(this.$axios);
    this.countDown();
  }

  get userLoggedin(){
    return this.$auth.user || {}
  }
}
</script>

<style>

</style>
