<template>
  <div>
    <v-row justify="center" align-content="start" align-content-md="center">
      <v-col lg="5" md="6" cols="12" class="my-5">
        <v-card class="ma-3">
          <v-card-title class="justify-center mb-6 mb-md-5">
            <img src="https://inatti.id/asset-app/inatti-v2.2-large.png" height="70vh" alt="Logo InaTTI" class="mt-6" />
          </v-card-title>
          <v-card-subtitle class="mt-1 mb-2">
            <div class="primary--text text-center text-h5">
              Daftar Akun Baru
            </div>
          </v-card-subtitle>
          <v-card-text>
            <div class="red--text text--darken-2 mb-3">* Wajib diisi</div>
            <v-form ref="loginForm" :disabled="isLoading" @submit="
              () => {
              }
            ">
              <v-text-field v-model="form.fullname" data-cy="auth-form-login-field-name"
                placeholder="Masukkan nama lengkap" outlined :rules="[rules.required]" dense @keyup.enter="register()">
                <template v-slot:label>
                  <div>
                    Nama Lengkap <span class="red--text text--darken-2">*</span>
                  </div>
                </template>
              </v-text-field>
              <v-text-field v-model="form.email" data-cy="auth-form-login-field-email" placeholder="Masukkan email"
                type="email" outlined :rules="[rules.required, rules.email]" dense @keyup.enter="register()">
                <template v-slot:label>
                  <div>
                    Email <span class="red--text text--darken-2">*</span>
                  </div>
                </template>
              </v-text-field>
              <v-text-field v-model="form.phoneNumber" data-cy="auth-form-login-field-phonenumber"
                placeholder="Masukkan no. hp (Whatsapp)" prefix="+62" outlined
                :rules="[rules.required, rules.numberOnly, rules.noWhitespace]" dense @keyup.enter="register()">
                <template v-slot:label>
                  <div>
                    No. HP (Whatsapp)
                    <span class="red--text text--darken-2">*</span>
                  </div>
                </template>
              </v-text-field>
              <v-text-field v-model="form.username" data-cy="auth-form-login-field-username"
                placeholder="Masukkan username" @keyup="validateUsername" outlined :error="!usernameValid"
                :success="usernameValid" :messages="usernameFieldMessage" dense @keyup.enter="register()">
                <template v-slot:label>
                  <div>
                    Username <span class="red--text text--darken-2">*</span>
                  </div>
                </template>
              </v-text-field>

              <v-text-field v-model="form.password" data-cy="auth-form-login-field-password"
                placeholder="Masukkan password" :type="isShowPassword ? 'text' : 'password'" outlined
                :rules="[rules.required, rules.minCharacter]" dense :append-icon="
                  isShowPassword ? 'mdi-eye-off-outline' : 'mdi-eye'
                " @click:append="isShowPassword = !isShowPassword" @keyup.enter="register()">
                <template v-slot:label>
                  <div>
                    Password <span class="red--text text--darken-2">*</span>
                  </div>
                </template>
              </v-text-field>
              <v-text-field v-model="passwordConfirm" data-cy="auth-form-login-field-password"
                placeholder="Masukkan password" :type="isShowPassword ? 'text' : 'password'" outlined
                :rules="[rules.required, rules.passwordConfirm]" hide-details="auto" dense :append-icon="
                  isShowPassword ? 'mdi-eye-off-outline' : 'mdi-eye'
                " @click:append="isShowPassword = !isShowPassword" @keyup.enter="register()">
                <template v-slot:label>
                  <div>
                    Konfirmasi Password
                    <span class="red--text text--darken-2">*</span>
                  </div>
                </template>
              </v-text-field>
              <v-checkbox v-model="isAgree">
                <template v-slot:label>
                  <div>
                    Setuju dengan
                    <a href="https://www.inatti.id/inatti-user/kebijakanInaTTI.html" target="_blank"
                      class="primary--text">Kebijakan Aplikasi</a> InaTTi
                  </div>
                </template>
              </v-checkbox>
              <v-btn data-cy="auth-form-login-submit" color="primary" block :loading="isLoading" :disabled="!isAgree"
                @click="register">
                Daftar akun {{ paramsRegister }}
              </v-btn>

              <v-btn class="mt-3" color="primary" text depressed block @click="redirectToLogin">
                Sudah punya akun? Login {{ paramsRegister }} disini
              </v-btn>

              <v-card-text class="text-caption text-center">
                <UiCommonTncInfoFooter />
              </v-card-text>
            </v-form>
            <v-alert v-model="alert.isShow" data-cy="auth-form-login-alert" :type="alert.type" class="mt-3" dismissible
              outlined transition="scale-transition">
              {{ alert.msg }}
            </v-alert>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { ApiIdentity } from '@inatti/shared/api-nuxt';
import { debounce } from 'lodash';
import setToken from '../../utils/token';
import { UiCommonTncInfoFooter } from '@inatti/shared/ui'

@Component({ auth: false, components: { UiCommonTncInfoFooter } } as any)
export default class RegisterAccount extends Vue {
  req = this.$route.query.req;
  auth = false;
  isAgree = false;
  form = {
    fullname: null,
    username: null,
    phoneNumber: null,
    email: null,
    password: null,
  };
  passwordConfirm = null;
  isShowPassword = false;
  isLoading = false;
  alert = {
    isShow: false,
    type: null,
    msg: null,
  };
  errorMap = {
    RoleUserNotFound: 'Akun anda tidak memiliki akses ke Aplikasi Apoteker',
    PasswordIncorrectException: 'Password yang anda masukkan salah',
    UserNotFoundException: 'User tidak ditemukan',
  };
  get rules() {
    return {
      required: (v) => !!v || 'Form ini harus diisi',
      email: (v) => /.+@.+\..+/.test(v) || 'Email tidak valid',
      numberOnly: (v) => !isNaN(parseInt(v)) || 'Hanya berupa angka',
      usernameAvailable: (v) =>
        !this.isUsernameAvailable || 'Username sudah digunakan',
      noWhitespace: (v) => !/\s/.test(v) || 'Tidak boleh ada spasi',
      minCharacter: (v) => (!!v && v.length > 7) || 'Minimal 8 karakter',
      passwordConfirm: (v) =>
        v == this.form.password || 'Konfirmasi password tidak valid',
    };
  }

  isUsernameAvailable = null;
  async checkUsername() {
    if (!this.form.username) {
      this.isUsernameAvailable = false;
      return;
    }
    try {
      await this.identityApi.verifyUsername({
        username: this.form.username,
      });
      this.isUsernameAvailable = true;
    } catch (error) {
      this.isUsernameAvailable = false;
    }
  }

  usernameValid = null;
  async isUsernameValid() {
    let nospace = /\s/
    let x = nospace.test(this.form.username)
    await this.checkUsername();
    if (!this.form.username) {
      this.usernameFieldMessage = 'Form ini harus diisi';
      this.usernameValid = false;
      return;
    } else {
      if (x) {
        this.usernameFieldMessage = 'Tidak boleh ada spasi'
        this.usernameValid = false
      } else {
        if (this.isUsernameAvailable) {
          this.usernameFieldMessage = 'Username dapat digunakan'
          this.usernameValid = true
        } else {
          this.usernameFieldMessage = 'Username sudah digunakan'
          this.usernameValid = false
        }
      }
    }
  }

  usernameFieldMessage = null;

  validateUsername = debounce(this.isUsernameValid, 500);

  get redirectTo() {
    if (this.req) {
      return `${this.req}/register/setup`;
    } else {
      return 'https://inatti.id';
    }
  }

  get loginLink() {
    return this.req ? `${this.req}/login` : 'https://inatti.id'
  }

  redirectToLogin() {
    console.log(this.req)
    window.location.href = this.loginLink
  }

  $refs: {
    loginForm: any
  }

  $auth: any

  get paramsRegister() {
    return this.$route.query.app as string ?? 'User'
  }

  async register() {
    if (!this.$refs.loginForm.validate()) return;
    try {
      this.isLoading = true;
      this.form.phoneNumber = `62${this.form.phoneNumber}`
      let res: any = await this.identityApi.signupV2(this.paramsRegister, this.form);
      await setToken(this.$auth, res.access_token);
      this.$router.push({
        path: '/auth/otp',
        query: { next: this.redirectTo },
      });
    } catch (error) {
      console.error(error);
      this.alert = {
        isShow: true,
        msg: error.response?.data?.message ?? 'Terjadi kesalahan',
        type: 'error'
      }
    } finally {
      this.isLoading = false;
    }
  }

  setAlert(msg, type = 'warning') {
    this.alert = {
      isShow: true,
      type,
      msg,
    };
  }

  identityApi: ApiIdentity;
  mounted() {
    console.log('req query', this.req)
    this.identityApi = new ApiIdentity(this.$axios);
  }
}
</script>

<style>

</style>
