<template>
  <div>
    <v-toolbar class="mb-2">
      <v-btn icon class="hidden-xs-only" @click="$router.back()">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <v-toolbar-title
        >Detail Apotek <strong>{{ apotekDetail.name }}</strong></v-toolbar-title
      >

      <v-spacer></v-spacer>

      <template v-slot:extension>
        <v-tabs v-model="tabs" align-with-title>
          <v-tab v-for="item in tabTitles" :key="item">
            {{ item }}
          </v-tab>
        </v-tabs>
      </template>
    </v-toolbar>

    <v-tabs-items v-model="tabs">
      <v-tab-item>
        <v-card class="pa-2">
          <UiPageApotekInformation />
        </v-card>
      </v-tab-item>

      <v-tab-item class="pa-1">
        <v-card class="mb-2 pa-4 d-flex flex-column">
          <h2>Unit Bisnis</h2>
          <v-divider></v-divider>
          <div class="d-flex flex-column">
            <span class="pa-2"
              >Head Quarter :
              <b :class="headOfficeName.exist ? 'ml-2' : 'ml-2 red--text'">{{ headOfficeName.name }}</b></span
            >
            <span class="pa-2">
              Unit Bisnis :
              <b :class="unitBisnisName.exist ? 'ml-2' : 'ml-2 red--text'">
                {{ unitBisnisName.name }}
              </b></span
            >
            <v-btn
              outlined
              color="primary"
              max-width="360px"
              @click="isUnitBisnisDialogShown = true"
              >Ganti Unit Bisnis</v-btn
            >
          </div>
        </v-card>
        <v-card class="mb-2 pa-4 d-flex flex-column">
          <h2>Validasi Apotek</h2>
          <v-divider></v-divider>
          <div class="d-flex flex-column align-start">
            <div class="d-flex align-center">
              <v-select
                v-model="apotekValidation"
                outlined
                dense
                hide-details
                label="Validasi"
                item-text="text"
                item-value="value"
                class="mb-2 mt-2"
                :item-color="
                  apotekValidation === 'APPROVED' ? 'success' : 'error'
                "
                :items="[
                  { text: 'Approved', value: 'APPROVED' },
                  { text: 'Rejected', value: 'REJECTED' },
                ]"
                @change="setValidation"
              />
              <common-chip-validation :status="apotekValidation" class="ml-4" />
            </div>
            <common-dropdown-menu
              title="Notifikasi No. Telp"
              outlined
              minWidth="360px"
              maxWidth="360px"
              icon="mdi-bell"
              :items="apotekPhoneList"
              @item-selected="(payload) => sendNotification('phone', payload)"
              class="mb-2"
            />
            <common-dropdown-menu
              title="Notifikasi Email"
              minWidth="360px"
              maxWidth="360px"
              icon="mdi-email"
              :items="apotekEmailList"
              @item-selected="(payload) => sendNotification('email', payload)"
            />
          </div>
        </v-card>
        <v-card class="mb-2 pa-4">
          <h2>Rekam Aktivitas</h2>
          <v-divider></v-divider>
          <div>
            <v-data-table
              :headers="activityLog.headers"
              :items="activityLog.items"
              disable-filtering
              disable-sort
            >
              <template #[`item.createdAt`]="{ item }">
                {{ new Date(item.createdAt).toLocaleString() }}
              </template>
            </v-data-table>
          </div>
        </v-card>
      </v-tab-item>
      <v-tab-item class="pa-1">
        <v-card>
          <ApotekUserList />
        </v-card>
      </v-tab-item>
    </v-tabs-items>

    <UiCommonDialog
      :value="confirmEditDialog"
      :width="600"
      :confirmText="'Simpan'"
      :cancelText="'Batal'"
      :title="'Konfirmasi Edit'"
      @btn-save="confirmEdit"
      @btn-cancel="confirmEditDialog = !confirmEditDialog"
    >
      <p>Apakah Anda yakin untuk merubah data apotek?</p>
    </UiCommonDialog>
    <UiCommonDialog
      :value="isUnitBisnisDialogShown"
      :width="600"
      :persistent="true"
      :confirmLoading="btnConfirmBisnisLoading"
      confirmText="Ok"
      :cancelText="'Batal'"
      title="Ganti unit bisnis"
      @btn-save="confirmUpdateUnitBisnis"
      @btn-cancel="isUnitBisnisDialogShown = !isUnitBisnisDialogShown"
    >
      <UiFormAutocompleteHeadoffice v-model="headOfficeId" :multiple="false" />
      <UiFormAutocompleteApotekGrup
        v-model="unitBisnisId"
        :headoffice="headOfficeId"
        :multiple="false"
      />
    </UiCommonDialog>
    <UiCommonDialog
      :value="isValidationDialogShown"
      title="Validasi Akun"
      :width="600"
      :persistent="true"
      confirmText="Ok"
      :confirmLoading="btnConfirmVerifLoading"
      :confirmColor="apotekValidation === 'APPROVED' ? 'success' : 'error'"
      cancelColor="black"
      cancelText="Batal"
      @btn-save="confirmApotekValidation"
      @btn-cancel="isValidationDialogShown = !isValidationDialogShown"
    >
      <p>
        Anda yakin ingin
        <span
          :class="apotekValidation === 'APPROVED' ? 'green--text' : 'red--text'"
          >{{ apotekValidation }}</span
        >
        <strong>{{ apotekDetail.name }}</strong> ?
      </p>
    </UiCommonDialog>
    <UiCommonDialog
      :value="isNotifDialogShown"
      :title="`Notifikasi ${notifHead}`"
      :width="600"
      :persistent="true"
      :confirmLoading="btnConfirmNotifLoading"
      confirmText="Ya"
      cancelColor="black"
      cancelText="Batal"
      @btn-cancel="isNotifDialogShown = !isNotifDialogShown"
      @btn-save="confirmSendNotification"
    >
      <p>
        Kirim notifikasi ke
        <span class="green--text">{{ sendNotifTo.receiver.address }}</span> ?
      </p>
    </UiCommonDialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { ApotekApi } from '@inatti/shared/api-nuxt'
import {
  UiCommonDialog,
  UiPageApotekInformation,
  UiFormAutocompleteApotekGrup,
  UiFormAutocompleteHeadoffice,
} from '@inatti/shared/ui'
import ApotekUserList from './users/index.vue'

@Component({
  components: {
    UiCommonDialog,
    ApotekUserList,
    UiPageApotekInformation,
    UiFormAutocompleteApotekGrup,
    UiFormAutocompleteHeadoffice,
  },
})
export default class ApotekDetail extends Vue {
  apotekId = this.$route.params.id
  tabs = null
  tabsQuery = parseInt(`${this.$route.query.tabs}`)
  tabTitles = ['Detail', 'Pengaturan', 'User']

  apotekName = ''
  apotekDetail = {
    apotekGroup: {
      name: '',
      headOffice: {
        name: '',
        id: '',
      },
    },
    name: '',
    description: '',
    status: false,
    phonenumber: '',
    address: '',
  }

  get headOfficeName() {
    if (!this.apotekDetail.apotekGroup) {
      return { name: 'Tidak ada head quarter', exist: false }
    } else
      return this.apotekDetail.apotekGroup.headOffice.name
        ? { name: this.apotekDetail.apotekGroup.headOffice.name, exist: true }
        : { name: 'Tidak ada head quarter', exist: false }
  }

  get unitBisnisName() {
    if (!this.apotekDetail.apotekGroup) {
      return { name: 'Tidak ada unit bisnis', exist: false }
    } else
      return this.apotekDetail.apotekGroup.name
        ? { name: this.apotekDetail.apotekGroup.name, exist: true }
        : { name: 'Tidak ada unit bisnis', exist: false }
  }

  isUnitBisnisDialogShown = false
  btnConfirmBisnisLoading = false
  headOfficeId = ''
  unitBisnisId = ''

  async confirmUpdateUnitBisnis() {
    this.btnConfirmBisnisLoading = true
    let data = {
      apotekGroupId: this.unitBisnisId,
    }
    try {
      await this.apotekApi.updateUnitBisnis(this.apotekId, data)
      this.getDetailApotek()
    } catch (error) {
      console.error
    } finally {
      this.btnConfirmBisnisLoading = false
      this.isUnitBisnisDialogShown = false
    }
  }

  apotekEmailList = []
  apotekPhoneList = []
  isNotifDialogShown = false
  btnConfirmNotifLoading = false
  sendNotifTo = {
    title: '',
    receiver: {
      id: '',
      address: '',
    },
  }

  get notifHead() {
    return this.sendNotifTo.title === 'email' ? 'Email' : 'Whatsapp'
  }

  sendNotification(title: string, receiver: any) {
    this.sendNotifTo.title = title
    this.sendNotifTo.receiver = receiver
    this.isNotifDialogShown = true
  }

  async confirmSendNotification() {
    let data = {
      channel: this.sendNotifTo.title,
      idDestination: this.sendNotifTo.receiver.id,
    }
    this.btnConfirmNotifLoading = true
    try {
      await this.apotekApi.sendNotifVerification(this.apotekId, data)
    } catch (error) {
      console.error(error)
    } finally {
      this.btnConfirmNotifLoading = false
      this.isNotifDialogShown = false
    }
  }

  isValidationDialogShown = false
  btnConfirmVerifLoading = false
  apotekValidation = ''

  setValidation() {
    this.isValidationDialogShown = true
  }

  async confirmApotekValidation() {
    this.btnConfirmVerifLoading = true
    let data = {
      status: this.apotekValidation.toUpperCase(),
    }
    try {
      await this.apotekApi.verifyApotek(this.apotekId, data)
    } catch (error) {
      console.error(error)
    } finally {
      this.btnConfirmVerifLoading = false
      this.isValidationDialogShown = false
    }
  }

  activityLog = {
    headers: [
      { text: 'Username', value: 'user.username' },
      { text: 'Activity', value: 'formatted_activity' },
      { text: 'Tanggal', value: 'createdAt' },
    ],
    items: [],
  }

  isEditting = false
  isError = {
    status: false,
    message: '',
  }

  phonenumberRules = [
    (v: string) => /^[0-9]+$/.test(v) || 'Harap masukkan angka',
    (v: string) => (v !== null && v.length < 14) || 'Nomor telepon tidak valid',
  ]

  cancelEdit() {
    this.isEditting = !this.isEditting
    this.getDetailApotek()
  }

  confirmEditDialog = false
  async confirmEdit() {
    if (!(this.$refs.form as Vue & { validate: () => boolean }).validate()) {
      this.confirmEditDialog = false
      this.isError = {
        status: true,
        message: 'Form tidak valid',
      }
      return
    }
    let data = {
      name: this.apotekDetail.name,
      phonenumber: this.apotekDetail.phonenumber,
      address: this.apotekDetail.address,
      description: this.apotekDetail.description,
      isActive: this.apotekDetail.status,
    }
    try {
      await this.apotekApi.update(this.apotekId, data)
      this.isEditting = !this.isEditting
      this.confirmEditDialog = false
      this.getDetailApotek()
    } catch (error) {}
  }

  async getDetailApotek() {
    try {
      let res = await this.apotekApi.getOne(this.apotekId)
      this.apotekDetail = res
      this.apotekDetail.status = res.notActiveAt ? false : true
      this.apotekName = res.name
      this.apotekValidation = res.validateStatus
    } catch (error) {
      console.error(error)
    }
  }

  async getContacts() {
    try {
      let res = await this.apotekApi.getApotekContact(this.apotekId)
      this.apotekEmailList = res.email
      this.apotekPhoneList = res.phone
    } catch (error) {
      console.error(error)
    }
  }

  async getActivityLog() {
    try {
      let res = await this.apotekApi.getApotekActivityLog(this.apotekId)
      res.map((item: any) => {
        this.activityLog.items.push(item)
      })
    } catch (error) {
      console.error(error)
    }
  }

  apotekApi!: ApotekApi
  mounted() {
    this.apotekApi = new ApotekApi(this.$axios)
    this.tabs = this.tabsQuery ? this.tabsQuery : 0
    this.getDetailApotek()
    this.getContacts()
    this.getActivityLog()
  }
}
</script>

<style></style>
