<template>
  <div>
    <common-toolbar>Transaksi Keseluruhan</common-toolbar>

    <v-card class="my-2">
      <v-card-text>
        <v-alert
          v-if="isRoleReporter && isAlertFilterTableFirst"
          type="warning"
          text
          outlined
          dense
        >
          Gunakan filter untuk menampilkan data.
        </v-alert>
        <ui-table-pagination-filter
          v-model="table.responseData"
          :hide-date-filter="true"
          search
          search-hint="Cari berdasarkan No. Order"
          @change="fetchTransactionTable"
        >
          <div
            class="d-flex justify-md-end mt-3 mt-md-0 align-center mb-3"
            style="width: 100%"
          >
            <v-btn
              color="success"
              small
              :loading="isButtonDownloadLoading"
              @click="onDownload"
            >
              <v-icon left>mdi-microsoft-excel</v-icon>
              DOWNLOAD
            </v-btn>
          </div>
          <v-data-table
            :headers="table.header"
            :items="table.itemData"
            :loading="table.isLoading"
            hide-default-footer
            disable-pagination
            item-key="id"
          >
            <template #[`item.detail`]="{ item }">
              <v-btn
                icon
                fab
                small
                color="grey darken-3"
                @click="$router.push(`/transaction/detail/${item.id}`)"
              >
                <v-icon>mdi-eye</v-icon>
              </v-btn>
            </template>
            <template #[`item.paymentStatus`]="{ item }">
              <common-chip-payment :status="item.paymentStatus" :small="true" />
            </template>
          </v-data-table>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import dayjs from 'dayjs'
import { Component, Vue } from 'vue-property-decorator'
import { DataTableHeader } from 'vuetify/types/index'
import {
  PaginationResult,
  TransactionDetailDTO,
  StatusOrderEnum,
  AdminApi,
} from '@inatti/shared/api-nuxt'
import { UiTablePaginationFilter } from '@inatti/shared/ui'

interface TransactionTableData {
  id: string
  number: number
  invId: string
  totalOrder: number
  totalPrice: string
  reference: string
  dateCheckout: string | null
  paymentStatus: StatusOrderEnum | '-'
}

@Component({ components: { UiTablePaginationFilter } })
export default class ListTransactionComponent extends Vue {
  table = {
    isLoading: false as boolean,
    responseData: {} as PaginationResult<any>,
    dataList: [] as TransactionDetailDTO.TransactionDetail[],
    itemData: [] as TransactionTableData[],
    header: [
      { text: 'No.', value: 'number', sortable: false },
      { text: 'No. Order', value: 'invId', sortable: false },
      { text: 'Total Tes', value: 'totalOrder', sortable: false },
      { text: 'Total Transaksi', value: 'totalPrice', sortable: false },
      { text: 'Rujukan', value: 'reference', sortable: false },
      { text: 'Checkout', value: 'dateCheckout', sortable: false },
      { text: 'Paid', value: 'paymentStatus', sortable: false },
      { text: 'Detail', value: 'detail', sortable: false },
    ] as DataTableHeader[],
    params: {} as object,
  }

  get isRoleReporter() {
    return this.$store.getters['permission/isReporter']
  }

  isAlertFilterTableFirst = true
  isButtonDownloadLoading = false

  async fetchTransactionTable(params: any = {}) {
    this.isAlertFilterTableFirst = false
    this.table.isLoading = true
    this.table.params = params

    try {
      const result = await this.adminApi.getTransactionHistory(params)      
      this.table.responseData = result
      this.table.dataList = result.results
      this.table.itemData = this.parseToTableData()
    } finally {
      this.table.isLoading = false
    }
  }

  parseToTableData() {
    const dateFormat = (date?: string | Date) =>
      date ? dayjs(date).format('DD-MM-YYYY HH:mm:ss') : null
    const toIdr = (val: string | number) =>
      new Intl.NumberFormat('id-ID', {
        style: 'currency',
        currency: 'IDR',
      }).format(+val)
    let startCount =
      +this.table.responseData.page * this.table.responseData.pageTotal

    let transactionTableData: TransactionTableData[] = []
    for (let i = 0; i < this.table.dataList.length; i++) {
      const transactionDetail: TransactionDetailDTO.TransactionDetail =
        this.table.dataList[i]

      transactionTableData.push({
        number: startCount + i + 1,
        id: transactionDetail.id,
        invId: transactionDetail.invId ?? '-',
        totalOrder: transactionDetail.totalOrder ?? 0,
        totalPrice: transactionDetail.totalPrice
          ? toIdr(transactionDetail.totalPrice)
          : toIdr(0),
        reference: transactionDetail.reference?.name ?? '-',
        dateCheckout: dateFormat(transactionDetail.createdAt) ?? '-',
        paymentStatus: transactionDetail.status ?? '-',
      })
    }
    return transactionTableData
  }

  adminApi!: AdminApi

  created() {
    this.adminApi = new AdminApi(this.$axios)
    this.pendingFetchTableData()
  }

  $utils: any

  async onDownload() {
    this.isButtonDownloadLoading = true
    try {
      const response = await this.adminApi.exportTransactionHistory(this.table.params)
      this.$utils.saveFile({
        byteArray: response,
        fileName: 'Semua_Transaksi',
        extension: 'xlsx',
      })
    } finally {
      this.isButtonDownloadLoading = false
    }
  }

  pendingFetchTableData() {
    if (this.isRoleReporter) {
      this.isAlertFilterTableFirst = true
    }
  }
}
</script>

<style></style>
