<template>
  <div>
    <common-toolbar>Dashboard Transaksi</common-toolbar>

    <v-row class="my-3">
      <v-col cols="12" md="8">
        <v-card class="pb-3 pt-2 px-3" height="65vh">
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <common-chart-interval
                  v-model="transactionData.chartTransaction"
                  title="Grafik Transaksi"
                  type="bar"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <v-row>
          <v-col cols="12">
            <v-card>
              <v-card-text class="d-flex flex-wrap justify-space-between">
                <div>
                  <v-icon class="mr-2">mdi-cash-multiple</v-icon>
                  Total Transaksi
                </div>
                <div> {{ $utils.toIdr(transactionData.totalTransaction) }} </div>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
            <v-card>
              <v-card-text class="d-flex justify-space-between">
                <div>
                  <v-icon class="mr-2">mdi-cash-multiple</v-icon>
                  Transaksi Tunai
                </div>
                <div> {{ $utils.toIdr(transactionData.totalTransactionCash) }} </div>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
            <v-card>
              <v-card-text class="d-flex justify-space-between">
                <div>
                  <v-icon class="mr-2">mdi-cash-multiple</v-icon>
                  Transaksi Non Tunai
                </div>
                <div> {{ $utils.toIdr(transactionData.totalTransactionTransfer) }} </div>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12">
            <v-card>
              <v-card-text
                class="d-flex justify-space-between caption font-weight-medium"
              >
                <div class="d-flex align-center">
                  <v-icon class="mr-2">mdi-cash-multiple</v-icon>
                </div>
                <div class="success--text text-center">
                  Total Bulan Ini
                  <br />
                   {{ $utils.toIdr(transactionData.totalTransactionThisMonth) }} 
                </div>
                <v-divider vertical />
                <div class="text-center">
                  Total Bulan Lalu
                  <br />
                   {{ $utils.toIdr(transactionData.totalTransactionLastMonth) }} 
                </div>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" class="text-right">
            <div class="font-weight-medium text-caption"> Terakhir update {{
              updatedAt ? $utils.toFormatDateTime(updatedAt) : updatedAt
            }}</div>
            <v-btn color="primary" outlined small @click="fetchData({isForce: true})">
              <v-icon left> mdi-refresh </v-icon> Refresh data
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator'
import Vue from 'vue'
import { AdminApi } from '@inatti/shared/api-nuxt'

export interface ChartType {
  value: string
  group: number
  xaxis: string
}

export interface ChartTransaction {
  day: ChartType[]
  month: ChartType[]
}

export interface TransactionData {
  totalTransaction: number | null
  totalTransactionCash: number | null
  totalTransactionTransfer: number | null
  totalTransactionThisMonth: number | null
  totalTransactionLastMonth: number | null
  chartTransaction: ChartTransaction
}

export interface TransactionType {
  id: number
  label: string
  data: TransactionData
  updatedAt: Date
  createdAt: Date
}

@Component
export default class TransactionDataComponent extends Vue {
  adminApi!: AdminApi
  created() {
    this.adminApi = new AdminApi(this.$axios)
    this.fetchData()
  }

  $utils: any

  isChartLoading = false
  transactionData: TransactionData = {
    totalTransaction: null,
    totalTransactionCash: null,
    totalTransactionTransfer: null,
    totalTransactionThisMonth: null,
    totalTransactionLastMonth: null,
    chartTransaction: {
      day: [],
      month: [],
    },
  }
  updatedAt:any = ''

  async fetchData(params?: Record<string, any>) {
    this.isChartLoading = true
    try {
      const result:TransactionType = await this.adminApi.getDashboardTransaction(params)
      this.transactionData = result.data
      this.updatedAt = result.updatedAt
    } catch (error) {
      return error
    } finally {
      this.isChartLoading = false
    }
  }
}
</script>
