<template>
  <div>
    <common-toolbar>Transaksi Berdasarkan pasien</common-toolbar>

    <v-card>
      <v-card-text>
        <v-alert
          v-if="isRoleReporter && isAlertFilterTableFirst"
          type="warning"
          text
          outlined
          dense
        >
          Gunakan filter untuk menampilkan data.
        </v-alert>
        <ui-table-pagination-filter
          v-model="table.responseData"
          search
          :filter-lab="true"
          :hide-date-filter="true"
          search-hint="Cari berdasarkan No. Order"
          @change="fetchTransactionTable"
        >
          <div
            class="d-flex justify-md-end mt-3 mt-md-0 align-center mb-3"
            style="width: 100%"
          >
            <v-btn color="success" small @click="onDownload">
              <v-icon left>mdi-microsoft-excel</v-icon>
              DOWNLOAD
            </v-btn>
          </div>
          <v-data-table
            :headers="table.header"
            :items="table.itemData"
            :loading="table.isLoading"
            hide-default-footer
            disable-pagination
            item-key="id"
          >
            <template #[`item.detail`]="{ item }">
              <v-btn
                icon
                fab
                small
                color="grey darken-3"
                @click="goToDetailPage(item)"
              >
                <v-icon>mdi-eye</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import dayjs from 'dayjs'
import { Component, Vue } from 'vue-property-decorator'
import {
  PaginationResult,
  TransactionDetailDTO,
  MethodPaymentEnum,
  ResultSwabEnum,
  StatusOrderEnum,
  AdminApi,
} from '@inatti/shared/api-nuxt'
import { DataTableHeader } from 'vuetify/types/index'
import { UiTablePaginationFilter } from '@inatti/shared/ui'

interface TransactionTableData {
  number: number
  id: string
  patientName: string
  nik: string
  dateBirth: string
  gender: string
  phoneNumber: string
  pemesan: string
  reference: string
  product: string
  buyPrice: number | string
  paymentMethod: MethodPaymentEnum | ''
  paymentStatus: StatusOrderEnum | ''
  testResult: ResultSwabEnum | string
  resultDate: string | null
  orderDate: string | null
}

@Component({ components: { UiTablePaginationFilter } })
export default class ListTransactionComponent extends Vue {
  table = {
    isLoading: false as boolean,
    responseData: {} as PaginationResult<any>,
    dataList: [] as TransactionDetailDTO.TransactionDetailPerPatient[],
    header: [
      { text: 'No.', value: 'number', sortable: false },
      { text: 'Nama Pasien', value: 'patientName', sortable: false },
      { text: 'NIK', value: 'nik', sortable: false },
      { text: 'Tanggal Lahir', value: 'dateBirth', sortable: false },
      { text: 'Gender', value: 'gender', sortable: false },
      { text: 'No. Telepon', value: 'phoneNumber', sortable: false },
      { text: 'Pemesan', value: 'pemesan', sortable: false },
      { text: 'Rujukan', value: 'reference', sortable: false },
      { text: 'Produk', value: 'product', sortable: false },
      { text: 'Harga Beli', value: 'buyPrice', sortable: false },
      { text: 'Metode Bayar', value: 'paymentMethod', sortable: false },
      { text: 'Status Bayar', value: 'paymentStatus', sortable: false },
      { text: 'Hasil Test', value: 'testResult', sortable: false },
      { text: 'Tanggal Hasil Keluar', value: 'resultDate', sortable: false },
      { text: 'Tanggal Dipesan', value: 'orderDate', sortable: false },
      { text: 'Detail Transaksi', value: 'detail', sortable: false },
    ] as DataTableHeader[],
    itemData: [] as TransactionTableData[],
    params: {} as object,
  }

  isRoleReporter = false as boolean
  isAlertFilterTableFirst = true as boolean

  adminApi!: AdminApi

  created() {
    this.adminApi = new AdminApi(this.$axios)
  }

  async fetchTransactionTable(params: any = {}) {
    this.isAlertFilterTableFirst = false
    this.table.isLoading = true
    this.table.params = params

    try {
      const result = await this.adminApi.getTransactionPerPatient(params)
      this.table.responseData = result
      this.table.dataList = result.results
      this.table.itemData = this.parseToTableData()
    } finally {
      this.table.isLoading = false
    }
  }

  parseToTableData(): TransactionTableData[] {
    const dateFormat = (date?: string | Date) =>
      date ? dayjs(date).format('DD-MM-YYYY HH:mm:ss') : null
    const toIdr = (val: string | number) =>
      new Intl.NumberFormat('id-ID', {
        style: 'currency',
        currency: 'IDR',
      }).format(+val)
    let startCount =
      +this.table.responseData.page * this.table.responseData.pageTotal

    let transactionTableData: TransactionTableData[] = []
    for (let i = 0; i < this.table.dataList.length; i++) {
      const transactionDetail: TransactionDetailDTO.TransactionDetailPerPatient =
        this.table.dataList[i]

      transactionTableData.push({
        number: startCount + i + 1,
        id: transactionDetail.orderTrx?.id ?? '-',
        patientName: transactionDetail.detailSwab?.patient?.name ?? '-',
        nik: transactionDetail.detailSwab?.patient?.nik ?? '-',
        dateBirth: transactionDetail.detailSwab?.patient?.datebirth ?? '-',
        gender:
          transactionDetail.detailSwab?.patient?.gender === 'lk'
            ? 'Laki-laki'
            : 'Perempuan',
        phoneNumber: transactionDetail.detailSwab?.patient?.phonenumber ?? '-',
        pemesan: transactionDetail.customer?.fullname ?? '-',
        reference: transactionDetail.reference?.name ?? '-',
        product: transactionDetail.product.product?.name ?? '-',
        buyPrice: toIdr(transactionDetail.price ?? 0),
        paymentMethod: transactionDetail.method ?? '',
        paymentStatus: transactionDetail.status ?? '',
        testResult: transactionDetail.detailSwab?.resultSwab ?? '-',
        resultDate: transactionDetail.detailSwab?.resultSentAt
          ? dateFormat(transactionDetail.detailSwab?.resultSentAt)
          : '-',
        orderDate: transactionDetail.createdAt
          ? dateFormat(transactionDetail.createdAt)
          : '-',
      })
    }
    return transactionTableData
  }

  goToDetailPage(item: any) {
    this.$router.push(`/transaction/detail/${item.id}`)
  }

  $utils: any

  async onDownload() {
    try {
      const response = await this.adminApi.exportTransactionPerPatient(this.table.params)
      this.$utils.saveFile({
        byteArray: response,
        fileName: 'Transaksi Per-pasien',
        extension: 'xlsx',
      })
    } catch (error) {}
  }
}
</script>
