<template>
  <v-row justify="center" align="center">
    <v-col col="4">
      <v-card :loading="isLoading">
        <v-card-text v-if="dashboard.data">
          <v-row>
            <v-col md="4" cols="12">
              <div class="text-h5">
                Selamat datang
                <strong>
                  {{ $auth.user.fullname }}
                </strong>
              </div>
            </v-col>
            <v-col cols="12" md="8">
              <v-row>
                <v-col>
                  <ui-page-dashboard-card
                    title="Jumlah PMR"
                    :value="dashboard.data.TotalPmr"
                    icon="mdi-book-account"
                    :routeTo="'/pmr'"
                  />
                </v-col>
                <v-col>
                  <ui-page-dashboard-card
                    title="Telah Homecare"
                    :value="dashboard.data.PatientAlreadyHomecare"
                    icon="mdi-home-heart"
                    :routeTo="getHomecareRoute(1)"
                  />
                </v-col>
                <v-col>
                  <ui-page-dashboard-card
                    title="Bersedia Homecare"
                    :value="dashboard.data.PatientHomecare"
                    icon="mdi-account-check"
                    :routeTo="getHomecareRoute(0)"
                  />
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row justify="end" dense>
            <v-col cols="12" md="4" lg="3">
              <div class="my-3">
                Terakhir update : {{ formatDate(dashboard.updatedAt) }}
                <v-btn
                  small
                  class="ml-1"
                  outlined
                  @click="fetchDashboard(true)"
                >
                  Refresh
                </v-btn>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="6" cols="12">
              <div>
                <ui-page-dashboard-chart-interval
                  v-model="dashboard.data.PmrGraphInterval"
                  title="Grafik PMR / Apotek"
                  :height="400"
                />
              </div>
            </v-col>
            <v-col md="6" cols="12">
              <v-card>
                <v-card-title> Jumlah PMR / Apoteker</v-card-title>
                <v-card-text>
                  <v-data-table
                    height="350px"
                    :fixed-header="true"
                    :headers="pmrTableHeaders"
                    :items="dashboard.data.TotalPmrPerApoteker"
                    hide-default-footer
                    class="elevation-1"
                  ></v-data-table>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text
          v-else
          class="d-flex align-center justify-center"
          style="height: 83vh"
        >
          <v-progress-circular
            indeterminate
            color="primary"
            size="80"
            width="9"
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { ApotekApi } from '@inatti/shared/api-nuxt'
import { format } from 'date-fns'
import {
  UiPageDashboardCard,
  UiPageDashboardChartInterval,
} from '@inatti/shared/ui'

@Component({
  components: { UiPageDashboardCard, UiPageDashboardChartInterval },
})
export default class Dashboard extends Vue {
  apotekApi!: ApotekApi

  $auth: any
  notif = []
  created() {
    this.apotekApi = new ApotekApi(this.$axios)
    this.fetchDashboard()
  }

  dashboard = {} as any
  isLoading = false
  error: any = null

  async fetchDashboard(isForce = false) {
    this.isLoading = true
    try {
      this.dashboard = await this.apotekApi.getDashboardV2(isForce)
    } catch (err) {
      this.error = err
    }
    this.isLoading = false
  }

  formatDate(date: any) {
    if (!date) return
    return format(new Date(date), 'dd-MM-yyyy')
  }

  getHomecareRoute(filter: any) {
    const { apotekId } = this.$route.query
    return `/patient?apotekId=${apotekId}&homecare=${filter}&forceFilterApotek=true`
  }
}
</script>
