<template>
  <v-card
    ref="dzone"
    tabindex="0"
    width="100%"
    style="cursor: pointer"
    class="py-10"
    @dragenter="onDragEnter"
    @dragleave="onDragLeave"
    @dragover="onDragOver"
    @drop="onDrop"
    @click="onDropzoneClick"
    @keypress="onDropzoneKeyPress"
    @change="onDropzoneChange"
  >
    <input
      id="fileUpload"
      ref="upload"
      style="display: none"
      type="file"
      accept="image/*"
    />
    <v-row justify="center">
      <v-icon v-if="!dragover" color="darken-2" size="75"
        >mdi-cloud-upload-outline</v-icon
      >
      <v-icon v-if="dragover" color="darken-2" size="75">mdi-book-plus</v-icon>
    </v-row>
    <v-row justify="center">
      <span class="text-subtitle-2 font-weight-light"
        >Jatuhkan Gambar Di Sini Atau Klik Untuk Memilih</span
      >
    </v-row>
  </v-card>
</template>
<script lang="ts">
import Vue from 'vue'
import { Component, Emit } from 'vue-property-decorator'

@Component
export default class FileUploadDropzone extends Vue {
  // internal properties
  formUpload: boolean = false
  dragover: boolean = false
  onDragEnter(e: any) {
    e.preventDefault()
    this.dragover = true
  }
  onDragLeave(e: any) {
    e.preventDefault()
    this.dragover = true
  }
  onDragOver(e: any) {
    e.preventDefault()
    this.dragover = true
  }
  onDrop(e: any) {
    e.preventDefault()
    const dragevent = e as DragEvent
    if (dragevent.dataTransfer) {
      this.filesSelected(dragevent.dataTransfer.files)
    }
  }
  onDropzoneClick() {
    const fileupload = this.$el.firstElementChild as HTMLElement
    if (fileupload) {
      fileupload.click()
    }
  }
  onDropzoneKeyPress(e: any) {
    const fileupload = this.$el.firstElementChild as HTMLElement
    const keyEvent = e as KeyboardEvent
    if (keyEvent.key === 'Enter') {
      if (fileupload) fileupload.click()
    }
  }
  onDropzoneChange(e: any) {
    const target = e.target as HTMLInputElement
    if (target.files) {
      this.filesSelected(target.files)
    }
  }
  @Emit()
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  filesSelected(files: FileList) {
    this.dragover = false
  }
}
</script>
