<template>
  <div>
    <v-form ref="form">
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="dataShift.refShiftName"
            name="refShiftName"
            :rules="formRequire"
            label="Nama Shift"
            clearable
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-select
            v-model="dataShift.refShiftDay"
            name="refShiftDay"
            label="Hari"
            :items="typeShift"
            item-text="name"
            item-value="id"
          />
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="6">
          <v-menu
            ref="menuTimeStart"
            v-model="timeStartMenu"
            :close-on-content-click="false"
            :nudge-right="40"
            :return-value.sync="dataShift.refShiftTimeStart"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template #activator="{ on, attrs }">
              <v-text-field
                v-model="dataShift.refShiftTimeStart"
                label="Jam Mulai"
                prepend-icon="mdi-clock-time-four-outline"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-time-picker
              v-if="timeStartMenu"
              v-model="dataShift.refShiftTimeStart"
              format="24hr"
              full-width
              @click:minute="
                $refs.menuTimeStart.save(dataShift.refShiftTimeStart)
              "
            ></v-time-picker>
          </v-menu>
        </v-col>
        <v-col cols="6">
          <v-menu
            ref="menuTimeEnd"
            v-model="timeEndMenu"
            :close-on-content-click="false"
            :nudge-right="40"
            :return-value.sync="dataShift.refShiftTimeEnd"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template #activator="{ on, attrs }">
              <v-text-field
                v-model="dataShift.refShiftTimeEnd"
                label="Jam Selesai"
                prepend-icon="mdi-clock-time-four-outline"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-time-picker
              v-if="timeEndMenu"
              v-model="dataShift.refShiftTimeEnd"
              format="24hr"
              full-width
              @click:minute="$refs.menuTimeEnd.save(dataShift.refShiftTimeEnd)"
            ></v-time-picker>
          </v-menu>
        </v-col>
      </v-row>
    </v-form>
    <v-alert
      v-model="alert.isShow"
      :type="alert.type"
      dismissible
      dense
      outlined
    >
      {{ alert.msg }}
    </v-alert>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class Form extends Vue {
  @Prop({ type: [Object] })
  value!: object
  @Prop({ type: Object })
  alert!: object

  created() {}
  timeStartMenu = false
  timeEndMenu = false

  typeShift = [
    { id: 1, name: 'Senin' },
    { id: 2, name: 'Selasa' },
    { id: 3, name: 'Rabu' },
    { id: 4, name: 'Kamis' },
    { id: 5, name: 'Jumat' },
    { id: 6, name: 'Sabtu' },
    { id: 0, name: 'Minggu' },
  ]

  get dataShift(): object {
    return this.value
  }

  set dataShift(val) {
    this.$emit('input', val)
  }
  formRequire = [(v: any) => !!v || 'Form ini harus di isi']
  $refs = {
    form: {} as any,
  }
  validateForm() {
    return this.$refs.form.validate()
  }

  oldValue = {}

  appendOldValue(payload: object) {
    this.oldValue = payload
  }

  isDirty() {
    if (JSON.stringify(this.oldValue) === JSON.stringify(this.value)) {
      return false
    }
    return true
  }
}
</script>
