<template>
  <div>
    <v-form ref="form">
      <v-text-field
        v-model="dataProduct.productName"
        name="productName"
        :rules="formRequire"
        label="Nama Produk"
        clearable
      />
      <v-text-field
        v-model="dataProduct.description"
        name="description"
        label="Deskripsi Produk"
        clearable
      />
      <v-text-field
        v-model="dataProduct.productPrice"
        name="productPrice"
        :rules="formRequire"
        label="Harga ( Rp )"
        clearable
      />
      <v-select
        v-model="dataProduct.productId"
        :rules="formRequire"
        name="productId"
        label="Tipe Produk"
        :items="typeProduct"
        item-text="name"
        item-value="id"
      />
      <p>
        Hanya munculkan metode pembayaran, Tidak dipilih akan muncul semuanya :
      </p>

      <div class="d-flex justify-start flex-row align-center">
        <v-checkbox v-model="selectedMethod" label="Cash" value="Cash" />
        <v-checkbox
          :disabled="!providerStatusLive"
          v-model="selectedMethod"
          label="Transfer"
          value="Transfer"
        />
        <common-chip-payment-provider-status
          v-if="!isLoadingSynchProvider"
          :status="providerStatusLive ? 'LIVE' : 'NOT_REGISTERED'"
        />
      </div>
    </v-form>
    <v-alert
      v-model="alert.isShow"
      :type="alert.type"
      dismissible
      dense
      outlined
    >
      {{ alert.msg }}
    </v-alert>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { InfoApi, ReferencePaymentV2 } from '@inatti/shared/api-nuxt'

@Component
export default class FormProduct extends Vue {
  @Prop({ type: [Object] })
  value!: object
  @Prop({ type: Object })
  alert!: object

  isLoadingSynchProvider = false
  providerStatusLive = false
  referenceApi = new ReferencePaymentV2(this.$axios)

  created() {}

  typeProduct = [
    { id: 1, name: 'PCR' },
    { id: 2, name: 'Antigen' },
  ]

  get dataProduct(): any {
    return this.value
  }

  set dataProduct(val) {
    this.$emit('input', val)
  }

  selectedMethod: any[] = []

  formRequire = [(v: any) => !!v || 'Form ini harus di isi']
  $refs = {
    form: {} as any,
  }
  validateForm() {
    return this.$refs.form.validate()
  }

  oldValue = {}

  appendOldValue(payload: object) {
    this.oldValue = payload
  }

  isDirty() {
    if (JSON.stringify(this.oldValue) === JSON.stringify(this.value)) {
      return false
    }
    return true
  }

  infoApi = new InfoApi(this.$axios)

  async fetchAvailableProduct() {
    try {
      this.typeProduct = await this.infoApi.getProductType()
    } catch (error) {}
  }

  async synchProvider() {
    try {
      this.isLoadingSynchProvider = true
      const refId = this.$route.query.refId as string
      const resp = await this.referenceApi.synch(refId)
      this.providerStatusLive = resp.isLive
      return
    } catch (error) {
    } finally {
      this.isLoadingSynchProvider = false
    }
  }

  mounted() {
    this.fetchAvailableProduct()
    this.updateProductForm()
    this.synchProvider()
  }

  @Watch('value', { deep: true })
  updateProductForm() {
    if (this.dataProduct) {
      if (!this.dataProduct.methodPayments) {
        this.selectedMethod = []
        return
      }
      if (!Array.isArray(this.dataProduct.methodPayments)) {
        this.selectedMethod = [this.dataProduct.methodPayments]
        return
      }
      this.selectedMethod = this.dataProduct.methodPayments
    }
  }
}
</script>
