<template>
  <div>
    <v-form ref="form">
      <v-text-field
        v-model="dataQuickForm.name"
        outlined
        name="name"
        class="mt-8 mb-0"
        dense
        :rules="formRequire"
        label="Nama"
        clearable
      />
      <v-switch v-model="hasExpired" label="Atur Tanggal Kadaluarsa"></v-switch>
      <v-dialog
        v-if="hasExpired"
        ref="expiretAtMenu"
        v-model="expiretAtMenu"
        width="290px"
        :return-value.sync="dataQuickForm.expiredAt"
        persistent
      >
        <template #activator="{ on, attrs }">
          <v-text-field
            v-model="dataQuickForm.expiredAt"
            label="Tanggal Kadaluarsa"
            outlined
            prepend-inner-icon="mdi-calendar"
            readonly
            clearable
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="dataQuickForm.expiredAt" scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="expiretAtMenu = false">
            Cancel
          </v-btn>
          <v-btn
            text
            color="primary"
            @click="$refs.expiretAtMenu.save(dataQuickForm.expiredAt)"
          >
            OK
          </v-btn>
        </v-date-picker>
      </v-dialog>
    </v-form>

    <v-alert
      v-model="alert.isShow"
      :type="alert.type"
      dismissible
      dense
      outlined
    >
      {{ alert.msg }}
    </v-alert>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class Form extends Vue {
  @Prop({ type: [Object] })
  value!: Record<string, string>
  @Prop({ type: Object })
  alert!: object

  created() {}
  get dataQuickForm(): object {
    this.hasExpired = !!this.value.expiredAt
    return this.value
  }

  set dataQuickForm(val) {
    this.$emit('input', val)
  }

  hasExpired = true
  expiretAtMenu = false
  formRequire = [(v: any) => !!v || 'Form ini harus di isi']
  $refs = {
    form: {} as any,
  }
  validateForm() {
    return this.$refs.form.validate()
  }

  oldValue = {}

  appendOldValue(payload: object) {
    this.oldValue = payload
  }

  isDirty() {
    if (JSON.stringify(this.oldValue) === JSON.stringify(this.value)) {
      return false
    }
    return true
  }
}
</script>
