<template>
  <v-card :loading="loading">
    <v-card-title class="d-flex justify-space-between">
      <div>
        {{ label }}
      </div>
      <div>
        <v-btn
          v-if="!isEditing"
          color="primary"
          icon
          @click="isEditing = !isEditing"
        >
          <v-icon> mdi-pencil </v-icon>
        </v-btn>
        <v-btn v-else color="green" text @click="saveImage"> Simpan </v-btn>
      </div>
    </v-card-title>
    <v-card-text>
      <div v-if="hint" class="mb-3">{{ hint }}</div>
      <div v-if="!value">
        <div class="text-italic">
          Tidak ada file, upload dengan klik tanda 'pensil'
        </div>
      </div>
      <v-img v-if="!isEditing" :src="value"></v-img>
      <page-setting-file-upload-dropzone
        v-else
        @files-selected="setImage"
      ></page-setting-file-upload-dropzone>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class ImageSetting extends Vue {
  @Prop()
  value!: string
  @Prop()
  label!: string
  @Prop()
  hint!: string
  @Prop({ type: Boolean })
  loading!: boolean

  isEditing = false

  selectedImage = null
  setImage(fileImages: any[]) {
    if (fileImages.length < 1) return null
    this.selectedImage = fileImages[0]
    this.saveImage()
  }

  saveImage() {
    if (!this.selectedImage) return null
    const imageUrl = URL.createObjectURL(this.selectedImage)
    this.$emit('input', imageUrl)
    this.$emit('change', this.selectedImage)
    this.isEditing = !this.isEditing
  }
}
</script>