<template>
  <div class="text-center">
    <v-dialog v-model="dialogsModel" width="645">
      <v-card>
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>
        <v-divider />
        <v-card-text>
          <div class="d-flex w-full justify-start align-center flex-column">
            <div
              id="session-capture"
              class="d-flex w-full pb-16 justify-center align-center flex-column"
            >
              <v-img class="ma-0" src="https://inatti.id/asset-app/inatti-v2.2-large.png" style="width: 250px" />
              <span class="text-h5 ma-0 font-weight-bold">{{
                selectedRef.refId ? selectedRef.refId.name : ''
              }}</span>
              <v-divider style="width: 280px" class="my-5"></v-divider>
              <div class="d-flex justify-center align-center">
                <common-qr-code
                  v-if="value"
                  ref="qrCodeRef"
                  :text="`${quickFormId}`"
                />
              </div>
            </div>
          </div>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="primary" text @click="$emit('cancel')"> Close </v-btn>
          <v-btn color="primary" text @click="onSaveQrCode()">
            Simpan Gambar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import html2canvas from 'html2canvas'
import { ReferenceApi } from '@inatti/shared/api-nuxt'
import { refId } from 'apps/admin-frontend/middleware/authRef'
export default {
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: '',
    },
    quickFormId: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      selectedRef: '',
    }
  },
  computed: {
    dialogsModel: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      },
    },
  },
  watch: {
    dialogsModel(val) {
      if (!val) {
        this.$emit('cancel')
      }
    },
  },
  methods: {
    async fetchReferenceName() {
      const idref = this.$route.query.refId
      this.selectedRef = await new ReferenceApi(this.$axios).getRoleUser(idref)
      if (!this.selectedRef) this.selectedRef = {}
    },
    onSaveQrCode() {
      html2canvas(document.querySelector('#session-capture')).then((canvas) => {
        var dataURL = canvas.toDataURL('image/jpeg', 1.0)
        var a = document.createElement('a')
        a.href = dataURL
        a.download = 'qr-code.jpeg'
        document.body.appendChild(a)
        a.click()
      })
    },
  },
  created() {
    this.fetchReferenceName()
  },
}
</script>
