<template>
  <ui-container-layout
    brand-image="https://inatti.id/asset-app/inatti-v2.2-large.png"
    brand-title="Admin"
  >
    <template #sidebar-menu>
      <ui-container-menu-navigation :menu-items="menus" />
    </template>
    <template #appbar-sidetool>
      <ui-container-menu-account />
    </template>
  </ui-container-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class DefaultLayout extends Vue {
  menus = [
    {
      child: [
        {
          icon: 'mdi-apps',
          title: 'Dashboard',
          to: '/',
        },
      ],
    },
    {
      title: 'Inatti',
      icon: 'mdi-apps',
      allow: 'lab_manage' || 'ref_manage',
      child: [
        {
          title: 'User Admin Management',
          icon: 'mdi-apps',
          to: '/user-admin-management',
        },
        {
          title: 'LAB Management',
          icon: 'mdi-apps',
          to: '/lab/list',
          allow: 'lab_manage',
        },
        {
          icon: 'mdi-apps',
          title: 'Rujukan Management',
          to: '/ref/list',
          allow: 'ref_manage',
        },
      ],
    },
    {
      title: 'Management Apotek',
      icon: 'mdi-apps',
      allow: 'lab_manage' || 'ref_manage',
      child: [
        {
          icon: 'mdi-apps',
          title: 'Dashboard Apoteker dan PMR',
          to: '/headoffice-dashboard',
          // allow: 'ref_manage',
        },
        {
          icon: 'mdi-apps',
          title: 'Head Quarter Management',
          to: '/apotek-headoffice',
          // allow: 'ref_manage',
        },
        {
          icon: 'mdi-apps',
          title: 'Unit Bisnis Management',
          to: '/apotek-group/list',
          // allow: 'ref_manage',
        },
        {
          icon: 'mdi-apps',
          title: 'Apotek Management',
          to: '/manage-apotek',
          allow: 'ref_manage',
        },
      ],
    },
    {
      title: 'Pengaturan Whatsapp',
      child: [
        {
          title: 'Pengaturan Layanan WA',
          icon: 'mdi-apps',
          to: '/whatsapp-service',
        },
        {
          title: 'Pengaturan Notifikasi WA',
          icon: 'mdi-apps',
          to: '/whatsapp-notification',
        },
        {
          title: 'Pengaturan Pesan Apoteker',
          icon: 'mdi-apps',
          to: '/apoteker-message',
        },
      ],
    },
    {
      title: 'Data Vaksinasi',
      child: [
        {
          title: 'Data Vaksinasi',
          icon: 'mdi-apps',
          to: '/vaccine/list',
        },
      ],
    },
    {
      title: 'Apotek Obat',
      child: [
        {
          icon: 'mdi-apps',
          title: 'Obat Management',
          to: '/medicine/list',
          // allow: 'ref_manage',
        },
      ],
    },
    {
      title: 'Transaksi',
      child: [
        {
          icon: 'mdi-finance',
          title: 'Dashboard Transaksi',
          to: '/transaction/dashboard',
          allow: 'transaction',
        },
        {
          icon: 'mdi-table-large',
          title: 'Semua Transaksi',
          to: '/transaction/all',
        },
        {
          icon: 'mdi-table-account',
          title: 'Transaksi Per-pasien',
          to: '/transaction/patient',
        },
      ],
    },
    {
      title: 'User',
      child: [
        {
          icon: 'mdi-chart-bubble',
          title: 'Account Management',
          to: '/account/setting',
        },
      ],
    },
  ]
}
</script>

<style>
.text-style {
  position: relative;
  top: 2.5px;
  font-size: 1.5rem;
  color: #7a892a;
}
</style>
