<template>
  <v-dialog v-model="dialog" fullscreen>
    <template #activator="{ on, attrs }">
      <v-btn color="light-green" class="white--text" v-bind="attrs" v-on="on">
        <v-icon color="white" class="mr-3">mdi-import</v-icon>
        Import map dari ekstraksi
      </v-btn>
    </template>
    <v-card :loading="isLoading">
      <v-toolbar dark color="light-green">
        <v-btn icon dark @click="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>List ekstraksi</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn dark text @click="setAsMapAnalyze()"> Simpan </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-card-text>
        <div class="mt-3">
          <ui-table-pagination-filter
            v-model="dataResult"
            :isShowFilter="false"
            :isShowQrScan="false"
            search
            @change="fetchList"
          >
            <template #default="{ options }">
              <v-data-table
                v-model="selectedExtraction"
                :headers="table.headers"
                :loading="table.isLoading"
                :items="table.items"
                :search="table.search"
                :items-per-page="options.itemPerPage"
                :item-class="getItemClass"
                hide-default-footer
                item-key="id"
                show-select
                single-select
                disable-pagination
              >
                <template #[`item.createdAt`]="{ item }">
                  <div>
                    {{ item.createdAt | toLocale }}
                  </div>
                </template>
                <template #[`item.dateExtracted`]="{ item }">
                  <div>
                    {{ item.dateExtracted | toLocale }}
                  </div>
                </template>
                <template #[`item.action`]="{ item }">
                  <v-btn
                    v-if="$allow('view:extraction_session')"
                    icon
                    :to="'' + item.id"
                  >
                    <v-icon> mdi-eye </v-icon>
                  </v-btn>
                </template>
              </v-data-table>
            </template>
          </ui-table-pagination-filter>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { ReadExtractionDTO } from '@inatti/shared/api-nuxt'
import { UiTablePaginationFilter } from '@inatti/shared/ui'

interface ItemTable {
  // eslint-disable-next-line camelcase
  id: string
  // eslint-disable-next-line camelcase
  name: string
  // eslint-disable-next-line camelcase
  total_mapping: string
  // eslint-disable-next-line camelcase
  createdAt: string
  // eslint-disable-next-line camelcase
  dateExtracted: string
}

@Component({ components: { UiTablePaginationFilter } })
export default class ListExtractionComponent extends Vue {
  created() {
    // first run, show today
    this.fetchList({
      'filter[date]': 'today',
    })
  }

  table = {
    headers: [
      {
        text: 'Id',
        value: 'id',
      },
      {
        value: 'name',
        text: 'Nama Sesi',
      },
      {
        value: 'total_mapping',
        text: 'Jumlah sample',
      },
      {
        value: 'createdAt',
        text: 'Tanggal dibuat',
      },
      {
        text: 'Tanggal Ekstraksi',
        value: 'dateExtracted',
      },
    ],
    isLoading: false,
    items: [] as any[],
    search: null,
  }

  isLoading = false

  dataResult = {}

  selectedExtraction: ItemTable[] = []
  detailExtraction: null | ReadExtractionDTO.Session = null

  dialog = false

  $snackbar: any

  async fetchList(params: any = {}) {
    try {
      this.table.isLoading = true
      let labId = this.$store.state.labStore.labId
      let result = await this.$axios.$get('/api-lab/extraction/sessions', {
        params: {
          idlab: labId,
          ...params,
        },
      })
      this.dataResult = result
      this.table.items = result.results
    } finally {
      this.table.isLoading = false
    }
  }

  getItemClass(item: any) {
    return item.dateExtracted
      ? 'light-green--text accent-4'
      : 'red--text accent-4'
  }

  // on select, set as map in analyze mapping
  async setAsMapAnalyze() {
    if (this.selectedExtraction.length < 1) return null
    let resultMap = await this.getDetailMapExtraction()
    this.$emit('select', resultMap)
  }

  async getDetailMapExtraction() {
    let sessionId = this.selectedExtraction[0].id
    let idLab = this.$store.state.labStore.labId
    this.isLoading = true
    try {
      this.detailExtraction = await this.$axios.$get(
        `/api-lab/extraction/session/${sessionId}?idlab=${idLab}`
      )
      if (!this.detailExtraction) {
        this.$snackbar(`Gagal mengambil detail ekstraksi id ${sessionId}`)
        return false
      }
      this.isLoading = false
      this.dialog = false
      return this.detailExtraction
    } finally {
      this.isLoading = false
    }
  }
}
</script>

<style></style>
