<template>
  <div>
    <v-progress-linear v-if="isLoading" indeterminate color="primary" />
    <v-card-title class="d-flex justify-space-between">
      <span>
        {{ getTitle }}
      </span>
      <div>
        <common-btn-confirm
          delete
          :loading="loadingDelete"
          @ok="deleteResult()"
        >
          <v-icon>mdi-delete-forever</v-icon>
          Hapus Hasil
        </common-btn-confirm>
      </div>
    </v-card-title>
    <v-divider />
    <v-card-text>
      <div v-if="page === 'form_upload'">
        <div class="subtitle-1">
          Alat yang digunakan :
          <strong>{{ toolName ? toolName : 'Tidak dipilih' }}</strong>
        </div>
        <div v-if="toolId">
          <component :is="getFormComponent" @refreshpage="fetchData()" />
        </div>
      </div>
      <div v-if="page === 'show_result'">
        <component
          :is="getResultComponent"
          v-model="sessionData"
          @update="fetchData()"
        ></component>
      </div>
    </v-card-text>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { ReadExtractionDTO } from '@inatti/shared/api-nuxt'
import ToolNotSupport from '../../tool/analyze/any/notSupport.vue'
import FormLc96 from '../../tool/analyze/lc96/form.vue'
import ResultLc96 from '../../tool/analyze/lc96/result.vue'
import FormCfx96 from '../../tool/analyze/cfx96/form.vue'
import ResultCfx96 from '../../tool/analyze/cfx96/result.vue'
import FormVazyment3 from '../../tool/analyze/vazyment3/form.vue'
import ResultVazyment3 from '../../tool/analyze/vazyment3/result.vue'
import FormQlAquant96 from '../../tool/analyze/QlAquant96/form.vue'
import ResultQlAquant96 from '../../tool/analyze/QlAquant96/result.vue'

type pageType = 'form_upload' | 'show_result' | 'error'

type componentMapType = {
  [toolId: number]: {
    form: any // should be vue component
    result: any // should be vue component
  }
}

@Component
export default class PageResultAnalyzeComponent extends Vue {
  mounted() {
    this.sessionId = this.$route.params.id
    this.labId = this.$store.state.labStore.labId
    this.fetchData()
  }

  componentResultLC = ResultLc96

  sessionId = ''
  labId = ''

  isLoading = true
  sessionData = {} as ReadExtractionDTO.Session

  page: pageType = 'form_upload'

  componentMap: componentMapType = {
    1: {
      form: FormLc96,
      result: ResultLc96,
    },
    2: {
      form: FormCfx96,
      result: ResultCfx96,
    },
    3: {
      form: FormVazyment3,
      result: ResultVazyment3,
    },
    4: {
      form: FormQlAquant96,
      result: ResultQlAquant96,
    },
  }

  $snackbar: any

  get getFormComponent() {
    if (this.componentMap[this.toolId]) {
      return this.componentMap[this.toolId].form
    }
    return ToolNotSupport
  }

  get getResultComponent() {
    if (this.componentMap[this.toolId]) {
      return this.componentMap[this.toolId].result
    }
    return ToolNotSupport
  }

  get getTitle() {
    type titlePage = {
      [key in pageType]: string
    }

    let title: titlePage = {
      form_upload: 'Upload hasil analisa',
      show_result: 'Hasil analisa',
      error: 'Terjadi kesalahan',
    }
    return title[this.page]
  }

  async fetchData() {
    this.isLoading = true
    try {
      this.sessionData = await this.$axios.$get(
        `/api-lab/analyze/result/${this.sessionId}?idlab=${this.labId}`
      )

      if (!this.sessionData.result) {
        this.page = 'form_upload'
      } else {
        this.page = 'show_result'
      }
    } catch (error) {
      console.log(error)
    }
    this.isLoading = false
  }

  get toolName() {
    return this.sessionData.tool?.name ?? null
  }
  get toolId() {
    return this.sessionData.tool?.id ?? null
  }

  loadingDelete = false
  async deleteResult() {
    this.loadingDelete = true
    try {
      await this.$axios.$delete(
        `/api-lab/analyze/session/${this.sessionId}/result?idlab=${this.labId}`
      )
      window.location.reload()
    } catch (error) {
      this.$snackbar('Gagal menghapus data')
    }
    this.loadingDelete = false
  }
}
</script>

<style></style>
