<template>
  <div>
    <common-toolbar no-back> Analisa Dokter </common-toolbar>
    <v-card>
      <v-card-text>
        <div class="d-flex align-center">
          <v-menu top close-on-click>
            <template #activator="{ on, attrs }">
              <v-btn small v-bind="attrs" :loading="isLoading" v-on="on">
                Set Status
              </v-btn>
            </template>

            <v-list>
              <v-list-item
                v-for="(item, index) in statusList"
                :key="index"
                @click="updateSelectedToStatus(item.value)"
              >
                <v-list-item-title>{{ item.text }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <span>
            <v-checkbox
              v-model="isSendAsFinal"
              class="ml-3"
              label="Atur sebagai final result"
            />
          </span>
        </div>
        <ui-table-pagination-filter
          v-model="dataResult"
          :isShowFilter="false"
          :isShowQrScan="false"
          search
          search-hint="Cari nama atau kode sample"
          @change="fetchData"
        >
          <v-data-table
            v-model="selectedItem"
            :headers="tableHeader"
            :items="tableItems"
            :loading="isLoading"
            :item-class="getItemClass"
            hide-default-footer
            show-select
            disable-pagination
          >
            <template #[`item.resultTool`]="{ item }">
              <div>
                <common-result-chip v-model="item.resultSummary" />
                {{ item.createdAt | toLocale }}
              </div>
              <div
                v-if="
                  item.sampleSession.session &&
                  item.sampleSession.session.attachedFile
                "
              >
                <a
                  v-if="item.sampleSession.session.attachedFile.s3"
                  class="primary--text mt-3"
                  target="_blank"
                  :href="item.sampleSession.session.attachedFile.s3.Location"
                >
                  <v-icon>mdi-file</v-icon>
                  {{ item.sampleSession.session.attachedFile.originalName }}
                </a>
              </div>
            </template>
            <template #[`item.resultDoctor`]="{ item }">
              <div v-if="item.sampleSession.resultDoctor">
                <common-result-chip
                  v-model="item.sampleSession.resultDoctor.result"
                />
                <span v-if="item.sampleSession.resultDoctor.note">
                  ({{ item.sampleSession.resultDoctor.note }})
                </span>
                {{ item.sampleSession.resultDoctor.createdAt | toLocale }}
              </div>
            </template>
            <template #[`item.action`]="{ item }">
              <v-btn
                v-if="item.sampleSession.sample"
                icon
                :to="'/sample-swab/' + item.sampleSession.sample.id"
              >
                <v-icon> mdi-eye </v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { ResultSwabEnum } from '@inatti/shared/api-nuxt'
import { PaginationResult, ReadExtractionDTO } from '@inatti/shared/api-nuxt'
import { UiTablePaginationFilter } from '@inatti/shared/ui'

interface BulkUpdateResulBydoctorDTO {
  sessionDetailIds: number[]
  result: ResultSwabEnum | 'auto'
  asFinalResult: boolean
}

@Component({ components: { UiTablePaginationFilter } })
export default class AnalizeDoctorListComponent extends Vue {
  created() {
    // first run, show today
    this.fetchData({
      'filter[date]': 'today',
    })
  }

  tableHeader = [
    {
      text: 'Sample Id',
      value: 'sampleSession.sample.sampleId',
    },
    {
      text: 'Nama',
      value: 'sampleSession.sample.patient.name',
    },
    {
      text: 'Tanggal Lahir',
      value: 'sampleSession.sample.patient.datebirth',
    },
    {
      text: 'Jenis kelamin',
      value: 'sampleSession.sample.patient.gender',
    },
    {
      text: 'Hasil dari alat',
      value: 'resultTool',
    },
    {
      text: 'Hasil dari dokter',
      value: 'resultDoctor',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]
  tableItems = [] as ReadExtractionDTO.ResultDoctor[]
  selectedItem = [] as ReadExtractionDTO.ResultDoctor[]
  dataResult = {}

  isLoading = true
  isSendAsFinal = false
  statusList = [
    {
      text: 'Positif',
      value: 'positif',
    },
    {
      text: 'Negatif',
      value: 'negatif',
    },
    {
      text: 'Automatis',
      value: 'auto',
    },
  ]

  lastParam = {}
  async fetchData(params: any = {}) {
    this.lastParam = params
    this.isLoading = true
    try {
      let idlab = this.$store.state.labStore.labId
      const result: PaginationResult<any> = await this.$axios.$get(
        '/api-lab/analyze/result-out',
        {
          params: {
            idlab,
            ...params,
          },
        }
      )
      this.dataResult = result
      this.tableItems = result.results
    } catch (error) {
      console.log(error)
    }
    this.isLoading = false
  }

  getItemClass(item: any) {
    return item.sampleSession.resultDoctor
      ? 'light-green--text accent-4'
      : 'red--text accent-4'
  }

  $snackbar: any
  async updateSelectedToStatus(result: any) {
    this.isLoading = true
    try {
      const sessionDetailIds = this.selectedItem.map((v) => v.sampleSession.id)
      if (sessionDetailIds.length < 1) return false

      let idlab = this.$store.state.labStore.labId
      const payload: BulkUpdateResulBydoctorDTO = {
        sessionDetailIds,
        result,
        asFinalResult: this.isSendAsFinal,
      }
      await this.$axios.$patch(
        `/api-lab/analyze/result-doctor/result/bulk?idlab=${idlab}`,
        payload
      )
      this.fetchData(this.lastParam)
    } catch (error) {
      this.$snackbar('Gagal mengatur status. Error : ' + error)
    }
    this.isLoading = false
  }
}
</script>

<style></style>
