<template>
  <v-toolbar class="mb-3">
    <v-btn
      v-if="noBack === false"
      icon
      class="hidden-xs-only"
      @click="$router.back()"
    >
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>

    <v-toolbar-title><slot /></v-toolbar-title>

    <v-spacer></v-spacer>

    <slot name="control" />
  </v-toolbar>
</template>

<script>
export default {
  props: {
    noBack: {
      default: false,
      type: Boolean,
    },
  },
}
</script>

<style></style>
