<template>
  <svg
    width="330"
    height="116"
    viewBox="0 0 330 116"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M70 35.2391C70 41.2607 68.4999 46.9295 65.8554 51.8875C59.9529 62.9537 48.3492 70.4782 35 70.4782C21.6508 70.4782 10.0471 62.9537 4.14456 51.8875C1.5001 46.9295 0 41.2607 0 35.2391C0 15.7771 15.67 0 35 0C54.33 0 70 15.7771 70 35.2391Z"
      fill="#39B2BC"
    />
    <path
      d="M62.7197 34.4066C62.7197 50.0375 50.1837 62.7089 34.7197 62.7089C19.2558 62.7089 6.71973 50.0375 6.71973 34.4066C6.71973 18.7757 19.2558 6.10437 34.7197 6.10437C50.1837 6.10437 62.7197 18.7757 62.7197 34.4066Z"
      fill="#F7F7F7"
    />
    <path
      d="M56.5597 37.1814V41.066H54.5997L54.3197 41.3435V42.1759V42.7308L54.0397 43.2858L53.4797 43.8407L52.6397 44.3957H52.0797H51.5197L50.9597 43.8407L50.6797 43.2858L50.3997 42.7308L49.8397 41.8984L48.9997 41.3435L35.5597 42.7308L34.9997 43.0083V44.3957V45.2281L34.4397 45.783L33.8797 46.338L33.3197 46.6155L32.4797 46.8929H31.9197H31.0797L30.2397 46.6155L29.3997 45.783L28.8397 45.2281L28.2797 44.3957L27.9997 43.5633H23.7997L23.5197 43.8407L22.6797 44.9506L21.8397 45.5056H20.7197H19.3197L18.4797 44.9506L17.9197 43.8407L17.3597 42.7308H14.5597L11.1997 38.8462L12.0397 38.0138V36.349L11.1997 34.6841V31.9094L14.2797 26.9149H12.8797V26.0825H17.9197L19.8797 24.1401H24.0797L25.1997 22.4753L31.6397 21.6429L34.7197 22.4753H37.5197L58.2397 26.6374V34.6841L56.5597 37.1814Z"
      fill="#7A892A"
    />
    <path
      d="M52.3599 39.9561L52.9199 39.4012H53.4799L53.7599 39.9561V42.1759L53.4799 42.7309H52.3599V39.9561Z"
      fill="white"
    />
    <path
      d="M32.1997 42.1759L32.4797 41.3435L32.7597 41.066H33.8797L34.4397 41.621V44.3957L33.8797 44.9507H32.7597L32.1997 44.3957V42.1759Z"
      fill="white"
      stroke="white"
      stroke-width="0.1"
    />
    <path
      d="M34.72 102.11L5.32 53.8298L34.72 66.871L63 56.6045L34.72 102.11Z"
      fill="#39B1BE"
    />
    <path
      d="M90.4082 49.168L90.8477 55.2715C94.6237 50.5514 99.6855 48.1914 106.033 48.1914C111.632 48.1914 115.799 49.8353 118.533 53.123C121.268 56.4108 122.667 61.3262 122.732 67.8691V102H108.621V68.2109C108.621 65.2161 107.97 63.0514 106.668 61.7168C105.366 60.3496 103.201 59.666 100.174 59.666C96.2025 59.666 93.224 61.3587 91.2383 64.7441V102H77.127V49.168H90.4082ZM162.59 102C161.939 100.73 161.467 99.1517 161.174 97.2637C157.756 101.072 153.312 102.977 147.844 102.977C142.668 102.977 138.371 101.479 134.953 98.4844C131.568 95.4896 129.875 91.7135 129.875 87.1562C129.875 81.5573 131.942 77.2604 136.076 74.2656C140.243 71.2708 146.249 69.7572 154.094 69.7246H160.588V66.6973C160.588 64.2559 159.953 62.3027 158.684 60.8379C157.447 59.373 155.477 58.6406 152.775 58.6406C150.399 58.6406 148.527 59.2103 147.16 60.3496C145.826 61.4889 145.158 63.0514 145.158 65.0371H131.047C131.047 61.9772 131.991 59.1452 133.879 56.541C135.767 53.9368 138.436 51.9023 141.887 50.4375C145.337 48.9401 149.211 48.1914 153.508 48.1914C160.018 48.1914 165.178 49.8353 168.986 53.123C172.827 56.3783 174.748 60.9681 174.748 66.8926V89.793C174.781 94.806 175.48 98.5983 176.848 101.17V102H162.59ZM150.92 92.1855C153.003 92.1855 154.924 91.7298 156.682 90.8184C158.439 89.8743 159.742 88.6211 160.588 87.0586V77.9766H155.314C148.251 77.9766 144.491 80.418 144.035 85.3008L143.986 86.1309C143.986 87.8887 144.605 89.3372 145.842 90.4766C147.079 91.6159 148.771 92.1855 150.92 92.1855Z"
      fill="#39B1BE"
    />
    <path
      d="M238.531 42.7715H216.754V102H202.105V42.7715H180.621V30.9062H238.531V42.7715ZM299.727 42.7715H277.949V102H263.301V42.7715H241.816V30.9062H299.727V42.7715ZM322.201 102H307.553V30.9062H322.201V102Z"
      fill="#7A892A"
    />
  </svg>
</template>
<script>
export default {
  props: {
    color: {
      type: String,
      default: "normal",
    },
    size: {
      type: String,
      default: "lg",
    },
  },
}
</script>
