<template>
  <div>
    <common-toolbar no-back>
      Obat Publik
      <template #control>
        <v-btn color="success" outlined class="mr-3" to="/medicine/upload">
          <v-icon left> mdi-upload </v-icon> Unggah Obat
        </v-btn>
        <v-btn color="primary" @click="form.addObat.isOpenDialog = true">
          Tambah Obat
        </v-btn>
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination-filter
          ref="tablePagination"
          v-model="resultPagination"
          :is-show-filter="false"
          :is-show-qr-scan="false"
          :hide-date-filter="true"
          search
          search-hint="Masukkan nama obat"
          @change="fetchObatPublicDataList"
        >
          <v-data-table
            :headers="headers"
            :items="tableData"
            :loading="isLoadingTable"
            item-key="id"
            hide-default-footer
            disable-pagination
          >
            <template #[`item.createdAt`]="{ item }">
              {{ $dayjs(item.createdAt).format('DD/MM/YYYY, HH:mm:ss A') }}
            </template>
            <template #[`item.edit`]="{ item }">
              <v-btn icon small @click="onEditObat(item)">
                <v-icon small> mdi-pencil </v-icon>
              </v-btn>
            </template>
            <template #[`item.delete`]="{ item }">
              <v-btn icon small @click="confirmDeleteObatById(item)">
                <v-icon small> mdi-trash-can </v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
    <ui-common-dialog
      v-model="form.addObat.isOpenDialog"
      title="Tambah Obat"
      :width="540"
      :loading="form.addObat.isLoading"
      confirm-icon="mdi-plus"
      confirm-text="Tambah"
      cancel-text="Batal"
      @btn-save="addObat()"
      @btn-cancel="form.addObat.isOpenDialog = false"
    >
      <v-alert type="error" text :value="form.addObat.isError">
        Gagal menambah obat.
      </v-alert>
      <v-text-field
        v-model="form.addObat.data.name"
        label="Nama Obat"
        outlined
        dense
      ></v-text-field>
    </ui-common-dialog>
    <ui-common-dialog
      v-model="form.editObatInfo.isOpenDialog"
      title="Edit Obat"
      :width="540"
      :loading="form.editObatInfo.isLoading"
      confirm-icon="mdi-content-save"
      confirm-text="Simpan"
      cancel-text="Batal"
      @btn-save="editObatInfoById(selectedObat.id)"
      @btn-cancel="form.editObatInfo.isOpenDialog = false"
    >
      <v-alert type="error" text :value="form.editObatInfo.isError">
        Gagal mengubah informasi obat.
      </v-alert>
      <v-text-field
        v-model="form.editObatInfo.data.name"
        label="Nama Obat"
        outlined
        dense
      ></v-text-field>
    </ui-common-dialog>
    <ui-common-dialog
      v-model="form.deleteObat.isOpenDialog"
      title="Hapus Obat"
      :width="540"
      :loading="form.deleteObat.isLoading"
      confirm-icon="mdi-trash-can"
      confirm-text="Hapus"
      cancel-text="Batal"
      @btn-save="deleteObatById(selectedObat.id)"
      @btn-cancel="form.deleteObat.isOpenDialog = false"
    >
      Yakin anda ingin menghapus data obat ini?
    </ui-common-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  ObatPublicData,
  PaginationResult,
  MedicinePublicApi,
} from '@inatti/shared/api-nuxt'
import { UiCommonDialog, UiTablePaginationFilter } from '@inatti/shared/ui'

@Component({ components: { UiCommonDialog, UiTablePaginationFilter } })
export default class MedicineComponent extends Vue {
  form = {
    addObat: {
      isOpenDialog: false,
      isLoading: false,
      isError: false,
      data: {
        name: '',
      },
    },
    editObatInfo: {
      isOpenDialog: false,
      isLoading: false,
      isError: false,
      data: {
        name: '',
      },
    },
    deleteObat: {
      isOpenDialog: false,
      isLoading: false,
      isError: false,
    },
  }

  isLoadingTable = false
  headers = [
    {
      text: 'Id',
      align: 'start',
      sortable: false,
      value: 'id',
    },
    { text: 'Nama Obat', value: 'name' },
    { text: 'Tanggal Input', value: 'createdAt' },
    { text: 'Edit', value: 'edit', sortable: false },
    { text: 'Hapus', value: 'delete', sortable: false },
  ]

  tableData = [] as ObatPublicData[]
  resultPagination = {} as PaginationResult<ObatPublicData>

  lastParams = {
    'paginate[limit]': 10,
  }

  selectedObat = {} as ObatPublicData

  medicinePublicApi!: MedicinePublicApi
  mounted() {
    this.medicinePublicApi = new MedicinePublicApi(this.$axios)
    this.fetchObatPublicDataList()
    this.updatePaginationParams()
  }

  get numberCount() {
    return this.lastParams['paginate[limit]'] * this.resultPagination.page
  }

  async fetchObatPublicDataList(params: any = {}) {
    this.lastParams = params
    try {
      const response = await this.medicinePublicApi.getList(params)
      this.tableData = response.results
      this.resultPagination = response
    } catch (error) {}
  }

  async addObat() {
    this.form.addObat.isLoading = true
    try {
      await this.medicinePublicApi.create(this.form.addObat.data.name)
      this.form.addObat.isError = false
      this.form.addObat.isOpenDialog = false
      this.form.addObat.data.name = ''
      this.fetchObatPublicDataList()
      this.updatePaginationParams()
    } catch (error) {
      this.form.addObat.isError = true
    } finally {
      this.form.addObat.isLoading = false
    }
  }

  onEditObat(item: ObatPublicData) {
    this.selectedObat = item
    this.form.editObatInfo.isOpenDialog = true
    this.form.editObatInfo.data.name = this.selectedObat.name
  }

  async editObatInfoById(id: number) {
    this.form.editObatInfo.isLoading = true
    try {
      await this.medicinePublicApi.update(id, this.form.editObatInfo.data.name)
      this.form.editObatInfo.isError = false
      this.form.editObatInfo.isOpenDialog = false
      this.form.editObatInfo.data.name = ''
      this.fetchObatPublicDataList()
      this.updatePaginationParams()
    } catch (error) {
      this.form.editObatInfo.isError = true
    } finally {
      this.form.editObatInfo.isLoading = false
    }
  }

  confirmDeleteObatById(item: any) {
    this.form.deleteObat.isOpenDialog = true
    this.selectedObat = item
  }

  async deleteObatById(id: number) {
    try {
      await this.medicinePublicApi.delete(id)
      this.form.deleteObat.isOpenDialog = false
      this.fetchObatPublicDataList()
      this.updatePaginationParams()
    } catch (error) {}
  }

  updatePaginationParams() {
    ;(this.$refs.tablePagination as Vue & { onChange: () => void }).onChange()
  }
}
</script>
