<template>
  <div>
    <common-toolbar> Unggah Obat </common-toolbar>
    <v-card>
      <v-card-text>
        <v-form ref="uploadExcelForm">
          <a
            class="primary--text d-inline-block mb-2 text-decoration-underline"
            @click="onPreviewExcelFormat()"
          >
            Lihat Contoh Format Excel (Klik disini)
          </a>
          <v-file-input
            label="File excel obat"
            hint="File harus berformat .xls, .xlsx"
            persistent-hint
            prepend-inner-icon="mdi-paperclip"
            prepend-icon=""
            :rules="[rule]"
            :loading="isLoading"
            outlined
            dense
            @change="onSelectFile"
          ></v-file-input>
          <v-btn
            color="primary"
            :loading="isLoading"
            @click="onUploadFileExcel"
          >
            <v-icon left> mdi-upload </v-icon> Unggah
          </v-btn>
          <v-alert
            :type="alert.type"
            :value="alert.isShow"
            text
            dense
            class="mt-3"
          >
            <v-row align="center">
              <v-col class="grow">
                {{ alert.message }}
              </v-col>
              <v-col v-if="alert.isShowTakeAction" class="shrink">
                <v-btn to="/medicine/list" :color="alert.type">
                  Lihat Obat
                </v-btn>
              </v-col>
            </v-row>
          </v-alert>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { MedicinePublicApi } from '@inatti/shared/api-nuxt'

interface AlertAttribute {
  isShow: boolean
  type: string
  message: string
  isShowTakeAction: boolean
}

@Component
export default class ObatPublicComponent extends Vue {
  file = {} as any
  isLoading = false
  alert: AlertAttribute = {
    isShow: false,
    type: 'error',
    message: '',
    isShowTakeAction: false,
  }

  rule = (v: any) => !!v || 'Mohon pilih file terlebih dahulu'

  $form: any
  medicinePublicApi!: MedicinePublicApi

  mounted() {
    this.medicinePublicApi = new MedicinePublicApi(this.$axios)
  }

  onSelectFile(e: any) {
    this.file = e
  }

  async onUploadFileExcel() {
    this.unShowAlert()
    if (!this.$form.validate(this.$refs, 'uploadExcelForm')) return
    const formData = new FormData()
    formData.append('file', this.file)
    this.isLoading = true
    try {
      const response = await this.medicinePublicApi.uploadExcel(formData)
      this.showAlertSuccess(response?.insertedData)
    } catch (error) {
      this.showAlertError(error)
    } finally {
      this.isLoading = false
    }
  }

  showAlertSuccess(insertedData?: number) {
    this.alert = {
      type: 'success',
      isShow: true,
      message: `File berhasil diupload: ${insertedData} file`,
      isShowTakeAction: true,
    }
  }

  showAlertError(error: any) {
    if (error.response?.data?.message === 'Failed to load excel file') {
      this.alert = {
        type: 'error',
        isShow: true,
        message: `File gagal diupload: file harus berformat .xls atau .xlsx`,
        isShowTakeAction: false,
      }
      return null
    }
    this.alert = {
      type: 'error',
      isShow: true,
      message: `File gagal diupload`,
      isShowTakeAction: false,
    }
  }

  unShowAlert() {
    this.alert = {
      type: 'error',
      isShow: false,
      message: '',
      isShowTakeAction: false,
    }
  }

  onPreviewExcelFormat() {
    window.open('http://inatti.id/example_file/example_medicine.xlsx', '_blank')
  }
}
</script>
