<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-testcovid />
    </template>

    <section v-show="!show">
      <v-card>
        <v-skeleton-loader type="image" height="200" />
        <v-row>
          <v-col>
            <v-skeleton-loader type="list-item-two-line" />
          </v-col>
          <v-col class="pa-7 pt-8">
            <v-row justify="end" class="ma-0">
              <v-skeleton-loader width="70%" type="text" />
            </v-row>
            <v-row justify="end" class="ma-0">
              <v-skeleton-loader width="50%" type="text" />
            </v-row>
          </v-col>
        </v-row>
        <div class="pa-3">
          <v-skeleton-loader
            width="100%"
            type="button"
            class="skeleton-button--block"
          />
        </div>
      </v-card>

      <v-card outlined class="mt-3">
        <v-skeleton-loader width="50%" type="list-item" />
        <v-row>
          <v-col class="pa-7 pt-6">
            <v-skeleton-loader width="80%" type="text@3" />
          </v-col>
          <v-col class="pa-7 pt-6">
            <v-row justify="end" class="ma-0">
              <v-skeleton-loader width="70%" type="text" />
            </v-row>
            <v-row justify="end" class="ma-0">
              <v-skeleton-loader width="70%" type="text" />
            </v-row>
            <v-row justify="end" class="ma-0">
              <v-skeleton-loader width="70%" type="text" />
            </v-row>
          </v-col>
        </v-row>
      </v-card>

      <v-card outlined class="mt-3">
        <v-skeleton-loader width="50%" type="list-item" />
        <v-skeleton-loader type="image" />
      </v-card>
    </section>

    <section v-show="show">
      <v-card outlined class="mt-toolbar">
        <v-alert v-if="!$auth.loggedIn" outlined type="info" text class="ma-4">
          <v-row align="center">
            <v-col class="grow body-2"> Belum punya akun? </v-col>
            <v-col class="shrink">
              <v-btn small color="primary" to="/auth">Sign Up</v-btn>
            </v-col>
          </v-row>
        </v-alert>
        <v-img
          v-if="faskes.image"
          :src="faskes.image"
          gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
          height="200"
          class="white--text align-end"
        >
          <v-card-title>
            <div style="width: 100%">
              {{ faskes.name }}
            </div>
            <div class="text-subtitle-2">
              {{ faskes.refAddress }}
            </div>
          </v-card-title>
        </v-img>
        <v-img
          v-else
          :src="require('@/assets/images/logo_inatti.svg')"
          gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
          height="200"
          class="white--text align-end"
        >
          <v-card-title>
            <div style="width: 100%">
              {{ faskes.name }}
            </div>
            <div class="text-subtitle-2">
              {{ faskes.refAddress }}
            </div>
          </v-card-title>
        </v-img>
        <v-card-text>
          <div class="d-flex justify-space-between align-center">
            <div class="light-green--text lighten-1">1000 Quota tersisa</div>
            <span class="text-caption"> Harga mulai dari </span>
          </div>
          <div class="d-flex justify-space-between align-center">
            <div class="text-h6 font-weight-medium">
              {{
                $store.state.testcovid.typeTest
                  ? $store.state.testcovid.typeTest.name
                  : null
              }}
            </div>
            <div class="text-h5 font-weight-medium">
              Rp. {{ getLowestPrice(faskes.products) }}
            </div>
          </div>

          <div class="mt-3">
            <v-btn
              data-cy="btn-submit-faskes-detail-confirm"
              block
              depressed
              color="warning"
              @click="chooseProduct"
            >
              Pilih Layanan Test
            </v-btn>
          </div>
        </v-card-text>
      </v-card>

      <v-card v-if="faskes.contactWhatsapp" outlined class="mt-3">
        <v-card-title class="d-flex align-center">
          <v-icon class="mr-3"> mdi-whatsapp </v-icon>
          Kontak Whatsapp
        </v-card-title>
        <v-card-text>
          <table style="width: 100%">
            <tr>
              <td>
                {{
                  faskes.contactWhatsapp ? `0${faskes.contactWhatsapp}` : '-'
                }}
              </td>
              <td class="text-right">
                <v-btn color="success" @click="onClickContactWhatsapp">
                  <v-icon left> mdi-whatsapp </v-icon>
                  Hubungi</v-btn
                >
              </td>
            </tr>
          </table>
        </v-card-text>
      </v-card>

      <v-card outlined class="mt-3">
        <v-card-title class="d-flex align-center">
          <v-icon class="mr-3"> mdi-clock-outline </v-icon>
          Jam Layanan
        </v-card-title>
        <v-card-text>
          <table style="width: 100%">
            <tr v-for="shift in faskes.shifts" :key="shift.id">
              <td>{{ dayOfWeek[shift.day] }} - {{ shift.name }}</td>
              <td class="text-right">
                {{ shift.timeStart }} - {{ shift.timeEnd }}
              </td>
            </tr>
          </table>
        </v-card-text>
      </v-card>

      <v-card outlined class="mt-3">
        <v-card-title class="d-flex align-center">
          <v-icon class="mr-3"> mdi-map-marker-outline </v-icon>
          Lokasi
        </v-card-title>

        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe
              id="gmap_canvas"
              width="100%"
              height="250"
              :src="faskes.refAddressPoint"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
            ></iframe>
          </div>
        </div>

        <v-card-text class="d-flex align-start">
          <v-icon class="mr-3"> mdi-map-marker-outline </v-icon>
          <div>
            <div class="font-weight-bold">
              {{ faskes.refAddress }}
            </div>
          </div>
        </v-card-text>
      </v-card>
    </section>
  </mobile-layout>
</template>

<script>
import { UserFaskesApi } from '@inatti/shared/api-nuxt'
export default {
  layout: 'blank',
  auth: false,
  data() {
    return {
      show: false,

      dayOfWeek: [
        'Minggu',
        'Senin',
        'Selasa',
        'Rabu',
        'Kamis',
        'Jumat',
        'Sabtu',
      ],
      faskes: {
        contactWhatsapp: null,
        name: null,
        id: null,
        image: null,
        narFaskesId: null,
        products: [],
        refAddress: null,
        refAddressPoint: null,
        shifts: [],
      },
      userFaskesApi: null,
    }
  },
  mounted() {
    this.userFaskesApi = new UserFaskesApi(this.$axios)
    this.fetchFaskesDetail()
  },
  methods: {
    onClickContactWhatsapp() {
      window
        .open(
          `https://api.whatsapp.com/send?phone=${
            this.faskes.contactWhatsapp
              ? `62${this.faskes.contactWhatsapp}`
              : this.faskes.contactWhatsapp
          }`,
          '_blank'
        )
        .focus()
    },
    async fetchFaskesDetail() {
      try {
        const dataFaskes = await this.userFaskesApi.getDetails(
          this.$route.params.id
        )
        const data = dataFaskes.data
        this.faskes = {
          name: data.name,
          refAddress: data.refAddress,
          contactWhatsapp: data.contactWhatsapp,
          refAddressPoint:
            'https://maps.google.com/maps?q=' +
            data.refAddressPoint +
            '&t=&z=13&ie=UTF8&iwloc=&output=embed',
          id: data.id,
          image: data.image,
          narFaskesId: data.narFaskesId,
          products: data.products,
          shifts: data.shifts,
        }
        this.show = true
      } catch (err) {
        return err
      }
    },

    getLowestPrice(products) {
      const selectedTypeProduct = this.$store.state.testcovid.typeTest.id
      const sort = products
        .filter((product) => product.product.id === selectedTypeProduct)
        .map((v) => v.price)
        .sort((first, second) => first - second)
      return sort[0]
    },
    toCurrencyString(number) {
      return number.toLocaleString('id-ID', {
        style: 'currency',
        currency: 'IDR',
      })
    },
    chooseProduct() {
      this.$store.commit('testcovid/setFaskes', {
        faskes: this.faskes,
      })
      this.$router.push(`/testcovid/faskes/${this.$route.params.id}/product`)
    },
  },
}
</script>

<style>
.skeleton-button--block .v-skeleton-loader__button {
  width: 100%;
}
</style>
