<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title>
        {{ faskesName }} Tes
        {{
          $store.state.testcovid.typeTest
            ? $store.state.testcovid.typeTest.name
            : null
        }}
      </mobile-appbar-title>
    </template>

    <div class="mt-toolbar">
      <template v-if="!show">
        <v-card
          v-for="(n, index) in 5"
          :key="index"
          class="mt-3 pa-3 pt-0"
          outlined
        >
          <v-row>
            <v-col>
              <v-skeleton-loader type="list-item-two-line" />
            </v-col>
            <v-col>
              <v-row justify="end" class="px-3 pt-3">
                <v-skeleton-loader type="list-item" width="70%" />
              </v-row>
              <v-row justify="end" class="px-4 ma-0">
                <v-skeleton-loader type="button" />
              </v-row>
            </v-col>
          </v-row>
        </v-card>
      </template>

      <template v-if="show">
        <v-text-field
          v-model="searchProduct"
          label="Cari Product"
          outlined
          class="pa-3 pt-6"
          placeholder="Contoh: Traveloka, Citilink"
        />
        <v-card
          v-for="(item, index) in filteredProduct"
          :key="index"
          cols="12"
          outlined
          class="mb-3"
          @click="chooseProduct(item)"
        >
          <v-card-text>
            <div class="d-flex justify-space-between">
              <div>
                <div class="text-subtitle-1 font-weight-bold">
                  {{ item.name ? item.name : 'Product Test' }}
                </div>
                <div>
                  {{ item.description ? item.description : '' }}
                </div>
              </div>
              <div class="font-weight-bold">
                {{ methodPayment(item) }}
                {{ $utils.toIdrDecimaless(item.price) }}
              </div>
            </div>
            <div class="d-flex justify-space-between align-end">
              <div>
                {{ item.product.description }}
              </div>
              <v-btn
                color="primary"
                depressed
                data-cy="btn-pilih-product-list-register-testcovid"
                outlined
                small
                @click="chooseProduct(item)"
              >
                Pilih
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </template>
    </div>
  </mobile-layout>
</template>

<script>
import { UserFaskesApi } from '@inatti/shared/api-nuxt'
export default {
  layout: 'blank',
  auth: false,
  data() {
    return {
      show: false,
      product: [],
      searchProduct: '',
      faskesName: '',
      userFaskesApi: null,
    }
  },
  computed: {
    filteredProduct() {
      if (this.searchProduct.length < 1) {
        return this.product
      }
      if (!this.product) return []
      return this.product.filter((v) => {
        if (!v) return true
        return v.name.toLowerCase().includes(this.searchProduct)
      })
    },
  },
  mounted() {
    this.userFaskesApi = new UserFaskesApi(this.$axios)
    this.fetchFaskesProduct()
    this.faskesName = this.getFaskesName()
  },
  methods: {
    chooseProduct(item) {
      this.$store.commit('testcovid/setFaskes', {
        product: item,
      })

      const { from } = this.$route.query
      if (from === 'quick-form') {
        this.$router.push(
          `/testcovid?from=${from}&product_type=${item.product.id}`
        )
        return
      }

      this.$router.push('/testcovid/register')
    },
    toCurrencyString(number) {
      return number.toLocaleString('id-ID', {
        style: 'currency',
        currency: 'IDR',
      })
    },
    async fetchFaskesProduct() {
      const { id } = this.$route.params
      try {
        const typeTest = this.$store.state.testcovid.typeTest.id ?? 1
        const productData = await this.userFaskesApi.getProducts(id, typeTest)
        this.product = productData
        this.show = true
      } catch (err) {
        return err
      }
    },
    async fetchFaskesDetail() {
      try {
        const dataFaskes = await this.userFaskesApi.getDetails(
          this.$route.params.id
        )
        const data = dataFaskes.data
        const faskes = {
          name: data.name,
          refAddress: data.refAddress,
          contactWhatsapp: data.contactWhatsapp,
          refAddressPoint:
            'https://maps.google.com/maps?q=' +
            data.refAddressPoint +
            '&t=&z=13&ie=UTF8&iwloc=&output=embed',
          id: data.id,
          image: data.image,
          narFaskesId: data.narFaskesId,
          products: data.products,
          shifts: data.shifts,
        }
        this.faskesName = faskes.name
        this.$store.commit('testcovid/setFaskes', {
          faskes,
        })
      } catch (err) {
        return err
      }
    },
    getFaskesName() {
      // if same id, dont fetch,
      if (this.$store.state.testcovid.faskes.faskes) {
        if (
          this.$store.state.testcovid.faskes.faskes.id === this.$route.params.id
        ) {
          return
        }
      }
      this.fetchFaskesDetail()
    },
    methodPayment(item) {
      const MAX_METHOD = 2
      if (!item.methodPayments) return ''
      if (item.methodPayments.length >= MAX_METHOD) return ''
      return item.methodPayments.join(',')
    },
  },
}
</script>

<style scoped>
.toolbar-product {
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0;
}
</style>
