<template>
  <div>
    <common-toolbar>
      Detail Transaksi
      <span v-if="!isAdmin">
        {{
          detailTransaction.customer ? detailTransaction.customer.fullname : ''
        }}
      </span>
    </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text v-if="detailTransaction">
        <v-row>
          <v-col md="6" cols="12">
            <div class="d-flex align-center pl-4">
              <div class="d-flex flex-column justify-between">
                <div class="mb-1">
                  <span class="text-caption font-weight-bold">No. Order</span>
                  :
                  <span class="text-caption font-weight-light">
                    {{ detailTransaction.invId }}</span
                  >
                </div>
                <div>
                  <span class="text-caption font-weight-bold"
                    >Sampling Point</span
                  >
                  :
                  <span class="text-caption font-weight-light">{{
                    detailTransaction.reference
                      ? detailTransaction.reference.name
                      : ''
                  }}</span>
                </div>
              </div>
            </div>
          </v-col>
          <v-col class="text-right">
            <v-btn
              v-if="!isAdmin"
              small
              color="primary caption rounded-lg font-weight-normal text-capitalize"
              @click="printInvoice(detailTransaction.invId)"
            >
              <v-icon small left class="mr-1">mdi-download</v-icon>
              Unduh Invoice
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col md="12" cols="12">
            <v-data-table
              :headers="TransactionTableHeader"
              :items="TransactionListItems"
              :loading="isLoading"
              hide-default-footer
            >
              <template #[`header.column1`]="{ header }">
                <span class="text-caption font-weight-bold">{{
                  header.text
                }}</span>
                <br />
                <span class="text-caption font-weight-medium"
                  >Jumlah Pasien</span
                >
              </template>
              <template #[`header.column2`]="{ header }">
                <span class="text-caption font-weight-bold">{{
                  header.text
                }}</span>
                <br />
                <span class="text-caption font-weight-medium">Produk</span>
              </template>
              <template #[`header.column3`]="{ header }">
                <span class="text-caption font-weight-bold">{{
                  header.text
                }}</span>
              </template>
              <template #[`header.createdAt`]="{ header }">
                <span class="text-caption font-weight-bold">{{
                  header.text
                }}</span>
              </template>
              <template #[`item.column1`]="{ item }">
                <div>
                  <strong class="text-caption font-weight-bold">
                    {{ item.column1.fullname }}
                  </strong>
                </div>
                <div>
                  <span class="text-caption text--secondary">
                    {{ item.column1.totalOrder }} Pasien</span
                  >
                </div>
              </template>
              <template #[`item.column2`]="{ item }">
                <v-chip color="primary" label x-small>{{
                  item.column2.testTypeName
                }}</v-chip>
                <div>
                  <span class="text-caption text--secondary">
                    {{ item.column2.productName }}
                  </span>
                  <span class="text-caption text--secondary">
                    ( {{ statusOrderList.get(item.column2.statusOrder) }} )
                  </span>
                </div>
              </template>
              <template #[`item.column3`]="{ item }">
                <div>
                  <ui-common-chip-order
                    v-if="item.column3.statusOrder"
                    small
                    :status="item.column3.statusOrder"
                  />
                </div>
              </template>
              <template #[`item.column4`]="{ item }">
                <div>
                  <strong>
                    {{ item.column4.method }}
                  </strong>
                </div>
                <div>
                  <span>
                    {{ item.column4.methodCash }}
                  </span>
                </div>
              </template>
              <template #[`item.createdAt`]="{ item }">
                <div>
                  <span class="text-caption green--text">
                    {{ item.createdAt }}
                  </span>
                </div>
              </template>
            </v-data-table>
          </v-col>
        </v-row>

        <v-row class="mt-14">
          <v-col md="6" class="pb-0" cols="12">
            <v-data-table
              :headers="OrderSwabTableHeader"
              :items="OrderSwabListItems"
              :loading="isLoading"
              hide-default-footer
            >
              <template #[`header.column1`]="{ header }">
                <span class="text-caption font-weight-bold">{{
                  header.text
                }}</span>
                <br />
                <span class="text-caption font-weight-medium"> Gender </span>
              </template>
              <template #[`header.column2`]="{ header }">
                <span class="text-caption font-weight-bold">{{
                  header.text
                }}</span>
                <br />
                <span class="text-caption font-weight-medium">
                  NIK / Paspor
                </span>
              </template>
              <template #[`header.column3`]="{ header }">
                <span class="text-caption font-weight-bold">{{
                  header.text
                }}</span>
                <br />
                <span class="text-caption font-weight-medium"> E-mail </span>
              </template>
              <template #[`header.column4`]="{ header }">
                <span class="text-caption font-weight-bold">{{
                  header.text
                }}</span>
              </template>
              <template #[`header.action`]="{ header }">
                <span class="text-caption font-weight-bold">{{
                  header.text
                }}</span>
              </template>
              <template #[`item.column1`]="{ item }">
                <div>
                  <strong class="text-caption font-weight-bold">
                    {{ item.column1.name }}
                  </strong>
                </div>
                <div>
                  <span class="text-caption text--secondary">
                    {{ genderList.get(item.column1.gender) }}</span
                  >
                </div>
              </template>
              <template #[`item.column2`]="{ item }">
                <div>
                  <strong class="text-caption font-weight-bold">
                    {{ item.column2.datebirth }}
                  </strong>
                </div>
                <div>
                  <span class="text-caption text--secondary">
                    {{ item.column2.nik }}</span
                  >
                </div>
              </template>

              <template #[`item.column3`]="{ item }">
                <div>
                  <strong class="text-caption font-weight-bold">
                    {{ item.column3.phonenumber }}
                  </strong>
                </div>
                <div>
                  <span class="text-caption text--secondary">
                    {{ item.column3.email }}</span
                  >
                </div>
              </template>
              <template #[`item.action`]="{ item }">
                <v-btn
                  @click="onClickDetailTest(item)"
                  small
                  color="primary"
                  outlined
                >
                  Detail Test
                </v-btn>
              </template>
            </v-data-table>
          </v-col>
          <v-col md="6" cols="12">
            <v-row class="pb-4 pt-9">
              <v-col class="pb-1 pt-1" md="12" cols="12">
                <v-row>
                  <v-col class="d-flex justify-start" md="6" cols="12">
                    <span style="font-size: 15px" class="font-weight-bold"
                      >Total Harga</span
                    ></v-col
                  >
                  <v-col class="d-flex justify-end" md="6" cols="12">
                    <span style="font-size: 15px" class="font-weight-light">{{
                      getPriceInfo()
                    }}</span></v-col
                  >
                </v-row>
              </v-col>
              <v-col class="pb-1 pt-1" md="12" cols="12">
                <v-row>
                  <v-col class="d-flex justify-start" md="6" cols="12">
                    <v-divider class="my-3" />
                  </v-col>
                </v-row>
              </v-col>
              <v-col class="pb-1 pt-1" md="12" cols="12">
                <v-row>
                  <v-col class="d-flex justify-start" md="6" cols="12">
                    <span style="font-size: 15px" class="font-weight-bold"
                      >Total Bayar</span
                    ></v-col
                  >
                  <v-col class="d-flex justify-end" md="6" cols="12">
                    <span style="font-size: 15px" class="font-weight-medium">{{
                      detailTransaction.totalPrice
                        ? detailTransaction.totalPrice.toLocaleString(
                            'id-ID',
                            {}
                          ) + ',00'
                        : '0,00'
                    }}</span></v-col
                  >
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {
  TransactionDetailDTO,
  StatusOrderEnum,
  PatientSwabDetailDTO,
  ReferenceTransactionApi,
  TransactionApi,
} from '@inatti/shared/api-nuxt';
import { DataTableHeader } from 'vuetify/types/index';
import { UiCommonChipOrder } from '@inatti/shared/ui';
import { Prop } from 'vue-property-decorator';

interface TransactionTableData {
  data: {
    transactionId: string;
  };
  column1: {
    fullname: string;
    totalOrder: number;
  };
  column2: {
    testTypeName: string;
    productName: string;
    statusOrder?: StatusOrderEnum;
  };
  column3: {
    statusOrder?: StatusOrderEnum;
  };
  column4: {
    method: string;
    methodCash: string;
  };
  createdAt: string;
}

interface OrderSwabTableData {
  data: {
    patientId: string;
    detailSwabId: string | number;
  };
  column1: {
    name: string;
    gender: string;
  };
  column2: {
    datebirth: string;
    nik: string;
  };
  column3: {
    phonenumber: string;
    email: string;
  };
}

@Component({ components: { UiCommonChipOrder } })
export default class SharedTransactionDetail extends Vue {
  @Prop({ type: Boolean, default: false }) isAdmin: boolean;

  referenceTransactionApi = new ReferenceTransactionApi(this.$axios);
  transactionApi = new TransactionApi(this.$axios);
  detailTransaction = {} as TransactionDetailDTO.TransactionDetail;
  OrderSwabListItems = [] as OrderSwabTableData[];
  isLoading = false;
  isLoadingDownloadInvoice = false;
  TransactionListItems = [] as TransactionTableData[];
  TransactionTableHeader = [
    {
      text: 'Nama Pemesan',
      value: 'column1',
      sortable: false,
    },
    {
      text: 'Jenis Test',
      value: 'column2',
      sortable: false,
    },
    {
      text: 'Status Bayar',
      value: 'column3',
      sortable: false,
    },
    {
      text: 'Metode',
      value: 'column4',
      sortable: false,
    },
    {
      text: 'Tanggal Checkout',
      value: 'createdAt',
      sortable: false,
    },
  ] as DataTableHeader[];
  OrderSwabTableHeader = [
    {
      text: 'Nama Pasien',
      value: 'column1',
      sortable: false,
    },
    {
      text: 'Tanggal Lahir',
      value: 'column2',
      sortable: false,
    },
    {
      text: 'No. Handphone',
      value: 'column3',
      sortable: false,
    },
    {
      text: 'Aksi',
      value: 'action',
      sortable: false,
    },
  ] as DataTableHeader[];
  statusOrderList = new Map([
    ['new', 'Order Baru'],
    ['paymentReceived', 'Sudah diterima'],
    ['paymentFailed', 'Pembayaran Gagal'],
    ['inProgress', 'Sedang di proses'],
    ['paid', 'Sudah Terbayar'],
    ['close', 'Pembayaran ditutup'],
    ['canceled', 'Pembayaran dibatalkan'],
  ]);
  genderList = new Map([
    ['pr', 'Perempuan'],
    ['lk', 'Laki-Laki'],
  ]);

  // plugin utils
  $utils: any;

  mounted() {
    if (this.isAdmin) {
      this.OrderSwabTableHeader.pop()
    }
  }

  parseToTableTransaction(
    data: TransactionDetailDTO.TransactionDetail[]
  ): TransactionTableData[] {
    let transactionTableData: TransactionTableData[] = [];
    for (let i = 0; i < data.length; i++) {
      const transactionDetail: TransactionDetailDTO.TransactionDetail = data[i];
      transactionTableData.push({
        data: {
          transactionId: transactionDetail.id,
        },
        column1: {
          fullname: transactionDetail.customer?.fullname ?? 'Guest',
          totalOrder: transactionDetail.orderSwab.length,
        },
        column2: {
          testTypeName: transactionDetail.product?.product?.name,
          productName: transactionDetail.product.name,
          statusOrder: transactionDetail.status,
        },
        column3: {
          statusOrder: transactionDetail.status,
        },
        column4: {
          method: transactionDetail.method,
          methodCash: transactionDetail.methodCash,
        },
        createdAt: new Date(
          transactionDetail.createdAt.toString()
        ).toLocaleString(),
      });
    }
    return transactionTableData;
  }
  parseToTableOrderSwab(
    data: PatientSwabDetailDTO.OrderSwab[]
  ): OrderSwabTableData[] {
    let orderSwabTableData: OrderSwabTableData[] = [];
    for (let i = 0; i < data.length; i++) {
      const dto: PatientSwabDetailDTO.OrderSwab = data[i];
      orderSwabTableData.push({
        data: {
          patientId: dto.patient.id,
          detailSwabId: dto.detailOrderProduct.id,
        },
        column1: {
          name: dto.patient.name,
          gender: dto.patient.gender,
        },
        column2: {
          datebirth: `${new Date(dto.patient.datebirth).getDate()}-${
            new Date(dto.patient.datebirth).getMonth() + 1
          }-${new Date(dto.patient.datebirth).getFullYear()}`,
          nik: dto.patient.nik,
        },
        column3: {
          phonenumber: dto.patient.phonenumber,
          email: dto.patient.email,
        },
      });
    }
    return orderSwabTableData;
  }
  async fetchData() {
    this.isLoading = true;
    let params = this.$route.params;
    try {
      const result = await this.transactionApi.getOneV2(params.idtransaction);
      this.detailTransaction = result;
      this.TransactionListItems = this.parseToTableTransaction([result]);
      this.OrderSwabListItems = this.parseToTableOrderSwab(result?.orderSwab);
    } catch (error) {}
    this.isLoading = false;
  }
  created() {
    this.fetchData();
  }

  getPriceInfo() {
    if (!this.detailTransaction.orderSwab) return null;
    if (this.detailTransaction.orderSwab.length < 1) {
      return 0;
    }
    // get fixed price from orderSwab
    let singlePrice = this.detailTransaction.orderSwab[0].price;
    let totalPatient = this.detailTransaction.orderSwab.length;
    let total = singlePrice * totalPatient;

    return `${totalPatient} x ${this.$utils.toIdr(
      singlePrice
    )} = ${this.$utils.toIdr(total)}`;
  }

  async printInvoice(invoiceId: string) {
    try {
      this.isLoadingDownloadInvoice = true;
      const resp = await this.referenceTransactionApi.getInvoice(invoiceId);
      if (resp) {
        const url = window.URL.createObjectURL(new Blob([resp]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', `${invoiceId}.pdf`);
        document.body.appendChild(link);
        link.click();
        link.remove();
      }
    } catch (error) {
    } finally {
      this.isLoadingDownloadInvoice = false;
    }
  }

  onClickDetailTest(item: OrderSwabTableData) {
    if (this.detailTransaction.product.product.id === 3) {
      this.$router.push('/vaksinasi/' + item.data.detailSwabId);
    }
    if (
      this.detailTransaction.product.product.id === 1 ||
      this.detailTransaction.product.product.id === 2
    ) {
      this.$router.push('/swab/pasien/' + item.data.detailSwabId);
    }
  }
}
</script>
