<template>
  <v-row dense>
    <v-col cols="12">
      <div class="d-flex justify-start align-start flex-row">
        <span class="text-subtitle-2 font-weight-light">Apotek : </span>
        <span class="text-subtitle-2 font-weight-normal ml-2">{{
          apotekName
        }}</span>
      </div>
    </v-col>
    <v-col cols="12">
      <div class="d-flex justify-start align-start flex-row">
        <span class="text-subtitle-2 font-weight-light">Unit Bisnis : </span>
        <span class="text-subtitle-2 font-weight-normal ml-2">{{
          apotekGroupName
        }}</span>
      </div>
    </v-col>
    <v-col cols="12">
      <div class="d-flex justify-start align-start flex-row">
        <span class="text-subtitle-2 font-weight-light">HQ : </span>
        <span class="text-subtitle-2 font-weight-normal ml-2">{{
          headOfficeName
        }}</span>
      </div>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component
export default class PagePatientOwnedBy extends Vue {
  @Prop()
  apotekName!: string;
  @Prop()
  apotekGroupName!: string;
  @Prop()
  headOfficeName!: string;
}
</script>
