<template>
  <div>
    <common-toolbar>
      <div>Detail Pasien swab {{ $route.params.type }}</div>
    </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text v-if="detailPatient && detailSwab">
        <v-row>
          <v-col md="6" cols="12">
            <div class="d-flex align-center">
              <div class="text-h5">Detail Pasien</div>
              <v-spacer />
              <nuxt-link :to="`/pasien/${detailPatient.id}`">
                Edit Pasien
              </nuxt-link>
            </div>
            <v-divider class="my-3" />
            <v-form ref="form" v-model="valid" lazy-validation>
              <fieldset class="pa-3">
                <legend>Data Personal</legend>
                <v-text-field
                  v-model="detailPatient.nik"
                  v-bind="defaultFormReadOnlyProp"
                  label="Nik"
                  placeholder="Nomor Induk Kependudukan"
                />
                <v-select
                  v-model="detailPatient.type"
                  label="Tipe Nik"
                  v-bind="defaultFormReadOnlyProp"
                  :items="typeNik"
                  item-text="name"
                  item-value="id"
                />
                <v-text-field
                  v-model="detailPatient.name"
                  v-bind="defaultFormReadOnlyProp"
                  label="Nama"
                  placeholder="Nama Pasien"
                />
                <v-text-field
                  v-model="detailPatient.datebirth"
                  v-bind="defaultFormReadOnlyProp"
                  type="date"
                  label="Tanggal Lahir"
                ></v-text-field>

                <v-text-field
                  v-model="detailPatient.placebirth"
                  v-bind="defaultFormReadOnlyProp"
                  label="Tempat Lahir"
                ></v-text-field>

                <v-text-field
                  v-model="detailPatient.email"
                  v-bind="{ ...defaultFormReadOnlyProp, required: false }"
                  label="Email"
                ></v-text-field>

                <v-text-field
                  v-model="detailPatient.phonenumber"
                  v-bind="{ ...defaultFormReadOnlyProp, required: false }"
                  label="Nomor Hp"
                ></v-text-field>

                <ui-form-select-gender
                  v-model="detailPatient.gender"
                  v-bind="defaultFormReadOnlyProp"
                />
              </fieldset>

              <fieldset class="pa-3">
                <legend>Alamat KTP</legend>
                <ui-form-select-provinsi
                  v-model="detailPatient.provinsi"
                  v-bind="defaultFormReadOnlyProp"
                />
                <ui-form-select-kabupaten
                  v-model="detailPatient.kabupaten"
                  v-bind="defaultFormReadOnlyProp"
                  :provinsi="detailPatient.provinsi"
                />
                <ui-form-select-kecamatan
                  v-model="detailPatient.kecamatan"
                  v-bind="defaultFormReadOnlyProp"
                  :kabupaten="detailPatient.kabupaten"
                />

                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="detailPatient.kelurahanRt"
                      v-bind="defaultFormReadOnlyProp"
                      label="Kelurahan RT"
                    />
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-model="detailPatient.kelurahanRw"
                      v-bind="defaultFormReadOnlyProp"
                      label="Kelurahan RW"
                    />
                  </v-col>
                </v-row>
                <v-text-field
                  v-model="detailPatient.address"
                  v-bind="defaultFormReadOnlyProp"
                  label="Alamat"
                />
              </fieldset>

              <fieldset class="pa-3">
                <legend>Alamat Domisili</legend>
                <ui-form-select-provinsi
                  v-model="detailPatient.domisiliProvinsi"
                  v-bind="defaultFormReadOnlyProp"
                />
                <ui-form-select-kabupaten
                  v-model="detailPatient.domisiliKabupaten"
                  v-bind="defaultFormReadOnlyProp"
                  :provinsi="detailPatient.domisiliProvinsi"
                />
                <ui-form-select-kecamatan
                  v-model="detailPatient.domisiliKecamatan"
                  v-bind="defaultFormProp"
                  :kabupaten="detailPatient.domisiliKabupaten"
                />
                <ui-form-select-kelurahan
                  v-model="detailPatient.domisiliKelurahan"
                  v-bind="defaultFormReadOnlyProp"
                  :kecamatan="detailPatient.domisiliKecamatan"
                />
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="detailPatient.domisiliKelurahanRt"
                      v-bind="defaultFormReadOnlyProp"
                      label="Domisili Kelurahan RT"
                    />
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-model="detailPatient.domisiliKelurahanRw"
                      v-bind="defaultFormReadOnlyProp"
                      label="Domisili Kelurahan RW"
                    />
                  </v-col>
                </v-row>
                <v-text-field
                  v-model="detailPatient.addressDomisili"
                  v-bind="defaultFormReadOnlyProp"
                  label="Alamat Domisili"
                />
              </fieldset>

              <div class="mb-3">Sampling Point : {{ refSelected.name }}</div>

              <form-select-product
                typeProduct="test-covid"
                v-model="idProduct"
                v-bind="defaultFormReadOnlyProp"
              />

              <form-select-shift
                v-model="idShiftSchedule"
                v-bind="defaultFormReadOnlyProp"
              />
            </v-form>
          </v-col>
          <v-col md="6" cols="12">
            <!-- Section Kode Booking -->
            <div v-if="detailSwab.orderSwab">
              <div class="w-100">
                <v-row>
                  <v-col>
                    <div class="text-h5">Kode Booking</div>
                  </v-col>
                  <v-col class="text-right">
                    <v-btn class="ml-3" x-small @click="editBooking()">
                      Edit
                    </v-btn>
                  </v-col>
                </v-row>
              </div>
              <v-divider class="my-3" />
              <div>
                Kode booking Pesawat/lainnya :
                <span
                  title="Kode Booking"
                  :class="
                    detailSwab.codeBooking
                      ? 'font-weight-bold text-h6'
                      : 'font-italic'
                  "
                >
                  {{
                    detailSwab.codeBooking
                      ? detailSwab.codeBooking
                      : 'Tidak ada, klik edit untuk menambahkan'
                  }}
                </span>
              </div>
            </div>
            <!-- End Section Kode Booking -->

            <!-- Section Status Pembayarn -->
            <div v-if="detailSwab.orderSwab">
              <div class="d-flex align-center w-100 mt-6">
                <div class="text-h5">Status Pembayaran</div>
                <v-spacer />
                <div
                  v-if="detailSwab.orderSwab && detailSwab.orderSwab.orderTrx"
                  title="Id Pembayaran"
                >
                  <nuxt-link
                    :to="'/transaction/' + detailSwab.orderSwab.orderTrx.id"
                  >
                    Invoice Id :
                    {{
                      detailSwab.orderSwab.orderTrx
                        ? detailSwab.orderSwab.orderTrx.trxId
                        : '-'
                    }}
                  </nuxt-link>
                </div>
              </div>
              <v-divider class="my-3" />
              <div
                v-if="detailSwab.orderSwab.product"
                class="mb-3 d-flex justify-space-between"
              >
                <div>
                  Nama Produk :
                  <span class="font-weight-bold">
                    {{ detailSwab.orderSwab.product.name }}
                  </span>
                </div>
                <v-chip color="primary" small>
                  {{ detailSwab.orderSwab.product.product.description }}
                </v-chip>
              </div>
              <v-row v-if="detailSwab.orderSwab">
                <v-col class="text-h6">
                  Rp. {{ detailSwab.orderSwab.price }}
                </v-col>
                <v-col>
                  <strong>
                    {{ detailSwab.orderSwab.method }}
                  </strong>
                </v-col>
                <v-col v-if="detailSwab.orderSwab.methodCash">
                  <strong>
                    {{ detailSwab.orderSwab.methodCash.name }}
                  </strong>
                  <div>
                    {{ detailSwab.orderSwab.methodCash.description }}
                  </div>
                </v-col>
                <v-col class="d-flex align-center">
                  <common-chip-payment
                    small
                    label
                    :status="detailSwab.orderSwab.status"
                  />

                  <v-btn class="ml-3" x-small @click="editPayment()">
                    Edit
                  </v-btn>
                </v-col>
              </v-row>
              <div v-else>
                <v-alert type="warning">Tidak ada order pembayaran</v-alert>
              </div>
              <v-alert
                v-if="!['paid', 'paymentReceived'].includes(detailOrder.status)"
                class="mt-3"
                dense
                outlined
                type="info"
                >Pastikan status pembayaran pasien</v-alert
              >
            </div>
            <!-- End Section Status Pembayaran -->

            <!-- Section Status Pasien -->
            <div
              v-if="['paid', 'paymentReceived'].includes(detailOrder.status)"
            >
              <div class="text-h5 mt-6">Status Pasien</div>
              <v-divider class="my-3" />
              <div class="d-flex">
                <div>
                  Status :
                  <common-chip-status label small :status="detailSwab.status" />
                </div>
                <v-spacer />
                <div v-if="detailSwab.resultSwab">
                  <common-chip-result v-model="detailSwab.resultSwab" />
                </div>
                <div v-if="detailSwab.status == StatusSwabEnum.registered">
                  <v-btn
                    :loading="checkinPatientLoading"
                    @click="checkinPasient"
                  >
                    Checkin Pasien
                  </v-btn>
                </div>
              </div>
              <!-- End Section Status Pasien -->
            </div>

            <div v-if="detailSwab.status !== 'registered'">
              <!-- Section Data Swab -->
              <div class="text-h5 mt-6">Data Test Swab Covid 19</div>
              <v-divider class="my-3" />
              <div class="d-flex flex-column">
                <div class="d-flex justify-space-between align-center flex-row">
                  <div>
                    Id Sample :
                    <span v-if="detailSwab.sampleId" class="text-h5">
                      <strong>{{ detailSwab.sampleId }}</strong>
                    </span>
                    <i v-else>Di generate dengan klik tombol "Swab Sekarang"</i>
                  </div>
                  <v-btn
                    v-if="detailSwab.sampleId"
                    outlined
                    color="primary"
                    @click="onPrintSample"
                    >Cetak Sample</v-btn
                  >
                </div>
                <v-alert dense outlined type="warning" class="mt-4 mb-0">
                  Mohon tulis id sample, nama dan tanggal lahir sebagai evident
                  sample.
                </v-alert>
                <v-spacer />
                <v-btn
                  v-if="detailSwab.status == StatusSwabEnum.checkin"
                  :loading="isLoadingSwabNow"
                  @click="setSwabDateNow()"
                >
                  Swab Sekarang
                </v-btn>
              </div>
              <!-- End Section Data Swab -->
            </div>
            <div
              v-if="
                [
                  'doneSwab',
                  'onLab',
                  'progressLab',
                  'resultOutLab',
                  'resultOutRef',
                ].includes(detailSwab.status)
              "
            >
              <div v-if="isPcr">
                <!-- Section Swab Lab -->
                <div class="text-h5 mt-6">Swab Lab</div>
                <v-divider class="my-3" />
                <form-select-lab
                  v-model="formLab.labSelected"
                  v-bind="defaultFormProp"
                  :disabled="!!detailSwab.labTarget"
                />
                <div v-if="detailSwab.labTarget">
                  Sample telah terkirim ke Lab pada tanggal
                  <strong>
                    {{ new Date(detailSwab.sendToLabDate).toLocaleString() }}
                  </strong>
                </div>
                <v-btn
                  v-if="!detailSwab.labTarget"
                  color="primary"
                  :loading="isLoadingLab"
                  @click="sendToLab()"
                  >Kirim ke LAB</v-btn
                >
                <!-- End Section Swab Lab -->
              </div>

              <div v-else-if="isAntigen" class="mt-6">
                <div class="text-h5 mt-6">Atur Hasil Swab Antigen</div>
                <v-divider class="my-3" />
                <div class="my-3">
                  <common-chip-result
                    v-if="modelAntigen.isReadOnly"
                    v-model="detailSwab.resultSwab"
                  />
                </div>
                <v-select
                  v-if="!modelAntigen.isReadOnly"
                  v-model="modelAntigen.selected"
                  v-bind="defaultFormProp"
                  label="Status Pasien"
                  :error="isSelectAntigen"
                  :items="listStatus"
                  item-value="value"
                  item-text="title"
                />

                <v-row align="center" justify="center">
                  <v-col>
                    <v-btn
                      v-if="!detailSwab.resultSwab || !modelAntigen.isReadOnly"
                      color="primary"
                      :loading="isLoadingLab"
                      @click="sendResultAntigen()"
                      >Simpan Hasil</v-btn
                    >
                  </v-col>
                  <v-col class="text-right">
                    <v-btn
                      v-if="detailSwab.resultSwab"
                      :color="modelAntigen.isReadOnly ? 'warning' : '#E53935'"
                      dark
                      @click="
                        modelAntigen.isReadOnly = !modelAntigen.isReadOnly
                      "
                      >{{
                        modelAntigen.isReadOnly ? 'Edit Hasil' : 'Batal'
                      }}</v-btn
                    >
                  </v-col>
                </v-row>
              </div>
              <div
                v-if="
                  ['resultOutLab', 'resultOutRef'].includes(detailSwab.status)
                "
              >
                <div class="text-h5 mt-6">Download Sertifikat</div>
                <v-divider class="my-3" />
                <v-btn
                  color="green"
                  class="white--text"
                  :loading="downloadSertifikatLoading"
                  @click="downloadSertifikat"
                >
                  <v-icon size="14" class="mr-3"> mdi-download </v-icon>
                  Download Sertifikat
                </v-btn>
              </div>
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col md="12" cols="12">
            <div class="d-flex align-center">
              <div class="text-h5">Log Aktifitas</div>
              <v-spacer />
            </div>
            <v-divider class="mt-3 mb-5" />
            <page-swab-list-log-activity :sample-id="detailSwab.id" />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-dialog v-model="isEditBookingCode" max-width="600px">
      <v-card>
        <v-card-title> Edit Booking </v-card-title>
        <v-card-text>
          <div class="mb-3">Kode Booking: {{ detailSwab.codeBooking }}</div>
          <v-text-field
            v-model="codeBooking"
            outlined
            dense
            label="Booking ID"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn small color="red" outlined @click="isEditBookingCode = false">
            Tutup
          </v-btn>
          <v-btn
            small
            color="primary"
            :loading="isLoadingBookingForm"
            @click="updateBooking"
          >
            Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="isEditStatusPayment" max-width="600px">
      <v-card>
        <v-card-title> Edit Pembayaran </v-card-title>
        <v-card-text>
          <div class="mb-3">Id Pembayaran: {{ orderForm.id }}</div>
          <v-text-field
            v-model="orderForm.price"
            outlined
            dense
            label="Harga"
            disabled
          />
          <form-select-method-payment
            v-model="orderForm.method"
            outlined
            dense
          />
          <ui-form-select-status-order
            v-model="orderForm.status"
            outlined
            dense
          />
          <form-select-method-cash
            v-if="orderForm.method === 'Cash' && orderForm.status === 'paid'"
            v-model="orderForm.methodCash"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            small
            color="red"
            outlined
            @click="isEditStatusPayment = false"
          >
            Tutup
          </v-btn>
          <v-btn
            small
            color="primary"
            :loading="isLoadingOrderForm"
            @click="updatePayment"
          >
            Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  PatientSwabDetailDTO,
  ReferenceApi,
  ReferencePatientSwabApi,
  ReferenceTransactionApi,
  StatusSwabEnum,
} from '@inatti/shared/api-nuxt'
import { UiFormSelectStatusOrder } from '@inatti/shared/ui'

@Component({ components: { UiFormSelectStatusOrder } })
export default class DetailPatient extends Vue {
  typeNik = [
    { id: 'nik', name: 'Nik KTP' },
    { id: 'passport', name: 'Nomor Passport' },
  ]

  listStatus = [
    {
      id: 1,
      title: 'Positif',
      value: 'positif',
    },
    {
      id: 2,
      title: 'Negatif',
      value: 'negatif',
    },
    {
      id: 3,
      title: 'Presumtif Positif',
      value: 'presumtifPositif',
    },
    {
      id: 1,
      title: 'Presumtif Negatif',
      value: 'presumtifNegatif',
    },
  ]

  defaultFormProp = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
  }

  defaultFormReadOnlyProp = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
    readonly: true,
  }

  modelAntigen = {
    selected: null,
    isReadOnly: false,
  }

  idProduct = 0
  idShiftSchedule = 0
  codeBooking: any = null
  isSelectAntigen = false
  refSelected = {}
  resultSwabAntigen = null
  valid = true
  isLoading = false
  StatusSwabEnum = StatusSwabEnum
  idSwab = this.$route.params.idswab
  checkinPatientLoading = false
  detailPatient = {} as PatientSwabDetailDTO.Patient
  detailSwab = {} as PatientSwabDetailDTO.SwabDetail
  detailOrder = {}

  referenceApi = new ReferenceApi(this.$axios)
  referenceTransactionApi = new ReferenceTransactionApi(this.$axios)
  referencePatientSwabApi = new ReferencePatientSwabApi(this.$axios)

  get isPcr() {
    return this.idProduct === 1
  }

  get isAntigen() {
    return this.idProduct === 2
  }

  async fetchData() {
    this.isLoading = true
    let params = this.$route.params

    this.detailSwab = await this.referencePatientSwabApi.getOne(params.idswab)

    this.idShiftSchedule = this.detailSwab.refShiftSchedule?.id ?? 0
    this.modelAntigen.selected = this.detailSwab.resultSwab as any
    this.codeBooking = this.detailSwab.codeBooking

    if (this.detailSwab.resultSwab) {
      this.modelAntigen.isReadOnly = true
    }
    if (this.detailSwab.productSwab?.id) {
      this.idProduct = this.detailSwab.productSwab?.id
    }

    // setup lab id
    this.formLab.labSelected = this.detailSwab.labTarget
      ? this.detailSwab.labTarget.id
      : null
    this.detailPatient = this.detailSwab.patient
    this.detailOrder = { ...this.detailSwab.orderSwab }
    this.isLoading = false
  }

  created() {
    this.fetchData()
    this.getRef()
  }

  $printPdf: any

  onPrintSample() {
    this.$printPdf.printSample([
      {
        idSample: this.detailSwab.sampleId,
        dateTest: this.detailSwab.requestSwabDate ?? this.detailSwab.createdAt,
        patientName: this.detailPatient.name,
        birthDate: this.detailPatient.datebirth,
        gender: this.detailPatient.gender,
        referenceName: this.detailSwab.refTarget?.name,
      },
    ])
  }

  recallAsyncData() {
    this.fetchData()
  }

  async getRef() {
    let refId = this.$store.state.refStore.refId
    let refSelected = await this.referenceApi.getRegisteredRefOne(refId)
    this.refSelected = {
      name: refSelected.refId.name,
    }
  }

  isLoadingSwabNow = false
  async setSwabDateNow() {
    try {
      this.isLoadingSwabNow = true
      await this.referencePatientSwabApi.swabNow(this.idSwab)
      this.recallAsyncData()
    } catch (error) {
      alert(error)
    }
    this.isLoadingSwabNow = false
  }

  async checkinPasient() {
    // checkin pasien
    this.checkinPatientLoading = true
    try {
      await this.referencePatientSwabApi.checkingOne(this.idSwab)
      this.recallAsyncData()
    } catch (err) {
      alert(err)
    }
    this.checkinPatientLoading = false
  }

  // Booking section
  isEditBookingCode: boolean = false
  bookingForm: any = {}
  isLoadingBookingForm = false

  // Payment section
  isEditStatusPayment: boolean = false
  orderForm: PatientSwabDetailDTO.OrderSwab | any = {}
  isLoadingOrderForm = false

  editBooking() {
    this.isEditBookingCode = true
  }

  editPayment() {
    this.isEditStatusPayment = true
    this.orderForm = { ...this.detailSwab.orderSwab }
  }

  async updateBooking() {
    this.isLoadingBookingForm = true
    try {
      await this.referencePatientSwabApi.updateCodeBooking(
        this.detailSwab.id,
        this.codeBooking
      )
      this.isEditBookingCode = false
      this.recallAsyncData()
    } catch (err: any) {
      const errorMessage =
        err?.response?.data?.message ?? 'Gagal menyimpan code booking'
      alert(errorMessage)
    }
    this.isLoadingBookingForm = false
  }

  async updatePayment() {
    this.isLoadingOrderForm = true
    try {
      await this.referencePatientSwabApi.updateByOrderId(
        this.orderForm.id,
        this.orderForm
      )
      this.isEditStatusPayment = false
      this.recallAsyncData()
    } catch (err: any) {
      alert(err.response.data.message)
    }
    this.isLoadingOrderForm = false
  }

  // lab section
  formLab = {
    labSelected: null,
  } as any

  isLoadingLab = false

  async sendResultAntigen() {
    this.isLoadingLab = true
    try {
      await this.referencePatientSwabApi.updateSwabResult(
        this.idSwab,
        this.modelAntigen.selected
      )
      this.isLoadingLab = false
      this.recallAsyncData()
    } catch (error) {
      alert(error)
      this.isLoadingLab = false
    }
  }
  async sendToLab() {
    this.isLoadingLab = true
    if (this.formLab.labSelected) {
      let idPatient = this.$route.params.idswab
      try {
        await this.referencePatientSwabApi.sendToLab(idPatient, {
          labId: this.formLab.labSelected,
        })
        this.recallAsyncData()
      } catch (err) {
        alert(err)
      }
    }
    this.isLoadingLab = false
  }

  /**
   * Section Download sertificate
   */
  downloadSertifikatLoading = false

  async downloadSertifikat() {
    const { idswab } = this.$route.params
    const refId = this.$store.state.refStore.refId
    const typeTest = this.isPcr ? 'pcr' : 'antigen'

    this.downloadSertifikatLoading = true
    try {
      const download = await this.referenceTransactionApi.downloadCertificate({
        idref: refId,
        idswab,
        type: typeTest,
      })
      const url = window.URL.createObjectURL(new Blob([download]))
      const link = document.createElement('a')
      link.href = url
      link.setAttribute(
        'download',
        `${this.detailSwab.patient.name}_${this.detailSwab.patient.id}.pdf`
      )
      document.body.appendChild(link)
      link.click()
      link.remove()
      this.downloadSertifikatLoading = false
    } catch (error) {
      this.downloadSertifikatLoading = false
    }
  }
}
</script>
<style></style>
