<template>
  <v-container style="position: relative">
    <v-row justify="center">
      <v-col md="6" cols="12" style="position: relative">
        <div class="page-background rounded-xl"></div>
        <div
          class="text-h6 font-weight-regular text-center white--text my-3"
          style="position: relative"
        >
          Tes
        </div>
        <v-card class="mx-3 px-4 py-6 rounded-lg" outlined>
          <page-testcovid-form-start ref="form" :type-editable="isTypeEditable">
            <v-row>
              <v-col cols="12">
                <v-btn
                  depressed
                  data-cy="btn-submit-form-testcovid-register"
                  block
                  color="warning"
                  class="text-capitalize font-weight-regular"
                  @click="validateForm"
                >
                  {{ textButton }}
                </v-btn>
              </v-col>
              <v-col cols="12">
                <div class="text-center caption px-4 mb-6">
                  *Dengan login ke aplikasi, berarti Anda telah menyetujui
                  <a
                    href="https://www.inatti.id/inatti-user/kebijakanInaTTI.html"
                  >
                    Kebijakan dan Privasi
                  </a>
                  penggunaan InaTTI.
                </div>
              </v-col>
            </v-row>
          </page-testcovid-form-start>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: 'mobile',
  middleware: 'auth',
  auth: 'guest',
  data() {
    return {
      textButton: 'Cari Klinik',
      from: null,
      isTypeEditable: true,
      refTarget: null,
    }
  },
  created() {
    // reset state everytime go this page
    this.$store.commit('testcovid/resetState')
  },
  mounted() {
    const from = this.$route.query.from
    const productType = this.$route.query.product_type
    const refId = this.$route.query.ref

    if (from === 'quick-form') {
      this.textButton = 'Daftar Test Sekarang'
      this.from = from
      this.refTarget = refId
    }

    if (productType) {
      // Default is PCR
      let productTypeObj = {
        id: 1,
        name: 'PCR',
      }
      if (+productType === 2) {
        productTypeObj = {
          id: 2,
          name: 'Antigen',
        }
      }
      this.$store.commit('testcovid/setTypeTest', productTypeObj)
      this.isTypeEditable = false
    }
  },
  methods: {
    validateForm() {
      if (!this.$refs.form.validate()) return false

      if (this.from === 'quick-form') {
        return this.$router.push(`/testcovid/faskes/${this.refTarget}/product`)
      }
      this.$router.push('/testcovid/faskes')
    },
  },
}
</script>

<style>
.page-background {
  position: absolute;
  width: 100%;
  height: 40vh;
  background-color: #29b6f6;
  top: -67px;
  left: 0;
}
</style>
