<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title>
        Pendaftaran
        <div>
          <common-stepper />
        </div>
      </mobile-appbar-title>
    </template>

    <v-row class="mt-2 mb-0">
      <v-col cols="12">
        <page-testcovid-regis-content head-text="Layanan">
          <table class="my-2 mx-6">
            <tbody class="body-2">
              <tr class="caption">
                <td>PCR Test</td>
              </tr>
              <tr>
                <td>Klinik Kesehatan UNPAD</td>
              </tr>
              <tr class="font-weight-medium">
                <td>Same Day</td>
              </tr>
            </tbody>
          </table>
        </page-testcovid-regis-content>
      </v-col>
      <v-col cols="12">
        <page-testcovid-regis-content head-text="Harga">
          <div class="text-center px-6 py-4">
            <p class="body-2 font-weight-medium mb-0">Total</p>
            <p class="h6 font-weight-regular mb-0">
              {{ $utils.toIdr(productStore.price * patientsStore.length) }}
            </p>
            <v-divider />
          </div>
        </page-testcovid-regis-content>
      </v-col>
      <v-col cols="12">
        <page-testcovid-regis-content
          head-text="Data Pemesan (Untuk invoice / id order)"
        >
          <page-testcovid-list-regis-content
            icon="mdi-email-outline"
            text="Nama Pemesan"
          />
        </page-testcovid-regis-content>
      </v-col>
      <v-col cols="12" class="pa-6">
        <v-btn
          block
          color="warning"
          class="text-capitalize subtitle-1 font-weight-regular"
          to="/testcovid/payment"
        >
          Pilih metode bayar
        </v-btn>
      </v-col>
    </v-row>
  </mobile-layout>
</template>

<script>
export default {
  layout: 'blank',
  computed: {
    faskesStore() {
      return this.$store.state.testcovid.faskes.faskes ?? {}
    },
    productStore() {
      return this.$store.state.testcovid.faskes.product ?? {}
    },
    patientsStore() {
      return this.$store.state.testcovid.patients ?? []
    },
    registererStore() {
      return this.$store.state.testcovid.registerer ?? {}
    }
  }
}
</script>
