<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Anggota Keluarga </mobile-appbar-title>
    </template>

    <div class="mt-16">
      <page-testcovid-regis-content head-text="Anggota">
        <v-sheet
          v-for="(relation, index) in relationList"
          :key="index"
          class="cursor-pointer py-3 px-6"
          outlined
          @click="routeToPatientPage(relation.id)"
        >
          <table width="100%">
            <tbody class="subtitle-2">
              <tr>
                <td colspan="2" justify="center">
                  <v-icon> mdi-account-outline </v-icon>
                  {{ relation.name }}
                </td>
              </tr>
              <tr>
                <td colspan="2" class="caption font-weight-bold">
                  {{
                    $dateFns.format(relation.createdAt, 'EEEE, dd MMMM yyyy')
                  }}
                </td>
              </tr>
              <tr>
                <td>NIK / Paspor</td>
                <td class="text-right">{{ relation.nik }}</td>
              </tr>
              <tr>
                <td>Hasil Test</td>
                <td v-if="relation.detailSwab[0]" class="text-right">
                  <common-chip-status-swab
                    :swab-date="relation.detailSwab[0].swabDate"
                    :change-color-after-three-days="true"
                    :x-small="true"
                    :status="relation.detailSwab[0].resultSwab"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </v-sheet>
      </page-testcovid-regis-content>
    </div>
  </mobile-layout>
</template>

<script>
import { UserApi } from '@inatti/shared/api-nuxt'
export default {
  layout: 'blank',
  data: () => ({
    relationList: [],
    negativeAfterThreeDays: false,
    userApi: null,
  }),
  mounted() {
    this.userApi = new UserApi(this.$axios)
    this.getRelationList()
  },
  methods: {
    async getRelationList() {
      try {
        this.relationList = await this.userApi.getUserRelation()
      } catch (err) {}
    },
    changeColorNegativeStatusAfterThreeDays(givenDate) {
      if (!givenDate) return null
      const today = new Date()
      const swabDate = new Date(givenDate)
      const dayDifferent = Math.floor(
        Math.abs(today - swabDate) / (1000 * 60 * 60 * 24)
      )
      if (dayDifferent > 3) {
        this.negativeAfterThreeDays = true
      }
    },
    routeToPatientPage(patientId) {
      const show = this.$route.query.show
      if (show === 'pmr')
        return this.$router.push(`/testcovid/patient/${patientId}?tab=1`)
      this.$router.push(`/testcovid/patient/${patientId}`)
    },
  },
}
</script>

<style>
.cursor-pointer:hover {
  cursor: pointer;
  text-decoration: none;
  color: #424242 !important;
}
</style>
