<template>
  <canvas ref="chartCanvas" :style="`max-height:${height}px`"></canvas>
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { ResultLc96 } from '@inatti/mapping-analyze-result'
import { ChartMixins } from '../../../chart/chartMixins'

@Component({})
export default class ResultAnalayzeLc96ChartAllComponent extends mixins(ChartMixins) {
  @Prop([Object])
  readonly value!: ResultLc96

  @Prop([String])
  readonly searchPosition!: String

  @Prop([String])
  readonly searchDye!: String

  @Prop({ default: 300, type: [Number, String] })
  height!: number

  mounted() {
    this.mapDataToChart()
  }

  chartdata: any = null
  options: any = {
    // performance reason
    parsing: true,
    normalized: true,
    animation: false,
    showLine: true,

    maintainAspectRatio: false,
    interaction: {
      mode: 'index',
      intersect: false,
    },
  }

  // http://stackoverflow.com/questions/1484506/ddg#1484514
  getRandomColor() {
    let color = []
    for (let i = 0; i < 3; i++) {
      color.push(Math.floor(Math.random() * 255))
    }
    return color.join(',')
  }

  colorsPosition = {} as { [position: string]: string }
  getColorPosition(position: string, dye: string) {
    const index: string = position + dye
    if (!this.colorsPosition[index]) {
      if (!this.value.rawData[position]) {
        this.colorsPosition[index] = this.getRandomColor()
      } else {
        let rawDataDye = this.value.rawData[position].dye[dye]
        if (rawDataDye) {
          // looks like the color format is CMYK.
          let color = rawDataDye.ColorTrue.split(';')
          let colorBar = color.slice(1).join(',')
          this.colorsPosition[index] = colorBar
        } else {
          this.colorsPosition[index] = this.getRandomColor()
        }
      }
    }
    return this.colorsPosition[index]
  }

  $refs!: { chartCanvas: HTMLCanvasElement }

  @Watch('value')
  mapDataToChart() {
    if (!this.value || !Object.keys(this.value).length) {
      console.error('ResultAnalayzeLc96ChartAllComponent: No value inserted')
      return false
    }

    // get labels from first data
    let labels = this.getLabels()
    if (!labels) {
      // failed to mapping, remove data
      this.$emit('input', null)
      return false
    }
    let datasets = []
    for (const position of Object.keys(this.value.stepData)) {
      if (this.searchPosition) {
        if (position !== this.searchPosition) {
          continue
        }
      }
      let resultByPosition = this.value.stepData[position]

      // get valueTime based dyes
      for (const dye of Object.keys(resultByPosition)) {
        let templateDataset = {
          label: position,
          data: [] as any[],
          fill: false,
          borderColor: 'rgba()',
          tension: 0.1,
        }
        if (this.searchDye) {
          if (this.searchDye !== dye) {
            continue
          }
        }
        // setup property
        let colorBar = this.getColorPosition(position, dye)

        let valueTime = Object.values(resultByPosition[dye] ?? {})
        // valueTime = this.fillBlankValue(valueTime)
        let dataset = { ...templateDataset }
        dataset.label = position + ' ' + dye
        dataset.data = valueTime
        dataset.borderColor = `rgba(${colorBar})`

        // save to datasets
        datasets.push(dataset)
      }
    }

    this.chartdata = {
      labels,
      datasets,
    }

    // @ts-ignore
    this.renderChart('line', this.chartdata, this.options)
  }

  getLabels() {
    try {
      // get label based property valueTime key
      let positionFirst = Object.keys(this.value?.stepData)[0]
      let dyeFirst = Object.keys(this.value?.stepData[positionFirst] ?? {})[0]
      return Object.keys(this.value?.stepData[positionFirst][dyeFirst] ?? {})
    } catch (err) {
      return null
    }
  }

  // to fill empty value in valueTime
  fillBlankValue(valueTime: any) {
    // fill from 'prev' value
    return valueTime.map(
      (v: any, index: number) => v || (valueTime[index - 1] ?? 0)
    )
  }
}
</script>

<style></style>
