<template>
  <v-col md="4" cols="12">
    <v-form v-model="isValid" lazy-validation>
      <v-file-input
        v-model="form.fileResultRaw"
        label="File Hasil Raw Data"
        :rules="required"
      />
      <v-file-input
        v-model="form.fileResultFluorescene"
        label="File Hasil Fluorescene Row"
        :rules="required"
      />
      <v-progress-linear
        v-if="isLoading"
        class="my-3"
        :value="progressUpload"
      ></v-progress-linear>
      <v-btn color="primary" class="mt-3" :loading="isLoading" @click="save">
        Simpan
      </v-btn>
    </v-form>
  </v-col>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class FormAnalyzeLc96Component extends Vue {
  created() {
    this.form.idLab = this.$store.state.labStore.labId
    this.form.idSession = this.$route.params.id
  }

  refreshPage() {
    this.$emit('refreshpage')
  }

  form = {
    idLab: '',
    idSession: '',
    fileResultRaw: null,
    fileResultFluorescene: null,
  }

  required = [(v: any) => !!v || 'Form ini harus diisi']
  isValid = false
  isLoading = false
  progressUpload = 0

  get getFormData() {
    const formData = new FormData()
    for (const key of Object.keys(this.form)) {
      // @ts-ignore
      formData.append(key, this.form[key])
    }
    return formData
  }

  async save() {
    try {
      this.isLoading = true
      await this.$axios.$post(
        '/api-lab/result-tool/result/lc69',
        this.getFormData,
        {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
          onUploadProgress: (progressEvent: ProgressEvent) => {
            this.progressUpload =
              (progressEvent.total / progressEvent.loaded) * 100
          },
        }
      )
      this.refreshPage()
    } catch (error) {
      console.log(error)
      alert(error)
    }
    this.isLoading = false
  }
}
</script>

<style>
</style>