<template>
  <div>
    <div class="text-h5">Hasil lc96</div>
    <v-data-table
      :headers="tableHeader"
      :items="tableItem"
      :expanded.sync="tableExpanded"
      item-key="no"
      dense
      show-expand
      single-expand
    >
      <template #item.action="{ item }">
        <v-btn color="primary" x-small @click="showChart(item.resultPosition)">
          Lihat Grafik <v-icon>mdi-chart-areaspline</v-icon>
        </v-btn>
      </template>
      <template #item.suggestedResult="{ item }">
        <common-result-chip
          v-if="
            item.resultData && item.resultData.dye && item.resultData.dye.FAM
          "
          v-model="item.resultData.dye.FAM.Call"
        />
      </template>
      <template #item.resultTool="{ item }">
        <common-result-chip
          v-if="item.resultTool && item.resultTool.resultSummary"
          v-model="item.resultTool.resultSummary"
        />
      </template>
      <template #item.actionDetail="{ item }">
        <v-icon
          v-if="item.mapValueSample"
          color="#000000"
          class="row-pointer"
          @click="showDetail(item.mapValueSample)"
          >mdi-account-details-outline</v-icon
        >
      </template>
      <template #expanded-item="{ headers, item }">
        <td v-if="item.infoTable" :colspan="headers.length">
          <div>
            <v-data-table
              dense
              :headers="item.infoTable.infoHeaders"
              :items="item.infoTable.infoItems"
            />
          </div>
        </td>
      </template>
    </v-data-table>
    <v-btn color="primary" @click="showChart(null)"> Reset Grafik </v-btn>
    <tool-analyze-lc96-chart-all
      :key="chartKeyComponent"
      v-model="value.result"
      :search-position="filterChart.position"
      :search-dye="filterChart.dye"
      style="height: 800px"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { ResultLc96 } from '@inatti/mapping-analyze-result'
import { ReadExtractionDTO, PatientSwabDetailDTO } from '@inatti/shared/api-nuxt'
import { NumberToA1 } from '../../../../helper/table'

/**
 * Sorry for my bad code, I'm a beginner
 */
@Component
export default class ResultAnalyzeLc96Component extends Vue {
  created() {}
  @Prop([Object])
  readonly value!: ReadExtractionDTO.Session

  chartKeyComponent = 0
  filterChart = {} as any
  tableExpanded = []
  tableItem = [] as any[]

  data = {
    dye: {
      FAM: {
        Call: 'Negative',
      },
    },
  }

  tableHeader = [
    { text: '', value: 'data-table-expand' },
    {
      text: 'Nomor',
      value: 'no',
    },
    {
      text: 'Map Position',
      value: 'mapData.position',
    },
    {
      text: 'Map Nama Sample',
      value: 'mapData.name',
    },
    {
      text: 'Map Tanggal Lahir',
      value: 'mapData.dateBirth',
    },
    {
      text: 'Result Position',
      value: 'resultPosition',
    },
    {
      text: 'Result Nama Sample',
      value: 'resultData.sampleName',
    },
    {
      text: 'Suggested Result',
      value: 'suggestedResult',
    },
    {
      text: 'Final Result',
      value: 'resultTool',
    },
    {
      text: 'Sample detail',
      value: 'actionDetail',
      align: 'center',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]

  mounted() {
    this.$nextTick(() => {
      this.dataToTable()
    })
  }

  count = 1

  @Watch('value')
  dataToTable() {
    if (!this.value) {
      alert('tidak ada hasil analisa')
    }

    const mapping = this.value.mapping

    const result: ResultLc96 = this.value.result

    const rowTable = []

    const mappedPosition: string[] = []

    let noTable = 1
    // combine all data has mapped and from result
    for (const valueMapping of mapping) {
      const dataRow = {
        no: noTable,
        mapData: {} as any,
        mapValueSample: null as any,
        resultData: {} as any,
        resultPosition: '',
        mapPosition: '',
        infoTable: {} as any,
        resultTool: valueMapping.resultTool,
      }

      // dataRow.mapValue.sample.id

      // insert neccesery data to `dataRow`
      if (valueMapping.sample) {
        dataRow.mapValueSample = { ...valueMapping.sample }
      }

      const positionMapData = NumberToA1({
        row: valueMapping.locateRow,
        col: valueMapping.locateColumn,
      })
      dataRow.mapData = {
        position: positionMapData,
        name: valueMapping?.sample?.patient?.name ?? '',
        dateBirth: valueMapping?.sample?.patient?.datebirth ?? '',
      }

      // if data control
      if (!valueMapping.sample) {
        dataRow.mapData.name = `${valueMapping.controlName} (${valueMapping.controlType})`
      }

      dataRow.mapPosition = NumberToA1({
        row: valueMapping.locateRow,
        col: valueMapping.locateColumn,
      })

      // loop to positionResult to see if result available
      for (const positionResult of Object.keys(result.rawData)) {
        if (positionResult === dataRow.mapPosition) {
          const dataResult: any = result.rawData[positionResult]
          dataRow.resultPosition = positionResult
          dataRow.resultData = dataResult

          // create sub data detail as `infoTable`
          if (dataRow.resultData) {
            const rawDatas: any = Object.values(dataResult.dye)
            // delete unused data
            const unusedCol = ['ColorTrue', 'flouresence']
            const infoHeaders = Object.keys(rawDatas[0])
              .filter((v: any) => !unusedCol.includes(v))
              .map((head: any) => ({
                text: head,
                value: head,
              }))
            // let infoItems = rawDatas.map((v: any) => Object.values(v))
            dataRow.infoTable = {
              infoHeaders,
              infoItems: rawDatas,
            }
          }

          // label as mapped
          mappedPosition.push(positionResult)
          break
        }
      }

      rowTable.push(dataRow)
      noTable++
    }
    // last, put all result that not mapped
    for (const positionResult of Object.keys(result.rawData).filter(
      (v: any) => !mappedPosition.includes(v)
    )) {
      const dataRow = {} as any
      const dataResult = result.rawData[positionResult]
      dataRow.no = noTable
      dataRow.resultPosition = positionResult
      dataRow.resultData = dataResult
      // create sub data detail as `infoTable`
      if (dataRow.resultData) {
        const rawDatas = Object.values(dataResult.dye)
        // delete unused data
        const unusedCol = ['ColorTrue', 'flouresence']
        const infoHeaders = Object.keys(rawDatas[0])
          .filter((v: any) => !unusedCol.includes(v))
          .map((head: any) => ({
            text: head,
            value: head,
          }))
        // let infoItems = rawDatas.map((v: any) => Object.values(v))
        dataRow.infoTable = {
          infoHeaders,
          infoItems: rawDatas,
        }
      }

      rowTable.push(dataRow)
      noTable++
    }

    this.tableItem = rowTable
  }

  showChart(position: string) {
    this.filterChart.position = position
    this.chartKeyComponent++
  }

  showDetail(sampleData: PatientSwabDetailDTO.SwabDetail) {
    this.$router.push(`/sample-swab/${sampleData.id}`)
  }
}
</script>

<style>
.row-pointer:hover {
  cursor: pointer;
}
</style>