<template>
  <div>
    <v-data-table
      v-if="tableItems.length"
      :headers="tableHeader"
      :items="tableItems"
      :items-per-page="3"
      :loading="isLoading"
    />
    <tool-analyze-lc96-chart-all v-if='resultFlouresence' v-model="resultFlouresence" />
  </div>
</template>

<script lang="ts">
import { ResultLc96, RawDataType } from '@inatti/mapping-analyze-result'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { LabAnalyzeResultEntity } from '@inatti/shared/api-nuxt'

type ResultLc96Summary = {
  analysis: {
    [position: string]: {
      dye: {
        [dyeColor: string]: RawDataType
      }
      sampleName: string
    }
  }
  graph: {
    [position: string]: {
      [dyeColor: string]: {
        [step: number]: string
      }
    }
  }
}

@Component
export default class ResultSummaryLC96Component extends Vue {
  @Prop([Object]) readonly value!: LabAnalyzeResultEntity
  tableHeader = [] as any[]
  tableItems = [] as any[]
  resultFlouresence = {} as any
  isLoading = false

  mounted() {
    this.mapData()
  }

  @Watch('value')
  mapData() {
    if (!this.value.sampleSession) {
      return
    }

    if (!this.mapDataTable(this.value.resultRaw)) return false

    let dataAnalysis = this.getDataAnalysis(this.value.resultRaw)
    let dataGraph = this.getDataGraph(this.value.resultRaw)

    let patientName = this.value.sampleSession.sample.patient.name
    this.resultFlouresence = {
      rawData: {
        [patientName]: dataAnalysis,
      },
      stepData: {
        [patientName]: dataGraph,
      },
    } as ResultLc96
  }

  mapDataTable(resultRaw: ResultLc96Summary): boolean {
    // if empty
    if (!resultRaw || !Object.keys(resultRaw)) {
      return false
    }
    let dataAnalysis = this.getDataAnalysis(resultRaw)

    let dyes = Object.values(dataAnalysis?.dye ?? {})
    // delete unused data
    let unusedCol = ['ColorTrue', 'flouresence']
    this.tableHeader = Object.keys(dyes[0])
      .filter((v: any) => !unusedCol.includes(v))
      .map((head: any) => ({
        text: head,
        value: head,
      }))
    this.tableItems = Object.values(dyes)
    return true
  }

  getDataAnalysis(resultRaw: ResultLc96Summary) {
    if (Object.values(resultRaw.analysis).length > 0) {
      return Object.values(resultRaw.analysis)[0]
    }
  }

  getDataGraph(resultRaw: ResultLc96Summary) {
    if (Object.values(resultRaw.graph).length > 0) {
      return Object.values(resultRaw.graph)[0]
    }
  }
}
</script>

<style>
</style>