<template>
  <a :href="urlForgetPassword" class="text-decoration-none grey--text">Lupa Password</a>
</template>

<script lang="ts">
import Component from 'vue-class-component';
import Vue from 'vue'

@Component({})
export default class UiIdentityForgetPasswordBtn extends Vue {
  get urlForgetPassword() {
    const urlIdentity = this.$config.URL_INATTI_IDENTITY || process.env.URL_INATTI_IDENTITY || 'https://identity.inatti.id'
    const url = new URL(urlIdentity)
    url.pathname = '/auth/forget-password'
    url.searchParams.set('req', window.location.origin)
    return url.toString()
  }
}
</script>