<template>
  <div>
    <common-toolbar> Payment Gateway </common-toolbar>
    <v-card :loading="isLoadingSynchProvider">
      <v-card-text>
        <v-row>
          <v-col md="6" cols="12">
            <v-alert text icon="mdi-alert-outline" type="warning">
              {{
                providerStatus === 'LIVE'
                  ? 'Sudah bisa terima bayar via transfer'
                  : 'Belum bisa terima bayar via transfer'
              }}
            </v-alert>
            <v-form v-if="!providerStatus" ref="form">
              <v-text-field
                :rules="emailFieldRule"
                dense
                v-model="email"
                outlined
                label="Email"
              >
                <template v-slot:append-outer>
                  <v-btn
                    :loading="isLoadingRegisterProvider"
                    @click="onRegisterProvider"
                    small
                    color="primary"
                  >
                    Daftar Sekarang
                  </v-btn>
                </template>
              </v-text-field>
            </v-form>
          </v-col>
        </v-row>
        <v-row v-if="providerStatus">
          <v-col cols="12" md="6">
            <div class="d-flex justify-start mb-3 flex-row align-center">
              <span class="text-subtitle-2 black--text"
                >Email : {{ email }}</span
              >
              <v-btn
                @click="onClickLoginXendit"
                class="ml-2"
                small
                color="primary"
              >
                Login dashboard xendit
              </v-btn>
            </div>

            <div class="d-flex justify-start mb-3 flex-row align-center">
              <span class="text-subtitle-2 black--text"
                >Status Registrasi :</span
              >
              <common-chip-payment-provider-status
                v-if="!isLoadingSynchProvider"
                :status="providerStatus"
              />
              <v-progress-circular
                indeterminate
                :size="20"
                class="ml-2"
                color="primary"
                v-if="isLoadingSynchProvider"
              ></v-progress-circular>
            </div>

            <v-alert
              v-if="providerStatus !== 'LIVE'"
              text
              icon="mdi-information-outline"
              type="info"
              outlined
            >
              {{ messageStatusProviderMapping.get(providerStatus) }}
            </v-alert>
            <div class="d-flex justify-start mb-3 flex-row align-center">
              <span class="text-caption font-italic">
                Merefresh Status Otomatis Dalam
              </span>
              <span class="text-caption ml-1 black--text">
                {{ $utils.secondToMinutes(timerRefreshStatus) }}</span
              >
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { ReferencePaymentV2 } from '@inatti/shared/api-nuxt'
import { black } from 'chalk'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
@Component
export default class PaymentGateway extends Vue {
  providerStatus = ''
  email = ''
  referenceApi = new ReferencePaymentV2(this.$axios)
  $refs: any
  isLoadingSynchProvider = false
  isLoadingRegisterProvider = false

  timerRefreshStatus = 0

  $utils: any

  emailFieldRule = [
    (v: any) => this.$utils.emailFormatRule(v) || 'Email Format Tidak Valid',
  ]

  validateForm() {
    return this.$refs.form.validate()
  }

  messageStatusProviderMapping = new Map([
    [
      'INVITED',
      'Anda perlu verifikasi dan membuat akun Xendit melalui undangan e-mail',
    ],
    ['REGISTERED', 'Lengkapi dokumen pendaftaran anda !'],
    ['AWAITING_DOCS', 'Menunggu validasi dokumen pendaftaran oleh Xendit'],
  ])

  synchProvider(initial: boolean = true) {
    return new Promise(async (resolve, reject) => {
      try {
        this.isLoadingSynchProvider = true
        const refId = this.$route.query.refId as string
        const resp = await this.referenceApi.syncProvider(refId)
        if (Object.keys(resp).length === 0) {
          return
        }
        this.providerStatus = resp.providerDetail.status
        this.email = resp.providerDetail.email
        if (initial) {
          this.refetchStatusPaymentProvider(0)
        }
        return
      } catch (error) {
      } finally {
        this.isLoadingSynchProvider = false
        resolve(true)
      }
    })
  }

  @Watch('timerRefreshStatus', {
    immediate: true,
  })
  async refetchStatusPaymentProvider(val: any) {
    if (!this.providerStatus) return
    if (val > 0) {
      setTimeout(() => {
        this.timerRefreshStatus--
      }, 1000)
    } else {
      await this.synchProvider(false)
      this.timerRefreshStatus = 120
    }
  }

  async onRegisterProvider() {
    if (!this.validateForm()) {
      return
    }
    try {
      this.isLoadingRegisterProvider = true
      await this.referenceApi.createAccount({
        email: this.email,
      })
      this.synchProvider(true)
    } catch (error) {
    } finally {
      this.isLoadingRegisterProvider = false
    }
  }

  onClickLoginXendit() {
    window.open('https://dashboard.xendit.co/login', '_blank')
  }

  mounted() {
    this.synchProvider(true)
  }
}
</script>
