<template>
  <v-sheet>
    <v-toolbar elevation="2" class="mb-3">
      <v-btn icon plain :ripple="false" @click="$router.back()">
        <v-icon> mdi-chevron-left </v-icon>
      </v-btn>
      <v-toolbar-title class="font-weight-regular text-h6">
        Detail Apotek
      </v-toolbar-title>
    </v-toolbar>

    <v-card class="px-4 py-3">
      <v-row>
        <v-col class="mb-3" cols="12" md="6">
          <div class="d-flex justify-center flex-column">
            <span class="font-weight-bold text-h6">{{ data.name }}</span>
            <span class="text-subtitle-1 font-weight-normal"
              >Nama Unit Bisnis : {{ data.apotekGroup.name }}</span
            >
          </div>
        </v-col>
        <v-col class="justify-end" cols="12" md="6">
          <v-row v-if="!form.isEditable" justify="end">
            <v-col>
              <v-btn block color="primary" @click="routeToManagementUser(data)">
                <v-icon left> mdi-account-group </v-icon> Manajemen Pengguna
              </v-btn>
            </v-col>
            <v-col>
              <v-btn
                :disabled="form.isEditable"
                block
                color="primary"
                outlined
                @click="form.isEditable = true"
              >
                <v-icon left> mdi-pencil </v-icon> Edit Info
              </v-btn>
            </v-col>
          </v-row>
          <div v-else class="d-flex justify-end">
            <v-btn class="mr-3" @click="cancelEditApotek()">
              <v-icon> mdi-close </v-icon>
              Batal
            </v-btn>
            <v-btn
              color="secondary"
              :loading="form.isLoading"
              @click="editDetailAPotek()"
            >
              <v-icon> mdi-content-save</v-icon>
              Simpan
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" class="pb-0">
          <v-alert type="error" :value="form.isError" dense text>
            Gagal mengubah informasi apotek.
          </v-alert>
        </v-col>
      </v-row>
      <v-text-field
        v-model="data.name"
        label="Nama Apotek"
        prepend-icon="mdi-home"
        :readonly="!form.isEditable"
        outlined
        dense
      />
      <v-row>
        <v-col cols="12" md="4" class="pb-0 pb-md-3">
          <v-select
            v-model="data.isActive"
            :items="apotekStatusses"
            item-text="text"
            item-value="value"
            label="Status Apotek"
            prepend-icon="mdi-dip-switch"
            light
            outlined
            :readonly="!form.isEditable"
            dense
          />
        </v-col>
      </v-row>
      <v-text-field
        v-model="data.description"
        label="Deskripsi"
        :readonly="!form.isEditable"
        prepend-icon="mdi-tag-text"
        dense
        outlined
      />
      <v-text-field
        v-model="data.phonenumber"
        label="Nomor Telepon"
        prepend-icon="mdi-phone"
        :readonly="!form.isEditable"
        dense
        outlined
        full-width
      />
      <v-textarea
        v-model="data.address"
        label="Alamat"
        prepend-icon="mdi-home"
        :readonly="!form.isEditable"
        dense
        outlined
        full-width
      />
    </v-card>
  </v-sheet>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { ApotekApi } from '@inatti/shared/api-nuxt'

@Component
export default class DetailApotek extends Vue {
  form = {
    isEditable: false,
    isLoading: false,
    isError: false,
  }

  data = {
    id: '',
    name: '',
    address: '',
    description: '',
    phonenumber: '',
    thumbnail: '',
    notActiveAt: '',
    deletedAt: '',
    isActive: false,
    apotekGroup: {
      id: '',
      name: '',
      address: '',
      description: '',
      phonenumber: '',
      thumbnail: '',
    },
  }

  apotekStatus = 'Aktif'
  apotekStatusses = [
    { text: 'Aktif', value: true },
    { text: 'Non Aktif', value: false },
  ]

  apotekApi!: ApotekApi
  mounted() {
    this.apotekApi = new ApotekApi(this.$axios)
    this.fetchDetailAPotek()
  }

  async fetchDetailAPotek() {
    const { id } = this.$route.params
    try {
      const response = await this.apotekApi.getOne(id)
      this.data = response
      this.data.isActive = this.data.notActiveAt === null
    } catch (error) {}
  }

  async editDetailAPotek() {
    const { id } = this.$route.params
    this.form.isLoading = true
    try {
      await this.apotekApi.update(id, {
        name: this.data.name,
        address: this.data.address,
        description: this.data.description,
        phonenumber: this.data.phonenumber,
        isActive: this.data.isActive,
      })
      this.form.isError = false
    } catch (error) {
      this.form.isError = true
    } finally {
      this.fetchDetailAPotek()
      this.form.isLoading = false
      this.form.isEditable = false
    }
  }

  cancelEditApotek() {
    this.form.isEditable = false
    this.fetchDetailAPotek()
  }

  routeToManagementUser(item: any) {
    const selectedApotek = { id: item.id, name: item.name }
    this.$store.commit('apotekStore/setApotekSelected', selectedApotek)
    this.$router.push(`/management/user/${item.id}`)
  }
}
</script>
