<template>
  <v-sheet>
    <v-toolbar elevation="1" class="mb-2">
      <v-toolbar-title>Manajemen Apotek</v-toolbar-title>

      <v-spacer />
      <v-btn color="secondary" dark @click="openDialogCreateApotek">
        <v-icon left> mdi-plus </v-icon> Tambah apotek
      </v-btn>
    </v-toolbar>
    <v-dialog
      v-model="formAddApotek.isDialogOpen"
      persistent
      scrollable
      max-width="500px"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5 mb-2"> Tambah Apotek </span>
        </v-card-title>
        <v-card-text class="pt-2">
          <v-form v-if="formAddApotek.isDialogOpen" ref="formAddApotek">
            <v-alert type="error" :value="formAddApotek.isError" text>
              Gagal menambahkan apotek.
            </v-alert>
            <v-text-field
              v-model="formAddApotek.name"
              label="Nama Apotek"
              :rules="[rules.required]"
              outlined
              dense
            ></v-text-field>
            <v-text-field
              v-model="formAddApotek.address"
              label="Alamat"
              outlined
              dense
            ></v-text-field>
            <v-text-field
              v-model="formAddApotek.description"
              label="Deskripsi"
              outlined
              dense
            ></v-text-field>
            <v-select
              v-model="formAddApotek.apotekGroup"
              label="Unit Bisnis"
              outlined
              dense
              item-text="apotekGroup.name"
              item-value="apotekGroup.id"
              :items="listApotekGroup"
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn depressed @click="cancelAddApotek()">
            <v-icon left> mdi-close </v-icon>
            Batal
          </v-btn>
          <v-btn
            color="secondary"
            depressed
            :loading="formAddApotek.isLoading"
            @click="addApotek()"
          >
            <v-icon left> mdi-content-save </v-icon>
            Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <ui-table-pagination
      ref="tablePagination"
      v-model="table.pagination"
      @change="fetchApotekByGroup"
    >
      <v-row dense>
        <v-col cols="12" md="6">
          <ui-form-select-apotek-grup
            v-model="apotekGroupSelected"
            @input="(e) => fetchApotekByGroup(this.lastParams)"
            default-all-selected
          />
        </v-col>
      </v-row>
      <v-data-table
        :headers="table.headers"
        :items="table.data"
        :items-per-page="5"
        class="elevation-1"
        disable-sort
        disable-pagination
        hide-default-footer
      >
        <template #[`item.no`]="{ index }">
          {{ index + 1 + tableIndexNumber() }}
        </template>
        <template #[`item.deletedAt`]="{ item }">
          <span :class="item.deletedAt.length > 1 ? 'red--text' : ''">
            {{ item.deletedAt }}
          </span>
        </template>
        <template #[`item.actions`]="{ item }">
          <v-tooltip bottom>
            <template #activator="{ on, attrs }">
              <v-btn
                icon
                small
                v-bind="attrs"
                v-on="on"
                @click="$router.push(`/management/apotek/${item.id}`)"
              >
                <v-icon small> mdi-eye </v-icon>
              </v-btn>
            </template>
            <span>Detail</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template #activator="{ on, attrs }">
              <v-btn
                icon
                small
                v-bind="attrs"
                v-on="on"
                @click="confirmDelete(item)"
              >
                <v-icon small> mdi-trash-can </v-icon>
              </v-btn>
            </template>
            <span> Hapus </span>
          </v-tooltip>
          <v-tooltip bottom>
            <template #activator="{ on, attrs }">
              <v-btn icon small v-bind="attrs" v-on="on">
                <v-icon small @click="routeToManagementUser(item)">
                  mdi-account-group
                </v-icon>
              </v-btn>
            </template>
            <span> Manajemen Pengguna </span>
          </v-tooltip>
        </template>
      </v-data-table>
    </ui-table-pagination>
    <dialog-delete-confirm
      v-model="isShowDialogDelete"
      :loading="isLoadingConfirmDelete"
      title="Apotek"
      @delete="deleteApotek()"
      @cancel="cancelDeleteApotek()"
    >
      Anda yakin ingin menghapus
      <span class="font-weight-bold secondary--text">
        {{ selectedApotek.name }} </span
      >?
    </dialog-delete-confirm>
  </v-sheet>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import {
  ApotekApi,
  ApotekGroupApi,
  DataApotekDTO,
} from '@inatti/shared/api-nuxt'
import { UiTablePagination } from '@inatti/shared/ui'

interface FormAddApotek {
  id: string
  name: string
  address: string
  description: string
  phonenumber: string
  thumbnail: string
  notActiveAt: string
  apotekGroup: string
  isLoading?: boolean
  isDialogOpen?: boolean
  isError?: boolean
  rules?: any
}

@Component({ components: { UiTablePagination } })
export default class ManagementApotek extends Vue {
  apotekGroupSelected = [] as string[]
  selectedApotek = { id: '', name: '' }
  isShowSnackbar = false
  isLoadingConfirmDelete = false
  isShowDialogDelete = false
  isShowDialogDeleteApotekPicture = false
  isLoadingConfirmDeleteApotekPicture = false
  table = {
    headers: [
      { text: 'No', value: 'no' },
      { text: 'Apotek', value: 'name' },
      { text: 'Alamat', value: 'address' },
      { text: 'No. Telepon', value: 'phonenumber' },
      { text: 'Total PMR', value: 'totalPmr' },
      { text: 'Aksi', value: 'actions' },
    ],
    data: [] as DataApotekDTO[],
    pagination: {} as any,
  }

  rules = {
    required: (v: any) => !!v || 'Form ini harus diisi.',
  }

  listApotekGroup = [] as any[]

  formAddApotek: FormAddApotek = {
    id: '',
    name: '',
    address: '',
    description: '',
    phonenumber: '',
    thumbnail: '',
    notActiveAt: '',
    apotekGroup: '',
    isLoading: false,
    isDialogOpen: false,
    isError: false,
  }

  lastParams: any = {
    'paginate[limit]': 10,
  }

  $dayjs: any

  openDialogCreateApotek() {
    this.formAddApotek.isDialogOpen = true
    this.formAddApotek.isError = false
  }

  apotekApi!: ApotekApi
  apotekGroupApi = new ApotekGroupApi(this.$axios)
  mounted() {
    this.apotekApi = new ApotekApi(this.$axios)
    this.fetchApotekByGroup()
    this.fetchApotekGroup()
  }

  async fetchApotekGroup() {
    try {
      this.listApotekGroup =
        await this.apotekGroupApi.getRegisteredApotekGroup(false)
    } catch (error) {}
  }

  async fetchApotekByGroup(params: any = {}) {
    this.lastParams = params
    console.log(this.apotekGroupSelected)
    if (this.apotekGroupSelected.length === 0) {
      this.table.data = []
      this.table.pagination = {}
      return
    }
    try {
      const response = await this.apotekApi.get({
        ...params,
        filterApotekGroup: this.apotekGroupSelected,
        withDeleted: false,
      })
      const tableData = [] as DataApotekDTO[]
      response.results.forEach((el: DataApotekDTO) => {
        const tableElement: DataApotekDTO = {
          id: el.id,
          name: el.name,
          address: el.address ?? '-',
          phonenumber: el.phonenumber ?? '-',
          notActiveAt: el.notActiveAt
            ? this.$dayjs(el.notActiveAt).format('DD MMM YYYY HH:ss')
            : '',
          deletedAt: el.deletedAt ? 'Telah dihapus' : '-',
          totalPmr: el.totalPmr ?? 0,
        }
        tableData.push(tableElement)
      })
      this.table.pagination = response
      this.table.data = tableData
    } catch (error) {}
  }

  async addApotek() {
    const isValid = (
      this.$refs.formAddApotek as Vue & { validate: () => boolean }
    ).validate()
    if (!isValid) return
    const { apotekId } = this.$route.query
    this.formAddApotek.isLoading = true
    try {
      await this.apotekApi.create({
        name: this.formAddApotek.name,
        address: this.formAddApotek.address,
        description: this.formAddApotek.description,
        apotekGroup: apotekId as string,
      })
      this.formAddApotek = {
        ...this.formAddApotek,
        id: '',
        name: '',
        address: '',
        description: '',
        phonenumber: '',
        thumbnail: '',
        notActiveAt: '',
        apotekGroup: '',
      }
      this.formAddApotek.isError = false
      this.formAddApotek.isDialogOpen = false
      this.fetchApotekByGroup()
    } catch (error) {
      this.formAddApotek.isError = true
    } finally {
      this.formAddApotek.isLoading = false
    }
  }

  cancelAddApotek() {
    ;(this.$refs.formAddApotek as Vue & { reset: () => boolean }).reset()
    this.formAddApotek.isDialogOpen = false
  }

  confirmDelete(apotekSelected: DataApotekDTO) {
    const { id, name } = apotekSelected
    this.isShowDialogDelete = true
    this.selectedApotek = { id, name }
  }

  async deleteApotek() {
    this.isLoadingConfirmDelete = true
    try {
      await this.apotekApi.delete(this.selectedApotek.id)
      this.fetchApotekByGroup()
      this.selectedApotek = { id: '', name: '' }
    } catch (error) {
      this.isShowSnackbar = true
    } finally {
      this.isShowDialogDelete = false
      this.isLoadingConfirmDelete = false
    }
  }

  cancelDeleteApotek() {
    this.isShowDialogDelete = false
    this.fetchApotekByGroup()
  }

  routeToManagementUser(item: any) {
    const selectedApotek = { id: item.id, name: item.name }
    this.$store.commit('apotekStore/setApotekSelected', selectedApotek)
    this.$router.push(`/management/user/${item.id}`)
  }

  updatePaginationParams() {
    ;(this.$refs.tablePagination as Vue & { onChange: () => void }).onChange()
  }

  tableIndexNumber() {
    return (
      (
        this.$refs.tablePagination as Vue & {
          pagination: { itemPerPage: number }
        }
      ).pagination?.itemPerPage * parseInt(this.table.pagination.page)
    )
  }
}
</script>
