<template>
  <div>
    <v-form ref="form">
      <v-alert
        v-show="dataFilter.isNoData"
        dense
        outlined
        class="my-0"
        type="error"
      >
        Tidak ditemukan data, download dibatalkan.
      </v-alert>
      <v-row class="mb-0 ml-0 mr-0 mt-8 pa-0" justify="center">
        <v-col class="pl-1" cols="6">
          <v-dialog
            ref="createdAtFromMenu"
            v-model="createdAtFromMenu"
            :return-value.sync="dataFilter.createdAtStart"
            persistent
            width="290px"
          >
            <template #activator="{ on, attrs }">
              <v-text-field
                v-model="dataFilter.createdAtStart"
                label="From"
                outlined
                prepend-inner-icon="mdi-calendar"
                readonly
                clearable
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="dataFilter.createdAtStart" scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="createdAtFromMenu = false">
                Cancel
              </v-btn>
              <v-btn
                text
                color="primary"
                @click="$refs.createdAtFromMenu.save(dataFilter.createdAtStart)"
              >
                OK
              </v-btn>
            </v-date-picker>
          </v-dialog>
        </v-col>
        <v-col class="pr-1" cols="6">
          <v-dialog
            ref="createdAtToMenu"
            :return-value.sync="dataFilter.createdAtEnd"
            persistent
            width="290px"
          >
            <template #activator="{ on, attrs }">
              <v-text-field
                v-model="dataFilter.createdAtEnd"
                label="To"
                outlined
                prepend-inner-icon="mdi-calendar"
                readonly
                clearable
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="dataFilter.createdAtEnd" scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="createdAtToMenu = false">
                Cancel
              </v-btn>
              <v-btn
                text
                color="primary"
                @click="$refs.createdAtToMenu.save(dataFilter.createdAtEnd)"
              >
                OK
              </v-btn>
            </v-date-picker>
          </v-dialog>
        </v-col>
      </v-row>
      <v-select
        v-model="dataFilter.productId"
        :items="product.list"
        label="Produk"
        :loading="product.isLoading"
        item-text="name"
        item-value="id"
        outlined
        clearable
      />
      <v-select
        v-model="dataFilter.status"
        label="Status Pembayaran"
        :items="statusList"
        item-text="name"
        outlined
        clearable
        item-value="id"
      />
      <v-select
        v-model="dataFilter.method"
        :items="methodsList"
        label="Metode Pembayaran"
        item-text="name"
        outlined
        clearable
        item-value="id"
      />
    </v-form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { InfoReferenceDTO } from '@inatti/shared/api-nuxt'
import { ReferenceProductApi } from '@inatti/shared/api-nuxt'

@Component
export default class Form extends Vue {
  @Prop({ type: [Object] })
  value!: object
  @Prop({ type: Object })
  alert!: object

  created() {
    this.fetchProduct()
  }

  get dataFilter(): object {
    return this.value
  }

  set dataFilter(val) {
    this.$emit('input', val)
  }

  referenceProductApi = new ReferenceProductApi(this.$axios)

  statusList = [
    { id: 'new', name: 'Order Baru' },
    {
      id: 'paymentReceived',
      name: 'Sudah diterima',
    },
    {
      id: 'paymentFailed',
      name: 'Pembayaran Gagal',
    },
    {
      id: 'inProgress',
      name: 'Sedang di proses',
    },
    {
      id: 'paid',
      name: 'Sudah Terbayar',
    },
    {
      id: 'close',
      name: 'Pembayaran ditutup',
    },
    {
      id: 'canceled',
      name: 'Pembayaran dibatalkan',
    },
  ]

  methodsList = [
    { id: 'Cash', name: 'Tunai' },
    { id: 'Transfer', name: 'Transfer' },
  ]

  product = {
    isLoading: false,
    list: [] as InfoReferenceDTO.Product[],
  }

  async fetchProduct() {
    this.product.isLoading = true
    try {
      const refId = this.$route.query.refId as string
      this.product.list = await this.referenceProductApi.get(refId)
    } finally {
      this.product.isLoading = false
    }
  }

  createdAtFromMenu = false
  createdAtToMenu = false

  formRequire = [(v: any) => !!v || 'Form ini harus di isi']
  $refs = {
    form: {} as any,
  }
  validateForm() {
    return this.$refs.form.validate()
  }
}
</script>
