<template>
  <v-autocomplete
    v-model="selected"
    label="Channel Pembayaran"
    v-bind="$props"
    :items="listItems"
    item-text="pg_name"
    item-value="pg_code"
    :loading="isLoading"
    menu-props="offsetY"
    return-object
  />
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { MixinSelect } from './mixinSelect'
import { UserPaymentApi } from '@inatti/shared/api-nuxt'

@Component
export default class SelectProduct extends mixins(MixinSelect) {
  userPaymentApi = new UserPaymentApi(this.$axios)
  async getProduct() {
    this.isLoading = true
    try {
      let channels = await this.userPaymentApi.getPaymentChannels()
      this.listItems = channels.payment_channel
    } catch (error) {
      alert(error)
    }
    this.isLoading = false
  }

  mounted() {
    this.getProduct()
  }
}
</script>

<style></style>
