<template>
  <div>
    <div class="font-weight-bold">Metode cash</div>
    <v-progress-linear
      v-if="isLoading"
      indeterminate
      color="primary"
    ></v-progress-linear>
    <v-radio-group
      v-if="listMethod && listMethod.length > 0"
      v-model="selectedMethod"
    >
      <v-radio
        v-for="(method, index) in listMethod"
        :key="index"
        :value="method.id"
        :label="method.name"
      ></v-radio>
    </v-radio-group>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { ReferenceTransactionApi } from '@inatti/shared/api-nuxt'

@Component
export default class SelectMethodCashComponent extends Vue {
  @Prop()
  value!: any

  get selectedMethod() {
    if (!this.value) return null
    return typeof this.value === 'object' ? this.value.id : this.value
  }
  set selectedMethod(val) {
    this.$emit('input', val)
  }

  mounted() {
    this.fetchListMethod()
  }
  referenceTransactionApi = new ReferenceTransactionApi(this.$axios)
  isLoading = false
  listMethod = []
  async fetchListMethod() {
    this.isLoading = true
    try {
      this.listMethod = await this.referenceTransactionApi.getListMethod()
    } catch (err) {
      return err
    }
    this.isLoading = false
  }
}
</script>

<style></style>
