<template>
  <v-autocomplete
    v-model="selected"
    label="Product Sampling Point"
    v-bind="$props"
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  />
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { MixinSelect } from './mixinSelect'
import { InfoReferenceDTO } from '@inatti/shared/api-nuxt'
import { ReferenceProductApi } from '@inatti/shared/api-nuxt'
import { Prop } from 'vue-property-decorator'

export interface IProductSelected {
  id: number
  name: string
  item: InfoReferenceDTO.Product
}

@Component
export default class SelectProduct extends mixins(MixinSelect) {
  @Prop({ type: String, required: true })
  typeProduct!: string
  referenceProductApi = new ReferenceProductApi(this.$axios)
  async getProduct() {
    let refId = this.$store.state.refStore.refId
    this.isLoading = true
    try {
      let products: InfoReferenceDTO.Product[] =
        await this.referenceProductApi.get(refId, {
          typeProduct: this.typeProduct,
        })
      this.listItems = products.map(
        (v: InfoReferenceDTO.Product): IProductSelected => {
          return {
            id: v.id,
            name: `${v.name} (${v.product.name}, Rp. ${v.price})`,
            item: v,
          }
        }
      )
    } catch (error) {
      alert(error)
    }
    this.isLoading = false
  }

  mounted() {
    this.getProduct()
  }
}
</script>

<style></style>
