<template>
  <v-select
    v-model="selected"
    label="Laboratorium"
    hint="Laboratorium yang bekerja sama"
    persistent-hint
    v-bind="$props"
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  />
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { MixinSelect } from './mixinSelect'
import { ReferenceApi } from '@inatti/shared/api-nuxt'

@Component
export default class SelectProvinsi extends mixins(MixinSelect) {
  referenceApi = new ReferenceApi(this.$axios)
  async fetchData() {
    this.isLoading = true
    const idRef = this.$store.state.refStore.refId
    this.listItems = await this.referenceApi.getLab(idRef)
    this.isLoading = false
  }

  mounted() {
    this.fetchData()
  }
}
</script>

<style></style>
