<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Pembuatan Password </mobile-appbar-title>
    </template>
    <v-card class="ma-3" flat>
      <v-card-text>
        <v-alert type="error" :value="form.isError" dense text>
          Gagal menambahkan password.
        </v-alert>
        <v-alert type="info" :value="true" dense text>
          Tambahkan password agar anda dapat melihat rekam medis anda.
        </v-alert>
        <v-container>
          <v-row>
            <table class="text-body-1 mb-5">
              <tr>
                <td>Nama</td>
                <td class="pl-7 pr-2">:</td>
                <td class="font-weight-medium">
                  {{ user.fullname ? user.fullname : '-' }}
                </td>
              </tr>
              <tr>
                <td>No. Hp</td>
                <td class="pl-7 pr-2">:</td>
                <td class="font-weight-medium">
                  {{ user.phoneNumber ? user.phoneNumber : '-' }}
                </td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td class="pl-7 pr-2">:</td>
                <td class="font-weight-medium">
                  {{ user.email ? user.email : '-' }}
                </td>
              </tr>
            </table>
          </v-row>
          <v-form ref="changePasswordForm">
            <v-row>
              <v-text-field
                v-model="form.password"
                label="Password Baru"
                :rules="[rules.required, rules.minCharachter]"
                type="password"
                outlined
                dense
                hint="Minimal 8 karakter"
                persistent-hint
              ></v-text-field>
            </v-row>
            <v-row class="mt-5 mb-3">
              <v-text-field
                v-model="form.passwordConfirm"
                label="Ketik Ulang Password"
                :rules="[
                  rules.required,
                  form.password === form.passwordConfirm ||
                    'Password tidak sama',
                ]"
                type="password"
                outlined
                dense
              ></v-text-field>
            </v-row>
          </v-form>
          <v-row class="mb-3">
            <v-btn
              color="primary"
              block
              depressed
              :loading="form.isLoading"
              @click="onClickSavePassword()"
            >
              Simpan Password
            </v-btn>
          </v-row>
          <v-row class="text-caption">
            <div class="text-center">
              *Dengan login ke aplikasi, berarti Anda telah menyetujui Kebijakan
              dan Privasi penggunaan InaTTI.
            </div>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </mobile-layout>
</template>

<script lang="ts">
import { AccountUserManageApi } from '@inatti/shared/api-nuxt'
import { Component, Vue } from 'vue-property-decorator'

@Component({
  layout: 'mobile',
})
export default class UpdateDefaultComponent extends Vue {
  form = {
    password: '',
    passwordConfirm: '',
    isLoading: false,
    isError: false,
  }

  user = {
    id: '',
    fullname: '',
    username: '',
    phoneNumber: '',
    email: '',
  }

  rules = {
    required: (v: any) => !!v || 'Password harus diisi',
    minCharachter: (v: string | any[]) =>
      (v && v.length > 7) || 'Minimal terdiri dari 8 karakter',
  }

  $utils: any

  accountUserManageApi!: AccountUserManageApi

  mounted() {
    this.accountUserManageApi = new AccountUserManageApi(this.$axios)
    this.tokenVerification()
  }

  async tokenVerification() {
    const { uid, key } = this.$route.query
    try {
      const response = await this.accountUserManageApi.verifyToken(uid, key)
      this.user = response
    } catch (error) {
      this.$router.push('/')
    }
  }

  async onClickSavePassword() {
    const { key } = this.$route.query
    this.form.isLoading = true
    try {
      if (!(this.$refs.changePasswordForm as Vue & { validate: () => boolean }).validate()) return
      await this.accountUserManageApi.updateDefaultPassword(
        this.user.id,
        key,
        this.form.password
      )
      this.form.isError = false
      this.$router.push('/auth?created=true')
    } catch (error) {
      this.form.isError = true
    } finally {
      this.form.isLoading = false
    }
  }
}
</script>
