<template>
  <div>
    <common-toolbar no-back> Informasi Grup </common-toolbar>
    <v-card>
      <v-card-text>
        <v-alert
          v-if="alert.isShow"
          :icon="alert.icon"
          :type="alert.type"
          dismissible
        >
          {{ alert.msg }}
        </v-alert>
        <v-row>
          <v-col cols="12">
            <div
              v-if="!editInformationGroup"
              class="w-full d-flex justify-end flex-row align-center"
            >
              <v-btn color="primary" @click="editInformationGroup = true">
                <v-icon> mdi-pencil </v-icon>
                Edit Informasi
              </v-btn>
            </div>
            <div
              v-if="editInformationGroup"
              class="w-full d-flex justify-end flex-row align-center"
            >
              <v-btn
                :loading="isLoading"
                @click="
                  () => {
                    cancelEditInformationGroup()
                    cancelEditThumbnail()
                  }
                "
              >
                <v-icon> mdi-close </v-icon>
                Batal
              </v-btn>
              <v-btn
                :loading="isLoading"
                color="primary"
                class="ml-2"
                @click="onSaveInformationGroup"
              >
                <v-icon> mdi-content-save </v-icon>
                Simpan
              </v-btn>
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="12" lg="3">
            <ui-common-image-dropzone-preview
              v-if="!editThumbnail || thumbnailImage"
              v-model="thumbnailImage"
              style="height: 240px"
            />
            <ui-common-image-dropzone-upload
              v-if="editThumbnail && !thumbnailImage"
              style="height: 240px"
              @files-selected="(e) => onSelectAvatarFile(e)"
            />
            <v-btn
              v-if="!editThumbnail"
              color="primary"
              class="mt-3"
              block
              :disabled="!editInformationGroup"
              @click="editThumbnail = true"
            >
              <v-icon> mdi-image </v-icon>
              Ganti Foto</v-btn
            >
            <div
              v-if="editThumbnail"
              class="w-full d-flex justify-space-between align-center flex-column mt-3"
            >
              <v-btn block color="error" @click="cancelEditThumbnail">
                Cancel</v-btn
              >
              <v-btn
                :loading="isLoading"
                class="mt-3"
                block
                color="primary"
                @click="onSaveThumbnail"
              >
                Save</v-btn
              >
            </div>
          </v-col>
          <v-col cols="12" sm="12" lg="9">
            <v-row>
              <v-col md="12">
                <v-form ref="formInformationGroupRef">
                  <v-text-field
                    v-model="form.name"
                    outlined
                    dense
                    prepend-icon="mdi-tag-faces"
                    label="Nama"
                    :rules="mandatoryFieldRule"
                    :disabled="!editInformationGroup"
                    class="mb-3"
                    value="Kimia Farma Bandung Grup"
                    hide-details="auto"
                  ></v-text-field>
                  <v-textarea
                    v-model="form.address"
                    outlined
                    dense
                    prepend-icon="mdi-home"
                    :rules="mandatoryFieldRule"
                    :disabled="!editInformationGroup"
                    label="Alamat"
                    class="mb-3"
                    value="Jalan Rancabuaya komplek margaluyu 2 nomor 23"
                    hide-details="auto"
                  ></v-textarea>
                  <v-textarea
                    v-model="form.description"
                    outlined
                    dense
                    prepend-icon="mdi-text"
                    :disabled="!editInformationGroup"
                    label="Deskripsi"
                    class="mb-3"
                    value="Sahabat keluarga anda"
                    hide-details="auto"
                  ></v-textarea>
                  <v-text-field
                    v-model="form.phonenumber"
                    outlined
                    dense
                    prepend-icon="mdi-phone"
                    prefix="+62"
                    :disabled="!editInformationGroup"
                    label="Nomor Telepon"
                    hide-details="auto"
                  ></v-text-field>
                </v-form>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { ApotekGroupApi } from '@inatti/shared/api-nuxt'
import {
  UiCommonImageDropzonePreview,
  UiCommonImageDropzoneUpload,
} from '@inatti/shared/ui'

@Component({
  components: { UiCommonImageDropzonePreview, UiCommonImageDropzoneUpload },
})
export default class InformationGrub extends Vue {
  editThumbnail = false
  form = {
    name: '',
    address: '',
    description: '',
    phonenumber: '',
    thumbnail: '',
  }

  thumbnail = {
    preview: '',
    thumbnailFile: '' as any,
    currentThumbnail: '',
  }

  cancelEditThumbnail() {
    this.editThumbnail = false
    this.thumbnail.preview = ''
    this.thumbnail.thumbnailFile = ''
  }

  cancelEditInformationGroup() {
    this.editInformationGroup = false
    this.form = this.$utils.cloneObject(this.currentFormValue)
  }

  async onSaveThumbnail() {
    this.isLoading = true
    try {
      const formData = new FormData()
      const apotekId = this.$route.query.apotekId as string
      if (!this.$utils.validateImageSize(this.thumbnail.thumbnailFile.size)) {
        this.thumbnail.preview = ''
        this.showAlert(
          'warning',
          'Gagal Update Thumbnail: Size file tidak dibolehkan lebih dari 1 MB.'
        )
        return
      }
      formData.append('thumbnail', this.thumbnail.thumbnailFile)
      const resp = await this.apotekGroupApi.updateThumbnail(apotekId, formData)
      this.form.thumbnail = resp.thumbnail
      this.thumbnail.currentThumbnail = resp.thumbnail
      this.cancelEditThumbnail()
      this.showAlert('success', 'Sukses Update Foto Apotek Grub')
    } catch (error: any) {
      const errorMessage =
        error.response?.data?.name === 'BadRequestException'
          ? 'Thumbnail belum di pilih.'
          : error.response?.data?.message
      this.showAlert('warning', 'Gagal Update Thumbnail: ' + errorMessage)
    } finally {
      this.isLoading = false
    }
  }

  get thumbnailImage() {
    if (!this.editThumbnail) {
      return this.thumbnail.currentThumbnail
    }
    return this.thumbnail.preview
  }

  onSelectAvatarFile(e: any) {
    this.thumbnail.thumbnailFile = e[0]
    this.thumbnail.preview = URL.createObjectURL(e[0])
  }

  alert = {
    isShow: false,
    msg: '',
    type: '',
  }

  showAlert(type: string, msg: string) {
    this.alert = {
      isShow: true,
      msg,
      type,
    }
  }

  isLoading = false
  $utils: any
  $refs: any
  currentFormValue = {}
  mandatoryFieldRule = [(v: any) => !!v || 'Form ini wajib diisi']
  editInformationGroup = false
  async onSaveInformationGroup() {
    if (
      this.$refs.formInformationGroupRef.validate() &&
      this.$utils.dirtyValidation(this.currentFormValue, this.form)
    ) {
      try {
        this.isLoading = true
        const apotekId = this.$route.query.apotekId
        await this.apotekGroupApi.update(apotekId as string, this.form)
        this.showAlert('success', 'Sukses Update Informasi Grub')
        this.cancelEditThumbnail()
        this.editInformationGroup = false
        this.fetchInformationGroup()
      } catch (error: any) {
        this.showAlert(
          'warning',
          'Gagal Update Informasi Grub. ' + error.response?.data?.message
        )
      }
      this.isLoading = false
    }
  }

  async fetchInformationGroup() {
    try {
      const apotekId = this.$route.query.apotekId
      const resp = await this.apotekGroupApi.getOne(apotekId as string)
      this.form = this.$utils.cloneObject(resp)
      this.currentFormValue = this.$utils.cloneObject(resp)
      this.thumbnail.currentThumbnail = resp.thumbnail
    } catch (error: any) {
      this.showAlert(
        'warning',
        'Gagal Mengunduh Data. ' + error.response?.data?.message
      )
    }
  }

  apotekGroupApi!: ApotekGroupApi
  mounted() {
    this.apotekGroupApi = new ApotekGroupApi(this.$axios)
    this.fetchInformationGroup()
  }
}
</script>
