<template>
  <span class="text-extra-xs px-2 py-0.5 font-bold bg-gray-100 rounded">
    {{ value }}
  </span>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  }
}
</script>
