<template>
  <header class="flex justify-between items-center" v-bind="$props">
    <img class="w-52 pr-3" :class="'mt-' + topMargin" :src="imageLogo">
    <div v-if="isBordered" class="border-2 border-gray-500 w-full h-0 mt-12" />
    <img :class="`${klinikStyle}`" :src="imageClinic">
  </header>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    imageLogo: {
      type: String,
      default: ''
    },
    imageClinic: {
      type: String,
      default: ''
    },
    isBordered: {
      type: Boolean,
      default: false
    },
    topMargin: {
      type: String,
      default: '14'
    },
    klinikStyle: {
      type: String,
      default: ''
    }
  }
})
</script>
