<template>
  <section class="mt-2 text-extra-xs">
    <div>{{ data.title }}</div>
    <div class="mt-2">
      <span class="font-bold">{{ data.note }}</span>
      <ul class="list-outside list-disc pl-16">
        <li v-for="(result, index) in data.list" :key="index">
          {{ result }}
        </li>
      </ul>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  }
})
</script>
