<template>
  <section class="mt-3 text-center font-serif">
    <h1 class="font-bold text-xs">
      HASIL LAPORAN TES CORONAVIRUS (COVID-19)
    </h1>
    <h1 class="font-bold text-xs">
      CORONAVIRUS (COVID-19)  real time RT-PCR RESULT REPORT
    </h1>
  </section>
</template>
