<template>
  <v-form ref="formComponent" v-model="valid" lazy-validation>
    <div>
      <p><span style="color: red">*</span> Wajib Isi</p>
      <v-expansion-panels accordion v-model="panel" multiple>
        <v-expansion-panel v-for="(item, i) in items" :key="i">
          <v-expansion-panel-header>Data {{ item }}</v-expansion-panel-header>
          <v-expansion-panel-content>
            <div v-if="i == 0">
              <v-select
                v-model="form.type"
                :readonly="!isUserCanManage"
                label="Tipe Nik"
                v-bind="defaultFormProp"
                :items="typeNik"
                item-text="name"
                item-value="id"
                @change="(v) => (v === 'nik' ? (form.country = 'ID') : false)"
              />
              <v-text-field
                v-model="form.nik"
                :readonly="!isUserCanManage"
                v-bind="defaultFormPropNoRequired"
                label="NIK"
                placeholder="Nomor Induk Kependudukan"
                @blur="parseNikToData"
              />
              <v-text-field
                v-model="form.name"
                :readonly="!isUserCanManage"
                v-bind="defaultFormProp"
                label="Nama Pasien *"
                placeholder="Nama Pasien"
              />
              <v-text-field
                v-model="form.datebirth"
                :readonly="!isUserCanManage"
                v-bind="defaultFormProp"
                type="date"
                label="Tanggal Lahir *"
              ></v-text-field>

              <UiFormSelectGender
                v-model="form.gender"
                :disabled="!isUserCanManage"
                v-bind="defaultFormPropNoRequired"
              />

              <v-text-field
                v-model="form.weight"
                :readonly="!isUserCanManage"
                v-bind="defaultFormPropNoRequired"
                class="required"
                type="number"
                label="Berat Badan"
                suffix="kg"
              ></v-text-field>

              <v-text-field
                v-model="form.height"
                :readonly="!isUserCanManage"
                v-bind="defaultFormPropNoRequired"
                class="required"
                type="number"
                label="Tinggi Badan"
                suffix="cm"
              ></v-text-field>

              <v-select
                v-model="form.bloodtype"
                :readonly="!isUserCanManage"
                v-bind="defaultFormPropNoRequired"
                :items="['A', 'B', 'AB', 'O']"
                label="Golongan Darah"
              ></v-select>

              <UiFormSelectPhoneCode
                v-model="form.phonenumber"
                :readonly="!isUserCanManage"
                hint-country-code=""
                :rulesForm="[]"
              />

              <v-checkbox
                v-model="form.etc.isHomecare"
                :readonly="!isUserCanManage"
                v-bind="defaultFormPropNoRequired"
                label="Pasien bersedia Homecare"
                dense
              ></v-checkbox>

              <v-checkbox
                v-model="form.etc.isAlreadyHomecare"
                :readonly="!isUserCanManage"
                v-bind="defaultFormPropNoRequired"
                label="Sudah Homecare"
                dense
              ></v-checkbox>
              <div id="tnc-check">
                <v-checkbox
                  v-model="form.etc.isTncAccepted"
                  :readonly="!isUserCanManage"
                  v-bind="defaultFormPropNoRequired"
                  dense
                />
                <p class="mb-2">
                  Setuju Dengan
                  <a
                    href="https://www.inatti.id/inatti-user/kebijakanInaTTI.html"
                    target="_blank"
                  >
                    Kebijakan InaTTi
                  </a>
                </p>
              </div>
            </div>
            <div v-if="i == 1">
              <v-text-field
                v-model="form.email"
                :readonly="!isUserCanManage"
                v-bind="defaultFormPropNoRequired"
                label="Email"
                type="email"
              ></v-text-field>

              <v-text-field
                v-model="form.job"
                :readonly="!isUserCanManage"
                v-bind="defaultFormPropNoRequired"
                label="Pekerjaan"
              ></v-text-field>

              <v-text-field
                v-model="form.placebirth"
                :readonly="!isUserCanManage"
                v-bind="defaultFormPropNoRequired"
                label="Tempat Lahir"
              ></v-text-field>

              <fieldset v-if="form.type === 'nik'" class="pa-2 mb-4 rounded">
                <legend class="px-2">Alamat KTP</legend>
                <ui-form-select-provinsi
                  v-model="form.provinsi"
                  :disabled="!isUserCanManage"
                  v-bind="isAddressRequired"
                />
                <ui-form-select-kabupaten
                  v-model="form.kabupaten"
                  :disabled="!isUserCanManage"
                  v-bind="isAddressRequired"
                  :provinsi="form.provinsi"
                />
                <ui-form-select-kecamatan
                  v-model="form.kecamatan"
                  v-bind="isAddressRequired"
                  :kabupaten="form.kabupaten"
                  :disabled="!isUserCanManage"
                />
                <v-text-field
                  v-model="form.address"
                  :disabled="!isUserCanManage"
                  v-bind="isAddressRequired"
                  label="Alamat"
                />
              </fieldset>
              <fieldset class="pa-2 rounded">
                <legend class="px-2">Alamat Domisili</legend>

                <v-checkbox
                  :disabled="readonly"
                  :readonly="!isUserCanManage"
                  v-if="form.type === 'nik'"
                  v-model="isFormDomisiliSame"
                  label="Alamat domisili sama dengan KTP"
                ></v-checkbox>
                <div v-if="isShowDomisili">
                  <ui-form-select-provinsi
                    v-model="form.domisiliProvinsi"
                    :disabled="!isUserCanManage"
                    v-bind="isDomicileRequired"
                  />
                  <ui-form-select-kabupaten
                    v-model="form.domisiliKabupaten"
                    :disabled="!isUserCanManage"
                    v-bind="isDomicileRequired"
                    :provinsi="form.domisiliProvinsi"
                  />
                  <ui-form-select-kecamatan
                    v-model="form.domisiliKecamatan"
                    :disabled="!isUserCanManage"
                    v-bind="isDomicileRequired"
                    :kabupaten="form.domisiliKabupaten"
                  />
                  <v-text-field
                    v-model="form.addressDomisili"
                    :disabled="!isUserCanManage"
                    v-bind="isDomicileRequired"
                    label="Alamat Domisili"
                  />
                </div>
              </fieldset>
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue';
import { format, isValid, parse } from 'date-fns';
import Component from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import { UiFormSelectGender, UiFormSelectPhoneCode } from '@inatti/shared/ui';

@Component({
  components: { UiFormSelectGender, UiFormSelectPhoneCode },
})
export default class PagePatientForm extends Vue {
  @Prop({ type: Object })
  value!: any;
  @Prop()
  readonly!: boolean;
  @Prop({ type: Boolean })
  isAdd!: boolean;

  $allow!: (permission: string) => boolean;

  panel = [0];
  items = ['Pasien', 'Tambahan'];

  get form() {
    return this.value;
  }

  set form(val) {
    this.$emit('input', val);
  }

  typeNik = [
    { id: 'nik', name: 'KTP WNI' },
    { id: 'passport', name: 'Nomor Passport' },
  ];

  valid = true;

  defaultFormPropNoRequired = {
    dense: true,
    outlined: true,
    readonly: true,
  };

  defaultFormProp = {
    ...this.defaultFormPropNoRequired,
    required: true,
    readonly: true,
    class: 'required',
    rules: [(v: any) => !!v || 'Kolom ini harus diisi'],
  };

  @Watch('readonly', { immediate: true })
  updateReadOnly(val: boolean) {
    this.defaultFormProp.readonly = val;
    this.defaultFormPropNoRequired.readonly = val;
  }

  parseNikToData() {
    if (this.form.type !== 'nik') {
      return;
    }
    this.parseAddress();
    this.parseDateBirth();
  }

  parseAddress() {
    if (this.form.nik && this.form.nik.length >= 6) {
      const provinsiCode = parseInt(this.form.nik.slice(0, 2));
      const kabupatenCode = parseInt(this.form.nik.slice(0, 4));
      const kecamatanCode = parseInt(this.form.nik.slice(0, 6));
      this.form.provinsi = provinsiCode;
      this.form.kabupaten = kabupatenCode;
      this.form.kecamatan = kecamatanCode;
    }
  }

  parseDateBirth() {
    // skip if filled
    if (this.form.datebirth) return;

    if (this.form.nik && this.form.nik.length >= 12) {
      const dateFromId = this.form.nik.slice(6, 12);
      let day = parseInt(dateFromId.slice(0, 2));
      const month = dateFromId.slice(2, 4);
      const year = dateFromId.slice(4, 6);

      // KTP perempuan tanggal lahir nya + 40
      if (day > 40) {
        day = day - 40;
        this.form.gender = 'pr';
      } else {
        this.form.gender = 'lk';
      }
      try {
        const parseDate = parse(
          `${year}-${month}-${day}`,
          'yy-MM-dd',
          Date.now()
        );
        if (!isValid(parseDate)) {
          this.form.datebirth = null;
          return;
        }
        const dateBirth = format(parseDate, 'yyyy-MM-dd');
        this.form.datebirth = dateBirth;
      } catch (err) {}
    }
  }

  isFormDomisiliSame = false;

  get isShowDomisili() {
    if (!this.form.type) return true;
    if (this.form.type === 'passport') return true;
    return !this.isFormDomisiliSame;
  }

  get isUserCanManage() {
    return this.$allow('manage:patient')
  }

  get isAddressRequired() {
    if (this.form.etc.isHomecare) {
      return this.defaultFormProp;
    } else return this.defaultFormPropNoRequired;
  }

  get isDomicileRequired() {
    if (this.isAddressRequired == this.defaultFormProp) {
      return this.isFormDomisiliSame
        ? this.defaultFormPropNoRequired
        : this.defaultFormProp;
    } else {
      return this.defaultFormPropNoRequired;
    }
  }

  $refs: any;

  validateForm() {
    return this.$refs.formComponent.validate();
  }

  @Watch('isFormDomisiliSame')
  copyAddressToDomisili(val: boolean) {
    if (val) {
      this.form.domisiliProvinsi = this.form.provinsi;
      this.form.domisiliKabupaten = this.form.kabupaten;
      this.form.domisiliKecamatan = this.form.kecamatan;
      this.form.domisiliKelurahan = this.form.kelurahan;
      this.form.domisiliKelurahanRt = this.form.kelurahanRt;
      this.form.domisiliKelurahanRw = this.form.kelurahanRw;
      this.form.addressDomisili = this.form.address;
    } else {
      this.form.domisiliProvinsi = null;
      this.form.domisiliKabupaten = null;
      this.form.domisiliKecamatan = null;
      this.form.domisiliKelurahan = null;
      this.form.addressDomisili = '';
      this.form.domisiliKelurahanRt = '';
      this.form.domisiliKelurahanRw = '';
    }
  }
}
</script>

<style scoped>
#tnc-check {
  display: flex;
  align-items: center;
}

#tnc-check p {
  font-size: 16px;
  color: #666;
}

#tnc-check p a {
  text-decoration: none;
  font-size: 16px;
}
</style>
