<template>
  <div>
    <UiPageAccountSetting />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { UiPageAccountSetting } from '@inatti/shared/ui'

@Component({ components: { UiPageAccountSetting } })
export default class DetailUserComponent extends Vue {
  
}
</script>

<style></style>
