<template>
  <div>
    <common-toolbar>
      <span> Detail Sesi Analisa </span>
      <template v-if="!isReadOnly" #control>
        <v-btn color="primary" :loading="isLoading" @click="saveSession()">
          Simpan
        </v-btn>
      </template>
    </common-toolbar>
    <v-card :loading="isLoading">
      <v-tabs v-model="tab">
        <v-tab v-if="isFormView" href="#result"> Hasil Analisa </v-tab>
        <v-tab href="#map"> Map Data </v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item value="map">
          <v-alert
            v-model='isFinishEdit'
            class="ma-3"
            type="success"
          >
            <v-row align="center">
              <v-col class="grow">
                Berhasil Edit data, Unggah hasil analisa alat terbaru dengan menghapus hasil yang sebelumnya
              </v-col>
              <v-col class="shrink">
                <v-btn color="primary" :loading="loadingDeleteResult" @click="deleteResultTool">
                  Hapus Hasil Alat
                </v-btn>
              </v-col>
            </v-row>
          </v-alert>

          <v-alert
            v-if="editMode"
            prominent
            type="warning"
            class="ma-3"
          >
          <strong>
            Peringatan !
          </strong>
           Perubahan map hasil analisa mengharuskan untuk upload ulang hasil analisa
          </v-alert>

          <v-card-text>
            <div>
              <v-alert
                v-model="alert.isShow"
                :type="alert.type"
                dismissible
                dense
                outlined
              >
                {{ alert.msg }}
              </v-alert>
            </div>
            <v-row justify="space-between">
              <v-col md="4" cols="12">
                <v-form ref="formSession" v-model="form.isValid" lazy-validation>
                  <v-text-field
                    v-model="form.name"
                    v-bind="defaultFormBind"
                    label="Nama Sesi"
                  />
                  <form-select-tool
                    v-model="form.tool"
                    v-bind="defaultFormBind"
                    label="Alat Analisa"
                  />
                </v-form>
                <v-spacer />
              </v-col>
              <v-col v-if="isFormAdd && !editMode" md="4" cols="12" class="text-right">
                <page-analyze-import-extraction @select="importExtraction" />
              </v-col>
              
              <v-col v-if="!isFormAdd" md="4" cols="12" class="text-right">
                <v-btn color="orange lighten-1" @click="editSession()">
                  Edit
                </v-btn>
              </v-col>
            
            </v-row>
            <v-row>
              <v-col cols="12">
                <mapping-sample-table
                  v-model="form.mapping"
                  :predata="preDataMapping"
                  :readonly="isReadOnly"
                  have-control
                >
                  <template #sidebar="{ on, attr }">
                    <mapping-sample-sidebar :sample-available="[...form.sample, ...preDataSample]" v-bind="attr" v-on="on" />
                  </template>
                </mapping-sample-table>
              </v-col>
            </v-row>
          </v-card-text>
        </v-tab-item>
        <v-tab-item v-if="isFormView" value="result">
          <page-analyze-result
            v-if="
              $allow([
                'update:analyze_session-result',
                'manage:analyze_session-result',
              ])
            "
          />
          <v-alert v-else type="warning" class="ma-3" dense outlined>
            Anda tidak memiliki akses untuk upload hasil analisa
          </v-alert>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  ParamEmitChangePositionSample,
} from '../../components/form/mappingSample.vue'
import { ReadExtractionDTO, ExtractionSessionDTO, PatientSwabDetailDTO, ControlTypeMapping, ExtractionSessionMapping } from '@inatti/shared/api-nuxt'
import { Cell, ControlSample } from '../../components/mappingSample/table.vue'

@Component
export default class DetailEkstraksiComponent extends Vue {
  created() {
    this.fetchSampleAvailable()
  }

  mounted() {
    if (this.$route.params.id === 'add') {
      this.isFormAdd = true
    } else {
      this.idSession = this.$route.params.id
      this.defaultFormBind.readonly = true
      this.fetchDataAnalyze()
    }
  }

  tab = null

  idSession = ''
  isFormAdd = false
  keyFormMappingSample = 0

  detailSession = {} as ReadExtractionDTO.Session

  isLoading = false
  defaultFormBind = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
    readonly: false,
    rules: [(v: any) => !!v || 'Form ini harus diisi'],
  }

  form = {
    name: '',
    row: 8,
    col: 12,
    mapping: [] as Cell<PatientSwabDetailDTO.SwabDetail>[],
    sample: [] as any[],
    isValid: true,
    tool: 0,
  }

  preDataMapping:any = null
  preDataSample:any = null

  alert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }

  get isReadOnly() {
    return !this.isFormAdd
  }

  get isFormView() {
    return !this.isFormAdd
  }

  $refs = {
    formSession: {} as any,
  }

  $snackbar:any

  setAlert(msg: string, type: string = 'warning') {
    this.alert = {
      isShow: true,
      type,
      msg,
    }
  }

  async fetchDataAnalyze() {
    try {
      this.isLoading = true
      let idsession = this.idSession
      let idLab = this.$store.state.labStore.labId
      this.detailSession = await this.$axios.$get(
        'api-lab/analyze/session/' + idsession + '?idlab=' + idLab
      )
      this.detailSessionToData()
    } catch (error) {
      console.log(error)
    }
    this.isLoading = false
  }

  detailSessionToData() {
    // map detail to data
    this.form.name = this.detailSession.name
    this.form.tool = this.detailSession.tool?.id ?? null

    this.MapDetailSessionToCell(this.detailSession.mapping)
  }

  // map detail session to table cell
  MapDetailSessionToCell(mapSession: ReadExtractionDTO.Mapping[]){
    const getIdControl = (name:string, type:ControlTypeMapping) => {
      let id = name.split(' ')[1] ?? 0
      return type === ControlTypeMapping.positif ? `P${id}`: `N${id}`
    }

    mapSession.forEach((mapping: ReadExtractionDTO.Mapping) => {
      const cell = new Cell({col: +mapping.locateColumn, row: +mapping.locateRow})
      if(!mapping.isControl){
        cell.data = mapping.sample
      } else {
        cell.isControl = true
        cell.data = {
          id: getIdControl(mapping.controlName, mapping.controlType),
          name : mapping.controlName,
          type : mapping.controlType
        }
      }
      
      this.form.mapping.push(cell)
    })
    this.preDataMapping = [...this.form.mapping]
    this.preDataSample = this.preDataMapping.map((v:any) => v.data)

    // re render component formMappingSample
    this.keyFormMappingSample++
  }

  async fetchSampleAvailable() {
    try {
      this.isLoading = true
      let idLab = this.$store.state.labStore.labId
      let result = await this.$axios.$get(
        'api-lab/analyze/sample-extracted?idlab=' + idLab
      )
      this.form.sample = result
    } catch (error) {
      console.log(error)
      alert(error)
    }
    this.isLoading = false
  }

  validateForm(): boolean {
    if (!Object.keys(this.form.mapping).length) {
      this.setAlert('Mohon pilih minimal 1 sample untuk di mapping')
      return false
    }
    if (!this.$refs.formSession.validate()) {
      return false
    }
    return true
  }

  async saveSession() {
    if (!this.validateForm()) {
      return false
    }
    if(this.editMode) return this.saveEditSession();

    // Extraction session and analyze session have same Field
    // So, We can use `ExtractionSessionDTO`
    let sessionDTO = new ExtractionSessionDTO()
    sessionDTO.name = this.form.name
    sessionDTO.rowTotal = this.form.row
    sessionDTO.columnTotal = this.form.col
    sessionDTO.lab = this.$store.state.labStore.labId
    sessionDTO.tool = this.form.tool
    sessionDTO.mapping = []

     for (const cellMapping of this.form.mapping) {
       let dto = this.MappingCellToDTO(cellMapping)
       if(dto){
         sessionDTO.mapping.push(dto)
       }
    }
   
    try {
      this.isLoading = true
      await this.$axios.$post('/api-lab/analyze/session', sessionDTO)
      this.$router.back()
    } catch (error) {
      console.log(error)
      alert(error)
    }
    this.isLoading = false
  }

  MappingCellToDTO(mappingCell:Cell<PatientSwabDetailDTO.SwabDetail>):null | ExtractionSessionMapping{
    if(!mappingCell.data){
      return null
    }
    let mapCell:ExtractionSessionMapping = {
      locateRow: mappingCell.row ?? 0,
      locateColumn: mappingCell.col ?? 0,
      sample: undefined,
      isControl: false,
      controlType: undefined as unknown as ControlTypeMapping,
      controlName: undefined,
    }
    if(!mappingCell.isControl){
      mapCell.sample = mappingCell.data.id
    } else {
      mapCell.sample = undefined
      mapCell.isControl = true
      mapCell.controlName = mappingCell.data.name
      mapCell.controlType = mappingCell.data.type
    }
    return mapCell
  }

  async onChangePositionSample(param: ParamEmitChangePositionSample) {
    if (!param.valueMapping.id) {
      return
    }
    let idLab = this.$store.state.labStore.labId
    let idSession = this.$route.params.id
    try {
      await this.$axios.$patch(
        `/api-lab/analyze/session/update-position/${idSession}/${param.valueMapping.id}?idlab=${idLab}`,
        param.newLocation
      )
      if (param.onDone) {
        param.onDone()
      }
    } catch (error) {
      if (param.onError) {
        param.onError(error)
      }
    }
  }

  importExtraction(extractionDetail: ReadExtractionDTO.Session){
    if(!extractionDetail) return false;

    this.MapDetailSessionToCell(extractionDetail.mapping)
  }

  // save action
  oldMapping: Cell<PatientSwabDetailDTO.SwabDetail>[] = []
  editMode = false
  editSession(){
    this.isFormAdd = true
    this.editMode = true
    // @ts-ignore
    this.oldMapping = [...this.form.mapping.map(v => ({...v}))] // deep clone
  }

  cancelEdit(){
    this.editMode = false
    this.isFormAdd = false
    window.location.reload()
  }

  isFinishEdit = false
  finishEdit(){
    this.editMode = false
    this.isFormAdd = false

    // Add flag success in url and reload
    this.isFinishEdit = true
  }

  loadingDeleteResult = false
  async deleteResultTool(){
    this.loadingDeleteResult = true
    try {
      const sessionId = this.$route.params.id
      const labId = this.$route.query.labId
      await this.$axios.$delete(`/api-lab/analyze/session/${sessionId}/result?idlab=${labId}`)
      window.location.reload()
    } catch(error){
      this.$snackbar('Gagal menghapus data')
    }
    this.loadingDeleteResult = false
  }

  async saveEditSession(){
    let diff = this.getDiffMapping()
    const CellsToPayload = (cells:Cell<PatientSwabDetailDTO.SwabDetail>[]) => cells.map(cell => {
      return this.MappingCellToDTO(cell)
    })

    let payloadApi = {
      new: CellsToPayload(diff.new),
      stay: CellsToPayload(diff.stay),
      del: CellsToPayload(diff.del)
    }

    try {
      let idlab = this.$store.state.labStore.labId
      this.isLoading = true
      await this.$axios.$patch(`/api-lab/analyze/session/${this.idSession}/update-position?idlab=${idlab}`, payloadApi)
      this.finishEdit();
    } catch(error) {
      this.$snackbar('Gagal menyimpan data')
    }
    this.isLoading = false
  }

  getDiffMapping(): {stay: Cell[], new: Cell[], del: Cell[]}{
    const newMapping = [...this.form.mapping]
    const oldMapping = [...this.oldMapping]

    const CellSampleIncludes = (listCell: Cell<PatientSwabDetailDTO.SwabDetail | ControlSample>[], findCell:Cell<PatientSwabDetailDTO.SwabDetail>) => {
      return listCell.find((cell) => {
        if(!cell.data || !findCell.data) return false
        if(!cell.isControl){
          return cell.data.id === findCell.data.id
        } else {
          const dataControl = cell.data as ControlSample
          return dataControl.name === findCell.data.name
        }
      })
    }
    
    const diff:{stay: Cell[], new: Cell[], del: Cell[]} = {
      stay: [], // will update position
      new: [], // add new sample
      del: [] // delete sample old
    }

    if(newMapping.length < 1){
      diff.del = oldMapping
    }

    diff.new = newMapping.filter(v => !CellSampleIncludes(oldMapping, v))
    diff.del = oldMapping.filter(v => !CellSampleIncludes(newMapping, v))
    diff.stay = newMapping.filter(v => CellSampleIncludes(oldMapping, v))

    return diff
  }
}
</script>

<style>
</style>