<template>
  <div>
    <common-toolbar no-back>
      Daftar Sesi Analisa Sample
      <template v-if="$allow('create:analyze_session')" #control>
        <v-btn color="primary" to="/analyze/add"> Tambah Sesi </v-btn>
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination-filter
          v-model="dataResult"
          :is-show-filter="false"
          :isShowQrScan="false"
          search
          @change="fetchList"
        >
          <template #default="{ options }">
            <v-data-table
              :headers="table.headers"
              :loading="table.isLoading"
              :items="items"
              :items-per-page="options.itemPerPage"
              :item-class="getItemClass"
              hide-default-footer
              disable-pagination
            >
              <template #[`item.action`]="{ item }">
                <v-btn
                  v-if="$allow('view:analyze_session')"
                  icon
                  :to="'' + item.id"
                >
                  <v-icon> mdi-eye </v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </template>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { helperFormatDate } from '../../helper/date'
import { PaginationResult } from '@inatti/shared/api-nuxt'
import { UiTablePaginationFilter } from '@inatti/shared/ui'

@Component({ components: { UiTablePaginationFilter } })
export default class ListExtractionComponent extends Vue {
  created() {
    // first run, show today
    this.fetchList({
      'filter[date]': 'today',
    })
  }

  table = {
    headers: [
      {
        text: 'Id',
        value: 'id',
      },
      {
        value: 'name',
        text: 'Nama Sesi',
      },
      {
        value: 'total_mapping',
        text: 'Jumlah sample',
      },
      {
        value: 'tool.name',
        text: 'Alat yang digunakan',
      },
      {
        value: 'createdAt',
        text: 'Tanggal dibuat',
      },
      {
        value: 'resultUploadDate',
        text: 'Tanggal Hasil keluar',
      },
      {
        value: 'action',
        text: 'Aksi',
      },
    ],
    isLoading: false,
    items: [] as any[],
    search: null,
  }

  dataResult = {}
  items: any = []

  async fetchList(params: any = {}) {
    try {
      this.table.isLoading = true
      let labId = this.$store.state.labStore.labId
      const result: PaginationResult<any> = await this.$axios.$get(
        '/api-lab/analyze/sessions',
        {
          params: {
            idlab: labId,
            ...params,
          },
        }
      )

      this.dataResult = result
      this.items = result.results.map((value) => {
        value.createdAt = helperFormatDate(value.createdAt)
        value.resultUploadDate = helperFormatDate(value.resultUploadDate)
        return value
      })
    } finally {
      this.table.isLoading = false
    }
  }

  getItemClass(item: any) {
    return item.resultUploadDate
      ? 'light-green--text accent-4'
      : 'red--text accent-4'
  }
}
</script>

<style></style>
