<template>
  <div>
    <feature-telefarmasi-database-patient-list
      ref="uiCorePatientList"
      :customQuery="query"
      :role="role"
    >
      <template #additionalFilter>
        <v-row justify="end" dense>
          <v-col cols="12" md="6">
            <ui-form-select-apotek-grup
              :default-all-selected="true"
              :minimum-selected="1"
              @input="onChangeFilter"
              v-model="query.filter.apotekGroup"
            />
          </v-col>
          <v-col cols="12" md="6">
            <ui-form-select-apotek
              :apotek-group="query.filter.apotekGroup"
              @input="onChangeFilter"
              v-model="query.filter.apotek"
              multiple
              hide-details
            />
          </v-col>
        </v-row>
      </template>
    </feature-telefarmasi-database-patient-list>
  </div>
</template>

<script lang="ts">
import { TelepharmacyRolesEnum } from '@inatti/shared/api-nuxt'
import { Component, Vue } from 'nuxt-property-decorator'
import { FeatureTelefarmasiDatabasePatientList } from '@inatti/features/telefarmasi'
import { UiFormSelectApotek, UiFormSelectApotekGrup } from '@inatti/shared/ui'

@Component({
  components: {
    FeatureTelefarmasiDatabasePatientList,
    UiFormSelectApotek,
    UiFormSelectApotekGrup,
  },
})
export default class PatientListPage extends Vue {
  query = {
    filter: {
      apotek: [],
      apotekGroup: [],
    },
  }
  patientListComponent = null as any
  role = TelepharmacyRolesEnum.apotekGroup

  mounted() {
    const homecare = this.$route.query.homecare as string
    this.patientListComponent = this.$refs.uiCorePatientList
    if (homecare) {
      const homecareItems = this.patientListComponent.homecareItems
      this.patientListComponent.homecare.push(homecareItems[homecare].value)
      this.patientListComponent.refetchData()
    }
  }

  onChangeFilter() {
    if (!this.query.filter.apotek || !this.query.filter.apotekGroup) return
    this.patientListComponent.refetchData()
  }
}
</script>
