<template>
  <div>
    <common-toolbar no-back>
      Obat Apotek
      <template #control>
        <slot name="toolbar-control" />
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination
          ref="tablePagination"
          v-model="resultPagination"
          search
          search-hint="Masukkan nama obat"
          @change="fetchObatApotekDataList"
        >
          <v-row>
            <v-col cols="12" md="8">
              <slot name="additional-filter" />
            </v-col>
          </v-row>
          <v-data-table
            :headers="headers"
            :items="tableData"
            :loading="isLoadingTable"
            item-key="id"
            hide-default-footer
            disable-pagination
          >
            <template #[`item.name`]="{ item }">
              {{ item.name ? item.name : '-' }}
            </template>
            <template #[`item.resource`]="{ item }">
              {{ item.insertByApotek.name }}
            </template>
            <template #[`item.createdAt`]="{ item }">
              {{ new Date(item.createdAt).toLocaleString() }}
            </template>
            <template v-if="isApotek" #[`item.edit`]="{ item }">
              <v-btn icon @click="onEditObat(item)">
                <v-icon> mdi-pencil </v-icon>
              </v-btn>
            </template>
            <template v-if="isApotek" #[`item.delete`]="{ item }">
              <v-btn icon @click="confirmDeleteObatById(item)">
                <v-icon> mdi-trash-can </v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </ui-table-pagination>
      </v-card-text>
    </v-card>
    <slot name="form-dialog-add-item" />
    <ui-common-dialog
      v-model="form.editObatInfo.isOpenDialog"
      title="Edit Obat"
      :width="540"
      :loading="form.editObatInfo.isLoading"
      confirm-icon="mdi-content-save"
      confirm-text="Simpan"
      cancel-text="Batal"
      persistent
      @btn-save="editObatInfoById(selectedObat.id)"
      @btn-cancel="cancelDialog('editObatInfo', 'editObatForm')"
    >
      <v-form ref="editObatForm">
        <v-alert type="error" text :value="form.editObatInfo.isError">
          Gagal mengubah informasi obat.
        </v-alert>
        <v-text-field
          v-model="form.editObatInfo.data.name"
          label="Nama Obat"
          :rules="[rules.required]"
          outlined
          dense
          @keydown.enter.prevent="editObatInfoById(selectedObat.id)"
        ></v-text-field>
      </v-form>
    </ui-common-dialog>
    <ui-common-dialog
      v-model="form.deleteObat.isOpenDialog"
      title="Hapus Obat"
      :width="540"
      :loading="form.deleteObat.isLoading"
      confirm-icon="mdi-trash-can"
      confirm-text="Hapus"
      cancel-text="Batal"
      persistent
      @btn-save="deleteObatApotekById(selectedObat.id)"
      @btn-cancel="form.deleteObat.isOpenDialog = false"
    >
      Yakin anda ingin menghapus data obat ini?
    </ui-common-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import {
  ObatApotekData,
  PaginationResult,
  MedicineApotekBasedApi,
} from '@inatti/shared/api-nuxt';
import { UiCommonDialog, UiTablePagination } from '@inatti/shared/ui';

@Component({ components: { UiCommonDialog, UiTablePagination } })
export default class ApotekMedicineListComponent extends Vue {
  @Prop()
  customQuery!: any;
  @Prop({ type: Boolean, default: true })
  allowFetch!: boolean;
  @Prop({ type: Boolean, default: true })
  isApotek!: boolean;

  form = {
    addObat: {
      isOpenDialog: false,
      isLoading: false,
      isError: false,
      data: {
        name: '',
      },
    },
    editObatInfo: {
      isOpenDialog: false,
      isLoading: false,
      isError: false,
      data: {
        name: '',
      },
    },
    deleteObat: {
      isOpenDialog: false,
      isLoading: false,
      isError: false,
    },
  };

  rules = {
    required: (v: any) => !!v || 'Form ini harus diisi',
  };

  isLoadingTable = false;
  headers = [
    {
      text: 'Id',
      align: 'start',
      sortable: false,
      value: 'id',
    },
    { text: 'Nama Obat', value: 'name' },
    { text: 'Sumber Data', value: 'resource' },
    { text: 'Tanggal Input', value: 'createdAt' },
    { text: 'Edit', value: 'edit', sortable: false },
    { text: 'Hapus', value: 'delete', sortable: false },
  ];

  tableData = [] as ObatApotekData[];
  resultPagination = {} as PaginationResult<ObatApotekData>;

  lastParams = {
    'paginate[limit]': 10,
    'paginate[page]': 0,
    'filter[date]': 'today',
  };

  selectedObat = {} as ObatApotekData;

  mounted() {
    if (!this.isApotek) this.headers.splice(-2,2)
    this.refetchData(this.lastParams);
  }

  get numberCount() {
    return this.lastParams['paginate[limit]'] * this.resultPagination.page;
  }

  @Watch('customQuery')
  refetchData(val: any) {
    this.fetchObatApotekDataList(this.lastParams);
  }

  @Watch('allowFetch', {
    immediate: true,
  })
  isAllowFetch(val: boolean) {
    if (val) {
      this.fetchObatApotekDataList(this.lastParams);
    }
  }

  async fetchObatApotekDataList(params: any = {}) {
    this.lastParams = params;
    if (!this.allowFetch) return;
    const { apotekId } = this.$route.query;
    const medicineApotekBasedApi = this.setupMedicineApi(apotekId);
    try {
      const response = await medicineApotekBasedApi.getList({
        ...this.customQuery,
        ...params,
      });
      this.tableData = response.results;
      this.resultPagination = response;
    } catch (error) {}
  }

  $form: any;

  onEditObat(item: ObatApotekData) {
    this.selectedObat = item;
    this.form.editObatInfo.data.name = this.selectedObat.name;
    this.form.editObatInfo.isOpenDialog = true;
  }

  async editObatInfoById(id: number) {
    if (!this.$form.validate(this.$refs, 'editObatForm')) return;
    this.form.editObatInfo.isLoading = true;
    const medicineApotekBasedApi = this.setupMedicineApi(
      this.selectedObat.insertByApotek.id
    );
    try {
      this.form.editObatInfo.isError = false;
      await medicineApotekBasedApi.update(id, this.form.editObatInfo.data.name);
      this.form.editObatInfo.isOpenDialog = false;
      this.$form.reset(this.$refs, 'editObatForm');
      this.refetchData(this.lastParams);
    } catch (error) {
      this.form.editObatInfo.isError = true;
    } finally {
      this.form.editObatInfo.isLoading = false;
    }
  }

  confirmDeleteObatById(item: any) {
    this.form.deleteObat.isOpenDialog = true;
    this.selectedObat = item;
  }

  async deleteObatApotekById(id: number) {
    const medicineApotekBasedApi = this.setupMedicineApi(
      this.selectedObat.insertByApotek.id
    );
    try {
      await medicineApotekBasedApi.delete(id);
      this.form.deleteObat.isOpenDialog = false;
      this.refetchData(this.lastParams);
    } catch (error) {}
  }

  cancelDialog(data, refs) {
    this.form[data].isOpenDialog = false;
    this.$form.reset(this.$refs, refs);
  }

  setupMedicineApi(id) {
    const medicineApotekBasedApi = new MedicineApotekBasedApi(this.$axios, id);
    return medicineApotekBasedApi;
  }
}
</script>
