<template>
  <div>
    <section v-if="!error">
      <common-template-header
        v-model="template"
        class="mt-8"
        :default-left-top="require('~/assets/images/hero1.png')"
        :default-right-top="require('~/assets/images/klinik_kesehatan_unpad.png')"
      />
      <SectionHeading />
      <div class="flex justify-between">
        <div v-for="(data, indexRoot) in tableData" :key="indexRoot" class="w-3/4">
          <table class="text-extra-xs mt-4">
            <template v-for="(result, index) in data">
              <template v-if="!result.isSpace">
                <tr :key="index">
                  <!-- eslint-disable-next-line vue/no-v-html -->
                  <td :class="result.isWidth ? 'w-20' : 'w-28'" v-html="result.title" />
                  <td class="pl-6 pr-3">
                    :
                  </td>
                  <td>{{ result.value }}</td>
                </tr>
              </template>
              <template v-else>
                <tr :key="index" class="h-2">
                  <td />
                </tr>
              </template>
            </template>
          </table>
        </div>
      </div>
      <div class="mt-10">
        <table class="w-full">
          <thead class="bg-blue-200 border-t border-b border-black text-xs">
            <tr>
              <th class="font-bold py-4">
                Test Name
              </th>
              <th class="font-bold">
                Reagent
              </th>
              <th class="font-bold">
                Gen Target
              </th>
              <th class="font-bold">
                Ct. Value
              </th>
              <th class="font-bold">
                Result
              </th>
              <th class="font-bold">
                Test Method
              </th>
            </tr>
          </thead>
          <tbody v-if="ctValue" class="text-center text-extra-xs border-b border-black">
            <template v-for="(ct, target) in ctValue">
              <tr :key="target">
                <td class="py-1">
                  SARS Cov-2
                </td>
                <td class="py-1">
                  {{ template.reagent ? template.reagent : 'Biosewoom' }}
                </td>
                <td class="py-1">
                  {{ target }}
                </td>
                <td class="py-1">
                  {{ ct }}
                </td>
                <td class="py-1 font-bold">
                  {{ resultSwab }}
                </td>
                <td class="py-1">
                  Real Time RT-PCR
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        <div class="border-b border-black text-extra-xs py-1 pl-1">
          Bahwa hasil tes Coronavirus (COVID-19) adalah/That the Corona Virus
          (COVID-19) test result is: <badge :value="resultSwab" />
        </div>
      </div>

      <SectionNote :data="noteData" />

      <section class="mt-32 flex justify-between">
        <div class="text-small text-center">
          <img class="w-32" :src="imageUrl" alt="QRCode">
          {{ idSample }}
        </div>
        <div class="text-small mr-9">
          <div class="text-center">
            <p> Dokter Penanggung Jawab </p>
            <div class="italic">Doctor in charge</div>
          </div>
          <div class="text-center">
            <img id="stemptel-img" class="mx-auto" :src="template.signaturImage ? template.signaturImage : require(`~/assets/images/signature/ttd12.png`)" style="max-height:120px">
          </div>
          <div class="text-center">
            <div class="underline">
              {{ template.doctorName ? template.doctorName : 'dr. Tegar Wibawa R.' }}
            </div>
            <div>
              <i>{{ template.doctorSubname ? template.doctorSubname : 'General Practitioner' }}</i>
            </div>
          </div>
        </div>
      </section>
      <common-footer
        :name="template.nameLab ? template.nameLab : 'Laboratorium Klinik Kesehatan Universitas Padjadjaran (C.742)'"
        :detail="template.detailLab ? template.detailLab : 'Jl. Dipatiukur No. 46 Bandung – Jawa Barat, Telp. 022 2512 497, 0821-1969 5900'"
      />
    </section>
    <common-alert v-else>
      {{ error.message }}
    </common-alert>
  </div>
</template>

<script lang="ts">
import { Context } from '@nuxt/types'
import { generateQRCode, UrlQrCodeTestCovid } from 'apps/template-pdf/utils/GenerateQRCode'
import { createdStringUpperCase } from 'apps/template-pdf/utils/stringUpperCase'
import { convertDate, convertDateBirth } from 'apps/template-pdf/utils/date'
import { SwabDetail } from 'apps/template-pdf/utils/types'

const getAge = (datebirth: string) => {
  if (!datebirth) { return null }
  const dateBirth = new Date(datebirth)
  // kalkulasi perbedaan bulan dari tanggal hari ini dalam satuan waktu
  const monthDifference = Date.now() - dateBirth.getTime()
  // konversi monthDifference ke date, lalu di ekstrak dalam bentuk tahun
  const ageByUTCDate = new Date(monthDifference).getUTCFullYear()
  const age = Math.abs(ageByUTCDate - 1970)
  return age
}

function getDateAnalysis (dataApi:SwabDetail) {
  return dataApi.sendToLabDate ?? null
}

// TODO: Refactor this code
export default {
  async asyncData (ctx: Context) {
    const { $axios, route } = ctx
    const { idswab, idsrc, tz } = route.query
    if (!idswab || !idsrc) {
      throw new Error('query `idswab` or `idsrc` is not found')
    }
    const url = `/api-lab/report-pdf/swab-detail?idswab=${idswab}`
    let fetchData:any = null
    try {
      fetchData = await $axios.$get(url, {
        headers: { Authorization: `Bearer ${process.env.USER_TOKEN}` }
      })
      if (!fetchData) {
        return {
          error: {
            message: 'No data found'
          }
        }
      }
    } catch (err) {
      return {
        error: {
          message: 'Gagal mengambil data swab ' + err
        }
      }
    }
    if (!fetchData) { return null }

    const template:any = {}

    const templateLab = await $axios.$get('/api-lab/report-pdf/template', {
      params: {
        idswab
      }
    })

    if (templateLab) {
      Object.assign(template, templateLab)
    }

    // If request from ref/rujukan, left header image change to logo rujukan
    if (route.params.type === 'ref') {
      const templateRef = await $axios.$get('/api-ref/report-pdf/template', {
        params: {
          idref: fetchData?.refTarget?.id,
          typeProduct: 1 // pcr
        }
      })
      if (templateRef) {
        template.headerLeftImage = templateRef.headerLeftImage ? templateRef.headerLeftImage : null
      }
    }

    // Get ct value
    let resultCtValue: {
      id?:number
      sampleSession?: {
        sample: any
      },
      CtValue: Record<string, any>
    } = await $axios.$get('/api-lab/report-pdf/sample/ctvalue', {
      params: {
        idswab
      }
    })

    const isCtEmpty = (value:any) => {
      if (!value) { return true }
      if (value === '') { return true }
      if (typeof value === 'string' && value.startsWith('-')) { return true }
      return false
    }

    // If Negatif or unwanted condition, dont show real ct value
    if (!resultCtValue.CtValue || Object.keys(resultCtValue.CtValue).length < 1 || fetchData.resultSwab === 'negatif') {
      const getTarget = template.genTarget ? template.genTarget : 'RdRP E Gene'
      resultCtValue = {
        CtValue: {
          [getTarget]: '-'
        }
      }
    } else {
      // If positif, remove ct value that empty
      for (const key in resultCtValue.CtValue) {
        if (Object.prototype.hasOwnProperty.call(resultCtValue.CtValue, key)) {
          const element = resultCtValue.CtValue[key]
          if (isCtEmpty(element)) {
            delete resultCtValue.CtValue[key]
          }
        }
      }
    }

    const { sampleId } = fetchData
    if (!fetchData.orderSwab) {
      throw new Error('Order swab id not found')
    }
    const { id } = fetchData.orderSwab
    const urlDownloadPdf = UrlQrCodeTestCovid(id)

    const result = await generateQRCode(urlDownloadPdf)

    // move title to list
    const notePcr = {
      note: 'Catatan/ Note:',
      list: [
        'Jenis Spesimen/ Spesimen Type: Naso and Oropharyngeal swab',
        'Hasil hanya menggambarkan kondisi saat pengambilan sampel, sesuaikan dengan klinis pasien. Pemeriksaan ulang dapat dilakukan atas saran dokter penanggung jawab./ The result may only reﬂect the day when specimen was taken, please consult to your physician for follow up examination.',
        'Cut Off Gen Target: Positif 38, Negative > 38'
      ]
    }

    if (template.note) {
      notePcr.list = template.note.split('\n')
    }

    const mapData = {
      firstTable: [
        {
          title: 'Nama Pasien / Name',
          value: fetchData.patient.name
        },
        {
          title: 'No. Identitas / Patien ID',
          value: fetchData.patient.nik
        },
        {
          title: 'Kebangsaan / Nationality',
          value: fetchData.patient.citizenship
        },
        {
          isSpace: true
        },
        {
          title: 'Sampling Point',
          value: fetchData.refTarget.name
        },
        {
          title: 'Pengambilan Spesimen /<br>Date of Specimen Taken',
          value: convertDate(fetchData.swabDate, tz),
          isWidth: true
        },
        {
          title: 'Tanggal Sample Diterima /<br>Receiving date',
          value: convertDate(fetchData.sendToLabDate, tz),
          isWidth: true
        }
      ],
      lastTable: [
        {
          title: 'Jenis Kelamin/Gender',
          value: fetchData.patient.gender === 'lk' ? 'Laki-Laki' : 'Wanita'
        },
        {
          title: 'Tgl. Lahir/DOB',
          value: fetchData.patient.datebirth ? convertDateBirth(fetchData.patient.datebirth) : '-'
        },
        {
          title: 'Umur/Age',
          value: fetchData.patient.datebirth ? getAge(fetchData.patient.datebirth) + ' Tahun' : '-'
        },
        {
          isSpace: true
        },
        {
          title: 'Tanggal Analisis <br> Date of Analysis',
          value: convertDate(getDateAnalysis(fetchData), tz),
          isWidth: true
        },
        {
          title: 'Tanggal Hasil Keluar <br> Result date',
          value: convertDate(fetchData.resultSentAt, tz),
          isWidth: true
        }
      ]
    }

    return {
      resultSwab: createdStringUpperCase(fetchData.resultSwab),
      idSample: sampleId,
      imageUrl: result,
      tableData: mapData,
      template,
      noteData: notePcr,
      ctValue: resultCtValue ? resultCtValue.CtValue : null
    }
  },
  data () {
    return {
      error: null,
      useData: {}
    }
  }
}
</script>

<style>
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 21cm;
  padding-left: 1.5cm;
  padding-right: 1.5cm;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
}
</style>
