<template>
  <div>
    <common-toolbar>
      Pengaturan Sertifikat
    </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <v-row>
          <v-col md="4" cols="12">
            <div class="d-flex justify-space-between mb-3" style="width:100%">
              <v-btn v-if="isEdit" color="red" dark @click="isEdit = false">
                Batal
              </v-btn>
              <v-btn :color="isEdit ? 'warning' : 'primary'" @click="onClickEdit()">
                {{isEdit ? 'Simpan' : 'Edit template'}}
              </v-btn>
            </div>
            <form-file-image v-model="data.headerRightImage" label="Gambar Header Kanan" v-bind="defaultAttr" :edit-mode="isEdit" @change="data.headerRightImage = $event"></form-file-image>
            <form-file-image v-model="data.signaturImage" label="Gambar tanda tangan" v-bind="defaultAttr" :edit-mode="isEdit" @change="data.signaturImage = $event"></form-file-image>
            <v-text-field v-model="data.doctorName" v-bind="defaultAttr" label="Nama dokter"></v-text-field>
            <v-text-field v-model="data.doctorSubname" v-bind="defaultAttr" label="Posisi dokter"></v-text-field>
            <v-text-field v-model="data.nameLab" v-bind="defaultAttr" label="Informasi LAB"></v-text-field>
            <v-text-field v-model="data.detailLab" v-bind="defaultAttr" label="Detail/alamat/nomor hp LAB"></v-text-field>
            <v-text-field v-model="data.reagent" v-bind="defaultAttr" label="Reagent"></v-text-field>
            <v-text-field v-model="data.genTarget" v-bind="defaultAttr" label="Gen Target"></v-text-field>
            <v-textarea v-model="data.note" v-bind="defaultAttr" label="Note"></v-textarea>
            <v-btn v-if="isEdit" color="warning" class="mt-3" @click="onClickEdit()">
              Simpan
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Watch } from "vue-property-decorator";

@Component
export default class SettingTemplateSertifiktaComponent extends Vue {
  created(){
    this.fetchData();
  }

  isEdit = false

  defaultAttr = {
    outlined: true,
    disabled: true,
  }

  @Watch('isEdit')
  onUpdateIsEdit(val:boolean){
    this.defaultAttr.disabled = !val
    if(!val){
      this.fetchData()
    }
  }

  isLoading = false
  data:any = {
    headerRightImage: null,
    signaturImage: null,
    doctorName: null,
    doctorSubname: null,
    nameLab: null,
    detailLab: null,
    reagent: null,
    note: null,
    genTarget: null,
  }
  async fetchData(){
    this.isLoading = true
    try{
      const lab = this.$store.state.labStore.labId
      let resultApi = await this.$axios.$get('api-lab/setting/lab-template', {
        params: {
          idlab: lab
        }
      })
      Object.assign(this.data, resultApi)
    } finally {
      this.isLoading = false
    }
  }

  async onClickEdit(){
    if(this.isEdit){
      await this.saveEdit()
      this.isEdit = false
    } else {
      this.isEdit = true
    }
  }

  async saveEdit(){
    this.isLoading = true
    const lab = this.$store.state.labStore.labId
    const formData = new FormData()
    for (const key of Object.keys(this.data)) {
      if(key.includes('Image')){
        // if image, make sure, only upload that an object
        if(typeof this.data[key] !== 'string'){
          if(this.data[key]){
            formData.append(key, this.data[key])
          }
        }
      } else if(this.data[key]){
          formData.append(key, this.data[key])
        }
    }
    try{
      await this.$axios.$post('api-lab/setting/lab-template', formData, {
        params: {
          idlab: lab
        },
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      })
      await this.fetchData()
    } finally {
      this.isLoading = false
    }
  }
}
</script>

<style>

</style>