<template>
  <div>
    <common-toolbar no-back> Obat Publik </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination
          ref="tablePagination"
          v-model="paginationResults"
          search
          search-hint="Masukkan nama obat"
          @change="fetchObatDataList"
        >
          <v-data-table
            :headers="headers"
            :items="tableData"
            item-key="id"
            hide-default-footer
            disable-pagination
          >
            <template #[`item.name`]="{ item }">
              {{ item.name ? item.name : '-' }}
            </template>
            <template #[`item.createdAt`]="{ item }">
              {{ new Date(item.createdAt).toLocaleString() }}
            </template>
          </v-data-table>
        </ui-table-pagination>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  ObatPublicData,
  PaginationResult,
  MedicinePublicApi,
} from '@inatti/shared/api-nuxt'
import { UiTablePagination } from '@inatti/shared/ui'

@Component({ components: { UiTablePagination } })
export default class ObatPublicComponent extends Vue {
  headers = [
    {
      text: 'Id',
      align: 'start',
      sortable: false,
      value: 'id',
    },
    { text: 'Nama Obat', value: 'name' },
    { text: 'Tanggal Input', value: 'createdAt' },
  ]

  tableData = []
  paginationResults = {} as PaginationResult<ObatPublicData>
  lastParams = {
    'paginate[limit]': 10,
  }

  medicinePublicApi!: MedicinePublicApi
  mounted() {
    this.medicinePublicApi = new MedicinePublicApi(this.$axios)
    this.fetchObatDataList()
    ;(this.$refs.tablePagination as Vue & { onChange: () => void }).onChange()
  }

  get numberCount() {
    return this.lastParams['paginate[limit]'] * this.paginationResults.page
  }

  async fetchObatDataList(params: any = {}) {
    try {
      const response = await this.medicinePublicApi.getList(params)
      this.tableData = response.results
      this.paginationResults = response
    } catch (error) {}
  }
}
</script>
