<template>
  <v-autocomplete
    v-model="form"
    v-bind="$attrs"
    :items="apotekList"
    label="Apotek"
    item-text="name"
    item-value="id"
    multiple
    clearable
    outlined
    dense
  />
</template>

<script lang="ts">
import { ApotekApi } from '@inatti/shared/api-nuxt';
import { Component, Vue, Watch, Prop } from 'nuxt-property-decorator';

@Component({})
export default class AutocompleteApotek extends Vue {
  @Prop() value!: any;
  @Prop() apotekGroup!: any;
  apotekApi!: ApotekApi;

  apotekList = [];

  get form() {
    return this.value;
  }

  set form(val: any) {
    this.$emit('input', val);
  }

  @Watch('apotekGroup', {immediate: true})
  onChangeHq(val) {
    if (val.length !== 1) return;
    this.fetchApotekOptions(val[0]);
  }

  mounted() {
    this.apotekApi = new ApotekApi(this.$axios);
  }

  async fetchApotekOptions(apotekGroup: string) {
    try {
      const filter = {
        filterApotekGroup: apotekGroup,
      };
      const resp = await this.apotekApi.get(filter);
      this.apotekList = resp.results;
    } catch (err) {}
  }
}
</script>
