<template>
  <v-autocomplete
    v-model="form"
    v-bind="$attrs"
    :items="apotekGroupList"
    label="Unit Bisnis"
    item-text="name"
    item-value="id"
    :multiple="multiple"
    clearable
    outlined
    dense
  />
</template>

<script lang="ts">
import { ApotekGroupApi } from '@inatti/shared/api-nuxt';
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator';
import { validateOptsAgainstSchema } from 'nx/src/utils/params';

@Component({})
export default class AutocompleteApotekGroup extends Vue {
  @Prop() value!: any;
  @Prop({type: Boolean, default: true})
  multiple: boolean
  @Prop() headoffice!: any;
  apotekGrupApi!: ApotekGroupApi;

  apotekGroupList = [];

  get form() {
    return this.value;
  }

  set form(val: any) {
    this.$emit('input', val);
  }

  @Watch('headoffice', { immediate: true })
  onChangeHq(val) {
    if (val === null) return
    if (typeof val === 'string') {
      this.fetchApotekGrupOptions(val);
    } else {
      if (val.length !== 1) return;
      this.fetchApotekGrupOptions(val[0]);
    }
  }

  mounted() {
    this.apotekGrupApi = new ApotekGroupApi(this.$axios);
  }

  async fetchApotekGrupOptions(headoffice: string) {
    try {
      this.apotekGroupList = await this.apotekGrupApi.get(false, headoffice);
    } catch (err) {
      console.log(err);
    }
  }
}
</script>
