<template>
  <v-autocomplete
    v-model="form"
    v-bind="$attrs"
    :items="headofficeList"
    label="Head Quarter"
    item-text="name"
    item-value="id"
    :multiple="multiple"
    clearable
    outlined
    dense
  ></v-autocomplete>
</template>

<script lang="ts">
import { ApotekHeadofficeApi } from '@inatti/shared/api-nuxt';
import { Component, Vue, Prop } from 'nuxt-property-decorator';

@Component({})
export default class AutocompleteHeadoffice extends Vue {
  @Prop() value!: any;
  @Prop({type: Boolean, default: true})
  multiple: boolean

  apotekHeadofficeApi!: ApotekHeadofficeApi;
  headofficeList = [];

  get form() {
    return this.value;
  }

  set form(val: any) {
    this.$emit('input', val);
  }

  mounted() {
    this.apotekHeadofficeApi = new ApotekHeadofficeApi(this.$axios);
    this.fetchHeadofficeOptions();
  }

  async fetchHeadofficeOptions() {
    try {
      this.headofficeList = await this.apotekHeadofficeApi.getList();
    } catch (err) {}
  }
}
</script>
