<template>
  <div>
    <v-form ref="form">
      <v-text-field
        v-model="form.fullname"
        :rules="[formRequire]"
        name="fullname"
        outlined
        dense
        label="Nama Lengkap"
        clearable
      />
      <v-text-field
        v-model="form.username"
        dense
        :rules="[formRequire, formNospace]"
        name="username"
        outlined
        label="Username"
        persistent-hint
        clearable
      />
      <v-text-field
        v-model="form.email"
        name="email"
        :rules="emailFieldRule"
        outlined
        dense
        label="Email"
        clearable
      />
      <v-select
        v-model="form.roleId"
        :rules="[formRequire]"
        label="Role"
        outlined
        dense
        :items="userRoles"
        item-text="name"
        item-value="id"
        :loading="isLoadingRole"
      />
      <div v-if="form.roleId == 2">
        <v-alert dense type="warning" v-if="apotekGroups.length === 0">
          <span class="d-flex align-center">
            <p class="ma-0">Tambahkan Unit Bisnis!</p>
            <v-btn
              small
              depressed
              outlined
              class="ml-auto"
              @click="$router.push('/apotek-group/list')"
              >Tambah Unit Bisnis</v-btn
            >
          </span>
        </v-alert>
        <v-select
          v-else
          v-model="form.apotekGroupIds"
          :rules="[formRequire]"
          label="Unit Bisnis"
          multiple
          clearable
          outlined
          dense
          :items="apotekGroups"
          item-text="name"
          item-value="id"
          :loading="isLoadingRole"
        />
      </div>
      <div v-if="!isFormAdd">
        <v-btn
          v-if="!isEditPassword"
          depressed
          color="primary"
          @click="isEditPassword = true"
          >Ganti Password</v-btn
        >
        <div v-else>
          <v-btn depressed class="mb-5" @click="isEditPassword = false">
            Batal Ganti Password</v-btn
          >
          <v-text-field
            v-model="form.password"
            dense
            :rules="[formRequire, formPassword.minChar]"
            name="password"
            outlined
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            label="Password"
            persistent-hint
            @click:append="showPassword = !showPassword"
          />
          <v-text-field
            v-model="form.passwordConfirm"
            dense
            :rules="[
              formRequire,
              formPassword.minChar,
              form.passwordConfirm === form.password ||
                'Password dan Konfirmasi password tidak sama',
            ]"
            name="password"
            outlined
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            label="Konfirmasi Password"
            persistent-hint
            @click:append="showPassword = !showPassword"
          />
        </div>
      </div>
      <div v-else>
        <v-text-field
          v-model="form.password"
          dense
          :rules="[formRequire, formPassword.minChar]"
          name="password"
          outlined
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Password"
          persistent-hint
          @click:append="showPassword = !showPassword"
        />
        <v-text-field
          v-model="form.passwordConfirm"
          dense
          :rules="[
            formRequire,
            formPassword.minChar,
            form.passwordConfirm === form.password ||
              'Password dan Konfirmasi password tidak sama',
          ]"
          name="password"
          outlined
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Konfirmasi Password"
          persistent-hint
          @click:append="showPassword = !showPassword"
        />
      </div>
    </v-form>
    <v-alert
      v-model="alert.isShow"
      :type="alert.type"
      dismissible
      dense
      outlined
    >
      {{ alert.msg }}
    </v-alert>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component
export default class Form extends Vue {
  @Prop({ type: [Object] })
  value!: object;

  @Prop({ type: Object })
  alert!: object;

  @Prop({ type: Boolean, default: false })
  isFormAdd!: boolean;

  @Prop({ type: Boolean, default: false })
  isLoadingRole!: boolean;

  @Prop({ type: Array, default: () => [] })
  userRoles!: any;

  @Prop({ type: Array, default: () => [] })
  apotekGroups!: any;

  showPassword: Boolean = false;
  confirmPassword: Boolean = false;
  isEditPassword: Boolean = false;

  get form(): any {
    return this.value;
  }

  set form(val) {
    this.$emit('input', val);
  }

  $utils: any;
  formRequire = (v: any) => !!v || 'Form ini harus di isi';
  formNospace = (v: any) => (!v.includes(' ')) || 'Tidak boleh ada Spasi';
  formPassword = {
    minChar: (v: any) => (v && v.length > 7) || 'Password minimal 8 karakter',
  };

  emailFieldRule = [
    (v: any) => this.$utils.emailFormatRule(v) || 'Email Format Tidak Valid',
  ];

  $refs = {
    form: {} as any,
  };

  validateForm() {
    return this.$refs.form.validate();
  }

  oldValue = {};

  appendOldValue(payload: object) {
    this.oldValue = payload;
  }

  isDirty() {
    if (JSON.stringify(this.oldValue) === JSON.stringify(this.value)) {
      return false;
    }
    return true;
  }
}
</script>
