<template>
  <v-form ref="form" lazy-validation>
    <v-alert type="info" :value="showAlert" dense text>
      Akun anda telah dibuat. Login untuk menggunakan Aplikasi InaTTI.
    </v-alert>
    <div class="text-subtitle-1 font-weight-medium">Nomor Telepon</div>
    <ui-form-select-phone-code
      data-cy="form-phone-number-login"
      v-model="phoneNumber"
      :hide-label="true"
    />
    <div class="mt-4">
      <div class="text-subtitle-1 font-weight-medium">Password</div>
      <v-text-field
        v-model="profile.password"
        :rules="rules.password"
        messages="Forgot Password?"
        placeholder="Password"
        hide-details
        outlined
        dense
        :type="isShowPassword ? 'text' : 'password'"
        :append-icon="isShowPassword ? 'mdi-eye-off-outline' : 'mdi-eye'"
        data-cy="form-password"
        @click:append="isShowPassword = !isShowPassword"
      />
    </div>
    <div class="d-flex justify-end mt-1">
      <NuxtLink
        class="text-right caption"
        style="color: #7f898c"
        to="/forget-pass/account"
      >
        Forgot Password?
      </NuxtLink>
    </div>
    <div>
      <v-alert v-model="alert.status" dense outlined type="warning">
        {{ alert.message }}
      </v-alert>
    </div>
    <v-card-actions>
      <v-btn
        color="primary"
        dark
        block
        depressed
        :loading="loading"
        data-cy="btn-login"
        @click="userLogin"
      >
        Login
      </v-btn>
    </v-card-actions>
  </v-form>
</template>

<script>
export default {
  props: {
    showAlert: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      profile: {
        username: null,
        password: null,
      },
      phoneNumber: '',

      rules: {
        phoneNumber: [
          (v) => !!v || 'Masukkan No. Telepon',
          (v) => (v && v.length <= 12) || 'No. Telepon maks 12 karakter',
        ],
        password: [(v) => !!v || 'Masukkan password'],
      },

      loader: null,
      loading: false,
      alert: {
        status: false,
        message: null,
      },
      isShowPassword: false,
    }
  },

  methods: {
    async userLogin() {
      this.loading = true
      const { next } = this.$route.query
      if (!this.$refs.form.validate()) {
        this.alert.status = true
        this.alert.message = 'Mohon isi No. Telepon dan password.'
        this.loading = false
        return false
      }
      try {
        await this.$auth.loginWith('local', {
          data: {
            username: this.phoneNumber,
            password: this.profile.password,
          },
        })
        this.$router.push(next || '/beranda')
      } catch (err) {
        this.alert.status = true
        if(!err.response) return;
        switch (err.response.data.name) {
          case 'UserNotFoundException':
            this.alert.message = 'No. Telepon belum terdaftar'
            break
          case 'PasswordIncorrectException':
            this.alert.message = 'Password yang dimasukkan salah'
            break
          default:
            this.alert.message =
              'No. Telepon tidak terdaftar atau password salah'
        }
      } finally {
        this.loading = false
      }
    },
  },
}
</script>
