<template>
  <v-form ref="form" lazy-validation>
    <div class="text-subtitle-1 font-weight-medium">Nama Lengkap</div>
    <div class="mt-1">
      <v-text-field
        data-cy="form-fullname-register-user"
        v-model="profile.fullname"
        :rules="rules.name"
        outlined
        dense
      />
    </div>
    <div
      v-if="profile.sendOtpTo === 'email'"
      class="text-subtitle-1 font-weight-medium"
    >
      E-mail
    </div>
    <div v-if="profile.sendOtpTo === 'email'">
      <v-text-field
        v-model="profile.email"
        :rules="rules.email"
        data-cy="form-email-register-user"
        placeholder="emailanda@gmail.com"
        outlined
        dense
      />
    </div>
    <div class="text-subtitle-1 font-weight-medium">
      Nomor HP (Whatsapp Aktif)
    </div>
    <ui-form-select-phone-code
      data-cy="form-phone-number-register"
      v-model="profile.phonenumber"
      :hide-label="true"
    />
    <div class="mt-4">
      <div class="text-subtitle-1 font-weight-medium">Password</div>
      <v-text-field
        v-model="profile.password"
        :rules="rules.password"
        placeholder="Password"
        data-cy="form-password-register-user"
        outlined
        dense
        :type="isShowPassword ? 'text' : 'password'"
        :append-icon="isShowPassword ? 'mdi-eye-off-outline' : 'mdi-eye'"
        @click:append="isShowPassword = !isShowPassword"
      />
      <v-text-field
        v-model="profile.passwordConfirm"
        :rules="rules.passwordConfirm"
        placeholder="Ketik ulang Password"
        outlined
        data-cy="form-password-confirm-register-user"
        dense
        :type="isShowPassword ? 'text' : 'password'"
        :append-icon="isShowPassword ? 'mdi-eye-off-outline' : 'mdi-eye'"
        @click:append="isShowPassword = !isShowPassword"
      />
    </div>

    <div class="text-subtitle-1 font-weight-medium">
      Kirim OTP ke (Pilih salah satu)
    </div>
    <div class="d-flex align-center">
      <v-radio-group v-model="profile.sendOtpTo" row class="ml-2">
        <v-radio value="email">
          <template #label>
            <div
              data-cy="form-otp-option-email-register"
              class="body-2 text ml-1"
            >
              E-mail
            </div>
          </template>
        </v-radio>
        <v-radio value="whatsapp">
          <template #label>
            <div
              data-cy="form-otp-option-whatsapp-register"
              class="body-2 text ml-1"
            >
              Whatsapp
            </div>
          </template>
        </v-radio>
      </v-radio-group>
    </div>
    <div>
      <v-alert v-model="alert.status" dense outlined type="warning">
        {{ alert.message }}
      </v-alert>
    </div>
    <v-card-actions>
      <v-btn
        color="primary"
        :loading="loading"
        block
        depressed
        @click="userRegister"
      >
        Daftar
      </v-btn>
    </v-card-actions>
  </v-form>
</template>

<script>
import { UserAuthApi } from '@inatti/shared/api-nuxt'
export default {
  data() {
    return {
      rules: {
        name: [(v) => !!v || 'Masukkan nama dengan lengkap'],

        email: [
          (v) => !!v || 'Masukkan E-mail',
          (v) => /.+@.+\..+/.test(v) || 'E-mail tidak valid',
        ],

        phoneNumber: [
          (v) => !!v || 'Masukkan No. Telepon',
          (v) => (v && v.length <= 12) || 'No. Telepon maks 12 karakter',
        ],

        password: [(v) => !!v || 'Masukkan password'],
        passwordConfirm: [
          (v) => !!v || 'Masukkan password',
          (v) =>
            v === this.profile.password || 'Password konfirmasi tidak sama',
        ],

        agree: [
          (v) => v === true || 'Anda belum menyetujui Kebijakan dan Privasi',
        ],
      },

      alert: {
        status: false,
        message: null,
      },
      loading: false,

      profile: {
        fullname: null,
        email: null,
        phonenumber: null,
        password: null,
        passwordConfirm: null,
        sendOtpTo: 'whatsapp',
      },
      isShowPassword: false,
      userAuthApi: null,
    }
  },
  mounted() {
    this.userAuthApi = new UserAuthApi(this.$axios)
  },
  methods: {
    async userRegister() {
      this.loading = true
      const { next } = this.$route.query
      if (!this.$refs.form.validate()) {
        this.alert.status = true
        this.alert.message = 'Mohon isi data registrasi dengan lengkap.'
        this.loading = false
        return false
      }
      const params = {
        fullname: this.profile.fullname,
        email: this.profile.email,
        phonenumber: this.profile.phonenumber,
        password: this.profile.password,
        sendOtpTo: this.profile.sendOtpTo,
      }
      try {
        const result = await this.userAuthApi.register(params)
        if (result.access_token) {
          await this.$auth.setUserToken(result.access_token)
          this.$router.push(next ? `/auth/otp?next=${next}` : '/auth/otp')
        }
      } catch (err) {
        this.alert.status = true
        this.alert.message = 'No. Telepon anda telah terdaftar.'
      } finally {
        this.loading = false
      }
    },
  },
}
</script>
