<template>
  <mobile-appbar-title>
    <div class="text-body-1">
      {{ $store.state.testcovid.typeTest ? $store.state.testcovid.typeTest.name : null }}
    </div>
    <div class="caption">
      <span>
        {{ $store.state.testcovid.dateTest ? $dateFns.format($store.state.testcovid.dateTest, 'dd/MM/yyyy') : null }}.
      </span>
      {{ $store.state.testcovid.amountPatient }} Orang
    </div>
  </mobile-appbar-title>
</template>