<template>
  <v-stepper alt-labels>
    <v-stepper-header>
      <v-stepper-step step="1">
        Daftar
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="2">
        Review
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">
        Bayar
      </v-stepper-step>
    </v-stepper-header>
  </v-stepper>
</template>