<template>
  <mobile-layout-body>
    <div style="background-color: #f5f5f5">
      <v-app-bar
        v-if="appBar"
        app
        color="secondary"
        style="z-index: 10"
        elevation="0"
      >
        <v-app-bar-nav-icon style="position: absolute" @click="$router.back()">
          <v-icon color="white"> mdi-chevron-left </v-icon>
        </v-app-bar-nav-icon>
        <v-toolbar-title style="width: 100%">
          <slot name="title" />
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <slot name="side-app-bar-content" />
      </v-app-bar>

      <div v-if="hasSlotData">
        <slot name="toolbar" />
      </div>

      <div style="min-height: 40vh" class="mb-14">
        <slot />
      </div>
     
      <common-bottom-nav-mobile />
    </div>
  </mobile-layout-body>
</template>

<script>
export default {
  props: {
    appBar: {
      default: true,
      require: false,
      type: Boolean,
    },
  },

  computed: {
    hasSlotData() {
      return this.$slots.toolbar
    },
  },
}
</script>
