<template>
  <div>
    <common-toolbar> Proses Input NAR </common-toolbar>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col md="6" cols="12">
            <div>Proses {{ selectedSample.length }} data sample</div>
            <v-list>
              <v-list-item
                v-for="(sample, index) in selectedSample"
                :key="index"
                :class="getClassList(sample)"
              >
                <v-list-item-action>
                  <v-tooltip bottom>
                    <template #activator="{ on, attrs }">
                      <v-icon
                        v-bind="attrs"
                        @click="removeSample(index)"
                        v-on="on"
                      >
                        mdi-close
                      </v-icon>
                    </template>
                    <span> Hapus sample </span>
                  </v-tooltip>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title class="d-flex justify-space-between">
                    {{ sample.patient.name }}
                    <span v-if="sample.narSample">
                      <v-tooltip v-if="sample.narSample.isSuccess" bottom>
                        <template #activator="{ on, attrs }">
                          <v-icon
                            color="yellow darken-4"
                            v-bind="attrs"
                            v-on="on"
                          >
                            mdi-alert
                          </v-icon>
                        </template>
                        <span>
                          Sample ini telah diinput ke NAR PCR, aktifkan "Paksa
                          kirim hasil" untuk tetap kirim hasil
                        </span>
                      </v-tooltip>
                    </span>
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    <div class="d-flex justify-space-between">
                      <div>
                        <div>
                          {{ sample.patient.datebirth }}. Nik :
                          {{ sample.patient.nik }}. Id : {{ sample.id }}
                        </div>
                        <common-result-chip
                          v-model="sample.resultSwab"
                        ></common-result-chip>
                      </div>
                      <div v-if="sample.nar" class="text-right">
                        <v-chip
                          :color="sample.nar.isSuccess ? 'green' : 'red'"
                          class="white--text"
                          small
                        >
                          {{ sample.nar.isSuccess ? 'Berhasil' : 'Gagal' }}
                        </v-chip>
                        <div>
                          {{ sample.nar.message }}
                        </div>
                      </div>
                    </div>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-col>
          <v-col md="6" cols="12">
            <v-row>
              <v-col md="4">
                <div>
                  <v-text-field
                    v-model="SocketData.cookies"
                    :disabled="SocketData.isRunning"
                    label="Cookies"
                    placeholder="Masukkan Cookies"
                    dense
                  ></v-text-field>
                </div>
              </v-col>
              <v-col cols="8" class="d-flex">
                <div>
                  <div class="d-flex">
                    <v-btn
                      color="primary"
                      small
                      :disabled="!isFormValid || SocketData.isRunning"
                      @click="startSend"
                    >
                      Mulai
                    </v-btn>
                    <div class="ml-6">
                      <a
                        href="https://allrecord-antigen.kemkes.go.id/web/site/login#"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        Buka NAR ANTIGEN Disini
                      </a>
                    </div>
                  </div>
                  <div>
                    <v-tooltip bottom>
                      <template #activator="{ on, attrs }">
                        <v-checkbox
                          v-model="SocketData.isForce"
                          v-bind="attrs"
                          label="Paksa kirim hasil"
                          v-on="on"
                        ></v-checkbox>
                      </template>
                      <span>
                        Paksa kirim hasil walaupun sudah berstatus "SUCCESS"
                      </span>
                    </v-tooltip>
                  </div>
                </div>
              </v-col>
            </v-row>
            <v-sheet
              class="pa-3"
              color="blue-grey lighten-5"
              rounded
              elevation="0"
            >
              <div class="d-flex justify-space-between">
                <div class="mb-3 font-weight-bold text-body-1">
                  Log Proses <span @click="isDebug = !isDebug">NAR</span>
                  <span v-if="isDebug" class="ml-3 grey--text"> Debug ON </span>
                </div>
                <div class="text-right">
                  {{ SocketData.isConnected ? 'Connected' : 'Not Connected' }}
                </div>
              </div>
              <v-alert
                v-model="SocketData.isFinish"
                type="success"
                dense
                outlined
              >
                Selesai
              </v-alert>
              <div ref="listLogContainer" class="listlog--container">
                <ul>
                  <template v-for="(log, i) in SocketData.log">
                    <li
                      v-if="isShowLog(log)"
                      :key="i"
                      class="d-flex justify-space-between"
                    >
                      <div :class="getClassLog(log.type)">
                        {{ log.params }}
                      </div>
                      <div class="text-right text-subtitle-2">
                        {{ formatDate(log.timestamp) }}
                      </div>
                    </li>
                  </template>
                </ul>
              </div>
            </v-sheet>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { io, Socket } from 'socket.io-client'
import { PatientSwabDetailDTO } from '@inatti/shared/api-nuxt'

@Component
export default class NarProcessComponent extends Vue {
  created() {
    if (!this.selectedSample) {
      return this.$router.push('/')
    }
    if (this.selectedSample.length < 1) {
      return this.$router.push('/')
    }
  }

  get selectedSample(): PatientSwabDetailDTO.SwabDetail[] {
    return this.$store.state.narSample.selected ?? []
  }

  isDebug = false

  $helpers: any

  formatDate(date: any) {
    let formatted = this.$helpers.helperFormatDate(date)
    if (!formatted) return null
    return formatted.split(' ')[1]
  }

  colorLog = {
    log: '',
    success: 'green--text darken-2',
    error: 'orange--text darken-3',
    json: 'brown--text darken-2',
  }
  getClassLog(log: 'log' | 'success' | 'error' | 'json') {
    return this.colorLog[log]
  }
  getClassList(sample: any) {
    if (!sample.nar) return null
    return !sample.nar.isSuccess ? 'red lighten-4' : ''
  }

  SocketData = {
    cookies: null,
    isConnected: false,
    log: [] as any[],
    isRunning: false,
    isFinish: false,
    isForce: false,
  }
  get isFormValid() {
    return !!this.SocketData.cookies
  }
  isShowLog(log: { type: string; timestamp: string; params: string }) {
    if (log.type === 'json') {
      return this.isDebug
    } else {
      return true
    }
  }
  socket: null | Socket = null
  startSend() {
    const url = process.env.API_INATTI_REFERENCE + '/nar-antigen'
    this.socket = io(url)
    this.socket.emit('nar_antigen', {
      cookies: this.SocketData.cookies,
      isForce: this.SocketData.isForce,
      listSample: this.selectedSample.map((v) => v.id),
    })

    this.SocketData.isRunning = true

    this.socket.on('connect', () => {
      this.SocketData.isConnected = true
    })
    this.socket.on('finish', () => {
      this.SocketData.isFinish = true
      this.SocketData.isRunning = false
      this.socket?.close()
    })
    this.socket.on('updateSample', this.onUpdateSample)
    this.socket.on('close', () => {
      this.SocketData.isConnected = false
    })
    this.socket.on('disconnect', () => {
      this.SocketData.isConnected = false
    })

    this.socket.on('log', (data: any) => {
      this.SocketData.log.push(data)
    })
  }

  removeSample(index: number) {
    this.$store.commit('narSample/removeSampleAtIndex', index)
  }

  onUpdateSample(data: {
    sampleId: string
    isSuccess: boolean
    message?: string
  }) {
    this.$store.commit('narSample/updateStatusSample', data)
    this.logScrollToBottom()
  }

  testLog() {
    this.SocketData.log.push({
      params: 'hello ' + new Date().toLocaleString(),
      type: 'log',
      timestamp: new Date(),
    })
    this.logScrollToBottom()
  }

  logScrollToBottom() {
    const listLogContainer = this.$refs.listLogContainer as HTMLElement
    if (listLogContainer) {
      listLogContainer.scrollTop = listLogContainer.clientHeight + 100
    }
  }
}
</script>

<style lang="scss">
.listlog--container {
  max-height: calc(400px);
  overflow-y: scroll;
}
</style>
