<template>
  <section v-if="resultDetail">
    <common-template-header
      v-model="template"
      class="mt-8"
    />

    <p class="text-base text-center font-bold">
      HASIL LAPORAN TES CORONAVIRUS (COVID-19)
      <br>
      CORONAVIRUS (COVID-19) RESULT ANTIGEN
    </p>

    <section class="grid grid-flow-col text-xs mt-7 mb-5">
      <table width="100%">
        <tbody>
          <tr>
            <td>Nama Pasien / Name</td>
            <td>:</td>
            <td class="font-bold">{{ patient.name }}</td>
          </tr>
          <tr>
            <td>No. Identitas / Patient ID</td>
            <td>:</td>
            <td>{{ patient.id }}</td>
          </tr>
          <tr>
            <td>Kebangsaan / Nationality</td>
            <td>:</td>
            <td>{{ patient.nationality }}</td>
          </tr>
          <tr>
            <td class="font-bold">Sampling Point</td>
            <td>:</td>
            <td class="font-bold">{{ swabDetail.samplingPoint }}</td>
          </tr>
          <tr>
            <td>Pengambilan Spesimen</td>
            <td>:</td>
            <td>{{ swabDetail.receivingDate }}</td>
          </tr>
          <tr>
            <td class="pl-2 italic">Receiving date</td>
          </tr>
        </tbody>
      </table>
      <table width="100%">
        <tbody>
          <tr>
            <td>Jenis Kelamin / Gender</td>
            <td>:</td>
            <td>
              {{
                resultDetail.patient.gender === 'lk'
                  ? 'Laki-laki (Male)'
                  : 'Perempuan (Female)'
              }}
            </td>
          </tr>
          <tr>
            <td>Tgl. Lahir / DOB</td>
            <td>:</td>
            <td>{{ patient.datebirth }}</td>
          </tr>
          <tr>
            <td>Umur / Age</td>
            <td>:</td>
            <td>{{ patient.age }} Tahun</td>
          </tr>
          <tr>
            <td colspan="3" style="height: 16px" />
          </tr>
          <tr>
            <td>Tanggal hasil keluar</td>
            <td>:</td>
            <td>{{ swabDetail.resultDate }}</td>
          </tr>
          <tr>
            <td class="pl-2 italic">Result date</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <table class="text-center text-xs" width="100%">
        <thead
          class="
            font-bold
            border-l-0 border-r-0 border-t border-b border-black
            bg-indigo-100
          "
        >
          <tr>
            <td class="py-2.5">Test Name</td>
            <td class="py-2.5">Result</td>
            <td class="py-2.5">Test Method</td>
          </tr>
        </thead>
        <tbody class="border-b border-black">
          <tr>
            <td class="py-3.5">SARS Cov-2</td>
            <td class="py-3.5 capitalize">{{ swabDetail.swabResult }}</td>
            <td class="py-3.5">Real Time RT-ANTIGEN</td>
          </tr>
          <tr class="text-left border-t border-black">
            <td colspan="3">
              Bahwa hasil tes Coronavirus (COVID-19) adalah/That the Corona
              Virus (COVID-19) test result is:
              <span class="font-bold capitalize">
                {{ swabDetail.swabResult }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="mt-10">
      <SectionNote :data="noteUnisonData" />
    </section>

    <section class="mt-32 flex justify-between">
      <div class="text-small">
        <img class="w-32" :src="signatureQrCode.image" alt="QRCode">
      </div>
      <div class="text-small mr-9">
        <div class="text-center">
          <p> Dokter Penanggung Jawab </p>
          <div class="italic">Doctor in charge</div>
        </div>
        <div class="text-center">
          <img id="stemptel-img" class="mx-auto" :src="template.signaturImage ? template.signaturImage : require(`~/assets/images/antigen/signature.png`)" width="150" height="150">
        </div>
        <div class="text-center">
          <div class="underline">
            {{ template.doctorName ? template.doctorName : 'dr. Tegar Wibawa R.' }}
          </div>
          <div>
            <i>{{ template.doctorSubname ? template.doctorSubname : 'General Practitioner' }}</i>
          </div>
        </div>
      </div>
    </section>

    <common-footer
      :name="template.refName ? template.refName : 'RS. Kartika Pulo Mas'"
      :detail="template.refDetail ? template.refDetail : 'Jl. Pulo Mas Timur K No.2 RT4/RW.14, Kayu Putih, Kec. Pulo Gadung, Kota Jakarta Timur, Daerah Khusus Ibukota'"
    />
  </section>
</template>
<script lang="ts">
import { Context } from '@nuxt/types'
import { unisonDataTable, dataNoteUnison, dataRemarkUnison } from 'apps/template-pdf/utils/data'
import { RefFetchData } from 'apps/template-pdf/utils/fetch-data/RefFetchData'
import { convertDate, convertDateBirth } from 'apps/template-pdf/utils/date'

const getAge = (datebirth: string) => {
  if (!datebirth) { return null }
  const dateBirth = new Date(datebirth)
  // kalkulasi perbedaan bulan dari tanggal hari ini dalam satuan waktu
  const monthDifference = Date.now() - dateBirth.getTime()
  // konversi monthDifference ke date, lalu di ekstrak dalam bentuk tahun
  const ageByUTCDate = new Date(monthDifference).getUTCFullYear()
  const age = Math.abs(ageByUTCDate - 1970)
  return age
}

export default {
  async asyncData (context: Context) {
    const { idswab, idsrc, tz } = context.query
    const refFetchData = new RefFetchData(context.$axios)
    const resultDetail = await refFetchData.fetchDetail({
      type: 'antigen',
      idSwab: idswab as string,
      idRef: idsrc as string
    })

    let template = {}
    template = await refFetchData.getTemplateInfo({
      type: 'antigen',
      idRef: idsrc + ''
    })

    if (!resultDetail) {
      return null
    }

    let patient = {}
    if (resultDetail.patient) {
      patient = {
        name: resultDetail?.patient.name,
        id: resultDetail?.patient.nik,
        nationality: resultDetail?.patient.type === 'nik' ? 'WNI' : 'WNA',
        gender:
          resultDetail?.patient.gender === 'lk'
            ? 'Laki-laki (Male)'
            : 'Perempuan (Female)',
        datebirth: resultDetail?.patient?.datebirth
          ? convertDateBirth(resultDetail.patient.datebirth)
          : '-',
        age: resultDetail?.patient.datebirth ? getAge(resultDetail.patient.datebirth) : '-'
      }
    }

    const swabDetail = {
      samplingPoint: resultDetail?.refTarget.name,
      receivingDate: resultDetail.swabDate
        ? convertDate(resultDetail.swabDate, tz)
        : '-',
      resultDate: resultDetail.resultSentAt
        ? convertDate(
          resultDetail.resultSentAt,
          tz
        )
        : '-',
      swabResult: resultDetail?.resultSwab
    }

    const qrDocument = await refFetchData.getQrCode()
    return {
      patient,
      swabDetail,
      resultDetail,
      signatureQrCode: qrDocument,
      template
    }
  },
  data () {
    return {
      dataTable: unisonDataTable,
      noteUnisonData: dataNoteUnison,
      remarkUnisonData: dataRemarkUnison
    }
  }
}
</script>
