<template>
  <div>
    <common-toolbar>
      <div>Patient Medical Record</div>
    </common-toolbar>
    <feature-telefarmasi-database-pmr-detail
      @on-success-create-medical-record="(e) => onSuccessCreateMedicalRecord(e)"
      :patient-id="patientId"
      :pmr-id="pmrId"
      :branch-id="apotekId"
      :is-edit="isEdit"
      :readonly="false"
      :apotekActive="apotekActive"
      :apotekerStatus="apotekerStatus.status"
    />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class MedicalRecordForm extends Vue {
  get isEdit() {
    return !!this.$route.query.pmrId
  }

  get apotekStatus() {
    return this.$store.state.apotekerStore.status
  }

  get apotekActive() {
    return !this.apotekStatus.isApotekActice.status
  }

  get pmrId() {
    return this.$route.query.pmrId
  }

  get apotekerStatus() {
    return this.$store.state.apotekerStore.status.isApotekerActive || {}
  }

  get patientId() {
    return this.$route.params.id
  }

  get apotekId() {
    return this.$route.query.apotekId
  }

  onSuccessCreateMedicalRecord(data: any) {
    this.$router.back()
  }
}
</script>
