<template>
  <div>
    <common-toolbar no-back>
      Pengaturan Notifikasi WA
      <template #control>
        <v-btn
          color="primary"
          :loading="isLoadingSaveSetting"
          @click="onSaveSetting"
        >
          Simpan Pengaturan
        </v-btn>
      </template>
    </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text v-if="form">
        <v-alert
          v-if="alertForm.isShow"
          :icon="alertForm.icon"
          :type="alertForm.type"
          dismissible
        >
          {{ alertForm.msg }}
        </v-alert>
        <v-row>
          <v-col md="6" cols="12">
            <span class="subtitle-1 font-weight-medium">
              Form Notifikasi Pendaftaran Tes
            </span>
            <v-divider class="mb-4 mt-3" />
            <v-row class="mt-2">
              <v-col md="6" cols="12">
                <v-textarea
                  v-model="form.TEMPLATE_NOTIFY_SUCCESS_REGISTER_TEST_WA"
                  auto-grow
                  label="Isi Pesan Whatsapp"
                  row-height="80"
                  outlined
                ></v-textarea>
              </v-col>
              <v-col md="6" cols="12">
                <common-card-content
                  :max-length="300"
                  title="Pratinjau Pesan Whatsapp"
                  :value="
                    outputPreview(form.TEMPLATE_NOTIFY_SUCCESS_REGISTER_TEST_WA)
                  "
                />
              </v-col>
            </v-row>
          </v-col>
          <v-col md="6" cols="12">
            <span class="subtitle-1 font-weight-medium">
              Form Notifikasi Hasil Tes
            </span>
            <v-divider class="mb-4 mt-3" />
            <v-row class="mt-2">
              <v-col md="6" cols="12">
                <v-textarea
                  v-model="form.TEMPLATE_NOTIFY_WA"
                  auto-grow
                  label="Isi Pesan Whatsapp"
                  row-height="80"
                  outlined
                ></v-textarea>
              </v-col>
              <v-col md="6" cols="12">
                <common-card-content
                  :max-length="300"
                  title="Pratinjau Pesan Whatsapp"
                  :value="outputPreview(form.TEMPLATE_NOTIFY_WA)"
                />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col md="6" cols="12">
            <span class="subtitle-1 font-weight-medium">
              Form Notifikasi Lupa No. Order
            </span>
            <v-divider class="mb-4 mt-3" />
            <v-row class="mt-2">
              <v-col md="6" cols="12">
                <v-textarea
                  v-model="form.TEMPLATE_NOTIFY_WA_FORGET_ORDER"
                  auto-grow
                  label="Isi Pesan Whatsapp"
                  row-height="80"
                  outlined
                ></v-textarea>
              </v-col>
              <v-col md="6" cols="12">
                <common-card-content
                  :max-length="300"
                  title="Pratinjau Pesan Whatsapp"
                  :value="outputPreview(form.TEMPLATE_NOTIFY_WA_FORGET_ORDER)"
                />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { AdminApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class WhatsappServiceComponent extends Vue {
  form = {
    TEMPLATE_NOTIFY_SUCCESS_REGISTER_TEST_WA: '',
    TEMPLATE_NOTIFY_WA: '',
    TEMPLATE_NOTIFY_WA_FORGET_ORDER: '',
  }
  isLoading = false
  isLoadingSaveSetting = false
  alertForm = {
    isShow: false,
    msg: '',
    type: '',
  }
  adminApi!: AdminApi

  mounted() {
    this.adminApi = new AdminApi(this.$axios)
    this.fetchTemplateNotify()
  }

  outputPreview(val: string) {
    if (val) {
      val = val
        .replaceAll('{name}', 'Rio')
        .replaceAll('{nik}', '1408020109990001')
        .replaceAll('{dateTest}', '04-03-2022')
        .replaceAll('{nameFaskes}', 'Injabar-DDSM (Bundling Tiket)')
        .replaceAll(
          '{urlTrx}',
          'https://dev-user.inatti.id/testcovid/order/detail/2a42b130-524c-40b5-b762-1c9bd316e4ab'
        )
        .replaceAll('{trxId}', 'BG17283')
        .replaceAll('{greeting}', 'Pagi')
        .replaceAll('{typeTest}', 'Antigen')
        .replaceAll(
          '{urlDetail}',
          'https://app.inatti.id/download-pdf/6c5aad49-2d43-4004-b786-a30584e51efb '
        )
      return val
    }
    return val
  }

  showAlert(type: string, msg: string) {
    this.alertForm = {
      isShow: true,
      msg,
      type,
    }
  }

  async onSaveSetting() {
    try {
      this.isLoadingSaveSetting = true
      await this.adminApi.updateAppConfigNotification(this.form)
      this.showAlert('success', 'Sukses Update Pengaturan Notifikasi')
    } catch (error) {
      this.showAlert('warning', 'Gagal Update Pengaturan Notifikasi. ' + error)
    } finally {
      this.isLoadingSaveSetting = false
    }
  }

  async fetchTemplateNotify() {
    try {
      this.isLoading = true
      const resp = await this.adminApi.getNotificationTemplates()
      const reoganize = new Map()
      let index = 0
      while (resp.length !== index) {
        reoganize.set(resp[index].name, resp[index].value)
        index++
      }
      const data = Object.fromEntries(reoganize)
      this.form = {
        ...this.form,
        ...data,
      }
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }
}
</script>
