<template>
  <div>
    <v-row
      justify="center"
      align-content="start"
      align-content-md="center"
      class="h-100vh"
    >
      <v-col md="6" col="12">
        <v-card class="ma-3" height="400">
          <v-card-title>
            <h3>Pilih Reference</h3>
          </v-card-title>
          <v-card-text class="overflow-auto" style="max-height: 300px">
            <v-text-field
              v-model="search"
              class="mt-2"
              label="Cari Reference"
              outlined
            ></v-text-field>
            <v-progress-circular
              v-if="isLoading"
              indeterminate
              color="primary"
            />
            <v-list v-else dense class="overflow-auto">
              <v-list-item
                v-for="(ref, i) in filterReference"
                :key="i"
                @click="saveReference(ref)"
              >
                <v-list-item-avatar color="primary" class="white--text">
                  {{ ref.refId.name[0] }}
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{ ref.refId.name }}</v-list-item-title>
                  <v-list-item-subtitle>
                    <strong>
                      {{ ref.roleId.name }}
                    </strong>
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    {{ ref.roleId.description }}
                  </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-list-item-action-text> Masuk </v-list-item-action-text>
                  <v-icon> mdi-arrow-right </v-icon>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <ui-common-snackbar-error />
  </div>
</template>
<script>
import Vue from 'vue'
import { UiCommonSnackbarError } from '@inatti/shared/ui'
import { ReferenceApi } from '@inatti/shared/api-nuxt'
import { AccountApi } from '@inatti/shared/api-nuxt'

export default Vue.extend({
  components: { UiCommonSnackbarError },
  layout: 'blank',
  data() {
    return {
      isLoading: true,
      listReference: null,
      search: null,
      accountApi: null,
    }
  },
  computed: {
    filterReference() {
      if (!this.listReference) return []
      if (!this.search) return this.listReference
      return this.listReference.filter((ref) => {
        return ref.refId.name.toLowerCase().includes(this.search.toLowerCase())
      })
    },
  },
  mounted() {
    this.fetchRef()
    this.accountApi = new AccountApi(this.$axios)
  },
  methods: {
    async fetchRef() {
      this.isLoading = true
      try {
        this.listReference = await new ReferenceApi(
          this.$axios
        ).getRegisteredRef()
      } finally {
        this.isLoading = false
      }
    },

    async fetchRoleWhenChooseApp(refId) {
      const axios = this.$axios
      const query = { refId }
      const context = {
        $axios: axios,
        query,
      }

      try {
        await this.$store.dispatch('permission/fetchRole', {
          context,
          force: true,
        })
      } catch (err) {
        console.log(err)
      }
    },

    async refetchToken(role) {
      const token = await this.accountApi.refetchToken(role.id)
      return await this.$auth.setUserToken(token)
    },

    async saveReference(role) {
      await this.fetchRoleWhenChooseApp(role.refId.id)
      await this.refetchToken(role)
      this.$router.replace({
        path: '/',
        query: {
          refId: role.refId.id,
        },
      })
    },
  },
})
</script>

<style></style>
