<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Menu Telefarmasi </mobile-appbar-title>
    </template>

    <div class="mt-16 grey--text text--darken-2">
      <div class="mt-3 pt-3 px-3 font-weight-bold">Menu Telefarmasi</div>
      <v-row class="ma-2">
        <v-col class="text-center">
          <common-card-menu
            :image="require('~/assets/icons/telefarmasi/faskes.svg')"
            text="Cari Faskes"
            to="/telefarmasi/apotek"
          />
        </v-col>
        <v-col class="text-center">
          <common-card-menu
            :image="require('~/assets/icons/telefarmasi/apoteker.svg')"
            text="Cari Apoteker"
            to="/telefarmasi/apoteker"
          />
        </v-col>
        <v-col class="text-center">
          <common-card-menu
            :image="require('~/assets/icons/telefarmasi/rekam_medis.svg')"
            text="Rekam Medis"
            to="/testcovid/relations?show=pmr"
          />
        </v-col>
      </v-row>
      <div class="mx-5 mt-md-4 mt-0 text-center text-subtitle-2 text-md-subtitle-1">
        Dengan fitur telefarmasi anda dapat lebih mudah menjangkau Apoteker,
        dimanapun dan kapanpun <span class="font-weight-bold text-decoration-underline"> gratis</span>.
      </div>
      <div class="mx-5 mt-3 text-center text-subtitle-2 text-md-subtitle-1">
        Perlu bantuan? Kunjungi
        <a href="https://inatti.id/help" target="_blank" class="text--info text-decoration-none"
          >Pusat Bantuan kami</a
        >
      </div>
    </div>
  </mobile-layout>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({
  layout: 'blank',
})
export default class Telefarmasi extends Vue {}
</script>
