<template>
  <div key="keyTemplate">
    <common-toolbar>
      <span> Detail Sesi Ekstraksi </span>
      <template v-if="!isReadOnly" #control>
        <div class="d-flex">
          <v-btn v-if="editMode" color="deep-orange darken-1 mr-3" @click="cancelEdit()">
            Batal
          </v-btn>
          <v-btn color="primary" :loading="isLoading" @click="saveSession()">
            Simpan
          </v-btn>
        </div>
      </template>
      <template v-else #control>
        <v-btn color="orange lighten-1" :loading="isLoading" @click="editSession()">
          Edit
        </v-btn>
      </template>
    </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <div>
          <v-alert
            v-model="alert.isShow"
            :type="alert.type"
            dismissible
            dense
            outlined
          >
            {{ alert.msg }}
          </v-alert>
        </div>
        <div class="d-flex">
          <v-text-field
            v-model="form.name"
            v-bind="defaultFormBind"
            label="Nama Sesi"
          />
          <v-spacer />
          <div v-if="isReadOnly">
            <v-switch
              v-model="IsExtracted"
              :disabled='disableSwitchExtract'
              :label="`${IsExtracted ? 'Sudah diekstrak' : 'Belum diekstrak'}`"
            ></v-switch>
            <div v-if="detailSession.dateExtracted">
              Diekstrak pada tanggal : {{ detailSession.dateExtracted | toLocale }}
            </div>
          </div>
        </div>
        <v-row>
          <v-col cols="12">
            <mapping-sample-table v-model="form.mapping" :predata="preDataMapping" :readonly="isReadOnly">
              <template #sidebar="{ on, attr }">
                <mapping-sample-sidebar :sample-available="[...form.sample, ...preDataSample]" v-bind="attr" v-on="on" />
              </template>
            </mapping-sample-table>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Cell } from '../../components/mappingSample/table.vue'
import { ReadExtractionDTO, ExtractionSessionDTO, PatientSwabDetailDTO } from '@inatti/shared/api-nuxt'

@Component
export default class DetailEkstraksiComponent extends Vue {
  created() {
    this.fetchSampleAvailable()
  }

  mounted() {
    if (this.$route.params.id === 'add') {
      this.isFormAdd = true
    } else {
      this.idSession = this.$route.params.id
      this.fetchDataExtraction()
      this.isFormAdd = false
    }
  }

  idSession = ''
  isFormAdd = false
  keyFormMappingSample = 0

  detailSession = {} as ReadExtractionDTO.Session

  isLoading = false
  defaultFormBind = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
  }

  form = {
    name: '',
    row: 8,
    col: 12,
    mapping: [] as Cell<PatientSwabDetailDTO.SwabDetail>[],
    sample: [] as any[],
  }

  preDataMapping:any = null
  preDataSample:any = null
  mappingReadonly = false;

  $snackbar:any

  alert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }

  get isReadOnly() {
    return !this.isFormAdd
  }

  setAlert(msg: string, type: string = 'warning') {
    this.alert = {
      isShow: true,
      type,
      msg,
    }
  }

  changeMapping(val:any){
    this.form.mapping = val
  }

  async fetchDataExtraction() {
    try {
      this.isLoading = true
      let idsession = this.idSession
      let idLab = this.$store.state.labStore.labId
      this.detailSession = await this.$axios.$get(
        '/api-lab/extraction/session/' + idsession + '?idlab=' + idLab
      )
      this.detailSessionToData()
    } catch (error) {
      console.log(error)
    }
    this.isLoading = false
  }

  detailSessionToData() {
    // map detail to data
    this.form.name = this.detailSession.name
    this.form.mapping = []
    this.detailSession.mapping.forEach((mapping: ReadExtractionDTO.Mapping) => {
      const cell = new Cell({col: +mapping.locateColumn, row: +mapping.locateRow})
      cell.data = mapping.sample
      this.form.mapping.push(cell)
    })
    this.preDataMapping = [...this.form.mapping]
    this.preDataSample = this.preDataMapping.map((v:any) => v.data)
    // re render component formMappingSample
    this.keyFormMappingSample++
  }

  async fetchSampleAvailable() {
    try {
      this.isLoading = true
      let idLab = this.$store.state.labStore.labId
      let result = await this.$axios.$get(
        'api-lab/extraction/sample-available?idlab=' + idLab
      )
      this.form.sample = result
    } catch (error) {
      console.log(error)
    }
    this.isLoading = false
  }

  validateForm(): boolean {
    if (this.form.mapping.length < 1) {
      this.setAlert('Mohon pilih minimal 1 sample untuk di mapping')
      return false
    }
    if (!this.form.name) {
      this.setAlert('Mohon isi nama sesi')
      return false
    }
    return true
  }

  saveSession() {
    if (!this.validateForm()) {
      return false
    }
    if(!this.editMode){
      this.addSession()
    } else {
      this.saveEditSession()
    }
  }

  async addSession(){
    let sessionDTO = new ExtractionSessionDTO()
    sessionDTO.name = this.form.name
    sessionDTO.rowTotal = this.form.row
    sessionDTO.columnTotal = this.form.col
    sessionDTO.lab = this.$store.state.labStore.labId
    sessionDTO.mapping = []
    for (const mapping of this.form.mapping) {
      const { row, col, data } = mapping
      if(!data){
        continue;
      }
      sessionDTO.mapping.push({
        locateRow: row,
        locateColumn: col,
        sample: data.id
      })
    }

    try {
      this.isLoading = true
      await this.$axios.$post('/api-lab/extraction/session', sessionDTO)
      this.$router.back()
    } catch (error) {
      console.log(error)
      alert(error)
    }
    this.isLoading = false
  }

  disableSwitchExtract = false
  async setAsExtracted(isExtract: '0' | '1'){
    try{
      let idSession = this.$route.params.id
      this.isLoading = true
      this.disableSwitchExtract = true
      const idlab = this.$store.state.labStore.labId
      await this.$axios.$patch(`/api-lab/extraction/session/${idSession}/extract?idlab=${idlab}&isExtract=${isExtract}`)
      await this.fetchDataExtraction();
    } catch(error){
      console.log(error);
    } finally {
      this.disableSwitchExtract = false
      this.isLoading = false
    }
  }

  get IsExtracted(){
    return this.detailSession.isExtracted
  }

  set IsExtracted(value: boolean){
    this.setAsExtracted(value ? '1' : '0')
  }

  oldMapping:Cell<PatientSwabDetailDTO.SwabDetail>[] = []
  editMode = false
  editSession(){
    this.isFormAdd = true
    this.editMode = true
    // @ts-ignore
    this.oldMapping = [...this.form.mapping.map(v => ({...v}))] // deep clone
  }

  keyTemplate = 0
  cancelEdit(){
    this.editMode = false
    this.isFormAdd = false
    window.location.reload()
  }

  async saveEditSession(){
    let diff = this.getDiffMapping()
    const CellsToIdSample = (cells:Cell<PatientSwabDetailDTO.SwabDetail>[]) => cells.map(v => v.data ? v.data.id : null)
    const CellsToPayload = (cells:Cell<PatientSwabDetailDTO.SwabDetail>[]) => cells.map(v => ({
      col: v.col,
      row: v.row,
      sampleId: v.data?.id
    }))

    let payloadApi = {
      new: CellsToPayload(diff.new),
      stay: CellsToPayload(diff.stay),
      del: CellsToIdSample(diff.del)
    }

    try {
      this.isLoading = true
      await this.$axios.$patch(`/api-lab/extraction/session/${this.idSession}/update-position`, payloadApi)
      this.cancelEdit();
    } catch(error) {
      this.isLoading = false
      this.$snackbar('Gagal menyimpan data')
    }
  }

  getDiffMapping(): {stay: Cell[], new: Cell[], del: Cell[]}{
    const newMapping = [...this.form.mapping]
    const oldMapping = [...this.oldMapping]

    const CellSampleIncludes = (listCell: Cell<PatientSwabDetailDTO.SwabDetail>[], findCell:Cell<PatientSwabDetailDTO.SwabDetail>) => {
      return listCell.find((v) => {
        if(!v.data || !findCell.data) return false
        return v.data.id === findCell.data.id
      })
    }
    
    const diff:{stay: Cell[], new: Cell[], del: Cell[]} = {
      stay: [], // will update position
      new: [], // add new sample
      del: [] // delete sample old
    }

    if(newMapping.length < 1){
      diff.del = oldMapping
    }

    diff.new = newMapping.filter(v => !CellSampleIncludes(oldMapping, v))
    diff.del = oldMapping.filter(v => !CellSampleIncludes(newMapping, v))
    diff.stay = newMapping.filter(v => CellSampleIncludes(oldMapping, v))

    return diff
  }
}
</script>

<style>
</style>