<template>
  <div>
    <common-toolbar no-back>
      Daftar Sesi Ekstraksi Sample
      <template v-if="$allow('create:extraction_session')" #control>
        <v-btn color="primary" to="/ekstraksi/add"> Tambah Sesi </v-btn>
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination-filter
          v-model="dataResult"
          :isShowFilter="false"
          :isShowQrScan="false"
          search
          @change="fetchList"
        >
          <template #default="{ options }">
            <v-menu>
              <template #activator="{ on, attrs }">
                <v-btn
                  v-bind="attrs"
                  color="primary"
                  small
                  :loading="isLoading"
                  v-on="on"
                >
                  Status Ekstraksi
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="(option, index) in statusOptions"
                  :key="index"
                  @click="clickOptions(option.value)"
                >
                  {{ option.text }}
                </v-list-item>
              </v-list>
            </v-menu>

            <v-data-table
              v-model="selectedRow"
              :headers="table.headers"
              :loading="table.isLoading"
              :items="table.items"
              :search="table.search"
              :items-per-page="options.itemPerPage"
              :item-class="getItemClass"
              hide-default-footer
              item-key="id"
              show-select
              disable-pagination
            >
              <template #[`item.createdAt`]="{ item }">
                <div>
                  {{ item.createdAt | toLocale }}
                </div>
              </template>
              <template #[`item.dateExtracted`]="{ item }">
                <div>
                  {{ item.dateExtracted | toLocale }}
                </div>
              </template>
              <template #[`item.action`]="{ item }">
                <v-btn
                  v-if="$allow('view:extraction_session')"
                  icon
                  :to="'' + item.id"
                >
                  <v-icon> mdi-eye </v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </template>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { UiTablePaginationFilter } from '@inatti/shared/ui'

@Component({ components: { UiTablePaginationFilter } })
export default class ListExtractionComponent extends Vue {
  created() {
    // first run, show today
    this.fetchList({
      'filter[date]': 'today',
    })
  }

  table = {
    headers: [
      {
        text: 'Id',
        value: 'id',
      },
      {
        value: 'name',
        text: 'Nama Sesi',
      },
      {
        value: 'total_mapping',
        text: 'Jumlah sample',
      },
      {
        value: 'createdAt',
        text: 'Tanggal dibuat',
      },
      {
        text: 'Tanggal Ekstraksi',
        value: 'dateExtracted',
      },
      {
        value: 'action',
        text: 'Aksi',
      },
    ],
    isLoading: false,
    items: [] as any[],
    search: null,
  }

  dataResult = {}

  $snackbar: any
  isLoading = false
  statusOptions = [
    {
      text: 'Extracted',
      value: '1',
    },
    {
      text: 'Not Extracted',
      value: '0',
    },
  ]
  selectedRow = []
  async clickOptions(status: '1' | '0') {
    if (this.selectedRow.length < 1) {
      this.$snackbar('Mohon pilih minimal 1 data ekstraksi')
      return false
    }

    try {
      this.isLoading = true
      const payload = this.selectedRow.map((v: any) => v.id)
      const query = [
        `idlab=${this.$store.state.labStore.labId}`,
        `isExtract=${status}`,
      ]
      await this.$axios.$patch(
        `/api-lab/extraction/session/extract-bulk?${query.join('&')}`,
        payload
      )
      this.fetchList(this.lastParam)
    } catch (error) {
      this.$snackbar(`Gagal update status ekstraksi : ${error}`)
    }
    this.isLoading = false
  }

  lastParam = {}
  async fetchList(params: any = {}) {
    this.lastParam = params
    try {
      this.table.isLoading = true
      let labId = this.$store.state.labStore.labId
      let result = await this.$axios.$get('/api-lab/extraction/sessions', {
        params: {
          idlab: labId,
          ...params,
        },
      })
      this.dataResult = result
      this.table.items = result.results
    } finally {
      this.table.isLoading = false
    }
  }

  getItemClass(item: any) {
    return item.dateExtracted
      ? 'light-green--text accent-4'
      : 'red--text accent-4'
  }
}
</script>

<style></style>
