<template>
  <div
    id="alert-error"
    class="
      bg-red-100
      border border-red-400
      text-red-700
      px-4
      py-3
      rounded
      relative
    "
    role="alert"
  >
    <slot />
  </div>
</template>
