<template>
  <section class="flex justify-between items-end">
    <div class="border-t-2 border-gray-600  text-xs pt-3 w-full">
      <strong>
        {{ name }}
      </strong>
      <div>
        {{ detail }}
      </div>
    </div>
    <div class="flex items-center justify-center">
      <img style="height: 80px" src="~/assets/images/injabar-logo.png">
      <img style="height: 48px; margin-left: 8px;" src="https://inatti.id/asset-app/inatti-v2.2-large.png">
    </div>
  </section>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: null
    },
    detail: {
      type: String,
      default: null
    }
  }
}
</script>
