<template>
  <section class="mt-32 flex justify-between">
    <div class="flex flex-col justify-center items-center mt-10 text-small">
      <img class="w-32" :src="imgQr" alt="QRCode">
    </div>
    <div class="w-6/12 flex items-end justify-end px-10 flex-col text-small">
      <p class="inline-flex flex-col relative top-4 text-center">
        Dokter Penanggung Jawab
        <span>Doctor in charge</span>
      </p>
      <div class="w-32 h-32 relative">
        <img id="stemptel-img" class="w-32 opacity-40" :src="require(`~/assets/images/stempel/${imgStempel}`)">
        <img id="signature-img" class="max-w-28 max-h-28 absolute left-3 bottom-0" :src="require(`~/assets/images/signature/${imgSignature}`)">
      </div>
      <div class="text-center">
        <div class="flex flex-col font-bold relative right-4 ml-8 bottom-1">
          {{ doctorName }},
          <span>{{ title }}</span>
        </div>
        <div><i>{{ profession }}</i></div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    imgQr: {
      type: String,
      default: ''
    },
    stringQr: {
      type: String,
      default: ''
    },
    imgStempel: {
      type: String,
      default: ''
    },
    imgSignature: {
      type: String,
      default: ''
    },
    doctorName: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    profession: {
      type: String,
      default: ''
    }
  }
})
</script>
