<template>
  <table class="text-extra-xs mt-4">
    <tr>
      <!-- eslint-disable-next-line vue/no-v-html -->
      <td :class="isBold ? 'font-bold' : ''" v-html="firstTitle" />
      <td :class="classes">
        :
      </td>
      <td class="font-bold">
        {{ firstValue }}
      </td>
    </tr>
    <tr>
      <!-- eslint-disable-next-line vue/no-v-html -->
      <td :class="width" v-html="lastTitle" />
      <td :class="classes">
        :
      </td>
      <td :class="classValue">
        {{ lastValue }}
      </td>
    </tr>
    <tr>
      <td :class="width">
        {{ thirdTitle }}
      </td>
      <td :class="classes">
        {{ thirdValue != '' ? ':' : '' }}
      </td>
      <td>{{ thirdValue }}</td>
    </tr>
  </table>
</template>

<script>
export default {
  props: {
    classes: {
      type: String,
      default: ''
    },
    classValue: {
      type: String,
      default: ''
    },
    firstTitle: {
      type: String,
      default: ''
    },
    firstValue: {
      type: String,
      default: ''
    },
    lastTitle: {
      type: String,
      default: ''
    },
    lastValue: {
      type: String,
      default: ''
    },
    thirdTitle: {
      type: String,
      default: ''
    },
    thirdValue: {
      type: String,
      default: ''
    },
    isBold: {
      type: Boolean,
      default: false
    },
    width: {
      type: String,
      default: ''
    }
  }
}
</script>
