<template>
  <header class="flex justify-between items-center">
    <img :src="getLeftTopImage()" :style="`max-height: ${size}px`">
    <hr style="border-bottom: 4px solid #999;width:100%">
    <img :src="getRightTopImage()" :style="`max-height: ${size}px`">
  </header>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    value: {
      type: [Object, String],
      default: () => {}
    },
    isBordered: {
      type: Boolean,
      default: false
    },
    defaultLeftTop: {
      type: String,
      default: null
    },
    defaultRightTop: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      size: 70
    }
  },
  methods: {
    getLeftTopImage () {
      if (this.value.headerLeftImage) { return this.value.headerLeftImage }
      if (this.defaultLeftTop) { return this.defaultLeftTop }
      return require('~/assets/images/antigen/header_left_default.png')
    },
    getRightTopImage () {
      if (this.value.headerRightImage) { return this.value.headerRightImage }
      if (this.defaultRightTop) { return this.defaultRightTop }
      return require('~/assets/images/antigen/header_right_default.png')
    }
  }
})
</script>
