<template>
  <v-row justify="center" align="center">
    <v-col col="4">
      <v-card :loading="isLoading">
        <v-card-text v-if="dashboard.data">
          <v-row>
            <v-col md="4" cols="12">
              <div class="text-h5">
                Selamat datang
                <strong>
                  {{ $auth.user.fullname }}
                </strong>
              </div>
            </v-col>
            <feature-telefarmasi-headoffice-dashboard-section-statistic
              :dashboard="dashboard.data"
              :is-hq="true"
              cols="12"
              md="8"
            />
          </v-row>
          <v-row justify="end" dense>
            <v-col cols="12" md="4" lg="3">
              <div class="my-3">
                Terakhir update : {{ formatDate(dashboard.updatedAt) }}
                <v-btn small class="ml-1" outlined @click="fetchDashboard()">
                  Refresh
                </v-btn>
              </div>
            </v-col>
          </v-row>
          <feature-telefarmasi-headoffice-dashboard-section-graph-table
            :dashboard="dashboard.data"
          />
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { format } from 'date-fns';
import { ApotekHeadofficeApi } from '@inatti/shared/api-nuxt';
import {
  UiPageDashboardCard,
  UiPageDashboardChartInterval,
} from '@inatti/shared/ui';
import {
  FeatureTelefarmasiHeadofficeDashboardSectionStatistic,
  FeatureTelefarmasiHeadofficeDashboardSectionGraphTable,
} from '@inatti/features/telefarmasi';

@Component({
  components: {
    UiPageDashboardCard,
    UiPageDashboardChartInterval,
    FeatureTelefarmasiHeadofficeDashboardSectionStatistic,
    FeatureTelefarmasiHeadofficeDashboardSectionGraphTable,
  },
})
export default class DashboardPage extends Vue {
  apotekHeadofficeApi!: ApotekHeadofficeApi;
  dashboard: any = {};
  isLoading = false;
  error: any = null;

  created() {
    this.apotekHeadofficeApi = new ApotekHeadofficeApi(this.$axios);
    this.fetchDashboard();
  }

  async fetchDashboard(isForce = true) {
    this.isLoading = true;
    try {
      this.dashboard = await this.apotekHeadofficeApi.getDashboardV2(isForce);
    } catch (err) {
      this.error = err;
    }
    this.isLoading = false;
  }

  formatDate(date: any) {
    if (!date) return;
    return format(new Date(date), 'dd-MM-yyyy');
  }
}
</script>
