<template>
  <v-sheet min-width="250">
    <v-row
      justify="center"
      align-content="start"
      align-content-md="center"
      class="h-100vh"
    >
      <v-col lg="6" md="8" cols="12" class="text-center">
        <v-card class="ma-3">
          <v-card-title class="justify-center mb-6 mb-md-5">
            <img
              src="https://inatti.id/asset-app/inatti-v2.2-large.png"
              height="70vh"
              alt="Logo InaTTI"
            />
          </v-card-title>
          <v-card-subtitle>
            <h2 class="primary--text">
              Faskes Grup <span class="secondary--text"> Login </span>
            </h2>
          </v-card-subtitle>
          <v-card-text>
            <v-alert
              type="error"
              :value="isError"
              outlined
              class="text-left"
              data-cy="auth-form-login-alert"
            >
              {{ errorMessage }}
            </v-alert>
            <v-form ref="loginForm" :disabled="isLoading" @submit="login()">
              <v-text-field
                v-model="username"
                placeholder="Masukkan username"
                label="Username"
                :rules="required"
                data-cy="auth-form-login-field-username"
                outlined
                @keyup.enter="login()"
              />
              <v-text-field
                v-model="password"
                placeholder="Masukkan password"
                label="Password"
                :rules="required"
                data-cy="auth-form-login-field-password"
                :type="isShowPassword ? 'text' : 'password'"
                :append-icon="
                  isShowPassword ? 'mdi-eye-off-outline' : 'mdi-eye'
                "
                @click:append="isShowPassword = !isShowPassword"
                hide-details="auto"
                outlined
                @keyup.enter="login()"
              />
              <div class="d-flex justify-end mb-5">
                <ui-identity-forget-password-btn />
              </div>
              <v-btn
                color="primary"
                block
                :loading="isLoading"
                data-cy="auth-form-login-submit"
                @click="login()"
              >
                Login
              </v-btn>

              <v-card-text class="text-caption"
                >Dengan menggunakan aplikasi InaTTI maka anda sejutu dengan
                <span class="deep-orange--text"> kebijakan aplikasi </span
                >kami</v-card-text
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-sheet>
</template>

<script>
const ErrorMessages = {
  RoleUserNotFound: 'Akun anda tidak memiliki akses ke Aplikasi Unit Bisnis',
  PasswordIncorrectException: 'Password yang anda masukkan salah',
  UserNotFoundException: 'User tidak ditemukan',
};
export default {
  auth: false,
  layout: 'blank',
  data() {
    return {
      username: null,
      password: null,
      isShowPassword: false,
      isLoading: false,
      isError: false,
      errorMessage: '',
      required: [(v) => !!v || 'Form ini harus diisi'],
    };
  },
  methods: {
    async login() {
      if (!this.$refs.loginForm.validate()) return;
      this.isLoading = true;
      try {
        await this.$auth.loginWith('local', {
          data: {
            username: this.username,
            password: this.password,
          },
        });
        this.isError = false;
        await this.$store.dispatch('permission/fetchRole', {
          context: this,
          force: true,
        });
        await this.$router.push('/');
      } catch (error) {
        this.errorMessage = ErrorMessages[error?.response?.data?.name];
        this.isError = true;
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>

<style></style>
