<template>
  <div>
    <common-toolbar no-back> Pengaturan Template Sertifikat </common-toolbar>
    <v-card>
      <v-card-text>
        <v-alert type="info" dense outlined>
          Gambar/logo format *.jpg, maksimal 1 MB, Pastikan background warna
          putih
        </v-alert>
        <v-tabs v-model="tab">
          <v-tab v-for="(item, i) in listTabs" :key="i">
            {{ item }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item>
            <v-col md="3">
              <page-setting-sertificate-form :type="ANTIGEN_CODE" />
            </v-col>
          </v-tab-item>
          <v-tab-item>
            <v-col md="3">
              <page-setting-sertificate-form-pcr :type="PCR_CODE" />
            </v-col>
          </v-tab-item>
        </v-tabs-items>

        <v-divider class="mb-3" />

        <v-row v-if="tab === 0" class="pa-3">
          <v-col cols="12" sm="7">
            <div class="text-right">
              <v-btn
                v-if="!isEdit"
                :loading="isButtonLoading"
                color="primary"
                small
                class="capitalize my-0 my-sm-2"
                @click="isEdit = !isEdit"
              >
                Edit
              </v-btn>
              <v-btn
                v-if="isEdit"
                :loading="isButtonLoading"
                color="primary"
                small
                class="capitalize my-0 my-sm-2"
                @click="updateDetailData"
              >
                Simpan
              </v-btn>
            </div>
            <v-text-field
              v-model="refTemplate.doctorName"
              outlined
              :disabled="!isEdit"
              dense
              hide-details
              class="py-3"
              label="Nama Dokter"
            />
            <v-text-field
              v-model="refTemplate.doctorSubname"
              outlined
              :disabled="!isEdit"
              dense
              hide-details
              class="py-3"
              label="Jabatan Dokter"
            />
            <v-text-field
              v-model="refTemplate.refName"
              outlined
              :disabled="!isEdit"
              dense
              hide-details
              class="py-3"
              label="Nama Rujukan"
            />
            <v-text-field
              v-model="refTemplate.refDetail"
              outlined
              :disabled="!isEdit"
              dense
              hide-details
              class="py-3"
              label="Detail Rujukan"
            />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { ReferenceTemplateApi } from '@inatti/shared/api-nuxt'
export default {
  data() {
    return {
      tab: null,
      listTabs: ['Antigen', 'PCR'],
      PCR_CODE: 1,
      ANTIGEN_CODE: 2,
      isEdit: false,
      refTemplate: {
        doctorName: null,
        doctorSubname: null,
        refName: null,
        refDetail: null,
      },
      isButtonLoading: false,
    }
  },

  mounted() {
    this.fetchData()
  },

  methods: {
    async fetchData() {
      const idref = this.$route.query.refId

      try {
        let result = await new ReferenceTemplateApi(this.$axios).get({
          idref,
          typeProduct: this.ANTIGEN_CODE,
        })
        this.refTemplate = {
          doctorName: result.doctorName,
          doctorSubname: result.doctorSubname,
          refName: result.refName,
          refDetail: result.refDetail,
        }
      } catch (error) {
        return error
      }
    },

    async updateDetailData() {
      const { refId } = this.$route.query
      this.isButtonLoading = true
      try {
        await new ReferenceTemplateApi(this.$axios).updateInformation(
          {
            doctorName: this.refTemplate.doctorName,
            doctorSubname: this.refTemplate.doctorSubname,
            refName: this.refTemplate.refName,
            refDetail: this.refTemplate.refDetail,
          },
          {
            idref: refId,
          }
        )
        this.fetchData()
      } catch (error) {
        return error
      } finally {
        this.isEdit = false
        this.isButtonLoading = false
      }
    },
  },
}
</script>

<style></style>
