<template>
  <v-card
    outlined
    :style="width ? `width:${width}` : ''"
    class="d-flex flex-column align-center justify-space-between cursor-pointer rounded-lg"
    :to="to"
  >
    <v-card-text class="text-center">
      <v-img :src="image" contain height="60px" />
      <div class="text-capitalize mt-3 text-capitalize text-md-subtitle-1">
        {{ text }}
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    image: {
      type: [String, Object],
    },
    text: {
      type: String,
    },
    to: {
      type: String,
    },
    width: {
      type: String,
    },
  },
}
</script>
