<template>
  <div
    style="
      width: 100%;
      height: 100%;
      border: 1px dashed black;
      position: relative;
    "
    class="d-flex justify-center rounded-lg align-center"
    ref="dzone"
  >
    <v-icon
      small
      v-if="allowReset"
      color="white"
      @click="onReset"
      style="cursor: pointer; position: absolute; top: 3px; right: 3px"
    >
      mdi-close-circle
    </v-icon>
    <img
      v-if="value"
      class="rounded-lg"
      style="width: 100%; height: 100%; object-fit: cover"
      :src="value"
    />
    <div
      v-if="!value"
      class="d-flex justify-center align-center"
      style="width: 100%; height: 100%; background-color: #f5f5f5"
    >
      <span class="text-h6 black--text font-weight-medium">NO IMAGE</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component
export default class ImagePreview extends Vue {
  @Prop({ type: [String] })
  value!: string;
  @Prop({ type: Boolean, default: false })
  allowReset!: boolean;

  onReset() {
    this.$emit('on-reset');
  }
}
</script>
