<template>
  <div
    @dragenter="onDragEnter"
    @dragleave="onDragLeave"
    @dragover="onDragOver"
    @drop="onDrop"
    @click="onDropzoneClick"
    @keypress="onDropzoneKeyPress"
    @change="onDropzoneChange"
    style="width: 100%; border: 1px dashed black; height: 100%"
    class="
      d-flex
      justify-center
      flex-column
      pa-4
      text-center
      rounded-lg
      align-center
    "
    ref="dzone"
  >
    <input
      id="fileUpload"
      ref="upload"
      style="display: none"
      type="file"
      accept="image/*"
    />
    <div class="d-flex justify-center align-center flex-column">
      <v-icon large v-if="dragover"> mdi-tray-arrow-up </v-icon>
      <v-icon large v-if="!dragover"> mdi-cloud-upload </v-icon>
    </div>
    <div class="d-flex justify-center align-center flex-column">
      <span class="text-subtitle-2">Drop Image Here Or Click To Choose</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Emit } from 'vue-property-decorator'

@Component
export default class ImageUpload extends Vue {
  formUpload: boolean = false
  dragover: boolean = false
  onDragEnter(e: any) {
    e.preventDefault()
    this.dragover = true
  }
  onDragLeave(e: any) {
    e.preventDefault()
    this.dragover = true
  }
  onDragOver(e: any) {
    e.preventDefault()
    this.dragover = true
  }
  onDrop(e: any) {
    e.preventDefault()
    const dragevent = e as DragEvent
    if (dragevent.dataTransfer) {
      this.filesSelected(dragevent.dataTransfer.files)
    }
  }
  onDropzoneClick() {
    const fileupload = this.$el.firstElementChild as HTMLElement
    if (fileupload) {
      fileupload.click()
    }
  }
  onDropzoneKeyPress(e: any) {
    const fileupload = this.$el.firstElementChild as HTMLElement
    const keyEvent = e as KeyboardEvent
    if (keyEvent.key === 'Enter') {
      if (fileupload) fileupload.click()
    }
  }
  onDropzoneChange(e: any) {
    const target = e.target as HTMLInputElement
    if (target.files) {
      this.filesSelected(target.files)
    }
  }
  @Emit()
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  filesSelected(files: FileList) {
    this.dragover = false
  }
}
</script>
