<template>
  <canvas ref="chartCanvas" :style="`max-height:${height}px`"></canvas>
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import {ChartMixins} from '../../../chart/chartMixins'

@Component({})
export default class ResultAnalayzeQlAquant96ChartAllComponent extends mixins(ChartMixins) {
  @Prop([Object])
  readonly value!: { [type: string]: string[] }
  @Prop({ default: 300, type: [Number, String] })
  height!: number

  chartdata: {
    labels: any
    datasets: any
  } = {} as any

  options = {
    // performance reason
    parsing: true,
    normalized: true,
    animation: false,
    showLine: true,
    responsive: true,
    maintainAspectRatio: false,
    interaction: {
      mode: 'index',
      intersect: false,
    },
  }

  getColor(type: any) {
    const colors: Record<string, string> = {
      ROX: '#00ff00',
      VIC: '#ff0000',
      FAM: '#0000ff',
    }
    return colors[type]
  }

  $refs!: { chartCanvas: HTMLCanvasElement }

  @Watch('value')
  mapDataToChart() {
    if(!this.value) return;
    // change comma to dot
    const fixFormatNumber = (val: string) => {
      if (!val) return val
      if (typeof val === 'number') return val
      return val.replace(/,/g, '.')
    }

    this.chartdata.labels = Object.values(this.value)[0].map((_v, i) => i + 1)
    this.chartdata.datasets = Object.entries(this.value).map(([key, value]) => {
      return {
        label: key,
        backgroundColor: this.getColor(key),
        borderColor: this.getColor(key),
        data: value.map(fixFormatNumber),
      }
    })

    this.renderChart('line', this.chartdata, this.options)
  }

  mounted() {
    if (this.value) {
      this.mapDataToChart()
    }
  }
}
</script>

<style></style>
