<template>
  <div>
    <v-data-table
      v-if="tableItems.length"
      :headers="tableHeader"
      :items="tableItems"
      :items-per-page="3"
      :loading="isLoading"
    />
    <tool-analyze-QlAquant96-chart v-model="graphResult" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { WellResultQlAquant96 } from '@inatti/mapping-analyze-result'
import { LabAnalyzeResultEntity } from '@inatti/shared/api-nuxt'

@Component
export default class ResultSummaryQlAquant96Component extends Vue {
  @Prop([Object]) readonly value!: LabAnalyzeResultEntity
  tableHeader = [] as any[]
  tableItems = [] as any[]
  isLoading = false

  mounted() {
    this.mapData()
  }
  graphResult = null

  @Watch('value')
  mapData() {
    if (!this.value.sampleSession) {
      return
    }

    const { headers, item } = this.mapTable(this.value.resultRaw)
    this.tableHeader = headers
    this.tableItems = item

    this.graphResult = this.value.resultRaw.curve
  }

  mapTable(resultRaw: WellResultQlAquant96): { headers: any; item: any } {
   const headers = [
      {
        text: 'Well',
        value: 'well'
      },
      {
        text: 'Sample Type',
        value: 'sampleType'
      },
      {
        text: 'Sample Name',
        value: 'sampleName'
      },
      {
        text: 'Dye',
        value: 'dye'
      },
      {
        text: 'Ct',
        value: 'ct'
      },
      {
        text: 'Mean Ct',
        value: 'meanCt'
      },
    ]
    return {
      headers,
      item: resultRaw.ct,
    }
  }
}
</script>

<style>
</style>