<template>
  <div>
    <div class="text-h5">Hasil Ql Aquant 96</div>
    <v-row align="center" class="my-3">
      <v-col md="3">
        <tool-menu-status
          :value="tableItem.filter((v) => v.isChecked)"
          :session="$route.params.id"
          :lab="$route.query.labId"
          @update="$emit('update')"
        />
      </v-col>
    </v-row>
    <v-data-table
      :headers="tableHeader"
      :items="tableItem"
      :expanded.sync="tableExpanded"
      :item-class="getClassRow"
      item-key="no"
      dense
      show-expand
    >
      <template #expanded-item="{ headers, item }">
        <td v-if="item.expandedData" :colspan="headers.length">
          <div>
            <v-data-table
              dense
              :headers="item.expandedData.headers"
              :items="item.expandedData.item"
            />
          </div>
          <tool-analyze-QlAquant96-chart v-model="item.resultToolRaw.curve" />
        </td>
      </template>
      <template #item.checkCol="{ item }">
        <v-simple-checkbox
          v-if="isAbleToCheck(item)"
          v-model="item.isChecked"
        />
      </template>
      <template #item.typeSample="{ item }">
        <span>
          {{ getTypeSample(item) }}
        </span>
      </template>
      <template #item.resultDataSuggestedResult="{ item }">
        <common-result-chip
          v-if="item.resultDataSuggestedResult"
          v-model="item.resultDataSuggestedResult"
        />
      </template>
      <template #item.resultDataFinalResult="{ item }">
        <common-result-chip
          v-if="item.resultDataFinalResult"
          v-model="item.resultDataFinalResult"
        />
      </template>
      <template #item.action="{ item }">
        <nuxt-link v-if="item.patientId" :to="'/sample-swab/' + item.patientId">
          <v-icon> mdi-eye </v-icon>
        </nuxt-link>
      </template>
    </v-data-table>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import {
  resultQlAquant96,
  WellResultQlAquant96
} from '@inatti/mapping-analyze-result'
import { NumberToA1 } from '../../../../helper/table'
import { ReadExtractionDTO } from '@inatti/shared/api-nuxt'

@Component
export default class ResultQlAquant96Component extends Vue {
  created() {}

  @Prop([Object])
  value!: ReadExtractionDTO.Session

  mounted() {
    this.updateTable()
  }

  @Watch('value')
  onValuChange(_val: any) {
    this.updateTable()
  }

  tableHeader = [
    { text: '', value: 'data-table-expand' },
    { text: '', value: 'checkCol' },
    {
      text: 'Nomor',
      value: 'no',
    },
    {
      text: 'Type Sample',
      value: 'typeSample',
    },
    {
      text: 'Map Position',
      value: 'mapDataPosition',
    },
    {
      text: 'Map Nama Sample',
      value: 'mapDataName',
    },
    {
      text: 'Map Tanggal Lahir',
      value: 'mapDataDateBirth',
    },
    {
      text: 'Result Position',
      value: 'resultDataPosition',
    },
    {
      text: 'Result Nama Sample',
      value: 'resultDataSampleName',
    },
    {
      text: 'Suggested Result',
      value: 'resultDataSuggestedResult',
    },
    {
      text: 'Final Result',
      value: 'resultDataFinalResult',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]
  tableItem: {
    idSample?: any // id sample of session = session detail id
    patientId?: any // patient id
    actionDetail?: any
    action?: any
    no: any
    mapDataPosition: any
    mapDataName: any
    mapDataDateBirth: any
    resultDataPosition: any
    resultDataSampleName: any
    resultDataSuggestedResult: any
    resultDataFinalResult: any
    expandedData?: {
      headers: any
      item: any
    }
    resultToolRaw: any
    isControl?: boolean
    isChecked?: boolean
  }[] = []
  tableExpanded = []

  updateTable() {
    this.tableItem = []
    const { usedRow } = this.mapRowSinkron()
    this.mapRowUnSinkron(usedRow)
  }

  getExpandedData(resultRaw: WellResultQlAquant96): { headers: any; item: any } {
    const headers = [
      {
        text: 'Well',
        value: 'well'
      },
      {
        text: 'Sample Type',
        value: 'sampleType'
      },
      {
        text: 'Sample Name',
        value: 'sampleName'
      },
      {
        text: 'Dye',
        value: 'dye'
      },
      {
        text: 'Ct',
        value: 'ct'
      },
      {
        text: 'Mean Ct',
        value: 'meanCt'
      },
    ]
    return {
      headers,
      item: resultRaw.ct,
    }
  }

  mapRowSinkron() {
    const usedRow = []
    for (const mappedRow of this.value.mapping) {
      if (!mappedRow.resultTool) continue

      const mapDataPosition = NumberToA1({
        row: mappedRow.locateRow,
        col: mappedRow.locateColumn,
      })
      const mapDataName = mappedRow.isControl
        ? mappedRow.controlName
        : mappedRow.sample.patient.name
      const mapDataDateBirth = !mappedRow.isControl
        ? mappedRow.sample.patient.datebirth
        : null
      const resultDataFinalResult = mappedRow.resultTool.resultSummary

      const resultToolRaw: WellResultQlAquant96 = mappedRow.resultTool.resultRaw

      const resultDataPosition = resultToolRaw.ct.length ? resultToolRaw.ct[0].well : ""
      const resultDataSampleName = resultToolRaw.ct.length
        ? resultToolRaw.ct[0].sampleName
        : null
      const resultDataSuggestedResult = resultToolRaw.result
      const idSample = mappedRow.id

      this.tableItem.push({
        idSample,
        patientId: mappedRow.sample?.id ?? null,
        no: this.tableItem.length + 1,
        mapDataPosition,
        mapDataName,
        mapDataDateBirth,
        resultDataPosition,
        resultDataSampleName,
        resultDataSuggestedResult,
        resultDataFinalResult,
        expandedData: this.getExpandedData(mappedRow.resultTool.resultRaw),
        resultToolRaw,
        isControl: mappedRow.isControl,
      })
      usedRow.push(resultDataPosition)
    }

    return {
      usedRow,
    }
  }

  mapRowUnSinkron(usedRow: string[]) {
    const allResult: resultQlAquant96 = this.value.result
    for (const well of Object.keys(allResult)) {
      if (usedRow.includes(well)) continue
      const resultToolRaw = allResult[well]

      const resultDataPosition = resultToolRaw.ct.length ? resultToolRaw.ct[0].well : ""
      const resultDataSampleName = resultToolRaw.ct.length
        ? resultToolRaw.ct[0].sampleName
        : null
      const resultDataSuggestedResult = resultToolRaw.result

      this.tableItem.push({
        no: this.tableItem.length + 1,
        mapDataPosition: null,
        mapDataName: null,
        mapDataDateBirth: null,
        resultDataPosition,
        resultDataSampleName,
        resultDataSuggestedResult,
        resultDataFinalResult: null,
        expandedData: this.getExpandedData(resultToolRaw),
        resultToolRaw,
      })
    }
  }

  getClassRow(item: any) {
    if (!item.resultDataPosition) return 'row__unsync red accent-4 white--text'

    if (item.isControl) return 'row__control orange--text accent-4'

    if (item.idSample) return 'row__sample indigo--text darken-3'
    return 'row__unsync red accent-4 white--text'
  }

  isAbleToCheck(item: any) {
    return !item.isControl && item.idSample
  }

  getTypeSample(item: any) {
    if (!item.idSample) return 'Tidak Sinkron'
    let type = item.isControl ? 'Control' : 'Sample'
    if (!item.resultDataPosition) {
      type = type + '(Tidak sinkron)'
    }
    return type
  }
}
</script>

<style>
</style>