<template>
  <div>
    <common-toolbar>
      <div v-if="isAdd">Tambah Pasien</div>
      <div v-else>Detail Pasien</div>
      <template #control>
        <v-btn color="red" dark @click="$router.back()"> Batal </v-btn>
      </template>
    </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <v-row>
          <v-col md="6" cols="12" order="2" order-md="1">
            <v-btn
              color="primary"
              :loading="isLoading"
              class="mb-3"
              @click="validateForm"
            >
              Simpan
            </v-btn>
            <v-alert
              v-if="$route.query.isSuccess"
              type="success"
              dismissible
              dense
              outlined
            >
              Berhasil simpan data
            </v-alert>
            <v-form ref="form" v-model="valid" lazy-validation>
              <fieldset class="pa-3">
                <legend>Data Personal</legend>
                <v-select
                  v-model="form.type"
                  label="Tipe Nik"
                  v-bind="defaultFormProp"
                  :items="typeNik"
                  :error-messages="formTypeNik.errorMessage"
                  item-text="name"
                  item-value="id"
                  @change="(v) => (v === 'nik' ? (form.country = 'ID') : false)"
                />
                <ui-form-select-country
                  v-model="form.citizenship"
                  v-bind="defaultFormProp"
                />
                <v-text-field
                  v-model="form.nik"
                  :loading="formNik.loading"
                  v-bind="
                    form.type === 'nik'
                      ? defaultFormProp
                      : defaultFormPropNoRequired
                  "
                  label="NIK"
                  placeholder="Nomor Induk Kependudukan"
                  :rules="form.type === 'nik' ? rulesId.idNumberNik : []"
                  @blur="parseNikToData"
                />
                <v-text-field
                  v-model="form.passport"
                  v-bind="
                    form.type === 'passport'
                      ? defaultFormProp
                      : defaultFormPropNoRequired
                  "
                  label="Passport"
                  :rules="
                    form.type === 'passport' ? rulesId.idNumberPassport : []
                  "
                  placeholder="Passport"
                />
                <v-alert
                  v-if="formNik.errorMessage"
                  type="warning"
                  outlined
                  dismissible
                >
                  {{ formNik.errorMessage }}
                </v-alert>
                <v-text-field
                  v-model="form.name"
                  v-bind="defaultFormProp"
                  label="Nama"
                  placeholder="Nama Pasien"
                />
                <v-text-field
                  v-model="form.datebirth"
                  v-bind="defaultFormProp"
                  type="date"
                  label="Tanggal Lahir"
                ></v-text-field>

                <v-text-field
                  v-model="form.placebirth"
                  v-bind="defaultFormProp"
                  label="Tempat Lahir"
                ></v-text-field>

                <v-text-field
                  v-model="form.email"
                  v-bind="defaultFormPropNoRequired"
                  label="Email"
                ></v-text-field>

                <ui-form-select-phone-code
                  v-model="form.phonenumber"
                  hint-country-code=""
                  v-bind="defaultFormProp"
                />

                <ui-form-select-gender
                  v-model="form.gender"
                  v-bind="defaultFormProp"
                />
              </fieldset>

              <fieldset v-if="form.type === 'nik'" class="pa-3">
                <legend>Alamat KTP</legend>
                <ui-form-select-provinsi
                  v-model="form.provinsi"
                  v-bind="defaultFormProp"
                />
                <ui-form-select-kabupaten
                  v-model="form.kabupaten"
                  v-bind="defaultFormProp"
                  :provinsi="form.provinsi"
                />
                <ui-form-select-kecamatan
                  v-model="form.kecamatan"
                  v-bind="defaultFormProp"
                  :kabupaten="form.kabupaten"
                />
                <ui-form-select-kelurahan
                  v-model="form.kelurahan"
                  v-bind="defaultFormProp"
                  :kecamatan="form.kecamatan"
                />
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="form.kelurahanRt"
                      v-bind="defaultFormPropNoRequired"
                      label="Kelurahan RT"
                    />
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-model="form.kelurahanRw"
                      v-bind="defaultFormPropNoRequired"
                      label="Kelurahan RW"
                    />
                  </v-col>
                </v-row>
                <v-text-field
                  v-model="form.address"
                  v-bind="defaultFormPropNoRequired"
                  label="Alamat"
                />
              </fieldset>

              <fieldset class="pa-3">
                <legend>Alamat Domisili</legend>
                <v-checkbox
                  v-if="form.type === 'nik'"
                  v-model="isFormDomisiliSame"
                  label="Alamat domisili sama dengan KTP"
                ></v-checkbox>
                <div v-if="(!isFormDomisiliSame || form.type !== 'nik')">
                  <ui-form-select-provinsi
                    v-model="form.domisiliProvinsi"
                    v-bind="defaultFormProp"
                  />
                  <ui-form-select-kabupaten
                    v-model="form.domisiliKabupaten"
                    v-bind="defaultFormProp"
                    :provinsi="form.domisiliProvinsi"
                  />
                  <ui-form-select-kecamatan
                    v-model="form.domisiliKecamatan"
                    v-bind="defaultFormProp"
                    :kabupaten="form.domisiliKabupaten"
                  />
                  <ui-form-select-kelurahan
                    v-model="form.domisiliKelurahan"
                    v-bind="defaultFormProp"
                    :kecamatan="form.domisiliKecamatan"
                  />
                  <v-row>
                    <v-col>
                      <v-text-field
                        v-model="form.domisiliKelurahanRt"
                        v-bind="defaultFormPropNoRequired"
                        label="Domisili Kelurahan RT"
                      />
                    </v-col>
                    <v-col>
                      <v-text-field
                        v-model="form.domisiliKelurahanRw"
                        v-bind="defaultFormPropNoRequired"
                        label="Domisili Kelurahan RW"
                      />
                    </v-col>
                  </v-row>
                  <v-text-field
                    v-model="form.addressDomisili"
                    v-bind="defaultFormProp"
                    label="Alamat Domisili"
                  />
                </div>
              </fieldset>

              <v-spacer class="mt-3" />
              <v-btn color="primary" :loading="isLoading" @click="validateForm"
                >Simpan</v-btn
              >
            </v-form>
          </v-col>
          <v-col
            v-if="isEdit && !isVaksin"
            md="6"
            cols="12"
            order="1"
            order-md="1"
          >
            <v-alert
              border="left"
              :color="isHasNAR ? 'blue darken-1' : 'orange darken-1'"
              outlined
            >
              <div class="d-flex justify-space-between align-center">
                <div>
                  Pasien sudah terdaftar, kelola test Covid pasien disini
                </div>
                <div>
                  <v-btn color="primary" :to="getUrlTestCovid">
                    Test Covid
                  </v-btn>
                </div>
              </div>
            </v-alert>

            <v-sheet>
              <div class="text-h6 font-weight-regular">Layanan</div>
              <v-divider class="mb-3" />
              <v-alert type="warning" :value="true" dense outlined text :icon="false">
                <div class="d-flex justify-space-between align-center">
                  <div>Vaksinasi pasien?</div>
                  <v-btn color="primary" small :to="getUrlVaccination">Vaksinasi</v-btn>
                </div>
              </v-alert>
              <v-alert type="warning" :value="true" dense outlined text :icon="false">
                <div class="d-flex justify-space-between align-center">
                  <div>Test Covid pasien?</div>
                  <v-btn color="primary" small :to="getUrlTestCovid">Test Covid</v-btn>
                </div>
              </v-alert>
            </v-sheet>
            <div v-if="testRecord.items.length > 0">
              <div class="w-100">
                <v-row>
                  <v-col>
                    <div class="text-h5">Rekam Test</div>
                  </v-col>
                </v-row>
              </div>
              <v-divider class="my-3" />
              <div>
                <v-data-table
                  :headers="testRecord.headers"
                  :items="testRecord.items"
                  disable-filtering
                  disable-sort
                >
                  <template #[`item.test`]="{ item }">
                    <div class="d-flex flex-column align-start">
                      <common-chip-status
                        :status="item.test.status"
                        :small="true"
                      />
                      <div>
                        {{ item.test.date }}
                      </div>
                    </div>
                  </template>
                  <template #[`item.resultSwab`]="{ item }">
                    <common-chip-result :value="item.resultSwab" />
                  </template>
                  <template #[`item.detail`]="{ item }">
                    <v-btn
                      fab
                      small
                      depressed
                      :to="`/swab/pasien/${item.id}?refId=${$route.query.refId}`"
                      ><v-icon color="grey darken-1">mdi-eye</v-icon></v-btn
                    >
                  </template>
                </v-data-table>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { format, isValid, parse, parseISO } from 'date-fns'
import {
  GenderEnum,
  Kelurahan,
  PatientSwabDetailDTO,
  ResultSwabEnum,
  StatusSwabEnum,
  WilayahApi,
} from '@inatti/shared/api-nuxt'
import { Method } from 'axios/index.d'
import {
  KemenkesApiOrang,
  ReferencePatientApi,
  KemenkesApi,
} from '@inatti/shared/api-nuxt'

interface DataTableItems {
  id: number
  sampleId: string
  swabDate?: Date | string
  test: {
    status: StatusSwabEnum
    date?: Date | string
  }
  testType: string
  resultSwab?: ResultSwabEnum | string
}

@Component
export default class AddPatientDataComponent extends Vue {
  $snackbar!: (arg: string) => void

  typeNik = [
    { id: 'nik', name: 'KTP WNI' },
    { id: 'passport', name: 'Nomor Passport' },
  ]

  referencePatientApi = new ReferencePatientApi(this.$axios)
  kemenkesApi = new KemenkesApi(this.$axios)
  wilayahApi = new WilayahApi(this.$axios)

  defaultFormPropNoRequired = {
    dense: true,
    outlined: true,
    disabled: false,
  }
  defaultFormProp = {
    ...this.defaultFormPropNoRequired,
    required: true,
    class: 'required',
    rules: [(v: any) => !!v || 'Kolom ini harus diisi'],
  }

  // create regex validation phone number international
  regexPhoneNumber = /^\+?[0-9]{6,15}$/

  rulesPhone = [
    (v: any) => !!v || 'Nomor hp harus diisi',
    (v: any) => this.regexPhoneNumber.test(v) || 'Nomor hp tidak valid',
  ]

  rulesId = {
    idNumberNik: [
      (v: any) => !!v || 'No. NIK harus diisi.',
      (v: string) => /\d+/.test(v) || 'No. NIK harus berupa angka.',
      (v: string | any[]) =>
        (v && v.length === 16) || 'No. NIK harus memiliki 16 digit nomor.',
    ],
    idNumberPassport: [(v: any) => !!v || 'No. Paspor harus diisi.'],
  }

  alert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }
  setAlert(msg: string, type: string = 'warning') {
    this.alert = {
      isShow: true,
      type,
      msg,
    }
  }

  valid = true
  isLoading = false
  form: PatientSwabDetailDTO.Patient | any = {
    id: null,
    nik: null,
    passporr: null,
    type: null,
    name: null,
    placebirth: null,
    datebirth: null,
    gender: null,
    phonenumber: null,
    email: null,
    bloodtype: null,
    createdAt: null,
    provinsi: null,
    kabupaten: null,
    kecamatan: null,
    kelurahan: null,
    kelurahanRw: null,
    kelurahanRt: null,
    address: null,
    domisiliProvinsi: null,
    domisiliKabupaten: null,
    domisiliKecamatan: null,
    domisiliKelurahan: null,
    domisiliKelurahanRw: null,
    domisiliKelurahanRt: null,
    addressDomisili: null,
    citizenship: null,
    narOrangId: null,
    detailSwab: null,
    productSwab: null,
  }
  isFormDomisiliSame = false
  $refs!: {
    form: any
  }

  oldValue = {}

  testRecord = {
    headers: [
      { text: 'Tanggal Test', value: 'swabDate' },
      { text: 'Status dan Tanggal Test', value: 'test' },
      { text: 'ID Sample', value: 'sampleId' },
      { text: 'Jenis', value: 'testType' },
      { text: 'Hasil Test', value: 'resultSwab' },
      { text: 'Detail', value: 'detail' },
    ],
    items: [] as DataTableItems[],
  }

  appendOldValue(payload: object) {
    this.oldValue = payload
  }

  isDirty() {
    if (JSON.stringify(this.oldValue) === JSON.stringify(this.form)) {
      return false
    }
    return true
  }

  isINANumber = true
  get prefixNumber() {
    return this.isINANumber ? 62 : null
  }

  get isHasNAR() {
    return !!this.form.narOrangId
  }

  @Watch('isFormDomisiliSame')
  isFormDomisiliSameEvent(val: boolean) {
    if (val) {
      this.form.domisiliProvinsi = this.form.provinsi
      this.form.domisiliKabupaten = this.form.kabupaten
      this.form.domisiliKecamatan = this.form.kecamatan
      this.form.domisiliKelurahan = this.form.kelurahan
      this.form.domisiliKelurahanRt = this.form.kelurahanRt
      this.form.domisiliKelurahanRw = this.form.kelurahanRw
      this.form.addressDomisili = this.form.address
    } else {
      this.form.domisiliProvinsi = null
      this.form.domisiliKabupaten = null
      this.form.domisiliKecamatan = null
      this.form.domisiliKelurahan = null
      this.form.addressDomisili = ''
      this.form.domisiliKelurahanRt = ''
      this.form.domisiliKelurahanRw = ''
    }
  }

  created() {
    this.fetchData()
  }

  async fetchData() {
    this.isLoading = true
    try {
      const { params } = this.$route
      if (params.idpasien !== 'add') {
        let patientData: PatientSwabDetailDTO.Patient =
          await this.referencePatientApi.getOne(params.idpasien)
        Object.assign(this.form, patientData)
        this.appendOldValue(JSON.parse(JSON.stringify(patientData)))

        this.form.detailSwab.forEach((el: PatientSwabDetailDTO.TestRecord) => {
          const dateSwab = String(el.swabDate).slice(0, 19)
          this.testRecord.items.push({
            id: el.id,
            sampleId: el.sampleId ?? '-',
            swabDate: el.swabDate
              ? format(parseISO(dateSwab), 'dd/MM/yyyy')
              : '-',
            test: {
              status: el.status,
              date: el.swabDate
                ? format(parseISO(dateSwab), 'dd/MM/yyyy, h:mm:ss b')
                : '-',
            },
            testType: el.productSwab.name,
            resultSwab: el.resultSwab ?? 'Belum keluar',
          })
        })
      }
    } finally {
      this.isLoading = false
    }
  }

  get isVaksin() {
    const mode = this.$route.query.mode
    if (mode === 'vaccine') {
      return true
    }
  }

  get isAdd() {
    return this.$route.params.idpasien === 'add'
  }
  get isEdit() {
    return !this.isAdd
  }

  validateForm() {
    let isValid: boolean = this.$refs.form.validate()
    // let isValid: boolean = false
    if (isValid && this.isDirty()) {
      this.isLoading = true
      this.defaultFormProp.disabled = true
      if (this.isAdd) {
        this.addPatient()
      } else {
        this.editPatient()
      }
    } else {
      this.$snackbar('Form belum valid, mohon di perbaiki')
    }
  }

  callbackSavePatient(idPasien: string) {
    this.$router.push(
      `/pasien/${idPasien}?refId=${this.$route.query.refId}&isSuccess=true`
    )
  }

  async addPatient() {
    try {
      const response = await this.referencePatientApi.add(this.form)
      this.callbackSavePatient(response.id)
    } finally {
      this.defaultFormProp.disabled = false
      this.isLoading = false
    }
  }

  async editPatient() {
    try {
      const response = await this.referencePatientApi.update(
        this.$route.params.idpasien,
        this.form
      )
      this.callbackSavePatient(response.id)
    } finally {
      this.defaultFormProp.disabled = false
      this.isLoading = false
    }
  }

  formNik = {
    loading: false,
    errorMessage: '',
  }
  formTypeNik = {
    errorMessage: '',
  }

  async NarSearchPassport(nik: string, countryId: string) {
    this.formNik.loading = true
    try {
      let result: { status: string; data: KemenkesApiOrang } =
        await this.kemenkesApi.getKemenkesOrangPassport({
          nik,
          country_id: countryId,
        })
      const { data } = result
      this.$snackbar(`Data nik ${nik} ditemukan`)
      await this.mountNarToForm(data)
    } catch (error: any) {
      if (error.response.status === 400) {
        const data = error.response.data
        if (data.nik && /format is invalid/.test(data.nik)) {
          this.formNik.errorMessage = 'Nik tidak valid'
        } else {
          this.formNik.errorMessage =
            'Nik tidak ditemukan di Kemenkes, akan dibuat data baru'
        }
      }
    }
    this.formNik.loading = false
  }

  async mountNarToForm(data: KemenkesApiOrang) {
    try {
      const map = {
        name: data.nama,
        placebirth: '',
        datebirth: data.tgl_lahir,
        gender:
          data.jenis_kelamin === 'L' ? GenderEnum.male : GenderEnum.female,
        phonenumber: data.telepon,
        address: data.ktp_alamat,
        addressDomisili: data.domisili_alamat,
        narOrangId: data.id,
        kelurahanRt: data.ktp_rt ?? null,
        kelurahanRw: data.ktp_rw ?? null,
        domisiliKelurahanRt: data.domisili_rt ?? null,
        domisiliKelurahanRw: data.domisili_rw ?? null,
      }
      if (data.ktp_lokasi_kode) {
        let region = await this.getRegion(data.ktp_lokasi_kode)
        Object.assign(map, {
          provinsi: region.provinsi,
          kabupaten: region.kabupaten,
          kecamatan: region.kecamatan,
          kelurahan: region.kelurahan,
        })
      }
      if (data.domisili_lokasi_kode) {
        let regionDomisili = await this.getRegion(data.domisili_lokasi_kode)
        Object.assign(map, {
          domisiliProvinsi: regionDomisili.provinsi,
          domisiliKabupaten: regionDomisili.kabupaten,
          domisiliKecamatan: regionDomisili.kecamatan,
          domisiliKelurahan: regionDomisili.kelurahan,
        })
      }
      Object.assign(this.form, map)
    } catch (error) {
      this.$snackbar(
        'Gagal map data dari Kemenkes, mohon di masukkan secara manual'
      )
    }
  }
  async getRegion(kelurahanId: string): Promise<{
    kelurahan: string
    kecamatan: number
    kabupaten: number
    provinsi: number
  }> {
    let result: Kelurahan = await this.wilayahApi.getWilayahAll({
      kelurahan_id: kelurahanId,
    })
    return {
      kelurahan: result.id,
      kecamatan: result.kecamatan.id,
      kabupaten: result.kecamatan.kabupaten.id,
      provinsi: result.kecamatan.kabupaten.provinsi.id,
    }
  }

  get getUrlVaccination() {
    if (this.isAdd) return false

    let idPatient = this.$route.params.idpasien
    if (!idPatient) return false

    let refId = this.$route.query.refId
    return `/vaksinasi/patient/add?refId=${refId}&patient=${idPatient}`
  }

  get getUrlTestCovid() {
    if (this.isAdd) return false

    let idPatient = this.$route.params.idpasien
    if (!idPatient) return false

    let refId = this.$route.query.refId
    return `/swab/type/pasien/add?refId=${refId}&patient=${idPatient}`
  }

  parseAddress() {
    if (this.form.nik && this.form.nik.length >= 6) {
      const provinsiCode = parseInt(this.form.nik.slice(0, 2))
      const kabupatenCode = parseInt(this.form.nik.slice(0, 4))
      const kecamatanCode = parseInt(this.form.nik.slice(0, 6))

      this.form.provinsi = provinsiCode
      this.form.kabupaten = kabupatenCode
      this.form.kecamatan = kecamatanCode
    }
  }

  parseDateBirth() {
    // skip if filled
    if (this.form.datebirth) return

    if (this.form.nik && this.form.nik.length >= 12) {
      const dateFromId = this.form.nik.slice(6, 12)
      let day = parseInt(dateFromId.slice(0, 2))
      const month = dateFromId.slice(2, 4)
      const year = dateFromId.slice(4, 6)

      // KTP perempuan tanggal lahir nya + 40
      if (day > 40) {
        day = day - 40
        this.form.gender = 'pr'
      } else {
        this.form.gender = 'lk'
      }
      try {
        const parseDate = parse(
          `${year}-${month}-${day}`,
          'yy-MM-dd',
          Date.now()
        )
        if (!isValid(parseDate)) {
          this.form.datebirth = null
          return
        }
        const dateBirth = format(parseDate, 'yyyy-MM-dd')
        this.form.datebirth = dateBirth
      } catch (err) {}
    }
  }

  parseNikToData() {
    if (this.form.type !== 'nik') {
      return
    }
    this.parseAddress()
    this.parseDateBirth()
  }
}
</script>

<style></style>
