<template>
  <div>
    <common-toolbar no-back>
      <div>Data Pasien</div>
      <template #control>
        <v-btn color="primary" to="/pasien/add"> Tambah Pasien </v-btn>
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination-filter
          v-model="dataResult"
          :isShowFilter="false"
          :isShowQrScan="false"
          search
          search-hint="Cari berdasarkan nik atau nama"
          @change="fetchData"
        >
          <v-data-table
            :headers="table.headers"
            :items="listPatients"
            :search="table.search"
            :loading="isLoading"
            hide-default-footer
            disable-pagination
          >
            <template #[`item.action`]="{ item }">
              <v-btn icon :to="item.id">
                <v-icon> mdi-eye </v-icon>
              </v-btn>
              <v-btn icon @click="confirmDelete(item.id)">
                <v-icon> mdi-delete </v-icon>
              </v-btn>
            </template>
            <template #[`item.createdAt`]="{ item }">
              {{ new Date(item.createdAt).toLocaleString() }}
            </template>
            <template #[`item.narStatus`]="{ item }">
              <common-chip-nar-patient v-model="item.narOrangId" />
            </template>
          </v-data-table>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
    <dialog-delete-confirm
      v-model="deleteDialog"
      :loading="deleteDialogLoading"
      @ok="onDeleteData()"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { PatientSwabDetailDTO, ReferencePatientApi } from '@inatti/shared/api-nuxt'
import { UiTablePaginationFilter } from '@inatti/shared/ui'

@Component({ components: { UiTablePaginationFilter } })
export default class ListPatientComponent extends Vue {
  listPatients: PatientSwabDetailDTO.Patient[] = []
  table = {
    headers: [
      {
        text: 'Nik',
        value: 'nik',
      },
      {
        text: 'Nama',
        value: 'name',
      },
      {
        text: 'Jenis Kelamin',
        value: 'gender',
      },
      {
        text: 'Nomor Hp',
        value: 'phonenumber',
      },
      {
        text: 'Tanggal dibuat',
        value: 'createdAt',
      },
      {
        text: 'Aksi',
        value: 'action',
      },
    ],
    search: null,
  }

  dataResult = {}
  deleteDialog = false
  deleteDialogLoading = false
  isLoading = true

  created() {
    this.fetchData({
      'filter[date]': 'today',
    })
  }

  referencePatientApi = new ReferencePatientApi(this.$axios)

  async fetchData(params: any = {}) {
    try {
      this.isLoading = true
      const result = await this.referencePatientApi.get({
        ...params,
      })
      this.dataResult = result
      this.listPatients = result.results
    } finally {
      this.isLoading = false
    }
  }

  selectedPatient: string = ''
  confirmDelete(patientId: string) {
    this.selectedPatient = patientId
    this.deleteDialog = true
  }

  // on delete
  async onDeleteData() {
    this.deleteDialogLoading = true
    try {
      await this.referencePatientApi.delete(this.selectedPatient)
      this.deleteDialog = false
    } catch (error) {
      alert(error)
    }
    this.deleteDialogLoading = false
    this.fetchData({
      'filter[date]': 'today',
    })
  }
}
</script>

<style></style>
