<template>
  <ui-page-transaction-detail />
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { UiPageTransactionDetail } from '@inatti/shared/ui'

@Component({ components: { UiPageTransactionDetail } })
export default class DetailTransaction extends Vue {}
</script>

<style></style>
