<template>
  <feature-telefarmasi-database-patient-list
    ref="uiCorePatientList"
    :role="role"
  >
    <template #add-patient-control>
      <v-btn
        color="primary"
        to="/patient/add"
        v-if="$allow('manage:pmr')"
        :disabled="isButtonAddDisabled"
      >
        Tambah Pasien
      </v-btn>
    </template>
  </feature-telefarmasi-database-patient-list>
</template>

<script lang="ts">
import { TelepharmacyRolesEnum } from '@inatti/shared/api-nuxt'
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class PatientListPageComponent extends Vue {
  patientListComponent = {} as any
  role = TelepharmacyRolesEnum.apotek

  $allow : any

  get apotekStatus() {
    return this.$store.state.apotekerStore.status
  }

  get isButtonAddDisabled() {
    return !this.apotekStatus.isApotekActice.status
  }

  mounted() {
    const { homecare, forceFilterApotek } = this.$route.query as Record<
      string,
      string
    >
    this.patientListComponent = this.$refs.uiCorePatientList

    if (homecare || forceFilterApotek) {
      if (homecare) {
        const homecareItems = this.patientListComponent.homecareItems
        this.patientListComponent.homecare.push(homecareItems[homecare].value)
      }
      if (forceFilterApotek) {
        this.patientListComponent.forceFilterApotek =
          forceFilterApotek === 'true'
      }
      this.patientListComponent.refetchData()
    }
  }
}
</script>
