<template>
  <div>
    <v-form ref="form">
      <v-row justify="center">
        <v-col cols="6">
          <v-text-field
            v-model="dataUser.fullname"
            :rules="formRequire"
            name="fullname"
            label="Full name"
            clearable
          />
        </v-col>

        <v-col cols="6">
          <v-select
            v-model="dataUser.roleId"
            :rules="formRequire"
            label="Role"
            :items="roleUser"
            item-text="name"
            item-value="id"
            :loading="isLoadingRole"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="dataUser.email"
            name="email"
            label="Email"
            clearable
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model="dataUser.username"
            :rules="formRequire"
            name="username"
            label="Username"
            hint="Username yang digunakan untuk login"
            persistent-hint
            clearable
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model="dataUser.password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            name="password"
            label="Password"
            @click:append="showPassword = !showPassword"
          />
        </v-col>
      </v-row>
    </v-form>
    <v-alert
      v-model="alert.isShow"
      :type="alert.type"
      dismissible
      dense
      outlined
    >
      {{ alert.msg }}
    </v-alert>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { Role } from '@inatti/shared/api-nuxt'

@Component
export default class Form extends Vue {
  @Prop({ type: [Object] })
  value!: object
  @Prop({ type: Object })
  alert!: object

  created() {
    this.fetchRole()
  }

  showPassword: Boolean = false
  confirmPassword: Boolean = false

  get dataUser(): object {
    return this.value
  }

  set dataUser(val) {
    this.$emit('input', val)
  }

  roleUser: Role[] = []
  isLoadingRole = false
  async fetchRole() {
    try {
      this.isLoadingRole = true
      this.roleUser = await this.$axios.$get('/api-lab/user-manage/roles')
    } catch (error) {
      console.log(error)
    }
    this.isLoadingRole = false
  }

  formRequire = [(v: any) => !!v || 'Form ini harus di isi']
  $refs = {
    form: {} as any,
  }
  validateForm() {
    return this.$refs.form.validate()
  }
}
</script>
