<template>
  <v-simple-table class="mt-14">
    <template #default>
      <thead>
        <tr>
          <th class="text-left">Username</th>
          <th class="text-left">Role</th>
          <th class="text-left">Email</th>
          <th class="text-left">Edit / Hapus Data</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, key) in dataUser" :key="item.id">
          <td>{{ item.name }}</td>
          <td>{{ item.role }}</td>
          <td>{{ item.email }}</td>
          <td class="d-flex">
            <v-btn icon class="mr-3" @click="$emit('edit-user', key)">
              <v-icon color="#424242"> mdi-pencil </v-icon>
            </v-btn>
            <v-btn icon @click="$emit('delete-user', item.id)">
              <v-icon color="#424242" size="24">mdi-trash-can</v-icon>
            </v-btn>
          </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class TableUser extends Vue {
  @Prop(Array) readonly dataUser!: Array<object>
}
</script>
