<template>
  <ui-container-layout
    brand-image="https://inatti.id/asset-app/inatti-v2.2-large.png"
    brand-title="Apoteker"
  >
    <template #sidebar-menu>
      <ui-container-menu-navigation :menu-items="menus" />
    </template>
    <template #appbar-sidetool>
      <ui-container-menu-account
        :current-branch="selectedApotek ? selectedApotek.name : ''"
        title-action-change-branch="Pindah Apotek"
      />
    </template>
    <template #extra-notif>
      <v-row class="px-3 py-3" v-if="true">
        <AlertBlock
          v-for="(el, i) in notif"
          :key="i"
          v-show="!el.item.status"
          :message="messageId[el.item.messagId]"
          :action="
            el.link === '/information-apoteker' ? 'Isi data' : 'Hubungi Inatti'
          "
          @action-clicked="goTo(el.link)"
        />
      </v-row>
    </template>
  </ui-container-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { ApotekApi, ApotekerApi } from '@inatti/shared/api-nuxt'
import AlertBlock from '../components/common/AlertBlock.vue'

@Component({ components: { AlertBlock } })
export default class DefaultLayout extends Vue {
  selectedApotek = null
  apotekApi!: ApotekApi
  apotekerApi!: ApotekerApi
  menus = [
    {
      title: 'Management',
      child: [
        {
          icon: 'mdi-monitor-screenshot',
          title: 'Dashboard',
          to: '/',
          allow: 'dashboard',
        },
        {
          icon: 'mdi-table-account',
          title: 'Manajemen User',
          to: '/user',
          allow: 'user-manage',
        },
        {
          icon: 'mdi-information',
          title: 'Informasi Faskes',
          to: '/information-apotek',
          allow: 'apotek-information',
        },
      ],
    },
    {
      title: 'Management Obat',
      child: [
        // {
        //   icon: 'mdi-pill',
        //   title: 'Obat Publik',
        //   to: '/medicine/public',
        //   allow: 'medicine-public',
        // },
        {
          icon: 'mdi-pill',
          title: 'Item Obat',
          to: '/medicine/apotek',
          allow: 'medicine-apotek',
        },
      ],
    },
    {
      title: 'Konsultasi dan Pasien',
      child: [
        {
          icon: 'mdi-table-account',
          title: 'Database Pasien',
          to: '/patient',
          allow: 'patient',
        },
        {
          icon: 'mdi-table-large',
          title: 'Database PMR',
          to: '/pmr',
          allow: 'view:pmr',
        },
      ],
    },
    {
      title: 'Pengaturan',
      child: [
        {
          icon: 'mdi-account-cog',
          title: 'Pengaturan Akun',
          to: '/account/setting',
        },
        {
          icon: 'mdi-file-account-outline',
          title: 'Informasi Apoteker',
          to: '/information-apoteker',
          allow: 'apoteker',
        },
      ],
    },
  ]
  async fetchApotekName() {
    try {
      this.selectedApotek = await this.apotekApi.getOne(
        this.$route.query.apotekId as string
      )
    } catch (error) {}
  }

  notif = []
  get status() {
    return this.$store.state.apotekerStore.status
  }
  messageId = {
    'apoteker-information-not-filled-completely':
      'Informasi diri apoteker belum lengkap. Mohon isi informasi diri apoteker terlebih dahulu.',
    'apoteker-information-is-empty':
      'Informasi diri apoteker belum lengkap. Mohon isi informasi diri apoteker terlebih dahulu.',
    'apotek-status-is-waiting':
      'Faskes belum aktif, menunggu validasi oleh Admin Inatti',
    'apotek-status-is-rejected': 'Mohon maaf, permintaan apotek ditolak',
  }

  getNotif() {
    this.notif = Object.keys(this.status).map((v) => ({
      item: this.status[v],
      link: this.getLinkAlert(v),
    }))
  }

  getLinkAlert(v: string) {
    return v === 'isApotekerActive'
      ? '/information-apoteker'
      : 'https://inatti.id/help/'
  }

  goTo(link: string) {
    window.location.href = link
  }

  mounted() {
    this.apotekApi = new ApotekApi(this.$axios)
    this.apotekerApi = new ApotekerApi(this.$axios)
    this.fetchApotekName()
    this.getNotif()
    this.$store.dispatch('apotekerStore/getStatus', this.apotekerApi)
  }
}
</script>

<style>
.text-style {
  position: relative;
  top: 2.5px;
  font-size: 1.5rem;
  color: #7a892a;
}
</style>
