<template>
  <div>
    <common-toolbar>
      <div>Detail Vaksin</div>
    </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <v-row>
          <v-col md="6" cols="12">
            <v-card elevation="0">
              <v-card-text>
                <div class="d-flex justify-space-between align-center flex-row">
                  <span class="text-h6 font-weight-normal"
                    >Informasi Pasien</span
                  >
                  <v-btn @click="onEditPatient" color="primary" text small
                    >Edit Data Pasien</v-btn
                  >
                </div>
              </v-card-text>
            </v-card>
            <v-divider class="mb-3" />
            <core-patient-form v-model="patient" />
          </v-col>
          <v-col md="6" cols="12">
            <v-row dense>
              <v-col cols="12">
                <v-card outlined>
                  <v-card-text>
                    <div
                      class="d-flex justify-space-between align-start flex-row"
                    >
                      <span class="text-h6 font-weight-normal"
                        >Status Pembayaran</span
                      >
                      <span
                        class="text-decoration-underline cursor-pointer"
                        @click="$router.push('/transaction/' + orderTrx.id)"
                        style="color: #258ff1"
                        >Invoice id : {{ orderTrx.trxId }}</span
                      >
                    </div>
                    <v-divider class="my-3"></v-divider>
                    <div
                      class="d-flex w-full justify-start rounded-sm align-center flex-column"
                    >
                      <div
                        class="d-flex w-full justify-space-between align-center flex-row"
                      >
                        <div>
                          <span> Nama Produk :</span>
                          <span class="font-weight-bold">{{
                            order.product ? order.product.name : ''
                          }}</span>
                        </div>
                        <v-chip small color="primary">{{
                          order.product
                            ? order.product.product
                              ? order.product.product.name
                              : ''
                            : ''
                        }}</v-chip>
                      </div>
                      <div
                        class="d-flex w-full mt-4 justify-space-between align-center flex-row"
                      >
                        <span
                          >Rp.{{
                            order.price ? $utils.toDecimal(order.price) : '-'
                          }}</span
                        >
                        <span>{{ order.method }}</span>
                        <div>
                          <common-chip-payment
                            v-if="order.status"
                            label
                            small
                            :status="order.status"
                          />
                          <v-btn
                            x-small
                            class="ml-1"
                            @click="onOpenDialogEditPaymentStatus"
                            >edit</v-btn
                          >
                        </div>
                      </div>
                    </div>
                    <v-alert class="mt-4" dense text type="info"
                      >Pastikan pembayaran Pasien</v-alert
                    >
                  </v-card-text>
                </v-card>
                <v-dialog
                  v-model="dialogUpdatePaymentStatus.isOpen"
                  max-width="600px"
                >
                  <v-card>
                    <v-card-title> Edit Pembayaran </v-card-title>
                    <v-card-text>
                      <div class="mb-3">
                        Id Pembayaran: {{ dialogUpdatePaymentStatus.form.id }}
                      </div>
                      <v-text-field
                        v-model="dialogUpdatePaymentStatus.form.price"
                        outlined
                        dense
                        label="Harga"
                        disabled
                      />
                      <form-select-method-payment
                        v-model="dialogUpdatePaymentStatus.form.method"
                        outlined
                        dense
                      />
                      <ui-form-select-status-order
                        v-model="dialogUpdatePaymentStatus.form.status"
                        outlined
                        dense
                      />
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer />
                      <v-btn
                        small
                        color="red"
                        outlined
                        @click="onCloseDialogEditPaymentStatus"
                      >
                        Tutup
                      </v-btn>
                      <v-btn
                        small
                        @click="onSubmitEditPaymentStatus"
                        color="primary"
                        :loading="dialogUpdatePaymentStatus.isLoading"
                      >
                        Simpan
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-col>
              <v-col cols="12">
                <v-card outlined>
                  <v-card-text>
                    <div>
                      <span class="text-h6 font-weight-normal"
                        >Detail Vaksinasi</span
                      >
                    </div>
                    <v-divider class="my-3"></v-divider>
                    <div
                      class="d-flex w-full justify-start rounded-sm align-center flex-column"
                    >
                      <v-card class="my-1 w-full pa-2" outlined>
                        <div
                          class="d-flex justify-space-between align-center flex-row"
                        >
                          <div
                            class="d-flex justify-center align-start flex-column"
                          >
                            <span
                              class="text-subtitle-1 black--text font-weight-medium"
                              >Checkin</span
                            >
                            <span>{{
                              checkinDateAt
                                ? $utils.dateToMonthText(checkinDateAt)
                                : '-'
                            }}</span>
                          </div>
                          <div>
                            <v-btn
                              :disabled="!!checkinDateAt"
                              @click="onCheckin"
                              ref="actionCheckinRef"
                              small
                              color="primary"
                              >CHECK IN PASIEN</v-btn
                            >
                          </div>
                        </div>
                      </v-card>
                      <v-card class="my-1 w-full pa-2" outlined>
                        <div
                          class="d-flex justify-space-between align-center flex-row"
                        >
                          <div
                            class="d-flex justify-center align-start flex-column"
                          >
                            <span
                              class="text-subtitle-1 black--text font-weight-medium"
                              >Vaksin</span
                            >
                            <span
                              >Permintaan Vaksin :
                              {{
                                requestDate
                                  ? $utils.dateToMonthText(requestDate)
                                  : '-'
                              }}</span
                            >
                            <span
                              >Divaksin tanggal :
                              {{
                                vaksinDateAt
                                  ? $utils.dateToMonthText(vaksinDateAt)
                                  : '-'
                              }}</span
                            >
                          </div>
                          <div>
                            <v-btn
                              :disabled="!!vaksinDateAt || !checkinDateAt"
                              ref="actionVaksinRef"
                              @click="onVaksin"
                              small
                              color="primary"
                              >VAKSIN PASIEN</v-btn
                            >
                          </div>
                        </div>
                      </v-card>
                      <v-card class="my-1 w-full px-2 py-4" outlined>
                        <div
                          class="d-flex justify-space-between align-center flex-row"
                        >
                          <div
                            class="d-flex justify-center align-start flex-column"
                          >
                            <span
                              class="text-subtitle-1 black--text font-weight-medium"
                              >Vaksin PDF</span
                            >
                          </div>
                          <div>
                            <v-btn
                              :disabled="!vaksinDateAt"
                              @click="onDownloadVaksin"
                              small
                              ref="actionDownloadVaksinPdfRef"
                              color="primary"
                              >DOWNLOAD PDF</v-btn
                            >
                          </div>
                        </div>
                      </v-card>
                      <v-card class="my-1 w-full pa-2" outlined>
                        <div
                          class="d-flex justify-space-between align-center flex-row"
                        >
                          <div
                            class="d-flex justify-center align-start flex-column"
                          >
                            <span
                              class="text-subtitle-1 black--text font-weight-medium"
                              >Notifikasi Whatsapp</span
                            >
                            <span>Nomor hp : +{{ patient.phonenumber }}</span>
                          </div>
                          <div>
                            <v-btn
                              ref="actionSendWhatsappRef"
                              :disabled="!checkinDateAt"
                              @click="onSendNotifyWhatsapp"
                              small
                              color="success"
                              >KIRIM KE PASIEN</v-btn
                            >
                          </div>
                        </div>
                      </v-card>
                    </div>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col md="12">
            <div>
              <div class="w-100">
                <v-row>
                  <v-col>
                    <div class="text-h6">Rekam Aktivitas</div>
                  </v-col>
                </v-row>
              </div>
              <v-divider class="my-3" />
              <page-vaccine-list-log-activity :id="id" />
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-snackbar bottom v-model="snackbar.show" :timeout="snackbar.timeout">
      {{ snackbar.text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar.show = false">
          Tutup
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  ReferencePatientSwabApi,
  VaksinApi,
  PatientSwabDetailDTO,
  PatientVaksinDetailDto,
} from '@inatti/shared/api-nuxt'

@Component
export default class VaccinePatient extends Vue {
  vaksinApi = new VaksinApi(this.$axios)
  referencePatientSwabApi = new ReferencePatientSwabApi(this.$axios)
  patient = {} as PatientSwabDetailDTO.Patient
  orderTrx = {} as PatientVaksinDetailDto.OrderTrx
  order = {} as PatientVaksinDetailDto.Order
  isLoading = false
  id = ''
  requestDate = ''
  vaksinDateAt = ''
  checkinDateAt = ''

  async fetchData() {
    const id = this.$route.params.id
    try {
      this.isLoading = true
      const resp = await this.vaksinApi.getOne(id)
      const patient = resp.patient
      this.patient = {
        ...patient,
        provinsi: patient.provinsi?.id,
        kabupaten: patient.kabupaten?.id,
        kecamatan: patient.kecamatan?.id,
        kelurahan: patient.kelurahan?.id,
        domisiliProvinsi: patient.domisiliProvinsi?.id,
        domisiliKabupaten: patient.domisiliKabupaten?.id,
        domisiliKecamatan: patient.domisiliKecamatan?.id,
        domisiliKelurahan: patient.domisiliKelurahan?.id,
      }
      this.id = resp.id
      this.orderTrx = resp.orderTrx
      this.order = resp.order
      this.requestDate = resp.requestDate
      this.vaksinDateAt = resp.vaksinDateAt
      this.checkinDateAt = resp.checkinDateAt
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }
  $refs: any
  $utils: any

  dialogUpdatePaymentStatus = {
    isOpen: false,
    form: {} as any,
    isLoading: false,
  }

  onOpenDialogEditPaymentStatus() {
    this.dialogUpdatePaymentStatus = {
      isLoading: false,
      isOpen: true,
      form: this.$utils.cloneObject(this.order),
    }
  }

  onCloseDialogEditPaymentStatus() {
    this.dialogUpdatePaymentStatus = {
      isLoading: false,
      isOpen: false,
      form: {},
    }
  }

  async onSubmitEditPaymentStatus() {
    try {
      this.dialogUpdatePaymentStatus.isLoading = true
      await this.referencePatientSwabApi.updateByOrderId(
        this.dialogUpdatePaymentStatus.form.id,
        this.dialogUpdatePaymentStatus.form
      )
      this.snackbar.show = true
      this.snackbar.text = 'Sukses Update Status pembayaran !'
      this.onCloseDialogEditPaymentStatus()
      this.fetchData()
    } catch (error) {
    } finally {
      this.dialogUpdatePaymentStatus.isLoading = false
    }
  }

  logActivity = {
    headers: [
      { text: 'Nama Aktivitas', value: '' },
      { text: 'Nama User', value: '' },
      { text: 'Area', value: '' },
      { text: 'Tanggal', value: '' },
    ],

    items: [],
  }

  // snackbar instance
  snackbar = {
    show: false,
    timeout: 2000,
    text: '',
    color: 'success',
  }

  async onCheckin() {
    try {
      this.$refs.actionCheckinRef.loading = true
      await this.vaksinApi.actionCheckin([this.id])
      this.snackbar.show = true
      this.snackbar.text = 'Sukses Check In Pasien !'
      this.fetchData()
    } catch (error) {
    } finally {
      this.$refs.actionCheckinRef.loading = false
    }
  }

  async onVaksin() {
    try {
      this.$refs.actionVaksinRef.loading = true
      await this.vaksinApi.actionVaksin([this.id])
      this.snackbar.show = true
      this.snackbar.text = 'Sukses Vaksin Pasien !'
      this.fetchData()
    } catch (error) {
    } finally {
      this.$refs.actionVaksinRef.loading = false
    }
  }

  async onDownloadVaksin() {
    try {
      this.$refs.actionDownloadVaksinPdfRef.loading = true
      const resp = await this.vaksinApi.downloadPdf(this.id)
      this.$utils.saveFile({
        byteArray: resp,
        fileName: `vaksin_${this.orderTrx.trxId}`,
        extension: 'pdf',
      })
    } catch (error) {
    } finally {
      this.$refs.actionDownloadVaksinPdfRef.loading = false
    }
  }

  async onSendNotifyWhatsapp() {
    try {
      this.$refs.actionSendWhatsappRef.loading = true
      await this.vaksinApi.actionNotifyWhatsapp([this.id])
      this.snackbar.show = true
      this.snackbar.text = 'Sukses Mengirim Notifikasi !'
    } catch (error) {
    } finally {
      this.$refs.actionSendWhatsappRef.loading = false
    }
  }

  onEditPatient() {
    this.$router.push({
      path: '/pasien/' + this.patient.id,
      query: {
        ...this.$route.query,
        mode: 'vaccine',
      },
    })
  }

  mounted() {
    this.fetchData()
  }
}
</script>
