<template>
  <div>
    <common-toolbar no-back> Checkin Pasien </common-toolbar>
    <v-card>
      <v-card-text>
        <page-vaccine-list-patient
          ref="tablePatientRef"
          type-table="checkin"
          :filter-status="filterStatusSelected"
        >
          <template #actions="{ selected }">
            <div class="d-flex justify-space-between">
              <div>
                <v-btn
                  :loading="isLoading"
                  color="primary"
                  :disabled="selected.length === 0"
                  @click="onCheckinPasien(selected)"
                >
                  Checkin pasien
                </v-btn>
              </div>
              <ui-table-filter-select
                v-model="filterStatusSelected"
                :filters="listFilter"
              />
            </div>
          </template>
        </page-vaccine-list-patient>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { VaksinApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class ListCheckin extends Vue {
  listFilter = [
    {
      text: 'Checkin',
      value: 'ReadyCheckin',
    },
  ]
  isLoading = false
  $refs: any
  filterStatusSelected = ['ReadyCheckin']
  vaksinApi = new VaksinApi(this.$axios)
  async onCheckinPasien(data: any) {
    this.isLoading = true
    const id = data.map((v: any) => v.id)
    try {
      await this.vaksinApi.actionCheckin(id)
      this.$refs.tablePatientRef.refetchPatient()
      this.$refs.tablePatientRef.resetSelectedRow()
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }
}
</script>
