<template>
  <div>
    <common-toolbar no-back> Notifikasi Pasien </common-toolbar>
    <v-card>
      <v-card-text>
        <page-vaccine-list-patient
          ref="tablePatientRef"
          type-table="notification"
          :filter-status="filterStatusSelected"
        >
          <template #actions="{ selected }">
            <div class="d-flex justify-space-between">
              <div>
                <v-btn
                  color="primary"
                  small
                  :loading="isLoadingSendWhatsapp"
                  @click="sendWhatsapp(selected)"
                >
                  Kirim Whatsapp
                </v-btn>
                <v-btn
                  color="primary"
                  small
                  :loading="isLoadingCheckWhatsapp"
                  @click="checkWhatsapp(selected)"
                >
                  Periksa Whatsapp
                </v-btn>
                <v-btn
                  :disabled="
                    selected.length === 0 || isLoadingDownloadCertificateZip
                  "
                  color="primary"
                  small
                  :loading="isLoadingDownloadCertificateZip"
                  @click="onDownloadCertificateZip(selected)"
                >
                  Download sertifikat ZIP
                </v-btn>
              </div>
              <ui-table-filter-select
                v-model="filterStatusSelected"
                :filters="listFilter"
              />
            </div>
          </template>
        </page-vaccine-list-patient>
      </v-card-text>
    </v-card>
    <v-dialog v-model="dialogWarn" width="450">
      <v-card width="450">
        <v-card-title class="white--text red darken-4">
          Peringatan
        </v-card-title>
        <v-card-text>
          <div class="mt-3 text-h6">
            {{ warnText }}
          </div>
        </v-card-text>
        <v-card-actions>
          <div>
            <v-btn color="primary" @click="closeDialogWarn"> Batal </v-btn>
            <v-btn color="primary" outlined @click="forceSendWhatsapp">
              Paksa kirim
            </v-btn>
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { VaksinApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class ListNotification extends Vue {
  listFilter = [
    {
      text: 'Sudah Vaksin',
      value: 'AlreadyVaksin',
    },
  ]
  isLoading = false
  $refs: any
  filterStatusSelected = ['AlreadyVaksin']
  vaksinApi = new VaksinApi(this.$axios)
  async onNotificationPasien(data: any) {
    this.isLoading = true
    const id = data.map((v: any) => v.id)
    try {
      await this.vaksinApi.actionNotifyWhatsapp(id)
      this.$refs.tablePatientRef.refetchPatient()
      this.$refs.tablePatientRef.resetSelectedRow()
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  resultSelected: any = null
  dialogWarn = false
  warnText = ''

  someSelectedSended(selected: any[]) {
    let selectedFilledNotify = selected.filter((v) => v.notifyWhataspp)
    if (selectedFilledNotify.length < 1) {
      return this.sendWhatsapp(selected, true)
    }
    this.resultSelected = selected
    this.dialogWarn = true
    this.warnText = `Terdapat ${selectedFilledNotify.length} sample sudah di proses`
  }

  isLoadingSendWhatsapp = false
  async sendWhatsapp(
    selected: any[],
    confirmed: boolean = false,
  ): Promise<any> {
    if (!confirmed) {
      return this.someSelectedSended(selected)
    }

    this.isLoadingSendWhatsapp = true

    if (!selected || selected.length < 1) return false
    const listSample = selected.map((v) => v.id)
    try {
      await this.vaksinApi.actionNotifyWhatsapp(listSample)
      if (this.$refs.tablePatientRef) {
        // @ts-ignore
        this.$refs.tablePatientRef.refetchPatient()
      }
    } catch (err) {
      console.log(err)
    }
    this.isLoadingSendWhatsapp = false
  }

  isLoadingCheckWhatsapp = false
  async checkWhatsapp(selected: any[]) {
    this.isLoadingCheckWhatsapp = true

    if (!selected || selected.length < 1) return false
    const listSample = selected.map((v) => v.id)
    try {
      await this.vaksinApi.actionCheckNotifyWhatsapp(listSample)
      if (this.$refs.tablePatientRef) {
        // @ts-ignore
        this.$refs.tablePatientRef.refetchPatient()
      }
    } catch (err) {
      console.log(err)
    }
    this.isLoadingCheckWhatsapp = false
  }

  isLoadingDownloadCertificateZip = false
  $utils: any

  async onDownloadCertificateZip(selected: any[]) {
    if (!selected || selected.length < 1) return false
    const listSample = selected.map((v) => v.id)
    try {
      this.isLoadingDownloadCertificateZip = true
      const resp = await this.vaksinApi.downloadCertificateZip({
        idvaksin: listSample
      })
      this.$utils.saveFile({
        blobType:
          'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
        byteArray: resp,
        fileName: 'sertifikat',
        extension: 'zip',
      })
    } catch (error) {
    } finally {
      this.isLoadingDownloadCertificateZip = false
    }
  }

  forceSendWhatsapp() {
    this.sendWhatsapp(this.resultSelected, true)
    this.closeDialogWarn()
  }

  closeDialogWarn() {
    this.dialogWarn = false
    this.warnText = ''
  }
}
</script>
