<template>
  <v-card class="my-3">
    <v-card-title class="text-h5">
      {{ $attrs.label }}
    </v-card-title>
    <v-card-text>
      <div v-if="value">
        <v-img :src="previewImage" style="max-height:200px" class="my-3"></v-img>
      </div>
      <v-file-input v-if="editMode" v-bind="$attrs" prepend-icon="mdi-camera" @change="$emit('change', $event)"></v-file-input>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    // eslint-disable-next-line vue/require-default-prop
    value: null,
    editMode: {
      type: Boolean,
      default: false
    }
  },
  data(){
    return {
      previewImage: null
    }
  },
  watch: {
    value(newImage){
      this.getSrcImage(newImage)
    }
  },
  mounted(){
    this.getSrcImage(this.value)
  },
  methods: {
    getSrcImage(image){
      if(!image) return;
      if(typeof image === 'string'){
        this.previewImage = image
        return;
      }
      const reader = new FileReader();
      const _this = this

      reader.addEventListener("load", () => {
        // convert image file to base64 string
        _this.previewImage = reader.result;
      }, false);
      reader.readAsDataURL(image);
    }
  }
  
}
</script>