<template>
  <v-row>
    <v-col md="8" cols="12" class="table--container">
      <table class="mapping-table">
        <tr>
          <td class="cell--td fixed--cell"></td>
          <template v-for="(colNumber, indexCol) in col">
            <td :key="indexCol" class="cell--td fixed--cell">
              <div class="cell">
                {{ colNumber }}
              </div>
            </td>
          </template>
        </tr>
        <tr v-for="(rowNumber, indexRow) in +row" :key="indexRow">
          <td class="cell--td fixed--cell">
            {{ getAscii(rowNumber) }}
          </td>
          <td
            v-for="(colNumber, indexCol) in col"
            :key="indexCol"
            class="cell--td"
            :class="{
              cell__selected: isCellSelected(rowNumber, colNumber),
              cell__filled: isCellFilled(rowNumber, colNumber),
              cell__control: isCellControl(rowNumber, colNumber),
              cell__selectedToEdit: isCellSelectedToEdit(rowNumber, colNumber),
            }"
            @click="selectCell(rowNumber, colNumber)"
          >
            <div v-if="!isCellFilled(rowNumber, colNumber)" class="cell">
              {{ getAscii(rowNumber) }}{{ colNumber }}
            </div>
            <div v-else>
              <v-tooltip bottom>
                <template #activator="{ on, attrs }">
                  <div
                    v-if="mappingCell[`${rowNumber}:${colNumber}`].isControl"
                    class="text-center cell__container"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <div>
                      {{ mappingCell[`${rowNumber}:${colNumber}`].controlName }}
                    </div>
                    <div>
                      {{ mappingCell[`${rowNumber}:${colNumber}`].controlType }}
                    </div>
                  </div>
                  <div
                    v-else
                    class="text-center cell__container"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <div class="cell__detail cell__detail--sampleName">
                      {{
                        mappingCell[`${rowNumber}:${colNumber}`].sample.patient
                          .name
                      }}
                    </div>
                    <div class="cell__detail cell__detail--sampleDateBirt">
                      {{
                        mappingCell[`${rowNumber}:${colNumber}`].sample.patient
                          .datebirth
                      }}
                    </div>
                  </div>
                </template>
                <!-- eslint-disable-next-line vue/no-v-html -->
                <span v-html="getSampleName(rowNumber, colNumber)"></span>
              </v-tooltip>
            </div>
          </td>
        </tr>
      </table>
    </v-col>
    <v-col md="4" cols="12">
      <v-alert
        v-if="sampleListNotMapped().length === 0 && !selectedCell.value"
        type="success"
        outlined
      >
        Semua sample telah dipetakan
      </v-alert>
      <div v-else-if="!selectedCell.value && !readOnly">
        <v-text-field
          v-model="searchSample"
          label="Cari Sample"
          placeholder="Cari nama, nik, atau kode sample"
          outlined
          dense
          append-icon="mdi-magnify"
        />
        <div class="text-caption">Sample belum di ekstraksi</div>
        <!-- List sample yang belum di ekstrak -->
        <v-list class="list-sample">
          <template v-for="(sample, index) in sampleListFiltered">
            <v-list-item v-if="!isSampleMapped(sample)" :key="index">
              <v-list-item-content>
                <v-list-item-title>
                  <strong>
                    {{ sample.patient.name }}
                  </strong>
                </v-list-item-title>
                <v-list-item-subtitle class="d-flex">
                  <div>
                    {{ sample.patient.datebirth }}
                  </div>
                  <div class="ml-3">
                    <common-chip-history-sample v-model="sample.history" />
                  </div>
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <div class="d-flex align-center">
                  <v-btn
                    title="Lihat Detail sample"
                    icon
                    color="green"
                    :to="'/sample-swab/'+sample.id"
                  >
                    <v-icon> mdi-account-outline </v-icon>
                  </v-btn>
                  <v-btn
                    title="Tambahkan sample ke sel yang terpilih"
                    class="ml-3"
                    icon
                    color="primary"
                    :disabled="!selectedCell.rowNumber"
                    @click="putSampleToMapping(sample)"
                  >
                    <v-icon> mdi-account-plus-outline </v-icon>
                  </v-btn>
                </div>
              </v-list-item-action>
            </v-list-item>
          </template>
        </v-list>
      </div>
      <div v-if="useControlData && !readOnly">
        <v-divider />
        <div class="text-caption my-3">Data Kontrol</div>
        <v-btn
          color="primary"
          small
          :disabled="!selectedCell.rowNumber"
          @click="showControlForm"
        >
          Tambah Data Kontrol
        </v-btn>
      </div>

      <!-- Section (kanan) ketika dipilih -->
      <v-list v-if="selectedCell.value">
        <v-list-item>
          <v-list-item-avatar>
            <v-avatar color="primary" class="white--text">
              {{ getCellAscii(selectedCell.value) }}
            </v-avatar>
          </v-list-item-avatar>
          <v-list-item-content v-if="selectedCell.value.sample">
            <v-list-item-title>
              <strong>{{ selectedCell.value.sample.patient.name }}</strong>
            </v-list-item-title>
            <v-list-item-subtitle>
              <div class="d-flex">
                <div>
                  {{ selectedCell.value.sample.patient.datebirth }}
                </div>
                <div class="ml-3">
                  <common-chip-history-sample v-model="selectedCell.value.sample.history" />
                </div>
              </div>
            </v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-content v-else>
            <v-list-item-title>
              <strong>{{ selectedCell.value.controlName }}</strong>
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ selectedCell.value.controlType }}
            </v-list-item-subtitle>
          </v-list-item-content>
          <!-- List item action ketika tidak readonly (create Mode) -->
          <v-list-item-action v-if="!readOnly">
            <v-btn icon color="red" @click="removeValueCellSelected">
              <v-icon>mdi-account-remove-outline</v-icon>
            </v-btn>
          </v-list-item-action>
          <v-list-item-action v-else>
            <div class="d-flex">
              <v-btn
                title="Lihat Detail sample"
                icon
                color="green"
                :to="'/sample-swab/'+selectedCell.value.sample.id"
              >
                <v-icon> mdi-account-outline </v-icon>
              </v-btn>
              <v-tooltip v-if="editable" bottom class="ml-3">
                <template #activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    icon
                    color="red"
                    :disabled="isEditingCell"
                    v-on="on"
                    @click="editSamplePosition()"
                  >
                    <v-icon>mdi-account-convert-outline</v-icon>
                  </v-btn>
                </template>
                <span> Edit posisi sample </span>
              </v-tooltip>
            </div>
          </v-list-item-action>
        </v-list-item>
      </v-list>

      <!-- Section (kanan) list untuk data readonly (view mode) -->
      <div v-else-if="readOnly">
        <div class="text-caption">Sample sudah di mapping</div>
        <v-list>
          <v-list-item-group v-model="selectedListMappingCell" color="primary">
            <v-list-item
              v-for="(keyCell, index) in Object.keys(mappingCell)"
              :key="index"
            >
              <v-list-item-avatar>
                <v-avatar color="primary" class="white--text">
                  {{ getCellAscii(mappingCell[keyCell]) }}
                </v-avatar>
              </v-list-item-avatar>

              <!-- Real Sample -->
              <v-list-item-content v-if="mappingCell[keyCell].sample">
                <v-list-item-title>
                  <strong>{{ mappingCell[keyCell].sample.patient.name }}</strong>
                </v-list-item-title>
                <v-list-item-subtitle>
                  <div class="d-flex">
                    <div>
                      {{ mappingCell[keyCell].sample.patient.datebirth }}
                    </div>
                    <div class="ml-3">
                      <common-chip-history-sample v-model="mappingCell[keyCell].sample.history" />
                    </div>
                  </div>
                </v-list-item-subtitle>
              </v-list-item-content>
              
              <!-- Control sample -->
              <v-list-item-content v-else>
                <v-list-item-title>
                  <strong>{{ mappingCell[keyCell].controlName }}</strong>
                </v-list-item-title>
                <v-list-item-subtitle>
                  {{ mappingCell[keyCell].controlType }}
                </v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-action>
                <div class="d-flex">
                  <div v-if="mappingCell[keyCell].sample">
                    <v-btn
                      title="Lihat Detail sample"
                      icon
                      color="green"
                      :to="'/sample-swab/'+mappingCell[keyCell].sample.id"
                    >
                      <v-icon> mdi-account-outline </v-icon>
                    </v-btn>
                  </div>
                  <v-tooltip v-if="editable" bottom class="ml-3">
                    <template #activator="{ on, attrs }">
                      <v-btn
                        icon
                        color="red"
                        :disabled="isEditingCell"
                        v-bind="attrs"
                        @click="editSamplePosition(keyCell)"
                        v-on="on"
                      >
                        <v-icon>mdi-account-convert-outline</v-icon>
                      </v-btn>
                    </template>
                    <span> Edit posisi sample </span>
                  </v-tooltip>
                </div>
              </v-list-item-action>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </div>
    </v-col>
    <v-dialog v-model="controlDialog" width="500">
      <v-card>
        <v-card-title class="text-h5 mb-3">
          Tambah Kontrol Sample
        </v-card-title>
        <v-card-text>
          <v-form
            ref="controlFormRef"
            v-model="controlForm.isValid"
            lazy-validation
          >
            <v-text-field
              v-model="controlForm.name"
              :rules="ruleRequired"
              label="Nama Sample"
              outlined
              dense
            />
            <v-select
              v-model="controlForm.type"
              :rules="ruleRequired"
              label="Tipe"
              :items="controlType"
              item-value="value"
              item-text="text"
              outlined
              dense
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn color="red" outlined class="mr-3" @click="hideControlForm()">
            Batal
          </v-btn>
          <v-btn color="primary" @click="addControlForm()">
            Tambah Sample Kontrol
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Emit, Prop, Watch } from 'vue-property-decorator'
import { PatientSwabDetailDTO } from '@inatti/shared/api-nuxt'

export enum ControlTypeMapping {
  positif = 'positif',
  negatif = 'negatif',
}

export type ValueMappingCellType = {
  id?: number
  row: number
  col: number
  sample?: PatientSwabDetailDTO.SwabDetail
  isControl?: boolean
  controlType?: ControlTypeMapping
  controlName?: string
}

export type MappingCellType = {
  [key: string]: ValueMappingCellType
}

type eventOnSelectCellType = (selectedCell: {
  rowNumber: number
  colNumber: number
  value: any
}) => void

export interface ParamEmitChangePositionSample {
  valueMapping: ValueMappingCellType
  newLocation: {
    locateRow: number
    locateColumn: number
  }
  onDone?: () => void
  onError?: (error: any) => void
}

/**
 * This Component have 2 State : Create Mode and View Mode
 *
 * Create mode => readonly = false
 * View mode => readonly = true
 */

@Component
export default class MappingSampleComponent extends Vue {
  created() {}

  @Prop({ type: Boolean, default: true })
  readonly editable!: boolean

  @Prop([Number, String])
  readonly col!: number | string

  @Prop([Number, String])
  readonly row!: number | string

  @Prop([Array])
  readonly sampleList!: PatientSwabDetailDTO.SwabDetail[]

  @Prop([Object])
  readonly value!: any

  @Prop({ type: [Boolean], default: false })
  readonly readOnly!: boolean

  @Prop({ type: Boolean, default: false })
  readonly useControlData!: boolean

  /**
   * [Mode View]
   * this variable to detect selected list and add click event
   */
  selectedListMappingCell = null as any
  @Watch('selectedListMappingCell')
  onChangeSelectedListMappingCell(indexMappingCell: number) {
    if (indexMappingCell === null) {
      return
    }
    const mappingCellSelected = Object.values(this.mappingCell)[
      indexMappingCell
    ]
    if (mappingCellSelected) {
      this.selectCell(mappingCellSelected.row, mappingCellSelected.col)
    }
  }

  selectedCell:
    | {
        rowNumber: number
        colNumber: number
        value?: ValueMappingCellType
      }
    | any = {}

  get mappingCell(): MappingCellType {
    return this.value
  }

  set mappingCell(val: MappingCellType) {
    this.$emit('input', val)
  }

  searchSample: string = ''

  $refs = {
    controlFormRef: {} as any,
  }

  putSampleToMapping(sample: PatientSwabDetailDTO.SwabDetail) {
    if (!this.selectedCell) {
      alert('Pilih cell terlebih dahulu')
      return false
    }
    const { rowNumber, colNumber } = this.selectedCell
    this.mappingCell[`${rowNumber}:${colNumber}`] = {
      sample,
      row: rowNumber,
      col: colNumber,
    }
    this.resetGrid()
  }

  resetGrid() {
    this.cannotSelectCellValued = false
    this.selectedCell = {}
    this.searchSample = ''
  }

  getSampleName(rowNumber: string, colNumber: string){
    const mappingCell = this.mappingCell
    const cell = mappingCell[`${rowNumber}:${colNumber}`]
    if(cell.isControl){
      return cell.controlName
    } else {
      const name = cell.sample?.patient.name ?? ''
      const dateBirth = cell.sample?.patient.datebirth ?? ''
      return `${name} <br> ${dateBirth}`
    }
  }

  /**
   * if true, grid cannot select the cell that have value.
   */
  cannotSelectCellValued = false

  /**
   * Function on select Cell. store rowNumber, colNumber and value
   */
  eventOnSelectCell: eventOnSelectCellType = () => {}
  selectCell(rowNumber: number, colNumber: number) {
    if (this.isCellSelected(rowNumber, colNumber)) {
      // deactive cell that selected
      this.selectedCell = {}
    } else {
      const value = this.mappingCell[`${rowNumber}:${colNumber}`]
      if (value && this.cannotSelectCellValued) {
        return
      }
      this.selectedCell = {
        rowNumber,
        colNumber,
        value,
      }
      this.eventOnSelectCell(this.selectedCell)
    }
  }

  isCellSelected(rowNumber: number, colNumber: number) {
    if (this.selectedCell) {
      return (
        this.selectedCell.rowNumber === rowNumber &&
        this.selectedCell.colNumber === colNumber
      )
    }
    return false
  }

  isCellFilled(rowNumber: number, colNumber: number) {
    return this.mappingCell[`${rowNumber}:${colNumber}`]
  }

  isCellControl(rowNumber: number, colNumber: number) {
    return this.mappingCell[`${rowNumber}:${colNumber}`]?.isControl ?? false
  }

  isSampleMapped(sample: PatientSwabDetailDTO.SwabDetail) {
    if (Object.values(this.mappingCell).length === 0) {
      return false
    }
    const sampleMapValue: ValueMappingCellType[] = Object.values(
      this.mappingCell
    )
    for (let i = 0; i < sampleMapValue.length; i++) {
      const value: ValueMappingCellType = sampleMapValue[i]
      if (value.sample) {
        if (value.sample?.id === sample.id) return true
      }
    }
    return false
  }

  get getCellValue() {
    if (!this.selectedCell || !this.mappingCell) return false
    const { rowNumber, colNumber } = this.selectedCell
    return this.mappingCell[`${rowNumber}:${colNumber}`]
  }

  sampleListNotMapped() {
    return this.sampleList.filter((v) => {
      return !this.isSampleMapped(v)
    })
  }

  removeValueCellSelected() {
    if (!this.selectedCell || !this.mappingCell) return false
    const { rowNumber, colNumber } = this.selectedCell
    delete this.mappingCell[`${rowNumber}:${colNumber}`]

    this.selectedCell = {}
  }

  getAscii(number: number) {
    const start = 64
    return String.fromCharCode(start + number)
  }

  getCellAscii(cell: ValueMappingCellType) {
    return this.getAscii(cell.row) + String(cell.col)
  }

  get sampleListFiltered() {
    if (!this.searchSample) {
      return this.sampleList
    }
    const query = this.searchSample.toLowerCase()
    return this.sampleList.filter((v) => {
      return (
        v.patient.name.toLowerCase().includes(query) ||
        v.sampleId.toLowerCase().includes(query) ||
        v.patient.nik.toLowerCase().includes(query)
      )
    })
  }

  controlDialog = false

  controlForm = {} as {
    name?: string
    type?: ControlTypeMapping
  }

  controlType = [
    {
      text: 'Positif',
      value: ControlTypeMapping.positif,
    },
    {
      text: 'Negatif',
      value: ControlTypeMapping.negatif,
    },
  ] as { text: string; value: ControlTypeMapping }[]

  ruleRequired = [(v: any) => !!v || 'Form ini harus diisi']

  showControlForm() {
    this.controlDialog = true
  }

  hideControlForm() {
    this.controlDialog = false
    this.controlForm = {}
  }

  addControlForm() {
    if (!this.$refs.controlFormRef.validate()) {
      return false
    }
    if (!this.selectedCell) {
      alert('Pilih cell terlebih dahulu')
      return false
    }
    const { rowNumber, colNumber } = this.selectedCell
    this.mappingCell[`${rowNumber}:${colNumber}`] = {
      row: rowNumber,
      col: colNumber,
      isControl: true,
      controlType: this.controlForm.type,
      controlName: this.controlForm.name,
    }
    this.controlDialog = false
    this.controlForm = {}
  }

  selectedCellToEdit: {
    colNumber?: any
    rowNumber?: any
    value: ValueMappingCellType
  } = {} as any

  /**
   * if param keyCell null, cell will get from selectedCell
   */
  editSamplePosition(keyCell: string | null = null) {
    let cell: ValueMappingCellType | any = {}
    if (keyCell) {
      cell = this.value[keyCell]
    } else if (this.selectedCell.value) {
      // get cell from selected Cell
      cell = this.selectedCell.value
    } else {
      return
    }
    this.selectedCell = {}
    this.cannotSelectCellValued = true
    this.selectedCellToEdit = {
      rowNumber: cell.row,
      colNumber: cell.col,
      value: cell,
    }
    // set event on select cell
    this.eventOnSelectCell = (newCell) => {
      this.saveEditedSamplePosition({
        rowNumber: newCell.rowNumber,
        colNumber: newCell.colNumber,
      })
    }
  }

  /**
   * Function to save new position sample
   */
  saveEditedSamplePosition(positionNew: {
    rowNumber: number
    colNumber: number
  }) {
    if (!this.selectedCellToEdit.value) {
      console.error('No selected data sample')
      return
    }
    let positionOld = `${this.selectedCellToEdit.rowNumber}:${this.selectedCellToEdit.colNumber}`
    try {
      console.log(this.selectedCellToEdit)

      if (this.selectedCellToEdit.value) {
        this.changePositionSample({
          valueMapping: this.selectedCellToEdit.value,
          newLocation: {
            locateRow: positionNew.rowNumber,
            locateColumn: positionNew.colNumber,
          },
          onDone: () => {
            // Update new data
            delete this.mappingCell[positionOld]
            let positionNewA1 = `${positionNew.rowNumber}:${positionNew.colNumber}`
            // @ts-ignore
            this.selectedCellToEdit.value.row = positionNew.rowNumber
            // @ts-ignore
            this.selectedCellToEdit.value.col = positionNew.colNumber
            this.mappingCell[positionNewA1] = {
              ...this.selectedCellToEdit.value,
            } as ValueMappingCellType
            this.selectedCellToEdit = {} as any
            this.resetGrid()
          },
          onError: (error) => {
            console.log(error)
            this.selectedCellToEdit = {} as any
            this.resetGrid()
          },
        })
      }
    } catch (error) {
      console.log(error)
    }
  }

  @Emit()
  changePositionSample(
    param: ParamEmitChangePositionSample
  ): ParamEmitChangePositionSample {
    console.log('called emit changePositionSample')
    console.log(param)
    return param
  }

  isCellSelectedToEdit(rowNumber: number, colNumber: number) {
    return (
      this.selectedCellToEdit.rowNumber == rowNumber &&
      this.selectedCellToEdit.colNumber == colNumber
    )
  }

  /**
   * Getters to get condition is editing sample position (this.selectedCellToEdit)
   */
  get isEditingCell() {
    // return true if every value object selectedCellToEdit is not null
    return Object.values(this.selectedCellToEdit).filter((v) => !!v).length > 0
  }
}
</script>

<style lang="scss" scoped>
$width-cell: 90px;
$height-cell: 90px;

.table--container {
  overflow: auto;
  border-right: 1px solid rgba(119, 119, 119, 0.81);
  box-shadow: inset -30px 0px 15px -30px rgba(119, 119, 119, 0.81);
}

table.mapping-table {
  td.cell--td:not(.fixed--cell) {
    width: $width-cell;
    height: $height-cell;
    border: 1px solid green;
    cursor: pointer;
    .cell {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $width-cell;
    }
    .cell__detail {
      overflow-y: hidden;
      height: 50%;
    }
    .cell__container {
      width: $width-cell;
    }
    &.cell__selected {
      background: yellow;
      &.cell__filled {
        background: yellow;
      }
    }
    &.cell__filled {
      border: 3px solid blue;
      background: rgb(221, 221, 248);
    }
    &.cell__control {
      border: 3px solid blueviolet;
    }
    &.cell__selectedToEdit {
      border: 3px solid rgb(26, 219, 26);
      background: yellow;
    }
  }
  td.fixed--cell {
    text-align: center;
    font-weight: bold;
    background: yellow;
    border: 1px solid black;
    padding: 0 10px;
  }
}
.list-sample {
  height: 300px;
  overflow-y: auto;
}
</style>