<template>
  <v-select
    v-model="selected"
    label="Product Test Covid"
    v-bind="$props"
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  ></v-select>
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { MixinSelect } from './mixinSelect'
import { InfoReferenceDTO } from '@inatti/shared/api-nuxt'

export interface IProductSelected {
  id: number
  name: string
  item: InfoReferenceDTO.Product
}

@Component
export default class SelectProduct extends mixins(MixinSelect) {
  async getProduct() {
    let refId = this.$store.state.refStore.refId
    this.isLoading = true
    try {
      let reference: InfoReferenceDTO.InfoReference = await this.$axios.$get(
        '/info/reference/' + refId
      )
      this.listItems = reference.products.map(
        (v: InfoReferenceDTO.Product): IProductSelected => {
          return {
            id: v.id,
            name: `${v.product.name} (Rp. ${v.price})`,
            item: v,
          }
        }
      )
    } catch (error) {
      alert(error)
    }
    this.isLoading = false
  }

  mounted() {
    this.getProduct()
  }
}
</script>

<style></style>
