<template>
  <v-select
    v-model="selected"
    label="Laboratorium"
    hint="Laboratorium yang bekerja sama"
    persistent-hint
    v-bind="$props"
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  />
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { MixinSelect } from './mixinSelect'

@Component
export default class SelectProvinsi extends mixins(MixinSelect) {
  async fetchData() {
    this.isLoading = true
    let idRef = this.$store.state.refStore.refId
    /**
     * This API should be common API
     */
    this.listItems = await this.$axios.$get('/labs/' + idRef)
    this.isLoading = false
  }

  mounted() {
    this.fetchData()
  }
}
</script>

<style>
</style>