<template>
  <v-select
    v-model="selected"
    label="Metode Pembayaran"
    v-bind="$props"
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  ></v-select>
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { MixinSelect } from './mixinSelect'
import { MethodPaymentEnum } from '@inatti/shared/api-nuxt'

@Component
export default class SelectPaymentMethod extends mixins(MixinSelect) {
  listItems = Object.values(MethodPaymentEnum)
}
</script>

<style></style>
