<template>
  <v-select
    v-model="selected"
    label="Alat Analisa"
    v-bind="$props"
    :items="listItems"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  />
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { MixinSelect } from './mixinSelect'

@Component
export default class SelectProvinsi extends mixins(MixinSelect) {
  async fetchData() {
    this.isLoading = true
    this.listItems = await this.$axios.$get('/api-lab/analyze-tool')
    this.isLoading = false
  }

  created() {
    this.fetchData()
  }
}
</script>

<style>
</style>