<template>
  <v-select
    v-model="selected"
    label="Hasil Swab"
    v-bind="$props"
    :items="listItems"
    item-value="id"
    item-text="name"
    :loading="isLoading"
  ></v-select>
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { PropSync } from 'vue-property-decorator'
import { MixinSelect } from './mixinSelect'

/**
 * This component unused
 */
@Component
export default class SelectResultSwab extends mixins(MixinSelect) {
  listItems = [
    {
      id: 'Positif',
      name: 'Positif',
    },
    {
      id: 'Negatif',
      name: 'Negatif',
    },
  ]
}
</script>

<style>
</style>