<template>
  <v-btn-toggle v-model="selectedResult" dense color="primary">
    <v-btn v-for="(value, index) in listResult" :key="index">
      {{ value.text }}
    </v-btn>
  </v-btn-toggle>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

@Component
export default class TableFilterResultComponent extends Vue {
  @Prop({ type: Object }) readonly value!: object

  selectedResult: number = -1

  /**
   * Return Api key and value from `listResult`
   */
  get selectedResultApi() {
    if (typeof this.selectedResult === 'number') {
      const api = this.listResult[this.selectedResult].api
      if (!api) {
        return null
      }
      if (!api.value) return null
      return {
        [api.key]: api.value,
      }
    } else {
      return null
    }
  }

  // update change to v-model
  @Watch('selectedResult')
  updateResult() {
    return this.$emit('input', this.selectedResultApi)
  }

  listResult: { text: string; api?: { key: string; value: string } }[] = [
    {
      text: 'Positif',
      api: {
        key: 'filter[result]',
        value: 'positif',
      },
    },
    {
      text: 'Negatif',
      api: {
        key: 'filter[result]',
        value: 'negatif',
      },
    },
  ]
}
</script>

<style>
</style>