<template>
  <div>
    <v-dialog v-model="valueModel" v-bind="$props" width="400">
      <v-card>
        <v-card-title> Konfirmasi Penghapusan </v-card-title>
        <v-card-text>
          {{ bodyText }}
        </v-card-text>
        <v-card-actions class="d-flex">
          <v-spacer />
          <v-btn color="primary" outlined @click="valueModel = false">
            Batal
          </v-btn>
          <v-btn
            color="red"
            class="white--text"
            :loading="loading"
            @click="$emit('ok')"
          >
            Hapus
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

/**
 * Spec :
 * event:ok => when confirmed
 */
@Component
export default class DialogDeleteConfirmComponent extends Vue {
  @Prop({ type: [Boolean] })
  loading!: boolean

  @Prop({ type: [Boolean] })
  value!: boolean

  @Prop({
    type: [String],
    default: 'Apakah anda anda yakin ingin menghapus data ini ?',
  })
  bodyText: string

  get valueModel(): boolean {
    return this.value
  }
  set valueModel(val) {
    this.$emit('input', val)
  }

  mounted() {}
}
</script>
