<template>
  <v-card>
    <v-card-text>
      <v-form ref="pmrForm">
        <v-row>
          <v-col sm="12">
            <div class="d-flex justify-space-between align-center flex-wrap">
              <div class="d-flex align-start flex-column">
                <span class="text-h6">{{ patient.name }}</span>
                <span class="text-subtitle-2">{{ patient.job }}</span>
              </div>
              <div
                class="d-flex justify-start justify-md-end flex-wrap align-center"
              >
                <common-tooltip-locked-patient
                  v-if="isApotek && !isEditable && isEdit"
                />
                <v-btn
                  v-if="isEdit"
                  outlined
                  color="primary"
                  class="my-2 mx-3"
                  :loading="isLoadingDownloadPdf"
                  @click="downloadPdf"
                >
                  <v-icon>mdi-download</v-icon>
                  Download Pdf PMR
                </v-btn>

                <v-btn
                  v-show="$allow('manage:pmr')"
                  v-if="isApotek && isEdit && !isEditablePmr && apotekerStatus"
                  color="error"
                  class="mr-3"
                  :disabled="apotekActive"
                  @click="isDialogDeleteOpen = true"
                >
                  <v-icon left>mdi-trash-can</v-icon> Hapus</v-btn
                >

                <v-btn
                  v-show="$allow('manage:pmr')"
                  v-if="!isEdit && !readonly && apotekerStatus"
                  :loading="isLoading"
                  color="secondary"
                  :disabled="apotekActive"
                  @click="onCreateMedicalRecord"
                >
                  <v-icon>mdi-content-save</v-icon>
                  <span> Simpan </span>
                </v-btn>
                <v-btn
                  v-show="$allow('manage:pmr')"
                  v-if="isEdit && !isEditablePmr && apotekerStatus"
                  :disabled="apotekActive"
                  :loading="isLoading"
                  color="secondary"
                  @click="onUpdateMedicalRecord"
                >
                  <v-icon>mdi-content-save</v-icon>
                  <span class="ml-2"> Simpan </span>
                </v-btn>
              </div>
            </div>
            <v-divider class="mt-2"></v-divider>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="12" md="6">
            <v-text-field
              v-model="form.case"
              outlined
              dense
              class="mb-4"
              :readonly="isFormReadonly"
              label="Kasus"
              :rules="[required]"
              hide-details="auto"
            ></v-text-field>
            <v-text-field
              v-model="form.docterName"
              outlined
              dense
              class="mb-4"
              label="Dokter"
              :readonly="isFormReadonly"
              :rules="[required]"
              hide-details="auto"
            ></v-text-field>
            <ui-form-field-attachment-picker
              v-if="!form.attachment"
              :readonly="!$allow('manage:pmr') || !apotekerStatus"
              label="Resep"
              @selected="(e) => onSelectFileAttachment(e)"
            />
            <ui-form-field-attachment-preview
              v-if="form.attachment"
              label="Resep"
              :readonly="isFormReadonly"
              :name="form.attachment.name"
              :allow-preview="isApotek ? !$allow('manage:pmr') : readonly"
              :url="attachmentPreviewUlr"
              @resetImage="onResetFileAttachment"
            />
          </v-col>
          <v-col cols="12" sm="12" md="6">
            <div
              class="px-2 d-flex flex-wrap flex-md-column flex-sm-row align-md-end align-sm-center justify-space-between"
            >
              <div
                v-for="(item, index) in pmrDetail"
                :key="index"
                class="d-flex flex-column my-1 align-md-end align-sm-start"
              >
                <span class="text-caption">{{ item.key }}</span>
                <span style="font-size: 13px" class="black--text">{{
                  item.value
                }}</span>
              </div>
            </div>
          </v-col>
        </v-row>
        <v-row class="mt-2" dense no-gutters>
          <v-col sm="12" md="8">
            <div class="d-flex justify-start flex-column align-start mb-3">
              <span class="text-subtitle-2 font-weight-light"
                >Bukti Percakapan</span
              >
              <span class="text-subtitle-2 font-weight-light font-italic"
                >Contoh : Screenshot Whatsapp dengan pasien</span
              >
            </div>
            <div class="d-flex flex-wrap flex-row">
              <feature-telefarmasi-database-patient-proof-image-dropzone-preview
                v-for="(item, index) in form.proofConsultation"
                :key="index"
                class="mr-3"
                :value="item"
                :readonly="isFormReadonly"
                @deleted="onDeleteFileProof(index)"
              />
              <feature-telefarmasi-database-patient-proof-image-dropzone-upload
                v-if="!isFormReadonly"
                @files-selected="(e) => onSelectFileProof(e)"
              />
            </div>
          </v-col>
        </v-row>
        <v-row class="mt-4">
          <v-col sm="12">
            <v-textarea
              v-model="form.note"
              outlined
              :readonly="isFormReadonly"
              dense
              label="Catatan"
              hide-details="auto"
            ></v-textarea>
          </v-col>
        </v-row>
        <v-divider class="mt-4"></v-divider>
        <v-row class="mt-2">
          <v-col sm="12">
            <div class="d-flex justify-start align-center flex-row">
              <span class="text-h6">Obat dan Terapi</span>
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            v-for="(item, index) in form.medicines"
            :key="item.id"
            cols="12"
          >
            <feature-telefarmasi-database-patient-medical-record-pill-form
              :readonly="isFormReadonly"
              ref="pillForm"
              v-model="form.medicines[index]"
              @onDelete="onDeletePillForm(index)"
            />
          </v-col>
          <v-col v-show="$allow('manage:pmr')" v-if="!isEditablePmr" sm="6">
            <v-btn
              block
              color="primary"
              @click="newPillForm"
              :disabled="!apotekerStatus"
            >
              <v-icon small>mdi-plus</v-icon>
              TAMBAH RESEP
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>

    <common-dialog-delete-confirm
      v-model="isDialogDeleteOpen"
      :loading="isDialogDeleteLoading"
      body-text="Yakin hapus PMR ini?"
      @ok="deletePmr(form.id, form.isEditable)"
    />
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { PmrApi } from '@inatti/shared/api-nuxt';
import { Prop } from 'vue-property-decorator';

interface IMedicineDto {
  medicine: {
    name: string;
  };
  amount: number;
  amountUnit: string;
  notes: {
    signa: string;
    caraPakai: string;
    aturanPakai: string;
    notes: string;
  };
}

interface PmrDetail {
  key: string;
  value: string;
}

@Component
export default class CoreDatabasePmrDetail extends Vue {
  @Prop()
  apotekActive!: boolean;
  @Prop()
  readonly!: boolean;
  @Prop()
  apotekerStatus!: boolean;
  @Prop()
  isEdit!: boolean;
  @Prop()
  patientId!: string;
  @Prop()
  branchId!: string;
  @Prop()
  pmrId!: string;
  @Prop({ type: Boolean, default: true })
  readonly isApotek: boolean;

  $allow!: (permission: string) => boolean;

  isDialogDeleteOpen = false;
  isDialogDeleteLoading = false;

  onSelectFileAttachment(e: any) {
    this.form.attachment = e;
  }

  get pmrDetail(): PmrDetail[] {
    if (!this.isEdit) {
      return [];
    }
    return [
      {
        key: 'Di Buat Oleh',
        value: this.insertBy?.fullname,
      },
      {
        key: 'Apotek',
        value: this.apotek?.name,
      },
      {
        key: 'Unit Bisnis',
        value: this.apotek?.apotekGroup?.name,
      },
      {
        key: 'Tanggal Dibuat',
        value: this.createdAt
          ? this.$utils.toFormatDateTime(this.createdAt)
          : '',
      },
    ];
  }

  onResetFileAttachment() {
    this.form.attachment = '';
  }

  get attachmentPreviewUlr() {
    if (this.form.attachment.url) {
      return this.form.attachment.url;
    }
    return this.form.attachment
      ? URL.createObjectURL(this.form.attachment)
      : null;
  }

  get isFormReadonly() {
    if (!this.isEdit) return false 
    if (!this.isEditable) {
      return true;
    } else {
      if (this.$allow('manage:pmr')) {
        return this.apotekerStatus === false
      } else {
        return true;
      }
    }
  }

  currentAttachmentFile = '' as any;
  newPillForm() {
    this.form.medicines.push({
      medicine: {
        name: '',
      },
      amount: 1,
      amountUnit: 'kapsul',
      notes: {
        signa: '',
        caraPakai: '',
        aturanPakai: '',
        notes: '',
      },
    });
  }

  patient = {
    name: '',
    job: '',
  };

  form = {
    case: '',
    docterName: '',
    proofConsultation: [] as any[],
    note: '',
    attachment: null as any,
    medicines: [] as IMedicineDto[],
  };
  insertBy = null as any;
  apotek = null as any;
  createdAt = '';
  isEditable = false;

  required = (v: any) => !!v || 'Form ini harus diisi';

  get isEditablePmr() {
    if (!this.isApotek) {
      return this.readonly;
    }
    if (!this.isEdit) {
      return this.readonly;
    }
    return !this.isEditable;
  }

  $form: any;

  isLoading = false;
  async onSelectFileProof(e: any) {
    try {
      const location = await this.onUploadFile(e[0]);
      this.form.proofConsultation.push(location);
    } catch (error) {}
  }

  onDeletePillForm(v: any) {
    this.form.medicines.splice(v, 1);
  }

  async onFetchFileAttachment(url: any) {
    try {
      const fetchs3meta = await this.$axios.$get('/file/s3', {
        params: {
          url,
        },
      });
      const payload = {
        name: fetchs3meta.Metadata['x-amz-meta-file-name'],
        url,
      };
      return payload;
    } catch (err) {
      return null;
    }
  }

  onUploadFile(file: any) {
    return new Promise(async (resolve, reject) => {
      try {
        const formData = new FormData();
        formData.append('file', file);
        const resp = await this.$axios.$post('/file/upload', formData);
        resolve(resp.Location);
      } catch (error) {
        reject(error);
      }
    });
  }

  async onCreateMedicalRecord() {
    const validateForm =
      this.$form.validate(this.$refs, 'pmrForm') ||
      this.validateEveryPillForm();
    if (!validateForm) return;
    try {
      this.isLoading = true;
      let attachment = '' as any;
      if (this.form.attachment) {
        attachment = await this.onUploadFile(this.form.attachment);
      }
      const resp = await this.$axios.$post('/patient-pmr/pmr', {
        pmrData: {
          ...this.form,
          attachment,
          patient: this.patientId,
        },
        apotekId: this.branchId,
      });
      this.isLoading = false;
      this.$emit('on-success-create-medical-record', resp);
    } catch (error) {
      this.isLoading = false;
    }
  }

  async onUpdateMedicalRecord() {
    if (!this.validateEveryPillForm()) return;
    try {
      this.isLoading = true;
      let attachment = this.form.attachment as any;
      if (
        this.$utils.dirtyValidation(
          this.form.attachment,
          this.currentAttachmentFile
        )
      ) {
        if (this.form.attachment) {
          attachment = await this.onUploadFile(this.form.attachment);
        } else {
          attachment = null;
        }
      }
      if (
        !this.$utils.dirtyValidation(
          this.form.attachment,
          this.currentAttachmentFile
        )
      ) {
        attachment = this.form.attachment.url;
      }
      await this.$axios.$patch(`/patient-pmr/pmr/${this.pmrId}`, {
        pmrData: {
          ...this.form,
          attachment,
          patient: this.patientId,
        },
        apotekId: this.branchId,
      });
      this.$router.back();
    } catch (error) {
      this.isLoading = false;
    }
  }

  validateEveryPillForm() {
    if (this.$refs.pillForm) {
      const validationConclusion: boolean[] = [];
      (
        this.$refs.pillForm as (Vue | Element)[] & { forEach: () => void }
      ).forEach((element: any) => {
        const validationResult = this.$form.validate(
          element.$refs,
          'addPillForm'
        );
        validationConclusion.push(validationResult);
      });
      return !validationConclusion.includes(false);
    }
  }

  pmrApi!: PmrApi;
  mounted() {
    this.pmrApi = new PmrApi(this.$axios);
    this.fetchMedicalRecord();
    this.fetchPatient();
  }

  async fetchPatient() {
    try {
      this.patient = await this.$axios.$get(
        `/patient-v2/${this.patientId}?select=name&select=job`
      );
    } catch (error) {}
  }

  onDeleteFileProof(v: any) {
    this.form.proofConsultation.splice(v, 1);
  }

  $utils: any;
  async fetchMedicalRecord() {
    if (!this.isEdit) return;
    try {
      const resp = await this.pmrApi.get(this.pmrId as string);
      this.insertBy = this.$utils.cloneObject(resp).insertBy;
      this.apotek = this.$utils.cloneObject(resp).apotek;
      this.createdAt = this.$utils.cloneObject(resp).createdAt;
      this.isEditable = this.$utils.cloneObject(resp).isEditable;
      if (resp.attachment) {
        const fileAttachment = await this.onFetchFileAttachment(
          resp.attachment
        );
        this.currentAttachmentFile = this.$utils.cloneObject(fileAttachment);
        this.form = {
          ...this.$utils.cloneObject(resp),
          proofConsultation: resp.proofConsultation
            ? resp.proofConsultation
            : [],
          attachment: this.$utils.cloneObject(fileAttachment),
        };
        return;
      }
      this.form = resp;
      this.$emit('input', this.form);
    } catch (error) {}
  }

  isLoadingDownloadPdf = false;
  async downloadPdf() {
    this.isLoadingDownloadPdf = true;
    try {
      await this.pmrApi.toPdf(this.pmrId);
    } catch (err) {
      console.log('failed download pdf');
      console.log(err);
    }
    this.isLoadingDownloadPdf = false;
  }

  async deletePmr(id: string, isEditable: any) {
    if (!isEditable) return;
    this.isDialogDeleteLoading = true;
    try {
      await this.pmrApi.delete(id);
      this.$router.back();
    } catch (error) {
    } finally {
      this.isDialogDeleteOpen = false;
      this.isDialogDeleteLoading = false;
    }
  }
}
</script>
