<template>
  <v-card>
    <v-card-text>
      <ui-table-pagination
        v-model="dataResult"
        search
        :period-filter="true"
        search-hint="Masukan nama kasus"
        :default-selected-filter="1"
        @change="fetchData"
      >
        <v-row dense>
          <v-col cols="12" md="8">
            <slot name="additional-filter" />
          </v-col>
          <v-col cols="12" md="4" class="d-flex justify-end">
            <v-btn
              :loading="isDownloadingExcelPmr"
              :disabled="isDownloadingExcelPmr"
              @click="onDownloadExcelPmr"
              outlined
              color="primary"
              class="ml-3"
            >
              <v-icon class="mr-2"> mdi-microsoft-excel </v-icon>
              EXPORT DATABASE PMR
            </v-btn>
          </v-col>
        </v-row>
        <v-data-table
          :headers="table.headers"
          :items="listPmr"
          :search="table.search"
          :loading="isLoading"
          hide-default-footer
          disable-pagination
        >
          <template #[`item.patient`]="{ item }">
            <span class="text-capitalize">
              {{ item.patient ? item.patient.name : '' }}
            </span>
          </template>
          <template #[`item.apotek`]="{ item }">
            <span class="text-capitalize">
              {{ item.apotek ? item.apotek.name : '' }}
            </span>
          </template>
          <template #[`item.apotekGrup`]="{ item }">
            <span class="text-capitalize">
              {{
                item.apotek
                  ? item.apotek.apotekGroup
                    ? item.apotek.apotekGroup.name
                    : ''
                  : ''
              }}
            </span>
          </template>
          <template #[`item.createdAt`]="{ item }">
            <span class="text-capitalize">
              {{ item.createdAt ? $utils.dateTimeFormat(item.createdAt) : '' }}
            </span>
          </template>
          <template #[`item.action`]="{ item }">
            <slot name="list-action" :data="item" />
          </template>
        </v-data-table>
      </ui-table-pagination>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { PmrApi } from '@inatti/shared/api-nuxt';
import { UiTablePagination } from '@inatti/shared/ui';
import { Prop, Watch } from 'vue-property-decorator';

@Component({ components: { UiTablePagination } })
export default class coreDatabasePmrList extends Vue {
  @Prop()
  customQuery!: any;

  listPmr: any[] = [];
  table = {
    headers: [
      {
        text: 'Nama Pasien',
        value: 'patient',
      },
      {
        text: 'Kasus',
        value: 'case',
      },
      {
        text: 'Unit Bisnis',
        value: 'apotekGrup',
      },
      {
        text: 'Apotek',
        value: 'apotek',
      },
      {
        text: 'Tanggal Buat',
        value: 'createdAt',
      },
      {
        text: 'Aksi',
        value: 'action',
      },
    ],
    search: null,
  };

  dataResult = {};
  isLoading = true;

  currentParams = {} as any;

  pmrApi!: PmrApi;
  mounted() {
    this.pmrApi = new PmrApi(this.$axios);
    this.fetchData({
      'filter[date]': '',
    });
  }

  @Watch('customQuery')
  refetchData(val: any) {
    this.fetchData(this.currentParams);
  }

  async fetchData(params: any = {}) {
    this.currentParams = params;
    try {
      this.isLoading = true;
      const result = await this.pmrApi.getList({
        ...this.customQuery,
        ...params,
      });
      this.dataResult = result;
      this.listPmr = result.results;
    } catch (error) {
      console.log(error);
    } finally {
      this.isLoading = false;
    }
  }

  selectedPatient: string = '';
  showShortNote(text: any) {
    if (text.length < 25) return text;
    const shorted = text.substring(0, 24) + '...';
    return shorted;
  }

  isDownloadingExcelPmr = false;
  $utils: any;
  async onDownloadExcelPmr() {
    this.isDownloadingExcelPmr = true;
    try {
      const resp = await this.$axios.$get('/patient-pmr/pmr/to-excel', {
        params: {
          ...this.customQuery,
          ...this.currentParams,
        },
        responseType: 'blob',
      });
      this.$utils.saveFile({
        byteArray: resp,
        fileName: `pmr-report-${this.$utils.dateSimpleFormat(new Date())}`,
        extension: 'xlsx',
      });
    } catch (error) {
    } finally {
      this.isDownloadingExcelPmr = false;
    }
  }
}
</script>

<style></style>
