<template>
  <v-bottom-navigation
    v-model="selectedBottomNav"
    fixed
    grow
    color="#168AAD"
  >
    <v-btn value="home" to="/beranda">
      <span>Home</span>
      <v-icon>mdi-home</v-icon>
    </v-btn>

    <v-btn value="result" to="/result">
      <span>Hasil</span>
      <v-icon>mdi-test-tube</v-icon>
    </v-btn>

    <v-btn value="order" to="/testcovid/order/list">
      <span>Pesanan</span>
      <v-icon>mdi-order-bool-ascending-variant</v-icon>
    </v-btn>

    <v-btn v-if="$auth.loggedIn" value="profile" to="/account">
      <span>Profil</span>
      <v-icon>mdi-account</v-icon>
    </v-btn>

    <v-btn v-if="!$auth.loggedIn" value="login" to="/auth">
      <span>Login</span>
      <v-icon>mdi-login-variant</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>

<script>
export default {
  data(){
    return {
      selectedBottomNav: null
    }
  }
}
</script>