<template>
  <v-card
    elevation="2"
    class="pa-3 card--small d-flex align-center"
    :style="{ '--bindding-color': binddingColor }"
    :color="color"
    :height="cardHeight"
  >
    <slot></slot>
  </v-card>
</template>

<script>
export default {
  props: {
    binddingColor: {
      type: String,
      default: 'light-green'
    },
    cardHeight: {
      type: String,
      default: 'auto'
    },
    color: {
      type: String,
      default: 'rgba(156, 204, 101, 0.3)'
    }
  },
}
</script>

<style>
.card--small {
  z-index: auto;
}

.card--small[onClick] {
  background: black;
}

.card--small::before {
  content: ' ';
  background-color: var(--bindding-color);
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 20px;
  height: 100%;
  border-radius: 4px 0 0 4px;
}
.card--small:last-child {
  margin: 0 !important;
}
</style>
