<template>
  <v-card elevation="2" class="card__wrapper">
    <div class="card__header text-center" :class="{'card__header--fit': headFit, 'px-3': headFit}" :style="{background: color, color: textColor}">
      <slot name="header" />
    </div>
    <div class="ma-3 card__body">
      <slot />
    </div>
  </v-card>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: null
    },
    textColor: {
      type: String,
      default: "white"
    },
    headFit: {
      type: Boolean,
      default: false
    }
  },
  data(){
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
.card__wrapper{
  position:relative;
  margin-top: 35px;
}
.card__header{
  position: relative;
  width: 95%;

  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  
  height: 50px;
  border-radius: 4px;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 50px;
}
.card__body{
  margin-top:-12px !important;
}
.card__header--fit{
  width: fit-content;
  transform: translate(0, -50%);
  left: 35px;
  top:0;
}
</style>

