<template>
  <v-chip
    v-bind="chipOptions"
    class="white--text"
    :color="
      changeColorNegativeStatusAfterThreeDays
        ? 'grey lighten-1'
        : statusSwabList[$attrs.status].color
    "
  >
    {{ $attrs.status ? statusSwabList[$attrs.status].text : 'Belum Test' }}
  </v-chip>
</template>
<script>
export default {
  props: {
    changeColorAfterThreeDays: {
      type: Boolean,
      default: false,
    },
    swabDate: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      statusSwabList: {
        positif: {
          text: 'Positif',
          color: 'error',
        },
        negatif: {
          text: 'Negatif',
          color: 'success',
        },
        presumtifPositif: {
          text: 'Presumtif Positif',
          color: 'error',
        },
        presumtifNegatif: {
          text: 'Presumtif Negatif',
          color: 'success',
        },
        null: {
          text: 'Belum Test',
          color: 'grey lighten-1',
        },
      },
    }
  },
  computed: {
    chipOptions() {
      return {
        ...this.$attrs,
        ...this.statusSwabList[this.$attrs.status],
      }
    },
    changeColorNegativeStatusAfterThreeDays() {
      let result
      if (!this.changeColorAfterThreeDays) {
        result = false
      }

      const today = new Date()
      const swabDate = new Date(this.swabDate)
      const dayDifferent = Math.floor(
        Math.abs(today - swabDate) / (1000 * 60 * 60 * 24)
      )

      if (this.$attrs.status === 'negatif' && dayDifferent > 3) {
        result = true
      }

      return result
    }
  },
}
</script>
