<template>
  <v-chip
    v-bind="chipOptions"
    class="white--text"
    :color="
      changeColorNegativeStatusAfterThreeDays
        ? 'grey lighten-1'
        : statusVaccineList[$attrs.status].color
    "
  >
    {{ $attrs.status ? statusVaccineList[$attrs.status].text : 'Belum Vaksin' }}
  </v-chip>
</template>
<script>
export default {
  props: {
    changeColorAfterThreeDays: {
      type: Boolean,
      default: false,
    },
    swabDate: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      statusVaccineList: {
        vaccinated: {
          text: 'Sudah Vaksin',
          color: 'info',
        },
        unvaccinated: {
          text: 'Belum Vaksin',
          color: 'warning lighten-2',
        },
        null: {
          text: 'Belum Vaksin',
          color: 'warning lighten-2',
        },
      },
    }
  },
  computed: {
    chipOptions() {
      return {
        ...this.$attrs,
        ...this.statusVaccineList[this.$attrs.status],
      }
    },
    changeColorNegativeStatusAfterThreeDays() {
      let result
      if (!this.changeColorAfterThreeDays) {
        result = false
      }

      const today = new Date()
      const swabDate = new Date(this.swabDate)
      const dayDifferent = Math.floor(
        Math.abs(today - swabDate) / (1000 * 60 * 60 * 24)
      )

      if (this.$attrs.status === 'negatif' && dayDifferent > 3) {
        result = true
      }

      return result
    }
  },
}
</script>
