<template>
  <v-chip class="white--text" small :color="color">
    {{ text }}
  </v-chip>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'green darken-1'
    },
    text: {
      type: String,
      default: 'Registered'
    }
  },
}
</script>
