<template>
  <v-chip v-bind="chipOptions" class="white--text">
    {{ $attrs.status ? statusOrderList[$attrs.status].text : '' }}
  </v-chip>
</template>
<script>
export default {
  data() {
    return {
      statusOrderList: {
        new: {
          text: 'Pesanan Baru',
          color: '#82B1FF',
        },
        paymentReceived: {
          text: 'Order Diterima',
          color: '#1976D2',
        },
        paymentFailed: {
          text: 'Order Gagal',
          color: '#FF5252',
        },
        inProgress: {
          text: 'Dalam Proses',
          color: '#2196F3',
        },
        paid: {
          text: 'Lunas',
          color: '#4CAF50',
        },
        close: {
          text: 'Ditutup',
          color: '#8BC34A',
        },
        canceled: {
          text: 'Dibatalkan',
          color: '#FB8C00',
        },
      },
    }
  },
  computed: {
    chipOptions(){
      return{
        ...this.$attrs,
        ...this.statusOrderList[this.$attrs.status]
      }
    }
  }
}
</script>
