<template>
  <canvas ref="canvasQrCodeRef" style="width: 100%"></canvas>
</template>
<script>
import QRCode from 'qrcode'
export default {
  props: {
    text: {
      type: String,
      default: '',
      require: false,
    },
  },
  watch: {
    text: {
      handler(val) {
        if(!val) return;
        const canvas = this.$refs.canvasQrCodeRef
        QRCode.toCanvas(canvas, val, {
          scale: 7,
        })
      },
      immediate: true
    },
  },
}
</script>
