<template>
  <div class="stepper__wrappper">
    <div class="stepper__body text-caption" :style="getPosX()">
      <div
        v-for="(item, index) in listStep"
        :key="index"
        class="stepper__body-item"
        :class="{ 'stepper__body-item--active': index === activated }"
        @click="setActivated(index)"
      >
        <div>
          {{ item.text }}
        </div>
        <hr v-if="index !== listStep.length - 1" class="stepper__divider" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      listStep: [
        {
          text: '1 Daftar',
          href: '/testcovid/register'
        },
        {
          text: '2 Review',
          href: '/testcovid/register/review'
        },
        {
          text: '3 Payment',
          href: '/testcovid/register/payment'
        }
      ],
      activated: 0,
      isLocked: true
    }
  },
  watch: {
    $route(_to) {
      this.getActivatedIndex()
    }
  },
  mounted() {
    this.getActivatedIndex()
  },
  methods: {
    getActivatedIndex() {
      const to = this.$route.fullPath
      this.activated = this.listStep.findIndex((item) => to === item.href)
    },
    setActivated(index) {
      if (this.isLocked) return
      this.activated = index
    },
    getPosX() {
      if (typeof this.activated === 'undefined') return null
      const countX = (x) => -15 - x * (100 / this.listStep.length)

      return `transform:translateX(${countX(this.activated)}%)`
    }
  }
}
</script>

<style lang="scss" scoped>
.stepper__wrapper {
  width: 100%;
}
.stepper__body {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transition: 250ms ease-in;
}
.stepper__divider {
  width: 28px;
  margin: 0 8px;
  border: 1px solid white;
}
.stepper__body-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.stepper__body-item:not(.stepper__body-item--active) {
  color: #e7e7e7;
  opacity: 0.6;
}
.stepper__body-item--active {
  color: white;
}
</style>