<template>
  <v-card
    color="secondary"
    class="toolbar-filter-area__card mt-toolbar rounded-t-0"
    width="100%"
    elevation="0"
  >
    <v-card-text color="secondary" class="white--text" elevation="0">
      <div
        class="d-flex justify-space-between flex-row align-center"
        v-if="!isExpand"
      >
        <div class="d-flex justify-center flex-column align-start">
          <span class="text-subtitle-1">Pilih Kota</span>
          <div
            class="ml-1 d-flex justify-center align-center flex-row mt-1"
            v-if="selectedProv"
          >
            <v-icon color="white">mdi-map-marker-outline</v-icon>
            <span class="text-subtitle-1 ml-2"
              >{{ selectedProv ? selectedProv.name : '-' }},
              {{ selectedKab ? selectedKab.name : '-' }}</span
            >
          </div>
        </div>
        <v-btn outlined color="white" @click="isExpand = !isExpand">
          Ganti
        </v-btn>
      </div>
      <div class="d-flex justify-space-between flex-row align-center" v-else>
        <span class="text-subtitle-1">Pilih Kota</span>
        <div>
          <v-btn
            v-if="isExpand"
            @click="isExpand = !isExpand"
            outlined
            color="white"
          >
            Batal
          </v-btn>
        </div>
      </div>
    </v-card-text>
    <v-expand-transition>
      <div v-if="isExpand">
        <v-card-text>
          <v-select
            v-model="selectedProv"
            outlined
            color="white"
            dense
            single-line
            background-color="white"
            label="Provinsi"
            :items="itemsProv"
            item-text="name"
            item-value="id"
            return-object
          />
          <v-select
            v-model="selectedKab"
            outlined
            color="white"
            dense
            single-line
            background-color="white"
            label="Kabupaten"
            :items="itemsKab"
            item-value="id"
            item-text="name"
            return-object
          />
          <div class="d-flex justify-space-between">
            <v-btn
              v-if="isExpand"
              depressed
              color="warning"
              @click="saveFilter"
            >
              simpan
            </v-btn>
            <v-btn outlined color="white" @click="resetFilter()"> Reset </v-btn>
          </div>
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script lang="ts">
import { WilayahApi } from '@inatti/shared/api-nuxt'
export default {
  props: {
    value: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      isExpand: false,
      itemsProv: [],
      itemsKab: [],
      selectedProv: null,
      selectedKab: null,
      wilayahApi: null,
    }
  },
  watch: {
    value() {
      this.valueToData()
    },
    selectedProv() {
      this.fetchDistricts()
    },
  },
  mounted() {
    this.wilayahApi = new WilayahApi(this.$axios)
    this.fetchProvinces()
    this.fetchDistricts()
    this.valueToData()
  },
  methods: {
    async fetchProvinces() {
      const provinces = await this.wilayahApi.getProvince()
      this.itemsProv = provinces
    },
    async fetchDistricts() {
      if (!this.selectedProv) return
      const districts = await this.wilayahApi.getKabupaten(this.selectedProv.id)
      this.itemsKab = districts
    },
    saveFilter() {
      this.$emit('input', {
        prov: this.selectedProv,
        kab: this.selectedKab,
      })
      this.isExpand = !this.isExpand
    },
    resetFilter() {
      this.selectedProv = null
      this.selectedKab = null
      this.saveFilter()
    },
    valueToData() {
      if (!this.value) return
      this.selectedProv = this.value.prov
      this.selectedKab = this.value.kab
    },
  },
}
</script>

<style scoped>
.toolbar-filter-area__card {
  /* position: fixed; */
  width: 100%;
  z-index: 1;
  left: 0;
}
</style>
