<template>
  <div>
    <common-toolbar no-back> Informasi Apoteker </common-toolbar>
    <v-card>
      <v-card-text>
        <v-alert
          v-if="alert.isShow"
          :icon="alert.icon"
          :type="alert.type"
          dismissible
        >
          {{ alert.msg }}
        </v-alert>
        <v-row>
          <v-col cols="12" md="3">
            <v-row>
              <v-col md="12">
                <ui-common-image-dropzone-preview
                  v-if="!editPhoto || photoImage"
                  v-model="photoImage"
                  style="height: 240px"
                />
                <ui-common-image-dropzone-upload
                  v-if="editPhoto && !photoImage"
                  style="height: 240px"
                  @files-selected="(e) => onSelectAvatarFile(e)"
                />
                <v-btn
                  v-if="!editPhoto"
                  color="primary"
                  class="mt-3"
                  block
                  :disabled="!editInformationGroup"
                  @click="editPhoto = true"
                >
                  <v-icon> mdi-image </v-icon>
                  Ganti Foto</v-btn
                >
                <div
                  v-if="editPhoto"
                  class="w-full d-flex justify-space-between align-center flex-column mt-3"
                >
                  <v-btn
                    :disabled="isLoading"
                    block
                    color="error"
                    @click="cancelEditPhoto"
                  >
                    Cancel</v-btn
                  >
                  <v-btn
                    :disabled="isLoading"
                    :loading="isLoading"
                    class="mt-3"
                    block
                    color="secondary"
                    @click="onSavePhoto"
                  >
                    Save</v-btn
                  >
                </div>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="px-4" md="9" cols="12">
            <v-row no-gutters>
              <v-col class="d-flex justify-start align-center" cols="12" md="8">
                <span class="black--text font-weight-medium text-h5">{{
                  currentFormValue.name
                }}</span>
              </v-col>
              <v-col class="d-flex justify-start align-center" cols="12" md="4">
                <div
                  v-if="!editInformationGroup"
                  class="w-full d-flex justify-end flex-row align-center"
                >
                  <v-btn
                    color="primary"
                    class="my-3 my-md-0"
                    block
                    @click="editInformationGroup = true"
                  >
                    <v-icon> mdi-pencil </v-icon>
                    Edit Apoteker
                  </v-btn>
                </div>
                <div
                  v-if="editInformationGroup"
                  class="w-full d-flex justify-end flex-row align-center"
                >
                  <v-btn
                    :disabled="isLoading"
                    class="mr-3"
                    @click="
                      () => {
                        cancelEditInformationApoteker()
                        cancelEditPhoto()
                      }
                    "
                  >
                    <v-icon> mdi-close </v-icon>
                    Batal
                  </v-btn>
                  <v-btn
                    :loading="isLoading"
                    color="secondary"
                    @click="onSaveInformationApoteker"
                  >
                    <v-icon> mdi-content-save </v-icon>
                    Simpan
                  </v-btn>
                </div>
              </v-col>
              <v-col md="12">
                <v-form ref="formInformationApoteker">
                  <v-alert type="info" outlined dense class="my-3" dismissible>
                    Informasi apoteker ini akan muncul pada aplikasi user
                  </v-alert>
                  <v-switch
                    v-model="form.isActive"
                    prepend-icon="mdi-dip-switch"
                    :disabled="!editInformationGroup"
                    :label="`Status Pelayanan : ${
                      form.isActive ? 'Aktif' : 'Non-Aktif'
                    }`"
                  ></v-switch>
                  <v-text-field
                    v-model="form.name"
                    outlined
                    dense
                    data-cy="account-setting-form-account-fullname"
                    label="Nama"
                    :rules="mandatoryFieldRule"
                    :disabled="!editInformationGroup"
                  ></v-text-field>
                  <div>
                    <div>Nomor hp Whatsapp</div>
                    <ui-form-select-phone-code
                      v-model="form.phonenumber"
                      :disabled="!editInformationGroup"
                    />
                  </div>
                  <v-text-field
                    v-model="form.nomorSIPA"
                    outlined
                    dense
                    data-cy="account-setting-form-account-fullname"
                    label="No. SIPA"
                    class="mb-4"
                    :rules="mandatoryFieldRule"
                    :disabled="!editInformationGroup"
                    hide-details="auto"
                  ></v-text-field>
                  <v-text-field
                    v-model="form.nomorSTRA"
                    outlined
                    dense
                    data-cy="account-setting-form-account-fullname"
                    label="No. STRA"
                    class="mb-4"
                    :rules="mandatoryFieldRule"
                    :disabled="!editInformationGroup"
                    hide-details="auto"
                  ></v-text-field>
                </v-form>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  UiCommonImageDropzonePreview,
  UiCommonImageDropzoneUpload,
} from '@inatti/shared/ui'
import { ApotekerApi } from '@inatti/shared/api-nuxt'

@Component({
  components: { UiCommonImageDropzonePreview, UiCommonImageDropzoneUpload },
})
export default class InformationApoteker extends Vue {
  editPhoto = false
  genderList = [
    {
      name: 'Wanita',
      id: 'pr',
    },
    {
      name: 'Pria',
      id: 'lk',
    },
  ]

  form = {
    gender: '',
    birthdate: '',
    isActive: true,
    nomorSIPA: '',
    nomorSTRA: null,
    apotek: '',
    phonenumber: '',
    photo: '',
  }

  photo = {
    preview: '',
    file: '' as any,
    current: '',
  }

  dialogBirthDatePicker = false
  cancelEditPhoto() {
    this.editPhoto = false
    this.photo.preview = ''
    this.photo.file = ''
  }

  cancelEditInformationApoteker() {
    this.editInformationGroup = false
    this.form = this.$utils.cloneObject(this.currentFormValue)
  }

  async onSavePhoto() {
    this.isLoading = true
    try {
      const formData = new FormData()
      const apotekId = this.$route.query.apotekId as string
      if (!this.$utils.validateImageSize(this.photo.file.size)) {
        this.showAlert(
          'warning',
          'Gagal Update Photo: Size file melebihi 1 MB.'
        )
        return
      }
      formData.append('photo', this.photo.file)
      const resp = await this.apotekerApi.updatePhoto(formData, {
        apotekId: apotekId,
      })
      this.showAlert('success', 'Sukses Update Foto Apoteker')
      this.photo.current = resp.photo
      this.form.photo = resp.photo
      this.cancelEditPhoto()
    } catch (error: any) {
      const errorMessage =
        error.response?.data?.message === 'Photo not uploaded'
          ? 'Photo belum di pilih.'
          : error.response?.data?.message
      this.showAlert('warning', 'Gagal Update Photo: ' + errorMessage)
    } finally {
      this.isLoading = false
    }
  }

  get photoImage() {
    if (!this.editPhoto) {
      return this.photo.current
    }
    return this.photo.preview
  }

  onSelectAvatarFile(e: any) {
    this.photo.file = e[0]
    this.photo.preview = URL.createObjectURL(e[0])
  }

  alert = {
    isShow: false,
    msg: '',
    type: '',
  }

  showAlert(type: string, msg: string) {
    this.alert = {
      isShow: true,
      msg,
      type,
    }
  }

  isLoading = false
  $utils: any
  $refs: any
  currentFormValue = {}
  mandatoryFieldRule = [(v: any) => !!v || 'Form ini wajib diisi']
  editInformationGroup = false
  async onSaveInformationApoteker() {
    if (
      this.$refs.formInformationApoteker.validate() &&
      this.$utils.dirtyValidation(this.currentFormValue, this.form)
    ) {
      try {
        this.isLoading = true
        await this.apotekerApi.updateInfo(this.form)
        this.showAlert('success', 'Sukses Update Informasi Apoteker')
        this.cancelEditPhoto()
        this.editInformationGroup = false
        this.fetchInformationApoteker()
      } catch (error: any) {
        this.showAlert(
          'warning',
          'Gagal Update Informasi Apoteker. ' + error.response?.data?.message
        )
      }
      this.isLoading = false
    }
  }

  async fetchInformationApoteker() {
    try {
      const apotekId = this.$route.query.apotekId as string
      const resp = await this.apotekerApi.getInfo({ apotekId: apotekId })
      const data = {
        ...resp,
        birthdate: this.$utils.dateSimpleFormat(resp.birthdate),
        apotek: resp.apotek?.id,
      }
      this.form = this.$utils.cloneObject(data)
      this.currentFormValue = this.$utils.cloneObject(data)
      this.photo.current = resp.photo
    } catch (error: any) {
      this.showAlert(
        'warning',
        'Gagal Mengunduh Data. ' + error.response?.data?.message
      )
    }
  }

  apotekerApi!: ApotekerApi
  mounted() {
    this.apotekerApi = new ApotekerApi(this.$axios)
    this.fetchInformationApoteker()
  }
}
</script>
