<template>
  <div>
    <v-row
      justify="center"
      align-content="start"
      align-content-md="center"
      class="h-100vh"
    >
      <v-col lg="6" md="8" cols="12">
        <v-card class="ma-3">
          <v-card-title>
            <h2 class="primary--text">
              Pilih <span class="secondary--text"> Apotek </span>
            </h2>
          </v-card-title>
          <v-card-text class="overflow-auto" style="max-height: 300px">
            <v-text-field
              v-model="search"
              class="mt-2"
              label="Cari Apotek"
              outlined
            ></v-text-field>
            <v-progress-circular
              v-if="isLoading"
              indeterminate
              color="primary"
            />
            <v-list v-else class="overflow-auto" dense>
              <v-list-item
                v-for="(role, i) in filterApotek"
                :key="i"
                data-cy="auth-app-list-apotek"
                @click="saveApotek(role)"
              >
                <v-list-item-avatar color="primary" class="white--text">
                  {{ role.apotekGroup ? role.apotekGroup.name[0] : '' }}
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{
                    role.apotekGroup ? role.apotekGroup.name : ''
                  }}</v-list-item-title>
                  <v-list-item-subtitle>
                    <strong>
                      {{ role.roleId ? role.roleId.name : '' }}
                    </strong>
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    {{ role.roleId ? role.roleId.description : '' }}
                  </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-list-item-action-text> Masuk </v-list-item-action-text>
                  <v-icon> mdi-arrow-right </v-icon>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { AccountApi, ApotekGroupApi } from '@inatti/shared/api-nuxt'

declare module 'vue/types/vue' {
  interface Vue {
    listApotek: any[]
    search: any
  }
}

export default Vue.extend({
  layout: 'blank',
  data() {
    return {
      isLoading: true as boolean,
      listApotek: [] as any,
      apotekGroupApi: null as any,
      search: null as any,
      accountApi: null,
    }
  },
  computed: {
    filterApotek() {
      if (!this.listApotek) return []
      if (!this.search) return this.listApotek
      const result = this.listApotek.filter((apotek) => {
        if (!apotek.apotekGroup) return false
        return apotek.apotekGroup.name
          .toLowerCase()
          .includes(this.search.toLowerCase())
      })
      return result
    },
  },
  mounted() {
    this.apotekGroupApi = new ApotekGroupApi(this.$axios)
    this.accountApi = new AccountApi(this.$axios)
    this.fetchApotek()
  },
  methods: {
    async fetchApotek() {
      this.isLoading = true
      try {
        this.listApotek = await this.apotekGroupApi.getRegisteredApotekGroup(
          true
        )
      } catch (error) {
        this.$router.push('/login')
      }
      this.isLoading = false
    },
    async saveApotek(role) {
      const apotekGroupId = role.apotekGroup?.id ?? ''
      await this.fetchRoleWhenChooseApp(apotekGroupId)
      await this.refetchToken(role)
      const redirect: any = this.$route.query.from
      this.$router.replace({
        path: redirect || '/',
        query: {
          apotekId: apotekGroupId,
        },
      })
    },
    async refetchToken(role) {
      const token = await this.accountApi.refetchToken(role.id)
      return await this.$auth.setUserToken(token)
    },
    async fetchRoleWhenChooseApp(apotekId: string) {
      const axios = this.$axios
      const query = { apotekId }
      const context = {
        $axios: axios,
        query,
      }

      try {
        await this.$store.dispatch('permission/fetchRole', {
          context,
          force: true,
        })
      } catch (err) {}
    },
    addEmptyApotekGroup(apotek: any = {}) {
      const result = (apotek.apotekGroup.name = '-')
      return result
    },
  },
})
</script>

<style></style>
