<template>
  <v-footer color="#EBF2FA">
    <v-container>
      <v-row justify="center" justify-md="start" align="center">
        <v-col cols="12" md="4">
          <div class="text-center d-flex flex-column justify-center align-center">
            <img max-width="167px" :src="require('~/assets/icons/logo_gray.svg')"/>
            <div class="d-flex mt-2 tex-center">
              <v-icon color="#A7B0B5" class="mr-md-6 mx-4">mdi-instagram</v-icon>
              <v-icon color="#A7B0B5" class="mr-md-6 mx-4">mdi-youtube</v-icon>
              <v-icon color="#A7B0B5" class="mr-md-6 mx-4">mdi-facebook</v-icon>
              <v-icon color="#A7B0B5" class="mr-md-6 mx-4">mdi-twitter</v-icon>
            </div>
          </div>
        </v-col>
        <v-col cols="12" md="8">
          <div class="text-subtitle-1" style="color: #7F898C">INFORMASI</div>
          <div class="text-subtitle-1 mt-2" style="color: #7F898C">MTAC Farmasi Unpad</div>
          <div class="mt-2 text-subtitle-1 d-flex align-center" style="color: #7F898C">
            <v-icon size="16px" class="mr-3">mdi-map-marker</v-icon>
            Jl. Ir. H. Juanda No.248, Sekeloa, Kecamatan Coblong, Kota Bandung, Jawa Barat 40134  
          </div>
          <div class="mt-2 text-subtitle-1 d-flex align-center" style="color: #7F898C">
            <v-icon size="16px" class="mr-3">mdi-email</v-icon>
            info@inatti.id
          </div>

          <div class="mt-2 text-subtitle-1 d-flex align-center" style="color: #7F898C">
            <v-icon size="16px" class="mr-3">mdi-help</v-icon>
            https://inatti.id/help/
          </div>
        </v-col>
      </v-row>
      <v-divider class="my-4" />
      <div class="d-flex justify-center align-center">
        <div class="text-center text-caption" style="color: #7F898C; width: 245px">
          &copy; Copyright InaTTI 2021. All Rights Reserved Developed Sahaware Indonesia
        </div>
      </div>
    </v-container>
  </v-footer>
</template>