<template>
  <div>
    <div class="text-center py-3" style="background: #fff">
      <img height="50" src="https://inatti.id/asset-app/inatti-v2.2-large.png" />
    </div>
    <v-list-item color="#fff">
      <v-list-item-content>
        <v-list-item class="white--text cursor-pointer">
          <nuxt-link to="/beranda" class="white--text cursor-pointer"
            >Homepage</nuxt-link
          >
        </v-list-item>
        <v-list-item
          v-if="!$auth.loggedIn"
          class="white--text cursor-pointer"
          @click="$router.push('/auth/')"
        >
          Gabung Sekarang
        </v-list-item>

        <v-list-group
          v-if="$auth.loggedIn"
          class="white--text cursor-pointer"
          no-action
        >
          <template #activator>
            <v-list-item-content
              class="white--text cursor-pointer text-capitalize"
            >
              <v-list-item-title> {{ $auth.user.fullname }} </v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item class="pl-8" to="/account">
            <v-list-item-content class="white--text cursor-pointer">
              <v-list-item-title> Account </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item class="pl-8" to="/testcovid/order/list">
            <v-list-item-content class="white--text cursor-pointer">
              <v-list-item-title> Order List </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item class="pl-8" @click="$auth.logout()">
            <v-list-item-content class="white--text cursor-pointer">
              <v-list-item-title> Logout </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list-item-content>
    </v-list-item>
  </div>
</template>

<style scoped>
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: #fff !important;
}
</style>
