<template>
  <div class="d-flex align-center pr-8">
    <nuxt-link to="/beranda" class="px-5 grey--darken-3--text cursor-pointer"
      >Homepage</nuxt-link
    >
    <v-btn
      v-if="!$auth.loggedIn"
      depressed
      small
      color="#A5BE00"
      elevation="0px"
      dark
      @click="$router.push('/auth/')"
      >Gabung Sekarang</v-btn
    >
    <v-menu v-if="$auth.loggedIn" left bottom>
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          elevation="0"
          class="
            rounded-lg
            white
            text-capitalize
            px-5
            grey--darken-3--text
            cursor-pointer
            body-1
          "
          v-on="on"
        >
          <v-icon left color="grey darken-3">mdi-account-circle-outline</v-icon>
          {{ $auth.user.fullname }}
        </v-btn>
      </template>

      <v-list>
        <v-list-item to="/account">
          <v-list-item-title> Akun </v-list-item-title>
        </v-list-item>
        <v-list-item to="/testcovid/order/list">
          <v-list-item-title> Order List </v-list-item-title>
        </v-list-item>
        <v-list-item @click="$auth.logout()">
          <v-list-item-title> Logout </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<style>
.cursor-pointer {
  cursor: pointer;
  text-decoration: none;
  color: #555555 !important;
}

.cursor-pointer:hover {
  color: #168aad !important;
  font-weight: 500;
  transition: 0.2s ease;
}
</style>