<template>
  <v-list dense flat>
        <v-list-item-group
          v-model="model"
          mandatory
          color="accent"
          active-class="background"
        >
          <v-list-item
            v-for="item in items"
            :key="item.title"
            link
            nuxt
            :to="item.link"
            class="px-11 py-1"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
</template>

<script>
export default {
  data: () => ({
    model: 1,
    items: [
      { title: 'Tes', icon: 'mdi-diabetes', link: '/test'  },
      { title: 'Pesanan Test', icon: 'mdi-tray-full', link: '/pesanan'  },
      { title: 'Hasil Test', icon: 'mdi-file-account', link: '/hasil'  },
    ],
  })
}
</script>