<template>
  <div>
    <auth-banner text="Edit Data Akun" />
    <v-container class="mt-12 d-flex justify-center align-center">
      <v-card width="410" outlined class="mb-12 px-6 py-8">
        <v-form ref="form" lazy-validation>
          <div>{{ profile.phoneNumber }}</div>
          <div class="text-subtitle-1 font-weight-medium">Nama Lengkap</div>
          <div class="mt-1">
            <v-text-field
              v-model="profile.fullname"
              :rules="rules.name"
              :placeholder="profile.fullname"
              outlined
              dense
            />
          </div>
          <div class="text-subtitle-1 font-weight-medium">E-mail</div>
          <div>
            <v-text-field
              v-model="profile.email"
              :rules="rules.email"
              :placeholder="profile.email"
              outlined
              dense
            />
          </div>
          <div class="text-subtitle-1 font-weight-medium">
            Nomor HP (Whatsapp Aktif)
          </div>
          <v-row>
            <v-col>
              <v-autocomplete
                v-model="selectedPhoneCountryCode"
                :items="phoneCountryCodes"
                prepend-inner-icon="mdi-plus"
                placeholder="+62"
                outlined
                dense
                messages="Kode Negara"
              >
              </v-autocomplete>
            </v-col>
            <v-col>
              <v-text-field
                v-model="profile.username"
                :rules="rules.phoneNumber"
                outlined
                dense
                messages="No. Telepon tanpa kode area"
              />
            </v-col>
          </v-row>
          <v-card-actions class="d-flex flex-column">
            <v-btn color="primary" :loading="loading" block depressed @click="userEdit">
              Simpan
            </v-btn>
            <v-btn color="error" :loading="loading" block text @click="$router.back()" class="mt-1">
              Batal
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>

<script lang="ts">
import { AccountApi } from '@inatti/shared/api-nuxt'
export default {
  layout: 'mobile',
  data() {
    return {
      rules: {
        name: [ (v) => !!v || 'Masukkan nama lengkap.' ],
        email: [
          (v) => !!v || 'Masukkan E-mail',
          (v) => /.+@.+\..+/.test(v) || 'E-mail tidak valid'
        ],
      },

      alert: {
        status: false,
        message: null
      },

      loading: false,
      isEditing: false,
      
      phoneCountryCodes: [
        '62',
        '1-684',
        '54',
        '61',
        '43',
        '297',
        '91',
        '358-18',
        '994',
        '353',
        '380',
        '974',
        '258',
      ],
      selectedPhoneCountryCode: '62',
      
      profile: {
        fullname: this.$auth.user.fullname,
        email: this.$auth.user.email,
        username: null
      },
      accountApi: null
    }
  },

  computed: {
    username() {
      return this.selectedPhoneCountryCode + this.profile.username
    }
  },

  mounted() {
    this.accountApi = new AccountApi(this.$axios)
    this.profile.username = this.$auth.user.username.slice(2)
  },

  methods: {
    async userEdit() {
      console.log('haha', this.accountApi)
      this.loading = true
      if (!this.$refs.form.validate()) {     
        this.alert.status = true
        this.alert.message = 'Mohon isi data secara lengkap.'
        this.loading = false
        return false
      }
      const params = {
          fullname: this.profile.fullname,
          username: this.username,
          email: this.profile.email,
        }
      try {
        let res = await this.accountApi.updateInfo(params)
        console.log(res)
        this.$auth.fetchUser()
        this.$router.push('/account')
      } catch (err) {
        this.alert.status = true
        this.alert.message = 'Gagal mengubah data.'
        console.error(err)
      } finally  { this.loading = false }
    }
  }
}
</script>

<style>
.cursor-pointer {
  cursor: pointer;
  text-decoration: none;
  color: #555555 !important;
}

.cursor-pointer:hover {
  color: #168AAD !important;
  font-weight: 500;
  transition: 0.2s ease;
}
</style>