<template>
  <div>
    <auth-banner text="Ganti Password" />
    <v-container class="mt-12 d-flex justify-center align-center">
      <v-card width="410" outlined class="mb-12 px-6 py-8">
        <v-alert v-model="alert.status" dense outlined type="warning">
          {{ alert.message }}
        </v-alert>

        <v-form ref="form" lazy-validation>
          <div>{{ $auth.user.password }}</div>
          <div>
            <div class="text-subtitle-1 font-weight-medium">Password Lama</div>
            <v-text-field
              v-model="oldPassword"
              :rules="rules.oldPassword"
              placeholder="Password lama"
              :type="isShowPassword ? 'text' : 'password'"
              :append-icon="
                isShowPassword ? 'mdi-eye-outline' : 'mdi-eye-off-outline'
              "
              outlined
              dense
              @click:append="isShowPassword = !isShowPassword"
            />
          </div>
          <div class="mt-1">
            <div class="text-subtitle-1 font-weight-medium">Password Baru</div>
            <v-text-field
              v-model="newPassword"
              :rules="rules.newPassword.password"
              placeholder="Password baru"
              :type="isShowPassword ? 'text' : 'password'"
              :append-icon="
                isShowPassword ? 'mdi-eye-outline' : 'mdi-eye-off-outline'
              "
              outlined
              dense
              @click:append="isShowPassword = !isShowPassword"
            />
            <v-text-field
              v-model="newPasswordConfirm"
              :rules="rules.newPassword.passwordConfirm"
              placeholder="Ketik ulang Password baru"
              :type="isShowPassword ? 'text' : 'password'"
              :append-icon="
                isShowPassword ? 'mdi-eye-outline' : 'mdi-eye-off-outline'
              "
              outlined
              dense
              @click:append="isShowPassword = !isShowPassword"
            />
          </div>

          <v-card-actions class="d-flex flex-column">
            <v-btn
              color="primary"
              :loading="loading"
              block
              depressed
              @click="changePassword"
            >
              Kirim
            </v-btn>
            <v-btn
              color="error"
              :loading="loading"
              block
              text
              @click="$router.back()"
              class="mt-1"
            >
              Batal
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import { AccountApi } from '@inatti/shared/api-nuxt'
export default {
  layout: 'mobile',
  data() {
    return {
      rules: {
        oldPassword: [(v) => !!v || 'Masukkan password'],
        newPassword: {
          password: [(v) => !!v || 'Masukkan password'],
          passwordConfirm: [
            (v) => !!v || 'Masukkan password',
            (v) => v === this.newPassword || 'Password konfirmasi tidak sama',
          ],
        },
      },

      alert: {
        status: false,
        message: null,
      },
      loading: false,
      isShowPassword: false,

      oldPassword: null,
      newPassword: null,
      newPasswordConfirm: null,
      accountApi: null,
    }
  },
  mounted() {
    this.accountApi = new AccountApi(this.$axios)
  },
  methods: {
    async changePassword() {
      this.loading = true
      if (!this.$refs.form.validate()) {
        this.alert.status = true
        this.alert.message =
          'Mohon isi Password Lama dan Password Baru dengan lengkap.'
        this.loading = false
        return false
      }
      try {
        await this.accountApi.updatePassword(this.oldPassword, this.newPassword)
        this.$router.push('/account')
      } catch (err) {
        if (err.response.data.message === 'Password incorrect') {
          this.alert.message =
            'Password Lama tidak valid, mohon isi Password Lama yang benar.'
          this.alert.status = true
          return false
        }
        this.alert.message = 'Gagal mengganti Password.'
        this.alert.status = true
      } finally {
        this.loading = false
      }
    },
  },
}
</script>
