<template>
  <div>
    <common-toolbar> Dashboard </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <v-row>
          <v-col cols="12" md="8" sm="12">
            <v-row class="pa-2">
              <div class="text-subtitle-1 font-weight-bold pl-2 pb-2">Test Covid</div>
              <v-col class="pa-0" md="12" cols="12">
                <v-row no-gutters>
                  <v-col cols="12" md="3" sm="12">
                    <common-card-info
                      icon="mdi-account-group"
                      :value="
                        dashboardData.totalPasien
                          ? $utils.toDecimal(dashboardData.totalPasien)
                          : '0'
                      "
                      name="Total Pasien"
                    />
                  </v-col>
                  <v-col cols="12" md="3" sm="12">
                    <common-card-info
                      icon="mdi-hospital-building"
                      :value="
                        dashboardData.totalRujukan
                          ? $utils.toDecimal(dashboardData.totalRujukan)
                          : '0'
                      "
                      name="Total Rujukan"
                    />
                  </v-col>
                  <v-col cols="12" md="3" sm="12">
                    <common-card-info
                      icon="mdi-home-assistant"
                      :value="
                        dashboardData.totalLab
                          ? $utils.toDecimal(dashboardData.totalLab)
                          : '0'
                      "
                      name="Total Lab"
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col md="12" cols="12" class="mt-3 pa-0">
                <v-row no-gutters>
                  <v-col cols="12" md="3" sm="12">
                    <common-card-info
                      icon="mdi-cash-multiple"
                      :value="
                        dashboardData.totalTransaction
                          ? $utils.toIdr(dashboardData.totalTransaction)
                          : '0'
                      "
                      name="Total Transaksi"
                    />
                  </v-col>
                  <v-col cols="12" md="3" sm="12">
                    <common-card-info
                      icon="mdi-account-multiple-check"
                      :value="
                        dashboardData.totalTransactionMonth
                          ? $utils.toIdr(dashboardData.totalTransactionMonth)
                          : '0'
                      "
                      name="Transaksi Bulan Ini"
                    />
                  </v-col>
                  <v-col cols="12" md="3" sm="12">
                    <common-card-info
                      icon="mdi-account-check"
                      :value="
                        dashboardData.totalTest
                          ? $utils.toDecimal(dashboardData.totalTest)
                          : '0'
                      "
                      name="Total Test Terlaksana"
                    />
                  </v-col>
                  <v-col cols="12" md="3" sm="12">
                    <common-card-info
                      icon="mdi-account-details"
                      :value="
                        dashboardData.totalTestMonth
                          ? $utils.toDecimal(dashboardData.totalTestMonth)
                          : '0'
                      "
                      name="Total Test Bulan Ini"
                    />
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row class="pa-2">
              <div class="text-subtitle-1 font-weight-bold pl-2 pb-2">Vaksinasi</div>
              <v-col class="pa-0" md="12" cols="12">
                <v-row no-gutters>
                  <v-col cols="12" md="3" sm="12">
                    <common-card-info
                      icon="mdi-needle"
                      :value="
                        dashboardData.vaksinTotalAlreadyVaksin
                          ? dashboardData.vaksinTotalAlreadyVaksin
                          : '0'
                      "
                      name="Total Sudah Vaksin"
                    />
                  </v-col>
                  <v-col cols="12" md="3" sm="12">
                    <common-card-info
                      icon="mdi-needle-off"
                      :value="
                        dashboardData.vaksinTotalNotVaksin
                          ? dashboardData.vaksinTotalNotVaksin
                          : '0'
                      "
                      name="Total Belum Vaksin"
                    />
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col
            class="d-flex justify-center flex-row align-end pa-0 ma-0"
            cols="12"
            md="4"
            sm="12"
          >
            <v-row class="pa-0 ma-0">
              <v-col cols="12" md="6"></v-col>
              <v-col
                class="d-flex justify-space-between flex-column py-2 ma-0"
                cols="12"
                md="6"
              >
                <v-btn
                  small
                  class="py-4 px-2"
                  color="info"
                  @click="fetchDashboard({ isForce: true })"
                >
                  <v-icon left> mdi-refresh </v-icon>
                  Referesh Data
                </v-btn>
                <span class="font-weight-light mt-2 text-caption"
                  >Terakhir Di Update :
                  <span class="font-weight-medium text-caption">{{
                    updatedAt ? $utils.toFormatDateTime(updatedAt) : updatedAt
                  }}</span></span
                >
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row class="pa-5">
          <v-col v-if="dashboardData.chartTransaction" md="6" cols="12">
            <common-chart-interval
              v-model="dashboardData.chartTransaction"
              title="Grafik Transaksi"
              type="bar"
            />
          </v-col>
          <v-col v-if="dashboardData.chartTest" md="6" cols="12">
            <common-chart-interval
              v-model="dashboardData.chartTest"
              title="Grafik Test"
              type="bar"
            />
          </v-col>
        </v-row>
        <v-row class="pa-5">
          <v-col v-if="dashboardData.chartTestPcr" md="6" cols="12">
            <common-chart-interval
              v-model="dashboardData.chartTestPcr"
              title="Grafik Test PCR"
              type="bar"
              :color="colorChartResult"
            />
          </v-col>
          <v-col v-if="dashboardData.chartTestAntigen" md="6" cols="12">
            <common-chart-interval
              v-model="dashboardData.chartTestAntigen"
              title="Grafik Test Antigen"
              type="bar"
              :color="colorChartResult"
            />
          </v-col>
        </v-row>
        <v-row class="pa-5">
          <v-col v-if="dashboardData.vaksinGraph" md="6" cols="12">
            <common-chart-interval
              v-model="dashboardData.vaksinGraph"
              title="Vaksin Per-Rujukan"
              type="bar"
              :color="colorChartResult"
            />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { AdminApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'

export interface ChartType {
  value: string
  group: number
  xaxis: string
}

export interface ChartTransaction {
  day: ChartType[]
  month: ChartType[]
  year: ChartType[]
}

export interface ChartTest {
  day: ChartType[]
  month: ChartType[]
  year: ChartType[]
}

export interface ChartTestPcr {
  day: ChartType[]
  month: ChartType[]
  year: ChartType[]
}

export interface ChartTestAntigen {
  day: ChartType[]
  month: ChartType[]
  year: ChartType[]
}

export interface DashboardData {
  totalPasien: string
  totalRujukan: string
  totalLab: string
  totalTest: string
  totalTestMonth: string
  totalTransactionMonth: string
  totalTransaction: string
  chartTransaction: ChartTransaction
  chartTest: ChartTest
  chartTestPcr: ChartTestPcr
  chartTestAntigen: ChartTestAntigen
}

export interface DashboardType {
  id: number
  label: string
  data: DashboardData
  updatedAt: Date
  createdAt: Date
}

@Component
export default class DashboardComponent extends Vue {
  adminApi: AdminApi
  created() {
    this.adminApi = new AdminApi(this.$axios)
    this.fetchDashboard({})
  }
  isLoading = false
  updatedAt = ''
  dashboardData: DashboardData = {
    totalPasien: '',
    totalRujukan: '',
    totalLab: '',
    totalTest: '',
    totalTransaction: '',
    totalTransactionMonth: '',
    totalTestMonth: '',
    chartTransaction: {
      day: [],
      month: [],
      year: [],
    },
    chartTest: {
      day: [],
      month: [],
      year: [],
    },
    chartTestPcr: {
      day: [],
      month: [],
      year: [],
    },
    chartTestAntigen: {
      day: [],
      month: [],
      year: [],
    },
  }
  colorChartResult = [
    { group: 'positif', color: '#FB41A7' },
    { group: 'negatif', color: '#38FE2F' },
  ]

  $utils: any
  async fetchDashboard(params: any) {
    try {
      this.isLoading = true
      let result: DashboardType = await this.adminApi.getDashboard(params)
      this.updatedAt = new Date(result.updatedAt).toISOString()
      this.dashboardData = result.data
    } catch (err) {}
    this.isLoading = false
  }
}
</script>

<style></style>
