<template>
  <div>
    <common-toolbar>
      <div v-if="isAdd">Tambah Pasien</div>
      <div v-else>Detail Pasien</div>
    </common-toolbar>
    <feature-telefarmasi-database-patient-detail
      ref="patientDetailComponent"
      :is-add="isAdd"
      @on-success-create-patient="(e) => onSuccessCreatePatient(e)"
      :branch-id="$route.query.apotekId"
      :patient-id="patientId"
      :readonly="false"
    >
      <template #pmr-history-card-item-action="{ data }">
        <div class="d-flex justify-center align-center flex-row">
          <common-tooltip-locked-patient v-if="!data.isEditable" />
          <v-btn
            class="ml-2"
            :to="`/patient/${$route.params.id}/medical-record?pmrId=${data.id}&apotekId=${$route.query.apotekId}`"
            color="primary"
            small
          >
            <v-icon small>mdi-eye</v-icon>
            <span class="ml-2">Rincian PMR</span></v-btn
          >
          <v-btn
            v-if="$allow('manage:pmr') && data.isEditable && apotekerStatus.status"
            color="error"
            small
            class="ml-2"
            @click="setSelectedPmr(data)"
            ><v-icon small>mdi-trash-can</v-icon></v-btn
          >
        </div>
      </template>
      <template #pmr-history-create-action>
        <div v-show="$allow('manage:pmr')">
          <span v-if="!apotekerStatus.status" class="pr-4">
            <v-icon color="warning" @click="isDialogNotifOpen = true"
              >mdi-alert-outline</v-icon
            >
          </span>
          <v-btn
            :to="`/patient/${$route.params.id}/medical-record`"
            color="secondary"
            :disabled="!apotekerStatus.status"
            small
          >
            <v-icon> mdi-plus </v-icon>
            <span>Buat Pmr</span>
          </v-btn>
        </div>
      </template>
    </feature-telefarmasi-database-patient-detail>
    <common-dialog-delete-confirm
      v-model="isDialogDeleteOpen"
      :loading="isDialogDeleteLoading"
      body-text="Yakin hapus PMR ini?"
      @ok="deletePmr(selectedPmr.id, selectedPmr.isEditable)"
    />
    <ui-common-dialog
      v-model="isDialogNotifOpen"
      :width="600"
      :title="'PERHATIAN !'"
      :confirmText="'Lengkapi Informasi'"
      @btn-cancel="isDialogNotifOpen = !isDialogNotifOpen"
      @btn-save="$router.push('/information-apoteker')"
    >
      <p>Anda harus mengisi kolom SRTA dan SIPA pada menu <b>Informasi Apoteker</b></p>
    </ui-common-dialog>
  </div>
</template>

<script lang="ts">
import { PmrApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'
import { UiCommonDialog } from '@inatti/shared/ui'

@Component({ components: { UiCommonDialog } })
export default class PatientForm extends Vue {
  isDialogNotifOpen = false
  isDialogDeleteOpen = false
  isDialogDeleteLoading = false
  selectedPmr: any = {}

  get isAdd() {
    return this.$route.params.id === 'add'
  }

  get patientId() {
    return this.$route.params.id ? this.$route.params.id : ''
  }

  onSuccessCreatePatient(patientId: string) {
    this.$router.push(`/patient/${patientId}`)
  }

  pmrApi!: PmrApi

  get apotekerStatus() {
    return this.$store.state.apotekerStore.status.isApotekerActive || {}
  }

  mounted() {
    this.pmrApi = new PmrApi(this.$axios)
  }

  async deletePmr(id: string, isEditable: any) {
    if (!isEditable) return
    this.isDialogDeleteLoading = true
    try {
      await this.pmrApi.delete(id)
      ;(
        this.$refs.patientDetailComponent as Vue & {
          fetchPmrHistory: () => void
        }
      ).fetchPmrHistory()
    } catch (error) {
    } finally {
      this.isDialogDeleteOpen = false
      this.isDialogDeleteLoading = false
    }
  }

  setSelectedPmr(data: any) {
    this.isDialogDeleteOpen = true
    this.selectedPmr = data
  }
}
</script>

<style></style>
