<template>
  <div>
    <common-toolbar>
      User Management
      <template #control>
        <v-btn
          color="primary"
          class="px-3 py-2"
          depressed
          @click.stop="showDialogAdd()"
        >
          <v-icon color="#fff" class="mr-2">mdi-plus</v-icon>
          Tambah User
        </v-btn>
      </template>
    </common-toolbar>
    <v-card :loading="listLoading">
      <v-card-text>
        <v-data-table :headers="tableHeader" :items="listUser">
          <template #[`item.action`]="{ item }">
            <v-btn icon @click="previewUser(item)">
              <v-icon> mdi-eye </v-icon>
            </v-btn>
          </template>
        </v-data-table>

        <ui-common-dialog
          v-model="dialogForm"
          :title="dialogTitle"
          :loading="dialogLoading"
          @btn-save="saveUser"
          @btn-cancel="dialogForm = !dialogForm"
        >
          <page-user-management-form
            ref="formUser"
            v-model="userForm"
            :alert="alertForm"
          />
        </ui-common-dialog>

        <!-- Delete User -->
        <div class="text-center">
          <v-dialog v-model="dialogDelete" width="290">
            <v-card>
              <v-card-title class="text-h5"> Hapus User ? </v-card-title>

              <v-card-text> Anda yakin akan menghapus user ini? </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#4CAF50" text @click="dialogDelete = false">
                  Batal
                </v-btn>
                <v-btn color="#FF5252" text @click="dialogDelete = false">
                  Ya
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
        <!-- End Delete User -->
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { UserRole } from '@inatti/shared/api-nuxt'
import { UiCommonDialog, UiPageManagementUserForm } from '@inatti/shared/ui'

@Component({ components: { UiCommonDialog, UiPageManagementUserForm } })
export default class UserManagement extends Vue {
  dialogForm = false
  dialogDelete = false
  dialogLoading = false
  dialogTitle = 'Tambah User'

  userForm = {
    fullname: '',
    username: '',
    roleId: 0,
    email: '',
    password: '',
    userId: '',
  }

  alertForm = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }

  setAlert(msg: string, type: string = 'warning'): void {
    this.alertForm = {
      isShow: true,
      type,
      msg,
    }
  }

  tableHeader = [
    {
      text: 'Username',
      value: 'userId.username',
    },
    {
      text: 'Fullname',
      value: 'userId.fullname',
    },
    {
      text: 'Role',
      value: 'roleId.name',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]

  listUser: UserRole[] = []

  created() {
    this.fetchListUser()
  }

  showDialogAdd() {
    this.dialogForm = true
    this.resetForm()
  }

  @Watch('dialogForm')
  onChangeDialogForm(val: boolean) {
    if (val === false) {
      this.resetForm()
    }
  }

  resetForm() {
    this.dialogTitle = 'Tambah User'
    this.selectedUser = null
    this.userForm = {
      fullname: '',
      username: '',
      roleId: 0,
      email: '',
      password: '',
      userId: '',
    }
  }

  get queryLab() {
    let idlab = this.$store.state.labStore.labId
    return '?idlab=' + idlab
  }

  listLoading = false
  async fetchListUser() {
    try {
      this.listLoading = true
      this.listUser = await this.$axios.$get(
        '/api-lab/user-manage/users' + this.queryLab
      )
    } catch (error) {
      console.log(error)
    }
    this.listLoading = false
  }

  $refs = {
    formUser: {} as any,
  }

  async saveUser() {
    // validate formUser
    if (!this.$refs.formUser.validateForm()) return false

    // edit mode, run update User
    if (this.selectedUser) return this.updateUser()

    this.dialogLoading = true
    try {
      await this.$axios.$post(
        '/api-lab/user-manage/user' + this.queryLab,
        this.userForm
      )
      this.dialogForm = false
      this.resetForm()
      this.fetchListUser()
    } catch (error) {
      let errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlert(errData.message, 'error')
    }
    this.dialogLoading = false
  }

  selectedUser: UserRole | null = null
  previewUser(user: UserRole) {
    this.dialogTitle = 'Lihat user'
    this.dialogForm = true
    this.userForm.fullname = user.userId.fullname
    this.userForm.username = user.userId.username
    this.userForm.roleId = user.roleId.id
    this.userForm.email = user.userId.email
    this.userForm.userId = user.userId.id
    this.selectedUser = user
  }

  async updateUser() {
    if (!this.selectedUser) return false
    this.dialogLoading = true
    try {
      const idUserRole = this.selectedUser.id
      await this.$axios.$patch(
        '/api-lab/user-manage/user/' + idUserRole + this.queryLab,
        this.userForm
      )
      this.dialogForm = false
      this.resetForm()
      this.fetchListUser()
    } catch (error) {
      console.log(error)
      let errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlert(errData.message, 'error')
    }
    this.dialogLoading = false
  }
}
</script>

<style>
.pointer-cursor {
  cursor: pointer;
}
</style>
