<template>
    <div>
        <UiHeadofficeManagementUserHeadoffice />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { UiHeadofficeManagementUserHeadoffice } from '@inatti/shared/ui';

@Component({ components: {UiHeadofficeManagementUserHeadoffice } })
export default class UserList extends Vue {}
</script>
