<template>
  <div>
    <common-toolbar>
      Tambah Vaksinasi Pasien
      <template #control>
        <v-btn color="red" dark @click="$router.back()"> Batal </v-btn>
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <v-col md="6" cols="12">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-alert type="success" :value="isTrxSuccess" text outlined>
              Transaksi berhasil
            </v-alert>
            <v-autocomplete
              v-model="formNik.model"
              :loading="formNik.isLoading"
              :items="formNik.items"
              :search-input.sync="formNik.search"
              item-value="id"
              item-text="combineText"
              label="Pilih pasien"
              placeholder="Cari nik atau nama pasien"
              outlined
              :disabled="isTrxSuccess"
              return-object
            >
              <template #no-data>
                <v-list-item to="/pasien/add">
                  <v-list-item-title v-if="!formNik.isLoading">
                    Tidak menemukan Nik atau nama pasien ? Tambah disini
                  </v-list-item-title>
                  <v-list-item-title v-else>
                    Sedang mencari data...
                  </v-list-item-title>
                </v-list-item>
              </template>
              <template #item="{ item }">
                <v-list-item-content>
                  <v-list-item-title>
                    {{ item.name }}
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    {{ item.nik }}. {{ item.datebirth }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </template>
              <template #selection="{ item }">
                <v-list-item-content>
                  <v-list-item-title>
                    <strong>
                      {{ item.name }}
                    </strong>
                  </v-list-item-title>
                  <v-list-item-subtitle v-if="item.nik">
                    {{ item.nik }}. {{ item.datebirth }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </template>
            </v-autocomplete>

            <div class="mb-3">
              Sampling Point : {{ refSelected ? refSelected.name : '' }}
            </div>

            <form-select-product
              typeProduct="vaksin"
              v-model="form.product"
              v-bind="defaultFormProp"
              return-object
            />

            <form-select-method-payment
              v-model="form.methodPayment"
              v-bind="defaultFormProp"
            />

            <form-select-payment-channel
              v-if="form.methodPayment === 'Transfer'"
              v-model="form.paymentChannel"
              v-bind="defaultFormProp"
            />

            <v-spacer />
            <a
              v-if="isTrxSuccess"
              :href="trfUrl"
              class="d-block mb-2"
              target="_blank"
              >Link Transfer</a
            >
            <v-btn
              v-if="!isTrxSuccess"
              color="primary"
              :loading="isLoading"
              @click="validateForm"
              >Simpan</v-btn
            >
            <v-btn v-else color="success" :to="trxUrl">
              <v-icon left>mdi-cash-register</v-icon> Lihat Transaksi</v-btn
            >
          </v-form>
        </v-col>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import {
  ReferenceApi,
  ReferencePatientApi,
  VaksinApi,
} from '@inatti/shared/api-nuxt'
import { PatientDTO, VaksinCreateOrderByUserDTO } from '@inatti/shared/dtos'

@Component
export default class AddPatient extends Vue {
  created() {}
  referencePatientApi = new ReferencePatientApi(this.$axios)
  vaksinApi = new VaksinApi(this.$axios)
  referenceApi = new ReferenceApi(this.$axios)

  defaultFormProp = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
    rules: [(v: any) => !!v || 'Kolom ini harus diisi'],
  }

  refSelected = {}
  valid = true
  isLoading = false
  isTrxSuccess = false
  trxUrl = ''
  trfUrl = ''
  form = {} as any

  async getRef() {
    let refId: string | null = this.$store.state.refStore.refId
    let refSelected = await this.referenceApi.getRegisteredRefOne(refId)
    this.refSelected = {
      name: refSelected.refId.name,
    }
    this.form.referenceTargetId = refId
  }

  $refs!: {
    form: any
  }

  validateForm() {
    let isValid: boolean = this.$refs.form.validate()
    // let isValid: boolean = false
    if (isValid) {
      this.savePatient()
    }
  }

  async savePatient() {
    if (!this.formNik.model) {
      alert('Pilih pasien terlebih dahulu')
      return
    }
    if (!this.form.product) {
      return
    }

    const info = {
      date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000),
      type: this.form.product.item.product.id,
    }

    const refTarget = {
      refId: this.form.referenceTargetId,
      productId: this.form.product.item.id,
    }

    const method = this.form.methodPayment

    const patients: PatientDTO[] = [this.formNik.model as PatientDTO]

    let form = {
      info,
      refTarget,
      method,
      patients,
    } as VaksinCreateOrderByUserDTO

    if (this.form.methodPayment === 'Transfer') {
      form.paymentChannel = {
        id: this.form.paymentChannel.pg_code,
        name: this.form.paymentChannel.pg_name,
      }
    }

    try {
      this.isLoading = true
      this.defaultFormProp.disabled = true

      const response = await this.vaksinApi.orderVaksin(form)
      this.trxUrl = `/transaction/${response.trx.id}`
      if (response && this.form.methodPayment === 'Transfer') {
        this.trfUrl = response.trxTransfer.redirect_url
        this.isTrxSuccess = true
        return
      }
      this.$router.replace(this.trxUrl)
    } catch (error) {
      alert(error)
    }
    this.defaultFormProp.disabled = false
    this.isLoading = false
  }

  // seaction form nik
  formNik = {
    isLoading: false,
    search: null,
    model: {},
    items: [] as any[],
    debounce: null,
  }

  @Watch('formNik.search')
  searchPatient(search: string) {
    // this.formNik.isLoading = true
    if (!search) {
      return
    }

    if (this.formNik.debounce) {
      clearTimeout(this.formNik.debounce as any)
    }
    this.formNik.isLoading = true

    // debounce system
    // @ts-ignore
    this.formNik.debounce = setTimeout(async () => {
      await this.fetchFormNikItems({ query: search })
      this.formNik.isLoading = false
    }, 2000)
  }

  async fetchFormNikItems(option: { query?: string; id?: string }) {
    this.formNik.items = await this.referencePatientApi.searchPatient({
      query: option.query,
      id: option.id,
    })
    this.formNik.items = this.formNik.items.map((v: any) => {
      v.combineText = v.nik + v.name
      return v
    })
  }

  async injectPatientById(id: string) {
    this.formNik.isLoading = true
    await this.fetchFormNikItems({ id })

    // select first data
    if (this.formNik.items.length > 0) {
      this.formNik.model = this.formNik.items[0]
    }
    this.formNik.isLoading = false
  }

  mounted() {
    this.getRef()

    let idPatientInject = this.$route.query.patient

    if (idPatientInject) {
      this.injectPatientById(idPatientInject + '')
    }
  }
}
</script>
<style></style>
