<template>
  <div>
    <common-toolbar no-back>
      Master Pasien
      <template #control>
        <v-btn :to="'/vaksinasi/patient/add'" color="primary">
          Tambah Pasien
        </v-btn>
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination-filter
          v-model="dataResult"
          :isShowFilter="false"
          search
          search-hint="Cari berdasarkan Nama atau NIK"
          @change="fetchPatient"
        >
          <div class="d-flex py-4 justify-end align-center" style="width: 100%">
            <v-btn
              :loading="isLoadingDownloadExcel"
              @click="onDownloadExcel"
              color="primary"
            >
              DOWNLOAD EXCEL
            </v-btn>
          </div>
          <v-data-table
            :headers="patientTableHeader"
            :items="patientItems"
            :loading="isLoading"
            hide-default-footer
            :item-class="getItemClass"
            disable-pagination
          >
            <template #[`item.customColumn1`]="{ item }">
              <div>
                <strong>
                  {{ item.customColumn1.name }}
                </strong>
              </div>
              <div>
                {{ item.customColumn1.gender }}
              </div>
            </template>
            <template #[`item.customColumn2`]="{ item }">
              <common-chip-payment
                v-if="item.customColumn2.statusOrder"
                label
                small
                :status="item.customColumn2.statusOrder"
              />
              <div>
                {{ item.customColumn2.method }}
              </div>
            </template>
            <template #[`item.customColumn3`]="{ item }">
              <div>
                <ui-chip-status-vaksin
                  v-if="item.statusVaksin"
                  label
                  small
                  :status="item.statusVaksin"
                />
              </div>
              <div>
                {{ item.customColumn3.dateTest }}
              </div>
            </template>
            <template #[`item.action`]="{ item }">
              <v-btn :to="`/vaksinasi/` + item.id" icon>
                <v-icon> mdi-eye </v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { UiTablePaginationFilter } from '@inatti/shared/ui'
import {
  VaksinApi,
  StatusVaksinMapping,
  PatientVaksinDetailDto,
  StatusVaksinEnum,
} from '@inatti/shared/api-nuxt'
import { DataTableHeader } from 'vuetify/types/index'
import {
  GenderEnum,
  MethodPaymentEnum,
  StatusOrderEnum,
} from '@inatti/shared/dtos'

interface TablePatientItem {
  id: string
  customColumn1: {
    name: string
    gender: GenderEnum | string | null
  }
  passport: string
  nik: string
  datebirth: Date | string
  customColumn2: {
    statusOrder: StatusOrderEnum | string
    method: MethodPaymentEnum
  }
  statusVaksin: StatusVaksinEnum | string
  customColumn3: {
    dateTest: Date | string
  }
  createdAt: Date | string
}

@Component({ components: { UiTablePaginationFilter } })
export default class ListPatient extends Vue {
  patientTableHeader = [
    {
      text: 'Pasien',
      value: 'customColumn1',
      sortable: false,
    },
    {
      text: 'No. Passport',
      value: 'passport',
      sortable: false,
    },
    {
      text: 'NIK',
      value: 'nik',
      sortable: false,
    },
    {
      text: 'Tanggal Lahir',
      value: 'datebirth',
      sortable: false,
    },
    {
      text: 'Status Bayar',
      value: 'customColumn2',
      sortable: false,
    },
    {
      text: 'Status & Tanggal Test',
      value: 'customColumn3',
      sortable: false,
    },
    {
      text: 'Tanggal Dibuat',
      value: 'createdAt',
      sortable: false,
    },
    {
      text: 'Aksi',
      value: 'action',
      sortable: false,
    },
  ] as DataTableHeader[]
  patientItems = [] as TablePatientItem[]
  dataResult = {}
  currentQuery = null
  isLoading = true

  vaksinApi = new VaksinApi(this.$axios)

  isLoadingDownloadExcel = false

  async onDownloadExcel() {
    try {
      this.isLoadingDownloadExcel = true
      const refId = this.$route.query.refId as string
      const resp = await this.vaksinApi.downloadExcel(refId, this.currentQuery)
      this.$utils.saveFile({
        byteArray: resp,
        fileName: `Pasien Vaksin ${this.$utils.dateTimeFormat(new Date())}`,
        extension: 'xlsx',
      })
    } catch (error) {
    } finally {
      this.isLoadingDownloadExcel = false
    }
  }

  async fetchPatient(params: any = {}) {
    this.currentQuery = params
    try {
      this.isLoading = true
      const refId = this.$route.query.refId as string
      const result = await this.vaksinApi.getByRef(refId, params)
      this.dataResult = result
      this.patientItems = this.parseToTable(result.results)
    } finally {
      this.isLoading = false
    }
  }

  statusVaksinMapping: any = StatusVaksinMapping

  getItemClass(item: any) {
    let data = this.statusVaksinMapping[item.statusVaksin]
    if (!data) return null

    let color = data.color

    if (!color) return null
    if (color.split(' ').length > 0) {
      const colorSplit = color.split(' ')
      color = colorSplit[0] + '--text text--' + colorSplit[1]
    } else {
      color = color + '--text'
    }
    return color
  }

  parseToTable(data: PatientVaksinDetailDto.VaksinDetail[]) {
    let patientTableData: TablePatientItem[] = []
    for (let i = 0; i < data.length; i++) {
      const item: PatientVaksinDetailDto.VaksinDetail = data[i]
      patientTableData.push({
        id: item.id,
        customColumn1: {
          name: item.patient?.name,
          gender: item.patient?.gender,
        },
        passport: item.patient?.passport,
        nik: item.patient?.nik,
        datebirth: item.patient?.datebirth,
        customColumn2: {
          statusOrder: item.orderTrx?.status,
          method: item.orderTrx?.method,
        },
        statusVaksin: item.vaksinDateAt
          ? 'vaccine'
          : item.checkinDateAt
          ? 'checkin'
          : 'registered',
        customColumn3: {
          dateTest: item.vaksinDateAt
            ? new Date(item.vaksinDateAt.toString()).toLocaleString()
            : null,
        },
        createdAt: new Date(item.createdAt.toString()).toLocaleString(),
      })
    }
    return patientTableData
  }

  created() {
    this.fetchPatient({
      'filter[date]': 'today',
    })
  }

  $utils: any
}
</script>

<style></style>
