<template>
  <div>
    <CommonToolbar>
      <div>
        <p class="ma-0">Management Unit Bisnis</p>
      </div>
      <template #control>
        <v-btn
          v-if="$allow('manage:unit-bisnis')"
          color="secondary"
          class="px-3 py-2"
          depressed
          @click="createUnitBisnis"
        >
          <v-icon color="#fff" class="mr-2">mdi-plus</v-icon>
          Tambah Unit Bisnis
        </v-btn>
      </template>
    </CommonToolbar>
    <v-card>
      <v-card-text>
        <v-data-table
          :headers="table.headers"
          :items="apotekGroups"
          :loading="pageIsLoading"
          loading-text="Loading... Please wait"
        >
          <template #[`item.deleteAt`]="{ item }">
            <span :class="item.deleteAt ? 'red--text' : 'green--text'">
              {{ item.deleteAt ? 'Tidak Aktif' : 'Aktif' }}
            </span>
          </template>
          <template #[`item.createdAt`]="{ item }">
            {{ new Date(item.createdAt).toLocaleString() }}
          </template>
          <template #[`item.actions`]="{ item }">
            <v-btn
              icon
              @click="editUnitBisnis(item)"
            >
              <v-icon> mdi-pencil-outline </v-icon>
            </v-btn>
            <v-btn icon @click="toApotek(item)">
              <v-icon> mdi-eye </v-icon>
            </v-btn>
            <v-btn
              v-if="$allow('manage:unit-bisnis')"
              icon
              @click="deleteUnitBisnis(item)"
            >
              <v-icon> mdi-trash-can-outline </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <ui-common-dialog
      v-model="deleteDialog"
      title="Hapus Unit Bisnis?"
      :width="300"
      confirm-icon="mdi-trash-can"
      confirm-text="Hapus"
      cancel-text="Batal"
      :loading="deleteButtonIsLoading"
      :confirmLoading="deleteButtonIsLoading"
      @btn-cancel="cancelDelete"
      @btn-save="confirmDeleteUnitBisnis"
    >
      Anda yakin akan menghapus user ini?
    </ui-common-dialog>
    <ui-common-dialog
      v-model="createDialog"
      :width="500"
      confirm-text="Tambah"
      cancel-text="Batal"
      title="Tambah Unit Bisnis"
      confirm-icon="mdi-content-save"
      :loading="createButtonIsLoading"
      :confirmLoading="createButtonIsLoading"
      @btn-cancel="cancelCreate"
      @btn-save="confirmCreateUnitBisnis"
    >
      <v-text-field
        v-model="unitBisnisForm.name"
        outlined
        label="Unit Bisnis Name"
        dense
        hide-details
      />
    </ui-common-dialog>
    <ui-common-dialog
      v-model="detailDialog"
      :width="500"
      confirm-text="Simpan"
      cancel-text="Batal"
      title="Edit Unit Bisnis"
      confirm-icon="mdi-content-save"
      :loading="updateButtonIsLoading"
      :confirmLoading="updateButtonIsLoading"
      @btn-cancel="cancelEdit"
      @btn-save="confirmEditUnitBisnis"
    >
      <v-text-field
        v-model="unitBisnisForm.name"
        outlined
        label="Unit Bisnis Name"
        dense
        hide-details
      />
    </ui-common-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { ApotekGroupApi } from '@inatti/shared/api-nuxt';
import { UiCommonDialog } from '@inatti/shared/ui';
import { Prop } from 'vue-property-decorator';

@Component({ components: { UiCommonDialog } })
export default class ManageUnitBisnis extends Vue {
  @Prop({ type: String })
  headofficeId!: string;

  pageIsLoading = false;
  deleteButtonIsLoading = false;
  createButtonIsLoading = false;
  updateButtonIsLoading = false;

  table = {
    headers: [
      { text: 'Nama', value: 'name' },
      { text: 'Created At', value: 'createdAt' },
      { text: 'Status', value: 'deleteAt' },
      { text: 'Actions', value: 'actions' },
    ],
  };

  apotekGroups = [];
  async fetchApotekGroup() {
    this.pageIsLoading = true;
    try {
      let res = await this.apotekGroupApi.getListBasedHeadoffice();
      let data = res.map((item: any) => {
        return {
          id: item.id,
          name: item.name,
          createdAt: item.createdAt,
          deleteAt: item.deleteAt,
        };
      });
      this.apotekGroups = data;
    } catch (error) {
      console.error(error);
    } finally {
      this.pageIsLoading = false;
    }
  }

  toApotek(item: any) {
    this.$router.push({ path: '/apotek', query: { groupId: item.id } });
  }

  selectedId = '';
  unitBisnisForm = {
    name: '',
  };

  createDialog = false;
  createUnitBisnis() {
    this.createDialog = !this.createDialog;
    this.selectedId = '';
    this.unitBisnisForm.name = '';
  }

  detailDialog = false;
  editUnitBisnis(item: any) {
    this.detailDialog = !this.detailDialog;
    this.selectedId = item.id;
    this.unitBisnisForm.name = item.name;
  }

  deleteDialog = false;
  deleteUnitBisnis(item: any) {
    this.deleteDialog = !this.deleteDialog;
    this.selectedId = item.id;
  }

  async confirmCreateUnitBisnis() {
    this.createButtonIsLoading = true;
    try {
      await this.apotekGroupApi.create(this.unitBisnisForm);
      this.createDialog = !this.createDialog;
      this.fetchApotekGroup();
    } catch (error) {
      console.error(error);
    } finally {
      this.createButtonIsLoading = false;
    }
  }

  cancelCreate() {
    this.selectedId = '';
    this.unitBisnisForm.name = '';
    this.createDialog = !this.createDialog;
  }

  async confirmEditUnitBisnis() {
    this.updateButtonIsLoading = true;
    try {
      await this.apotekGroupApi.update(this.selectedId, this.unitBisnisForm);
      this.selectedId = '';
      this.detailDialog = !this.detailDialog;
      this.fetchApotekGroup();
    } catch (error) {
      console.error(error);
    } finally {
      this.updateButtonIsLoading = false;
    }
  }

  cancelEdit() {
    this.selectedId = '';
    this.unitBisnisForm.name = '';
    this.detailDialog = !this.detailDialog;
  }

  async confirmDeleteUnitBisnis() {
    this.deleteButtonIsLoading = true;
    try {
      await this.apotekGroupApi.delete(this.selectedId);
      this.selectedId = '';
      this.deleteDialog = !this.deleteDialog;
      this.fetchApotekGroup();
    } catch (error) {
      console.error(error);
    } finally {
      this.deleteButtonIsLoading = false;
    }
  }

  cancelDelete() {
    this.selectedId = '';
    this.deleteDialog = !this.deleteDialog;
  }

  userFormAlert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  };

  setAlertUserForm(msg: string, type: string = 'warning'): void {
    this.userFormAlert = {
      ...this.userFormAlert,
      isShow: true,
      type,
      msg,
    };
  }

  apotekGroupApi!: ApotekGroupApi;
  mounted() {
    this.apotekGroupApi = new ApotekGroupApi(this.$axios);
    this.fetchApotekGroup();
  }
}
</script>

<style></style>
