<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Detail {{ patientName }} </mobile-appbar-title>
    </template>
    <template #toolbar>
      <v-sheet color="secondary" width="100%" elevation="0" class="mt-14">
        <v-tabs v-model="tab" background-color="secondary" grow>
          <v-tab v-for="item in items" :key="item.id">
            {{ item.text }}
          </v-tab>
        </v-tabs>
      </v-sheet>
    </template>

    <v-tabs-items v-model="tab" style="background-color: #f5f5f5">
      <page-testcovid-patient-tab-item-riwayat />
      <page-testcovid-patient-tab-item-pmr :id-pasien="id" />
      <page-testcovid-patient-tab-item-identitas />
    </v-tabs-items>
  </mobile-layout>
</template>

<script>
import { UserApi } from '@inatti/shared/api-nuxt'
export default {
  layout: 'blank',
  auth: false,
  data: () => ({
    items: [
      { id: 0, text: 'Tes & Vaksin' },
      { id: 1, text: 'Riwayat PMR' },
      { id: 2, text: 'Identitas' },
    ],
    name: null,
    id: null,
    userApi: null
  }),
  computed: {
    patientName() {
      return this.name
    },
    tab: {
      set(val) {
        const query = { ...this.$route.query }
        query.tab = val
        this.$router.replace({ query })
      },
      get() {
        return parseInt(this.$route.query.tab)
      },
    },
  },
  mounted() {
    this.userApi = new UserApi(this.$axios)
    this.getPatientData()
  },

  methods: {
    async getPatientData() {
      const { id } = this.$route.params
      this.id = id
      try {
        const data = await this.userApi.getRelationDetails(id)
        this.name = data.name
      } catch (error) {}
    },
  },
}
</script>
