<template>
  <v-row justify="center" align="center">
    <v-col col="4">
      <v-card>
        <v-card-text>
          Loading
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
/**
 * Redirect to `/dashboard`
 */

export default {
  created(){
    this.$router.replace('/dashboard')
  }
}
</script>
