<template>
  <div>
    <v-toolbar class="mb-3">
      <v-toolbar-title>Apotek Management</v-toolbar-title>
      <v-spacer />
      <v-btn color="primary" @click="isDialogAddApotekOpen = true">
        <v-icon left> mdi-plus </v-icon> Tambah Apotek
      </v-btn>
    </v-toolbar>
    <v-card class="pa-4">
      <div class="filter-container">
        <v-text-field
          v-model="filterParams.search"
          dense
          outlined
          clearable
          label="Cari Apotek"
          placeholder="Cari Apotek"
          append-icon="mdi-magnify"
          hide-details
          @keyup.enter="searchApotek"
          class="mb-2"
        ></v-text-field>
        <form-select-apotek-group
          v-model="filterParams.filterApotekGroup"
          :multiple="true"
          outlined
          dense
        />
      </div>
      <v-data-table
        :headers="table.headers"
        :items="table.items"
        item-key="id"
        class="elevation-1"
        pagination.sync="pagination"
        hide-default-footer
        :loading="isTableLoading"
      >
        <template #[`item.date`]="{ item }">
          {{ item.date }}
        </template>
        <template #[`item.deleteAt`]="{ item }">
          <span
            :class="item.deleteAt !== 'Aktif' ? 'red--text' : 'green--text'"
          >
            {{ item.deleteAt }}
          </span>
        </template>
        <template #[`item.validateStatus`]="{ item }">
          <common-chip-validation :status="item.validateStatus" />
        </template>
        <template #[`item.actions`]="{ item }">
          <v-btn
            depressed
            x-small
            @click="
              $router.push({
                path: `/manage-apotek/${item.id}`,
                query: { apotekId: item.id,
                isEdit : 'true' },
              })
            "
          >
            detail
          </v-btn>
          <v-btn color="error" icon small @click="confirmDelete(item)">
            <v-icon small> mdi-trash-can-outline </v-icon>
          </v-btn>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="black"
                icon
                small
                v-bind="attrs"
                v-on="on"
                @click="
                  $router.push({
                    path: `/manage-apotek/${item.id}`,
                    query: { apotekId: item.id, tabs: 2, isEdit : 'true' },
                  })
                "
              >
                <v-icon small> mdi-account-group </v-icon>
              </v-btn>
            </template>
            <span>Manage User</span>
          </v-tooltip>
        </template>
      </v-data-table>
      <div class="mt-2 d-flex justify-end">
        <v-pagination
          v-model="filterParams.page"
          :length="pageLength"
          :total-visible="7"
        ></v-pagination>
      </div>
    </v-card>
    <!-- Dialog add data -->
    <v-dialog
      v-model="isDialogAddApotekOpen"
      scrollable
      persistent
      :overlay="false"
      max-width="500px"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Tambah Apotek</span>
        </v-card-title>
        <v-divider />
        <v-card-text class="pt-3 pb-0">
          <v-form ref="addApotekForm">
            <v-alert
              type="error"
              outlined
              :value="attribute.addApotekForm.isError"
            >
              Gagal menambahkan apotek grup.
            </v-alert>
            <v-text-field
              v-model="form.addApotek.name"
              label="Nama Apotek"
              :rules="[attribute.rules.required]"
              outlined
              dense
            />
            <v-text-field
              v-model="form.addApotek.address"
              label="Alamat"
              :rules="[attribute.rules.required]"
              outlined
              dense
            />
            <v-text-field
              v-model="form.addApotek.description"
              label="Deskripsi"
              :rules="[attribute.rules.required]"
              outlined
              dense
            />
            <form-select-apotek-group
              v-model="form.addApotek.apotekGroup"
              :rules="[attribute.rules.required]"
              outlined
              dense
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="canceladdApotek()">
            <v-icon left> mdi-close </v-icon>
            Batal
          </v-btn>
          <v-btn
            color="primary"
            :loading="attribute.addApotekForm.isLoading"
            @click="addApotek()"
          >
            <v-icon left> mdi-plus </v-icon>
            Tambah
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog edit data -->
    <v-dialog
      v-model="isDialogEditApotekOpen"
      scrollable
      :overlay="false"
      max-width="500px"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Edit Grup Apotek</span>
        </v-card-title>
        <v-card-text class="pb-0">
          <v-divider />
          <v-container>
            <v-form ref="updateApotekForm">
              <v-alert
                type="error"
                text
                :value="attribute.updateApotekForm.isError"
              >
                Gagal mengubah data apotek.
              </v-alert>
              <v-text-field
                v-model="form.updateApotekGroup.name"
                label="Nama Apotek"
                :rules="[attribute.rules.required]"
                outlined
                dense
              ></v-text-field>
              <form-select-apotek-headoffice
                v-model="form.updateApotekGroup.headOffice"
                :rules="[attribute.rules.required]"
                outlined
                dense
              />
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-container>
            <v-btn
              color="primary"
              :loading="attribute.updateApotekForm.isLoading"
              @click="updateApotekGroupById(form.selectedApotekGroup.id)"
            >
              Simpan
            </v-btn>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <dialog-delete-confirm
      v-model="isOpenDialogDelete"
      @ok="deleteApotekGroupById(form.selectedApotekGroup.id)"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { ApotekApi } from '@inatti/shared/api-nuxt'

@Component
export default class DetailUserComponent extends Vue {
  isTableLoading = false
  table = {
    headers: [
      {
        text: 'No.',
        align: 'start',
        sortable: false,
        value: 'no',
      },
      { text: 'Nama Apotek', value: 'name' },
      { text: 'Unit Bisnis', value: 'apotekGroup' },
      { text: 'Alamat', value: 'address' },
      { text: 'No. Telepon', value: 'phonenumber' },
      { text: 'Validasi', value: 'validateStatus' },
      { text: 'Aksi', value: 'actions' },
    ],
    items: [],
  }

  form = {
    addApotek: {
      name: '',
      address: '',
      description: '',
      apotekGroup: '',
    },
    currentApotekGroupSelected: null as any,
    updateApotekGroup: {
      name: '',
      headOffice: '',
    },
    selectedApotekGroup: {
      id: '',
      name: '',
    },
  }

  attribute = {
    addApotekForm: {
      isLoading: false,
      isError: false,
    },
    updateApotekForm: {
      isLoading: false,
      isError: false,
    },
    rules: {
      required: (v: any) => !!v || 'Form ini harus diisi.',
    },
  }

  isDialogAddApotekOpen = false
  isDialogEditApotekOpen = false
  isShowDialogDeleteApotekPicture = false
  isOpenDialogDelete = false

  isLoadingConfirmDeleteApotekPicture = false

  $form: any
  $snackbar: any
  $utils: any

  apotekApi!: ApotekApi
  $dayjs: any
  mounted() {
    this.apotekApi = new ApotekApi(this.$axios)
    this.fetchListApotek()
  }

  selectApotekGroup(item: any) {
    this.form.selectedApotekGroup = {
      id: item.id,
      name: item.name,
    }
  }

  async fetchListApotek() {
    this.isTableLoading = true
    let params = {
      'paginate[page]': this.filterParams.page - 1,
      'paginate[limit]': this.filterParams.pageLimit,
      filterApotekGroup: this.filterParams.filterApotekGroup,
      search: this.filterParams.search,
    }
    let baseNumber = (this.filterParams.page - 1) * this.filterParams.pageLimit
    try {
      const response = await this.apotekApi.get(params)
      const tableData = [] as any[]
      this.pageLength = response.pageLength
      response.results.forEach((el: any, i: any) => {
        const tableElement: any = {
          id: el?.id,
          no: baseNumber + i + 1,
          name: el?.name ?? '-',
          address: el?.address ?? '-',
          phonenumber: el?.phonenumber ? `+62${el?.phonenumber}` : '-',
          thumbnail: el?.thumbnail ?? '-',
          validateStatus: el?.validateStatus ?? '',
          apotekGroup: el?.apotekGroup?.name ?? '-',
          createdAt: el?.createdAt
            ? this.$dayjs(el?.createdAt).format('DD/MM/YYYY, HH:mm:ss A')
            : '-',
          deleteAt: el?.deleteAt ? 'Telah dihapus' : 'Aktif',
        }
        tableData.push(tableElement)
      })
      this.table.items = tableData
    } catch (error) {
      console.error(error)
    } finally {
      this.isTableLoading = false
    }
  }

  openEditDialog(item: any) {
    this.selectApotekGroup(item)
    this.fetchDetailApotekGroupById(item.id)
    this.isDialogEditApotekOpen = true
  }

  async fetchDetailApotekGroupById(idapotekGroup: string) {
    try {
      const response = await this.apotekApi.getOne(idapotekGroup)
      this.form.updateApotekGroup = this.$utils.cloneObject(response)
      this.form.currentApotekGroupSelected = this.$utils.cloneObject(response)
      this.$form.resetValidation(this.$refs, 'updateApotekForm')
    } catch (error) {
      this.isDialogEditApotekOpen = false
    }
  }

  async addApotek() {
    this.attribute.addApotekForm.isLoading = true
    try {
      if (!this.$form.validate(this.$refs, 'addApotekForm')) return
      await this.apotekApi.create(this.form.addApotek)
      this.attribute.addApotekForm.isError = false
      this.isDialogAddApotekOpen = false
      this.$form.reset(this.$refs, 'addApotekForm')
      this.resetFilterParams()
      this.fetchListApotek()
    } catch (error) {
      this.attribute.addApotekForm.isError = true
    } finally {
      this.attribute.addApotekForm.isLoading = false
    }
  }

  canceladdApotek() {
    this.$form.reset(this.$refs, 'addApotekForm')
    this.isDialogAddApotekOpen = false
  }

  pageLength = 7
  filterParams = {
    page: 1,
    pageLimit: 10,
    filterApotekGroup: [],
    search: '',
  }

  resetFilterParams() {
    this.filterParams = {
      page: 1,
      pageLimit: 10,
      filterApotekGroup: [],
      search: '',
    }
  }

  searchApotek() {
    this.filterParams.page = 1
    this.fetchListApotek()
  }

  @Watch('filterParams.search')
  onFilterSearchChange(val: any) {
    if (!val) this.fetchListApotek()
  }

  @Watch('filterParams.page')
  onFilterParamsPageChange() {
    this.fetchListApotek()
  }

  @Watch('filterParams.filterApotekGroup')
  onFilterParamsGroupChange() {
    this.filterParams.page = 1
    this.fetchListApotek()
  }

  @Watch('isDialogEditApotekOpen')
  onDialogEditIsNotOpen(val: boolean) {
    if (val) return
    this.$form.resetValidation(this.$refs, 'updateApotekForm')
  }

  async updateApotekGroupById(idapotekGroup: string) {
    const isValid = this.$form.validate(this.$refs, 'updateApotekForm')
    if (
      isValid &&
      this.$utils.dirtyValidation(
        this.form.currentApotekGroupSelected,
        this.form.updateApotekGroup
      )
    ) {
      this.attribute.updateApotekForm.isLoading = false
      try {
        await this.apotekApi.update(idapotekGroup, this.form.updateApotekGroup)
        this.attribute.updateApotekForm.isError = false
        this.isDialogEditApotekOpen = false
        this.fetchListApotek()
      } catch (error) {
        this.attribute.updateApotekForm.isError = true
      } finally {
        this.attribute.updateApotekForm.isLoading = false
      }
    }
  }

  async deleteApotekGroupById(idapotekGroup: string) {
    try {
      await this.apotekApi.delete(idapotekGroup)
      this.isOpenDialogDelete = false
      this.fetchListApotek()
    } catch (error: any) {
      const code = parseInt(error.response && error.response.status)
      this.$snackbar(error.response.data.message ?? code)
    }
  }

  setApotekGroup(item: any) {
    const apotekGroup = {
      id: item.id,
      name: item.name,
    }
    this.$store.commit('apotekStore/setApotekGroup', apotekGroup)
    this.$router.push(`/apotek-group/detail/${item.id}`)
  }

  confirmDelete(item: any) {
    this.selectApotekGroup(item)
    this.isOpenDialogDelete = true
  }
}
</script>

<style scoped>
.filter-container {
  width: 400px;
}
</style>
