<template>
  <v-row justify="center" align="center">
    <v-col col="4">
      <v-card :loading="isLoading">
        <v-card-text v-if="!resultApi.data">
          <v-row>
            <v-col cols="12" md="3" class="text-h5">
              Selamat datang
              <strong>
                {{ $auth.user.fullname }}
              </strong>
            </v-col>
            <v-spacer></v-spacer>
            <v-col v-for="i in 4" :key="i" cols="6" md="2">
              <v-card>
                <v-card-text>
                  <div class="d-flex justify-space-between align-center">
                    <div style="width: 60%">
                      <v-skeleton-loader type="text" />
                      <v-skeleton-loader type="text" />
                    </div>
                    <div>
                      <v-skeleton-loader type="avatar" />
                    </div>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6">
              <v-skeleton-loader type="image" height="800" />
            </v-col>
            <v-col cols="12" md="6">
              <v-skeleton-loader type="image" height="800" />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text v-if="resultApi.data">
          <v-row>
            <v-col cols="12" md="3" class="text-h5">
              Selamat datang
              <strong>
                {{ $auth.user.fullname }}
              </strong>
            </v-col>
            <v-spacer />
            <v-col cols="6" md="2">
              <ui-page-dashboard-card
                title="Pasien terdaftar"
                :value="resultApi.data.patientRegistered"
                icon="mdi-account-multiple-check"
              />
            </v-col>
            <v-col cols="6" md="2">
              <ui-page-dashboard-card
                title="Sample diproses"
                :value="resultApi.data.sampleProcessed"
                icon="mdi-account-multiple-check"
              />
            </v-col>
            <v-col cols="6" md="2">
              <ui-page-dashboard-card
                title="Sample Negatif"
                :value="resultApi.data.totalSampleNegatif"
                icon="mdi-account-multiple-check"
              />
            </v-col>
            <v-col cols="6" md="2">
              <ui-page-dashboard-card
                title="Sample Positif"
                :value="resultApi.data.totalSamplePositif"
                icon="mdi-account-multiple-check"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col md="6" cols="12">
              <ui-page-dashboard-chart-interval
                v-model="resultApi.data.recordSampleResult"
                title="Hasil Test LAB"
                :color="[
                  { group: 'positif', color: '#FB41A7' },
                  { group: 'negatif', color: '#38FE2F' },
                ]"
              />
            </v-col>
            <v-col md="6" cols="12">
              <ui-page-dashboard-chart-interval
                v-model="resultApi.data.recordSampleRef"
                title="Sample Rujukan"
              />
            </v-col>
          </v-row>
          <div class="text-right">
            Terakhir diupdate {{ resultApi.updatedAt | toLocale }}
            <span>
              <v-btn text @click="forceUpdate()">
                <v-icon>mdi-reload</v-icon> Refresh data
              </v-btn>
            </span>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import {
  UiPageDashboardCard,
  UiPageDashboardChartInterval,
} from '@inatti/shared/ui'

@Component({
  components: { UiPageDashboardCard, UiPageDashboardChartInterval },
})
export default class DashboardComponent extends Vue {
  isLoading = true
  created() {
    this.fetchDashboard()
  }
  resultApi = {}

  async fetchDashboard(isForce?: boolean) {
    this.isLoading = true
    const idLab = this.$store.state.labStore.labId
    try {
      this.resultApi = await this.$axios.$get('/api-lab/api-lab/dashboard', {
        params: {
          idlab: idLab,
          force: isForce,
        },
      })
    } finally {
      this.isLoading = false
    }
  }

  forceUpdate() {
    this.resultApi = {}
    this.fetchDashboard(true)
  }
}
</script>

<style></style>
