<template>
  <v-row
    justify="center"
    align-content="start"
    align-content-md="center"
    class="h-100vh"
  >
    <v-col lg="5" md="6" cols="12" class="my-5">
      <v-card class="ma-3">
        <v-card-title class="justify-center mb-6 mb-md-5">
          <img
            src="https://inatti.id/asset-app/inatti-v2.2-large.png"
            height="70vh"
            alt="Logo InaTTI"
            class="mt-6"
          />
        </v-card-title>
        <v-card-subtitle class="mt-1">
          <div class="primary--text text-center text-h5">
            {{ title }}
          </div>
        </v-card-subtitle>
        <v-card-text>
          <slot name="content"></slot>

          <v-card-text class="text-caption text-center">
            <slot name="footer"></slot>
          </v-card-text>
          <slot name="additional-footer"></slot>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator';

@Component({})
export default class PageAuthContainer extends Vue {
  @Prop({ required: true }) title: string;
}
</script>

<style ${2|scoped,|} lang="scss"></style>
