<template>
  <v-card>
    <v-card-text>
      <v-alert
        v-if="alert.isShow"
        :icon="alert.icon"
        :type="alert.type"
        data-cy="account-setting-form-alert"
        dismissible
      >
        {{ alert.msg }}
      </v-alert>
      <v-row>
        <v-col md="3" cols="12">
          <v-row>
            <v-col md="12">
              <div class="font-weight-bold text-h6">
                Foto / Thumbnail Faskes
              </div>
              <div>Foto akan tampil pada daftar faskes di aplikasi user</div>
              <ui-common-image-dropzone-preview
                v-if="!editThumbnail || thumbnailImage"
                v-model="thumbnailImage"
                style="height: 240px"
              />
              <ui-common-image-dropzone-upload
                v-if="editThumbnail && !thumbnailImage"
                style="height: 240px"
                @files-selected="(e) => onSelectThumbnailFile(e)"
              />
              <v-btn
                v-if="!editThumbnail"
                color="primary"
                class="mt-3"
                block
                :disabled="!isEditInformationApotek"
                @click="editThumbnail = true"
              >
                <v-icon> mdi-image </v-icon>
                Ganti Foto
              </v-btn>
              <div
                v-if="editThumbnail"
                class="w-full d-flex justify-space-between align-center flex-column mt-3"
              >
                <v-btn block color="error" @click="cancelEditThumbnail">
                  Cancel</v-btn
                >
                <v-btn
                  :loading="isLoading"
                  class="mt-3"
                  block
                  color="primary"
                  @click="onSaveThumbnail"
                >
                  Save</v-btn
                >
              </div>
            </v-col>
          </v-row>
        </v-col>
        <v-col class="px-4" md="9" cols="12">
          <v-row>
            <v-col class="d-flex justify-start align-center" md="8" cols="12">
              <span class="black--text font-weight-medium text-h5">{{
                currentFormValue.name
              }}</span>
            </v-col>
            <v-col md="4" cols="12">
              <div class="d-flex justify-end align-center flex-row w-full">
                <v-btn
                  v-if="!isEditInformationApotek"
                  data-cy="account-setting-form-account-action-edit"
                  color="primary"
                  @click="isEditInformationApotek = true"
                >
                  <v-icon> mdi-pencil </v-icon>
                  Edit Info
                </v-btn>
              </div>
              <div
                v-if="isEditInformationApotek"
                class="w-full d-flex justify-end align-center"
              >
                <v-btn
                  data-cy="account-setting-form-account-action-cancel"
                  class="mr-3"
                  :loading="isLoading"
                  @click="
                    () => {
                      cancelEditInformationApotek();
                      cancelEditThumbnail();
                    }
                  "
                >
                  <v-icon> mdi-close </v-icon>
                  Batal
                </v-btn>
                <v-btn
                  data-cy="account-setting-form-account-action-save"
                  :loading="isLoading"
                  color="primary"
                  @click="onSaveInformationApotek"
                >
                  <v-icon> mdi-content-save </v-icon>
                  Simpan
                </v-btn>
              </div>
            </v-col>
            <v-col md="12">
              <v-form ref="formInformationApotekRef">
                <v-row no-gutters dense>
                  <v-col cols="12">
                    <v-alert type="warning" :value="isShowAlert" dense>
                      Mohon lengkapi data informasi Faskes
                    </v-alert>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="form.name"
                      label="Nama Faskes"
                      prepend-icon="mdi-tag-faces"
                      :disabled="!isEditInformationApotek"
                      :rules="mandatoryFieldRule"
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                  <v-col md="4" cols="12">
                    <v-select
                      v-model="form.isActive"
                      class="mr-2"
                      dense
                      :items="statusList"
                      label="Status Faskes"
                      item-text="text"
                      item-value="id"
                      :disabled="!isEditInformationApotek"
                      prepend-icon="mdi-dip-switch"
                      outlined
                    ></v-select>
                  </v-col>
                  <v-row dense>
                    <v-col md="6" cols="12">
                      <v-text-field
                        v-model="form.phonenumber"
                        outlined
                        dense
                        data-cy="account-setting-form-account-fullname"
                        prepend-icon="mdi-phone"
                        label="No. Telepon"
                        class="mb-4 input-phonenumber"
                        type="number"
                        prefix="+62"
                        :rules="phonenumberFieldRule"
                        :disabled="!isEditInformationApotek"
                        hide-details="auto"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-col md="6" cols="12">
                    <v-select
                      v-model="form.provinsi"
                      dense
                      class="mr-2"
                      :items="province"
                      label="Provinsi"
                      item-text="name"
                      item-value="id"
                      :disabled="!isEditInformationApotek"
                      prepend-icon="mdi-home"
                      :rules="mandatoryFieldRule"
                      outlined
                      @change="(v) => fetchCity(v)"
                    ></v-select>
                  </v-col>
                  <v-col md="6" cols="12">
                    <v-select
                      v-model="form.kabupaten"
                      dense
                      label="Kota"
                      :items="city"
                      item-text="name"
                      :loading="isLoadingCity"
                      item-value="id"
                      :disabled="!isEditInformationApotek"
                      :rules="mandatoryFieldRule"
                      outlined
                    ></v-select>
                  </v-col>
                  <v-col cols="12">
                    <v-select
                      v-model="form.typeApotek"
                      class="mb-3"
                      label="Jenis Tempat Praktik
                    Kefarmasian"
                      :items="typeApotekList"
                      :loading="isLoadingTypeApotek"
                      :disabled="!isEditInformationApotek"
                      :rules="mandatoryFieldRule"
                      hide-details="auto"
                      outlined
                      dense
                    />
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-text-field
                      v-model="form.suratIzinNo"
                      class="mr-2 mb-3"
                      label="No. Surat Izin Operasional Faskes"
                      :disabled="!isEditInformationApotek"
                      :rules="mandatoryFieldRule"
                      hide-details="auto"
                      outlined
                      dense
                    />
                  </v-col>
                  <v-col cols="12" md="6">
                    <div v-if="isEditInformationApotek">
                      <v-text-field
                        prepend-icon="mdi-file"
                        v-if="form.suratIzinFile"
                        v-model="suratIzinName"
                        readonly
                        :error-messages="fileWarning"
                        outlined
                        clearable
                        dense
                        label="Upload Surat Izin Operasional Faskes"
                      >
                      </v-text-field>
                      <v-file-input
                        v-else
                        :clearable="false"
                        v-model="form.suratIzinFile"
                        label="Upload Surat Izin Operasional Faskes"
                        :disabled="!isEditInformationApotek"
                        :rules="attachmentFieldRule"
                        hide-details="auto"
                        outlined
                        :show-size="true"
                        dense
                        @change="onUploadFile(form.suratIzinFile)"
                      />
                    </div>

                    <v-sheet v-else class="d-flex align-center" height="80%">
                      <v-icon class="mr-2 grey--text">mdi-file</v-icon>
                      <a
                        v-if="form.suratIzinFile"
                        :href="form.suratIzinFile"
                        target="_blank"
                        class="subtitle-1"
                      >
                        Surat Izin Operasional Faskes
                      </a>
                      <span v-else
                        >Tidak ada Surat Izin Operasional Faskes</span
                      >
                    </v-sheet>
                  </v-col>
                  <v-col></v-col>
                  <v-col md="12" cols="12">
                    <v-text-field
                      v-model="form.nomorSIA"
                      outlined
                      dense
                      data-cy="account-setting-form-account-fullname"
                      label="Nomor SIA"
                      class="mb-4"
                      :disabled="!isEditInformationApotek"
                      hide-details="auto"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col md="12" cols="12">
                    <v-textarea
                      v-model="form.address"
                      outlined
                      dense
                      :disabled="!isEditInformationApotek"
                      :rules="mandatoryFieldRule"
                      label="Alamat"
                      class="mb-3"
                      hide-details="auto"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-form>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row>
        <v-col md="3" cols="12">
          <div class="font-weight-bold text-h6">Logo Faskes</div>
          <div>Logo akan tampil pada sertifikat PMR</div>
          <ui-common-image-dropzone-preview
            v-if="!isEditLogo || logoImage"
            v-model="logoImage"
            style="height: 240px"
          />
          <ui-common-image-dropzone-upload
            v-if="isEditLogo && !logoImage"
            style="height: 240px"
            @files-selected="(e) => onSelectLogoFile(e)"
          />
          <v-btn
            v-if="!isEditLogo"
            color="primary"
            class="mt-3"
            block
            :disabled="!isEditInformationApotek"
            @click="isEditLogo = true"
          >
            <v-icon> mdi-image </v-icon>
            Ganti Logo
          </v-btn>
          <div
            v-if="isEditLogo"
            class="w-full d-flex justify-space-between align-center flex-column mt-3"
          >
            <v-btn block color="error" @click="cancelEditLogo"> Cancel</v-btn>
            <v-btn
              :loading="isSaveLogoLoading"
              class="mt-3"
              block
              color="primary"
              @click="onSaveLogo"
            >
              Save</v-btn
            >
          </div>
        </v-col>
        <v-col md="9" cols="12">
          <v-card
            :outlined="!!form.coord"
            :class="isMapEmpty ? 'mb-1' : 'mb-5'"
            :style="isMapEmpty ? 'border: 2px solid #F44336' : ''"
          >
            <v-card-text>
              <ui-common-map-location-picker
                v-model="form.coord"
                :disable="!isEditInformationApotek"
              />
            </v-card-text>
          </v-card>
          <div v-if="isMapEmpty" class="red--text text-body-2 mx-3 mb-5">
            Mohon tambahkan tag lokasi
          </div>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import {
  AdminApi,
  ApotekApi,
  ApotekUserApi,
  WilayahApi,
} from '@inatti/shared/api-nuxt';
import {
  UiCommonImageDropzonePreview,
  UiCommonImageDropzoneUpload,
  UiCommonMapLocationPicker,
} from '@inatti/shared/ui';

@Component({
  components: {
    UiCommonImageDropzonePreview,
    UiCommonImageDropzoneUpload,
    UiCommonMapLocationPicker,
  },
})
export default class InformationApotek extends Vue {
  editThumbnail = false;
  thumbnail = {
    preview: '',
    thumbnailFile: '' as any,
    currentThumbnail: '',
  };

  isEditLogo = false;
  isSaveLogoLoading = false;
  logo = {
    preview: '',
    file: '' as any,
    current: '',
  };

  statusList = [
    {
      id: true,
      text: 'Aktif',
    },
    {
      id: false,
      text: 'Non-Aktif',
    },
  ];

  provinceList = [];
  cityList = [];
  typeApotekList = [];

  currentFormValue = {};
  form = {
    name: '',
    address: '',
    description: '',
    phonenumber: '',
    isActive: false,
    logo: '',
    thumbnail: '',
    coord: '',
    kabupaten: '',
    provinsi: '',
    nomorSIA: null,
    suratIzinNo: '',
    notActiveAt: null,
    suratIzinFile: '' as any,
  };

  get suratIzinName() {
    if (this.form.suratIzinFile.name) {
      return this.form.suratIzinFile.name;
    } else {
      let name = this.form.suratIzinFile;
      return name.substring(name.lastIndexOf('/') + 1);
    }
  }

  set suratIzinName(v) {
    this.form.suratIzinFile = v;
  }

  isLoading = false;
  $utils: any;
  $refs: any;
  mandatoryFieldRule = [(v: any) => !!v || 'Form ini wajib diisi'];
  phonenumberFieldRule = [
    (v: string) => !isNaN(parseInt(v)) || 'Masukan harus berupa angka',
    (v: string) => v.length <= 13 || 'Maksimal 13 karakter',
  ];
  attachmentFieldRule = [
    (v: any) => !!v || 'Form ini wajib diisi',
    (v: any) => !v || v.size < 1000000 || 'Ukuran file maksimal 10 MB',
  ];

  isEditInformationApotek = false;

  get isShowAlert() {
    return !this.form.provinsi || !this.form.kabupaten || !this.form.coord;
  }

  cancelEditThumbnail() {
    this.editThumbnail = false;
    this.thumbnail.preview = '';
    this.thumbnail.thumbnailFile = '';
  }

  cancelEditLogo() {
    this.isEditLogo = false;
    this.logo.preview = '';
    this.logo.file = '';
  }

  cancelEditInformationApotek() {
    this.isEditInformationApotek = false;
    this.form = this.$utils.cloneObject(this.currentFormValue);
  }

  async onSaveThumbnail() {
    try {
      const formData = new FormData();
      const idapotek = this.$route.query.apotekId as string;
      if (!this.$utils.validateImageSize(this.thumbnail.thumbnailFile.size)) {
        this.showAlert(
          'warning',
          'Gagal Update Thumbnail Informasi Apotek: Size file melebihi 1 MB.'
        );
        return;
      }
      formData.append('thumbnail', this.thumbnail.thumbnailFile);
      this.isLoading = true;
      const resp = await this.apotekApi.updateThumbnail(idapotek, formData);
      this.thumbnail.currentThumbnail = resp.thumbnail;
      this.form.thumbnail = resp.thumbnail;
      this.showAlert('success', 'Sukses Update Foto Apotek');
      this.cancelEditThumbnail();
    } catch (error: any) {
      this.showAlert(
        'warning',
        'Gagal Update Thumbnail Informasi Apotek: ' +
          (error.response?.data?.message === undefined || null
            ? 'thumbnail belum di upload.'
            : error.response?.data?.message)
      );
    }
    this.isLoading = false;
  }

  async onSaveLogo() {
    try {
      const formData = new FormData();
      const idapotek = this.$route.query.apotekId as string;
      if (!this.$utils.validateImageSize(this.logo.file.size)) {
        this.showAlert(
          'warning',
          'Gagal Update Logo Informasi Apotek: Size file melebihi 1 MB.'
        );
        return;
      }
      formData.append('logo', this.logo.file);
      this.isSaveLogoLoading = true;
      const resp = await this.apotekApi.updateLogo(idapotek, formData);
      this.logo.current = resp.logo;
      this.form.logo = resp.logo;
      this.showAlert('success', 'Sukses Update Logo Apotek');
      this.cancelEditLogo();
    } catch (error: any) {
      this.showAlert(
        'warning',
        'Gagal Update Logo Informasi Apotek. ' +
          (error.response?.data?.message === undefined || null
            ? 'logo belum di upload.'
            : error.response?.data?.message)
      );
    }
    this.isSaveLogoLoading = false;
  }

  get thumbnailImage() {
    if (!this.editThumbnail) {
      return this.thumbnail.currentThumbnail;
    }
    return this.thumbnail.preview;
  }

  get logoImage() {
    if (!this.isEditLogo) {
      return this.logo.current;
    }
    return this.logo.preview;
  }

  get isMapEmpty() {
    return !this.form.coord;
  }

  onSelectThumbnailFile(e: any) {
    this.thumbnail.thumbnailFile = e[0];
    this.thumbnail.preview = URL.createObjectURL(e[0]);
  }

  onSelectLogoFile(e: any) {
    this.logo.file = e[0];
    this.logo.preview = URL.createObjectURL(e[0]);
  }

  alert = {
    isShow: false,
    msg: '',
    type: '',
  };

  showAlert(type: any, msg: string) {
    this.alert = {
      type,
      isShow: true,
      msg,
    };
  }

  linkFileSuratIzin = '';
  fileWarning = '';

  onUploadFile(file: any) {
    if (file.size > 1024 * 1000 * 10) {
      this.fileWarning = 'File maksimal 10mb';
    } else {
      return new Promise(async (resolve, reject) => {
        try {
          const formData = new FormData();
          formData.append('file', file);
          const resp = await this.$axios.$post('/file/upload', formData);
          this.linkFileSuratIzin = resp.Location;
          this.fileWarning = '';
        } catch (error) {
          reject(error);
        }
      });
    }
  }

  @Watch('form.isActive')
  onIsActiveChange(v: boolean) {
    if (v) {
      this.form.notActiveAt = null;
    } else {
      this.form.notActiveAt = new Date().toISOString();
    }
    console.log(this.form.isActive, this.form.notActiveAt);
  }

  async onSaveInformationApotek() {
    const apotekId = this.$route.query.apotekId as string;
    if (!this.$refs.formInformationApotekRef.validate()) {
      return;
    } else {
      if (
        !this.$utils.dirtyValidation(this.currentFormValue, this.form) &&
        this.isMapEmpty
      ) {
        return;
      }
      try {
        this.isLoading = true;
        this.form.phonenumber = '0' + this.form.phonenumber;
        this.form.suratIzinFile = this.linkFileSuratIzin;
        await this.apotekApi.update(apotekId, {
          ...this.form,
        });
        this.showAlert('success', 'Sukses Update Informasi Apotek');
        this.isEditInformationApotek = false;
        this.cancelEditThumbnail();
        this.fetchInformationApotek();
      } catch (error: any) {
        this.showAlert(
          'warning',
          'Gagal Update Informasi Apotek. ' + error.response?.data?.message
        );
      } finally {
        this.isLoading = false;
      }
    }
  }

  province = [];
  isLoadingProvince = false;
  async fetchProvince() {
    try {
      this.isLoadingProvince = true;
      this.province = await this.wilayahApi.getProvince();
    } catch (error) {}
    this.isLoadingProvince = false;
  }

  city = [];
  isLoadingCity = false;
  async fetchCity(provinsiId: number) {
    if (!provinsiId) return;
    try {
      this.isLoadingCity = true;
      this.city = await this.wilayahApi.getKabupaten(provinsiId);
    } catch (error) {}
    this.isLoadingCity = false;
  }

  isLoadingTypeApotek = false;
  async fetchTypeApotek() {
    try {
      this.isLoadingTypeApotek = true;
      const resp = await this.adminApi.getAppConfig('LIST_TYPE_APOTEK');
      this.typeApotekList = resp.valueJson;
    } catch (err) {}
    this.isLoadingTypeApotek = false;
  }

  async fetchInformationApotek() {
    const apotekId = this.$route.query.apotekId as string;
    try {
      const resp = await this.apotekApi.getOne(apotekId);
      const data = {
        ...resp,
        isActive: !resp.notActiveAt,
        kabupaten: resp.kabupaten ? resp.kabupaten.id : '',
        provinsi: resp.provinsi ? resp.provinsi.id : '',
        phonenumber: resp.phonenumber
          ? resp?.phonenumber?.slice(1, resp.phonenumber.length + 1)
          : '',
      };
      this.linkFileSuratIzin = data.suratIzinFile;
      this.form = this.$utils.cloneObject(data);
      this.thumbnail.currentThumbnail = this.$utils.cloneObject(resp).thumbnail;
      this.logo.current = this.$utils.cloneObject(resp).logo;
      this.currentFormValue = this.$utils.cloneObject(data);
      this.fetchCity(data.provinsi);
    } catch (error: any) {
      this.showAlert(
        'warning',
        'Gagal Mengunduh Data Informasi Apotek. ' +
          (error.response?.data?.message ?? error)
      );
    }
  }

  adminApi!: AdminApi;
  apotekApi!: ApotekApi;
  apotekUserApi!: ApotekUserApi;
  wilayahApi!: WilayahApi;
  mounted() {
    const apotekId = this.$route.query.apotekId as string;
    this.adminApi = new AdminApi(this.$axios);
    this.apotekUserApi = new ApotekUserApi(this.$axios, apotekId);
    this.apotekApi = new ApotekApi(this.$axios);
    this.wilayahApi = new WilayahApi(this.$axios);
    this.fetchInformationApotek();
    this.fetchProvince();
    this.fetchTypeApotek();
  }
}
</script>

<style scoped>
.input-phonenumber >>> input[type='number'] {
  -moz-appearance: textfield;
}

.input-phonenumber >>> input::-webkit-outer-spin-button,
.input-phonenumber >>> input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
</style>
