<template>
  <div>
    <UiHeadofficeManagementUserHeadoffice :headofficeId="$route.params.id">
      <template v-slot:extra-button>
        <v-btn
          color="primary"
          class="px-3 py-2 mr-2"
          outlined
          depressed
          @click="
            $router.push({
              path: '/apotek-group/list',
              query: { headOfficeId: `${$route.params.id}` },
            })
          "
        >
          Unit Bisnis
        </v-btn>
      </template>
    </UiHeadofficeManagementUserHeadoffice>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import { UiHeadofficeManagementUserHeadoffice } from '@inatti/shared/ui'

@Component({ components: { UiHeadofficeManagementUserHeadoffice } })
export default class HeadofficeDetail extends Vue {}
</script>
