<template>
  <div>
    <CommonToolbar>
      <div>
        <p class="ma-0">Management User</p>
        <p class="ma-0 body-1 font-weight-light">
          {{ headofficeName }}
        </p>
      </div>
      <template #control>
        <slot name="extra-button" class="mr-2"></slot>
        <v-btn
          color="secondary"
          class="px-3 py-2"
          depressed
          @click="showDialogCreateUser"
        >
          <v-icon color="#fff" class="mr-2">mdi-plus</v-icon>
          Tambah User
        </v-btn>
      </template>
    </CommonToolbar>
    <v-card>
      <v-card-text>
        <v-data-table
          :headers="table.headers"
          :items="listUsers"
          :loading="pageIsLoading"
          loading-text="Loading... Please wait"
        >
          <template #[`item.actions`]="{ item }">
            <v-btn icon @click="onPreviewUser(item)">
              <v-icon> mdi-eye </v-icon>
            </v-btn>
            <v-btn icon @click="showUserDialogDelete(item)">
              <v-icon> mdi-trash-can-outline </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <ui-common-dialog
      v-model="userDialogDelete.model"
      title="Hapus User ?"
      :width="300"
      :loading="userDialogDelete.loading"
      :confirmLoading="userDialogDelete.loading"
      confirm-icon="mdi-trash-can"
      confirm-text="Hapus"
      cancel-text="Batal"
      @btn-cancel="closeUserDialogDelete()"
      @btn-save="onDeleteUser()"
    >
      Anda yakin akan menghapus user ini?
    </ui-common-dialog>
    <ui-common-dialog
      v-model="userDialog.model"
      :width="500"
      :confirm-text="userDialog.confirmText"
      :cancel-text="userDialog.cancelText"
      :loading="userDialog.loading"
      :confirmLoading="userDialog.loading"
      :title="userDialog.title"
      confirm-icon="mdi-content-save"
      @btn-save="onConfirmDialogUser()"
      @btn-cancel="onCancelDialogUser()"
    >
      <FormUser
        v-if="userDialog.model"
        ref="formUser"
        v-model="userForm"
        :is-form-add="userDialog.isFormAdd"
        :alert="userFormAlert"
        :user-roles="userRoles"
        :apotek-groups="apotekGroups"
      />
    </ui-common-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {
  ApotekHeadofficeUserApi,
  ApotekHeadofficeApi,
} from '@inatti/shared/api-nuxt';
import { UiCommonDialog } from '@inatti/shared/ui';
import { Prop } from 'vue-property-decorator';
import FormUser from '../../../form/headoffice/user.vue';
import CommonToolbar from '../../../common/toolbar.vue';

interface UserForm {
  fullname: string;
  username: string;
  email: string;
  password?: string;
  passwordConfirm?: string;
  roleId: number;
  apotekGroupIds: [];
  reset: () => void;
}

@Component({ components: { UiCommonDialog, FormUser, CommonToolbar } })
export default class ManageUserHeadoffice extends Vue {
  @Prop({ type: String })
  headofficeId!: string;

  pageIsLoading = false;
  table = {
    headers: [
      { text: 'Nama Lengkap', value: 'userId.fullname' },
      { text: 'Username', value: 'userId.username' },
      { text: 'Role', value: 'roleId.name' },
      { text: 'Email', value: 'userId.email' },
      { text: 'Actions', value: 'actions' },
    ],
  };

  listUsers = [];
  async fetchUser() {
    try {
      const response = await this.apotekHeadofficeUserApi.getUsers(
        this.headofficeId
      );
      this.listUsers = response;
    } catch (error) {}
  }

  apotekGroups = [];
  async fetchApotekGroup() {
    this.pageIsLoading = true;
    try {
      this.apotekGroups = await this.apotekHeadofficeUserApi.getListApotekGroup(
        this.headofficeId
      );
    } catch (error) {
      console.log(error);
    } finally {
      this.pageIsLoading = false;
    }
  }

  userRoles = [];
  async fetchRole() {
    try {
      this.userRoles = await this.apotekHeadofficeUserApi.getRoles();
    } catch (error) {
      console.log(error);
    }
  }

  userDialog = {
    title: '',
    confirmText: '',
    cancelText: '',
    model: false,
    loading: false,
    isFormAdd: false,
  };

  closeDialogUser() {
    this.userDialog.model = false;
    this.selectedUserId = '';
  }

  userDialogDelete = {
    loading: false,
    model: false,
  };

  closeUserDialogDelete() {
    this.userDialogDelete.model = false;
    this.selectedUserId = '';
  }

  showUserDialogDelete(item: any) {
    this.userDialogDelete.model = true;
    this.selectedUserId = item.id;
  }

  $form: any;
  selectedUserId = '';
  userForm: UserForm = {
    fullname: '',
    username: '',
    email: '',
    password: '',
    passwordConfirm: '',
    roleId: 0,
    apotekGroupIds: [],
    reset: () => {
      this.$form.reset(this.$refs.formUser.$refs, 'form');
    },
  };

  userFormAlert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  };

  setAlertUserForm(msg: string, type: string = 'warning'): void {
    this.userFormAlert = {
      ...this.userFormAlert,
      isShow: true,
      type,
      msg,
    };
  }

  $refs: any;
  async onConfirmDialogUser() {
    console.log(this.userForm);
    if (!this.$refs.formUser.validateForm() || !this.$refs.formUser.isDirty())
      return false;
    if (this.selectedUserId) return this.updateUser();
    this.userDialog.loading = true;
    let data = { ...this.userForm, headofficeId: this.headofficeId };
    try {
      await this.apotekHeadofficeUserApi.addUser(
        this.headofficeId ? data : this.userForm
      );
      this.closeDialogUser();
      this.userForm.reset();
      this.fetchUser();
    } catch (error: any) {
      const errData = error?.response?.data ?? 'Error tidak diketahui';
      this.setAlertUserForm(errData.message, 'error');
    } finally {
      this.userDialog.loading = false;
    }
  }

  async updateUser() {
    if (!this.selectedUserId) return false;
    this.userDialog.loading = true;
    let data = { ...this.userForm, headofficeId: this.headofficeId };
    try {
      if (!this.userDialog.isFormAdd && !this.userForm.password) {
        delete this.userForm.password;
        delete this.userForm.passwordConfirm;
      }
      await this.apotekHeadofficeUserApi.updateUser(
        this.selectedUserId,
        this.headofficeId ? data : this.userForm
      );
      this.closeDialogUser();
      this.userForm.reset();
      this.fetchUser();
    } catch (error: any) {
      const errData = error?.response?.data ?? 'Error tidak diketahui';
      this.setAlertUserForm(errData.message, 'error');
    } finally {
      this.userDialog.loading = false;
    }
  }

  onCancelDialogUser() {
    this.closeDialogUser();
    this.userForm.reset();
    this.userFormAlert.isShow = false;
  }

  showDialogCreateUser() {
    this.userDialog.title = 'Tambah User';
    this.userDialog.confirmText = 'Tambah';
    this.userDialog.cancelText = 'Batal';
    this.userDialog.model = true;
    this.userDialog.isFormAdd = true;
  }

  async onPreviewUser(user: any) {
    try {
      let res = await this.apotekHeadofficeUserApi.getUserById(user.id);
      let x = res.apotekGroup.map((item) => item.apotekGroup);
      this.userForm.fullname = res.userId?.fullname;
      this.userForm.username = res.userId?.username;
      this.userForm.email = res.userId?.email;
      this.userForm.roleId = res.roleId?.id;
      this.userForm.apotekGroupIds = x.map((item) => item.id);
      this.userDialog.model = true;
      this.userDialog.isFormAdd = false;
      this.userDialog.title = 'Rincian User';
      this.selectedUserId = user.id;
      this.userDialog.cancelText = 'Tutup';
      this.userDialog.confirmText = 'Simpan';
    } catch (error) {
      console.log(error);
    }
  }

  async onDeleteUser() {
    if (!this.selectedUserId) return false;
    this.userDialogDelete.loading = true;
    try {
      await this.apotekHeadofficeUserApi.deleteUser(this.selectedUserId);
      this.closeUserDialogDelete();
      this.fetchUser();
    } catch (error: any) {
    } finally {
      this.userDialogDelete.loading = false;
    }
  }

  headofficeName = '';

  async getDetailHeadoffice() {
    try {
      let res = await this.apotekHeadofficeApi.getOne(this.headofficeId);
      this.headofficeName = res.name;
    } catch (error) {
      console.log(error);
    }
  }

  apotekHeadofficeUserApi!: ApotekHeadofficeUserApi;
  apotekHeadofficeApi!: ApotekHeadofficeApi;
  mounted() {
    this.apotekHeadofficeUserApi = new ApotekHeadofficeUserApi(this.$axios);
    this.apotekHeadofficeApi = new ApotekHeadofficeApi(this.$axios);
    if (this.headofficeId) this.getDetailHeadoffice();
    this.fetchUser();
    this.fetchRole();
    this.fetchApotekGroup();
  }
}
</script>
