<template>
  <v-sheet>
    <common-toolbar>
      <div class="d-flex flex-column">
        <span class="font-weight-regular text-h6"> Manajemen Pengguna </span>
        <span class="text-subtitle-2 font-weight-regular">
          {{ $store.state.apotekStore.apotekSelected.name }}
        </span>
      </div>
      <template #control>
        <v-btn
          color="secondary"
          class="px-3 py-2"
          depressed
          @click="showDialogCreateUser"
        >
          <v-icon color="#fff" class="mr-2">mdi-plus</v-icon>
          Tambah Pengguna
        </v-btn>
      </template>
    </common-toolbar>
    <v-data-table
      :headers="table.headers"
      :items="table.data"
      :items-per-page="5"
      class="elevation-1"
      disable-sort
    >
      <template #[`item.no`]="{ item }">
        {{
          table.data
            .map((el) => {
              return el.id
            })
            .indexOf(item.id) + 1
        }}
      </template>
      <template #[`item.role`]="{ item }">
        {{ item.role.name }}
      </template>
      <template #[`item.detail`]="{ item }">
        <v-btn icon small @click="onPreviewUser(item)">
          <v-icon small> mdi-eye </v-icon>
        </v-btn>
      </template>
      <template #[`item.delete`]="{ item }">
        <v-btn icon small @click="confirmDelete(item.dataId, item.fullname)">
          <v-icon small> mdi-trash-can </v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <ui-common-dialog
      v-model="userDialog.model"
      :width="500"
      :confirm-text="userDialog.confirmText"
      :cancel-text="userDialog.cancelText"
      :confirm-icon="userDialog.confirmIcon"
      :loading="userDialog.loading"
      :title="userDialog.title"
      @btn-save="onConfirmDialogUser()"
      @btn-cancel="onCancelDialogUser()"
    >
      <ui-page-management-user-form
        v-if="userDialog.model"
        ref="formUser"
        v-model="userForm"
        :is-form-add="userDialog.isFormAdd"
        :user-roles="userRoles"
        :alert="userFormAlert"
      />
    </ui-common-dialog>
    <dialog-delete-confirm
      v-model="dialogDelete"
      :loading="true"
      title="Pengguna"
      @delete="deleteUserApotekById(selectedUser.id)"
      @cancel="dialogDelete = false"
    >
      Anda yakin ingin menghapus pengguna
      <span class="font-weight-bold secondary--text">
        {{ selectedUser.fullname }}</span
      >?
    </dialog-delete-confirm>
    <v-snackbar
      v-model="formAttribute.deleteUser.isShowSnackbar"
      color="red accent-2"
    >
      Gagal menghapus apotek.

      <template #action="{ attrs }">
        <v-btn
          v-bind="attrs"
          small
          @click="formAttribute.deleteUser.isShowSnackbar = false"
        >
          Tutup
        </v-btn>
      </template>
    </v-snackbar>
  </v-sheet>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import { ApotekGroupUserApi, ApotekUserApi, DataApotekDTO } from '@inatti/shared/api-nuxt'
import { UiCommonDialog, UiPageManagementUserForm } from '@inatti/shared/ui'

interface RoleDTO {
  id: number
  name: string
  description: string
  permission: Array<string>
}

interface DataTableElement {
  dataId: number
  id: string
  fullname: string
  username: string
  email: string
  role: RoleDTO
}

interface UserApotek {
  id: number
  userId: {
    id: string
    fullname: string
    username: string
    email: string
    isActive: boolean
    isVerified: boolean
    isAnonymous: boolean
  }
  roleId: {
    id: number
    name: string
    description: string
    permission: Array<string>
  }
  apotekDetail: DataApotekDTO
}

interface UserForm {
  fullname: string
  username: string
  email: string
  password?: string
  passwordConfirm?: string
  roleId: number
  reset: () => void
}

@Component({ components: { UiCommonDialog, UiPageManagementUserForm }})
export default class ManagementUserApotek extends Vue {
  dialogDelete = false
  apotekSelected = { id: '', name: 'halo' }

  selectedUser = {
    id: 0,
    fullname: '',
  }

  formAttribute = {
    deleteUser: {
      isLoading: false,
      isShowSnackbar: false,
    },
  }

  userRoles = []

  table = {
    headers: [
      {
        text: 'No',
        value: 'no',
      },
      { text: 'Nama Lengkap', value: 'fullname' },
      { text: 'Username', value: 'username' },
      { text: 'E-mail', value: 'email' },
      { text: 'Role', value: 'role' },
      { text: 'Detail', value: 'detail' },
      { text: 'Hapus', value: 'delete' },
    ],
    data: [] as DataTableElement[],
  }

  $form: any
  $refs: any
  selectedUserId = ''

  userDialog = {
    title: '',
    confirmText: '',
    cancelText: '',
    model: false,
    loading: false,
    isFormAdd: false,
    confirmIcon: false as string | boolean,
  }

  userForm: UserForm = {
    fullname: '',
    username: '',
    email: '',
    password: '',
    roleId: 0,
    reset: () => {
      this.$form.reset(this.$refs.formUser.$refs, 'form')
    },
  }

  userFormAlert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }

  async onConfirmDialogUser() {
    if (!this.$refs.formUser.validateForm() || !this.$refs.formUser.isDirty())
      return false
    if (this.selectedUserId) return this.updateUser()
    this.userDialog.loading = true
    try {
      await this.apotekUserApi.addUser(this.userForm)
      this.closeDialogUser()
      this.userForm.reset()
      this.fetchUserApotekData()
    } catch (error: any) {
      const errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlertUserForm(errData.message, 'error')
    } finally {
      this.userDialog.loading = false
    }
  }

  async updateUser() {
    if (!this.selectedUserId) return false
    this.userDialog.loading = true
    try {
      if (!this.userDialog.isFormAdd && !this.userForm.password) {
        delete this.userForm.password
        delete this.userForm.passwordConfirm
      }
      await this.apotekUserApi.updateUser(this.selectedUserId, this.userForm)
      this.closeDialogUser()
      this.userForm.reset()
      this.fetchUserApotekData()
    } catch (error: any) {
      const errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlertUserForm(errData.message, 'error')
    } finally {
      this.userDialog.loading = false
    }
  }

  closeDialogUser() {
    this.userDialog.model = false
    this.selectedUserId = ''
  }

  onCancelDialogUser() {
    this.closeDialogUser()
    this.userForm.reset()
    this.userFormAlert.isShow = false
  }

  showDialogCreateUser() {
    this.userDialog.title = 'Tambah Pengguna'
    this.userDialog.confirmText = 'Tambah'
    this.userDialog.cancelText = 'Batal'
    this.userDialog.confirmIcon = 'mdi-plus'
    this.userDialog.model = true
    this.userDialog.isFormAdd = true
  }

  onPreviewUser(user: any) {
    this.userForm.fullname = user.fullname
    this.userForm.username = user.username
    this.userForm.email = user.email
    this.userForm.roleId = user.role.id
    this.selectedUserId = user.dataId
    this.userDialog.title = 'Rincian Pengguna'
    this.userDialog.confirmText = 'Simpan'
    this.userDialog.cancelText = 'Tutup'
    this.userDialog.confirmIcon = 'mdi-content-save'
    this.userDialog.model = true
    this.userDialog.isFormAdd = false

    this.$nextTick(() => {
      this.$refs.formUser.appendOldValue(
        JSON.parse(JSON.stringify(this.userForm))
      )
    })
  }

  setAlertUserForm(msg: string, type: string = 'warning'): void {
    this.userFormAlert = {
      ...this.userFormAlert,
      isShow: true,
      type,
      msg,
    }
  }

  apotekUserApi!: ApotekUserApi
  apotekGroupUserApi!: ApotekGroupUserApi
  mounted() {
    const { apotekId } = this.$route.params
    this.apotekUserApi = new ApotekUserApi(this.$axios, apotekId)
    this.apotekGroupUserApi = new ApotekGroupUserApi(this.$axios, apotekId)
    this.fetchUserApotekData()
    this.fetchUserRoles()
  }

  async fetchUserApotekData() {
    try {
      const response = await this.apotekUserApi.getUsers()
      const tableData = [] as DataTableElement[]
      response.forEach((el: UserApotek) => {
        const tableElement: DataTableElement = {
          dataId: el.id,
          id: el.userId.id,
          fullname: el.userId.fullname,
          username: el.userId.username,
          email: el.userId.email ?? '-',
          role: el.roleId,
        }
        tableData.push(tableElement)
      })
      this.table.data = tableData
    } catch (error) {}
  }

  async fetchUserRoles() {
    this.userRoles = await this.apotekUserApi.getRoles()
  }

  confirmDelete(id: number, fullname: string) {
    this.selectedUser = { id, fullname }
    this.dialogDelete = true
  }

  async deleteUserApotekById(id: number) {
    try {
      this.formAttribute.deleteUser.isLoading = true
      await this.apotekUserApi.deleteUser(id)
    } catch (error) {
      this.formAttribute.deleteUser.isShowSnackbar = true
    } finally {
      this.dialogDelete = false
      this.formAttribute.deleteUser.isLoading = false
      this.fetchUserApotekData()
    }
  }
}
</script>
