<template>
  <div>
    <common-toolbar no-back>
      Quick Form
      <template #control>
        <v-btn
          color="primary"
          class="px-3 py-2"
          depressed
          @click="showDialogAdd()"
        >
          <v-icon color="#fff" class="mr-2">mdi-plus</v-icon>
          Quick Form
        </v-btn>
      </template>
    </common-toolbar>
    <v-card :loading="listLoading">
      <v-card-text>
        <v-data-table :headers="tableHeader" :items="listQuickForm">
          <template #[`item.expiredAt`]="{ item }">
            {{ item.expiredAt ? $utils.dateToMonthText(item.expiredAt) : '' }}
          </template>
          <template #[`item.createdAt`]="{ item }">
            {{ $utils.dateToMonthText(item.createdAt) }}
          </template>
          <template #[`item.action`]="{ item }">
            <v-btn icon @click="onPreviewDialogQrCode(item)">
              <v-icon> mdi-qrcode-scan </v-icon>
            </v-btn>
            <v-btn icon @click="confirmDelete(item)">
              <v-icon> mdi-delete </v-icon>
            </v-btn>
          </template>
        </v-data-table>
        <ui-common-dialog
          v-model="dialogForm"
          :title="dialogTitle"
          :loading="dialogLoading"
          @btn-save="saveQuickForm"
          @btn-cancel="dialogForm = !dialogForm"
        >
          <page-setting-form-quick-form
            ref="formQuickForm"
            v-model="quickFormForm"
            :alert="alertForm"
          />
        </ui-common-dialog>
        <page-setting-qrcode-dialog-quick-form
          v-model="dialogQrCode"
          :title="quickFormQrCodePopUpTitle"
          :quick-form-id="quickFormQrCodeSelected"
          @cancel="onCloseDialogQrCode"
        />
        <div class="text-center">
          <v-dialog v-model="dialogDelete" width="290">
            <v-card>
              <v-card-title class="text-h5"> Hapus Data ? </v-card-title>

              <v-card-text> Anda yakin akan menghapus Data ini? </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#4CAF50" text @click="closeDeleteDialog">
                  Batal
                </v-btn>
                <v-btn
                  :loading="deleteLoading"
                  color="#FF5252"
                  text
                  @click="deleteQuickForm"
                >
                  Ya
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { InfoReferenceDTO, ReferenceQuickFormApi } from '@inatti/shared/api-nuxt'
import { UiCommonDialog } from '@inatti/shared/ui'

type quickFormField = {
  name: string
  expiredAt?: string | null
  ref: string
}

@Component({ components: { UiCommonDialog } })
export default class QuickForm extends Vue {
  dialogForm = false
  dialogQrCode = false
  quickFormQrCodeSelected = ''
  quickFormQrCodePopUpTitle = ''
  onPreviewDialogQrCode(data: any) {
    this.dialogQrCode = true
    setTimeout(() => {
      this.quickFormQrCodeSelected = `${process.env.URL_INATTI_USER}/quick-form/${data.id}`
      this.quickFormQrCodePopUpTitle = `QR-CODE - ${data.name}`
    }, 100)
  }
  onCloseDialogQrCode() {
    this.quickFormQrCodeSelected = ''
    this.quickFormQrCodePopUpTitle = ''
    this.dialogQrCode = false
  }
  dialogLoading = false
  tableHeader = [
    {
      text: 'Nama',
      value: 'name',
    },
    {
      text: 'Kadaluarsa',
      value: 'expiredAt',
    },
    {
      text: 'Tanggal Pembuatan',
      value: 'createdAt',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]

  listLoading = false
  listQuickForm: InfoReferenceDTO.QuickForm[] = []
  dialogDelete = false
  selectedQuickFormtToDelete: null | InfoReferenceDTO.QuickForm = null
  deleteLoading = false
  alertForm = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }
  quickFormForm: quickFormField = {
    ref: '',
    name: '',
    expiredAt: null,
  }
  $refs = {
    formQuickForm: {} as any,
  }
  referenceQuickFormApi = new ReferenceQuickFormApi(this.$axios)
  dialogTitle = ''
  resetForm() {
    this.dialogTitle = 'Tambah Quick Form'
    this.quickFormForm = {
      ref: '',
      name: '',
      expiredAt: null,
    }
  }
  setAlert(msg: string, type: string = 'warning'): void {
    this.alertForm = {
      isShow: true,
      type,
      msg,
    }
  }
  async saveQuickForm() {
    if (
      !this.$refs.formQuickForm.validateForm() ||
      !this.$refs.formQuickForm.isDirty()
    )
      return false
    this.dialogLoading = true
    try {
      let payload = { ...this.quickFormForm }
      if (!payload.expiredAt) delete payload.expiredAt

      await this.referenceQuickFormApi.add(this.quickFormForm)
      this.dialogForm = false
      this.resetForm()
      this.fetchData()
    } catch (error: any) {
      let errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlert(errData.message, 'error')
    }
    this.dialogLoading = false
  }
  confirmDelete(item: InfoReferenceDTO.QuickForm) {
    this.selectedQuickFormtToDelete = item
    this.dialogDelete = true
  }
  async fetchData() {
    const { refId } = this.$route.query
    try {
      this.listLoading = true
      const result = await this.referenceQuickFormApi.get({
        refId,
      })
      this.listQuickForm = result
    } catch (error: any) {
      // eslint-disable-next-line no-console
      console.log(error)
    }
    this.listLoading = false
  }

  @Watch('dialogDelete')
  resetDelete(newValue?: boolean) {
    if (!newValue) {
      this.selectedQuickFormtToDelete = null
    }
  }
  closeDeleteDialog() {
    this.dialogDelete = false
    this.resetDelete()
  }
  async deleteQuickForm() {
    this.deleteLoading = true
    try {
      if (!this.selectedQuickFormtToDelete) {
        this.$snackbar('Pilih Produk terlebih dahulu')
        return
      }
      await this.referenceQuickFormApi.delete(
        this.selectedQuickFormtToDelete.id
      )
      this.closeDeleteDialog()
      this.fetchData()
    } catch (error: any) {
      this.$snackbar(error)
    } finally {
      this.deleteLoading = false
    }
  }
  showDialogAdd() {
    this.dialogForm = true
    this.resetForm()
    const refId: any = this.$route.query.refId
    this.quickFormForm.ref = refId
    setTimeout(() => {
      this.$refs.formQuickForm.appendOldValue(
        JSON.parse(JSON.stringify(this.quickFormForm))
      )
    }, 500)
  }
  $snackbar!: (arg: string) => void
  created() {
    this.fetchData()
  }
}
</script>
