<template>
  <div>
    <page-setting-image-setting
      v-model="refTemplate.headerLeftImage"
      class="mb-3"
      label="Gambar Header Kiri Atas"
      :loading="isLoadingUpload.headerLeftImage"
      @change="onChangeImage($event, 'headerLeftImage')"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { ReferenceTemplateApi } from '@inatti/shared/api-nuxt'

@Component
export default class SettingTemplateSertificateFormComponent extends Vue {
  @Prop({ type: [String, Number] })
  type!: number | string

  created() {
    this.fetchData()
  }

  @Watch('type')
  onTypeChange() {
    this.fetchData()
  }
  referenceTemplateApi = new ReferenceTemplateApi(this.$axios)
  isLoading = false
  refTemplate = {
    headerLeftImage: '',
    headerRightImage: '',
    signaturImage: '',
  }
  async fetchData() {
    if (!this.type) return null
    this.isLoading = true
    const idref = this.$route.query.refId
    const result = await this.referenceTemplateApi.get({
      idref,
      typeProduct: this.type,
    })
    if (result) {
      this.refTemplate = result
    }
    this.isLoading = false
  }

  isLoadingUpload: Record<string, boolean> = {}
  async onChangeImage(image: string, typeImage: string) {
    this.isLoadingUpload[typeImage] = true
    let formData = new FormData()
    formData.append('image', image)
    try {
      await this.referenceTemplateApi.add(formData, {
        idref: this.$route.query.refId,
        name: typeImage,
        typeProduct: this.type,
      })
    } finally {
      this.isLoadingUpload[typeImage] = false
      this.fetchData()
    }
  }
}
</script>
