<template>
  <div>
    <common-toolbar>
      Managemen User
      <template #control>
        <v-btn
          color="secondary"
          class="px-3 py-2"
          depressed
          @click="showDialogCreateUser"
        >
          <v-icon color="#fff" class="mr-2">mdi-plus</v-icon>
          Tambah User
        </v-btn>
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <v-data-table
          :headers="table.headers"
          :items="listUsers"
          :loading="pageIsLoading"
          loading-text="Loading... Please wait"
        >
          <template #[`item.actions`]="{ item }">
            <v-btn icon @click="onPreviewUser(item)">
              <v-icon> mdi-eye </v-icon>
            </v-btn>
            <v-btn icon @click="showUserDialogDelete(item)">
              <v-icon> mdi-trash-can-outline </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <ui-common-dialog
      v-model="userDialogDelete.model"
      title="Hapus User ?"
      :width="300"
      :loading="userDialogDelete.loading"
      :confirmLoading="userDialogDelete.loading"
      confirm-icon="mdi-trash-can"
      confirm-text="Hapus"
      cancel-text="Batal"
      @btn-cancel="closeUserDialogDelete()"
      @btn-save="onDeleteUser()"
    >
      Anda yakin akan menghapus user ini?
    </ui-common-dialog>
    <ui-common-dialog
      v-model="userDialog.model"
      :width="500"
      :confirm-text="userDialog.confirmText"
      :cancel-text="userDialog.cancelText"
      :confirmLoading="userDialog.loading"
      :loading="userDialog.loading"
      :title="userDialog.title"
      confirm-icon="mdi-content-save"
      @btn-save="onConfirmDialogUser()"
      @btn-cancel="onCancelDialogUser()"
    >
      <ui-page-management-user-form
        v-if="userDialog.model"
        ref="formUser"
        v-model="userForm"
        :is-form-add="userDialog.isFormAdd"
        :alert="userFormAlert"
        :user-roles="userRoles"
      />
    </ui-common-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { ApotekUserApi } from '@inatti/shared/api-nuxt';
import { UiCommonDialog, UiPageManagementUserForm } from '@inatti/shared/ui';

interface UserForm {
  fullname: string;
  username: string;
  email: string;
  password?: string;
  passwordConfirm?: string;
  roleId: number;
  reset: () => void;
}

@Component({ components: { UiCommonDialog, UiPageManagementUserForm } })
export default class UserList extends Vue {
  pageIsLoading = false;

  table = {
    headers: [
      { text: 'Nama Lengkap', value: 'userId.fullname' },
      { text: 'Username', value: 'userId.username' },
      { text: 'Role', value: 'roleId.name' },
      { text: 'Email', value: 'userId.email' },
      { text: 'Actions', value: 'actions' },
    ],
  };

  listUsers = [];
  async fetchUser() {
    this.pageIsLoading = true;

    try {
      const response = await this.apotekUserApi.getUsers();
      this.listUsers = response;
    } catch (error) {
    } finally {
      this.pageIsLoading = false;
    }
  }

  userRoles = [];
  async fetchRole() {
    try {
      this.userRoles = await this.apotekUserApi.getRoles();
    } catch (error) {
      console.log(error);
    }
  }

  userDialog = {
    title: '',
    confirmText: '',
    cancelText: '',
    model: false,
    loading: false,
    isFormAdd: false,
  };

  closeDialogUser() {
    this.userDialog.model = false;
    this.selectedUserId = '';
  }

  userDialogDelete = {
    loading: false,
    model: false,
  };

  closeUserDialogDelete() {
    this.userDialogDelete.model = false;
    this.selectedUserId = '';
  }

  showUserDialogDelete(item: any) {
    this.userDialogDelete.model = true;
    this.selectedUserId = item.id;
  }

  $form: any;
  selectedUserId = '';
  userForm: UserForm = {
    fullname: '',
    username: '',
    email: '',
    password: '',
    passwordConfirm: '',
    roleId: 0,
    reset: () => {
      this.$form.reset(this.$refs.formUser.$refs, 'form');
    },
  };

  userFormAlert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  };

  setAlertUserForm(msg: string, type: string = 'warning'): void {
    this.userFormAlert = {
      ...this.userFormAlert,
      isShow: true,
      type,
      msg,
    };
  }

  $refs: any;
  async onConfirmDialogUser() {
    if (!this.$refs.formUser.validateForm() || !this.$refs.formUser.isDirty())
      return false;
    if (this.selectedUserId) return this.updateUser();
    this.userDialog.loading = true;
    try {
      await this.apotekUserApi.addUser(this.userForm);
      this.closeDialogUser();
      this.userForm.reset();
      this.fetchUser();
    } catch (error: any) {
      const errData = error?.response?.data ?? 'Error tidak diketahui';
      this.setAlertUserForm(errData.message, 'error');
    } finally {
      this.userDialog.loading = false;
    }
  }

  async updateUser() {
    if (!this.selectedUserId) return false;
    this.userDialog.loading = true;
    try {
      if (!this.userDialog.isFormAdd && !this.userForm.password) {
        delete this.userForm.password;
        delete this.userForm.passwordConfirm;
      }
      await this.apotekUserApi.updateUser(this.selectedUserId, this.userForm);
      this.closeDialogUser();
      this.userForm.reset();
      this.fetchUser();
    } catch (error: any) {
      const errData = error?.response?.data ?? 'Error tidak diketahui';
      this.setAlertUserForm(errData.message, 'error');
    } finally {
      this.userDialog.loading = false;
    }
  }

  onCancelDialogUser() {
    this.closeDialogUser();
    this.userForm.reset();
    this.userFormAlert.isShow = false;
  }

  showDialogCreateUser() {
    this.userDialog.title = 'Tambah User';
    this.userDialog.confirmText = 'Tambah';
    this.userDialog.cancelText = 'Batal';
    this.userDialog.model = true;
    this.userDialog.isFormAdd = true;
  }

  onPreviewUser(user: any) {
    this.userForm.fullname = user.userId?.fullname;
    this.userForm.username = user.userId?.username;
    this.userForm.email = user.userId?.email;
    this.userForm.roleId = user.roleId?.id;
    this.selectedUserId = user.id;
    this.userDialog.title = 'Rincian User';
    this.userDialog.confirmText = 'Simpan';
    this.userDialog.cancelText = 'Tutup';
    this.userDialog.model = true;
    this.userDialog.isFormAdd = false;
    this.$nextTick(() => {
      this.$refs.formUser.appendOldValue(
        JSON.parse(JSON.stringify(this.userForm))
      );
    });
  }

  async onDeleteUser() {
    if (!this.selectedUserId) return false;
    this.userDialogDelete.loading = true;
    try {
      await this.apotekUserApi.deleteUser(parseInt(this.selectedUserId));
      this.closeUserDialogDelete();
      this.fetchUser();
    } catch (error: any) {
    } finally {
      this.userDialogDelete.loading = false;
    }
  }

  apotekUserApi!: ApotekUserApi;
  mounted() {
    const apotekId = this.$route.params.id as any;
    this.apotekUserApi = new ApotekUserApi(this.$axios, apotekId);
    this.fetchUser();
    this.fetchRole();
  }
}
</script>
