<template>
  <v-autocomplete
    v-model="selected"
    label="Unit Bisnis"
    :multiple="multiple"
    clearable
    outlined
    dense
    :items="list"
    item-text="name"
    item-value="id"
    :loading="isLoading"
  />
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { ApotekGroupApi } from '@inatti/shared/api-nuxt';
// import MixinSelect from './mixinSelect'
import { Prop } from 'vue-property-decorator';

@Component
export default class SelectApotekGroup extends Vue {
  list: [] = [];
  api: ApotekGroupApi;
  isLoading = false;

  @Prop({
    type: Boolean,
    default: false,
  })
  multiple!: boolean;

  @Prop({
    type: String,
    default: '',
  })
  value!: string;

  get selected(): string {
    return this.value;
  }
  set selected(val) {
    this.$emit('input', val);
  }

  async fetchList() {
    this.isLoading = true;
    try {
      this.list = await this.api.getListBasedHeadoffice();
    } catch (err) {
      console.log(err);
    }
    this.isLoading = false;
  }

  mounted() {
    this.api = new ApotekGroupApi(this.$axios);
    this.fetchList();
  }
}
</script>
