<template>
  <div>
    <v-row
      justify="center"
      align-content="start"
      align-content-md="center"
      class="h-100vh"
    >
      <v-col md="6" col="12">
        <v-card class="ma-3">
          <v-card-title>
            <h3>Pilih Lab</h3>
          </v-card-title>
          <v-card-text class="overflow-auto" style="max-height: 300px">
            <v-text-field v-model="search" label="Cari" outlined class="mt-2" />
            <v-progress-circular
              v-if="isLoading"
              indeterminate
              color="primary"
            />
            <v-list v-else dense>
              <v-list-item
                v-for="(lab, i) in filterLab"
                :key="i"
                @click="saveLab(lab.labId.id)"
              >
                <v-list-item-avatar color="primary" class="white--text">
                  {{ lab.labId.name[0] }}
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{ lab.labId.name }}</v-list-item-title>
                  <v-list-item-subtitle>
                    <strong>
                      {{ lab.roleId.name }}
                    </strong>
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    {{ lab.roleId.description }}
                  </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-list-item-action-text> Masuk </v-list-item-action-text>
                  <v-icon> mdi-arrow-right </v-icon>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <ui-common-snackbar-error />
  </div>
</template>
<script>
import { UiCommonSnackbarError } from '@inatti/shared/ui'

export default {
  components: { UiCommonSnackbarError },
  layout: 'blank',
  data() {
    return {
      isLoading: true,
      listLab: null,
      search: null,
    }
  },
  computed: {
    filterLab() {
      if (!this.listLab) return []
      if (!this.search) return this.listLab
      return this.listLab.filter((lab) => {
        return lab.labId.name.toLowerCase().includes(this.search.toLowerCase())
      })
    },
  },
  created() {
    this.fetchRef()
  },
  methods: {
    async fetchRef() {
      this.isLoading = true
      try {
        this.listLab = await this.$axios.$get('/api-lab/registered-lab')
      } catch (error) {
        if (parseInt(error.response.status) === 401) {
          this.$router.replace('/login')
        }
      }
      this.isLoading = false
    },
    async saveLab(id) {
      const axios = this.$axios
      const query = { labId: id }
      const context = {
        $axios: axios,
        query,
      }
      await this.$store.dispatch('permission/fetchRole', {
        context,
        force: true,
      })
      let pathRedirect = '/'
      if (this.$route.query.redirect) {
        pathRedirect = this.$route.query.redirect
      }
      // // Force reload to fetch new data
      this.$router.replace({
        path: pathRedirect,
        query: {
          labId: id,
        },
      })
    },
  },
}
</script>

<style></style>
