<template>
  <div>
    <v-row
      justify="center"
      align-content="start"
      align-content-md="center"
      class="h-100vh"
    >
      <v-col md="4" col="12" class="text-center">
        <v-card class="ma-3 rounded-lg pt-2 pb-4">
          <v-card-title class="text-center">
            <div style="width: 100%">
              <div class="d-flex justify-center pb-4">
                <v-img
                  src="https://inatti.id/asset-app/inatti-v2.2-large.png"
                  max-width="120px"
                />
              </div>
              <div class="text-h5">Inatti Lab Login</div>
            </div>
          </v-card-title>
          <v-card-text>
            <v-form :disabled="isLoading" @submit.prevent="login()">
              <v-text-field
                v-model="username"
                placeholder="Masukkan username"
                label="Username"
                outlined
              />
              <v-text-field
                v-model="password"
                placeholder="Masukkan password"
                label="Password"
                :type="isShowPassword ? 'text' : 'password'"
                hide-details="auto"
                :append-icon="
                  isShowPassword ? 'mdi-eye-off-outline' : 'mdi-eye'
                "
                @click:append="isShowPassword = !isShowPassword"
                outlined
              />
              <div class="d-flex justify-end mb-5">
                <ui-identity-forget-password-btn />
              </div>
              <v-btn
                type="submit"
                color="primary"
                block
                :loading="isLoading"
                @click="login()"
              >
                Login
              </v-btn>
              <v-alert
                v-model="alert.isShow"
                :type="alert.type"
                class="mt-3"
                dismissible
                outlined
                transition="scale-transition"
              >
                {{ alert.msg }}
              </v-alert>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  auth: false,
  layout: 'blank',
  data() {
    return {
      username: null,
      password: null,
      isShowPassword: false,
      isLoading: false,
      alert: {
        isShow: false,
        type: null,
        msg: null,
      },
      errorMap: {
        RoleUserNotFound: 'Akun anda tidak memiliki akses ke Aplikasi LAB',
        PasswordIncorrectException: 'Password yang anda masukkan salah',
        UserNotFoundException: 'User tidak ditemukan',
      },
    }
  },
  methods: {
    async login() {
      this.isLoading = true
      try {
        await this.$auth.loginWith('local', {
          data: {
            username: this.username,
            password: this.password,
          },
        })
        this.$router.replace('/login/app')
      } catch (error) {
        console.log(error)
        let errorResponse = error?.response?.data ?? 'Error tidak ditemukan'
        this.setAlert(
          this.errorMap[errorResponse.name] || errorResponse.message
        )
      }
      this.isLoading = false
    },
    setAlert(msg, type = 'warning') {
      this.alert = {
        isShow: true,
        type,
        msg,
      }
    },
  },
}
</script>

<style></style>
