<template>
  <section>
    <div>
      <div class="flex flex-row justify-between">
        <img
          v-if="apotekDetails.logo"
          :src="apotekDetails.logo"
          alt="Logo Apotek"
          class="h-24 mb-2"
        />
        <img
          v-else
          src="https://inatti.id/asset-app/inatti-v2.2-large.png"
          alt="Logo Apotek"
          class="text-center h-24 mb-2"
        />
        <div class="font-semibold text-lg">Patient Medical Record</div>
      </div>
      <div class="font-semibold text-lg">
        {{ apotekDetails.name }}
      </div>
      <div class="text-sm">
        {{ apotekDetails.address ? apotekDetails.address : '-' }}
      </div>
      <hr class="border-t-2 border-black my-3" />
    </div>
    <div class="col-span-2 font-semibold text-lg mb-4 px-3">Data Pasien</div>
    <div class="grid gap-16 grid-cols-2 grid-rows-1 text-md px-3">
      <div class="table w-full font-thin">
        <div class="table-row-group">
          <div class="table-row">
            <div class="table-cell">Nama</div>
            <div class="table-cell pl-4 pr-2">:</div>
            <div class="table-cell capitalize">
              {{ patientDetails.name ? patientDetails.name : '-' }}
            </div>
          </div>
        </div>
        <div class="table-row-group">
          <div class="table-row">
            <div class="table-cell">Alamat</div>
            <div class="table-cell pl-4 pr-2">:</div>
            <div class="table-cell">
              {{
                patientDetails.provinsi ? patientDetails.provinsi.name : '-'
              }}, {{ patientDetails.address }}
            </div>
          </div>
        </div>
        <div class="table-row-group">
          <div class="table-row">
            <div class="table-cell">No. Telp</div>
            <div class="table-cell pl-4 pr-2">:</div>
            <div class="table-cell">
              +{{
                patientDetails.phonenumber ? patientDetails.phonenumber : '-'
              }}
            </div>
          </div>
        </div>
        <div class="table-row-group">
          <div class="table-row">
            <div class="table-cell">Pekerjaan</div>
            <div class="table-cell pl-4 pr-2">:</div>
            <div class="table-cell capitalize">
              {{ patientDetails.job ? patientDetails.job : '-' }}
            </div>
          </div>
        </div>
      </div>
      <div class="table w-full font-thin">
        <div class="table-row-group">
          <div class="table-row">
            <div class="table-cell">Jenis Kelamin</div>
            <div class="table-cell pl-4 pr-2">:</div>
            <div class="table-cell">
              {{ patientDetails.gender === 'lk' ? 'Laki-laki' : 'Perempuan' }}
            </div>
          </div>
        </div>
        <div class="table-row-group">
          <div class="table-row">
            <div class="table-cell">Tanggal Lahir</div>
            <div class="table-cell pl-4 pr-2">:</div>
            <div v-if="patientDetails.datebirth" class="table-cell">
              {{ patientDetails.datebirth }}
            </div>
            <div v-else class="table-cell">-- / -- / ----</div>
          </div>
        </div>
        <div class="table-row-group">
          <div class="table-row">
            <div class="table-cell">Tinggi Badan</div>
            <div class="table-cell pl-4 pr-2">:</div>
            <div class="table-cell">
              {{ patientDetails.height ? patientDetails.height : '-' }} cm
            </div>
          </div>
        </div>
        <div class="table-row-group">
          <div class="table-row">
            <div class="table-cell">Berat Badan</div>
            <div class="table-cell pl-4 pr-2">:</div>
            <div class="table-cell">
              {{ patientDetails.weight ? patientDetails.weight : '-' }} kg
            </div>
          </div>
        </div>
        <div class="table-row-group">
          <div class="table-row">
            <div class="table-cell">Golongan Darah</div>
            <div class="table-cell pl-4 pr-2">:</div>
            <div class="table-cell">
              {{ patientDetails.bloodtype ? patientDetails.bloodtype : '-' }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border-2 border-black mt-4 p-3">
      <div class="w-full font-bold">
        PMR-{{ pmrDetails.id ? pmrDetails.id : '00000' }}
      </div>
      <div class="flex justify-between py-2">
        <div>Kasus : {{ pmrDetails.case ? pmrDetails.case : '-' }}</div>
        <div v-if="pmrDetails.createdAt">
          {{ pmrDetails.createdAt }}
        </div>
        <div v-else>-- / -- / ---- --:--</div>
      </div>
      <div class="pb-2 capitalize">
        Dokter : {{ pmrDetails.docterName ? pmrDetails.docterName : '-' }}
      </div>
      <div class="pb-2 capitalize">
        Konsultan :
        {{ pmrDetails.apoteker ? pmrDetails.apoteker.name : '-' }}
      </div>
      <div class="pb-2 capitalize">
        No. Telp :
        {{ pmrDetails.apoteker ? pmrDetails.apoteker.phonenumber : '-' }}
      </div>
      <div class="pb-2 capitalize">
        <span style="font-weight:300;"> Catatan Konsultasi : {{ pmrDetails.note ? pmrDetails.note : '-' }}</span>
      </div>
      <div>
        <p class="mt-3 font-semibold">Obat dan Terapi</p>
        <div class="border-2 border-black p-2 mt-1">
          <table class="table-auto w-full">
            <thead>
              <tr>
                <th class="text-left font-semibold">Nama Obat</th>
                <th class="text-left font-semibold">Dosis/Jumlah Obat</th>
                <th class="text-left font-semibold">Cara Pakai</th>
              </tr>
            </thead>
            <tbody>
              <tr
                style="vertical-align: top"
                :class="index > 0 ? 'border-t border-black' : ''"
                v-for="(item, index) in obatList"
                :key="item.id"
              >
                <td class="py-1">
                  <tr>
                    <td>{{ item.medicine ? item.medicine.name : '-' }}</td>
                  </tr>
                  <tr v-if="item.notes">
                    <td v-if="item.notes.aturanPakai">
                      Aturan Pakai :
                      {{ item.notes.aturanPakai }}
                    </td>
                  </tr>
                  <tr v-if="item.notes">
                    <td v-if="item.notes.notes">
                      Catatan Obat : {{ item.notes.notes }}
                    </td>
                  </tr>
                </td>
                <td class="py-1">
                  <span> {{ item.amount ? item.amount : '-' }}</span>
                  <span> {{ item.amountUnit ? item.amountUnit : '-' }}</span>
                </td>
                <td class="py-1">
                  <span> {{ item.notes ? item.notes.signa : '-' }}</span>
                  <span> {{ item.notes ? item.notes.caraPakai : '-' }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="flex justify-end w-full mt-6">
      <div class="text-sm w-fit inline-block text-center">
        <img
          v-if="qrCode.image"
          :src="qrCode.image"
          alt="QR-Code"
          class="w-32 inline-block"
        />
        <img
          v-else
          :src="qrCode.image"
          alt="QR-Code"
          class="w-32 inline-block border-2 text-center"
        />
        <div class="block pt-2 text-sm">{{ qrCode.value }}</div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Context } from '@nuxt/types'
import { NuxtAxiosInstance } from '@nuxtjs/axios'
import { id } from 'date-fns/locale'
import { generateQRCode } from 'apps/template-pdf/utils/GenerateQRCode'
import { PmrApi, PatientV2Api } from '@inatti/shared/api-nuxt'

const getPmr = (axios: NuxtAxiosInstance, pmrId: string | any) => {
  return new Promise(async (resolve) => {
    try {
      const resp = await new PmrApi(axios).get(pmrId)
      resolve(resp)
    } catch (err) {
      console.log(`failed fetch get Pmr ${pmrId}`)
      // console.log(err)
      resolve({})
    }
  })
}

const getPatient = (axios: NuxtAxiosInstance, patientId: string | any) => {
  return new Promise(async (resolve) => {
    try {
      const resp = await new PatientV2Api(axios).getPatientDetailsById(
        patientId
      )
      resolve(resp)
    } catch (err) {
      console.log(`failed fetch get patient ${patientId}`)
      // console.log(err)
      resolve({})
    }
  })
}

const DT_FORMAT_COMPLETE = 'dd MMMM yyyy, HH:mm'
const DT_FORMAT_DATE = 'dd MMMM yyyy'

// this to prevent invalid date
const parseDate = (dateFn: any, date: string, format: string) => {
  try {
    if (!date) {
      return '-'
    }
    return dateFn.format(date, format, { locale: id })
  } catch (err) {
    return '-'
  }
}

export default {
  async asyncData(context: Context) {
    const { pmrId, patientId } = context.query
    const baseUrl = context.env.urlBackend
    const qrCode = {
      value: pmrId,
      image: await generateQRCode(`${baseUrl}/patient-pmr/pmr/${pmrId}/pdf`),
    }
    const pmrDetails: any = await getPmr(context.$axios, pmrId)
    const patientDetails: any = await getPatient(context.$axios, patientId)
    let apotekDetails = {} as any
    let obatList = []
    if (Object.keys(pmrDetails).length !== 0) {
      apotekDetails = pmrDetails.apotek
      obatList = pmrDetails.medicines
      pmrDetails.createdAt = parseDate(
        context.$dateFns,
        pmrDetails.createdAt,
        DT_FORMAT_COMPLETE
      )
    }
    if (Object.keys(patientDetails).length !== 0) {
      patientDetails.datebirth = parseDate(
        context.$dateFns,
        patientDetails.datebirth,
        DT_FORMAT_DATE
      )
    }
    return {
      pmrDetails,
      patientDetails,
      apotekDetails,
      obatList,
      qrCode,
    }
  },
}
</script>
