<template>
  <canvas ref="chartCanvas" :style="`max-height:${height}px`"></canvas>
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { ValueChartCfx96 } from '@inatti/shared/api-nuxt'
import { ChartMixins } from '../../../chart/chartMixins'

@Component({})
export default class ResultAnalayzeCfx96ChartAllComponent extends mixins(ChartMixins) {
  @Prop([Object])
  readonly value!: ValueChartCfx96

  @Prop({ default: 500, type: [Number, String] })
  height!: number

  chartdata: {
    labels: any
    datasets: any
  } = {} as any

  options = {
    // performance reason
    parsing: true,
    normalized: true,
    animation: false,
    showLine: true,

    maintainAspectRatio: false,
    interaction: {
      mode: 'index',
      intersect: false,
    },
  }

  colorsPosition = {} as { [position: string]: string }

  $refs!: { chartCanvas: HTMLCanvasElement }

  @Watch('value')
  mapDataToChart() {
    this.chartdata = this.value
    // @ts-ignore
    this.renderChart('line', this.chartdata, this.options)
  }

  mounted() {
    if (this.value) {
      this.mapDataToChart()
    }
  }
}
</script>

<style></style>
