<template>
  <div>
    <div class="text-h5">Hasil CFX95</div>
    <v-col md="3">
      <tool-menu-status
        :value="tableItem.filter((v) => v.isChecked)"
        :session="$route.params.id"
        :lab="$route.query.labId"
        @update="$emit('update')"
      />
    </v-col>
    <v-data-table
      :headers="tableHeader"
      :items="tableItem"
      :expanded.sync="tableExpanded"
      :item-class="getClassRow"
      item-key="no"
      dense
      show-expand
      single-expand
    >
      <template #header.check>
        <v-simple-checkbox v-model="checkboxAll"/>
      </template>
      <template #item.check="{ item }">
        <v-simple-checkbox v-if="itemCheckable(item)" v-model="item.isChecked"></v-simple-checkbox>
      </template>
      <template #item.action="{ item }">
        <v-btn
          v-if="isShowButtonShowGraph(item)"
          :color="isSelectedButtonShowGraph(item) ? 'red' : 'primary'"
          x-small
          text
          @click="showChart(item)"
        >
          <v-icon v-if="!isSelectedButtonShowGraph(item)">mdi-chart-areaspline</v-icon>
          <v-icon v-else> mdi-close-box </v-icon>
        </v-btn>
      </template>
      <template #item.suggestedResult="{ item }">
        <common-result-chip
          v-if="item.suggestedResult"
          v-model="item.suggestedResult"
        />
      </template>
      <template #item.typeSample="{ item }">
        <span>
          {{ getTypeSample(item) }}
        </span>
      </template>
      <template #item.resultTool="{ item }">
        <common-result-chip
          v-if="item.resultTool && item.resultTool.resultSummary"
          v-model="item.resultTool.resultSummary"
        />
      </template>
      <template #item.actionDetail="{ item }">
        <v-icon
          v-if="item.mapValueSample"
          color="#000000"
          class="row-pointer"
          @click="showDetail(item.mapValueSample)"
          >mdi-account-details-outline</v-icon
        >
      </template>
      <template #expanded-item="{ headers, item }">
        <td v-if="item.infoTable" :colspan="headers.length">
          <div>
            <v-data-table
              dense
              :headers="item.infoTable.infoHeaders"
              :items="item.infoTable.infoItems"
            />
          </div>
        </td>
      </template>
    </v-data-table>
    <tool-analyze-cfx96-chart
      v-if="selectedChart"
      :key="chartKeyComponent"
      v-model="selectedChart"
      style="height: 800px"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import {
  Cfx96ResultDetector,
  resultCfx96,
} from '@inatti/mapping-analyze-result'
import {
  normalizeCell,
  SummaryCfx96,
  ValueChartCfx96,
} from '../../../../helper/cfx96/helper'
import { NumberToA1 } from '../../../../helper/table'
import { ReadExtractionDTO, PatientSwabDetailDTO } from '@inatti/shared/api-nuxt'

type TableItemType = {
  idSample: number
  no: number
  mapData: {
    position: string
    name: string
    dateBirth: string
  }
  mapValueSample: any
  resultData: resultCfx96
  resultPosition: string
  mapPosition: string
  infoTable: {
    infoHeaders: any[]
    infoItems: any[]
  }
  resultTool: any
  checkable: boolean
  isChecked: boolean
  isControl: boolean
}

@Component
export default class ResultAnalyzeLc96Component extends Vue {
  created() {}
  @Prop([Object])
  readonly value!: ReadExtractionDTO.Session

  chartKeyComponent = 0

  tableExpanded = []

  tableItem: TableItemType[] = [] as any[]

  tableHeader = [
    { text: '', value: 'check', sortable: false, },
    { text: 'Detail', value: 'data-table-expand' },
    {
      text: 'Nomor',
      value: 'no',
    },
    {
      text: 'Map Position',
      value: 'mapData.position',
    },
    {
      text: "Jenis Sample",
      value: 'typeSample'
    },
    {
      text: 'Map Nama Sample',
      value: 'mapData.name',
    },
    {
      text: 'Map Tanggal Lahir',
      value: 'mapData.dateBirth',
    },
    {
      text: 'Result Position',
      value: 'resultPosition',
    },
    {
      text: 'Result Nama Sample',
      value: 'resultNameSample',
    },
    {
      text: 'Suggested Result',
      value: 'suggestedResult',
    },
    {
      text: 'Final Result',
      value: 'resultTool',
    },
    {
      text: 'Nilai Cq',
      value: 'cqValue',
    },
    {
      text: 'Sample detail',
      value: 'actionDetail',
      align: 'center',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]

  mounted() {
    this.$nextTick(() => {
      this.dataToTable()
    })
  }

  count = 1

  @Watch('value')
  dataToTable() {
    if (!this.value) {
      alert('tidak ada hasil analisa')
    }

    const mapping = this.value.mapping

    const result: resultCfx96 = this.value.result
    // validation
    if (!result.summary || !result.amplification || !result.summary[0]) {
      alert('Hasil data tidak valid')
    }

    const rowTable = []

    const mappedPosition: string[] = []

    let noTable = 1
    // combine all data has mapped and from result
    for (const valueMapping of mapping) {
      const dataRow:TableItemType = {
        idSample: valueMapping.id,
        isControl: valueMapping.isControl,
        no: noTable,
        mapData: {} as any,
        mapValueSample: null as any,
        resultData: {} as any,
        resultPosition: '',
        mapPosition: '',
        infoTable: {} as any,
        resultTool: valueMapping.resultTool,
        // only mapping have id and NOT control
        checkable: !!valueMapping.id && !valueMapping.isControl,
        isChecked: false
      }

      // insert neccesery data to `dataRow`
      if (valueMapping.sample) {
        dataRow.mapValueSample = { ...valueMapping.sample }
      }

      const positionMapData = NumberToA1({
        row: valueMapping.locateRow,
        col: valueMapping.locateColumn,
      })
      dataRow.mapData = {
        position: positionMapData,
        name: valueMapping?.sample?.patient?.name ?? '',
        dateBirth: valueMapping?.sample?.patient?.datebirth ?? '',
      }

      // if data control
      if (!valueMapping.sample) {
        dataRow.mapData.name = `${valueMapping.controlName} (${valueMapping.controlType})`
      }

      dataRow.mapPosition = NumberToA1({
        row: valueMapping.locateRow,
        col: valueMapping.locateColumn,
      })

      // loop to positionResult to see if result available
      for (const positionResult of Object.keys(result.summary['0'])) {
        let normalizePosition = normalizeCell(positionResult)
        if (normalizePosition === dataRow.mapPosition) {
          let generatedDataRow = this.generateDataRow({
            noTable,
            dataResult: result,
            resultPosition: positionResult,
          })

          Object.assign(dataRow, generatedDataRow)

          // label as mapped
          mappedPosition.push(positionResult)
          break
        }
      }

      rowTable.push(dataRow)
      noTable++
    }

    // last, put all result that not mapped
    for (const positionResult of Object.keys(result.summary['0']).filter(
      (v: any) => !mappedPosition.includes(v)
    )) {
      const dataRow = this.generateDataRow({
        noTable,
        dataResult: result,
        resultPosition: positionResult,
      })

      rowTable.push(dataRow)
      noTable++
    }

    this.tableItem = rowTable
  }

  generateDataRow(option: {
    noTable: number
    dataResult: resultCfx96
    resultPosition: string
  }) {
    const dataRow = {} as any
    dataRow.no = option.noTable
    dataRow.resultPosition = option.resultPosition
    dataRow.resultData = option.dataResult.summary['0'][option.resultPosition]

    // create sub data detail as `infoTable`
    if (dataRow.resultData) {
      // delete unused data
      const infoHeaders = [
        {
          text: 'Target',
          value: 'Target',
        },
        {
          text: 'Fluor',
          value: 'Fluor',
        },
        {
          text: 'CT',
          value: 'Cq',
        },
      ]

      const CtValue = (v:any) => v ? parseFloat(v).toFixed(2) : 'No Value'

      dataRow.suggestedResult = Cfx96ResultDetector(dataRow.resultData)
      dataRow.resultData.forEach((summary: any) => {
        if (summary.Cq) {
          dataRow.cqValue = CtValue(summary.Cq)
        }
        if (summary.Sample) {
          dataRow.resultNameSample = dataRow.resultNameSample ?? summary.Sample
        }
      })


      // normalize value
      dataRow.resultData = dataRow.resultData.map((v:any) => ({...v, 'Cq': CtValue(v.Cq)}))
      
      // let infoItems = rawDatas.map((v: any) => Object.values(v))
      dataRow.infoTable = {
        infoHeaders,
        infoItems: dataRow.resultData,
      }
    }
    return dataRow
  }

  showDetail(sampleData: PatientSwabDetailDTO.SwabDetail) {
    this.$router.push(`/sample-swab/${sampleData.id}`)
  }

  get checkboxAll(){
    return this.tableItem.filter((v) => v.checkable).every((v) => v.isChecked)
  }

  set checkboxAll(val){
    this.tableItem.forEach((v) => {v.isChecked = v.checkable ? val : false})
  }

  summaryResult: SummaryCfx96 | null = null
  selectedChart: ValueChartCfx96 | null = null
  selectedChartIndex: number | null = null

  // Plugin snackbar
  $snackbar: any

  showChart(item: TableItemType) {
    if (!this.selectedChartIndex) {
      this.selectedChartIndex = item.no
    } else {
      this.selectedChartIndex = null
      this.selectedChart = null
      return
    }
    if (!this.summaryResult) {
      this.summaryResult = new SummaryCfx96(this.value.result)
    }
    try {
      this.selectedChart = this.summaryResult.rawDataToChart(
        item.resultPosition
      )
      this.chartKeyComponent++
    } catch (error: any) {
      this.$snackbar(error)
    }
  }

  isShowButtonShowGraph(item: TableItemType) {
    if (!this.selectedChartIndex) return true
    return item.no === this.selectedChartIndex
  }

  isSelectedButtonShowGraph(item: TableItemType){
    return item.no === this.selectedChartIndex
  }

  getClassRow(item:TableItemType){
    if(!item.idSample || !item.resultPosition) return 'row__unsync red accent-4 white--text'
    return item.isControl ? 'row__control orange--text accent-4' : 'row__sample indigo--text darken-3'
  }

  getTypeSample(item:TableItemType){
    if(!item.idSample) return 'Tidak Sinkron'
    let type = item.isControl ? 'Control' : 'Sample'
    if(!item.resultPosition){
      type = type + '(Tidak sinkron)'
    }
    return type
  }

  itemCheckable(item:TableItemType){
    return !!item.idSample && !item.isControl
  }
}
</script>

<style>
.row-pointer:hover {
  cursor: pointer;
}
</style>