<template>
  <div>
    <v-data-table
      v-if="tableItems.length"
      :headers="tableHeader"
      :items="tableItems"
      :items-per-page="3"
      :loading="isLoading"
    />
    <tool-analyze-cfx96-chart v-model="graphResult" :heigt="500" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { SummaryCellCfx96, SummaryCfx96 } from '../../../../helper/cfx96/helper'
import { LabAnalyzeResultEntity } from '@inatti/shared/api-nuxt'

@Component
export default class ResultSummaryLC96Component extends Vue {
  @Prop([Object]) readonly value!: LabAnalyzeResultEntity
  tableHeader = [] as any[]
  tableItems = [] as any[]
  isLoading = false

  mounted() {
    this.mapData()
  }

  resultRaw: SummaryCellCfx96 | null = null

  @Watch('value')
  mapData() {
    if (!this.value.sampleSession) {
      return
    }

    this.resultRaw = this.value.resultRaw
    if (!this.resultRaw) return false

    this.mapTable()
    this.mapGraph()
  }

  mapTable() {
    const CtValue = (v:any) => v ? parseFloat(v).toFixed(2) : 'No Value'
    this.tableHeader = [
        {
          text: 'Target',
          value: 'Target',
        },
        {
          text: 'Fluor',
          value: 'Fluor',
        },
        {
          text: 'CT',
          value: 'Cq',
        },
      ]
    let summary = this.resultRaw?.summary ?? []
    summary = summary.map((v:any) => ({...v, 'Cq': CtValue(v.Cq)}))
    this.tableItems = summary
  }

  graphResult: any = null

  mapGraph() {
    let summaryCfx96 = new SummaryCfx96()
    this.graphResult = summaryCfx96.generateChartData(this.resultRaw?.gens)
  }
}
</script>

<style>
</style>