<template>
  <div>
    <v-row justify="center" align-content="start" align-content-md="center" class="h-100vh">
      <v-col lg="7" md="8" cols="12" class="my-5">
        <v-card class="ma-3">
          <v-card-title class="justify-center mb-6 mb-md-5">
            <img src="https://inatti.id/asset-app/inatti-v2.2-large.png" height="70vh" alt="Logo InaTTI" class="mt-6" />
          </v-card-title>
          <v-card-subtitle class="mt-1">
            <div class="primary--text text-center text-h5">Nama Faskes</div>
          </v-card-subtitle>
          <v-card-text>
            <div class="text-center mb-3">
              <v-text-field v-model="form.name" outlined dense hide-details label="Nama Faskes" />
            </div>
            <div>
              <v-btn data-cy="auth-form-login-submit" color="primary" block depressed :loading="isLoading"
                @click="saveApotek">
                Simpan
              </v-btn>

              <v-card-text class="text-caption text-center">
                <UiCommonTncInfoFooter />
              </v-card-text>
            </div>
            <v-alert v-model="alert.isShow" data-cy="auth-form-login-alert" :type="alert.type" class="mt-3" dismissible
              outlined transition="scale-transition">
              {{ alert.msg }}
            </v-alert>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { UiCommonTncInfoFooter } from '@inatti/shared/ui'
import { ApiIdentity } from '@inatti/shared/api-nuxt'

export default {
  auth: false,
  layout: 'blank',
  components: { UiCommonTncInfoFooter },
  data() {
    return {
      token: this.$route.query.token,
      dialog: {
        isShow: false,
        isLoading: false,
      },
      isLoading: false,
      alert: {
        isShow: false,
        type: null,
        msg: null,
      },
      errorMap: {
        RoleUserNotFound: 'Akun anda tidak memiliki akses ke Aplikasi Apoteker',
        PasswordIncorrectException: 'Password yang anda masukkan salah',
        UserNotFoundException: 'User tidak ditemukan',
      },
      form: {
        name: '',
      },
    }
  },
  methods: {
    async saveApotek() {
      let data = {
        name: this.form.name,
      }
      this.isLoading = true
      try {
        let res = await this.identityApi.signupApotek(data)
        await this.setToken(res.access_token, true)
        this.$router.replace('/login/app?from=/information-apotek')
      } catch (error) {
        this.setAlert(error.response?.data?.message ?? 'Terjadi kesalahan', 'error')
        console.error(error)
      } finally {
        this.isLoading = false
      }
    },

    setAlert(msg, type = 'warning') {
      this.alert = {
        isShow: true,
        type,
        msg,
      }
    },

    async setToken(token, withFetchUser = false) {
      await this.$auth.setStrategy('local')
      await this.$auth.strategy.token.set(token)
      await this.$auth.$storage.setUniversal('loggedIn', true)
      if (withFetchUser) {
        await this.$auth.fetchUser()
      }
    },
  },
  mounted() {
    if (!this.$route.query.token) console.log('no token')
    this.setToken(this.token)
    console.log('passed token', this.$route.query.token)
    this.identityApi = new ApiIdentity(this.$axios)
  },
}
</script>

<style>

</style>
