<template>
  <ui-page-transaction-detail :isAdmin="true" />
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { UiPageTransactionDetail } from '@inatti/shared/ui'

@Component({ components: { UiPageTransactionDetail } })
export default class DetailTransaction extends Vue {}
</script>
