<template>
<div>
  <UiPageApotekInformation />
</div>
  <!-- <div>
    <common-toolbar class="mb-8"></common-toolbar>
    <v-card class="pa-2">
      <v-row class="pa-4 px-8">
        <v-col cols="6">
          <h1>{{ apotekName }}</h1>
          <label><strong>Unit Bisnis:</strong> {{ apotekDetail.apotekGroup.name }}</label
          ><br />
          <label><strong>HQ :</strong> {{ apotekDetail.apotekGroup.headOffice.name }}</label>
        </v-col>
        <v-col cols="6" class="d-flex">
          <v-btn
            color="primary"
            class="ml-auto mr-4"
            @click="$router.push(`/apotek/${$route.params.id}/users`)"
            ><v-icon class="mr-4">mdi-account-group</v-icon>Managemen
            Pengguna</v-btn
          >
          <v-btn outlined color="primary" @click="isEditting = !isEditting"
            ><v-icon class="mr-4">mdi-pencil</v-icon>Edit Info</v-btn
          >
        </v-col>
      </v-row>
      <v-row class="px-4 pb-8">
        <v-col cols="12">
          <v-text-field
            v-model="apotekDetail.name"
            :readonly="!isEditting"
            outlined
            dense
            label="Nama Apotek"
            placeholder="Nama Apotek"
            prepend-icon="mdi-greenhouse"
          />
          <v-select
            v-model="apotekDetail.notActiveAt"
            outlined
            :readonly="!isEditting"
            dense
            label="Status Apotek"
            :items="['Aktif', 'Nonaktif']"
            prepend-icon="mdi-list-status"
          ></v-select>
          <v-text-field
            v-model="apotekDetail.description"
            :readonly="!isEditting"
            outlined
            dense
            label="Deskripsi"
            prepend-icon="mdi-tag"
          />
          <v-text-field
            type="number"
            v-model="apotekDetail.phonenumber"
            :readonly="!isEditting"
            outlined
            dense
            label="Nomor Telepon"
            prepend-icon="mdi-phone"
          />
          <v-text-field
            v-model="apotekDetail.address"
            :readonly="!isEditting"
            outlined
            dense
            label="Alamat"
            prepend-icon="mdi-home"
          />
          <div class="d-flex">
            <v-btn
              color="red"
              outlined
              v-if="isEditting"
              class="ml-auto mr-4"
              @click="cancelEdit"
              ><v-icon>mdi-cancel</v-icon> Batal</v-btn
            >
            <v-btn
              color="primary"
              v-if="isEditting"
              @click="confirmEditDialog = !confirmEditDialog"
              ><v-icon>mdi-check</v-icon> Simpan</v-btn
            >
          </div>
        </v-col>
      </v-row>
    </v-card>
    <UiCommonDialog
      :value="confirmEditDialog"
      :width="600"
      :confirmText="'Simpan'"
      :cancelText="'Batal'"
      :title="'Konfirmasi Edit'"
      @btn-save="confirmEdit"
      @btn-cancel="confirmEditDialog = !confirmEditDialog"
    >
      <p>Apakah Anda yakin untuk merubah data apotek?</p>
    </UiCommonDialog>
  </div> -->
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
// import { ApotekApi } from '@inatti/shared/api-nuxt'
import { UiCommonDialog, UiPageApotekInformation } from '@inatti/shared/ui'

@Component({ components: { UiCommonDialog, UiPageApotekInformation } })
export default class ApotekDetail extends Vue {
//   isEditting = false
//   apotekId = this.$route.params.id
//   apotekName = ''
//   apotekDetail = {
//     apotekGroup: {
//       name: '',
//       headOffice: {
//         name: '',
//       },
//     },
//     name: '',
//     description: '',
//     notActiveAt: '',
//     phonenumber: '',
//     address: '',
//   }

//   cancelEdit() {
//     this.isEditting = !this.isEditting
//     this.getDetailApotek()
//   }

//   confirmEditDialog = false
//   async confirmEdit() {
//     let data = {
//       name: this.apotekDetail.name,
//       phonenumber: this.apotekDetail.phonenumber,
//       address: this.apotekDetail.address,
//       description: this.apotekDetail.description,
//     }
//     try {
//       await this.apotekApi.update(this.apotekId, data)
//       this.isEditting = !this.isEditting
//       this.confirmEditDialog = false
//       this.getDetailApotek()
//     } catch (error) {}
//   }

//   async getDetailApotek() {
//     try {
//       let res = await this.apotekApi.getOne(this.apotekId)
//       this.apotekDetail = res
//       this.apotekDetail.notActiveAt = res.notActiveAt ? 'Nonaktif' : 'Aktif'
//       this.apotekName = res.name
//     } catch (error) {
//       console.error(error)
//     }
//   }

//   apotekApi!: ApotekApi
//   mounted() {
//     this.apotekApi = new ApotekApi(this.$axios)
//     this.getDetailApotek()
//   }
}
</script>

<style></style>
