<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Pilih Konsultant </mobile-appbar-title>
    </template>

    <v-card
      color="secondary"
      class="toolbar-filter-area__card mt-toolbar rounded-t-0"
      width="100%"
      elevation="0"
    >
      <v-card-text color="secondary" class="white--text" elevation="0">
        <div class="d-flex justify-space-between flex-row align-center">
          <div class="d-flex justify-center flex-column align-start">
            <span class="text-subtitle-1">{{
              apotek
                ? apotek.apotekGroup
                  ? `Grup ${apotek.apotekGroup.name}`
                  : ''
                : ''
            }}</span>
            <div class="ml-1 d-flex justify-center align-center flex-row mt-1">
              <v-icon dense color="white">mdi-mortar-pestle-plus</v-icon>
              <span class="text-subtitle-1 ml-2">{{
                apotek ? apotek.name : '-'
              }}</span>
            </div>
            <div class="ml-1 d-flex justify-center align-center flex-row mt-1">
              <v-icon dense color="white">mdi-map-marker-outline</v-icon>
              <span class="text-subtitle-2 font-weight-normal ml-2">{{
                apotek ? apotek.address : '-'
              }}</span>
            </div>
          </div>
        </div>
      </v-card-text>
    </v-card>
    <v-col v-if="listConsultant.length === 0 && !isLoading">
      <v-row>
        <v-col cols="12">
          <v-alert dense prominent type="info" class="white--text">
            <div>
              <div>
                Tidak Ditemukan Konsultant Di Apotek
                {{ apotek ? apotek.name : 'Tersebut' }}
              </div>
            </div>
          </v-alert>
        </v-col>
      </v-row>
    </v-col>

    <v-card
      outlined
      :disabled="!item.isActive"
      elevation="0"
      @click="onSelectConsultant(item.id)"
      class="my-2"
      v-for="item in listConsultant"
      :key="item.id"
    >
      <v-card-text>
        <v-row>
          <v-col cols="2">
            <v-img
              height="100"
              max-width="100"
              :src="
                item.photo
                  ? item.photo
                  : require('@/assets/images/media/image_not_available.png')
              "
              aspect-ratio="1"
              class="rounded"
            ></v-img>
          </v-col>
          <v-col cols="10">
            <div
              style="height: 100%"
              class="d-flex justify-center flex-column align-start"
            >
              <span class="text-h6 font-weight-light">{{
                item.name ? item.name : '-'
              }}</span>
              <div class="d-flex mt-1 justify-center flex-row align-center">
                <v-icon :color="item.isActive ? '#79892c' : ''"
                  >mdi-face-agent</v-icon
                >
                <span
                  :style="item.isActive ? 'color: #79892c' : ''"
                  class="text-subtitle-1 ml-1"
                  >{{ item.isActive ? 'Aktif Melayani' : 'Tidak Aktif' }}</span
                >
              </div>
              <div
                class="d-flex w-100p mt-1 justify-space-between flex-row align-center"
              >
                <div class="d-flex justify-center align-center flex-row">
                  <v-icon> mdi-gender-male-female </v-icon>
                  <span>{{
                    item.gender === 'pr' ? 'Perempuan' : 'Laki laki'
                  }}</span>
                </div>
                <div class="d-flex justify-center align-center flex-row">
                  <v-icon v-if="item.birthdate"> mdi-human-male </v-icon>
                  <span
                    >{{
                      item.birthdate
                        ? $utils.calculateAgeByBirthdate(item.birthdate)
                        : '-'
                    }}
                  </span>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <div v-show="isLoading">
      <v-col v-for="(n, i) in 3" :key="i" cols="12">
        <v-card outlined>
          <v-row>
            <v-col cols="3">
              <v-skeleton-loader width="100%" type="image"></v-skeleton-loader>
            </v-col>
            <v-col cols="9" class="d-flex flex-column justify-space-between">
              <v-skeleton-loader
                width="70%"
                type="list-item-two-line"
              ></v-skeleton-loader>
              <v-skeleton-loader
                width="70%"
                type="list-item-three-line"
              ></v-skeleton-loader>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </div>
  </mobile-layout>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import { ApotekApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'

@Component({
  layout: 'blank',
})
export default class ConsultantListComponent extends Vue {
  listConsultant = []
  apotek = null

  apotekApi = new ApotekApi(this.$axios)

  isLoading = false

  async fetchApotek() {
    try {
      this.apotek = await this.apotekApi.getOne(this.$route.params.id)
    } catch (error) {}
  }

  async fetchConsultant() {
    this.isLoading = true
    try {
      this.listConsultant = await this.apotekApi.getConsultant(
        this.$route.params.id
      )
      this.sortConsultant()
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }
  sortConsultant() {
    if (!this.listConsultant) return
    this.listConsultant = this.listConsultant.sort((consultant: any) =>
      consultant.isActive ? -1 : 1
    )
  }

  onSelectConsultant(e: any) {
    this.$store.commit('telefarmasi/setApotek', this.$route.params.id)
    this.$store.commit('telefarmasi/setConsultant', e)
    this.$router.push('/telefarmasi/patient')
  }

  mounted() {
    this.fetchApotek()
    this.fetchConsultant()
  }
}
</script>
