<template>
  <v-row dense>
    <v-col md="12">
      <div class="d-flex justify-center align-start flex-column">
        <span class="text-subtitle-2 font-weight-light"
          >Username / No. Telepon</span
        >
        <span class="text-subtitle-2 font-weight-medium">{{ username }}</span>
      </div>
    </v-col>
    <v-col md="12">
      <div class="d-flex justify-center align-start flex-column">
        <span class="text-subtitle-2 font-weight-light">Nama Akun</span>
        <span class="text-subtitle-2 font-weight-medium">{{ fullname }}</span>
      </div>
    </v-col>
    <v-col md="12">
      <div class="d-flex justify-center align-start flex-column">
        <span class="text-subtitle-2 font-weight-light">Email</span>
        <span class="text-subtitle-2 font-weight-medium">{{ email }}</span>
      </div>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class PagePatientOwnedBy extends Vue {
  @Prop()
  username!: string
  @Prop()
  fullname!: string
  @Prop()
  email!: string
}
</script>
