<template>
  <div>
    <v-row v-if="!readonly && !form.selectedData && !form.ownedBy">
      <v-col>
        <v-autocomplete
          v-model="form.selectedData"
          outlined
          dense
          hide-details
          hide-no-data
          type="number"
          prefix="+62"
          solo
          item-text="fullname"
          return-object
          :loading="form.isLoadingSearch"
          :items="form.listData"
          :search-input.sync="form.search"
          label="Cari Username / No.Telphone"
        >
          <template #prepend-item>
            <div
              style="cursor: pointer; background-color: rgba(0, 0, 0, 0.164)"
              class="w-full justify-center py-3 d-flex align-center"
              @click="$emit('fill-new-suggested-account')"
            >
              <span class="text-subtitle-2 font-weight-light"
                >Tambah User Dengan No. Telphone :
                <span class="font-weight-medium">{{
                  form.search ? `+62${form.search}` : ''
                }}</span>
              </span>
            </div>
          </template>
          <template #item="{ item }">
            <v-list-item-content>
              <v-list-item-title v-text="item.fullname"></v-list-item-title>
              <v-list-item-subtitle
                v-text="item.username"
              ></v-list-item-subtitle>
            </v-list-item-content>
          </template>
          <template #progress>
            <div class="w-full justify-center d-flex align-center">
              <span class="text-subtitle-1 font-weight-normal"
                >Mohon Tunggu...</span
              >
            </div>
          </template>
        </v-autocomplete>
        <div
          v-if="form.isEmpty"
          style="background-color: rgba(255, 0, 0, 0.133)"
          class="w-full d-flex pa-3 mt-2 justify-center flex-column align-start"
        >
          <div>
            <v-icon color="red"> mdi-alert-octagon-outline </v-icon>
            <span class="red--text font-weight-medium text-subtitle-1"
              >Akun tidak ditemukan, periksa ejaan atau buatkan akun pasien
              !</span
            >
          </div>
          <v-btn
            color="secondary"
            class="mt-2"
            small
            @click="$emit('create-new-patient')"
          >
            <v-icon>mdi-plus</v-icon>
            <span> buat akun pasien </span>
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <div class="w-full mt-3">
      <v-alert
        v-if="form.alert.isShow"
        text
        dense
        :type="form.alert.type"
        dismissible
      >
        <div
          style="
            display: block;
            height: auto;
            word-break: break-all;
            word-wrap: break-word;
            white-space: normal;
          "
        >
          {{ form.alert.msg }}
        </div>
      </v-alert>
    </div>
    <v-btn
      v-if="!form.ownedBy && form.currentOwnedBy"
      class="my-3"
      block
      color="primary"
      small
      @click="cancelChangeBindAccount"
    >
      <v-icon>mdi-close</v-icon>
      <span>Batal Ganti Akun</span>
    </v-btn>
    <v-card v-if="form.selectedData" outlined>
      <v-card-text>
        <feature-telefarmasi-database-patient-owned-by-detail
          :username="form.selectedData.username"
          :fullname="form.selectedData.fullname"
          :email="form.selectedData.email"
        />
        <div>
          <v-btn
            class="mt-2"
            color="warning"
            small
            @click="cancelSelectedDataBindAccount"
          >
            <v-icon>mdi-magnify</v-icon>
            <span>Cari Akun Lain</span>
          </v-btn>
          <v-btn
            class="mt-2"
            color="secondary"
            small
            @click="$emit('on-bind-account')"
          >
            <v-icon>mdi-check</v-icon>
            <span>Gunakan Akun Ini</span>
          </v-btn>
        </div>
      </v-card-text>
    </v-card>
    <v-card v-if="form.ownedBy" outlined>
      <v-card-text>
        <feature-telefarmasi-database-patient-owned-by-detail
          :username="form.ownedBy.username"
          :fullname="form.ownedBy.fullname"
          :email="form.ownedBy.email"
        />
        <div>
          <v-btn
            class="mt-2"
            color="secondary"
            v-if="!readonly"
            small
            @click="form.ownedBy = null"
          >
            <v-icon>mdi-swap-horizontal</v-icon>
            <span>Ganti Akun</span>
          </v-btn>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
@Component
export default class PagePatientOwnedByForm extends Vue {
  @Prop()
  value!: any
  @Prop()
  readonly!: boolean

  get form() {
    return this.value
  }

  set form(val: any) {
    this.$emit('input', val)
  }

  cancelChangeBindAccount() {
    this.form.ownedBy = this.form.currentOwnedBy
    this.form.selectedData = null
  }
  cancelSelectedDataBindAccount() {
    this.form.selectedData = null
    this.form.ownedBy = null
  }
}
</script>
