<template>
  <div>
    <v-dialog v-model="dialogConfirm" width="500">
      <template #activator="{ on, attrs }">
        <v-btn
          :color="getColor()"
          :loading="loading"
          dark
          v-bind="attrs"
          v-on="on"
        >
          <slot />
        </v-btn>
      </template>

      <v-card>
        <v-toolbar :color="getColor()" dark class="text-h6 text-center">
          {{ getContent().title }}
        </v-toolbar>
        <v-card-text class="pt-6 text-center text-h6">
          <div class="mb-3">
            <v-icon :color="getColor()" x-large>
              mdi-help-circle-outline
            </v-icon>
          </div>
            {{ getContent().body }}
        </v-card-text>
        <v-card-actions>
          <v-btn outlined color="deep-orange lighten-1" @click="clickCancel()">
            Batal
          </v-btn>
          <v-spacer />
          <v-btn outlined color="grey darken-4" @click="clickOk()">
            {{ getContent().actionText }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";

@Component
export default class CommmonButtonConfirmComponent extends Vue {
  @Prop()
  color!: string;

  @Prop({type: Boolean})
  delete!:boolean;

  @Prop({type: Boolean})
  loading!:boolean;

  dialogConfirm = false

  content:{[key: string]: {title: string, body:string, actionText: string, color:string}} = {
    delete: {
      title: "Konfirmasi Hapus",
      body: "Apakah anda yakin ingin menghapus ini ?",
      color: "red",
      actionText: "Hapus",
    },
    confirm: {
      title: "Konfirmasi",
      body: "Apakah anda yakin ingin melakukan ini ?",
      color: 'primary',
      actionText: 'Ya'
    }
  }

  getContent(){
    if(this.delete){
      return this.content.delete
    }
    
    return this.content.confirm
  }

  getColor(){
    if(this.color) return this.color
    return this.getContent()?.color ?? 'primary'
  }

  created() { }

  clickCancel(){
    this.dialogConfirm = false
    this.$emit('cancel')
  }

  clickOk(){
    this.dialogConfirm = false
    this.$emit('ok')
  }
}
</script>

<style>

</style>