<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <v-chip
        v-if="isAvailable"
        small
        label
        color="purple darken-4"
        class="white--text"
        v-bind="attrs"
        v-on="on"
      >
        NAR TEST ID {{ value }}
      </v-chip>
    </template>
    <span>Sample sudah di kirim ke NAR</span>
  </v-tooltip>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class ChipNarPatientComponent extends Vue {
  // Id Nar
  @Prop()
  value!: string

  get isAvailable() {
    return !!this.value
  }
}
</script>

<style>
</style>