<template>
  <div>
    <v-chip
      v-if="isAvailable"
      small
      label
      :color="historyColor"
      @click="openDialogHistory()"
    >
      {{ historyName }}
    </v-chip>
    <v-dialog v-model="dialogHistory" width="500">
      <v-card :loading="dialogTable.isLoading">
        <v-card-title class="text-h5 grey lighten-2">
          History Sample
        </v-card-title>
        <v-card-text>
          <v-data-table :headers="dialogTable.headers" :items="dialogTable.items">
            <template #item.statusName="{ item }">
              <common-chip-history-sample :value="item"/>
            </template>
            <template #item.createdAt="{ item }">
              {{ item.createdAt | toLocale }}
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

export class SampleHistory {
  id!: number;
  createdAt!: Date;
  status!: {
    id: string
    name: string,
    color: string,
    description: string
  };
  createdBy?: {
    username: string,
    fullname: string
  }
}

@Component
export default class ChipHistorySampleComponent extends Vue {
  // Id Nar
  @Prop()
  value!: SampleHistory[] | SampleHistory;
  @Prop()
  sampleId!: number | string;
  
  // if true, the chip will be clickable and show popup detail
  // but `sampleId` will be required
  @Prop({type: Boolean})
  showDetail!: boolean

  dialogHistory = false
  dialogTable = {
    isLoading: false,
    headers: [
      {
        text: "Status",
        value: "statusName"
      },
      {
        text: "Created By",
        value: "createdBy.username"
      },
      {
        text: "Time",
        value: "createdAt"
      }
    ],
    items: [] as any
  }

  openDialogHistory(){
    if(this.showDetail){
      this.dialogHistory = true
      this.loadHistorySample();
    }
  }

  get latestHistory(): null | SampleHistory{
    if(!this.value) return null;
    if(Array.isArray(this.value)){
      return this.value[this.value.length - 1];
    }
    return this.value;
  }

  get historyName(){
    if(!this.latestHistory) return null;
    return this.latestHistory.status?.name ?? null
  }

  get historyColor(){
    if(!this.latestHistory) return null;
    return this.latestHistory.status?.color ?? null
  }

  get isAvailable() {
    return Array.isArray(this.value) ? this.value.length > 0 : !!this.value
  }

  // plugin snackbar
  $snackbar: any

  async loadHistorySample(){
    if(!this.sampleId){
      this.$snackbar('Sample id is not defined')
      return;
    }
    this.dialogTable.items = [] // reset
    this.dialogTable.isLoading = true
    try{
      let history:SampleHistory[] =  await this.$axios.$get(`/api-lab/sample-swab/history/${this.sampleId}`)
      
      this.dialogTable.items = history
    } finally {
      this.dialogTable.isLoading = false
    }

  }
}
</script>

<style>
</style>