<template>
  <div>
    <v-alert
      v-if="alert.isShow"
      :icon="alert.icon"
      :type="alert.type"
      dismissible
    >
      {{ alert.msg }}
    </v-alert>
    <v-form ref="form">
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="form.name"
            :rules="[formRequire]"
            label="Nama"
            hide-details="auto"
            outlined
            dense
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="form.phonenumber"
            :rules="[formRequire]"
            label="No. Telphone"
            hide-details="auto"
            type="number"
            prefix="+62"
            outlined
            dense
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="form.address"
            outlined
            dense
            label="Alamat"
            :rules="[formRequire]"
            hide-details="auto"
          ></v-textarea>
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="form.description"
            outlined
            dense
            label="Deskripsi"
            hide-details="auto"
          ></v-textarea>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>

<script lang="ts">
import { ApotekGroupApi } from '@inatti/shared/api-nuxt'
import { resolve } from 'path/posix'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
@Component
export default class ApotekGroupForm extends Vue {
  @Prop()
  value!: any
  @Prop()
  alert!: any
  apotekGroupApi = new ApotekGroupApi(this.$axios)
  get form() {
    return this.value
  }

  set form(val: any) {
    this.$emit('input', val)
  }

  $refs: any

  validateForm() {
    return this.$refs.form.validate()
  }
  
  formRequire = (v: any) => !!v || 'Form ini harus di isi'
}
</script>
