<template>
  <div>
    <common-toolbar> Pengaturan Akun </common-toolbar>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col md="6" cols="12">
            <v-alert
              v-if="alertForm.isShow"
              :icon="alertForm.icon"
              :type="alertForm.type"
              dismissible
            >
              {{ alertForm.msg }}
            </v-alert>
            <v-form ref="formInfo" lazy-validation>
              <v-text-field
                v-model="formAccount.fullname"
                v-bind="formBindInfo"
                label="Nama"
              ></v-text-field>
              <v-text-field
                v-model="formAccount.username"
                v-bind="formBindInfo"
                label="Username"
                hint="Hanya username yang digunakan untuk login"
              ></v-text-field>
              <v-text-field
                v-model="formAccount.email"
                v-bind="formBindInfo"
                label="email"
              ></v-text-field>

              <v-btn
                color="primary"
                :loading="isUpdatingInfo"
                @click="!isEditInfo ? editInformation() : saveInformation()"
              >
                {{ isEditInfo ? 'Simpan' : 'Edit Account' }}
              </v-btn>
            </v-form>

            <div class="text-h5 mt-3">Kelola Password</div>
            <v-divider class="my-3" />
            <v-form ref="formPass">
              <div v-if="isEditPass">
                <v-text-field
                  v-model="formPassword.old"
                  v-bind="formBindPass"
                  label="Password lama"
                ></v-text-field>
                <v-text-field
                  v-model="formPassword.new"
                  v-bind="formBindPass"
                  label="Password Baru"
                ></v-text-field>
                <v-text-field
                  v-model="formPassword.confirmNew"
                  v-bind="formBindPassConfirm"
                  label="Password Konfirmasi Password Baru"
                ></v-text-field>
              </div>
              <v-btn
                color="primary"
                :loading="isUpdatingPass"
                @click="!isEditPass ? editPass() : savePass()"
              >
                {{ isEditPass ? 'Simpan Password' : 'Edit password' }}
              </v-btn>
            </v-form>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class DetailUserComponent extends Vue {
  constructor() {
    super()
  }

  alertForm = {
    isShow: false,
    msg: '',
    type: '',
  }

  formBindInfo = {
    disabled: true,
    required: true,
    dense: true,
    outlined: true,
    rules: [(v: any) => !!v || 'Form ini wajib diisi'],
  }

  formBindPass = {
    required: true,
    dense: true,
    outlined: true,
    type: 'password',
    rules: [(v: any) => !!v || 'Form ini wajib diisi'],
  }

  formBindPassConfirm = {
    required: true,
    dense: true,
    outlined: true,
    type: 'password',
    rules: [
      (v: any) => !!v || 'Form ini wajib diisi',
      (v: any) => v === this.formPassword.new || 'Password tidak sama',
    ],
  }

  formAccount = {
    fullname: null,
    username: null,
    email: null,
  }

  formPassword = {
    old: null,
    new: null,
    confirmNew: null,
  }
  isUpdatingInfo = false
  isUpdatingPass = false
  isEditInfo = false
  isEditPass = false

  $refs!: {
    formInfo: any
    formPass: any
  }

  editInformation() {
    this.isEditInfo = true
    this.formBindInfo.disabled = false
  }

  editPass() {
    this.isEditPass = true
  }

  async savePass() {
    let isValid = this.$refs.formPass.validate()
    if (isValid) {
      try {
        this.isUpdatingPass = true
        await this.$axios.$patch('/account/update/password', {
          oldPassword: this.formPassword.old,
          newPassword: this.formPassword.new,
        })
        this.showAlert('success', 'Sukses Update Akun')
        this.isEditPass = false
        this.formPassword = {
          old: null,
          new: null,
          confirmNew: null,
        }
      } catch (error) {
        console.log(error)
        let msg = error.response.data.message
        this.showAlert('warning', 'Gagal Update Akun. ' + msg)
      }
      this.isUpdatingPass = false
    }
  }

  async saveInformation() {
    // save info api
    let isValid = this.$refs.formInfo.validate()
    if (isValid) {
      try {
        this.isUpdatingInfo = true
        await this.$axios.$patch('/account/update', this.formAccount)
        this.showAlert('success', 'Sukses Update Password Akun')
        this.isEditInfo = false
      } catch (error) {
        this.showAlert('warning', 'Gagal Update Password Akun. ' + error)
      }
      this.isUpdatingInfo = false
    }
  }

  showAlert(type: string, msg: string) {
    this.alertForm = {
      isShow: true,
      msg,
      type,
    }
  }

  created() {
    this.formAccount = { ...this.$auth.user } as any
  }
}
</script>

<style>
</style>