<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Pilih Anggota Keluarga </mobile-appbar-title>
    </template>
    <template #side-app-bar-content>
      <v-btn small color="warning" @click="addNewPatient">TAMBAH ANGGOTA</v-btn>
    </template>
    <v-row class="mt-toolbar pb-15">
      <v-col cols="12">
        <core-patient-relation-list v-model="selectedItem" />
      </v-col>
    </v-row>
    <div class="d-flex justify-center align-center" style="width: 100%">
      <div
        class="py-3 px-3"
        style="
          background-color: white;
          position: fixed;
          bottom: 55px;
          width: inherit;
          max-width: inherit;
        "
      >
        <v-btn
          v-if="!selectedItem"
          style="width: 100%"
          color="warning"
          @click="addNewPatient"
          outlined
        >
          Tambah Anggota Keluarga
        </v-btn>
        <v-btn v-else style="width: 100%" color="warning" @click="onSubmit">
          Pilih Anggota
        </v-btn>
      </div>
    </div>
  </mobile-layout>
</template>
<script>
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  layout: 'blank',
  auth: true,
})
export default class Patient extends Vue {
  selectedItem = null
  onSubmit() {
    const isFromApotek = this.$route.query
    this.$store.commit('telefarmasi/setPatient', this.selectedItem)
    const urlRoute =
      '/telefarmasi/preview' + (isFromApotek ? '?from-apoteker=true' : '')
    console.log('urlRoute', isFromApotek)
    this.$router.push(urlRoute)
  }
  addNewPatient() {
    this.$router.push('/telefarmasi/patient/new')
  }
}
</script>
