<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Buat Pasien Baru </mobile-appbar-title>
    </template>
    <v-row no-gutters denze style="margin-top: 72px">
      <v-col cols="12">
        <v-alert
          v-if="alert.isShow"
          :icon="alert.icon"
          :type="alert.type"
          dismissible
        >
          {{ alert.msg }}
        </v-alert>
      </v-col>
      <v-col cols="12">
        <core-patient-form ref="validateForm" v-model="form" />
      </v-col>
      <v-col cols="12">
        <v-btn
          color="warning"
          block
          class="subtitle-1 text-capitalize font-weight-light"
          @click="onSubmit"
          >Simpan</v-btn
        >
      </v-col>
    </v-row>
  </mobile-layout>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { PatientV2Api } from '@inatti/shared/api-nuxt'

@Component({
  layout: 'blank',
})
export default class TelefarmasiPatientNew extends Vue {
  form = {
    nik: null,
    type: null,
    name: null,
    placebirth: null,
    datebirth: null,
    gender: null,
    phonenumber: null,
    email: null,
    bloodtype: null,
    provinsi: null,
    kabupaten: null,
    kecamatan: null,
    kelurahan: null,
    domisiliProvinsi: null,
    domisiliKabupaten: null,
    domisiliKecamatan: null,
    domisiliKelurahan: null,
    address: null,
    addressDomisili: null,
    citizenship: null,
    height: null,
    weight: null,
    job: null,
  }
  $refs: any
  patientV2Api: PatientV2Api

  mounted() {
    this.patientV2Api = new PatientV2Api(this.$axios)
  }

  async onSubmit() {
    if (!this.$refs.validateForm.validateForm()) return
    try {
      const resp = await this.patientV2Api.createByUser(this.form)
      this.$store.commit('telefarmasi/setPatient', resp.id)
      this.$router.push('/telefarmasi/preview')
    } catch (error: any) {
      this.showAlert(
        'warning',
        'Gagal Update Informasi Apotek. ' + error.response?.data?.message
      )
    }
  }

  alert = {
    isShow: false,
    msg: '',
    type: '',
  }

  showAlert(type: any, msg: any) {
    this.alert = {
      type,
      isShow: true,
      msg,
    }
  }
}
</script>
