<template>
  <!-- (component sepaket) - component ini di gunakan untuk import file dari sistem sekaligus preview  -->
  <div class="d-flex justify-center align-center flex-row">
    <v-file-input
      prepend-inner-icon="mdi-paperclip"
      v-if="!form.file"
      v-model="form.file"
      :label="label"
      outlined
      :clearable="false"
      prepend-icon=""
      dense
    ></v-file-input>
    <v-text-field
      v-if="form.file"
      outlined
      clearable
      dense
      :value="form.name"
      @click:clear="onReset"
      class="mb-4"
      prepend-inner-icon="mdi-paperclip"
      :label="label"
      hide-details="auto"
    ></v-text-field>
    <v-btn
      class="ml-2"
      color="primary"
      small
      v-if="form.file"
      @click="previewDocs"
      >Lihat Dokumen</v-btn
    >
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
@Component
export default class FormFileAttachment extends Vue {
  @Prop({ type: [Object], required: false })
  value!: object
  @Prop({ type: [String] })
  label!: string

  get form(): any {
    return this.value
  }
  set form(val) {
    this.$emit('input', val)
  }

  onReset() {
    this.form = {
      file: null,
      name: null,
      url: null,
    }
  }

  previewDocs() {
    if (!this.form.url) {
      const objectURL = URL.createObjectURL(this.form.file)
      window.open(objectURL, '_blank')
      return
    }
    window.open(this.form.url, '_blank')
  }
}
</script>
