<template>
<div>
    <div v-if="dataUser.readOnly">
      Hasil Analisa :
      <common-result-chip v-model="dataUser.status" />
    </div>
    <v-select
      v-else
      v-model="dataUser.status"
      class="mt-3"
      outlined
      :readonly="dataUser.readOnly"
      :items="itemsStatusSample"
      label="Hasil Analisa"
      item-text="name"
      item-value="slug"
    />
    <v-checkbox v-model="dataUser.asFinalResult" label="Jadikan sebagai hasil final" />
    <v-textarea
      v-model="dataUser.notes"
      :readonly="dataUser.readOnly"
      class="style-textarea"
      outlined
      name="input-7-4"
      label="Catatan"
    />
    <div v-if="!dataUser.readOnly" class="d-flex justify-space-between">
      <div>
        <v-btn
          color="#8BC34A"
          elevation="2"
          :loading="isLoading"
          dark
          @click="$emit('btn-submit')"
        >
          <v-icon color="#ffff" size="24">mdi-check</v-icon>
          Simpan
        </v-btn>
      </div>
      <div>
        <v-btn
          color="#FF5252"
          elevation="2"
          dark
          @click="$emit('btn-cancel')"
        >
          <v-icon color="#ffff" size="24">mdi-close</v-icon>
          Batalkan
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class FormValidation extends Vue {
  @Prop({ type: [Object] }) value!: Object
  @Prop(Boolean) isLoading!: Boolean
  @Prop(Boolean) isData!: Boolean

  itemsStatusSample = [
    {
      id: 1,
      name: 'Positif',
      slug: 'positif',
    },
    {
      id: 2,
      name: 'Negatif',
      slug: 'negatif',
    },
    {
      id: 3,
      name: 'Prosumetive Positif',
      slug: 'presumtifPositif',
    },
    {
      id: 4,
      name: 'Prosumetive Negatif',
      slug: 'presumtifNegatif',
    },
  ]

  get dataUser(): Object {
    return this.value
  }

  set dataUser(val) {
    this.$emit('input', val)
  }
}
</script>
