<template>
  <div>
    <div class="text-h5 mt-6">Kemenkes NAR (New All Record)</div>
    <v-divider class="my-3" />
    <div v-if="value.patient">
      <div v-if="value.patient.narOrangId" class="d-flex justify-space-between">
        <div>
          <common-chip-nar-patient v-model="value.patient.narOrangId" />
          <common-chip-nar-test v-model="value.narTestcovidId" />
        </div>
        <div v-if="!value.narSendat">
          <v-btn color="primary" @click="dialogForm = true">
            Kirim ke NAR
          </v-btn>
        </div>
        <div v-else>Dikirim pada tanggal {{ value.narSendat | toLocale }}</div>
      </div>
      <div v-else>
        <v-alert v-show="true" type="warning" dismissible prominent>
          <v-row align="center">
            <v-col class="grow">
              Pasien belum teregister ke Nar. Hubungi rujukan terkait untuk
              daftarkan pasien ke NAR
            </v-col>
          </v-row>
        </v-alert>
      </div>
    </div>
    <v-dialog v-model="dialogForm" max-width="600">
      <v-card>
        <v-toolbar color="primary" dark> Formulir NAR </v-toolbar>
        <v-card-text class="pt-3">
          <v-select
            v-model="formNar.jenisTestId"
            :items="selectForm.jenisTest"
            label="Jenis Test"
            v-bind="defaultSelectProp"
          ></v-select>
          <v-select
            v-model="formNar.jenisPemeriksaanId"
            :items="selectForm.jenisPemeriksaan[formNar.jenisTestId]"
            label="Jenis Pemeriksaan"
            v-bind="defaultSelectProp"
          />
          <v-select
            v-model="formNar.tujuanPemeriksaan"
            :items="selectForm.tujuanPemeriksaan"
            label="Tujuan Pemeriksaan"
            v-bind="defaultSelectProp"
          />
          <v-select
            v-model="formNar.hasil"
            :items="selectForm.hasil"
            label="Hasil"
            v-bind="defaultSelectProp"
          />
          <v-alert
            v-model="alert.isShow"
            :type="alert.type"
            dismissible
            dense
            outlined
          >
            {{ alert.msg }}
          </v-alert>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn color="primary" :loading="isLoading" @click="sendToNAR">
            Kirim
          </v-btn>
          <v-btn color="danger" @click="dialogForm = false"> Batal </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { PatientSwabDetailDTO } from '@inatti/shared/api-nuxt'

@Component
export default class PageSampleDataNarStatusComponent extends Vue {
  @Prop({ type: Object })
  value!: PatientSwabDetailDTO.SwabDetail

  dialogForm = false
  isLoading = false

  defaultSelectProp = {
    'item-text': 'name',
    'item-value': 'id',
    outlined: true,
  }

  selectForm = {
    jenisTest: [
      {
        id: 1,
        name: 'PCR',
      },
      {
        id: 2,
        name: 'Rapid test',
      },
      {
        id: 3,
        name: 'TCM',
      },
    ],
    jenisPemeriksaan: {
      1: [
        { id: 1, name: 'Swab Nasofaring' },
        { id: 2, name: 'Swab Orofaring' },
        { id: 3, name: 'Sputum' },
        { id: 4, name: 'Bal Fluid' },
        { id: 5, name: 'Cairan Spirasi Trakhea' },
        { id: 6, name: 'Serum' },
        { id: 7, name: 'Lainnya' },
        { id: 8, name: 'Swab Naso-Orofaring' },
      ],
      2: [
        { id: 9, name: 'Antigen' },
        { id: 10, name: 'Genose' },
      ],
      3: [{ id: 11, name: 'TCM' }],
    },
    tujuanPemeriksaan: [
      { id: 1, name: 'Diagnosis Suspek' },
      { id: 2, name: 'Diagnosis Kontak Erat' },
      { id: 3, name: 'Skrining Pelaku Perjalanan' },
      { id: 4, name: 'Skrining Alasan Medis' },
      { id: 5, name: 'Skrining Alasan Lainnya' },
      { id: 6, name: 'Follow Up' },
    ],
    hasil: [
      { id: 'P', name: 'Positive' },
      { id: 'N', name: 'Negative' },
      { id: 'I', name: 'Inconclusive' },
      { id: 'F', name: 'Invalid' },
    ],
  }

  formNar = {
    swabdetailId: 0, // automate fill
    jenisTestId: 0,
    jenisPemeriksaanId: 0,
    tujuanPemeriksaan: 0,
    hasil: '',
  }

  @Watch('dialogForm')
  updateDialogForm(val: boolean) {
    if (val) {
      // update hasil based result
      const resultPublish = this.value.resultSwab?.toString() ?? ''
      if (/Positi(f|ve)/i.test(resultPublish)) {
        this.formNar.hasil = 'P'
      }
      if (/negati(f|ve)/i.test(resultPublish)) {
        this.formNar.hasil = 'N'
      }
    }
  }

  async sendToNAR() {
    this.isLoading = true
    this.formNar.swabdetailId = this.value.id
    try {
      let idLab = this.$store.state.labStore.labId
      await this.$axios.$patch(
        '/api-lab/kemenkes-nar/send?idlab=' + idLab,
        this.formNar
      )
      this.dialogForm = false
      this.$emit('change')
    } catch (error: any) {
      this.setAlert(error.response)
    }
    this.isLoading = false
  }

  alert = {
    isShow: false,
    type: 'warning' as null | string,
    msg: null as null | string,
  }
  setAlert(msg: string, type: string = 'warning') {
    this.alert = {
      isShow: true,
      type,
      msg,
    }
  }
}
</script>

<style>
</style>