<template>
  <div>
    <div class="text-h5 mt-6">Publish Hasil</div>
    <v-divider class="my-3" />
    <div class="d-flex justify-space-between">
      <div v-if="value.resultSwab">
        <common-result-chip v-model="value.resultSwab" />
        {{ value.resultSentAt | toLocale }}
        <v-sheet class="mt-3">
          {{ `Rujukan: ${value.refTarget.name}` }}
        </v-sheet>
        <v-sheet class="mt-2">
          <v-spacer></v-spacer>
          <v-btn x-small color="success" :loading="loadingDownloadPdfRef" @click="downloadPdfRef()">
            <v-icon size="12px" class="pr-2">mdi-download</v-icon>
            Download PDF
          </v-btn>
        </v-sheet>
      </div>
      <div class="text-right">
        <v-btn class="mb-2" color="primary" :loading="isLoading" @click="publishResult()">
          Publish Hasil
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { PatientSwabDetailDTO } from '@inatti/shared/api-nuxt'

@Component
export default class SampleDataResultFinalComponent extends Vue {
  @Prop({ type: Object })
  value!: PatientSwabDetailDTO.SwabDetail

  isLoading = false
  loadingDownloadPdfRef = false

  async publishResult() {
    let sampleId = this.value.id
    // @ts-ignore
    this.isLoading = true
    try {
      let labId = this.$store.state.labStore.labId
      await this.$axios.$post(
        '/api-lab/analyze/result-final/send/' + sampleId + '?idlab=' + labId
      )

      this.$emit('change')
    } catch (error) {
      console.log(error)
    }
    // @ts-ignore
    this.isLoading = false
  }

  async downloadPdfRef() {
    this.loadingDownloadPdfRef = true

    const { idsample } = this.$route.params
    const labId = this.$store.state.labStore.labId

    try {
      const download = await this.$axios.get(`/api-lab/report-pdf/download-sertifikat`, {
        params: {
          idlab: labId,
          idswab: idsample,
          formatRef: true
        },
        responseType: 'blob'
      })
      const url = window.URL.createObjectURL(new Blob([download.data]));
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', `PDF Rujukan ${idsample}.pdf`);
      document.body.appendChild(link);
      link.click();
      link.remove();
    } finally {
      this.loadingDownloadPdfRef = false
    }
  }
}
</script>

<style>
</style>
