<template>
  <div>
    <common-toolbar no-back>
      List User Admin
      <template #control>
        <v-btn
          class="px-3 py-2 primary"
          depressed
          @click="showDialogCreateUser"
        >
          <v-icon color="#fff" class="mr-2">mdi-plus</v-icon>
          Tambah User
        </v-btn>
      </template>
    </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <div>
          <div class="d-flex justify-space-between">
            <div></div>
          </div>
          <v-data-table :items="user" :headers="headers">
            <template #[`item.actions`]="{ item }">
              <v-btn color="red" icon @click="confirmDelete(item)">
                <v-icon>mdi-delete-outline</v-icon>
              </v-btn>
              <v-btn text small :to="`/user/detail/${item.userId.id}`">
                Detail
              </v-btn>
            </template>
          </v-data-table>
        </div>
      </v-card-text>
    </v-card>
    <ui-common-dialog
      v-model="userDialog.model"
      :width="500"
      :confirm-text="userDialog.confirmText"
      :cancel-text="userDialog.cancelText"
      :loading="userDialog.loading"
      :title="userDialog.title"
      confirm-icon="mdi-content-save"
      @btn-save="onConfirmDialogUser()"
      @btn-cancel="onDialogAddUserFalse"
    >
      <ui-page-management-user-form
        v-if="userDialog.model"
        ref="formUser"
        v-model="userForm"
        :is-form-add="userDialog.isFormAdd"
        :alert="alert"
        :user-roles="listRolesSelect"
        :checkAvailableUser="true"
      />
    </ui-common-dialog>
    <dialog-delete-confirm
      v-model="dialogDelete"
      :loading="isLoadingDelete"
      @ok="confirmedDelete"
    />
  </div>
</template>

<script lang="ts">
import { AdminApi } from '@inatti/shared/api-nuxt'
import { Watch } from 'nuxt-property-decorator'
import Vue from 'vue'
import Component from 'vue-class-component'
import { UiCommonDialog, UiPageManagementUserForm } from '@inatti/shared/ui'

interface UserForm {
  fullname: string
  username: string
  email: string
  password?: string
  passwordConfirm?: string
  roleId: number
  reset: () => void
}

@Component({ components: { UiCommonDialog, UiPageManagementUserForm } })
export default class UserAdminManagement extends Vue {
  adminApi!: AdminApi
  created() {
    this.adminApi = new AdminApi(this.$axios)
    this.fetchUser()
    this.fetchListRoles()
  }
  isLoading = true
  $form: any
  $refs: any

  userDialog = {
    title: '',
    confirmText: '',
    cancelText: '',
    model: false,
    loading: false,
    isFormAdd: false,
  }

  userForm: UserForm = {
    fullname: '',
    username: '',
    email: '',
    password: '',
    passwordConfirm: '',
    roleId: 0,
    reset: () => {
      this.$form.reset(this.$refs.formUser.$refs, 'form')
    },
  }

  @Watch('userDialog.model')
  onDialogAddUserFalse(val) {
    if (val) return
    this.userForm.reset()
    this.alert.isShow = false
    this.userDialog.model = false
  }

  showDialogCreateUser() {
    this.userDialog.title = 'Tambah User'
    this.userDialog.confirmText = 'Tambah'
    this.userDialog.cancelText = 'Batal'
    this.userDialog.model = true
    this.userDialog.isFormAdd = true
  }

  async onConfirmDialogUser() {
    if (!this.$refs.formUser.validateForm() || !this.$refs.formUser.isDirty())
      return false
    this.userDialog.loading = true
    try {
      await this.adminApi.createRoleAssignedToAdminUser(this.userForm)
      this.userForm.reset()
      this.userDialog.model = false
      this.fetchUser()
    } catch (error: any) {
      const errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlert(errData.message, 'error')
    } finally {
      this.userDialog.loading = false
    }
  }

  user = []
  headers = [
    {
      text: 'Username',
      value: 'userId.username',
    },
    {
      text: 'Fullname',
      value: 'userId.fullname',
    },
    {
      text: 'Role',
      value: 'roleId.name',
    },
    {
      text: 'Aksi',
      value: 'actions',
    },
  ]
  async fetchUser() {
    try {
      this.user = await this.adminApi.getAdminUsers()
    } catch (err) {}
  }

  listRoles = []
  listRolesSelect: any = []
  async fetchListRoles() {
    try {
      this.isLoading = true
      this.listRoles = await this.adminApi.getAdminUserRoles()
      this.listRolesSelect = this.listRoles.map((v: any) => ({
        id: v.id,
        name: v.name,
      }))
    } finally {
      this.isLoading = false
    }
  }

  alert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }
  setAlert(msg: string, type: string = 'warning') {
    this.alert = {
      isShow: true,
      type,
      msg,
    }
  }

  dialogDelete = false
  selectedDelete: any = null
  isLoadingDelete = false
  confirmDelete(item: any) {
    this.dialogDelete = true
    this.selectedDelete = item
  }

  async confirmedDelete() {
    if (!this.selectedDelete) return false
    this.isLoadingDelete = true
    const idItem = this.selectedDelete.id
    try {
      await this.adminApi.deleteRoleAssignedByAdminUserId(idItem)
      this.fetchUser()
    } finally {
      this.isLoadingDelete = false
      this.dialogDelete = false
    }
  }
}
</script>

<style></style>
