<template>
  <v-card :to="routeTo">
    <v-card-text>
      <div class="d-flex justify-space-between align-center">
        <div>
          <v-sheet min-height="46">
            {{ title }}
          </v-sheet>
          <div class="text-h5 font-weight-bold">
            {{ value }}
          </div>
        </div>
        <div>
          <v-icon size="36">
            {{ icon }}
          </v-icon>
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    value: {
      type: [String, Number],
      default: '',
    },
    icon: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: 'primary',
    },
    routeTo: {
      type: String,
      default: '/',
    },
  },
};
</script>
