<template>
  <ui-container-layout
    brand-image="https://inatti.id/asset-app/inatti-v2.2-large.png"
    brand-title="Unit Bisnis"
  >
    <template #sidebar-menu>
      <ui-container-menu-navigation :menu-items="menus" />
    </template>
    <template #appbar-sidetool>
      <ui-container-menu-account
        :current-branch="selectedApotekGrup ? selectedApotekGrup.name : ''"
        title-action-change-branch="Pindah Unit Bisnis"
      />
    </template>
  </ui-container-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { ApotekGroupApi } from '@inatti/shared/api-nuxt'

@Component
export default class DefaultLayout extends Vue {
  selectedApotekGrup = null
  apotekGroupApi!: ApotekGroupApi
  menus = [
    {
      child: [
        {
          icon: 'mdi-apps',
          title: 'Dashboard',
          to: '/',
          allow: 'dashboard',
        },
      ],
    },
    {
      title: 'Management',
      child: [
        {
          icon: 'mdi-information',
          title: 'Pengguna Grup',
          to: '/management-user',
          allow: 'management-user',
        },
        {
          icon: 'mdi-information',
          title: 'Unit Bisnis',
          to: '/apotek-grup',
          allow: 'manage:apotek-group',
        },
      ],
    },
    {
      title: 'Apotek',
      child: [
        {
          icon: 'mdi-mortar-pestle-plus',
          title: 'Manajemen Apotek',
          to: '/management/apotek',
          allow: 'management-apotek',
        },
      ],
    },
    {
      title: 'Management Obat',
      child: [
        {
          icon: 'mdi-pill',
          title: 'Item Obat',
          to: '/medicine',
          allow: 'medicine',
        },
      ],
    },
    {
      title: 'Konsultasi dan Pasien',
      child: [
        {
          icon: 'mdi-table-account',
          title: 'Database Pasien',
          to: '/patient',
          allow: '',
        },
        {
          icon: 'mdi-table-large',
          title: 'Database PMR',
          to: '/pmr',
          allow: '',
        },
      ],
    },
    {
      title: 'Akun',
      child: [
        {
          icon: 'mdi-account-cog',
          title: 'Pengaturan Akun',
          to: '/account/setting',
        },
      ],
    },
  ]
  async fetchApotekGrupName() {
    try {
      this.selectedApotekGrup = await this.apotekGroupApi.getOne(
        this.$route.query.apotekId as string
      )
    } catch (error) {}
  }
  mounted() {
    this.apotekGroupApi = new ApotekGroupApi(this.$axios)
    this.fetchApotekGrupName()
  }
}
</script>

<style>
.text-style {
  position: relative;
  top: 2.5px;
  font-size: 1.5rem;
  color: #7a892a;
}
</style>
