<template>
  <v-chip v-bind="chipOption" class="white--text text-center" :small="small">
    {{ status ? StatusVaksinMapping[status].text : null }}
  </v-chip>
</template>

<script lang="ts">
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { VChip } from 'vuetify/lib';
import { StatusVaksinEnum, StatusVaksinMapping } from '@inatti/shared/api-nuxt';

@Component
export default class ChipStatusVaksin extends VChip {
  @Prop()
  status: StatusVaksinEnum;

  @Prop({ type: Boolean, default: false })
  small!: boolean;

  StatusVaksinMapping = StatusVaksinMapping;

  get chipOption() {
    return {
      ...this.$props, // default
      ...this.StatusVaksinMapping[this.status],
    };
  }
}
</script>

<style></style>
