<template>
  <div class="text-center">
    <v-dialog v-model="dialogsModel" :width="width" :persistent="persistent" v-bind="$attrs">
      <v-card :loading="loading">
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>
        <v-divider />

        <v-card-text class="mt-3">
          <slot />
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions class="d-flex justify-end">
          <v-btn :color="cancelColor" outlined @click="$emit('btn-cancel')">
            {{ cancelText }}
          </v-btn>

          <v-btn :color="confirmColor" :loading="confirmLoading" @click="$emit('btn-save')">
            {{ confirmText }}
          </v-btn>

        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false,
    },
    persistent: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: '',
    },
    width: {
      type: Number
    },
    loading: {
      type: Boolean,
      default: false,
    },
    confirmColor: {
      type: String,
      default: 'primary'
    },
    confirmText: {
      type: String,
      default: 'Save',
    },
    confirmLoading: {
      type: Boolean,
      default: false
    },
    cancelText: {
      type: String,
      default: 'Close',
    },
    cancelColor: {
      type: String,
      default: 'primary'
    },
  },
  computed: {
    dialogsModel: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      },
    },
  },
}
</script>
