<template>
  <div>
    <v-overlay absolute :value="disable"> </v-overlay>
    <l-map
      ref="lmap"
      :center="map.center"
      :options="map.options"
      :zoom="16"
      style="height: 400px; z-index: 0"
      @drag="mapDrag($event)"
    >
      <l-tile-layer :url="map.tileLayer.url"></l-tile-layer>
      <l-control position="topleft">
        <v-autocomplete
          :disabled="disable"
          :items="map.search.items"
          :loading="map.search.loading"
          :search-input.sync="map.search.s"
          background-color="white"
          clearable
          dense
          hide-no-data
          item-text="label"
          label="Search"
          return-object
          solo
          @change="mapSearchChange($event)"
        >
        </v-autocomplete>
      </l-control>
      <l-marker :lat-lng="[map.marker.latitude, map.marker.longitude]">
      </l-marker>
      <l-control-zoom position="bottomright"></l-control-zoom>
      <l-control position="bottomright">
        <v-btn x-small fab @click="mapGpsClick()">
          <v-icon>mdi-crosshairs-gps</v-icon>
        </v-btn>
      </l-control>
    </l-map>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      default: '',
      type: String,
    },
    disable: {
      default: false,
      type: Boolean,
    },
  },
  data() {
    return {
      dialog: false,
      map: {
        center: [0, 0],
        marker: {
          latitude: 0,
          longitude: 0,
        },
        options: {
          zoomControl: false,
        },
        search: {
          debounce: null,
          items: [],
          loading: false,
          s: null,
        },
        tileLayer: {
          url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        },
      },
      text: {
        value: this.value,
      },
    }
  },
  computed: {
    latLong() {
      return [this.map.marker.latitude, this.map.marker.longitude].join(',')
    },
  },
  watch: {
    latLong(value) {
      this.$emit('input', value)
    },
    'map.search.s'(value) {
      this.map.search.loading = true
      clearTimeout(this.map.search.debounce)
      this.map.search.debounce = setTimeout(() => {
        this.mapSearchItemsFetch(value)
        this.map.search.loading = false
      }, 500)
    },
    value(value) {
      const values = value ? value.split(',') : []
      const latitude = parseFloat(values[0]) || 0
      const longitude = parseFloat(values[1]) || 0
      this.map.center = [latitude, longitude]
      this.map.marker.latitude = latitude
      this.map.marker.longitude = longitude
      this.text.value = value
    },
  },
  mounted() {
    if (this.value) {
      const values = this.value.split(',')
      const latitude = parseFloat(values[0]) || 0
      const longitude = parseFloat(values[1]) || 0
      this.map.center = [latitude, longitude]
      this.map.marker.latitude = latitude
      this.map.marker.longitude = longitude
    }
  },
  methods: {
    mapDrag($event) {
      const center = $event.target.getCenter()
      this.map.marker.latitude = center.lat
      this.map.marker.longitude = center.lng
    },
    mapGpsClick() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
          this.map.center = [
            position.coords.latitude,
            position.coords.longitude,
          ]
          this.map.marker.latitude = position.coords.latitude
          this.map.marker.longitude = position.coords.longitude
        })
      } else {
        // eslint-disable-next-line no-console
        console.log('Geolocation is not supported by this browser.')
      }
    },
    mapSearchChange(payload) {
      if (payload) {
        this.map.center = [payload.y, payload.x]
        this.map.marker.latitude = payload.y
        this.map.marker.longitude = payload.x
      }
    },
    async mapSearchItemsFetch(value) {
      let results = []

      if (value) {
        results = await this.$leafletGeosearch.provider.search({
          query: value,
        })
      }
      this.map.search.items = results
    },
    textChange(value) {
      this.$emit('input', value)
    },
    async textPrependInnerClick() {
      this.dialog = true
      await this.$nextTick()
      this.$refs.lmap.mapObject.invalidateSize()
    },
  },
}
</script>
