<template>
  <div>
    <div>
      Dengan menggunakan aplikasi InaTTI maka anda sejutu dengan
      <a href="https://www.inatti.id/inatti-user/kebijakanInaTTI.html" target="_blank" class="deep-orange--text"> kebijakan aplikasi </a>kami
    </div>

    <div class="text-caption text-center">
      Perlu bantuan? Kunjungi
      <a
        href="https://inatti.id/help/"
        target="_blank"
        class="primary--text text-decoration-none"
        >Pusan Bantuan</a
      >
      kami
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class InfoTncFooter extends Vue {

}
</script>

<style></style>
