<template>
  <div>
    <v-form ref="form">
      <v-text-field
        v-model="form.fullname"
        :rules="[formRequire]"
        name="fullname"
        outlined
        dense
        label="Nama Lengkap"
        clearable
      />
      <v-text-field
        v-model="form.username"
        dense
        :rules="[formRequire]"
        name="username"
        outlined
        label="Username"
        persistent-hint
        clearable
      />
      <v-text-field
        v-model="form.email"
        name="email"
        :rules="emailFieldRule"
        outlined
        dense
        label="Email"
        clearable
      />
      <v-select
        v-model="form.roleId"
        :rules="[formRequire]"
        label="Role"
        outlined
        dense
        :items="roleUser"
        item-text="name"
        item-value="id"
        :loading="isLoadingRole"
      />
      <div v-if="!isFormAdd">
        <v-btn
          v-if="!isEditPassword"
          depressed
          color="primary"
          @click="isEditPassword = true"
          >Ganti Password</v-btn
        >
        <div v-else>
          <v-btn depressed class="mb-5" @click="isEditPassword = false">
            Ganti Password</v-btn
          >
          <v-text-field
            v-model="form.password"
            dense
            :rules="[formRequire, formPassword.minChar]"
            name="password"
            outlined
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            label="Password"
            persistent-hint
            @click:append="showPassword = !showPassword"
          />
          <v-text-field
            v-model="form.passwordConfirm"
            dense
            :rules="[
              formRequire,
              formPassword.minChar,
              form.passwordConfirm === form.password ||
                'Password dan Konfirmasi password tidak sama',
            ]"
            name="password"
            outlined
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            label="Konfirmasi Password"
            persistent-hint
            @click:append="showPassword = !showPassword"
          />
        </div>
      </div>
      <div v-else>
        <v-text-field
          v-model="form.password"
          dense
          :rules="[formRequire, formPassword.minChar]"
          name="password"
          outlined
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Password"
          persistent-hint
          @click:append="showPassword = !showPassword"
        />
        <v-text-field
          v-model="form.passwordConfirm"
          dense
          :rules="[
            formRequire,
            formPassword.minChar,
            form.passwordConfirm === form.password ||
              'Password dan Konfirmasi password tidak sama',
          ]"
          name="password"
          outlined
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          label="Konfirmasi Password"
          persistent-hint
          @click:append="showPassword = !showPassword"
        />
      </div>
    </v-form>
    <v-alert
      v-model="alert.isShow"
      :type="alert.type"
      dismissible
      dense
      outlined
    >
      {{ alert.msg }}
    </v-alert>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { ApotekUserApi } from '@inatti/shared/api-nuxt'

@Component
export default class Form extends Vue {
  @Prop({ type: [Object] })
  value!: object

  @Prop({ type: Object })
  alert!: object

  @Prop({ type: Boolean, default: false })
  isFormAdd!: boolean

  apotekUserApi!: ApotekUserApi
  created() {
    const apotekId = this.$route.query.apotekId as string
    this.apotekUserApi = new ApotekUserApi(this.$axios, apotekId)
    this.fetchRole()
  }

  showPassword: Boolean = false
  confirmPassword: Boolean = false
  isEditPassword: Boolean = false

  get form(): any {
    return this.value
  }

  set form(val) {
    this.$emit('input', val)
  }

  roleUser = [] as any[]
  isLoadingRole = false
  async fetchRole() {
    try {
      this.isLoadingRole = true
      this.roleUser = await this.apotekUserApi.getRoles()
    } catch (error) {
      console.log(error)
    }
    this.isLoadingRole = false
  }

  $utils: any
  formRequire = (v: any) => !!v || 'Form ini harus di isi'
  formPassword = {
    minChar: (v: any) => (v && v.length > 7) || 'Password minimal 8 karakter',
  }

  emailFieldRule = [
    (v: any) => this.$utils.emailFormatRule(v) || 'Email Format Tidak Valid',
  ]

  $refs = {
    form: {} as any,
  }

  validateForm() {
    return this.$refs.form.validate()
  }

  oldValue = {}

  appendOldValue(payload: object) {
    this.oldValue = payload
  }

  isDirty() {
    if (JSON.stringify(this.oldValue) === JSON.stringify(this.value)) {
      return false
    }
    return true
  }
}
</script>
