<template>
  <ui-container-layout
    brand-image="https://inatti.id/asset-app/inatti-v2.2-large.png"
    brand-title="Rujukan"
  >
    <template #sidebar-menu>
      <ui-container-menu-navigation :menu-items="menus" />
    </template>
    <template #appbar-sidetool>
      <ui-container-menu-account
        :current-branch="
          selectedRef ? (selectedRef.refId ? selectedRef.refId.name : '') : ''
        "
        title-action-change-branch="Pindah Rujukan"
      />
    </template>
  </ui-container-layout>
</template>

<script>
import { ReferenceApi } from '@inatti/shared/api-nuxt'
import { refId } from 'apps/admin-frontend/middleware/authRef'
export default {
  data() {
    return {
      selectedRef: null,
      menus: [
        {
          child: [
            {
              icon: 'mdi-apps',
              title: 'Dashboard',
              to: '/',
            },
          ],
        },
        {
          child: [
            {
              icon: 'mdi-account-group-outline',
              title: 'User Management',
              to: '/user-management/',
              allow: 'user',
            },
          ],
        },
        {
          allow: 'ref_setting',
          child: [
            {
              icon: 'mdi-apps',
              title: 'Pengaturan',
              child: [
                {
                  title: 'Pengaturan Informasi',
                  to: '/setting/information',
                },
                {
                  title: 'Payment Gateway',
                  to: '/setting/payment-gateway',
                },
                {
                  title: 'Produk Rujukan',
                  to: '/setting/product',
                },
                {
                  title: 'Shift Kerja Rujukan',
                  to: '/setting/shift',
                },
                {
                  title: 'Template Sertifikat',
                  to: '/setting/template-sertificate',
                },
                {
                  title: 'Quick Form',
                  to: '/setting/quick-form',
                },
              ],
            },
          ],
        },
        {
          child: [
            {
              title: 'Pasien Master Data',
              icon: 'mdi-seat-individual-suite',
              to: '/pasien/list',
              allow: 'patient',
            },
          ],
        },
        {
          title: 'Test Covid 19',
          icon: 'mdi-apps',
          allow: 'patient',
          child: [
            {
              icon: 'mdi-cash-register',
              title: 'Transaksi',
              to: '/transaction/list',
              allow: 'transaction',
            },
            {
              icon: 'mdi-apps',
              title: 'Test PCR',
              allow: 'swab',
              child: [
                {
                  title: 'Master Pasien',
                  to: '/swab/pcr/pasien',
                },
                {
                  title: 'Present',
                  to: '/swab/pcr/checkin',
                },
                {
                  title: 'Swab',
                  to: '/swab/pcr/swab',
                },
                {
                  title: 'Kirim Ke LAB',
                  to: '/swab/pcr/to-lab',
                },
                {
                  title: 'Notifikasi Swab',
                  to: '/swab/pcr/notification',
                },
              ],
            },
            {
              icon: 'mdi-apps',
              title: 'Test Antigen',
              allow: 'swab',
              child: [
                {
                  title: 'Master Pasien',
                  to: '/swab/antigen/pasien',
                },
                {
                  title: 'Present',
                  to: '/swab/antigen/checkin',
                },
                {
                  title: 'Swab',
                  to: '/swab/antigen/swab',
                },
                {
                  title: 'Result',
                  to: '/swab/antigen/set-result',
                },
                {
                  title: 'Notifikasi Swab',
                  to: '/swab/antigen/notification',
                },
                {
                  title: 'Kirim ke NAR',
                  to: '/swab/antigen/ready-nar',
                },
              ],
            },
          ],
        },
        {
          title: 'Vaksinasi',
          icon: 'mdi-apps',
          allow: 'vaksinasi',
          child: [
            {
              icon: 'mdi-apps',
              title: 'Vaksinasi',
              allow: '',
              child: [
                {
                  title: 'Master Pasien',
                  to: '/vaksinasi/patient',
                },
                {
                  title: 'Present',
                  to: '/vaksinasi/checkin',
                },
                {
                  title: 'Suntik Vaksin',
                  to: '/vaksinasi/vaccine',
                },
                {
                  title: 'Notifikasi Pasien',
                  to: '/vaksinasi/notification',
                },
              ],
            },
          ],
        },
        {
          title: 'Report',
          allow: 'report',
          child: [
            {
              icon: 'mdi-apps',
              title: 'Laporan Produk',
              to: '/dashboard/product',
              allow: 'report',
            },
          ],
        },
        {
          title: 'Akun Pengguna',
          child: [
            {
              icon: 'mdi-chart-bubble',
              title: 'Account Management',
              to: '/account/setting',
            },
          ],
        },
      ],
    }
  },
  methods: {
    async fetchReferenceName() {
      const idref = this.$route.query.refId
      if (!idref) {
        this.$router.replace('/login/app')
        return
      }
      this.selectedRef = await new ReferenceApi(this.$axios).getRoleUser(idref)
      if (!this.selectedRef) this.selectedRef = {}
    },
  },
  created() {
    this.fetchReferenceName()
  },
}
</script>

<style>
.text-style {
  position: relative;
  top: 2.5px;
  font-size: 1.5rem;
  color: #7a892a;
}
</style>
