<template>
  <feature-telefarmasi-apotek-medicine-inventory-list
    ref="coreMedicineInventoryList"
    :custom-query="query"
  >
    <template #toolbar-control>
      <v-btn color="primary" outlined class="mr-3" to="apotek/upload" :disabled="isApotekActive">
        <v-icon left> mdi-upload </v-icon> Unggah Obat
      </v-btn>
      <v-btn color="secondary" @click="form.addObat.isOpenDialog = true" :disabled="isApotekActive">
        <v-icon left> mdi-plus </v-icon> Tambah Obat
      </v-btn>
    </template>

    <template #form-dialog-add-item>
      <ui-common-dialog
        ref="formDialogAddItem"
        v-model="form.addObat.isOpenDialog"
        title="Tambah Obat"
        :width="540"
        :loading="form.addObat.isLoading"
        persistent
        confirm-icon="mdi-plus"
        confirm-text="Tambah"
        cancel-text="Batal"
        @btn-save="addObat()"
        @btn-cancel="cancelDialog('addObat', 'addObatForm')"
      >
        <v-form ref="addObatForm" lazy-validation>
          <v-alert type="error" text :value="form.addObat.isError">
            Gagal menambah obat.
          </v-alert>
          <v-text-field
            v-model="form.addObat.data.name"
            label="Nama Obat"
            :rules="[rules.required]"
            outlined
            dense
            @keydown.enter.prevent="addObat()"
          ></v-text-field>
        </v-form>
      </ui-common-dialog>
    </template>
  </feature-telefarmasi-apotek-medicine-inventory-list>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { MedicineApotekBasedApi } from '@inatti/shared/api-nuxt'
import { UiCommonDialog } from '@inatti/shared/ui'

@Component({ components: { UiCommonDialog } })
export default class ObatApotekComponent extends Vue {
  query = {
    'filter[apotek]': [],
  }
  apotekId = ''

  form = {
    addObat: {
      isOpenDialog: false,
      isLoading: false,
      isError: false,
      data: {
        name: '',
      },
    },
  }

  medicineApotekBasedApi!: MedicineApotekBasedApi

  created() {
    const apotekId = this.$route.query.apotekId
    this.query['filter[apotek]'].push(apotekId)
    this.medicineApotekBasedApi = new MedicineApotekBasedApi(
      this.$axios,
      apotekId
    )
  }

  get apotekStatus() {
    return this.$store.state.apotekerStore.status
  }

  get isApotekActive() {
    return !this.apotekStatus.isApotekActice.status
  }

  rules = {
    required: (v: any) => !!v || 'Form ini harus diisi',
  }

  $form: any
  $refs: any
  async addObat() {
    if (!this.$form.validate(this.$refs, 'addObatForm')) return
    try {
      this.form.addObat.isError = false
      this.form.addObat.isLoading = true
      await this.medicineApotekBasedApi.create(this.form.addObat.data.name)
      this.form.addObat.isOpenDialog = false
      this.$form.reset(this.$refs, 'addObatForm')
      this.$refs.coreMedicineInventoryList.refetchData()
    } catch (error) {
      this.form.addObat.isError = true
    } finally {
      this.form.addObat.isLoading = false
    }
  }

  cancelDialog(data, refs) {
    this.form[data].isOpenDialog = false
    this.$form.reset(this.$refs, refs)
  }
}
</script>
