<template>
  <feature-telefarmasi-apotek-medicine-inventory-upload />
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class ObatPublicComponent extends Vue {}
</script>
