<template>
  <div>
    <common-toolbar>
      Pengaturan Produk
      <template #control>
        <v-btn
          color="primary"
          class="px-3 py-2"
          depressed
          @click="showDialogAdd()"
        >
          <v-icon color="#fff" class="mr-2">mdi-plus</v-icon>
          Tambah Produk
        </v-btn>
      </template>
    </common-toolbar>
    <v-card :loading="listLoading">
      <v-card-text>
        <v-data-table
          :search="tableSearch"
          :headers="tableHeader"
          :items="listProduct"
        >
          <template #top>
            <v-text-field
              v-model="tableSearch"
              label="Cari"
              class="mx-4"
            ></v-text-field>
          </template>
          <template #[`item.action`]="{ item }">
            <v-btn icon @click="previewProduct(item)">
              <v-icon> mdi-eye </v-icon>
            </v-btn>
            <v-btn icon @click="confirmDelete(item)">
              <v-icon> mdi-delete </v-icon>
            </v-btn>
          </template>
          <template #[`item.price`]="{ item }">
            {{
              item.price.toLocaleString('id-ID', {
                style: 'currency',
                currency: 'IDR',
              })
            }}
          </template>
          <template #[`item.methodPayments`]="{ item }">
            {{ printMethod(item.methodPayments) }}
          </template>
        </v-data-table>
        <ui-common-dialog
          v-model="dialogForm"
          :title="dialogTitle"
          :loading="dialogLoading"
          @btn-save="saveProduct"
          @btn-cancel="dialogForm = !dialogForm"
        >
          <page-setting-form-product-reference
            ref="formProduct"
            v-model="productForm"
            :alert="alertForm"
          />
        </ui-common-dialog>
        <div class="text-center">
          <v-dialog v-model="dialogDelete" width="290">
            <v-card>
              <v-card-title class="text-h5"> Hapus Produk ? </v-card-title>

              <v-card-text> Anda yakin akan menghapus Produk ini? </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#4CAF50" text @click="closeDeleteDialog">
                  Batal
                </v-btn>
                <v-btn
                  :loading="deleteLoading"
                  color="#FF5252"
                  text
                  @click="deleteProduct"
                >
                  Ya
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { InfoReferenceDTO, ReferenceProductApi } from '@inatti/shared/api-nuxt'
import { UiCommonDialog } from '@inatti/shared/ui'

type productField = {
  productName: string
  productPrice: number
  productId: number
  description?: string
  refId: string
  refProductId: number
  methodPayments?: any
}

@Component({ components: { UiCommonDialog } })
export default class Product extends Vue {
  tableSearch = ''
  dialogForm = false
  dialogLoading = false
  tableHeader = [
    {
      text: 'Produk',
      value: 'name',
    },
    {
      text: 'Deskripsi',
      value: 'description',
    },
    {
      text: 'Tipe Produk',
      value: 'product.name',
    },
    {
      text: 'Harga',
      value: 'price',
    },
    {
      text: 'Metode Pembayaran',
      value: 'methodPayments',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]
  alertForm = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }
  productForm: productField = {
    productName: '',
    productPrice: 0,
    productId: 0,
    description: '',
    refId: '',
    refProductId: 0,
    methodPayments: [],
  }

  $refs = {
    formProduct: {} as any,
  }

  referenceProductApi = new ReferenceProductApi(this.$axios)

  printMethod(arr: string | string[]) {
    const TOTAL_METHOD = 2
    if (Array.isArray(arr)) {
      if (arr.length < 1 || arr.length === TOTAL_METHOD) {
        return 'Semua Metode'
      }
      return arr.join(',')
    }
    if (!arr) {
      return 'Semua Metode'
    }
    return arr
  }

  async saveProduct() {
    if (!this.$refs.formProduct.validateForm()) return false

    if (!this.$refs.formProduct.validateForm()) return false

    this.productForm.methodPayments = this.$refs.formProduct.selectedMethod

    if (this.selectedProduct) return this.updateProduct()
    this.dialogLoading = true
    try {
      await this.referenceProductApi.add(this.productForm)
      this.dialogForm = false
      this.resetForm()
      this.fetchProduct()
    } catch (error: any) {
      let errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlert(errData.message, 'error')
    }
    this.dialogLoading = false
  }

  async updateProduct() {
    const refId = this.$route.query.refId as string
    if (!this.selectedProduct) return false
    this.dialogLoading = true
    try {
      await this.referenceProductApi.update(
        refId,
        this.selectedProduct.id,
        this.productForm
      )
      this.dialogForm = false
      this.resetForm()
      this.fetchProduct()
    } catch (error: any) {
      let errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlert(errData.message, 'error')
    }
    this.dialogLoading = false
  }

  dialogTitle = 'Tambah Produk'

  selectedProduct: InfoReferenceDTO.Product | null = null
  previewProduct(product: InfoReferenceDTO.Product) {
    this.dialogTitle = 'Lihat Produk'
    this.dialogForm = true
    this.productForm.productName = product.name
    this.productForm.description = product.description
    this.productForm.productPrice = product.price
    this.productForm.productId = product.product.id
    this.productForm.refId = product.ref.id
    this.productForm.refProductId = product.id
    this.productForm.methodPayments = product.methodPayments ?? []
    this.selectedProduct = product
    setTimeout(() => {
      this.$refs.formProduct.appendOldValue(
        JSON.parse(JSON.stringify(this.productForm))
      )
    }, 500)
  }

  resetForm() {
    this.dialogTitle = 'Tambah Produk'
    this.selectedProduct = null
    this.productForm = {
      productName: '',
      description: '',
      productPrice: 0,
      productId: 0,
      refId: '',
      refProductId: 0,
    }
  }
  showDialogAdd() {
    this.dialogForm = true
    this.resetForm()
    const refId: any = this.$route.query.refId
    this.productForm.refId = refId
    setTimeout(() => {
      this.$refs.formProduct.appendOldValue(
        JSON.parse(JSON.stringify(this.productForm))
      )
    }, 500)
  }

  setAlert(msg: string, type: string = 'warning'): void {
    this.alertForm = {
      isShow: true,
      type,
      msg,
    }
  }
  listLoading = false
  listProduct: InfoReferenceDTO.Product[] = []
  dialogDelete = false

  async fetchProduct() {
    const refId = this.$route.query.refId as string
    try {
      this.listLoading = true
      const result = await this.referenceProductApi.get(refId)
      this.listProduct = result
    } catch (error: any) {
      // eslint-disable-next-line no-console
      console.log(error)
    }
    this.listLoading = false
  }
  selectedProductToDelete: null | InfoReferenceDTO.Product = null
  confirmDelete(item: InfoReferenceDTO.Product) {
    this.selectedProductToDelete = item
    this.dialogDelete = true
  }
  $snackbar!: (arg: string) => void
  deleteLoading = false

  @Watch('dialogDelete')
  resetDelete(newValue?: boolean) {
    if (!newValue) {
      this.selectedProductToDelete = null
    }
  }
  closeDeleteDialog() {
    this.dialogDelete = false
    this.resetDelete()
  }
  async deleteProduct() {
    const refId = this.$route.query.refId as string
    this.deleteLoading = true
    try {
      if (!this.selectedProductToDelete) {
        this.$snackbar('Pilih Produk terlebih dahulu')
        return
      }
      await this.referenceProductApi.delete(
        refId,
        this.selectedProductToDelete.id
      )
      this.closeDeleteDialog()
      this.fetchProduct()
    } catch (error: any) {
      this.$snackbar(error)
    } finally {
      this.deleteLoading = false
    }
  }
  created() {
    this.fetchProduct()
  }
  @Watch('dialogForm')
  onChangeDialogForm(val: boolean) {
    if (val === false) {
      this.resetForm()
    }
  }
}
</script>
