<template>
  <div>
    <common-toolbar no-back> Informasi Faskes </common-toolbar>
    <UiPageApotekInformation />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { UiPageApotekInformation } from '@inatti/shared/ui'

@Component({
  components: { UiPageApotekInformation },
})
export default class InformationApotek extends Vue { }
</script>
