<template>
  <div>
    <common-toolbar no-back>
      Pengguna Grup
      <template #control>
        <v-btn
          color="secondary"
          class="px-3 py-2"
          depressed
          @click="showDialogCreateUser"
        >
          <v-icon color="#fff" class="mr-2">mdi-plus</v-icon>
          Tambah Pengguna
        </v-btn>
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <v-data-table :headers="table.headers" :items="listUsers">
          <template #[`item.actions`]="{ item }">
            <v-btn icon small @click="onPreviewUser(item)">
              <v-icon small> mdi-eye </v-icon>
            </v-btn>
            <v-btn icon small @click="showUserDialogDelete(item)">
              <v-icon small> mdi-trash-can-outline </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <dialog-delete-confirm
      v-model="userDialogDelete.model"
      :loading="userDialogDelete.loading"
      title="Pengguna"
      @delete="onDeleteUser()"
      @cancel="closeUserDialogDelete()"
    >
      Anda yakin ingin menghapus pengguna ini?
    </dialog-delete-confirm>
    <ui-common-dialog
      v-model="userDialog.model"
      :width="500"
      :confirm-text="userDialog.confirmText"
      :cancel-text="userDialog.cancelText"
      :confirm-icon="userDialog.confirmIcon"
      :loading="userDialog.loading"
      :title="userDialog.title"
      @btn-save="onConfirmDialogUser()"
      @btn-cancel="onCancelDialogUser()"
    >
      <ui-page-management-user-form
        v-if="userDialog.model"
        ref="formUser"
        v-model="userForm"
        :is-form-add="userDialog.isFormAdd"
        :user-roles="userRoles"
        :alert="userFormAlert"
      />
    </ui-common-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { ApotekGroupUserApi } from '@inatti/shared/api-nuxt'
import { UiCommonDialog, UiPageManagementUserForm } from '@inatti/shared/ui'

interface UserForm {
  fullname: string
  username: string
  email: string
  password?: string
  passwordConfirm?: string
  roleId: number
  reset: () => void
}

@Component({ components: { UiCommonDialog, UiPageManagementUserForm }})
export default class ManagementUser extends Vue {
  table = {
    headers: [
      { text: 'Nama Lengkap', value: 'userId.fullname' },
      { text: 'Username', value: 'userId.username' },
      { text: 'Role', value: 'roleId.name' },
      { text: 'Email', value: 'userId.email' },
      { text: 'Aksi', value: 'actions' },
    ],
  }

  listUsers = []
  async fetchUser() {
    try {
      const resp = await this.apotekGroupUserApi.getUsers()
      this.listUsers = resp
    } catch (error) {}
  }

  userDialog = {
    title: '',
    confirmText: '',
    cancelText: '',
    model: false,
    loading: false,
    isFormAdd: false,
    confirmIcon: false as string | boolean,
  }

  closeDialogUser() {
    this.userDialog.model = false
    this.selectedUserId = ''
  }

  userDialogDelete = {
    loading: false,
    model: false,
  }

  closeUserDialogDelete() {
    this.userDialogDelete.model = false
    this.selectedUserId = ''
  }

  showUserDialogDelete(item: any) {
    this.userDialogDelete.model = true
    this.selectedUserId = item.id
  }

  $form: any
  selectedUserId = ''
  userForm: UserForm = {
    fullname: '',
    username: '',
    email: '',
    password: '',
    roleId: 0,
    reset: () => {
      this.$form.reset(this.$refs.formUser.$refs, 'form')
    },
  }

  userFormAlert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }

  setAlertUserForm(msg: string, type: string = 'warning'): void {
    this.userFormAlert = {
      ...this.userFormAlert,
      isShow: true,
      type,
      msg,
    }
  }

  $refs: any
  async onConfirmDialogUser() {
    if (!this.$refs.formUser.validateForm() || !this.$refs.formUser.isDirty())
      return false
    if (this.selectedUserId) return this.updateUser()
    this.userDialog.loading = true
    try {
      await this.apotekGroupUserApi.addUser(this.userForm)
      this.closeDialogUser()
      this.userForm.reset()
      this.fetchUser()
    } catch (error: any) {
      const errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlertUserForm(errData.message, 'error')
    } finally {
      this.userDialog.loading = false
    }
  }

  async updateUser() {
    if (!this.selectedUserId) return false
    this.userDialog.loading = true
    try {
      if (!this.userDialog.isFormAdd && !this.userForm.password) {
        delete this.userForm.password
        delete this.userForm.passwordConfirm
      }
      await this.apotekGroupUserApi.updateUser(
        this.selectedUserId,
        this.userForm
      )
      this.closeDialogUser()
      this.userForm.reset()
      this.fetchUser()
    } catch (error: any) {
      const errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlertUserForm(errData.message, 'error')
    } finally {
      this.userDialog.loading = false
    }
  }

  onCancelDialogUser() {
    this.closeDialogUser()
    this.userForm.reset()
    this.userFormAlert.isShow = false
  }

  showDialogCreateUser() {
    this.userDialog.title = 'Tambah Pengguna'
    this.userDialog.confirmText = 'Tambah'
    this.userDialog.cancelText = 'Batal'
    this.userDialog.confirmIcon = 'mdi-plus'
    this.userDialog.model = true
    this.userDialog.isFormAdd = true
  }

  onPreviewUser(user: any) {
    this.userForm.fullname = user.userId?.fullname
    this.userForm.username = user.userId?.username
    this.userForm.email = user.userId?.email
    this.userForm.roleId = user.roleId?.id
    this.selectedUserId = user.id
    this.userDialog.title = 'Rincian Pengguna'
    this.userDialog.confirmText = 'Simpan'
    this.userDialog.cancelText = 'Tutup'
    this.userDialog.confirmIcon = 'mdi-content-save'
    this.userDialog.model = true
    this.userDialog.isFormAdd = false

    this.$nextTick(() => {
      this.$refs.formUser.appendOldValue(
        JSON.parse(JSON.stringify(this.userForm))
      )
    })
  }

  async onDeleteUser() {
    if (!this.selectedUserId) return false
    this.userDialogDelete.loading = true
    try {
      await this.apotekGroupUserApi.deleteUser(+this.selectedUserId)
      this.closeUserDialogDelete()
      this.fetchUser()
    } catch (error: any) {
    } finally {
      this.userDialogDelete.loading = false
    }
  }

  userRoles = []
  async fetchUserRoles() {
    this.userRoles = await this.apotekGroupUserApi.getRoles()
  }

  apotekGroupUserApi!: ApotekGroupUserApi
  mounted() {
    const groupApotek = this.$route.query.apotekId as string
    this.apotekGroupUserApi = new ApotekGroupUserApi(this.$axios, groupApotek)
    this.fetchUser()
    this.fetchUserRoles()
  }
}
</script>
