<template>
  <div>
    <common-toolbar>Dashboard Transaksi </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination-filter
          ref="tablePagination"
          v-model="dataResult"
          :isShowFilter="false"
          search
          search-hint="Cari"
          @change="fetchTransaction"
        >
          <div
            class="d-flex py-4 justify-space-between align-center"
            style="width: 100%"
          >
            <v-btn
              color="success"
              small
              :loading="exportIsLoading"
              @click="exportCsv"
            >
              <v-icon left> mdi-microsoft-excel </v-icon>
              Download
            </v-btn>
            <div class="d-flex">
              <div>
                <v-select
                  v-model="selectedFilterStatusOrder"
                  :items="statusOrderListOptions"
                  item-text="name"
                  item-value="value"
                  dense
                  hide-details
                  label="Filter Status Pembayaran"
                ></v-select>
              </div>
              <v-chip-group v-model="selectedFilter" multiple color="primary">
                <v-chip
                  v-for="(item, i) in listFilter"
                  :key="i"
                  filter
                  :value="item"
                  >{{ item }}</v-chip
                >
              </v-chip-group>
            </div>
          </div>
          <v-data-table
            :headers="transactionTableHeader"
            :items="transactionItems"
            :loading="isLoading"
            item-key="data.transactionId"
            :single-select="false"
            hide-default-footer
            disable-pagination
            :item-class="itemClassTable"
          >
            <!-- #region Header v-data-table -->
            <template #[`header.column1`]="{ header }">
              <span class="text-caption font-weight-bold">{{
                header.text
              }}</span>
              <br />
              <span class="text-caption font-weight-medium">Invoice</span>
            </template>
            <template #[`header.column2`]="{ header }">
              <span class="text-caption font-weight-bold">{{
                header.text
              }}</span>
              <br />
              <span class="text-caption font-weight-medium">Produk</span>
            </template>
            <template #[`header.column3`]="{ header }">
              <span class="text-caption font-weight-bold">{{
                header.text
              }}</span>
              <br />
              <span class="text-caption font-weight-medium">Metode</span>
            </template>
            <template #[`header.column4`]="{ header }">
              <span class="text-caption font-weight-bold">{{
                header.text
              }}</span>
            </template>
            <template #[`header.createdAt`]="{ header }">
              <span class="text-caption font-weight-bold">{{
                header.text
              }}</span>
              <br />
              <span class="text-caption font-weight-medium">Checkout</span>
            </template>
            <template #[`header.column5`]="{ header }">
              <span class="text-caption font-weight-bold">{{
                header.text
              }}</span>
            </template>
            <template #[`header.action`]="{ header }">
              <span class="text-caption font-weight-bold">{{
                header.text
              }}</span>
            </template>
            <!-- #endregion Header v-data-table -->
            <!-- #region Item v-data-table -->
            <template #[`item.column1`]="{ item }">
              <div>
                <strong class="text-caption font-weight-bold">
                  {{ item.column1.fullname }}
                </strong>
              </div>
              <div>
                <span class="text-caption"> {{ item.column1.invId }}</span>
              </div>
            </template>
            <template #[`item.column2`]="{ item }">
              <div>
                <span class="text-caption">
                  {{ item.column2.testTypeName }}
                </span>
              </div>
              <div>
                <span class="text-caption">
                  {{ item.column2.productName }}
                </span>
                <span class="text-caption">
                  ( {{ statusOrderList.get(item.column2.statusOrder) }} )
                </span>
              </div>
            </template>
            <template #[`item.column3`]="{ item }">
              <div>
                <strong class="text-caption font-weight-bold">
                  {{
                    item.column3.totalPrice.toLocaleString('id-ID', {
                      style: 'currency',
                      currency: 'IDR',
                    })
                  }}
                </strong>
              </div>
              <div>
                <span class="text-caption">
                  <v-chip
                    :color="methodColorChip[item.column3.method]"
                    class="white--text"
                    small
                  >
                    {{ item.column3.method }}
                  </v-chip>
                  {{ item.column3.paymentChannelName }}
                </span>
              </div>
            </template>
            <template #[`item.column4`]="{ item }">
              <div>
                <common-chip-payment
                  v-if="item.column4.statusOrder"
                  small
                  :status="item.column4.statusOrder"
                />
              </div>
            </template>
            <template #[`item.createdAt`]="{ item }">
              <div>
                <span class="text-caption">
                  {{ item.createdAt }}
                </span>
              </div>
            </template>
            <template #[`item.column5`]="{ item }">
              <div>
                <span class="text-caption">
                  {{ item.column5.totalOrder }} Pasien
                </span>
              </div>
            </template>
            <template #[`item.action`]="{ item }">
              <v-btn icon :to="`/transaction/` + item.data.transactionId">
                <v-icon> mdi-eye </v-icon>
              </v-btn>
            </template>
            <!-- #endregion Item v-data-table -->
          </v-data-table>
        </ui-table-pagination-filter>
      </v-card-text>
    </v-card>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import {
  MethodPaymentEnum,
  StatusOrderEnum,
  TransactionDetailDTO,
  StatusOrderMapping,
  StatusPaymentMapping,
} from '@inatti/shared/api-nuxt'
import { DataTableHeader } from 'vuetify/types/index'
import { UiTablePaginationFilter } from '@inatti/shared/ui'
import { ReferenceProductApi } from '@inatti/shared/api-nuxt'

interface TransactionTableData {
  data: {
    transactionId: string
  }
  column1: {
    fullname?: string | null
    invId: string
  }
  column2: {
    testTypeName: string
    productName: string
    statusOrder?: StatusOrderEnum
  }
  column3: {
    totalPrice: number
    method: MethodPaymentEnum | string
    paymentChannelName: string
  }
  column4: {
    statusOrder?: StatusOrderEnum
  }
  createdAt: string
  column5: {
    totalOrder: number
  }
  methodCash?: any
}

@Component({ components: { UiTablePaginationFilter } })
export default class ListTransaction extends Vue {
  listTransaction = [] as TransactionDetailDTO.TransactionDetail[]
  transactionTableHeader = [
    {
      text: 'Nama Pemesan',
      value: 'column1',
      sortable: false,
    },
    {
      text: 'Jenis Test',
      value: 'column2',
      sortable: false,
    },
    {
      text: 'Harga Bayar',
      value: 'column3',
      sortable: false,
    },
    {
      text: 'Status Bayar',
      value: 'column4',
      sortable: false,
    },
    {
      text: 'Metode Cash',
      value: 'methodCash.name',
    },
    {
      text: 'Tanggal Daftar',
      value: 'createdAt',
      sortable: false,
    },
    {
      text: 'Pasien',
      value: 'column5',
      sortable: false,
    },
    {
      text: 'Aksi',
      value: 'action',
      sortable: false,
    },
  ] as DataTableHeader[]
  transactionItems = [] as TransactionTableData[]
  dataResult = {}
  referenceProductApi = new ReferenceProductApi(this.$axios)
  isLoading = true
  statusOrderList = new Map([
    ['new', 'Order Baru'],
    ['paymentReceived', 'Sudah diterima'],
    ['paymentFailed', 'Pembayaran Gagal'],
    ['inProgress', 'Sedang di proses'],
    ['paid', 'Sudah Terbayar'],
    ['close', 'Pembayaran ditutup'],
    ['canceled', 'Pembayaran dibatalkan'],
  ])
  get statusOrderListOptions() {
    let options: any[] = []
    this.statusOrderList.forEach((value, key) => {
      options.push({
        name: value,
        value: key,
      })
    })
    return options
  }

  selectedFilterStatusOrder = null

  statusPaymentListOptions = [
    {
      value: 'new',
      name: 'Order Baru',
    },
    {
      value: 'paid',
      name: 'Sudah Terbayar',
    },
    {
      value: 'canceled',
      name: 'Pembayaran dibatalkan',
    },
  ]

  listFilter = ['Cash', 'Transfer']
  selectedFilter = this.listFilter

  methodColorChip = {
    Cash: 'light-blue darken-3',
    Transfer: 'deep-orange darken-3',
  }

  $snackbar!: (arg: string) => void

  exportIsLoading = false
  async exportCsv() {
    this.exportIsLoading = true
    const productId = this.$route.params.idProduct

    try {
      const response =
        await this.referenceProductApi.downloadReportTransactionPerPatient(
          {
            idref: this.$route.query.refId,
            'filter[idProduct]': productId,
            ...this.lastParams,
          }
        )
      if (response === '' || '') {
        this.$snackbar('Tidak ada data untuk didownload. Download dibatalkan.')
        return false
      } else {
        const link = document.createElement('a')
        let blob = new Blob([response])
        let downloadUrl = URL.createObjectURL(blob)

        link.setAttribute('href', downloadUrl)
        link.setAttribute(
          'download',
          `Transaksi Per product ${productId} ${new Date().getTime()}.xlsx`
        )
        document.body.appendChild(link)
        link.click()
      }
    } finally {
      this.exportIsLoading = false
    }
  }

  @Watch('selectedFilter')
  onChangeSelectedFilter(_newVal: any) {
    this.fetchTransaction(this.lastParams)
    if (this.$refs.tablePagination) {
      // @ts-ignore
      this.$refs.tablePagination.clearAndChange()
    }
  }

  parseToTable(): TransactionTableData[] {
    let transactionTableData: TransactionTableData[] = []
    for (let i = 0; i < this.listTransaction.length; i++) {
      const transactionDetail: TransactionDetailDTO.TransactionDetail =
        this.listTransaction[i]
      transactionTableData.push({
        data: {
          transactionId: transactionDetail.id,
        },
        column1: {
          fullname: transactionDetail.customer
            ? transactionDetail.customer.fullname
            : null,
          invId: transactionDetail.invId,
        },
        column2: {
          testTypeName: transactionDetail.product?.product?.name,
          productName: transactionDetail.product.name,
          statusOrder: transactionDetail.status,
        },
        column3: {
          totalPrice: transactionDetail.totalPrice,
          method: transactionDetail.method,
          paymentChannelName: transactionDetail.paymentChannelName,
        },
        column4: {
          statusOrder: transactionDetail.status,
        },
        createdAt: new Date(
          transactionDetail.createdAt.toString()
        ).toLocaleString(),
        column5: {
          totalOrder: transactionDetail.totalOrder,
        },
        methodCash: transactionDetail.methodCash,
      })
    }
    return transactionTableData
  }

  statusPaymentMapping: any = StatusPaymentMapping
  @Watch('selectedFilterStatusOrder')
  onChangeselectedFilterStatusOrder(_val: any) {
    this.fetchTransaction(this.lastParams)
  }

  lastParams = {
    'filter[status]': undefined,
    'filter[method]': undefined,
    'filter[date]': undefined,
    'filter[rangedate]': undefined,
    'filter[search]': undefined,
  } as object
  async fetchTransaction(params: any = {}) {
    try {
      if (this.selectedFilterStatusOrder) {
        params['filter[status]'] = this.selectedFilterStatusOrder
      }
      params['filter[method]'] = this.selectedFilter.join(',')

      if (params['filter[date]'] === 'today') delete params['filter[date]']

      this.lastParams = params

      this.isLoading = true
      let id = this.$route.params.idProduct
      const result = await this.referenceProductApi.getReportOne(id, {
        ...params,
      })
      this.dataResult = result
      this.listTransaction = result.results
      this.transactionItems = this.parseToTable()
    } finally {
      this.isLoading = false
    }
  }
  created() {
    this.fetchTransaction({
      'filter[date]': 'today',
    })
  }
  itemClassTable(item: TransactionTableData) {
    if (!item.column4.statusOrder) {
      return null
    }
    let color = StatusOrderMapping[item.column4.statusOrder].color
    if (!color) return null
    if (color.split(' ').length > 0) {
      const colorSplit = color.split(' ')
      color = colorSplit[0] + '--text text--' + colorSplit[1]
    } else {
      color = color + '--text'
    }
    return color
  }

  // dialogMethodCash = false

  get dialogMethodCash() {
    return !!this.selectedStatus
  }
  set dialogMethodCash(val) {
    if (!val) {
      this.selectedStatus = null
    }
  }

  selectedStatus: { name: string; value: string } | null = null

  confirmMethodCash(status: any) {
    if (status.value === 'paid') {
      // show dialog method cash
      this.selectedStatus = status
      return true
    }
  }
}
</script>
