<template>
  <div>
    <common-toolbar no-back>
      Dashboard Produk
      <template #control> </template>
    </common-toolbar>
    <v-card :loading="listLoading">
      <v-card-text>
        <div class="d-flex justify-end">
          <v-btn
            small
            color="success"
            :loading="transaction.isLoading"
            @click="openTransactionDialogFilter"
          >
            <v-icon left>mdi-microsoft-excel</v-icon> Download Transaksi
          </v-btn>
          <common-dialog-filter
            v-model="transaction.dialogFilter"
            title="Filter dan Download Transaksi"
            confirm-text="Simpan &amp; Download"
            cancel-text="Kembali"
            @btn-cancel="closeDialogTransactionFilter"
            @btn-save="saveTransactionFilterAndDownload"
          >
            <form-filter-popup
              ref="formFilterPopup"
              v-model="transaction.filterForm"
            />
          </common-dialog-filter>

          <v-btn
            small
            color="success"
            class="ml-3"
            :loading="orderPerpatient.isLoading"
            @click="openOrderPerpatientDialogFilter"
          >
            <v-icon left>mdi-microsoft-excel</v-icon>
            Download Order Perpasien
          </v-btn>
          <common-dialog-filter
            v-model="orderPerpatient.dialogFilter"
            title="Filter dan Download Order Perpasien"
            confirm-text="Simpan &amp; Download"
            cancel-text="Kembali"
            @btn-cancel="closeDialogOrderPerpatientFilter"
            @btn-save="saveOrderPerpatientFilterAndDownload"
          >
            <form-filter-popup
              ref="formFilterPopup"
              v-model="orderPerpatient.filterForm"
            />
          </common-dialog-filter>
        </div>
        <v-data-table
          :item-class="itemClassTable"
          :headers="tableHeader"
          :items="listProduct"
          :search="search"
          item-key="name"
        >
          <template #top>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              class="mx-4"
            ></v-text-field>
          </template>
          <template #[`item.action`]="{ item }">
            <v-btn icon :to="`/dashboard/product/` + item.id">
              <v-icon> mdi-eye </v-icon>
            </v-btn>
          </template>
          <template #[`item.price`]="{ item }">
            {{ item.price ? $utils.toIdr(item.price) : null }}
          </template>
          <template #[`item.total`]="{ item }">
            {{ item.total ? $utils.toIdr(item.total) : '' }}
          </template>
          <template #[`item.statusDelete`]="{ item }">
            {{ item.deleteAt ? 'Sudah DiHapus' : '' }}
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { MethodPaymentEnum, StatusOrderEnum } from '@inatti/shared/api-nuxt'
import { InfoReferenceDTO, ReferenceProductApi } from '@inatti/shared/api-nuxt'

type formFilterField = {
  createdAtStart: string
  createdAtEnd: string
  productId?: string
  method?: MethodPaymentEnum
  status?: StatusOrderEnum
  isNoData: boolean
}

@Component
export default class DashboardProduct extends Vue {
  search = ''
  dialogForm = false
  dialogLoading = false
  tableHeader = [
    {
      text: 'Produk',
      value: 'name',
    },
    {
      text: 'Tipe Produk',
      value: 'product.name',
    },
    {
      text: 'Harga',
      value: 'price',
    },
    {
      text: 'Total transaki',
      value: 'total',
    },
    {
      text: 'Sudah Dihapus',
      value: 'statusDelete',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]

  transaction = {
    isLoading: false,
    dialogFilter: false,
    selectedFilterForm: {},
    filterForm: {
      createdAtStart: new Date(
        Date.UTC(new Date().getFullYear(), new Date().getMonth(), 1)
      )
        .toISOString()
        .substr(0, 10),
      createdAtEnd: new Date(
        Date.now() - new Date().getTimezoneOffset() * 60000
      )
        .toISOString()
        .substr(0, 10),
      isNoData: false,
    } as formFilterField,
  }

  orderPerpatient = {
    isLoading: false,
    dialogFilter: false,
    selectedFilterForm: {},
    filterForm: {
      createdAtStart: new Date(
        Date.UTC(new Date().getFullYear(), new Date().getMonth(), 1)
      )
        .toISOString()
        .substr(0, 10),
      createdAtEnd: new Date(
        Date.now() - new Date().getTimezoneOffset() * 60000
      )
        .toISOString()
        .substr(0, 10),
      isNoData: false,
    } as formFilterField,
  }

  listLoading = false
  listProduct: InfoReferenceDTO.Product[] = []

  referenceProductApi = new ReferenceProductApi(this.$axios)

  itemClassTable(item: any) {
    if (!item.deleteAt) {
      return null
    }
    return 'red--text'
  }

  async fetchProduct() {
    const refId = this.$route.query.refId
    try {
      this.listLoading = true
      const result = await this.referenceProductApi.getReport(refId)
      this.listProduct = result
    } catch (error: any) {
      // eslint-disable-next-line no-console
      console.log(error)
    }
    this.listLoading = false
  }

  $snackbar!: (arg: string) => void

  created() {
    this.fetchProduct()
  }

  openTransactionDialogFilter() {
    this.transaction.dialogFilter = true
  }

  openOrderPerpatientDialogFilter() {
    this.orderPerpatient.dialogFilter = true
  }

  closeDialogTransactionFilter() {
    this.transaction.filterForm = {
      createdAtStart: new Date(
        Date.UTC(new Date().getFullYear(), new Date().getMonth(), 1)
      )
        .toISOString()
        .substr(0, 10),
      createdAtEnd: new Date(
        Date.now() - new Date().getTimezoneOffset() * 60000
      )
        .toISOString()
        .substr(0, 10),
      isNoData: false,
    }
    this.transaction.dialogFilter = false
  }

  closeDialogOrderPerpatientFilter() {
    this.orderPerpatient.filterForm = {
      createdAtStart: new Date(
        Date.UTC(new Date().getFullYear(), new Date().getMonth(), 1)
      )
        .toISOString()
        .substr(0, 10),
      createdAtEnd: new Date(
        Date.now() - new Date().getTimezoneOffset() * 60000
      )
        .toISOString()
        .substr(0, 10),
      isNoData: false,
    }
    this.orderPerpatient.dialogFilter = false
  }

  async exportCsvTransaction() {
    this.transaction.isLoading = true
    try {
      const response =
        await this.referenceProductApi.downloadReportTransaction({
          ...this.transaction.selectedFilterForm,
        })
      if (response === '' || '') {
        this.transaction.filterForm.isNoData = true
        this.$snackbar('Tidak ada data untuk didownload. Download dibatalkan.')
        return false
      } else {
        const link = document.createElement('a')
        let blob = new Blob([response])
        let downloadUrl = URL.createObjectURL(blob)

        link.setAttribute('href', downloadUrl)
        link.setAttribute('download', `Transaksi ${new Date().getTime()}.xlsx`)
        document.body.appendChild(link)
        link.click()

        this.transaction.dialogFilter = false
        this.transaction.filterForm.isNoData = false
      }
    } finally {
      this.transaction.isLoading = false
    }
  }

  async exportCsvOrderPerPatient() {
    this.orderPerpatient.isLoading = true
    try {
      const response =
        await this.referenceProductApi.downloadReportTransactionPerPatient(
          {
            ...this.orderPerpatient.selectedFilterForm,
          }
        )
      if (response === '' || '') {
        this.orderPerpatient.filterForm.isNoData = true
        this.$snackbar('Tidak ada data untuk didownload. Download dibatalkan.')
        return false
      } else {
        const link = document.createElement('a')
        let blob = new Blob([response])
        let downloadUrl = URL.createObjectURL(blob)

        link.setAttribute('href', downloadUrl)
        link.setAttribute(
          'download',
          `Transaksi Per Pasien ${
            this.orderPerpatient.filterForm.productId ?? ''
          } ${new Date().getTime()}.xlsx`
        )
        document.body.appendChild(link)
        link.click()

        this.orderPerpatient.dialogFilter = false
        this.orderPerpatient.filterForm.isNoData = false
      }
    } finally {
      this.orderPerpatient.isLoading = false
    }
  }

  saveTransactionFilterAndDownload() {
    this.transaction.selectedFilterForm = {
      'filter[rangedate]': `${this.transaction.filterForm.createdAtStart}:${this.transaction.filterForm.createdAtEnd}`,
      'filter[idProduct]': this.transaction.filterForm.productId,
      'filter[method]': this.transaction.filterForm.method,
      'filter[status]': this.transaction.filterForm.status,
    }
    this.exportCsvTransaction()
  }

  saveOrderPerpatientFilterAndDownload() {
    this.orderPerpatient.selectedFilterForm = {
      'filter[rangedate]': `${this.orderPerpatient.filterForm.createdAtStart}:${this.orderPerpatient.filterForm.createdAtEnd}`,
      'filter[idProduct]': this.orderPerpatient.filterForm.productId,
      'filter[method]': this.orderPerpatient.filterForm.method,
      'filter[status]': this.orderPerpatient.filterForm.status,
    }
    this.exportCsvOrderPerPatient()
  }
}
</script>
