<template>
  <div>
    <common-toolbar no-back> Pengaturan Akun </common-toolbar>
    <v-card>
      <v-card-text>
        <v-alert v-if="alert.isShow" :icon="alert.icon" :type="alert.type" data-cy="account-setting-form-alert"
          dismissible>
          {{ alert.msg }}
        </v-alert>
        <v-row>
          <v-col class="px-4" cols="12" md="7">
            <v-row>
              <v-col cols="12">
                <div class="d-flex justify-start align-center flex-row w-full">
                  <v-btn v-if="!editAccount" data-cy="account-setting-form-account-action-edit" color="primary"
                    @click="editAccount = true">
                    Edit Account
                  </v-btn>
                </div>
                <div v-if="editAccount" class="w-full d-flex justify-start flex-row align-center">
                  <v-btn data-cy="account-setting-form-account-action-cancel" :loading="isLoading"
                    @click="cancelEditAccount">
                    <v-icon> mdi-close </v-icon>
                    Batal
                  </v-btn>
                  <v-btn class="ml-2" data-cy="account-setting-form-account-action-save" :loading="isLoading"
                    color="secondary" @click="onSaveAccount">
                    <v-icon> mdi-content-save </v-icon>
                    Simpan
                  </v-btn>
                </div>
              </v-col>
              <v-col cols="12">
                <v-form ref="formAccountRef">
                  <v-text-field v-model="formAccount.fullname" outlined dense
                    data-cy="account-setting-form-account-fullname" prepend-icon="mdi-tag-faces" label="Nama"
                    class="mb-4" :rules="mandatoryFieldRule" :disabled="!editAccount" hide-details="auto">
                  </v-text-field>
                  <v-text-field v-model="formAccount.username" outlined dense
                    data-cy="account-setting-form-account-username" :disabled="!editAccount" class="mb-4"
                    :rules="mandatoryFieldRule" prepend-icon="mdi-tag" label="Username" hide-details="auto">
                  </v-text-field>
                  <v-text-field v-model="formAccount.phoneNumber" outlined dense
                    data-cy="account-setting-form-account-fullname" :disabled="!editAccount" prepend-icon="mdi-phone"
                    label="No. Telpon" class="mb-4 input-phonenumber" :rules="phonenumberFieldRule" hide-details="auto">
                  </v-text-field>
                  <v-text-field v-model="formAccount.email" outlined dense data-cy="account-setting-form-account-email"
                    :rules="emailFieldRule" :disabled="!editAccount" prepend-icon="mdi-email" label="Email"
                    hide-details="auto"></v-text-field>
                </v-form>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" md="5">
            <v-btn v-if="!editPassword" data-cy="account-setting-form-password-action-setting-password" color="primary"
              class="white--text my-4 my-md-0" @click="editPassword = true">
              Pengaturan Password
            </v-btn>
            <v-form v-if="editPassword" ref="formPasswordRef" class="mt-15">
              <v-text-field v-model="formPassword.oldPassword" outlined
                data-cy="account-setting-form-password-field-old-password" dense
                :append-icon="showPass.oldPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPass.oldPassword ? 'text' : 'password'" class="mb-4" label="Password Lama"
                hide-details="auto" @click:append="showPass.oldPassword = !showPass.oldPassword"></v-text-field>
              <v-text-field v-model="formPassword.newPassword" outlined dense
                data-cy="account-setting-form-password-field-new-password"
                :append-icon="showPass.newPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPass.newPassword ? 'text' : 'password'" class="mb-4" :rules="newPasswordRule"
                label="Password Baru" hide-details="auto" @click:append="showPass.newPassword = !showPass.newPassword">
              </v-text-field>
              <v-text-field v-model="formPassword.confirmPassword" outlined
                data-cy="account-setting-form-password-field-confirm-password" dense :append-icon="
                  showPass.confirmPassword ? 'mdi-eye' : 'mdi-eye-off'
                " :type="showPass.confirmPassword ? 'text' : 'password'" :rules="passwordConfirmationRule"
                label="Ketik Ulang Password Baru" hide-details="auto" @click:append="
                  showPass.confirmPassword = !showPass.confirmPassword
                "></v-text-field>
              <v-row class="mt-3">
                <v-col cols="12" md="4" sm="3">
                  <v-btn data-cy="account-setting-form-password-action-cancel" :loading="isLoading"
                    @click="cancelEditPassword()">
                    <v-icon> mdi-close </v-icon>
                    Batal
                  </v-btn>
                </v-col>
                <v-col cols="12" md="8" sm="9" class="pt-0 pt-sm-3">
                  <v-btn data-cy="account-setting-form-password-action-save" :loading="isLoading" color="secondary"
                    @click="onSavePassword">
                    <v-icon left> mdi-content-save </v-icon>
                    simpan password
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { AccountApi } from '@inatti/shared/api-nuxt';
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class AccountSetting extends Vue {
  accountApi!: AccountApi;
  currentFormAccount = {};
  formAccount = {
    fullname: '',
    username: '',
    phoneNumber: '',
    email: '',
    isActive: '',
  };

  formPassword = {
    oldPassword: '',
    newPassword: '',
    confirmPassword: '',
    reset: () => {
      this.formPassword.oldPassword = '';
      this.formPassword.newPassword = '';
      this.formPassword.confirmPassword = '';
    },
  };

  showPass = {
    oldPassword: false,
    newPassword: false,
    confirmPassword: false,
  };

  isLoading = false;
  $utils: any;
  $refs: any;
  $auth: any;
  mandatoryFieldRule = [(v: any) => !!v || 'Form ini wajib diisi'];
  emailFieldRule = [
    (v: any) => this.$utils.emailFormatRule(v) || 'Email Format Tidak Valid',
  ];

  newPasswordRule = [
    (v: any) => v.length >= 8 || 'Password Minimal 8 Karakter',
  ];
  passwordConfirmationRule = [
    (v: any) => v === this.formPassword.newPassword || 'Password Tidak Sama',
  ];
  phonenumberFieldRule = [
    (v: any) => !!v || 'Form ini wajib diisi',
    (v: string) =>
      (!!v && !isNaN(parseInt(v))) || 'No. Telepon harus berupa angka',
    (v: string) => (!!v && v.length > 10) || 'No. Telepon tidak valid',
  ];

  editAccount = false;
  editPassword = false;
  cancelEditAccount() {
    this.editAccount = false;
    this.formAccount = this.$utils.cloneObject(this.currentFormAccount);
  }

  cancelEditPassword() {
    this.editPassword = false;
    this.formPassword.reset();
  }

  alert = {
    isShow: false,
    msg: '',
    type: '',
  };

  showAlert(type: any, msg: string) {
    this.alert = {
      type,
      isShow: true,
      msg,
    };
  }

  async onSaveAccount() {
    if (
      this.$refs.formAccountRef.validate() &&
      this.$utils.dirtyValidation(this.currentFormAccount, this.formAccount)
    ) {
      try {
        this.isLoading = true;
        await this.accountApi.updateInfo(this.formAccount);
        this.showAlert('success', 'Sukses Update Akun');
        this.editAccount = false;
        this.fetchAccount(true);
      } catch (error: any) {
        this.showAlert(
          'warning',
          'Gagal Update Akun. ' + error.response?.data?.message
        );
      }
      this.isLoading = false;
    }
  }

  async onSavePassword() {
    if (this.$refs.formPasswordRef.validate()) {
      try {
        this.isLoading = true;
        await this.accountApi.updatePassword(
          this.formPassword.oldPassword,
          this.formPassword.newPassword
        );
        this.showAlert('success', 'Sukses Update Password Akun');
        this.editPassword = false;
        this.formPassword.reset();
      } catch (error: any) {
        this.showAlert(
          'warning',
          'Gagal Update Password Akun. ' + error.response?.data?.message
        );
      }
      this.isLoading = false;
    }
  }

  async fetchAccount(refreshCurrentAccount: boolean) {
    try {
      const resp = await this.accountApi.getInfo();
      this.formAccount = this.$utils.cloneObject(resp);
      this.currentFormAccount = this.$utils.cloneObject(resp);
      if (refreshCurrentAccount) {
        await this.$auth.fetchUser()
      }
    } catch (error: any) {
      this.showAlert(
        'warning',
        'Gagal Mengunduh Data Akun. ' + error.response?.data?.message
      );
    }
  }

  mounted() {
    this.accountApi = new AccountApi(this.$axios);
    this.fetchAccount(false);
  }
}
</script>
