<template>
  <v-app dark>
    <v-app-bar app class="white pl-md-15" elevation="2">
      <v-row>
        <v-col cols="3">
          <v-app-bar-nav-icon
            @click.stop="drawer = !drawer"
          />
        </v-col>
        <v-col class="d-flex justify-center">
          <nuxt-link to="/">
            <layout-logo />
          </nuxt-link>
        </v-col>
        <v-col cols="3" class="d-flex align-center justify-center">
          <v-menu v-if="$auth.loggedIn" bottom left >
            <template #activator="{ on, attrs }">
              <div
                class="
                d-flex align-center
                  text-capitalize text-body-2
                  grey--text
                  text--darken-3
                  font-weight-bold
                "
                v-bind="attrs" v-on="on"
              >
                {{ $auth.user.fullname }}
                <v-icon class="mx-2">mdi-chevron-down</v-icon>
              </div>
            </template>

            <v-list>
              <v-list-item to="/account">
                <v-list-item-title> Akun </v-list-item-title>
              </v-list-item>
              <v-list-item to="/testcovid/order/list">
                <v-list-item-title> Order List </v-list-item-title>
              </v-list-item>
              <v-list-item @click="$auth.logout()">
                <v-list-item-title> Logout </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <div v-else>
            <v-btn color="primary" outlined to="/auth" small> Masuk </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" color="#168AAD" absolute temporary>
      <layout-menu-nav-mobile />
    </v-navigation-drawer>

    <v-main>
      <Nuxt />
    </v-main>

    <common-bottom-nav-mobile />
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
    group: null,
  }),

  watch: {
    group() {
      this.drawer = false
    }
  }
}
</script>

<style>
.logo {
  width: 120px !important;
  height: 50px !important;
}
</style>
