// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

.theme--light.v-navigation-drawer{
  background: #F5F5F5
}

.theme--light .v-main{
  background: #EEE;
}

.theme--dark .v-main{
  background: #121212;
}
