<template>
  <v-alert
    type="warning"
    width="100%"
    icon="mdi-alert-outline"
  >
    <div id="alert-block" class="d-flex">
      <p class="ma-0">
        {{ message ? message : 'Warning Message' }}
      </p>
      <v-btn outlined color="white" v-if="action" @click="$emit('action-clicked')">{{action}}</v-btn>
    </div>
  </v-alert>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class AlertBlock extends Vue {
  @Prop({ type: String })
  message: string
  @Prop({ type: String })
  action: string
}
</script>

<style>
#alert-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
