<template>
  <v-chip v-bind="chipOption" class="white--text text-center" :small="small">
    {{ status ? StatusSwabMapping[status].text : null }}
  </v-chip>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { VChip } from 'vuetify/lib'
import { StatusSwabEnum, StatusSwabMapping } from '@inatti/shared/api-nuxt'

@Component({})
export default class ChipStatusComponent extends VChip {
  @Prop({
    type: String,
    validator: (v) => Object.values(StatusSwabEnum).includes(v),
  })
  status!: StatusSwabEnum

  @Prop({
    type: Boolean,
    default: false,
  })
  small: Boolean | undefined

  StatusSwabMapping = StatusSwabMapping

  get chipOption() {
    return {
      ...this.$props, // default
      ...this.StatusSwabMapping[this.status],
    }
  }

  mounted() {}
}
</script>

<style></style>
