<template>
  <v-snackbar v-model="snackbarShow">
    {{ snackbarText }}
    <template #action="{ attrs }">
      <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar()">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  computed: {
    snackbarShow: {
      get() {
        return this.$store.state.snackbarStore.show
      },
      set(val) {
        this.$store.commit('snackbarStore/setShow', val)
      },
    },
    snackbarText: {
      get() {
        return this.$store.state.snackbarStore.text
      },
      set(val) {
        return this.$store.commit('snackbarStore/setText', val)
      },
    },
  },
  methods: {
    closeSnackbar() {
      this.$store.dispatch('snackbarStore/closeSnackbar')
    },
  },
})
</script>
