<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <div class="pa-2" style="background-color: #f4a0221f">
        <v-icon color="#F4A022" dark v-bind="attrs" v-on="on">
          mdi-lock
        </v-icon>
      </div>
    </template>
    <span>Data pasien ini bukan milik apotek anda</span>
  </v-tooltip>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
@Component
export default class TooltipLockedPatient extends Vue {}
</script>
