<template>
  <div>
    <div v-if="!isError">
      <common-template-header
        v-model="template"
        class="mt-8"
      />

      <section>
        <div class="text-center font-semibold text-xl leading-6 mt-6 mb-10">
          Laporan Hasil Vaksin Meningitis
        </div>
        <div class="flex text-sm font-normal">
          <div class="table w-3/5">
            <div class="table-row">
              <div class="table-cell">Nama Pasien / Name</div>
              <div class="table-cell pr-2">:</div>
              <div class="table-cell">
                {{ $returnValueWhenNull(patientDetails.name) }}
              </div>
            </div>

            <div class="table-row">
              <div class="table-cell">No. Paspor / Passport ID</div>
              <div class="table-cell pr-2">:</div>
              <div class="table-cell">
                {{ $returnValueWhenNull(patientDetails.passport) }}
              </div>
            </div>

            <div class="table-row">
              <div class="table-cell">NIK / ID Number</div>
              <div class="table-cell pr-2">:</div>
              <div class="table-cell">
                {{ $returnValueWhenNull(patientDetails.nik) }}
              </div>
            </div>

            <div class="table-row">
              <div class="table-cell">Kebangsaan / Nationality</div>
              <div class="table-cell pr-2">:</div>
              <div class="table-cell">
                {{ $returnValueWhenNull(patientDetails.citizenship) }}
              </div>
            </div>

            <div class="table-row">
              <div class="table-cell">Klinik Rujukan / Ref. Clinic</div>
              <div class="table-cell pr-2">:</div>
              <div class="table-cell">
                {{ $returnValueWhenNull(refDetails.name) }}
              </div>
            </div>
          </div>
          <div class="table w-2/5 items-start">
            <div class="table-row">
              <div class="table-cell">Jenis Kelamin / Gender</div>
              <div class="table-cell pr-2">:</div>
              <div class="table-cell">
                {{ $returnValueWhenNull(patientDetails.gender) }}
              </div>
            </div>

            <div class="table-row">
              <div class="table-cell">Tgl. Lahir / DOB</div>
              <div class="table-cell pr-2">:</div>
              <div class="table-cell">
                {{ patientDetails.datebirth }}
              </div>
            </div>

            <div class="table-row">
              <div class="table-cell">Umur / Age</div>
              <div class="table-cell pr-2">:</div>
              <div class="table-cell">
                {{ $returnValueWhenNull(patientDetails.age) }} Tahun
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-8">
        <div
          class="table w-full text-sm text-center border-t-2 border-b-2 border-black"
        >
          <div class="table-header-group font-bold bg-blue-100">
            <div class="table-row border-b-2 border-black">
              <div class="table-cell py-3">Nama Vaksin</div>
              <div class="table-cell py-3">Keterangan</div>
              <div class="table-cell py-3">Tanggal Vaksin</div>
            </div>
          </div>
          <div class="table-row-group">
            <div class="table-row">
              <div class="table-cell border-t-2 border-black py-3">
                {{ vaksinData.order.product.product.name }}
              </div>
              <div class="table-cell border-t-2 border-black py-3">
                {{
                  vaksinData.vaksinDateAt !== '-'
                    ? 'Sudah Vaksin'
                    : 'Belum Vaksin'
                }}
              </div>
              <div class="table-cell border-t-2 border-black py-3">
                {{ vaksinData.vaksinDateAt }}
                <span v-if="vaksinData.vaksinDateAt !== '-'">WIB</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="text-xs mt-5 mb-8">
        <div>Catatan :</div>
        <div class="text-justify">
          <div>
            1. Hasil laporan ini merupakan bukti sahih untuk pengambilan buku
            kuning vaksin meningitis
          </div>
          <div>
            2. Tunjukan hasil laporan ini ke fasilitas Kesehatan/sampling poin
            untuk ditukarkan dengan buku kuning vaksin meninggitis
          </div>
        </div>
      </section>

      <section class="mb-10">
        <div class="flex justify-between text-center text-sm align-middle">
          <div class="w-6/12 pt-12">
            <img
              v-if="qrCode.image"
              :src="qrCode.image"
              alt="QR-Code"
              class="w-32 inline-block"
            />
            <img
              v-else
              src=""
              alt="QR-Code"
              class="w-32 inline-block border-2 text-center"
            />
            <div class="pt-7">{{ qrCode.value }}</div>
          </div>
          <div class="w-5/12">
            <div>Dokter Penanggung Jawab</div>
            <img
              class="inline-block w-36 my-5"
              :src="
                template.signaturImage
                  ? template.signaturImage
                  : require('~/assets/images/signature/vaccine.svg')
              "
            />
            <div>
              <div class="underline">
                {{ $returnValueWhenNull(template.doctorName) }}
              </div>
              <div class="italic">Doctor In Charge</div>
            </div>
          </div>
        </div>
      </section>

      <common-footer
        :name="refDetails.name"
        :detail="refDetails.refAddress"
      />
    </div>
    <div v-else>
      {{ errorMsg }}
    </div>
  </div>
</template>

<script lang="ts">
import { Context } from '@nuxt/types/app'
import { generateQRCode } from 'apps/template-pdf/utils/GenerateQRCode'
import { id } from 'date-fns/locale'
import { RefFetchData } from 'apps/template-pdf/utils/fetch-data/RefFetchData'
import { PatientDTO } from '@inatti/shared/dtos'

const getData = async (axios, vaksinId) => {
  try {
    return await axios.$get(`/vaksin/detail/${vaksinId}`)
  } catch (err) {
    console.log(`failed fetch get vaksin ${vaksinId}`)
    return null
  }
}

const getAge: any = (datebirth: string) => {
  if (!datebirth) {
    return '-' as string
  }
  const newDateBirth = new Date(datebirth)
  // kalkulasi perbedaan bulan dari tanggal hari ini dalam satuan waktu
  const monthDifference = Date.now() - newDateBirth.getTime()
  // konversi monthDifference ke date, lalu di ekstrak dalam bentuk tahun
  const ageByUTCDate = new Date(monthDifference).getUTCFullYear()
  const age = Math.abs(ageByUTCDate - 1970)

  return age as number
}

const DT_FORMAT_COMPLETE = 'dd MMMM yyyy, HH:mm'
const DT_FORMAT_DATE = 'dd MMMM yyyy'

// this to prevent invalid date
const parseDate = (dateFn: any, date: string | Date, format: string) => {
  try {
    if (!date) {
      return '-'
    }
    return dateFn.format(date, format, { locale: id })
  } catch (err) {
    return '-'
  }
}

export default {
  async asyncData(context: Context) {
    const { vaksinId } = context.query
    const baseUrl = context.env.urlBackend
    const qrCode = {
      value: vaksinId,
      image: await generateQRCode(`${baseUrl}/vaksin/get-pdf/${vaksinId}`),
    }

    const vaksinData = await getData(context.$axios, vaksinId)
    if (!vaksinData) {
      return {
        isError: true,
        errorMsg: `Data not Found ${vaksinId}`,
      }
    }
    vaksinData.vaksinDateAt = parseDate(
      (context as Context & { $dateFns: any }).$dateFns,
      vaksinData.vaksinDateAt,
      DT_FORMAT_COMPLETE
    )

    const patientDetails = vaksinData.patient
    ;(patientDetails as PatientDTO & { age: number }).age = getAge(
      patientDetails.datebirth
    )
    patientDetails.datebirth = parseDate(
      (context as Context & { $dateFns: any }).$dateFns,
      patientDetails.datebirth,
      DT_FORMAT_DATE
    ) as string
    patientDetails.gender =
      patientDetails.gender === 'lk' ? 'Laki-laki' : 'Perempuan'

    const refDetails = vaksinData.ref

    const refFetchData = new RefFetchData(context.$axios)
    let template = {}
    template = await refFetchData.getTemplateInfo({
      type: 'antigen',
      idRef: refDetails.id + '',
    })
    return {
      isError: false,
      qrCode,
      vaksinData,
      patientDetails,
      refDetails,
      template,
    }
  },
}
</script>
