<template>
  <div class="mt-3">
    <div v-show="isLoading" class="text-center">
      <div>
        Sedang mengambil pdf
      </div>
      <v-progress-circular
        indeterminate
        color="primary"
      ></v-progress-circular>
    </div>
    <div v-show="!isLoading">
      <v-alert
       v-model="alertSuccess"
       type="success"
       dismissible
       dense
       outlined
      >
       Hasil Test Valid dan Sah, file PDF ditemukan. <a ref="buttonDownload" href="#">Download disini</a>
      </v-alert>
    </div>

    <div>
      <v-alert
      v-model="alert.isShow"
      :type="alert.type"
      dismissible
      dense
      outlined
      >
      {{ alert.msg }}
      </v-alert>
    </div>
  </div>
</template>

<script>
import { UserTestCovidApi } from '@inatti/shared/api-nuxt'
export default {
  auth: false,
  data(){
    return {
      alert: {
        isShow: false,
        type: 'warning',
        msg: null
      },
      isLoading: false,
      alertSuccess: false,
      userTestCovidApi: null
    }
  },
  mounted(){
    this.userTestCovidApi = new UserTestCovidApi(this.$axios)
    this.getPdf()
  },
  methods: {
    setAlert(msg, type = 'warning'){
      this.alert = {
        isShow: true,
        type,
        msg,
      }
    },
    async getPdf(){
      try{    
        const id = this.$route.params.idorder
        if(!id) {
          this.setAlert('Tidak ditemukan id')
          this.$router.replace('/beranda')
          return null
        }
        this.isLoading = true
        const resp = await this.userTestCovidApi.getCertificate(id)
        if (resp) {
          this.alertSuccess = true
          const url = window.URL.createObjectURL(new Blob([resp]))
          const link = this.$refs.buttonDownload
          link.href = url
          link.setAttribute('download', `${id}.pdf`)
        }
      } catch(err){
        this.setAlert('Tidak menemukan PDF Hasil atau belum pdf belum di rilis')
      }
      this.isLoading = false
    }
  }
}
</script>