<template>
    <UiPageAccountSetting />
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { UiPageAccountSetting } from '@inatti/shared/ui'

@Component({ components: { UiPageAccountSetting } })
export default class AccountSetting extends Vue {}
</script>

