<template>
  <v-card class="my-3 w-full pa-3" outlined>
    <div class="d-flex justify-space-between align-center flex-row">
      <span class="text-body-2 black--text font-weight-medium">{{
        title
      }}</span>
      <span class="text-extra-small">{{ $utils.dateToMonthText(date) }}</span>
    </div>
    <div class="mt-2 d-flex justify-space-between align-center flex-row">
      <span class="text-extra-small black--text">{{ pic }}</span>
      <div>
        <slot name="action" />
      </div>
    </div>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
@Component
export default class ConsultationPmrHistoryCardItem extends Vue {
  @Prop({ type: [String] })
  id!: string
  @Prop({ type: [String] })
  title!: string
  @Prop({ type: [String] })
  date!: string
  @Prop({ type: [String] })
  pic!: string
}
</script>
