<template>
  <v-data-table
    :headers="testRecord.headers"
    :items="testRecord.items"
    disable-filtering
    disable-sort
  >
    <template #[`item.createdAt`]="{ item }">
      <span>{{ $utils.dateTimeFormat(item.createdAt) }}</span>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class PatientLogActivity extends Vue {
  @Prop()
  patientId!: string
  testRecord = {
    headers: [
      { text: 'Nama Aktivitas', value: 'formatted_activity' },
      { text: 'Username', value: 'user.username' },
      { text: 'Email', value: 'user.email' },
      { text: 'Waktu', value: 'createdAt' },
    ],

    items: [],
  }
  async fetchLoggerActivity() {
    try {
      this.testRecord.items = await this.$axios.$get(
        '/logger-activity/patient',
        {
          params: {
            patientId: this.patientId,
          },
        }
      )
    } catch (error) {}
  }
  mounted() {
    this.fetchLoggerActivity()
  }
}
</script>
