<template>
  <div>
    <common-toolbar> Detail ref </common-toolbar>
    <v-card :loading="isLoading">
      <v-card-text>
        <div>
          <div>Id ref : {{ detailInfo.id }}</div>
          <div>
            Nama ref : <strong>{{ detailInfo.name }}</strong>
          </div>
        </div>
        <v-divider class="my-3" />
        <div>
          <div class="d-flex justify-space-between">
            <div class="text-h6">User ref</div>
            <div>
              <v-dialog v-model="dialogAddUser" width="450">
                <template #activator="{ on, attrs }">
                  <v-btn color="primary" v-bind="attrs" v-on="on">
                    Tambah User
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title> Tambah User </v-card-title>
                  <v-card-text class="pa-3">
                    <v-alert type="info" :value="isUserAvailable" text dense>
                      Username telah terdaftar, silahkan pilih role untuk user.
                    </v-alert>
                    <v-text-field
                      v-model="formAddUser.username"
                      dense
                      outlined
                      label="Username"
                      @blur="checkUserAvailability"
                    />
                    <v-text-field
                      v-model="formAddUser.fullname"
                      dense
                      outlined
                      label="Nama lengkap"
                      :disabled="isUserAvailable"
                    />
                    <v-text-field
                      v-model="formAddUser.password"
                      dense
                      outlined
                      label="Password"
                      :disabled="isUserAvailable"
                    />
                    <v-select
                      v-model="formAddUser.roleId"
                      :items="listRolesSelect"
                      label="Role"
                      outlined
                      dense
                    />
                    <v-alert
                      v-model="alert.isShow"
                      :type="alert.type"
                      dismissible
                      dense
                      outlined
                    >
                      {{ alert.msg }}
                    </v-alert>
                  </v-card-text>
                  <v-card-actions class="text-right">
                    <v-btn
                      color="primary"
                      :loading="isLoadingSave"
                      @click="saveUser"
                    >
                      Simpan
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </div>
          </div>
          <v-data-table :items="assignedRole" :headers="headers">
            <template #[`item.actions`]="{ item }">
              <v-btn color="red" icon @click="confirmDelete(item)">
                <v-icon>mdi-delete-outline</v-icon>
              </v-btn>
              <v-btn text small :to="`/user/detail/${item.userId.id}`"> Detail </v-btn>
            </template>
          </v-data-table>
        </div>
      </v-card-text>
    </v-card>
    <dialog-delete-confirm
      v-model="dialogDelete"
      :loading="isLoadingDelete"
      @ok="confirmedDelete"
    />
  </div>
</template>

<script lang="ts">
import { AdminApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class DetailDataComponent extends Vue {
  adminApi!: AdminApi
  created() {
    const id = this.$route.params.id
    this.adminApi = new AdminApi(this.$axios)
    this.fetchAssignedRole(id)
    this.fetchDetailInfo(id)
    this.fetchListRoles()
  }
  isLoading = true
  assignedRole = []
  detailInfo = {}
  headers = [
    {
      text: 'Username',
      value: 'userId.username',
    },
    {
      text: 'Fullname',
      value: 'userId.fullname',
    },
    {
      text: 'Role',
      value: 'roleId.name',
    },
    {
      text: 'Aksi',
      value: 'actions',
    },
  ]
  async fetchAssignedRole(id: string) {
    this.assignedRole = await this.adminApi.getRolesAssignedByRefId(id)
  }
  async fetchDetailInfo(id: string) {
    this.detailInfo = await this.adminApi.getRefById(id)
    this.isLoading = false
  }

  formAddUser = {
    username: '',
    fullname: '',
    password: '',
    refId: '',
    roleId: 0,
  }
  listRoles = []
  listRolesSelect: any = []
  async fetchListRoles() {
    this.isLoading = true
    this.listRoles = await this.adminApi.getRefRoles()
    this.listRolesSelect = this.listRoles.map((v: any) => ({
      text: v.name,
      value: v.id,
    }))
    this.isLoading = false
  }

  alert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }
  setAlert(msg: string, type: string = 'warning') {
    this.alert = {
      isShow: true,
      type,
      msg,
    }
  }

  isLoadingUsername = false
  isUserAvailable = false
  async checkUserAvailability() {    
    this.isUserAvailable = false
    this.isLoadingUsername = true
    try {
      const response = await this.adminApi.findUserByUsername(this.formAddUser.username)
      if (this.formAddUser.username === response.username) this.isUserAvailable = true
    } catch (error) {} finally { 
      this.isLoadingUsername = false
    }
  }

  dialogAddUser = false
  isLoadingSave = false
  async saveUser() {
    this.isLoadingSave = true
    this.formAddUser.refId = this.$route.params.id
    try {
      await this.adminApi.createRoleAssignedToRefUser(this.formAddUser)
      this.dialogAddUser = false
      this.fetchAssignedRole(this.formAddUser.refId)
      this.formAddUser = {
        // reset
        username: '',
        fullname: '',
        password: '',
        refId: '',
        roleId: 0,
      }
    } catch (err: any) {
      this.setAlert(err.response?.data?.message ?? 'Terjadi kesalahan', 'error')
    }
    this.isLoadingSave = false
    this.isUserAvailable = false
  }

  dialogDelete = false
  selectedDelete: any = null
  isLoadingDelete = false
  confirmDelete(item: any) {
    this.dialogDelete = true
    this.selectedDelete = item
  }

  async confirmedDelete() {
    if (!this.selectedDelete) return false
    this.isLoadingDelete = true
    const idItem = this.selectedDelete.id
    await this.adminApi.deleteRoleAssignedByRefId(idItem)
    this.isLoadingDelete = false
    this.fetchAssignedRole(this.$route.params.id)
    this.dialogDelete = false
  }
}
</script>

<style>
</style>