<template>
  <div>
    <div class="d-flex justify-space-between">
      <div class="text-h6 font-weight-bold">{{ title }}</div>
      <div>
        <p class="font-weight-bold">Interval</p>
        <v-btn-toggle v-model="intervalSelected" tile>
          <v-btn v-for="(item, i) in intervalList" :key="i" :value="item" small>
            {{ item }}
          </v-btn>
        </v-btn-toggle>
      </div>
    </div>
    <common-chart
      :key="chart1Key"
      v-model="value[intervalSelected]"
      :height="height"
      :color="color"
      :type="type"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

@Component
export default class DashboardChartIntervalComponent extends Vue {
  @Prop()
  value!: any
  @Prop()
  title!: any
  // color props / atribute : color = [ { position : , color : } ]
  @Prop()
  color!: any
  @Prop({ default: 'bar', type: String })
  type!: any
  @Prop({ default: 380, type: [Number, String] })
  height!: number

  created() {}

  intervalList = ['day', 'month', 'year']
  intervalSelected = 'day'
  chart1Key = 1

  @Watch('intervalSelected')
  onupdateIntervalSelected(_val: any) {
    this.chart1Key++
  }
}
</script>

<style></style>
