<template>
  <div :style="getStyleParent">
    <canvas ref="canvas"></canvas>
  </div>
</template>

<script>
import Chart from 'chart.js/auto'

/**
 * This component will convert data from object :
 * {
 *   value: 1,
 *   group: 'pcr',
 *   xaxis: 'Januari 2021'
 * }
 * to options chart.js
 *
 * Description :
 * value = is value for chart (Y axis, bottom to top)
 * xaxis = is an axis for X (X axis, left to right)
 * group = is a label for value
 *
 * This is only support for type chart.js line, bar, and pie. not testted on other types
 *
 * specially for type 'pie', group will be ignored
 *
 */

export default {
  props: {
    type: {
      type: String,
      default: 'line'
    },
    value: {
      type: Array,
      default: null
    },
    width: {
      type: [Number, String],
      default: null
    },
    height: {
      type: [Number, String],
      default: null
    },
    color: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      optionsChart: {},
      exampleChart: {
        // only for example purpose and initial
        type: 'line',
        data: {
          labels: [], // labels (xaxis)
          datasets: [
            {
              data: [10, 20, 30],
              // label as category data
              label: 'data 1',
              borderColor: '#001219',
              backgroundColor: '#001219'
            }
          ]
        },
        options: {
          maintainAspectRatio: true,
          interaction: {
            intersect: false,
          },
          scales: {
            y: {
                beginAtZero: true
            }
          }
        }
      },
      cycleColor: [
        // default color for each group
        '#00ff2e',
        '#ff008b',
        '#5d00ff',
        '#ff8b00',
        '#ff0000',
        '#e8ff00',
        '#5dff00',
        '#00ffb9',
        '#00b9ff',
        '#002eff',
        '#e800ff'
      ],
      chart: null,
    }
  },
  computed: {
    getStyleParent() {
      let styles = { position: 'relative' }
      if (this.width) styles.width = this.width + 'px'
      if (this.height) styles.height = this.height + 'px'

      return styles
    }
  },
  watch: {
    value() {
      this.bindValueToChart()
    },
    color(){
      if(this.color && Array.isArray(this.color)){
        this.cycleColor = this.color
      }
    }
  },
  mounted() {
    // update cycleColor if props color is avaibale
    if (this.color && Array.isArray(this.color)) {
      this.cycleColor = this.color
    }
    try {
      this.bindValueToChart()
    } catch (error) {}
  },
  methods: {
    bindValueToChart() {
      if (!this.value) return false

      this.optionsChart = { ...this.exampleChart }
      this.optionsChart.type = this.type

      let isPie = this.optionsChart.type === 'pie'
      this.optionsChart.data = this.mapDataToOptionChart(this.value, {
        isPie,
        typeChart: this.optionsChart.type
      })

      let canvasChart = this.$refs.canvas

      if(this.chart){
        this.chart.destroy();
      }

      // eslint-disable-next-line no-new
      this.chart = new Chart(canvasChart, this.optionsChart)
    },
    mapDataToOptionChart(dataValue, options = { isPie: false, typeChart: 'line' }) {
      const { typeChart } = options

      const randomColor = () =>
        '#' + ((Math.random() * 0xffffff) << 0).toString(16).padStart(6, '0')

      const getCycleColor = (group, cycle) => {
        if(typeof this.cycleColor[0] === 'string'){
          return this.cycleColor[cycle]
        }
        if(typeof this.cycleColor[0] === 'object'){
          let color = this.cycleColor.find(color => color.group === group)
          if(color){
            return color.color
          }
          return randomColor()
        }
        return randomColor()
      }

      const getXaxis = (data) => {
        let listXaxis = []
        for (const row of data) {
          if (!listXaxis.includes(row.xaxis)) {
            listXaxis.push(row.xaxis)
          }
        }
        return listXaxis
      }

      const getDatasets = (value, xaxis) => {
        let groups = []
        for (const key of value) {
          if(!groups.includes(key.group)){
            groups.push(key.group)
          }
        }

        let datasets = []
        groups.forEach((group, i) => {
          let datasetColor = {}
          if(typeChart === 'line'){
            datasetColor.borderColor = getCycleColor(group, i)
          } else {
            datasetColor.backgroundColor = getCycleColor(group, i)
          }
          datasets.push({
            data: value.filter((v) => xaxis.includes(v.xaxis) && v.group === group).map((v) => ({
              x: v.xaxis,
              y: v.value
            })),
            label: group,
            ...datasetColor,
          })
        })

        return datasets
      }

      let listXaxis = getXaxis(dataValue)

      let datasetsGenerated = getDatasets(dataValue, listXaxis)

      let chartOption = {
        labels: listXaxis,
        datasets: datasetsGenerated
      }

      return chartOption
    }
  }
}
</script>