<template>
  <div>
    <v-row
      justify="center"
      align-content="start"
      align-content-md="center"
      class="h-100vh"
    >
      <v-col lg="5" md="6" cols="12" class="my-5">
        <v-card class="ma-3">
          <v-card-title class="justify-center mb-6 mb-md-5">
            <img
              src="https://inatti.id/asset-app/inatti-v2.2-large.png"
              height="70vh"
              alt="Logo InaTTI"
              class="mt-6"
            />
          </v-card-title>
          <v-card-subtitle class="mt-1">
            <div class="primary--text text-center text-h5">Verifikasi OTP</div>
          </v-card-subtitle>
          <v-card-text>
            <div class="text-center mb-3">
              Kode OTP telah dikirimkan ke Whatsapp 0822-xxxx-3047.
              <span
                class="text-decoration-none primary--text"
                style="cursor: pointer"
                @click="dialog.isShow = true"
              >
                Ganti nomor Hp
              </span>
            </div>
            <v-form
              ref="loginForm"
              :disabled="isLoading"
              @submit="
                () => {
                  console.log(form)
                }
              "
            >
              <v-container>
                <v-row justify="center">
                  <v-col cols="12" sm="7">
                    <v-otp-input
                      v-model="otp"
                      length="5"
                      type="text"
                      @finish="login()"
                    ></v-otp-input>
                  </v-col>
                </v-row>
              </v-container>

              <div class="grey--text text-center mb-3">
                Kirim ulang 60 detik lagi
              </div>

              <v-btn
                data-cy="auth-form-login-submit"
                color="primary"
                block
                depressed
                :loading="isLoading"
                @click="login()"
              >
                Validasi OTP
              </v-btn>

              <v-card-text class="text-caption text-center">
                <div>
                  Dengan menggunakan aplikasi InaTTI maka anda sejutu dengan
                  <span class="deep-orange--text"> kebijakan aplikasi </span
                  >kami
                </div>

                <div class="text-caption text-center">
                  Perlu bantuan? Kunjungi
                  <a
                    href="https://inatti.id/help/"
                    target="_blank"
                    class="primary--text text-decoration-none"
                    >Pusan Bantuan</a
                  >
                  kami
                </div>
              </v-card-text>
            </v-form>
            <v-alert
              v-model="alert.isShow"
              data-cy="auth-form-login-alert"
              :type="alert.type"
              class="mt-3"
              dismissible
              outlined
              transition="scale-transition"
            >
              {{ alert.msg }}
            </v-alert>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog.isShow" width="500" persistent>
      <v-card :loading="dialog.isLoading">
        <v-card-title class="text-h5">
          <span>Ganti Nomor Hp (Whatsapp)</span> <v-spacer />
          <v-btn icon><v-icon>mdi-close</v-icon></v-btn>
        </v-card-title>

        <v-divider />

        <v-card-text class="pt-3">
          <v-text-field
            dense
            outlined
            hide-details="auto"
            prefix="+62"
            placeholder="1234567823"
          >
            <template v-slot:label>
              <div>
                No. HP (Whatsapp)<span class="red--text text--darken-2">*</span>
              </div>
            </template>
          </v-text-field>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="dialog.isShow = false"> Batal </v-btn>
          <v-btn color="success" @click="dialog.isShow = false"> Ok </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { UiCommonDialog } from '@inatti/shared/ui'
export default {
  auth: false,
  layout: 'blank',
  components: { UiCommonDialog },
  data() {
    return {
      otp: null,
      dialog: {
        isShow: false,
        isLoading: false,
      },
      isLoading: false,
      alert: {
        isShow: false,
        type: null,
        msg: null,
      },
      errorMap: {
        RoleUserNotFound: 'Akun anda tidak memiliki akses ke Aplikasi Apoteker',
        PasswordIncorrectException: 'Password yang anda masukkan salah',
        UserNotFoundException: 'User tidak ditemukan',
      },
    }
  },
  methods: {
    login() {
      // this.isLoading = true
      if (!this.otp) return
      console.log(this.otp)
      // this.$router.push('/information-apotek?isEdit=true')
      // this.isLoading = false
    },
    setAlert(msg, type = 'warning') {
      this.alert = {
        isShow: true,
        type,
        msg,
      }
    },
  },
}
</script>

<style></style>
