<template>
  <div>
    <v-row justify="center" align-content="start" align-content-md="center">
      <v-col lg="5" md="6" cols="12" class="my-5">
        <v-card class="ma-3">
          <v-card-title class="justify-center mb-6 mb-md-5">
            <img
              src="https://inatti.id/asset-app/inatti-v2.2-large.png"
              height="70vh"
              alt="Logo InaTTI"
              class="mt-6"
            />
          </v-card-title>
          <v-card-subtitle class="mt-1 mb-2">
            <div class="primary--text text-center text-h5">
              Daftar Akun Baru
            </div>
          </v-card-subtitle>
          <v-card-text>
            <div class="red--text text--darken-2 mb-3">* Wajib diisi</div>
            <v-form
              ref="loginForm"
              :disabled="isLoading"
              @submit="
                () => {
                  console.log(form)
                }
              "
            >
              <v-text-field
                v-model="form.name"
                data-cy="auth-form-login-field-name"
                placeholder="Masukkan nama lengkap"
                outlined
                :rules="[rules.required]"
                dense
                @keyup.enter="register()"
              >
                <template v-slot:label>
                  <div>
                    Nama Lengkap <span class="red--text text--darken-2">*</span>
                  </div>
                </template>
              </v-text-field>
              <v-text-field
                v-model="form.email"
                data-cy="auth-form-login-field-email"
                placeholder="Masukkan email"
                type="email"
                outlined
                :rules="[rules.required, rules.email]"
                dense
                @keyup.enter="register()"
              >
                <template v-slot:label>
                  <div>
                    Email <span class="red--text text--darken-2">*</span>
                  </div>
                </template>
              </v-text-field>
              <v-text-field
                v-model="form.phonenumber"
                data-cy="auth-form-login-field-phonenumber"
                placeholder="Masukkan no. hp (Whatsapp)"
                prefix="+62"
                outlined
                :rules="[rules.required, rules.numberOnly, rules.noWhitespace]"
                dense
                @keyup.enter="register()"
              >
                <template v-slot:label>
                  <div>
                    No. HP (Whatsapp)
                    <span class="red--text text--darken-2">*</span>
                  </div>
                </template>
              </v-text-field>
              <v-text-field
                v-model="form.username"
                data-cy="auth-form-login-field-username"
                placeholder="Masukkan username"
                outlined
                :rules="[rules.required, rules.noWhitespace]"
                dense
                @keyup.enter="register()"
              >
                <template v-slot:label>
                  <div>
                    Username <span class="red--text text--darken-2">*</span>
                  </div>
                </template>
              </v-text-field>
              <v-text-field
                v-model="form.password"
                data-cy="auth-form-login-field-password"
                placeholder="Masukkan password"
                :type="isShowPassword ? 'text' : 'password'"
                outlined
                :rules="[rules.required, rules.minCharacter]"
                dense
                :append-icon="
                  isShowPassword ? 'mdi-eye-off-outline' : 'mdi-eye'
                "
                @click:append="isShowPassword = !isShowPassword"
                @keyup.enter="register()"
              >
                <template v-slot:label>
                  <div>
                    Password <span class="red--text text--darken-2">*</span>
                  </div>
                </template>
              </v-text-field>
              <v-text-field
                v-model="passwordConfirm"
                data-cy="auth-form-login-field-password"
                placeholder="Masukkan password"
                :type="isShowPassword ? 'text' : 'password'"
                outlined
                :rules="[rules.required, rules.passwordConfirm]"
                hide-details="auto"
                dense
                :append-icon="
                  isShowPassword ? 'mdi-eye-off-outline' : 'mdi-eye'
                "
                @click:append="isShowPassword = !isShowPassword"
                @keyup.enter="register()"
              >
                <template v-slot:label>
                  <div>
                    Konfirmasi Password
                    <span class="red--text text--darken-2">*</span>
                  </div>
                </template>
              </v-text-field>
              <v-checkbox v-model="isAgree">
                <template v-slot:label>
                  <div>
                    Setuju dengan
                    <span class="primary--text">Kebijakan Aplikasi</span> InaTTi
                  </div>
                </template>
              </v-checkbox>
              <v-btn
                data-cy="auth-form-login-submit"
                color="primary"
                block
                :loading="isLoading"
                :disabled="!isAgree"
                to="/auth/otp"
              >
                Daftar
              </v-btn>

              <v-btn
                class="mt-3"
                color="primary"
                to="/login"
                text
                depressed
                block
              >
                Sudah punya akun? Login disini
              </v-btn>

              <v-card-text class="text-caption text-center">
                <div>
                  Dengan menggunakan aplikasi InaTTI maka anda sejutu dengan
                  <span class="deep-orange--text"> kebijakan aplikasi </span
                  >kami
                </div>

                <div class="text-caption text-center">
                  Perlu bantuan? Kunjungi
                  <a
                    href="https://inatti.id/help/"
                    target="_blank"
                    class="primary--text text-decoration-none"
                    >Pusan Bantuan</a
                  >
                  kami
                </div>
              </v-card-text>
            </v-form>
            <v-alert
              v-model="alert.isShow"
              data-cy="auth-form-login-alert"
              :type="alert.type"
              class="mt-3"
              dismissible
              outlined
              transition="scale-transition"
            >
              {{ alert.msg }}
            </v-alert>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  auth: false,
  layout: 'blank',
  data() {
    return {
      isAgree: false,
      form: {
        name: null,
        email: null,
        phonenumber: null,
        username: null,
        password: null,
      },
      passwordConfirm: null,
      isShowPassword: false,
      isLoading: false,
      alert: {
        isShow: false,
        type: null,
        msg: null,
      },
      errorMap: {
        RoleUserNotFound: 'Akun anda tidak memiliki akses ke Aplikasi Apoteker',
        PasswordIncorrectException: 'Password yang anda masukkan salah',
        UserNotFoundException: 'User tidak ditemukan',
      },
      rules: {
        required: (v) => !!v || 'Form ini harus diisi',
        email: (v) => /.+@.+\..+/.test(v) || 'Email tidak valid',
        numberOnly: (v) => !isNaN(parseInt(v)) || 'Hanya berupa angka',
        noWhitespace: (v) => !/\s/.test(v) || 'Tidak boleh ada spasi',
        minCharacter: (v) => (!!v && v.length > 7) || 'Minimal 8 karakter',
        passwordConfirm: (v) =>
          v == this.form.password || 'Konfirmasi password tidak valid',
      },
    }
  },
  methods: {
    register() {
      // this.isLoading = true
      if (!this.$refs.loginForm.validate()) return
      console.log(this.form)
      // this.isLoading = false
    },
    setAlert(msg, type = 'warning') {
      this.alert = {
        isShow: true,
        type,
        msg,
      }
    },
  },
}
</script>

<style></style>
