<template>
  <mobile-layout cl>
    <template #title>
      <mobile-appbar-title> Chat </mobile-appbar-title>
    </template>
    <v-row style="position: relative; top: -8px" class="px-3 mt-16">
      <div class="ref-photo" style="width: 100%">
        <img
          :src="
            consultant?.apotek?.logo
              ? consultant?.apotek?.logo
              : require('@/assets/images/media/image_not_available.png')
          "
          alt="gambar-apotek"
          height="250px"
          width="100%"
          style="object-fit: cover; position: relative; display: block"
        />
      </div>

      <div
        class="d-flex flex-row align-end"
        style="position: absolute; bottom: 20px; left: 25px"
      >
        <img
          :src="
            consultant.photo
              ? consultant.photo
              : require('@/assets/images/media/image_not_available.png')
          "
          alt="Apoteker Photo"
          width="100"
          height="100"
          class="rounded-lg"
          style="object-fit: cover"
        />
        <div class="ml-3 white--text">
          <div class="font-weight-bold text-subtitle-1 text-sm-h6">
            {{ consultant.name }}
          </div>
          <div class="text-caption text-sm-subtitle-1">
            {{ consultant.nomorSIPA }}
          </div>
        </div>
      </div>
    </v-row>

    <v-sheet color="white" class="mt-1">
      <v-col class="d-flex flex-column pa-5">
        <div
          class="text-body-1 font-weight-bold grey--text text--darken-3 mb-3"
        >
          <v-icon class="mr-2">mdi-face-agent</v-icon> Status Pelayanan
        </div>
        <div class="inattigreen--text font-weight-bold">
          {{ consultant.isActive ? 'Aktif Melayani' : 'Tidak Aktif' }}
        </div>
      </v-col>
    </v-sheet>

    <v-sheet class="mt-1 rounded-lg" outlined color="white">
      <v-col class="d-flex flex-column pa-5">
        <div
          class="text-body-1 font-weight-bold grey--text text--darken-3 mb-3"
        >
          <v-icon class="mr-2">mdi-whatsapp</v-icon> Kontak Whatsapp
        </div>
        <div>
          {{ consultant.phonenumber ? '+' + consultant.phonenumber : '-' }}
        </div>
      </v-col>
    </v-sheet>

    <v-sheet class="mt-1 rounded-lg" outlined color="white">
      <v-col class="d-flex flex-column pa-5">
        <div
          class="text-body-1 font-weight-bold grey--text text--darken-3 mb-3"
        >
          <v-icon class="mr-2">mdi-mortar-pestle-plus</v-icon> Apotek
        </div>
        <div>
          {{ consultant?.apotek?.name ? consultant?.apotek?.name : '-' }}
        </div>
      </v-col>
    </v-sheet>

    <v-row>
      <v-col>
        <div class="font-weight-bold grey--text text--darken-3 mx-5 my-3">
          Pasien
        </div>
        <div class="white px-5 py-3 text-body-2">
          <div class="d-flex justify-space-between mb-1">
            <div>
              <v-icon>mdi-account-outline</v-icon
              ><span
                class="ml-1 text-body-2 font-weight-bold grey--text text--darken-3"
                >{{ patient.name }}</span
              >
            </div>
            <v-icon>mdi-account</v-icon>
          </div>
          <div class="d-flex justify-space-between mb-1">
            <div>Tgl/Lahir</div>
            <div>{{ patient.datebirth }}</div>
          </div>
          <div class="d-flex justify-space-between">
            <div>Nik/ Passpor</div>
            <div>
              {{ patient.nik }}
            </div>
          </div>
        </div>
      </v-col>
    </v-row>

    <v-row
      class="mt-4 px-5 px-md-0"
      align="center"
      no-gutters
      dense
      justify="center"
    >
      <v-col>
        <v-btn color="#79892C" block @click="onClickChat" large>
          <v-icon color="white">mdi-chat</v-icon>
          <span class="white--text ml-2">Mulai Konsultasi</span>
        </v-btn>
      </v-col>
    </v-row>
  </mobile-layout>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { ApotekApi, PatientV2Api } from '@inatti/shared/api-nuxt'

@Component({
  layout: 'blank',
  middleware: ['telefarmasi'],
})
export default class PreviewComponent extends Vue {
  consultant = {}
  patient = {}

  async fetchConsultant() {
    try {
      this.consultant = await this.apotekApi.getConsultant(
        this.$store.state.telefarmasi.consultant
      )
    } catch (error) {}
  }

  async fetchApoteker() {
    // this.isLoading = true
    try {
      const resp: any = await this.apotekApi.getApotekerDetails(
        this.$store.state.telefarmasi.consultant
      )
      this.consultant = resp
    } catch (error) {
    } finally {
      // this.isLoading = false
    }
  }

  alert = {
    isShow: false,
    msg: '',
    type: '',
  }
  showAlert(type: any, msg: any) {
    this.alert = {
      type,
      isShow: true,
      msg,
    }
  }
  patientV2Api!: PatientV2Api
  async fetchPatient() {
    const resp = await this.patientV2Api.getPatientDetailsById(
      this.$store.state.telefarmasi.patient
    )
    this.patient = resp
  }

  async onClickChat() {
    try {
      const resp = await this.apotekApi.getWhatsappPreMessage(
        this.$store.state.telefarmasi.patient,
        this.$store.state.telefarmasi.consultant
      )
      this.$store.commit('telefarmasi/reset')
      window.location.href = resp.urlWhatsapp
    } catch (error: any) {
      this.showAlert(
        'warning',
        'Gagal Update Informasi Apotek. ' + error.response?.data?.message
      )
    }
  }

  apotekApi!: ApotekApi

  mounted() {
    this.apotekApi = new ApotekApi(this.$axios)
    this.patientV2Api = new PatientV2Api(this.$axios)
    this.$route.query['from-apoteker']
      ? this.fetchApoteker()
      : this.fetchConsultant()
    this.fetchPatient()
  }
}
</script>

<style>
.ref-photo {
  position: relative;
  display: inline-block;
}
.ref-photo::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0.65)),
    color-stop(100%, rgba(0, 0, 0, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
</style>
