<template>
  <div class="mt-toolbar">
    <page-testcovid-toolbar-edit-test />

    <div class="grey lighten-4 pt-14">
      <page-testcovid-regis-content head-text="Faskes dan produk terpilih">
        <v-row class="py-3 px-6">
          <v-col cols="8">
            <div class="subtitle-2 font-weight-regular">
              {{ faskesStore.name ? faskesStore.name : 'Faskes' }}
            </div>
            <div class="caption font-weight-light">
              {{ productStore.name ? productStore.name : 'Deskripsi Produk' }}
            </div>
            <div
              v-if="productStore.description"
              class="caption font-weight-light"
            >
              {{ productStore.description }}
            </div>
          </v-col>
          <v-col class="subtitle-2 text-right">
            {{ $utils.toIdr(productStore.price) }}
          </v-col>
        </v-row>
      </page-testcovid-regis-content>

      <page-testcovid-regis-content head-text="Detail Pasien">
        <div
          v-for="(patient, index) in patientsStore"
          :key="index"
          class="d-flex justify-space-between align-center"
        >
          <page-testcovid-list-regis-content
            data-cy="patient-item-register-testcovid"
            style="width: 100%"
            :icon="patient.name ? 'mdi-account' : 'mdi-account-outline'"
            :name="patient.name ? patient.name : `Pasien ${index + 1}`"
            :color="patient.name ? 'blue-grey darken-2' : 'orange darken-3'"
            :link-to="getDetailPatientLink(patient, index)"
          />
          <div class="pr-5">
            <v-btn
              color="red lighten-2"
              text
              icon
              @click="openDeleteDialog(index)"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </div>
        </div>
        <page-testcovid-list-add-patient
          @click="$store.commit('testcovid/addAmountPatient')"
        />
      </page-testcovid-regis-content>
      <v-row class="pb-3">
        <v-col class="px-6">
          <v-btn
            :disabled="isIncompletePatients() || isNoPatientStore()"
            color="warning"
            data-cy="btn-submit-list-patien-registered-testcovid-register"
            block
            class="text-capitalize font-weight-light"
            to="/testcovid/register/review"
            >Lanjutkan</v-btn
          >
        </v-col>
      </v-row>
      <v-dialog v-model="deleteDialog" max-width="290">
        <v-card>
          <v-card-title class="text-h5"> Konfirmasi </v-card-title>

          <v-card-text>
            Apakah Anda Yakin Ingin Menghapus Pasien ?
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="green darken-1" text @click="closeDeleteDialog">
              Batal
            </v-btn>

            <v-btn
              color="red darken-1"
              text
              @click="
                {
                  $store.commit(
                    'testcovid/deletePatientAtIndex',
                    selectedDelete
                  )
                  closeDeleteDialog()
                }
              "
            >
              Hapus
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
export default {
  auth: false,
  layout: 'testcovid/register',
  data() {
    return {
      pemesan: null,
      deleteDialog: false,
      selectedDelete: '',
    }
  },
  computed: {
    faskesStore() {
      return this.$store.state.testcovid.faskes.faskes ?? {}
    },
    patientsStore() {
      return this.$store.state.testcovid.patients
    },
    productStore() {
      return this.$store.state.testcovid.faskes.product ?? {}
    },
    registererStore() {
      return this.$store.state.testcovid.registerer ?? {}
    },
  },
  mounted() {
    this.getRegistererAccount()
  },
  methods: {
    openDeleteDialog(index) {
      this.deleteDialog = true
      this.selectedDelete = index
    },
    closeDeleteDialog() {
      this.deleteDialog = false
      this.selectedDelete = ''
    },
    getRegistererAccount() {
      if (this.registererStore.name) return true

      if (this.$auth.user) {
        const user = this.$auth.user

        this.$store.commit('testcovid/setRegisterer', {
          name: user.fullname,
          phonenumber: user.phoneNumber,
          email: user.email,
        })
      }
    },
    isNoPatientStore() {
      if (this.patientsStore.length > 0) return false
      return true
    },
    isIncompletePatients() {
      return !this.isCompletePatients()
    },
    isCompletePatients() {
      // every patients must have name
      return this.patientsStore.every((v) => !!v.name)
    },
    getDetailPatientLink(patient, index) {
      if (patient.name || !this.$auth.loggedIn)
        return `/testcovid/register/patient/${index}`
      return `/testcovid/register/patient/${index}/available-relations`
    },
  },
}
</script>

<style>
@media only screen and (max-width: 959px) {
  .v-stepper:not(.v-stepper--vertical) .v-stepper__label {
    display: flex !important;
  }
}

.patient-list {
  text-decoration: none;
  border-bottom: 4px solid #f5f5f5 !important;
}
.patient-list:last-of-type {
  border: none !important;
}
</style>
