<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title>
        Pendaftaran
        <div>
          <common-stepper />
        </div>
      </mobile-appbar-title>
    </template>

    <page-testcovid-regis-content
      head-text="Data Pemesan"
      class="mt-toolbar pt-2 white mb-3 px-3"
    >
      <v-row class="px-5 mt-2">
        <v-col cols="12">
          <v-text-field
            v-model="name"
            readonly
            label="Nama Lengkap"
            required
            hint="Nama Lengkap Sesuai KTP "
            outlined
            dense
            persistent-hint
          ></v-text-field>
          <v-text-field
            v-model="phoneNumber"
            readonly
            dense
            outlined
            label="No. Telepon / Whatsappp"
          ></v-text-field>
          <v-text-field
            v-model="email"
            readonly
            dense
            outlined
            label="E-Mail"
          ></v-text-field>
          <v-alert type="info" text>
            Kami akan mengirimkan konfirmasi pesanan anda ke
            telepon/whatsapp/email anda untuk Informasi Jadwal test
          </v-alert>
        </v-col>
      </v-row>
      <div>
        <v-btn
          block
          depressed
          color="warning"
          class="subtitle-1 text-capitalize"
          @click="clicked()"
          >Simpan</v-btn
        >
      </div>
    </page-testcovid-regis-content>
  </mobile-layout>
</template>

<script>
export default {
  layout: 'blank',
  data: () => ({
    name: '',
    phoneNumber: '',
    email: '',
    rules: {
      name: [(v) => !!v || 'Nama harus diisi.'],
      phone: [
        (v) => !!v || 'No. Telepon / WA harus diisi.',
        (v) => (v || '').length <= 12 || 'Maksimum 12 digit.'
      ],
      email: [
        (v) => !!v || 'E-mail harus diisi.',
        (v) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Email tidak valid.'
        }
      ]
    }
  }),
  mounted() {
    this.name = this.$store.state.testcovid.registerer.name
    this.phoneNumber = this.$store.state.testcovid.registerer.phoneNumber
    this.email = this.$store.state.testcovid.registerer.email
  },
  methods: {
    clicked() {
      const registerer = {
        name: this.name,
        phoneNumber: this.phoneNumber,
        email: this.email
      }
      this.$store.commit('testcovid/setRegisterer', registerer)

      this.$router.push('/testcovid/register')
    }
  }
}
</script>
