<template>
  <div>
    <v-row class="mt-toolbar mb-16">
      <v-col cols="12">
        <page-testcovid-regis-content head-text="Layanan">
          <v-row class="py-3 px-6">
            <v-col cols="8">
              <div class="subtitle-2 font-weight-regular">
                {{
                  productStore
                    ? productStore.product
                      ? productStore.product.name
                      : ''
                    : ''
                }}
                Test
              </div>
              <div class="subtitle-1 font-weight-regular">
                {{ faskesStore ? faskesStore.name : '' }}
              </div>
              <div class="subtitle-1 font-weight-bold">Same Day</div>
            </v-col></v-row
          >
        </page-testcovid-regis-content>
        <page-testcovid-regis-content head-text="Harga">
          <v-row class="py-3 px-6">
            <v-col cols="12" class="pb-4">
              <div class="d-flex justify-center align-center flex-column">
                <span class="subtitle-1 font-weight-medium">Total</span>
                <span class="text-h5 font-weight-regular">
                  {{ getTotalBayar() }}</span
                >
              </div>
              <v-divider class="mt-2"></v-divider> </v-col
          ></v-row>
        </page-testcovid-regis-content>
        <page-testcovid-regis-content
          head-text="Data Pemesan (Untuk invoice / id order)"
        >
          <div
            v-for="(patient, index) in patientsStore"
            :key="index"
            style="border-bottom: 4px solid #f5f5f5"
          >
            <page-testcovid-list-regis-content
              icon="mdi-email-outline"
              :name="patient.name ? patient.name : `Pasien ${index + 1}`"
              :add-patient-list="patient.addPatientList"
            />
          </div>
        </page-testcovid-regis-content>
        <page-testcovid-regis-content head-text="Metode Bayar">
          <div style="width: 100%" class="d-flex justify-center align-start">
            <v-radio-group
              v-model="paymentOptionSelected"
              style="width: 90%"
              column
            >
              <v-radio
                v-if="isMethodCashAvailable()"
                label="Cash"
                color="blue"
                value="1"
              ></v-radio>
              <v-radio
                v-if="isMethodTransferAvailable()"
                label="Transfer"
                color="blue"
                value="2"
              ></v-radio>
            </v-radio-group>
          </div>
          <div v-if="paymentOptionSelected === 1">
            Total : {{ getTotalBayar() + feeCash }}
          </div>
        </page-testcovid-regis-content>
        <v-col cols="12" class="mt-3" v-if="paymentOptionSelected === '2'">
          <v-expansion-panels>
            <v-expansion-panel>
              <v-expansion-panel-header>
                Daftar Bank, VA, QR, E-Wallet
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-sheet class="d-flex flex-wrap">
                  <v-sheet
                    v-for="n in 12"
                    :key="n"
                    width="30%"
                    class="text-center"
                  >
                    <img
                      class="px-3 my-1"
                      :src="require(`~/assets/images/payment/image_${n}.svg`)"
                    />
                  </v-sheet>
                </v-sheet>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>
      </v-col>
      <v-col v-if="errorPayment.isShow" cols="12">
        <v-alert
          v-model="errorPayment.isShow"
          type="warning"
          dismissible
          dense
          outlined
        >
          {{ errorPayment.message }}
        </v-alert>
      </v-col>
      <v-col cols="12" class="px-6 grey ma-0 lighten-4">
        <v-checkbox
          v-if="!$auth.loggedIn"
          v-model="isAgree"
          data-cy="btn-checklist-term-and-privacy-policy"
        >
          <template #label>
            <span>
              Dengan menggunakan layanan ini, berarti Anda telah menyetujui
              <a href="https://www.inatti.id/inatti-user/kebijakanInaTTI.html">
                Kebijakan dan Privasi
              </a>
              penggunaan InaTTI.
            </span>
          </template>
        </v-checkbox>
      </v-col>
      <v-col cols="12" class="px-6 grey ma-0 lighten-4">
        <v-btn
          :disabled="!$auth.loggedIn && !isAgree"
          block
          data-cy="btn-submit-pay-testcovid-register-payment"
          color="warning"
          class="subtitle-1 text-capitalize font-weight-regular"
          :loading="isLoadingPayment"
          @click="clicked"
        >
          Bayar
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { TransactionApi } from '@inatti/shared/api-nuxt'

export default {
  auth: false,
  layout: 'testcovid/register',
  data() {
    return {
      paymentOptionSelected: '1',
      isLoadingPayment: false,
      errorPayment: {
        isShow: false,
        message: null,
      },
      isAgree: false,
      transactionApi: null,
      isTransferAvailable: false,
    }
  },
  async created() {
    this.transactionApi = new TransactionApi(this.$axios)
    await this.checkRefTransferAvailable()
  },
  computed: {
    faskesStore() {
      return this.$store.state.testcovid.faskes.faskes ?? {}
    },
    patientsStore() {
      return this.$store.state.testcovid.patients
    },
    productStore() {
      return this.$store.state.testcovid.faskes.product ?? {}
    },
    typeTestStore() {
      return this.$store.state.testcovid.typeTest ?? {}
    },
    registererStore() {
      return this.$store.state.testcovid.registerer ?? {}
    },
  },
  methods: {
    isMethodCashAvailable() {
      // if empty or length is 0
      if (
        !this.productStore.methodPayments ||
        this.productStore.methodPayments.length < 1
      ) {
        return true
      }
      const isShow = this.productStore.methodPayments.includes('Cash')
      if (!isShow) {
        return false
      }
      return true
    },
    isMethodTransferAvailable() {
      if(!this.isTransferAvailable) return false
      if (
        this.productStore.methodPayments &&
        this.productStore.methodPayments.length > 0
      ) {
        const isShow = this.productStore.methodPayments.includes('Transfer')
        return isShow
      }
      return true;
    },
    async checkRefTransferAvailable() {
      const response = await this.transactionApi.getRefIntegrated(
        this.faskesStore.id
      )
      this.isTransferAvailable = response.isLive
    },
    getTotalBayar() {
      const product = this.$store.state.testcovid.faskes?.product ?? 0
      const patients = this.$store.state.testcovid.patients ?? []

      const fee = 0

      return this.$utils.toIdr(product.price * patients.length + fee)
    },
    async clicked() {
      this.isLoadingPayment = true
      try {
        const resp = await this.$store.dispatch('testcovid/createPayment', {
          type: this.paymentOptionSelected === '1' ? 'Cash' : 'Transfer',
        })
        const orderId = resp.trx.id
        this.$store.commit('testcovid/resetState')
        if (this.paymentOptionSelected === '1')
          this.$router.push(`/testcovid/register/success?orderId=${orderId}`)
        window.location.href = resp.trxTransfer.urlRedirect
      } catch (error) {
        this.errorPayment.isShow = true
        this.errorPayment.message =
          error?.response?.data?.message ?? 'Gagal menyimpan pembayaran'
      }
      this.isLoadingPayment = false
    },
  },
}
</script>
