<template>
  <div>
    <v-row class="white my-0">
      <v-col cols="12">
        <page-testcovid-regis-content head-text="Klinik">
          <v-row>
            <v-col cols="12" class="pb-0">
              <img
                :src="require('~/assets/images/place.png')"
                width="100%"
                height="160px"
                style="object-fit: cover; object-position: center"
              />
            </v-col>
            <v-col cols="12" class="pt-2 pb-6 px-9">
              <table width="100%">
                <tbody>
                  <tr>
                    <td colspan="2" class="body-1">
                      {{ faskesStore.name }}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right body-2">{{ productStore.name }}</td>
                  </tr>
                  <tr>
                    <td
                      colspan="2"
                      class="text-right subtitle-2 grey--text text--darken-3"
                    >
                      {{ $utils.toIdr(productStore.price) }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </v-col>
          </v-row>
        </page-testcovid-regis-content>
      </v-col>
      <v-col cols="12">
        <page-testcovid-regis-content head-text="Pasien">
          <div
            v-for="(patient, index) in patientsStore"
            :key="index"
            style="border-bottom: 4px solid #f5f5f5"
          >
            <page-testcovid-list-regis-content
              :icon="patient.icon"
              :name="patient.name ? patient.name : `Pasien ${index + 1}`"
              :add-patient-list="patient.addPatientList"
              link-to="#"
            />
          </div>
        </page-testcovid-regis-content>
      </v-col>
      <v-col cols="12">
        <page-testcovid-regis-content head-text="Harga">
          <div class="py-3 px-6 pb-0">
            <table width="100%" Style="border-collapse: collapse">
              <tbody>
                <tr class="py-2">
                  <td class="body-2" v-if="productStore.product.id !== 3">{{productStore.product.name}} Test</td>
                  <td class="body-2" v-else>Produk {{productStore.product.name}}</td>
                  <td class="subtitle-2 text-right font-weight-regular">
                    {{ $utils.toIdr(productStore.price) }}
                  </td>
                </tr>
                <tr class="py-2">
                  <td class="body-2">Pasien</td>
                  <td class="subtitle-2 text-right font-weight-regular">
                    {{ patientsStore.length }} x
                    {{ $utils.toIdr(productStore.price) }}
                  </td>
                </tr>
                <tr class="py-2" style="border-top: 1px solid #bdbdbd">
                  <td class="body-2 font-weight-bold">Total</td>
                  <td class="subtitle-2 text-right">
                    {{
                      $utils.toIdr(productStore.price * patientsStore.length)
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="caption text--secondary pt-1 pb-2 px-6">
            * Harga Sudah Termasuk Pajak
          </div>
        </page-testcovid-regis-content>
      </v-col>
      <v-col cols="12" class="px-6 grey lighten-4">
        <v-btn
          block
          data-cy="btn-submit-preview-order-testcovid-register"
          color="warning"
          class="subtitle-1 text-capitalize font-weight-regular"
          to="/testcovid/register/payment"
        >
          Pilih metode bayar
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  auth: false,
  layout: 'testcovid/register',
  data: () => ({
    testPackages: ['Same Day', '1-2 Day'],
    testPackage: 'Same Day',
    patientDetailLists: [],
  }),
  computed: {
    faskesStore() {
      return this.$store.state.testcovid.faskes.faskes ?? {}
    },
    productStore() {
      return this.$store.state.testcovid.faskes.product ?? {}
    },
    patientsStore() {
      return this.$store.state.testcovid.patients ?? []
    },
    registererStore() {
      return this.$store.state.testcovid.registerer ?? {}
    },
  },
}
</script>
