<template>
  <mobile-layout :app-bar="false">
    <v-row class="mt-0 mb-16">
      <v-col
        class="py-0 d-flex justify-center flex-column align-center"
        style="height: 70vh"
        cols="12"
      >
        <div
          style="width: 90%; text-align: center"
          class="d-flex justify-center align-center flex-column"
        >
          <v-img
            style="width: 35%"
            :src="require('~/assets/icons/Success_transaction.svg')"
          >
          </v-img>
          <span class="mt-10 text-h6"> Selamat Pesanan Berhasil </span>
          <span
            style="width: 75%"
            class="mt-4 text-subtitle-2 font-weight-light"
          >
            Terima Kasih atas kepercayaan anda pada InaTTI. Anda dapat memeriksa
            jadwal test COVID anda di bawah ini
          </span>
          <div style="width: 80%">
            <v-btn color="success" block class="mt-4" @click="clicked"
              >Cek Jadwal Anda</v-btn
            >
          </div>
        </div>
      </v-col>
    </v-row>
  </mobile-layout>
</template>

<script>
export default {
  auth: false,
  name: 'Success',
  methods: {
    clicked() {
      const { orderId } = this.$route.query
      this.$router.push(`/testcovid/order/detail/${orderId}`)
    },
  },
}
</script>
