<template>
  <div>
    <common-toolbar>
      <div>Detail Pasien</div>
    </common-toolbar>
    <feature-telefarmasi-database-patient-detail
      :is-add="false"
      :branch-id="$route.query.apotekId"
      :patient-id="patientId"
      :readonly="true"
      :isApotek="false"
    >
    <template #pmr-history-card-item-action="{ data }">
        <v-btn
          :to="`/pmr/${data.id}?patientId=${$route.params.id}&apotekId=${$route.query.apotekId}`"
          color="primary"
          small
        >
          <v-icon small>mdi-eye</v-icon>
          <span class="ml-2">Rincian PMR</span></v-btn
        >
      </template>
    </feature-telefarmasi-database-patient-detail>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class PatientForm extends Vue {
  get patientId() {
    return this.$route.params.id ? this.$route.params.id : ''
  }
}
</script>

<style></style>
