<template>
  <div>
    <feature-telefarmasi-database-patient-list
      ref="uiCorePatientList"
      :customQuery="query"
      :role="role"
    >
      <template #additionalFilter>
        <v-row justify="end" dense>
          <v-col cols="12" md="6">
            <ui-form-select-apotek-grup
              v-model="query.filter.apotekGroup"
              :is-headoffice="true"
              @input="onChangeFilter"
              :apotek-group-ist="apotekGroupList"
            />
          </v-col>
          <v-col cols="12" md="6">
            <ui-form-select-apotek
              :apotek-group="query.filter.apotekGroup"
              @input="onChangeFilter"
              v-model="query.filter.apotek"
              multiple
              hide-details
            />
          </v-col>
        </v-row>
      </template>
    </feature-telefarmasi-database-patient-list>
  </div>
</template>

<script lang="ts">
import { TelepharmacyRolesEnum } from '@inatti/shared/api-nuxt';
import { Component, Vue } from 'nuxt-property-decorator';
import { FeatureTelefarmasiDatabasePatientList } from '@inatti/features/telefarmasi';
import { UiFormSelectApotek, UiFormSelectApotekGrup } from '@inatti/shared/ui';

@Component({
  components: {
    FeatureTelefarmasiDatabasePatientList,
    UiFormSelectApotek,
    UiFormSelectApotekGrup,
  },
})
export default class PatientListPage extends Vue {
  query = {
    filter: {
      apotek: [],
      apotekGroup: [],
    },
  };
  patientListComponent = null as any;
  apotekGroupList = [];

  role = TelepharmacyRolesEnum.headoffice;

  mounted() {
    const homecare = this.$route.query.homecare as string;
    this.patientListComponent = this.$refs.uiCorePatientList;
    if (homecare) {
      const homecareItems = this.patientListComponent.homecareItems;
      this.patientListComponent.homecare.push(homecareItems[homecare].value);
      this.patientListComponent.fetchData();
    }
  }

  arrayIsNull(array: any[]) {
    if(!array) return false;
    if(array.length === 0) return false;
    return true;
  }

  onChangeFilter() {
    this.patientListComponent.fetchData();
  }
}
</script>
