<template>
  <ui-table-pagination-filter
    v-model="dataResult"
    :isShowFilter="false"
    search
    search-hint="Cari berdasarkan Nama atau NIK"
    @change="fetchPatient"
  >
    <div class="my-3">
      <slot name="actions" :selected="selectedRow" />
    </div>
    <div class="d-flex py-3 justify-end align-center" style="width: 100%">
      <v-btn
        :loading="isLoadingDownloadExcel"
        @click="onDownloadExcel"
        color="primary"
      >
        DOWNLOAD EXCEL
      </v-btn>
    </div>
    <v-data-table
      v-model="selectedRow"
      :headers="patientTableHeader"
      :items="patientItems"
      :loading="isLoading"
      hide-default-footer
      disable-pagination
      @toggle-select-all="selectAllRow"
      show-select
      item-key="id"
      :item-class="getItemClass"
    >
      <template #[`item.data-table-select`]="{ item, isSelected, select }">
        <v-simple-checkbox
          :value="isSelected"
          :disabled="disableRowSelect(item)"
          @input="select($event)"
        ></v-simple-checkbox>
      </template>
      <template #[`item.customColumn1`]="{ item }">
        <div>
          <strong>
            {{ item.customColumn1.name }}
          </strong>
        </div>
        <div>
          {{ item.customColumn1.gender }}
        </div>
      </template>
      <template #[`item.customColumn2`]="{ item }">
        <common-chip-payment
          v-if="item.customColumn2.statusOrder"
          label
          small
          :status="item.customColumn2.statusOrder"
        />
        <div>
          {{ item.customColumn2.method }}
        </div>
      </template>
      <template #[`item.customColumn3`]="{ item }">
        <div>
          <common-chip-status-vaksin
            v-if="item.statusVaksin"
            label
            small
            :status="item.statusVaksin"
          />
        </div>
        <div>
          {{ item.customColumn3.dateTest }}
        </div>
      </template>
      <template #[`item.notify`]="{ item }">
        <div
          v-if="item.notify"
          :class="
            item.notify.status === 'failed'
              ? 'red--text'
              : 'green--text'
          "
        >
          <div>
            {{ item.notify.status }}
          </div>
          <div>
            {{ item.notify.message }}
          </div>
        </div>
      </template>
      <template #[`item.action`]="{ item }">
        <v-btn :to="`/vaksinasi/` + item.id" icon>
          <v-icon> mdi-eye </v-icon>
        </v-btn>
      </template>
    </v-data-table>
  </ui-table-pagination-filter>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { UiTablePaginationFilter } from '@inatti/shared/ui'
import {
  VaksinApi,
  StatusVaksinMapping,
  PatientVaksinDetailDto,
  StatusVaksinEnum,
} from '@inatti/shared/api-nuxt'
import { DataTableHeader } from 'vuetify/types/index'
import {
  GenderEnum,
  MethodPaymentEnum,
  StatusOrderEnum,
} from '@inatti/shared/dtos'

interface TablePatientItem {
  id: string
  customColumn1: {
    name: string
    gender: GenderEnum | string | null
  }
  passport: string
  nik: string
  datebirth: Date | string
  customColumn2: {
    statusOrder: StatusOrderEnum | string
    method: MethodPaymentEnum
  }
  statusVaksin: StatusVaksinEnum | string
  customColumn3: {
    dateTest: Date | string
  }
  notify: PatientVaksinDetailDto.Notify
  createdAt: Date | string
}

@Component({ components: { UiTablePaginationFilter } })
export default class ListPatientComponent extends Vue {
  @Prop()
  filterStatus!: string[]
  @Prop()
  typeTable!: string

  get selectedStatus() {
    return this.filterStatus[0]
  }

  patientTableHeader = [
    {
      text: 'Pasien',
      value: 'customColumn1',
      sortable: false,
    },
    {
      text: 'No. Passport',
      value: 'passport',
      sortable: false,
    },
    {
      text: 'NIK',
      value: 'nik',
      sortable: false,
    },
    {
      text: 'Tanggal Lahir',
      value: 'datebirth',
      sortable: false,
    },
    {
      text: 'Status Bayar',
      value: 'customColumn2',
      sortable: false,
    },
    {
      text: 'Status & Tanggal Test',
      value: 'customColumn3',
      sortable: false,
    },
    {
      text: 'Tanggal Dibuat',
      value: 'createdAt',
      sortable: false,
    },
    {
      text: 'Status kirim whatsapp',
      value: 'notify',
    },
    {
      text: 'Aksi',
      value: 'action',
      sortable: false,
    },
  ] as DataTableHeader[]
  selectedRow = []
  patientItems = [] as TablePatientItem[]
  activeSelectRowCount = 0
  dataResult = {}
  currentQuery = null
  isLoading = true
  $utils: any
  vaksinApi = new VaksinApi(this.$axios)
  isLoadingDownloadExcel = false

  @Watch('filterStatus')
  refetchPatient() {
    this.fetchPatient(this.currentQuery)
  }

  async onDownloadExcel() {
    try {
      this.isLoadingDownloadExcel = true
      const refId = this.$route.query.refId as string
      const resp = await this.vaksinApi.downloadExcel(refId, {
        ...this.currentQuery,
        'filter[status]': this.selectedStatus,
      })
      this.$utils.saveFile({
        byteArray: resp,
        fileName: `Pasien_${this.typeTable}_${this.$utils.dateTimeFormat(
          new Date()
        )}`,
        extension: 'xlsx',
      })
    } catch (error) {
    } finally {
      this.isLoadingDownloadExcel = false
    }
  }

  async fetchPatient(params: any = {}) {
    this.currentQuery = params
    try {
      this.isLoading = true
      const refId = this.$store.state.refStore.refId
      const result = await this.vaksinApi.getByRef(refId, {
        ...params,
        'filter[status]': this.selectedStatus,
      })
      this.dataResult = result
      this.patientItems = this.parseToTable(result.results)
    } finally {
      this.isLoading = false
    }
  }

  disableRowSelect(item: TablePatientItem) {
    if (this.typeTable === 'checkin' && item.statusVaksin !== 'registered') {
      return true
    }
    if (this.typeTable === 'vaccine' && item.statusVaksin !== 'checkin') {
      return true
    }
    if (
      this.typeTable === 'notification' &&
      item.statusVaksin === 'registered'
    ) {
      return true
    }
    return false
  }

  selectAllRow(props: any) {
    if (this.activeSelectRowCount === this.selectedRow.length) {
      this.selectedRow = []
      return
    }
    const data = props.items.reduce((prev: any, curr: TablePatientItem) => {
      if (this.typeTable === 'checkin' && curr.statusVaksin === 'registered') {
        prev = [...prev, curr]
      }
      if (this.typeTable === 'vaccine' && curr.statusVaksin === 'checkin') {
        prev = [...prev, curr]
      }
      if (
        this.typeTable === 'notification' &&
        curr.statusVaksin !== 'registered'
      ) {
        prev = [...prev, curr]
      }
      return prev
    }, [])
    this.selectedRow = data
  }

  parseToTable(data: any[]) {
    this.activeSelectRowCount = 0
    let patientTableData: TablePatientItem[] = []
    for (let i = 0; i < data.length; i++) {
      const item: PatientVaksinDetailDto.VaksinDetail = data[i]
      patientTableData.push({
        id: item.id,
        customColumn1: {
          name: item.patient?.name,
          gender: item.patient?.gender,
        },
        passport: item.patient?.passport,
        nik: item.patient?.nik,
        datebirth: item.patient?.datebirth,
        customColumn2: {
          statusOrder: item.orderTrx?.status,
          method: item.orderTrx?.method,
        },
        statusVaksin: item.vaksinDateAt
          ? 'vaccine'
          : item.checkinDateAt
          ? 'checkin'
          : 'registered',
        customColumn3: {
          dateTest: item.vaksinDateAt
            ? new Date(item.vaksinDateAt.toString()).toLocaleString()
            : null,
        },
        notify: item.notify,
        createdAt: new Date(item.createdAt.toString()).toLocaleString(),
      })
      if (this.typeTable === 'checkin' && !item.checkinDateAt) {
        this.activeSelectRowCount++
      }
      if (this.typeTable === 'vaccine' && !item.vaksinDateAt) {
        this.activeSelectRowCount++
      }
      if (
        this.typeTable === 'notification' &&
        item.checkinDateAt &&
        item.vaksinDateAt
      ) {
        this.activeSelectRowCount++
      }
    }
    return patientTableData
  }

  created() {
    this.fetchPatient({
      'filter[date]': 'today',
    })
  }

  resetSelectedRow() {
    this.selectedRow = []
  }

  statusVaksinMapping: any = StatusVaksinMapping

  getItemClass(item: any) {
    let data = this.statusVaksinMapping[item.statusVaksin]
    if (!data) return null

    let color = data.color

    if (!color) return null
    if (color.split(' ').length > 0) {
      const colorSplit = color.split(' ')
      color = colorSplit[0] + '--text text--' + colorSplit[1]
    } else {
      color = color + '--text'
    }
    return color
  }
}
</script>

<style></style>
