<template>
  <ui-container-layout
    brand-image="https://inatti.id/asset-app/inatti-v2.2-large.png"
    brand-title="Faskes Grup"
  >
    <template #sidebar-menu>
      <ui-container-menu-navigation :menu-items="menus" />
    </template>
    <template #appbar-sidetool>
      <ui-container-menu-account :currentBranch="roleName" />
    </template>
  </ui-container-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class DefaultLayout extends Vue {
  menus = [
    {
      child: [
        {
          icon: 'mdi-apps',
          title: 'Dashboard',
          to: '/',
        },
      ],
    },
    
    {
      title: 'Management',
      child: [
        {
          icon: 'mdi-information',
          title: 'Management User',
          to: '/users',
          allow: 'manage:user'
        },
        {
          icon: 'mdi-information',
          title: 'Unit Bisnis',
          to: '/businesses',
        },
      ],
    },
    {
      title: 'Apotek',
      child: [
        {
          icon: 'mdi-mortar-pestle-plus',
          title: 'Management Apotek',
          to: '/apotek',
        }
      ],
    },
    {
      title: 'Konsultasi dan Pasien',
      child: [
        {
          icon: 'mdi-table-account',
          title: 'Database Pasien',
          to: '/patient',
          allow: '',
        },
        {
          icon: 'mdi-table-large',
          title: 'Database PMR',
          to: '/pmr',
          allow: '',
        },
      ],
    },
    {
      title: 'Akun',
      child: [
        {
          icon: 'mdi-account-cog',
          title: 'Pengaturan Akun',
          to: '/account/setting',
        },
      ],
    },
  ]
  mounted() {}

  get roleName() {
    return this.$store.state.permission.roleName
  }
}
</script>

<style>
.text-style {
  position: relative;
  top: 2.5px;
  font-size: 1.5rem;
  color: #7a892a;
}
</style>
