<template>
  <v-card outlined>
    <v-card-title
      ><span class="subtitle-2">{{ title }}</span></v-card-title
    >
    <v-card-text>
      <span style="white-space: pre-line">{{
        isReadMore ? value : value.slice(0, maxLength)
      }}</span>
      <span v-if="value.length > maxLength && !isReadMore">...</span>
    </v-card-text>
    <v-card-actions>
      <v-btn
        v-if="value.length > maxLength"
        small
        color="primary"
        text
        @click="isReadMore = !isReadMore"
      >
        {{ isReadMore ? 'Lebih Sedikit' : 'Baca Selengkapnya' }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
@Component
export default class CardContent extends Vue {
  @Prop({
    type: String,
    default: '',
  })
  value!: ''
  @Prop({
    type: String,
    default: '',
  })
  title!: ''
  @Prop({
    type: Number,
    default: 300,
  })
  maxLength!: 0

  isReadMore = false
}
</script>
