<template>
  <div
    style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; margin-right: 7px"
    class="d-flex justify-space-between align-center flex-row px-3 py-2"
  >
    <div class="d-flex justify-start align-start flex-column">
      <span style="font-size:12px" class="font-weight-medium">{{ name }}</span>
      <span class="font-weight-medium text-subtitle-2">{{
        value
      }}</span>
    </div>
    <v-icon color="black">
      {{ icon }}
    </v-icon>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
@Component
export default class CardInfo extends Vue {
  @Prop({
    type: String,
    default: '',
  })
  icon!: ''
  @Prop({
    type: String,
    default: '',
  })
  value!: ''
  @Prop({
    type: String,
    default: '',
  })
  name!: ''
}
</script>
