<template>
  <v-chip :color="chipColor">
    {{chipText}}
  </v-chip>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component
export default class ChipValidation extends Vue {
    @Prop({type: String, default: ''})
    status: string

    get chipColor() {
        if(this.status === 'APPROVED' || this.status === 'REJECTED') {
            return this.status === 'APPROVED' ? 'success' : 'error'
        } else return 'gray'
    }

    get chipText() {
        if(!this.status) return 'Menunggu validasi'
        return this.status.charAt(0) + this.status.slice(1).toLowerCase()
    }
}
</script>

<style>

</style>