<template>
  <div class="text-center">
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          :outlined="outlined"
          :max-width="maxWidth"
          :min-width="minWidth"
          v-bind="attrs"
          v-on="on"
        >
          <v-icon class="mr-2">{{ icon }}</v-icon
          >{{ title }}
        </v-btn>
      </template>
      <v-list>
        <v-list-item v-if="!items.length"> No contacts found! </v-list-item>
        <v-list-item v-else v-for="(item, index) in items" :key="index">
          <v-list-item-title
            @click="
              $emit('item-selected', {
                id: item.id,
                address: item.phone ? item.phone : item.email,
              })
            "
          >
            <div class="d-flex flex-column">
              <h3 class="mb-1">{{ item.type }} - {{ item.name }}</h3>
              <p>{{ item.phone ? item.phone : item.email }}</p>
            </div>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class DropdownMenu extends Vue {
  @Prop({ type: Array })
  items!: [{ id: ''; name: ''; type: ''; phone: ''; email: '' }]

  @Prop({ type: String, default: 'dropdown' })
  title!: string

  @Prop({ type: Boolean, default: false })
  outlined: boolean

  @Prop({ type: String })
  maxWidth: string

  @Prop({ type: String })
  minWidth: string

  @Prop({ type: String })
  icon: string
}
</script>
