<template>
  <v-autocomplete
    v-model="selected"
    name="lab"
    :items="list"
    label="Lab"
    :loading="loading"
    item-text="name"
    outlined
    clearable
    multiple
    item-value="id"
  >
    <template #prepend-item>
      <v-list-item ripple @mousedown.prevent @click="toggleSelectLab">
        <v-list-item-action>
          <v-icon
            :color="selected.length > 0 ? 'indigo darken-4' : ''"
          >
            {{ iconLab }}
          </v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title> Select All </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mt-2"></v-divider>
    </template>
  </v-autocomplete>
</template>

<script lang="ts">
import { AdminApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

@Component
export default class SelectLab extends Vue {
  @Prop() value!: any

  selected = [] as Array<string>
  list = []
  loading = false

  adminApi!: AdminApi

  get selectedAllLab() {
    return this.selected.length === this.list.length
  }

  get selectedSomeLab() {
    return this.selected.length > 0 && !this.selectedAllLab
  }

  get iconLab() {
    if (this.selectedAllLab as boolean) return 'mdi-close-box'
    if (this.selectedSomeLab as boolean) return 'mdi-minus-box'
    return 'mdi-checkbox-blank-outline'
  }

  @Watch('value')
  onValueChangeSetSelected(val: any) {
    if (!val) return
    this.selected = val
  }

  @Watch('selected')
  onSelectedChangeEmitSelectedValue(val: any) {
    if (!val) return
    this.$emit('input', val)
  }

  created() {
    this.adminApi = new AdminApi(this.$axios)
    this.fetchLab()
  }

  async fetchLab() {
    try {
      this.loading = true
      const result = await this.adminApi.getAsignedLabsForTransaction()
      this.list = result.filter((v: any) => !!v)
    } catch (error: any) {}
    this.loading = false
  }

  toggleSelectLab() {
    this.$nextTick(() => {
      if (this.selectedAllLab) {
        this.selected = []
      } else {
        this.selected = this.list.map((v: any) => v.id)
      }
    })
  }
}
</script>
