<template>
  <v-select
    v-model="selected"
    name="rujukanProduct"
    :items="list"
    label="Produk Rujukan"
    :loading="loading"
    item-text="name"
    outlined
    clearable
    item-value="id"
  />
</template>

<script lang="ts">
import { AdminApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

@Component
export default class Form extends Vue {
  @Prop() value!: any

  @Prop({ type: Array, default: [] })
  rujukanSelected!: Array<any>

  selected = null as  any
  list = []
  loading = false

  adminApi!: AdminApi

  @Watch('value')
  onValueChangeSetSelected(val: any) {
    if (!val) return
    this.selected = val
  }

  @Watch('selected')
  onSelectedChangeThenEmitSelectedValue(val: any) {
    this.$emit('input', val)
  }

  @Watch('rujukanSelected')
  onrujukanSelectedChangeFetchProdukRujukan(newVal: any, oldVal: any) {
    if (newVal !== oldVal || !oldVal) {
      this.fetchReferenceProduct(newVal)
      if (newVal.length !== 1) {        
        this.selected = ''
        this.$emit('input', this.selected)
      }
    }
  }

  created() {
    this.adminApi = new AdminApi(this.$axios)
    this.fetchReferenceProduct(this.rujukanSelected)
  }

  async fetchReferenceProduct(id: any) {
    if (id && id.length < 2) {
      try {
        this.loading = true
        const result = await this.adminApi.getRefById(id)
        this.list = result.products
      } catch (error: any) {}
      this.loading = false
      return null
    }
    this.list = []
    this.selected = null
  }
}
</script>
