<template>
  <v-autocomplete
    v-model="selected"
    name="rujukan"
    :items="list"
    label="Rujukan"
    :loading="loading"
    item-text="name"
    outlined
    clearable
    multiple
    item-value="id"
    @input="fetchReferenceProductFromParent()"
  >
    <template #prepend-item>
      <v-list-item ripple @mousedown.prevent @click="toggleSelectRef">
        <v-list-item-action>
          <v-icon
            :color="
              selected.length > 0 ? 'indigo darken-4' : ''
            "
          >
            {{ iconRef }}
          </v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title> Select All </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider class="mt-2"></v-divider>
    </template>
  </v-autocomplete>
</template>

<script lang="ts">
import { AdminApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

@Component
export default class Form extends Vue {
  @Prop({type: Array, default: []})
  value!: Array<string>

  @Prop({type: Boolean, default: false})
  isRoleReporter!: boolean

  @Watch('value')
  onValueChangeSetSelected(val: string[]) {
    if(val.length < 1) return
    this.selected = val
  }

  selected = [] as Array<string>
  list = []
  loading = false

  adminApi!: AdminApi

  @Watch('selected')
  onSelectedChangeThenEmit(val: string[]) {
    this.$emit('input', val)
  }

  get selectedAllRef() {
    return this.selected.length === this.list.length
  }

  get selectedSomeRef() {
    return this.selected.length > 0 && !this.selectedAllRef
  }

  get iconRef() {
    if (this.selectedAllRef) return 'mdi-close-box'
    if (this.selectedSomeRef) return 'mdi-minus-box'
    return 'mdi-checkbox-blank-outline'
  }

  created() {
    this.adminApi = new AdminApi(this.$axios)
    this.fetchReference()
  }

  async fetchReference() {
    try {
      this.loading = true
      const result = await this.adminApi.getAsignedRefsForTransaction()
      // Remove null value
      this.list = result.filter((v:any) => !!v)

      // if Role reporter, set all rujukan selected based on list rujukan
      if(this.isRoleReporter){
        this.selected = this.list.map((v:any) => v.id)
        this.$emit('updateValue')
      }
    } catch (error: any) {}
    this.loading = false
  }

  fetchReferenceProductFromParent() {
    this.$emit('fetchReferenceProduct',)
  }

  toggleSelectRef() {
    this.$nextTick(() => {
      if (this.selectedAllRef) {
        this.selected = []
      } else {
        this.selected = this.list.map((v:any) => v.id)
      }
    })
  }
}
</script>
