<template>
  <v-chip-group
    v-model="model"
    column
    :mandatory="mandatory"
    :multiple="multiple"
    color="primary"
  >
    <v-chip
      v-for="(item, i) in filters"
      :key="i"
      filter
      outlined
      :value="item.value"
    >
      {{ item.text }}
    </v-chip>
  </v-chip-group>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component
export default class MultiFilterSelect extends Vue {
  @Prop()
  value!: any;
  @Prop({ type: Array, default: () => [] })
  filters!: any[];
  @Prop({ type: Boolean, default: false })
  multiple!: boolean;
  @Prop({ type: Boolean, default: false })
  mandatory!: boolean;

  get model() {
    return this.value;
  }
  set model(val) {
    this.$emit('input', val);
  }
}
</script>
