<template>
  <div>
    <v-row justify="space-between">
      <v-col v-if="search" md="3" cols="12">
        <div>
          <v-text-field
            v-model="querySearch"
            label="Cari Data"
            dense
            clearable
            :hint="searchHint"
            persistent-hint
            append-icon="mdi-magnify"
            :append-outer-icon="isShowQrScan ? 'mdi-qrcode-scan' : ''"
            @click:append-outer="openCameraQrCode()"
            @click:clear="clearAndChange"
            @keydown.enter="resetPageAndChange"
          ></v-text-field>
        </div>
        <div
          v-if="selectFilter"
          class="d-flex mt-5 ml-4 justify-center flex-column align-center"
        >
          <v-select
            dense
            :items="selectFilterItems"
            item-text="name"
            item-value="value"
            :label="selectFilterLabel"
            outlined
          ></v-select>
        </div>
      </v-col>
      <v-col v-if="isShowFilter" class="d-md-flex justify-end">
        <form-filter-popup
          v-model="selectedFilterForm"
          :filter-lab="filterLab"
        />
      </v-col>
      <v-col v-if="!hideDateFilter" class="d-md-flex justify-end">
        <v-btn-toggle v-model="selectedFilter" dense color="primary">
          <v-btn v-for="(value, index) in filter" :key="index">
            {{ value.text }}
          </v-btn>
        </v-btn-toggle>
        <!-- show if selectedFilter is 'tanggal' -->
        <div
          v-if="selectedFilter === filterDateIndex"
          class="ml-md-3 mt-md-0 mt-3"
        >
          <v-menu
            ref="menu"
            :close-on-content-click="false"
            :return-value.sync="filterRangeDate"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template #activator="{ on, attrs }">
              <v-text-field
                v-model="filterRangeDate"
                label="Range Tanggal"
                prepend-icon="mdi-calendar"
                dense
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="filterRangeDate" no-title scrollable range>
              <v-spacer></v-spacer>
              <v-btn
                text
                color="primary"
                @click="
                  () => {
                    filterRangeDate = [];
                    this.$refs.menu.save(this.filterRangeDate);
                  }
                "
              >
                Cancel
              </v-btn>
              <v-btn
                text
                color="primary"
                @click="
                  $refs.menu.save(filterRangeDate) || resetPageAndChange()
                "
              >
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
        </div>
        <div class="ml-0 ml-md-3 mt-md-0 mt-3">
          <slot name="filter-result" :data="filterResult" />
        </div>
      </v-col>
    </v-row>

    <slot :options="slotOptions" />

    <div class="d-flex mt-3">
      <div>
        <div class="mr-3">Total {{ pagination.total }} data</div>
      </div>
      <div class="ml-auto">
        Item per page
        <select v-model="pagination.itemPerPage" @change="resetPageAndChange">
          <option
            v-for="(item, key) in [1, 10, 20, 50, 100]"
            :key="key"
            :value="item"
          >
            {{ item }}
          </option>
        </select>
      </div>
      <div>
        <v-pagination
          v-model="pagination.pageCurrent"
          :length="pagination.pageCount ? pagination.pageCount : 0"
          total-visible="7"
          @input="onChange"
        />
      </div>
    </div>
    <ui-table-scanner-qr-code-and-barcode
      v-model="isOpenQrCode"
      @result="searchFromQrCode"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import { PaginationResult } from '@inatti/shared/api-nuxt';
import { UiTableScannerQrCodeAndBarcode } from '@inatti/shared/ui';

export type paramsAPI = {
  'paginate[limit]'?: number;
  'paginate[page]'?: number;
  'filter[search]'?: string;
  [anotherFilter: string]: any;
};

type formFilterField = {
  rujukanSelected: Array<object>;
  labSelected: Array<object>;
  rujukan: string;
  lab: string;
  rujukanProduct: string;
  productType: string;
  statusTrx: string;
  method: string;
  createdAtStart: string;
  createdAtEnd: string;
};

/**
 * This component will generate API params and send to parent component
 * Every pagination and filter will generated automated, (make sure API have this field)
 *
 * API Query will became like this :
 * http://api.com/listdata?paginate[limit]=10&paginate[page]=1&filter[search]=foo&filter[date]=12-20-2021
 *
 */
@Component({ components: { UiTableScannerQrCodeAndBarcode } })
export default class TablePaginationFilterComponent extends Vue {
  // value is result from API
  @Prop({ type: Object }) readonly value!: PaginationResult<any>;

  // show search field
  @Prop({ type: Boolean, default: false }) readonly search!: boolean;
  querySearch: string | null = null;

  @Prop({ type: String }) readonly searchHint!: string;

  @Prop({ type: Boolean, default: false }) readonly hideDateFilter!: boolean;

  @Prop({ type: Boolean, default: false }) readonly selectFilter!: boolean;

  @Prop({ type: Array, default: () => [] }) readonly selectFilterItems!: [];

  @Prop({ type: String }) readonly selectFilterLabel!: string;

  @Prop({ type: Boolean, default: false }) readonly filterLab!: boolean;

  @Prop({ type: Boolean, default: true }) readonly isShowFilter!: boolean;

  @Prop({ type: Boolean, default: true }) readonly isShowQrScan!: boolean;

  /**
   * Slot filter-result
   */
  filterResult = {
    resultApi: null, // reactive data
  };
  @Watch('filterResult', { deep: true })
  onChangeFilterResult() {
    this.onChange();
  }

  /**
   * Data v-model reactive
   */
  get feedbackData() {
    return this.value;
  }
  set feedbackData(value) {
    this.$emit('input', value);
  }

  mounted() {
    this.updatePagination();
  }

  @Watch('value')
  updatePagination() {
    if (!this.value) {
      return null;
    }
    this.pagination.pageCurrent = +this.value.page + 1;
    this.pagination.pageCount = +this.value.pageLength;
    this.pagination.total = +this.value.total;
  }

  pagination = {
    pageCurrent: 1,
    pageCount: 0,
    itemPerPage: 10,
    total: 0,
  };

  get slotOptions() {
    return this.pagination;
  }

  get isRoleReporter() {
    return this.$store.getters['permission/isReporter'];
  }

  // Find Index filter tanggal
  get filterDateIndex() {
    return this.filter.findIndex((val) => val.text === 'Tanggal');
  }

  // Default filter date
  filter: { text: string; api?: { key: string; value: string } }[] = [
    {
      text: 'Hari ini',
      api: {
        key: 'filter[date]',
        value: 'today',
      },
    },
    {
      text: 'Semua Data',
    },
    {
      text: 'Tanggal',
      api: {
        key: 'filter[rangedate]',
        value: '', // fill by rangedate
      },
    },
  ];

  set filterRangeDate(value: string[] | null) {
    if (this.filter[this.filterDateIndex].api && value) {
      // use non-null assertion `!`
      this.filter[this.filterDateIndex].api!.value = value.join(':');
    }
  }
  get filterRangeDate(): string[] | null {
    if (!this.filter[this.filterDateIndex].api) {
      return null;
    }
    return this.filter[this.filterDateIndex].api!.value.split(':');
  }

  selectedFilter = 0;

  /**
   * Get api and value from selected filter
   */
  get selectedFilterApi() {
    if (typeof this.selectedFilter === 'number') {
      const api = this.filter[this.selectedFilter].api;
      if (!api) {
        return null;
      }
      if (!api.value) return null;
      return {
        [api.key]: api.value,
      };
    } else {
      return null;
    }
  }

  clearAndChange() {
    this.querySearch = null;
    this.resetPageAndChange();
  }

  @Watch('selectedFilterForm', { deep: true, immediate: true })
  onSelectedFilterFormResetPageAndChange() {
    this.resetPageAndChange();
  }

  @Watch('selectedFilter')
  resetPageAndChange() {
    this.pagination.pageCurrent = 1;
    this.onChange();
  }

  /**
   * Return API params ready through event `change`
   * This params will be used for API
   */
  onChange() {
    const limit = this.pagination.itemPerPage;
    const page = this.pagination.pageCurrent;
    const params: paramsAPI = {
      'paginate[limit]': limit,
      'paginate[page]': page ? page - 1 : 0,
      ...this.selectedFilterApi,
      ...(this.filterResult.resultApi ?? {}),
      ...this.parseFilter(this.selectedFilterForm),
    };

    if (this.search && this.querySearch) {
      Object.assign(params, {
        'filter[search]': this.querySearch,
      });
    }

    if (!this.validateParams(params)) return false;

    // Event `change`
    this.$emit('change', params);
  }

  parseFilter(dataFilter: any) {
    // idk why, this rujukan changed to string
    if (
      dataFilter.rujukanSelected &&
      !Array.isArray(dataFilter.rujukanSelected)
    ) {
      dataFilter.rujukanSelected = dataFilter.rujukanSelected.split(',');
    }
    if (dataFilter.labSelected && !Array.isArray(dataFilter.labSelected)) {
      dataFilter.labSelected = dataFilter.labSelected.split(',');
    }

    let res = {
      'filter[rujukan]': dataFilter.rujukanSelected,
      'filter[lab]': dataFilter.labSelected,
      'filter[rujukanProduct]': dataFilter.rujukanProduct,
      'filter[productType]': dataFilter.productType,
      'filter[statusTrx]': dataFilter.statusTrx,
      'filter[method]': dataFilter.method,
      'filter[createdAtStart]': dataFilter.createdAtStart,
      'filter[createdAtEnd]': dataFilter.createdAtEnd,
    };

    return res;
  }

  validateParams(params: Record<string, string>) {
    // if not reporter, skip all validate
    if (!this.isRoleReporter) return true;

    // role reporter --
    // rujukan must be filled
    if (!params['filter[rujukan]']) return false;
    if (
      Array.isArray(params['filter[rujukan]']) &&
      !params['filter[rujukan]'].length
    )
      return false;
    return true;
  }

  isOpenQrCode = false;
  openCameraQrCode() {
    this.isOpenQrCode = true;
  }

  searchFromQrCode(result: string) {
    this.querySearch = result;
    this.resetPageAndChange();
  }

  $refs = {
    formFilterPopup: {} as any,
  };

  dialogFilterLoading = false;
  dialogFilter = false;

  selectedFilterForm: formFilterField = {
    rujukanSelected: [],
    labSelected: [],
    rujukan: '',
    lab: '',
    rujukanProduct: '',
    productType: '',
    statusTrx: 'paid',
    method: '',
    createdAtStart: '',
    createdAtEnd: '',
  };
}
</script>

<style></style>
