<template>
  <div>
    <v-row justify="space-between">
      <v-col v-if="search" md="4" cols="12">
        <div>
          <v-text-field
            v-model="querySearch"
            label="Cari Data"
            dense
            outlined
            clearable
            :hint="searchHint"
            persistent-hint
            append-icon="mdi-magnify"
            @click:clear="clearAndChange"
            @keydown.enter="resetPageAndChange"
          ></v-text-field>
        </div>
        <div
          v-if="selectFilter"
          class="d-flex mt-5 ml-4 justify-center flex-column align-center"
        >
          <v-select
            dense
            :items="selectFilterItems"
            item-text="name"
            item-value="value"
            :label="selectFilterLabel"
            outlined
          ></v-select>
        </div>
      </v-col>
      <v-col class="d-md-flex justify-end">
        <v-btn-toggle
          v-if="periodFilter"
          v-model="selectedFilter"
          dense
          color="primary"
        >
          <v-btn v-for="(value, index) in filter" :key="index">
            {{ value.text }}
          </v-btn>
        </v-btn-toggle>
        <!-- show if selectedFilter is 'tanggal'-->
        <div
          v-if="selectedFilter === filterDateIndex"
          class="ml-md-3 mt-md-0 mt-3"
        >
          <v-menu
            ref="menu"
            :close-on-content-click="false"
            :return-value.sync="filterRangeDate"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template #activator="{ on, attrs }">
              <v-text-field
                v-model="filterRangeDate"
                label="Range Tanggal"
                prepend-icon="mdi-calendar"
                dense
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="filterRangeDate" no-title scrollable range>
              <v-spacer></v-spacer>
              <v-btn
                text
                color="primary"
                @click="
                  () => {
                    filterRangeDate = [];
                    this.$refs.menu.save(this.filterRangeDate);
                  }
                "
              >
                Cancel
              </v-btn>
              <v-btn
                text
                color="primary"
                @click="
                  $refs.menu.save(filterRangeDate) || resetPageAndChange()
                "
              >
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
        </div>
        <div class="ml-0 ml-md-3 mt-md-0 mt-3">
          <slot name="filter-result" :data="filterResult" />
        </div>
      </v-col>
    </v-row>

    <slot :options="slotOptions" />

    <div class="d-flex mt-3">
      <div>
        <div class="mr-3">Total {{ pagination.total }} data</div>
      </div>
      <div class="ml-auto">
        Item per page
        <select v-model="pagination.itemPerPage" @change="resetPageAndChange">
          <option
            v-for="(item, key) in [1, 10, 20, 50, 100]"
            :key="key"
            :value="item"
          >
            {{ item }}
          </option>
        </select>
      </div>
      <div>
        <v-pagination
          v-model="pagination.pageCurrent"
          :length="pagination.pageCount ? pagination.pageCount : 0"
          total-visible="7"
          @input="onChange"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop, Watch } from 'vue-property-decorator';
import { PaginationResult } from '@inatti/shared/api-nuxt';
import qs from 'qs';

export type paramsAPI = {
  'paginate[limit]'?: number;
  'paginate[page]'?: number;
  'filter[search]'?: string;
  [anotherFilter: string]: any;
};

/**
 * This component will generate API params and send to parent component
 * Every pagination and filter will generated automated, (make sure API have this field)
 *
 * API Query will became like this :
 * http://api.com/listdata?paginate[limit]=10&paginate[page]=1&filter[search]=foo&filter[date]=12-20-2021
 *
 */
@Component
export default class TablePaginationFilterComponent extends Vue {
  // value is result from API
  @Prop({ type: Object }) readonly value!: PaginationResult<any>;

  // show search field
  @Prop({ type: Boolean, default: false }) readonly search!: boolean;
  querySearch: string | null = null;

  @Prop({ type: String }) readonly searchHint!: string;

  @Prop({ type: Boolean, default: false }) readonly selectFilter!: boolean;

  @Prop({ type: Number, default: 0 }) readonly defaultSelectedFilter!: number;

  @Prop({ type: Boolean, default: false }) readonly periodFilter!: boolean;

  @Prop({ type: Array, default: () => [] }) readonly selectFilterItems!: [];

  @Prop({ type: String }) readonly selectFilterLabel!: string;

  /**
   * Instead return 'paginate[..]' or 'filter[...]'
   * it will return object 'paginate: {}' or 'filter: {}'
   */
  @Prop({ type: Boolean, default: false }) readonly returnObject!: boolean;

  /**
   * Slot filter-result
   */
  filterResult = {
    resultApi: null, // reactive data
  };

  @Watch('filterResult', { deep: true })
  onChangeFilterResult() {
    this.onChange();
  }

  /**
   * Data v-model reactive
   */
  get feedbackData() {
    return this.value;
  }

  set feedbackData(value) {
    this.$emit('input', value);
  }

  setDefaultSelectedFilter() {
    this.selectedFilter = this.defaultSelectedFilter
      ? this.defaultSelectedFilter
      : 0;
  }

  // Disable this function,
  // if next time pagination cause problem, enable it
  mounted() {
    this.updatePagination();
    this.setDefaultSelectedFilter();
  }

  @Watch('value')
  updatePagination() {
    if (!this.value) {
      return null;
    }
    this.pagination.pageCurrent = +this.value.page + 1;
    this.pagination.pageCount = +this.value.pageLength;
    this.pagination.total = +this.value.total;
  }

  pagination = {
    pageCurrent: 1,
    pageCount: 0,
    itemPerPage: 10,
    total: 0,
  };

  get slotOptions() {
    return this.pagination;
  }

  // Find Index filter tanggal
  get filterDateIndex() {
    return this.filter.findIndex((val) => val.text === 'Tanggal');
  }

  // Default filter date
  filter: { text: string; api?: { key: string; value: string } }[] = [
    {
      text: 'Hari ini',
      api: {
        key: 'filter[date]',
        value: 'today',
      },
    },
    {
      text: 'Semua Data',
    },
    {
      text: 'Tanggal',
      api: {
        key: 'filter[rangedate]',
        value: '', // fill by rangedate
      },
    },
  ];

  set filterRangeDate(value: string[] | null) {
    if (this.filter[this.filterDateIndex].api && value) {
      // use non-null assertion `!`
      this.filter[this.filterDateIndex].api!.value = value.join(':');
    }
  }

  get filterRangeDate(): string[] | null {
    if (!this.filter[this.filterDateIndex].api) {
      return null;
    }
    return this.filter[this.filterDateIndex].api!.value.split(':');
  }

  selectedFilter = 0;

  /**
   * Get api and value from selected filter
   */
  get selectedFilterApi() {
    if (typeof this.selectedFilter === 'number') {
      const api = this.filter[this.selectedFilter].api;
      if (!api) {
        return null;
      }
      if (!api.value) return null;
      return {
        [api.key]: api.value,
      };
    } else {
      return null;
    }
  }

  clearAndChange() {
    this.querySearch = null;
    this.resetPageAndChange();
  }

  @Watch('selectedFilter')
  resetPageAndChange() {
    this.pagination.pageCurrent = 1;
    this.onChange();
  }

  /**
   * Return API params ready through event `change`
   * This params will be used for API
   */
  onChange() {
    const limit = this.pagination.itemPerPage;
    const page = this.pagination.pageCurrent;
    let params: paramsAPI = {
      'paginate[limit]': limit,
      'paginate[page]': page ? page - 1 : 0,
      ...this.selectedFilterApi,
      ...(this.filterResult.resultApi ?? {}),
    };

    if (this.search && this.querySearch) {
      Object.assign(params, {
        'filter[search]': this.querySearch,
      });
    }

    if (this.returnObject) {
      params = this.changeParamsToObject(params);
    }

    // Event `change`
    this.$emit('change', params);
  }

  changeParamsToObject(params: Record<string, any>) {
    return qs.parse(params);
  }

  isOpenQrCode = false;
  openCameraQrCode() {
    this.isOpenQrCode = true;
  }

  searchFromQrCode(result: string) {
    this.querySearch = result;
    this.resetPageAndChange();
  }
}
</script>

<style></style>
