<template>
  <v-dialog v-model="isShow" width="450">
    <v-card>
      <v-card-title class="primary white--text"> Scan Qr Code & Barcode </v-card-title>
      <v-card-text class="text-center">
        <StreamBarcodeReader
          v-if="isShow"
          @decode="(val) => onDecode(val)"
          @loaded="() => onLoaded()"
        ></StreamBarcodeReader>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

@Component
export default class ScannerQrCodeComponent extends Vue {
  @Prop({
    default: false,
  })
  value!: boolean

  get isShow() {
    return this.value
  }
  set isShow(value) {
    this.$emit('input', value)
  }

  onDecode(val: any) {
    this.$emit('result', val)
    this.destroyScan()
  }

  onLoaded() {
    console.log('load')
  }

  @Watch('value')
  onChangeValue(isShow: boolean) {
    if (!isShow) this.destroyScan()
  }

  destroyScan() {
    this.isShow = false
  }

  created() {}
}
</script>

<style></style>
