<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title>
        {{ order.productTypeName }} - {{ order.referenceName }}
      </mobile-appbar-title>
    </template>

    <v-card outlined class="mt-toolbar">
      <v-card-title class="d-flex flex-column justify-center px-2">
        <v-alert
          v-if="order.status === 'new' || order.status === 'inProgress'"
          style="width: 100%"
          class="d-flex justify-space-between align-start flex-row"
          color="info"
          dense
        >
          <v-icon class="mr-3 white--text"> mdi-information-outline </v-icon>
          <span class="white--text">Lampirkan laman ini saat pembayaran</span>
        </v-alert>

        <v-alert
          v-if="$route.query.status === 'success'"
          width="100%"
          type="success"
          dense
          text
        >
          Transaksi berhasil
        </v-alert>
        <div
          style="width: 93%"
          class="d-flex justify-start align-start flex-row"
        >
          <span class="text-subtitle-2 font-weight-medium"
            >Order Id : {{ order.trxId }}</span
          >
        </div>
        <v-alert
          v-if="!$auth.loggedIn"
          style="width: 100%"
          class="d-flex justify-space-between align-start flex-row mt-2"
          color="info"
          dense
        >
          <v-row align="center">
            <v-col class="grow body-2 white--text">
              Simpan data transaksi dengan membuat akun inatti
            </v-col>
            <v-col class="shrink">
              <v-btn small color="primary" @click="onAuthenticateClicked"
                >Login</v-btn
              >
            </v-col>
          </v-row>
        </v-alert>
      </v-card-title>

      <v-alert
        v-if="positifPatient > 0"
        border="right"
        color="orange"
        dark
        dense
      >
        <v-icon class="mr-3"> mdi-alert-outline </v-icon>
        {{ positifPatient }} Pasien Positif
      </v-alert>
      <v-img
        :src="
          order.refImage
            ? order.refImage
            : require('@/assets/images/media/image_not_available.png')
        "
        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
        height="200"
        class="white--text align-end"
      >
      </v-img>
      <v-card-text>
        <div class="d-flex justify-space-between align-center">
          <div>
            <div class="font-weight-regular body-1">
              {{ order.referenceName }}
            </div>
            <div>
              {{ order.productName }}
            </div>
          </div>
          <div class="text-right">
            <div class="font-weight-regular body-1">
              {{ order.productTypeName }} Test
            </div>
            <div class="font-weight-medium body-1">
              {{ $utils.toIdr(order.totalPrice) }} Test
            </div>
          </div>
        </div>
      </v-card-text>
    </v-card>

    <v-card v-if="order.refContactWhatsapp" outlined class="mt-3">
      <v-card-title class="d-flex align-center text-subtitle-2">
        <v-icon class="mr-3"> mdi-whatsapp </v-icon>
        Kontak Whatsapp
      </v-card-title>
      <v-card-text>
        <table style="width: 100%">
          <tr>
            <td>
              {{
                order.refContactWhatsapp ? `0${order.refContactWhatsapp}` : '-'
              }}
            </td>
            <td class="text-right">
              <v-btn color="success" @click="onClickContactWhatsapp">
                <v-icon left> mdi-whatsapp </v-icon>
                Hubungi</v-btn
              >
            </td>
          </tr>
        </table>
      </v-card-text>
    </v-card>

    <v-card outlined class="mt-3">
      <v-card-title
        class="d-flex align-center text-subtitle-2 font-weight-regular"
      >
        <v-icon class="mr-3"> mdi-clock-outline </v-icon>
        {{ order.productTypeId === 3 ? 'Jadwal Vaksin' : 'Jadwal Test' }}
      </v-card-title>

      <v-card-text class="d-flex align-start">
        <div>
          <div class="caption font-weight-bold">
            {{
              order.orderSwab.length > 0
                ? order.orderSwab[0].detailOrderProduct
                  ? $utils.dateToFullText(
                      order.productTypeId === 3
                        ? order.orderSwab[0].detailOrderProduct.requestDate
                        : order.orderSwab[0].detailOrderProduct.requestSwabDate
                    )
                  : ''
                : ''
            }}
          </div>
        </div>
      </v-card-text>
    </v-card>
    <v-card outlined class="mt-3">
      <v-card-title
        class="d-flex align-center text-subtitle-2 font-weight-regular"
      >
        <v-icon class="mr-3"> mdi-cash </v-icon>
        Pembayaran
      </v-card-title>
      <v-card-text class="d-flex align-start">
        <div
          style="width: 100%"
          class="d-flex justify-space-between align-center flex-row"
        >
          <div class="subtitle-2 font-weight-bold">
            {{
              order.method === 'Cash'
                ? 'Cash (bayar di klinik)'
                : order.method === 'Transfer'
                ? 'Transfer (bank transfer)'
                : '-'
            }}
          </div>
          <div class="subtitle-2 font-weight-bold">
            <common-chip-status-order
              :small="true"
              :status="order.status"
            ></common-chip-status-order>
          </div>
        </div>
      </v-card-text>
    </v-card>
    <v-card outlined class="mt-3">
      <v-card-title
        class="d-flex align-center text-subtitle-2 font-weight-bold"
      >
        Invoice
      </v-card-title>
      <v-card-text class="d-flex justify-center flex-column align-center">
        <div class="d-flex justify-center flex-column align-center">
          <common-qr-code :text="`${order.invId}`" />
        </div>
        <span class="text-subtitle-2 font-weight-regular mt-2"
          >( {{ order.invId }} )</span
        >
      </v-card-text>
    </v-card>
    <v-card
      v-if="
        order.orderSwab.length > 0
          ? order.productTypeId === 3
            ? order.orderSwab[0].detailOrderProduct.requestDate
              ? true
              : false
            : order.orderSwab[0].detailOrderProduct.status !== 'resultOutLab' ||
              order.orderSwab[0].detailOrderProduct.status !== 'resultOutRef'
            ? true
            : false
          : false
      "
      outlined
      class="mt-3"
    >
      <v-card-title
        class="d-flex align-center text-subtitle-2 font-weight-regular"
      >
        <v-icon class="mr-3"> mdi-map-marker-outline </v-icon>
        Lokasi
      </v-card-title>

      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            id="gmap_canvas"
            width="100%"
            height="250"
            :src="order.refAddressPoint"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe>
        </div>
      </div>

      <v-card-text class="d-flex align-start">
        <v-icon class="mr-3"> mdi-map-marker-outline </v-icon>
        <div>
          <div class="font-weight-bold body-2 font-weight-regular">
            {{ order.refAddress }}
          </div>
          <div class="caption font-weight-light">
            {{ order.refCity }} , {{ order.refProvince }}
          </div>
        </div>
      </v-card-text>
    </v-card>

    <v-alert
      v-if="!$auth.loggedIn"
      prominent
      type="info"
      color="orange"
      class="mt-4"
    >
      <v-row align="center">
        <v-col class="grow">
          Simpan informasi ini dengan masuk atau daftar akun InaTTI
        </v-col>
        <v-col class="shrink">
          <v-btn color="primary" depressed @click="onAuthenticateClicked"
            >Simpan</v-btn
          >
        </v-col>
      </v-row>
    </v-alert>

    <div class="text-subtitle-2 font-weight-bold ml-6 my-3">Pasien</div>
    <div
      class="text-subtitle-2 font-weight-bold d-flex justify-space-between flex-row align-center mx-6 my-3"
    >
      <span>{{ order.productTypeName }}</span>
      <span>{{ order.productName }}</span>
    </div>
    <v-card v-for="item in order.orderSwab" :key="item.id" outlined>
      <v-card-text>
        <v-row class="white pa-3 pt-0">
          <v-col>
            <div class="text-subtitle-2 font-weight-bold">
              <v-icon class="mr-3"> mdi-account-outline </v-icon>
              {{ item.patient ? item.patient.name : '' }}
            </div>
            <div class="text-subtitle-2 font-weight-regular">Passpor</div>
            <div class="text-subtitle-2 font-weight-regular">NIK</div>
            <div
              v-if="
                order.productTypeId === 3
                  ? false
                  : item.detailOrderProduct.status === 'resultOutLab' ||
                    item.detailOrderProduct.status === 'resultOutRef'
              "
              class="text-subtitle-2 font-weight-regular"
            >
              Hasil Test
            </div>
            <div
              v-if="
                order.productTypeId === 3
                  ? false
                  : item.detailOrderProduct.status === 'resultOutLab' ||
                    item.detailOrderProduct.status === 'resultOutRef'
              "
              class="text-subtitle-2 font-weight-regular"
            >
              Tanggal Keluar Hasil
            </div>
            <div
              v-if="order.productTypeId !== 3"
              class="text-subtitle-2 font-weight-regular"
            >
              Status Pasien
            </div>
          </v-col>
          <v-col class="text-right">
            <div class="text-subtitle-2 font-weight-regular mt-5">
              {{
                item.patient
                  ? item.patient.passport
                    ? item.patient.passport
                    : '-'
                  : '-'
              }}
            </div>
            <div class="text-subtitle-2 font-weight-regular">
              {{
                item.patient ? item.patient.nik ? item.patient.nik : '-' : '-'
              }}
            </div>
            <div
              v-if="
                order.productTypeId === 3
                  ? false
                  : item.detailOrderProduct.status === 'resultOutLab' ||
                    item.detailOrderProduct.status === 'resultOutRef'
              "
            >
              <common-chip-status-swab
                :small="true"
                :status="item.detailOrderProduct.resultSwab"
              ></common-chip-status-swab>
            </div>
            <div
              v-if="
                order.productTypeId === 3
                  ? false
                  : item.detailOrderProduct.status === 'resultOutLab' ||
                    item.detailOrderProduct.status === 'resultOutRef'
              "
              class="text-subtitle-2 font-weight-regular"
            >
              {{ $utils.dateToFullText(item.detailOrderProduct.resultSentAt) }}
            </div>
            <div v-if="order.productTypeId !== 3">
              <common-chip-status-pasien
                :color="statusPasienList[item.detailOrderProduct.status].color"
                :text="statusPasienList[item.detailOrderProduct.status].text"
              />
            </div>
          </v-col>
        </v-row>
        <v-btn
          v-if="
            order.productTypeId === 3
              ? false
              : item.detailOrderProduct.status === 'resultOutLab' ||
                item.detailOrderProduct.status === 'resultOutRef'
          "
          block
          color="primary"
          small
          :loading="isLoadingDownloadSwabResult"
          @click="
            printTesResult(
              item.id,
              item.detailOrderProduct.patient.name,
              item.detailOrderProduct.patient.id
            )
          "
        >
          Unduh Hasil
        </v-btn>
        <v-btn
          v-if="
            order.productTypeId !== 3
              ? false
              : item.detailOrderProduct.vaksinDateAt
              ? true
              : false
          "
          block
          color="primary"
          small
          :loading="isLoadingDownloadSwabResult"
          @click="printTesResult(item.detailOrderProduct.id, item.patient.name, item.patient.id)"
        >
          Unduh Hasil Vaksin
        </v-btn>
      </v-card-text>
    </v-card>
    <div class="px-3 py-5">
      <v-btn
        color="primary"
        block
        :loading="isLoadingDownloadInvoice"
        class="text-capitalize font-weight-normal subtitle-1"
        @click="printInvoice(order.invId)"
      >
        <v-icon>mdi-download</v-icon> Unduh Invoice
      </v-btn>
    </div>
    <v-dialog v-model="assignTrxDialog" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          Menyimpan Data Transaksi
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogOwned" hide-overlay width="300">
      <v-card>
        <v-card-title> Gagal menyimpan transaksi </v-card-title>
        <v-card-text>
          Transaksi ini sudah dimiliki oleh orang lain.
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" to="/"> Kembali </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </mobile-layout>
</template>

<script>
import {
  UserOrderApi,
  UserTestCovidApi,
  TransactionApi,
  VaksinApi,
} from '@inatti/shared/api-nuxt'
export default {
  name: 'DetailTransaction',
  auth: false,
  layout: 'blank',
  data: () => ({
    positifPatient: 0,
    assignTrxDialog: false,
    order: {
      invId: '',
      trxId: '',
      productTypeId: 0,
      productTypeName: '',
      referenceName: '',
      productName: '',
      totalOrder: 0,
      productPrice: 0,
      totalPrice: 0,
      status: '',
      refAddress: '',
      refProvince: '',
      refCity: '',
      refImage: '',
      refAddressPoint: '',
      orderSwab: [],
      method: '',
    },
    statusPasienList: {
      registered: {
        text: 'Terdaftar',
        color: 'green darken-1',
      },
      checkin: {
        text: 'Checkin',
        color: 'teal lighten-2',
      },
      doneSwab: {
        text: 'Telah di Swab',
        color: 'amber darken-4',
      },
      onLab: {
        text: 'Sedang di lab',
        color: 'deep-orange darken-2',
      },
      progressLab: {
        text: 'Sedang di proses di lab',
        color: 'light-blue darken-2',
      },
      resultOutLab: {
        text: 'Hasil keluar dari lab',
        color: 'red darken-3',
      },
      resultOutRef: {
        text: 'Hasil keluar dari Rujukan',
        color: 'red darken-4',
      },
    },
    isLoadingDownloadSwabResult: false,
    isLoadingDownloadInvoice: false,
    dialogOwned: null,
    userTestCovidApi: null,
    userOrderApi: null,
    transactionApi: null,
    vaksinApi: null,
  }),

  mounted() {
    this.userTestCovidApi = new UserTestCovidApi(this.$axios)
    this.userOrderApi = new UserOrderApi(this.$axios)
    this.transactionApi = new TransactionApi(this.$axios)
    this.vaksinApi = new VaksinApi(this.$axios)
    this.fetchOrder()
  },

  methods: {
    onClickContactWhatsapp() {
      window
        .open(
          `https://api.whatsapp.com/send?phone=${
            this.order.refContactWhatsapp
              ? `62${this.order.refContactWhatsapp}`
              : this.order.refContactWhatsapp
          }`,
          '_blank'
        )
        .focus()
    },
    onAuthenticateClicked() {
      this.$router.push({
        name: 'auth',
        query: { next: `${this.$route.path}?from=auth` },
      })
    },
    async printTesResult(id, patientName, patientId) {
      try {
        this.isLoadingDownloadSwabResult = true
        let resp = null
        if (this.order.productTypeId !== 3) {
          resp = await this.userTestCovidApi.getCertificate(id)
        }
        if (this.order.productTypeId === 3) {
          resp = await this.vaksinApi.downloadPdf(id)
        }
        if (resp) {
          this.$utils.saveFile({
            fileName: `${patientName}_${patientId}`,
            byteArray: resp,
            extension: 'pdf',
          })
        }
      } catch (error) {}
      this.isLoadingDownloadSwabResult = false
    },

    async printInvoice(invoiceId) {
      try {
        this.isLoadingDownloadInvoice = true
        const resp = await this.userOrderApi.getInvoicePdf(invoiceId)
        if (resp) {
          const url = window.URL.createObjectURL(new Blob([resp]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', `${invoiceId}.pdf`)
          document.body.appendChild(link)
          link.click()
          link.remove()
        }
      } catch (error) {
      } finally {
        this.isLoadingDownloadInvoice = false
      }
    },

    async fetchOrder() {
      const { id } = this.$route.params
      const { from } = this.$route.query
      try {
        const resp = await this.transactionApi.getOneV2(id)
        console.log(resp)
        this.order = {
          ...this.order,
          productTypeId: resp?.product?.product?.id,
          trxId: resp?.trxId,
          productTypeName: resp?.product?.product?.name,
          referenceName: resp?.reference?.name,
          productName: resp?.product?.name,
          refContactWhatsapp: resp?.reference?.contactWhatsapp,
          totalOrder: resp?.orderSwab.length,
          productPrice: resp?.product.price,
          totalPrice: resp?.totalPrice,
          status: resp?.status,
          refAddress: resp?.reference?.refAddress,
          refAddressPoint: `https://maps.google.com/maps?q=${resp?.reference?.refAddressPoint}&t=&z=13&ie=UTF8&iwloc=&output=embed`,
          refImage: resp?.reference?.image,
          refProvince: resp?.reference?.province?.name,
          refCity: resp?.reference?.city?.name,
          orderSwab: resp?.orderSwab,
          method: resp?.method,
        }
        this.$nextTick(() => {
          this.order.invId = resp?.invId
        })
        if (from) {
          this.onAssignOrderTransactionToUser(resp?.id)
        }
        this.calculatePositifPatient()
      } catch (error) {}
    },

    // eslint-disable-next-line require-await
    async onAssignOrderTransactionToUser(id) {
      this.assignTrxDialog = true
      try {
        await this.userOrderApi.assignTransactionToUser(id)
      } catch (error) {
        this.dialogOwned = true
      } finally {
        this.assignTrxDialog = false
      }
    },

    calculatePositifPatient() {
      // eslint-disable-next-line array-callback-return
      orderSwab.map((data) => {
        const resultSwab = data?.detailOrderProduct?.resultSwab
        if (resultSwab === 'positif') {
          this.positifPatient = this.positifPatient + 1
        }
      })
    },
  },
}
</script>
