<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Pilih Pasien </mobile-appbar-title>
    </template>
    <template #side-app-bar-content>
      <v-btn :loading="isLoading" small color="warning" @click="addNewPatient">
        PASIEN BARU
      </v-btn>
    </template>
    <v-row class="mt-toolbar pb-15">
      <v-col cols="12">
        <core-patient-relation-list v-model="selectedItem" />
      </v-col>
    </v-row>
    <div class="d-flex justify-center align-center" style="width: 100%">
      <div
        class="py-3 px-3"
        style="
          background-color: white;
          position: fixed;
          bottom: 55px;
          width: inherit;
          max-width: inherit;
        "
      >
        <v-btn
          v-if="!selectedItem"
          style="width: 100%"
          color="warning"
          @click="addNewPatient"
          outlined
        >
          TAMBAH PASIEN BARU
        </v-btn>
        <v-btn v-else style="width: 100%" color="warning" @click="onSubmit">
          Pilih Pasien
        </v-btn>
      </div>
    </div>
  </mobile-layout>
</template>
<script>
import { PatientV2Api } from '@inatti/shared/api-nuxt'
export default {
  name: 'AvailableRelation',
  layout: 'blank',
  data() {
    return {
      selectedItem: null,
      isLoading: false,
      patientV2Api: null,
    }
  },
  mounted() {
    this.patientV2Api = new PatientV2Api(this.$axios)
  },
  methods: {
    async onSubmit() {
      if (!this.selectedItem) {
        return
      }
      try {
        this.isLoading = true
        const resp = await this.patientV2Api.getPatientDetailsById(
          this.selectedItem
        )
        const patient = {
          ...resp,
          provinsi: resp.provinsi?.id,
          kabupaten: resp.kabupaten?.id,
          kecamatan: resp.kecamatan?.id,
          kelurahan: resp.kelurahan?.id,
          domisiliProvinsi: resp.domisiliProvinsi?.id,
          domisiliKabupaten: resp.domisiliKabupaten?.id,
          domisiliKecamatan: resp.domisiliKecamatan?.id,
          domisiliKelurahan: resp.domisiliKelurahan?.id,
          ownedBy: null,
        }
        this.$store.commit('testcovid/setPatientAtIndex', {
          index: this.$route.params.id,
          patient,
        })
        this.$router.push('/testcovid/register')
      } catch (error) {
      } finally {
        this.isLoading = false
      }
    },
    addNewPatient() {
      this.$router.push('/testcovid/register/patient/' + this.$route.params.id)
    },
  },
}
</script>
