<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title>
        Pendaftaran
        <div>
          <common-stepper />
        </div>
      </mobile-appbar-title>
    </template>
    <v-row no-gutters denze style="margin-top: 72px">
      <v-col cols="12">
        <v-alert v-if="isDataRelations" type="info" dense>
          Pasien ini dari data relasi. <br />
          <div class="text-right">
            <v-btn color="orange" small dark @click="deletePatient()">
              Hapus Pasien
            </v-btn>
          </div>
        </v-alert>
      </v-col>
      <v-col cols="12">
        <v-alert
          v-if="alert.isShow"
          :icon="alert.icon"
          :type="alert.type"
          dismissible
        >
          {{ alert.msg }}
        </v-alert>
      </v-col>
      <v-col cols="12">
        <core-patient-form ref="validateForm" v-model="form" />
      </v-col>
      <v-col cols="12" class="px-6">
        <v-btn
          color="warning"
          block
          :loading="isLoading"
          :disabled="isLoading"
          class="subtitle-1 text-capitalize font-weight-light"
          @click="onSubmit()"
          >Simpan</v-btn
        >
        <v-divider class="my-6" />
        <v-btn
          color="red"
          block
          class="subtitle-1 text-capitalize font-weight-light white--text"
          @click="deletePatient()"
        >
          Hapus
        </v-btn>
      </v-col>
    </v-row>
  </mobile-layout>
</template>

<script lang="ts">
import Component from 'vue-class-component'
import Vue from 'vue'
import { PatientV2Api } from '@inatti/shared/api-nuxt'

@Component({
  auth: false,
  layout: 'blank',
})
export default class TestcovidRegisterPatient extends Vue {
  form = {
    nik: null,
    type: null,
    name: null,
    placebirth: null,
    datebirth: null,
    gender: null,
    phonenumber: null,
    email: null,
    bloodtype: null,
    provinsi: null,
    kabupaten: null,
    kecamatan: null,
    kelurahan: null,
    domisiliProvinsi: null,
    domisiliKabupaten: null,
    domisiliKecamatan: null,
    domisiliKelurahan: null,
    address: null,
    addressDomisili: null,
    citizenship: null,
    height: null,
    weight: null,
    job: null,
  } as any
  isDataRelations = false
  $refs: any
  isLoading = false

  alert = {
    isShow: false,
    msg: '',
    type: '',
  }

  patientV2Api: PatientV2Api

  showAlert(type: any, msg: any) {
    this.alert = {
      type,
      isShow: true,
      msg,
    }
  }

  async onSubmit() {
    if (!this.$refs.validateForm.validateForm()) return
    const idPatient = this.$route.params.id
    const patient = this.form
    if (!this.isDataRelations) {
      this.saveStore(idPatient, patient)
      this.$router.push('/testcovid/register')
      return
    }
    try {
      this.isLoading = true
      const resp = await this.patientV2Api.updateDetails(patient.id, patient)
      this.saveStore(idPatient, resp)
      this.$router.push('/testcovid/register')
    } catch (error: any) {
      this.showAlert(
        'warning',
        'Gagal Update Informasi Apotek. ' + error.response?.data?.message
      )
    } finally {
      this.isLoading = false
    }
  }
  saveStore(idPatient: any, patient: any) {
    this.$store.commit('testcovid/setPatientAtIndex', {
      index: idPatient,
      patient,
    })
  }
  deletePatient() {
    const index = this.$route.params.id
    this.$store.commit('testcovid/deletePatientAtIndex', index)
    this.$router.back()
  }
  fetchPatient() {
    const listPatient = this.$store.state.testcovid.patients
    if (!listPatient) return
    const pasien = listPatient[this.$route.params.id]
    if (!pasien) return
    if (pasien.name) {
      this.form = pasien
    }
    if (pasien.id && pasien.id.length > 5) {
      this.isDataRelations = true
    }
  }
  mounted() {
    this.patientV2Api = new PatientV2Api(this.$axios)
    this.fetchPatient()
  }
}
</script>
