<template>
  <v-card>
    <v-card-title> Pasien swab {{ $route.params.type }} </v-card-title>
    <v-card-text> Body pasien swab </v-card-text>
  </v-card>
</template>

<script>
export default {}
</script>

<style>
</style>