<template>
  <v-col v-if="dashboard" v-bind="$attrs">
    <v-row>
      <v-col>
        <ui-page-dashboard-card
          title="Jumlah Apotek"
          :value="dashboard.TotalApotek"
          icon="mdi-hospital-building"
          routeTo=""
        />
      </v-col>
      <v-col>
        <ui-page-dashboard-card
          title="Jumlah PMR"
          :value="dashboard.TotalPmr"
          icon="mdi-book-account"
          routeTo=""
        />
      </v-col>
      <v-col>
        <ui-page-dashboard-card
          title="Telah Homecare"
          :value="dashboard.PatientAlreadyHomecare"
          icon="mdi-home-heart"
          routeTo=""
        />
      </v-col>
      <v-col>
        <ui-page-dashboard-card
          title="Bersedia Homecare"
          :value="dashboard.PatientHomecare"
          icon="mdi-account-check"
          routeTo=""
        />
      </v-col>
      <v-col v-if="!isHq">
        <ui-page-dashboard-card
          title="Total Head Quarter"
          :value="
            dashboard.TotalGroupHeadOffice ? dashboard.TotalGroupHeadOffice : 0
          "
          icon="mdi-quality-high"
        />
      </v-col>
    </v-row>
  </v-col>
</template>
<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {
  UiPageDashboardCard,
  UiPageDashboardChartInterval,
} from '@inatti/shared/ui';
import { Prop, Watch } from 'vue-property-decorator';

@Component({
  components: { UiPageDashboardCard, UiPageDashboardChartInterval },
})
export default class HeadofficeDashboardSectionGraphTable extends Vue {
  @Prop() dashboard!: any;
  @Prop({ default: false }) isHq!: boolean;

  getHomecareRoute(filter: string) {
    const { apotekId } = this.$route.query;
    return `/patient?apotekId=${apotekId}&homecare=${filter}`;
  }
}
</script>
