<template>
  <v-row v-if="dashboard">
    <v-col md="6" cols="12">
      <div>
        <ui-page-dashboard-chart-interval
          v-model="dashboard.PmrGraphInterval"
          title="Grafik PMR / Apotek"
          :height="500"
        />
      </div>
    </v-col>
    <v-col md="6" cols="12">
      <v-card>
        <v-card-title> Jumlah PMR / Unit Bisnis </v-card-title>
        <v-card-text>
          <v-data-table
            height="400px"
            :fixed-header="true"
            :headers="pmrUnitBisnisTableHeaders"
            :items="dashboard.TotalPmrPerGroup"
            hide-default-footer
            class="elevation-1"
          ></v-data-table>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col md="6" cols="12">
      <v-card>
        <v-card-title> Jumlah PMR / Apotek </v-card-title>
        <v-card-text>
          <v-data-table
            height="400px"
            :fixed-header="true"
            :headers="pmrApotekTableHeaders"
            :items="dashboard.TotalPmrPerApotek"
            hide-default-footer
            class="elevation-1"
          ></v-data-table>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {
  UiPageDashboardCard,
  UiPageDashboardChartInterval,
} from '@inatti/shared/ui';
import { Prop, Watch } from 'vue-property-decorator';

@Component({
  components: { UiPageDashboardCard, UiPageDashboardChartInterval },
})
export default class HeadofficeDashboardSectionGraphTable extends Vue {
  @Prop() dashboard!: any

  // @Watch('dashboard')
  // onChange(val) {
  //   console.log('dashboard', val);
    
  // }

  // mounted(){
  //   console.log('test dashboard', this.dashboard)
  // }

  pmrUnitBisnisTableHeaders = [
    {
      text: 'HQ',
      value: 'headoffice_name',
    },
    {
      text: 'Jumlah PMR',
      value: 'total',
    },
    {
      text: 'Unit Bisnis',
      value: 'group_name',
    },
  ];

  pmrApotekTableHeaders = [
    {
      text: 'Apotek',
      value: 'apotek_name',
    },
    {
      text: 'Jumlah PMR',
      value: 'total',
    },
    {
      text: 'Unit Bisnis',
      value: 'group_name',
    },
    {
      text: 'HQ',
      value: 'headoffice_name',
    },
  ];

}

</script>