<template>
  <v-file-input
    prepend-inner-icon="mdi-paperclip"
    :label="label"
    v-model="field"
    :disabled="readonly"
    outlined
    :clearable="false"
    prepend-icon=""
    dense
  ></v-file-input>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
@Component
export default class FieldAttachmentPicker extends Vue {
  @Prop({ type: [String], required: true })
  label!: string
  @Prop()
  readonly!: boolean

  field = null

  @Watch('field')
  onSelect(e: any) {
    this.$emit('selected', e)
  }
}
</script>
