<template>
  <div>
    <common-toolbar no-back> Report Transaksi Rujukan </common-toolbar>
    <v-card>
      <v-card-text>
        <v-form
          v-if="!reference.isLoading"
          ref="form"
          v-model="validation.status"
          class="mt-1"
        >
          <v-row>
            <v-col>
              <v-autocomplete
                v-model="reference.selected"
                :items="reference.listData"
                :item-text="reference.listData.name"
                :item-value="reference.listData.id"
                :rules="validation.reference"
                return-object
                outlined
                dense
                label="Rujukan"
              ></v-autocomplete>
            </v-col>
            <v-col>
              <v-menu
                ref="menuStart"
                v-model="menuStart"
                :close-on-content-click="false"
                :return-value.sync="dateStart"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template #activator="{ on, attrs }">
                  <v-text-field
                    v-model="dateStart"
                    label="Tanggal Awal"
                    prepend-inner-icon="mdi-calendar"
                    readonly
                    outlined
                    dense
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="dateStart" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menuStart = false">
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menuStart.save(dateStart)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col>
              <v-menu
                ref="menuEnd"
                v-model="menuEnd"
                :close-on-content-click="false"
                :return-value.sync="dateEnd"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template #activator="{ on, attrs }">
                  <v-text-field
                    v-model="dateEnd"
                    label="Tanggal Akhir"
                    prepend-inner-icon="mdi-calendar"
                    readonly
                    outlined
                    dense
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="dateEnd" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menuEnd = false">
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menuEnd.save(dateEnd)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <v-col>
              <v-text-field
                v-model="invoiceId"
                label="Invoice ID"
                dense
                outlined
              ></v-text-field>
            </v-col>
            <v-col class="text-right mr-2">
              <v-row justify="end" class="pa-3">
                <v-btn
                  color="primary"
                  depressed
                  :loading="table.isLoading"
                  :ripple="false"
                  @click="getTableData"
                >
                  <v-icon left>mdi-magnify</v-icon>
                  Cari
                </v-btn>
              </v-row>
              <v-row justify="end" class="pa-3 mt-0">
                <v-btn
                  v-if="table.resultData.length > 0"
                  color="success"
                  depressed
                  small
                  :loading="exportCsvIsLoading"
                  :ripple="false"
                  @click="downloadReportTransaction"
                >
                  <v-icon left>mdi-microsoft-excel</v-icon>
                  Download
                </v-btn>
              </v-row>
            </v-col>
          </v-row>
        </v-form>
        <ui-table-pagination-filter
          v-if="table.resultData.length > 0"
          v-model="table.responseData"
          :hide-date-filter="true"
          @change="getTableData"
        >
          <v-data-table
            :headers="table.headers"
            :items="table.items"
            class="elevation-1"
            :loading="table.isLoading"
            hide-default-footer
            disable-pagination
          >
          </v-data-table>
        </ui-table-pagination-filter>
        <v-col v-else cols="12" class="text-center">
          Tidak ada transaksi untuk di tampilkan.
        </v-col>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import dayjs from 'dayjs'
import Component from 'vue-class-component'
import Vue from 'vue'
import { MethodPaymentEnum, GenderEnum } from '@inatti/shared/api-nuxt'
import { PaginationResult, TransactionHistory } from '@inatti/shared/api-nuxt'
import { UiTablePaginationFilter } from '@inatti/shared/ui'

export interface TableItems {
  number: number
  refName: string | undefined
  invoiceId: string
  sampleId: string
  dateSendToLab?: string | null
  paymentMethod: MethodPaymentEnum
  fixedPrice?: string
  name: string
  gender: GenderEnum | string
  nik: string
}

@Component({ components: { UiTablePaginationFilter } })
export default class ReportReference extends Vue {
  validation = {
    status: false,
    reference: [(v: any) => !!v || 'Mohon pilih rujukan.'],
  }

  reference = {
    selected: {
      text: null,
      value: null,
    },
    listData: [] as any,
    isLoading: false as boolean,
  }

  dateStart = null as string | Date | null
  menuStart = false as boolean

  dateEnd = null as string | Date | null
  menuEnd = false as boolean

  invoiceId = null as string | null

  table = {
    isLoading: false,
    responseData: {} as PaginationResult<any>,
    resultData: {} as TransactionHistory[],
    items: [] as TableItems[],
    headers: [
      { text: 'No.', value: 'number', sortable: false },
      { text: 'Nama Rujukan', value: 'refName', sortable: false },
      { text: 'Invoice ID', value: 'invoiceId', sortable: false },
      { text: 'Sample ID', value: 'sampleId', sortable: false },
      { text: 'Tanggal Kirim ke Lab', value: 'dateSendToLab', sortable: false },
      { text: 'Metode Pembayaran', value: 'paymentMethod', sortable: false },
      { text: 'Harga', value: 'fixedPrice', sortable: false },
      { text: 'Nama Pasien', value: 'name', sortable: false },
      { text: 'Jenis Kelamin', value: 'gender', sortable: false },
      { text: 'NIK', value: 'nik', sortable: false },
    ],
  }

  created() {
    this.getReferenceList()
    this.getTableData({
      'filter[date]': 'today',
    })
  }

  async getReferenceList() {
    this.reference.isLoading = true
    try {
      const response = await this.$axios.$get('/api-lab/transaction-ref/refs')
      this.reference.listData = response.map((item: any) => {
        return {
          text: item.name,
          value: item.id,
        }
      })
    } catch (error) {
    } finally {
      this.reference.isLoading = false
    }
  }

  lastParam = {}
  async getTableData(params: any = {}) {
    try {
      let validate = (
        this.$refs.form as Vue & { validate: () => boolean }
      ).validate()
      if (validate) {
        this.validation.status = true
      } else {
        return false
      }
    } catch (error) {
      return error
    }

    this.lastParam = params
    this.table.isLoading = true
    const labId = this.$route.query.labId
    const refId = this.reference.selected.value

    try {
      const response: PaginationResult<any> = await this.$axios.$get(
        '/api-lab/transaction-ref/history-trx',
        {
          params: {
            idlab: labId,
            idref: refId,
            'filter[dateCreatedStart]': this.dateStart,
            'filter[dateCreatedEnd]': this.dateEnd,
            'filter[invoiceId]': this.invoiceId,
            ...params,
          },
        }
      )
      this.table.responseData = response
      this.table.resultData = response.results
      this.table.items = this.parseToTableItem()
    } catch (error) {
    } finally {
      this.table.isLoading = false
    }
  }

  parseToTableItem() {
    let historyTableData = [] as TableItems[]

    const dateFormat = (date?: string | Date) =>
      date ? dayjs(date).format('DD-MM-YYYY HH:mm:ss') : null
    const toIdr = (val: string | number) =>
      new Intl.NumberFormat('id-ID', {
        style: 'currency',
        currency: 'IDR',
      }).format(+val)

    let startCount =
      +this.table.responseData.page * this.table.responseData.pageTotal
    for (let i = 0; i < this.table.resultData.length; i++) {
      const historyDetail: TransactionHistory = this.table.resultData[i]

      historyTableData.push({
        number: startCount + i + 1,
        refName: historyDetail.detailSwab.refTarget?.name,
        invoiceId: historyDetail.orderTrx.invId,
        sampleId: historyDetail.detailSwab.sampleId,
        dateSendToLab: dateFormat(historyDetail.detailSwab.sendToLabDate),
        paymentMethod: historyDetail.method,
        fixedPrice: toIdr(historyDetail.price),
        name: historyDetail.detailSwab.patient?.name,
        gender:
          historyDetail.detailSwab.patient?.gender === 'lk'
            ? 'Laki Laki'
            : historyDetail.detailSwab.patient?.gender === 'pr'
            ? 'Perempuan'
            : historyDetail.detailSwab.patient?.gender,
        nik: historyDetail.detailSwab.patient?.nik,
      })
    }
    return historyTableData
  }

  exportCsvIsLoading = false
  async downloadReportTransaction() {
    const labId = this.$route.query.labId
    this.exportCsvIsLoading = true

    try {
      const response = await this.$axios.$get(
        '/api-lab/transaction-ref/history-trx/export',
        {
          params: {
            idlab: labId,
            idref: this.reference.selected.value,
            'filter[dateCreatedStart]': this.dateStart,
            'filter[dateCreatedEnd]': this.dateEnd,
            'filter[invoiceId]': this.invoiceId,
          },
          responseType: 'blob',
        }
      )

      if (response === '' || '') {
        return false
      } else {
        const link = document.createElement('a')
        let blob = new Blob([response])
        let downloadUrl = URL.createObjectURL(blob)

        link.setAttribute('href', downloadUrl)
        link.setAttribute(
          'download',
          `Report Transaksi Rujukan ${this.reference.selected.text ?? ''} ${
            this.dateStart ?? '' + '-' + this.dateEnd ?? ''
          } ${this.invoiceId ?? ''} ${new Date().getTime()}.xlsx`
        )
        document.body.appendChild(link)
        link.click()
      }
    } catch (error) {
      return error
    } finally {
      this.exportCsvIsLoading = false
    }
  }
}
</script>
