<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> {{ resultTest.patientName }} </mobile-appbar-title>
    </template>
    <v-card outlined class="mt-toolbar rounded-0" :loading="isLoading">
      <v-card-title class="d-flex align-center px-2">
        <v-icon> mdi-account-outline </v-icon>
        <span class="text-subtitle-2 font-weight-medium ml-2">{{
          resultTest.patientName
        }}</span>
      </v-card-title>
      <v-card-text class="px-0 pb-0">
        <div class="d-flex align-center flex-column">
          <div
            class="d-flex justify-space-between align-start flex-column"
            style="width: 95%"
          >
            <div
              style="width: 100%"
              class="d-flex justify-space-between flex-row align-center mt-4"
            >
              <span class="text-subtitle-2 font-weight-medium"
                >NIK / Paspor</span
              >
              <span class="text-subtitle-2 font-weight-medium">{{
                resultTest.patientNik
              }}</span>
            </div>
            <div
              v-if="resultTest.resultSwab ? true : false"
              style="width: 100%"
              class="d-flex justify-space-between flex-row align-center mt-3"
            >
              <span class="text-subtitle-2 font-weight-medium">Hasil Test</span>
              <common-chip-status-swab
                :small="true"
                :status="resultTest.resultSwab"
              ></common-chip-status-swab>
            </div>
            <div
              style="width: 100%"
              class="d-flex justify-space-between flex-row align-center mt-3 px-1"
            >
              <v-btn
                color="secondary"
                style="width: 47%"
                @click="
                  $router.push(`/testcovid/patient/${resultTest.patientId}`)
                "
              >
                Detail Pasien
              </v-btn>
            </div>
          </div>
          <div
            class="d-flex justify-space-between align-center flex-column my-4"
            style="width: 100%"
          >
            <v-card outlined>
              <v-img
                class="white--text align-end rounded-0"
                :src="
                  resultTest.refImage
                    ? resultTest.refImage
                    : require('@/assets/images/media/image_not_available.png')
                "
                height="200px"
              ></v-img>
            </v-card>
            <div
              style="width: 95%"
              class="d-flex justify-space-between flex-row align-center mt-4"
            >
              <div>
                <div class="font-weight-light black--text text-h6">
                  {{ resultTest.referenceName }}
                </div>
                <div class="font-weight-light black--text text-subtitle-2">
                  {{ resultTest.productName }}
                </div>
              </div>
              <div class="text-right">
                <div class="font-weight-light black--text text-subtitle-2">
                  {{ resultTest.productTypeName }}
                </div>
                <div class="font-weight-medium body-1 font-weight-regular">
                  {{
                    resultTest.productPrice
                      ? $utils.toIdr(resultTest.productPrice)
                      : resultTest.productPrice
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-card-text>
    </v-card>
    <v-card outlined class="mt-3 rounded-0">
      <v-card-title class="d-flex pb-0 align-center">
        <v-icon> mdi-clock-outline </v-icon>
        <span class="text-subtitle-2 font-weight-medium ml-2">Jadwal Test</span>
      </v-card-title>
      <v-card-text>
        <div class="d-flex align-start flex-column mt-2">
          <div class="text-subtitle-2 font-weight-bold">
            {{
              resultTest.requestSwabDate
                ? $utils.dateToFullText(resultTest.requestSwabDate)
                : resultTest.requestSwabDate
            }}
          </div>
        </div>
      </v-card-text>
    </v-card>
  </mobile-layout>
</template>
<script>
import { UserApi, UserTestCovidApi } from '@inatti/shared/api-nuxt'
export default {
  name: 'ResultDetail',
  layout: 'blank',
  data() {
    return {
      isLoading: false,
      resultTest: {
        id: '',
        patientId: '',
        patientName: '',
        patientNik: '',
        productTypeName: '',
        productName: '',
        referenceName: '',
        productPrice: 0,
        status: '',
        refImage: '',
        resultSwab: '',
        requestSwabDate: '',
        orderSwabId: '',
      },
      userApi: null,
      userTestCovidApi: null,
    }
  },
  mounted() {
    this.userApi = new UserApi(this.$axios)
    this.userTestCovidApi = new UserTestCovidApi(this.$axios)
    this.fetchData()
  },
  methods: {
    async printSwabResult(id, patientName, patientId) {
      this.isLoading = true
      try {
        const resp = await this.userTestCovidApi.getCertificate(id)
        if (resp) {
          const url = window.URL.createObjectURL(new Blob([resp]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', `${patientName}_${patientId}.pdf`)
          document.body.appendChild(link)
          link.click()
          link.remove()
        }
      } catch (error) {
      } finally {
        this.isLoading = false
      }
    },
    async fetchData() {
      const { id } = this.$route.params
      try {
        const resp = await this.userApi.getPatientDetail(id)
        this.resultTest = {
          id: resp?.id,
          patientId: resp?.patient?.id,
          patientName: resp?.patient?.name,
          patientNik: resp?.patient?.nik,
          productTypeName: resp?.orderSwab?.product?.product?.name,
          referenceName: resp?.refTarget?.name,
          productPrice: resp?.orderSwab?.product?.price,
          refImage: resp?.refTarget?.image,
          resultSwab: resp?.resultSwab,
          requestSwabDate: resp?.requestSwabDate,
          productName: resp?.orderSwab?.product?.name,
        }
      } catch (error) {}
    },
  },
}
</script>
