<template>
  <div>
    <common-toolbar no-back>
      Pengaturan Layanan WA
      <template #control>
        <v-btn
          color="primary"
          :loading="isLoadingSaveSetting"
          @click="onSaveSetting"
        >
          Simpan Pengaturan
        </v-btn>
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text v-if="form">
        <v-alert
          v-if="alertForm.isShow"
          :icon="alertForm.icon"
          :type="alertForm.type"
          dismissible
        >
          {{ alertForm.msg }}
        </v-alert>
        <v-row>
          <v-col md="4" cols="12">
            <span class="subtitle-1 font-weight-medium">
              Notifikasi One Time Password ( OTP )
            </span>
            <v-divider class="mb-4 mt-3" />
            <v-form lazy-validation>
              <v-select
                v-model="form.WA_SERVICE_OTP"
                dense
                outlined
                item-text="name"
                item-value="id"
                :items="serviceList"
                label="Pilih Layanan Pengiriman WA"
              ></v-select>
            </v-form>
          </v-col>
          <v-col md="4" cols="12">
            <span class="subtitle-1 font-weight-medium">
              Notifikasi Kirim order id
            </span>
            <v-divider class="mb-4 mt-3" />
            <v-form lazy-validation>
              <v-select
                v-model="form.WA_SERVICE_SEND_ORDER_ID"
                dense
                item-text="name"
                item-value="id"
                :items="serviceList"
                outlined
                label="Pilih Layanan Pengiriman WA"
              ></v-select>
            </v-form>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { AdminApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class WhatsappServiceComponent extends Vue {
  form = {
    WA_SERVICE_OTP: '',
    WA_SERVICE_SEND_ORDER_ID: '',
  }
  isLoading = false
  isLoadingSaveSetting = false
  alertForm = {
    isShow: false,
    msg: '',
    type: '',
  }

  serviceList = [
    {
      id: 'taptalk',
      name: 'taptalk',
    },
    {
      id: 'nusagateway',
      name: 'nusagateway',
    },
  ]

  adminApi!: AdminApi

  mounted() {
    this.adminApi = new AdminApi(this.$axios)
    this.fetchWhatsappService()
  }

  showAlert(type: string, msg: string) {
    this.alertForm = {
      isShow: true,
      msg,
      type,
    }
  }

  async onSaveSetting() {
    try {
      this.isLoadingSaveSetting = true
      await this.adminApi.updateAppConfigNotification(this.form)
      this.showAlert('success', 'Sukses Update Pengaturan Notifikasi')
    } catch (error) {
      this.showAlert('warning', 'Gagal Update Pengaturan Notifikasi. ' + error)
    } finally {
      this.isLoadingSaveSetting = false
    }
  }

  async fetchWhatsappService() {
    try {
      this.isLoading = true
      const resp = await this.adminApi.getWhatsappService()
      const reoganize = new Map()
      let index = 0
      while (resp.length !== index) {
        reoganize.set(resp[index].name, resp[index].value)
        index++
      }
      const data = Object.fromEntries(reoganize)
      this.form = {
        ...this.form,
        ...data,
      }
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }
}
</script>
