<template>
  <v-list-item v-if="value" dense @click="$emit('click')">
    <v-list-item-avatar v-if="avatar">
      <v-avatar color="green lighten-1" class="white--text">
        {{ avatar }}
      </v-avatar>
    </v-list-item-avatar>
    <v-list-item-content v-if="value.name">
      <v-list-item-title>
        <strong>
          {{ value.name }}
        </strong>
      </v-list-item-title>
      <v-list-item-subtitle class="d-flex">
        <div>
          {{ value.type }}
        </div>
      </v-list-item-subtitle>
    </v-list-item-content>
    <v-list-item-action>
      <slot name="action" />
    </v-list-item-action>
  </v-list-item>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      default: null
    },
    avatar: {
      type: String,
      default: null
    }
  }
}
</script>