<template>
  <div class="mapping-sample__sidebar">
    <div class="text-h5 mb-3">
      Pengaturan Map
    </div>
    <v-divider />
    <div>
      <div class="mapping-sample__sidebar--detail-cell">
        <div class="text-h6 pa-3 blue lighten-1 white--text">
          Detail Sel <span v-if="selectedCell" class="blue darken-4 px-3">{{ getCellAscii(selectedCell) }}</span>
        </div>
        <v-list-item v-if="!selectedCell">
          <v-list-item-content>
            <v-list-item-title class="blue-grey--text lighten-2">
              Pilih sel
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="selectedCell && !selectedCell.data">
          <v-list-item-title>
            Sel {{ getCellAscii(selectedCell) }} Belum diisi
          </v-list-item-title>
        </v-list-item>
        <div v-if="selectedCell">
          <mapping-sample-item-sample
            v-if="!selectedCell.isControl"
            class="sample__detail"
            :value="selectedCell.data"
          >
            <template v-if="editable" #action>
              <v-btn title="Hapus Sample" icon color="red" @click="clickRemoveSample()">
                <v-icon>mdi-account-remove-outline</v-icon>
              </v-btn>
            </template>
          </mapping-sample-item-sample>
          <mapping-sample-control-sample
            v-if="selectedCell.isControl"
            class="sample__detail sample__detail--control"
            :value="selectedCell.data"
          >
            <template v-if="editable" #action>
              <v-btn title="Hapus Sample" icon color="red" @click="clickRemoveSample()">
                <v-icon>mdi-account-remove-outline</v-icon>
              </v-btn>
            </template>
          </mapping-sample-control-sample>
        </div>
      </div>

      <div v-if="!readonly" class="mapping-sample__sidebar--available-sample">
        <div class="text-h6 pa-3 red lighten-1 white--text">
          Pilih sample untuk sel
          <span v-if="selectedCell" class="blue darken-4 white--text px-3">
            {{ getCellAscii(selectedCell) }}
          </span>
        </div>

        <v-tabs v-model="tabAvailableSample">
          <v-tab href="#handover-sample">
            Handover
          </v-tab>
          <v-tab v-if="haveControl" href="#control-sample">
            Control
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tabAvailableSample">
          <v-tab-item value="handover-sample">
            <v-text-field
              v-model="searchAvailableSample"
              class="mt-3"
              outlined
              dense
              clearable
              label="Cari Sample"
              @keydown="listAvailableKey++"
            />

            <v-list :key="listAvailableKey" class="list-available" style="max-height:480px; overflow-y:scroll">
              <template v-for="(sample, index) in getSampleAvailableFiltered()">
                <mapping-sample-item-sample
                  :key="index"
                  :value="sample"
                  class="list-available__item"
                  @click="clickItemSample(sample)"
                >
                </mapping-sample-item-sample>
              </template>
            </v-list>
          </v-tab-item>
          <v-tab-item v-if="haveControl" value="control-sample">
            <v-list class="list-control">
              <template v-for="(control, index) in getControlSamples()">
                <mapping-sample-control-sample
                  v-if="isControlNotFilled(control)"
                  :key="index"
                  :value="control"
                  @click="clickItemControl(control)"
                />
              </template>
            </v-list>
          </v-tab-item>
        </v-tabs-items>
      </div>

      <div class="mapping-sample__sidebar--filled-cell">
        <div class="text-h6 pa-3 green lighten-1 white--text">
          Sample telah dimapping
        </div>
        <v-text-field
          v-model="searchFilledCell"
          class="mt-3"
          outlined
          dense
          clearable
          label="Cari Sample"
          @keydown="listAvailableKey++"
        />
        <div v-if="!filledCell || filledCell.length < 1" class="text-center">
          Belum ada sample di map, pilih kotak map untuk menyusun sample
        </div>
        <v-list class="list-mapping overflow-y-auto" style="height: 300px;">
          <v-list-item-group v-model="selectedFilledCell" color="primary">
            <template v-for="(cell, index) in getFilledCell()">
              <mapping-sample-item-sample
                v-if="!cell.isControl"
                :key="index"
                :value="cell.data"
                :avatar="getCellAscii(cell)"
                class="list-mapping__item"
                @click="selectCellFromFilled(cell)"
              >
              <template v-if="editable" #action>
                <v-btn title="Hapus Sample" icon color="red" @click="clickRemoveSampleFromCell(cell)">
                  <v-icon>mdi-account-remove-outline</v-icon>
                </v-btn>
              </template>
              </mapping-sample-item-sample>

              <mapping-sample-control-sample
                v-if="cell.isControl"
                :key="index"
                :value="cell.data"
                :avatar="getCellAscii(cell)"
                class="list-mapping__item"
                @click="selectCellFromFilled(cell)"
              >
              <template v-if="editable" #action>
                <v-btn title="Hapus Sample" icon color="red" @click="clickRemoveSampleFromCell(cell)">
                  <v-icon>mdi-account-remove-outline</v-icon>
                </v-btn>
              </template>
              </mapping-sample-control-sample>
            </template>
          </v-list-item-group>
        </v-list>
      </div>

    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop, Watch } from "vue-property-decorator";
import { Cell, ControlSample } from './table.vue'
import { ControlTypeMapping, PatientSwabDetailDTO } from '@inatti/shared/api-nuxt'
import { ModeMapType } from '@inatti/shared/api-nuxt'
import Utils from '../../helper/utils'

@Component
export default class MappingSampleSidebarComponent extends Vue {
  @Prop({type: Array})
  sampleAvailable!: PatientSwabDetailDTO.SwabDetail[]
  @Prop()
  selectedCell!: Cell
  @Prop()
  filledCell!: Cell[]
  @Prop()
  modeMap!: ModeMapType
  @Prop({default: false})
  readonly!: boolean
  @Prop({ type: Boolean })
  haveControl!: boolean

  selectedFilledCell:null | number = null

  searchAvailableSample: null | string = null
  searchFilledCell: null | string = null
  listAvailableKey = 0

  tabAvailableSample:any = null

  listControls: ControlSample[] = []

  get editable(){
    return !this.readonly
  }

  // filter sample availbale only that not filled yet
  getSampleAvailableFiltered(){
    const searchSample = (sample:PatientSwabDetailDTO.SwabDetail)=>{
      if(this.searchAvailableSample){
        return sample.patient.name.toLowerCase().includes(this.searchAvailableSample.toLowerCase())
      }else{
        return sample;
      }
    }

    let filledCellId = this.filledCell ? this.filledCell.map(v => v.data.id) : []
    if(this.searchAvailableSample){
      return this.sampleAvailable.filter((v) => v && !filledCellId.includes(v.id) && searchSample(v))
    } else {
      return this.sampleAvailable.filter((v) => v && !filledCellId.includes(v.id))
    }
  }

  getFilledCell(){
    const searchSample = (val:PatientSwabDetailDTO.SwabDetail) => {
      if(!this.searchFilledCell) return val
      return val.patient.name.toLowerCase().includes(this.searchFilledCell.toLowerCase())
    }

    const searchControl = (val: ControlSample) => {
      if(!this.searchFilledCell) return val
      return val.name.toLowerCase().includes(this.searchFilledCell.toLowerCase())
    }

    const search = (cell: Cell) => {
      return cell.isControl ? searchControl(cell.data) : searchSample(cell.data)
    }
    if(!Array.isArray(this.filledCell)) return null

    return this.filledCell.filter((v:any) => search(v))
  }

  clickItemSample(sample:any){
    this.$emit('updateSelectedCell', { data: sample, isControl: false })
  }

  clickItemControl(control: ControlSample){
    this.$emit('updateSelectedCell', { data: control, isControl: true })
  }

  selectCellFromFilled(cell:Cell){
    this.$emit('selectSampleFilled', cell)
  }

  clickRemoveSample(){
    this.$emit('updateSelectedCell', { data: null, isControl:false })
  }

  clickRemoveSampleFromCell(cell:Cell){
    cell.data = null
    cell.isControl = false
    this.$emit('updateCell', cell)
  }

  getCellAscii(cell:Cell){
    if(!cell) return ''
    if(cell.row === undefined || cell.col === undefined) return '';
    
    return Utils.getCellAscii(cell.row, cell.col)
  }

  @Watch('selectedCell')
  updateSelectedCell(newCell:Cell){
    if(!newCell) {
      this.selectedFilledCell = null
      return;
    }
    if(!this.filledCell) return false
    this.filledCell.forEach((fillCell, index) => {
      if(Cell.isSame(fillCell, newCell)){
        this.selectedFilledCell = index
      }
    });
  }

  getControlSamples():ControlSample[]{
    if(this.listControls.length > 0){
      return this.listControls;
    }
    let controlPositif = 5
    let controlNegatif = 5
    let allControl = controlPositif + controlNegatif

    let countPositif = 1
    let countNegatif = 1.

    let controls:ControlSample[] = []
    for (let i = 0; i < allControl; i++) {
      if(controlPositif > 0){
        controls.push({
          id: `P${countPositif}`,
          name: `Positif ${countPositif}`,
          type: ControlTypeMapping.positif,
          isPositif: true,
        })
        controlPositif = controlPositif - 1
        countPositif++
      } else {
        controls.push({
          id: `N${countNegatif}`,
          name: `Negatif ${countNegatif}`,
          type: ControlTypeMapping.negatif,
          isPositif: false,
        })
        countNegatif++
      }
    }
    this.listControls = controls
    return this.listControls
  }

  isControlNotFilled(control:ControlSample){
    if(!this.filledCell) return true
    return !this.filledCell.some((v) => v.isControl && v.data.id === control.id)
  }

  created() { }
}
</script>

<style>

</style>