<template>
<v-row>
  <v-col md="8" cols="12">
    <div class="table--container">
      <table v-click-outside="{handler: clearSelectedCell, include: includeOutside}" class="mapping-table" :key="tableKey">
        <tr>
          <td class="cell--td fixed--cell"></td>
          <template v-for="(colNumber, indexCol) in col">
            <td :key="indexCol" class="cell--td fixed--cell">
              <div class="cell">
                {{ colNumber }}
              </div>
            </td>
          </template>
        </tr>
        <tr v-for="(gridCol, rowNumber) in grid" :key="rowNumber">
          <td class="cell--td fixed--cell">
            {{ getAscii(rowNumber) }}
          </td>
          <td
            v-for="(cell, colNumber) in gridCol"
            :key="colNumber"
            class="cell--td"
            :class="{
              cell__selected: cell.isSelected,
              cell__filled: !!cell.data,
              cell__control: cell.isControl,
              cell__notcontrol: !cell.isControl
            }"
            @click="cell.click()"
          >
            <div :key="cell.keyComponent" class="cell pa-1">
              <!-- eslint-disable-next-line vue/no-v-html -->
              <span class="text-center" v-html="cell.data ? cell.printData() : cell.toAscii">
              </span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </v-col>
  <v-col md="4" cols="12">
    <slot name="sidebar" :on="sidebarVOn" :attr="sidebarVAttr"/>
  </v-col>
</v-row>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop, Watch } from "vue-property-decorator";
import MixinsMapping from './mixins'
import Utils from '../../helper/utils'
import { ModeMapType } from '@inatti/shared/api-nuxt'
import { ControlTypeMapping } from '@inatti/shared/api-nuxt'

export interface ControlSample {
  id: string, // id format : P1, P2, P3, N1, N2, N3
  name: string,
  type: ControlTypeMapping,
  isPositif: boolean
}

export class Cell<T = any> {
  constructor(param: {col: number, row: number}){
    this.col = param.col
    this.row = param.row
  }
  indexMemory!: number
  col: undefined | number;
  row: undefined | number;
  data?: T | ControlSample | any;
  isSelected?: boolean = false;
  isControl: boolean = false;
  isPremove: boolean = false;
  
  // to update component cell everytime key is changed
  keyComponent = 0

  isSame(cell: Cell):any{
    return Cell.isSame(cell, this)
  }

  get toAscii(){
    if(this.row === undefined || this.col === undefined){
      return '';
    }
    return Utils.getCellAscii(this.row, this.col)
  }

  get value(){
    if(!this.data){
      return this.toAscii
    } else {
      return this.printData()
    }
  }

  printData = () => {
    if(!this.isControl){
      const data = this.data as any
      if(!data.patient) return ''
      const sampleId = data.sampleId
      const name = data.patient.name
      const dateBirth = data.patient.datebirth
      return name + "<br>" + dateBirth + "<br>" + `( ${sampleId} )`
    } else {
      const data = this.data as ControlSample
      return data.name
    }
  }

  // will be override
  onclick!: (cell:Cell) => void

  click = () => {
    this.onclick(this)
  }
  
  static isSame(cell1:Cell, cell2:Cell):Boolean{
    return cell1.col === cell2.col && cell1.row === cell2.row
  }

  static getImportantData(cell:Cell){
    const { row, col, data, isControl } = cell
    return { row, col, data, isControl }
  }
}

@Component({
  mixins: [
    MixinsMapping
  ],
})
export default class MappingSampleTableComponent extends Vue {
  // v-model
  @Prop()
  value!: Cell[];

  // predata is data initiation
  @Prop()
  predata!: any;

  @Prop({default: 8})
  row!: number;
  @Prop({default: 12})
  col!: number;

  @Prop()
  readonly!:boolean;

  @Prop({type: Boolean})
  haveControl!: boolean

  grid: Cell[][] = []

  cellMemory: Cell[] = []

  // event API for sidebar to access table
  // check on function setupSidebarVOn()
  sidebarVOn = {}

  modeMap:ModeMapType = 'idle'
  filledCell: Cell[] = []

  sidebarVAttr = {
    selectedCell: null,
    filledCell: null,
    modeMap: null,
    readonly: false,
    haveControl: false,
  }

  @Watch('modeMap')
  sidebarUpdateModeMap(val:any){
    this.sidebarVAttr.modeMap = val
  }
  @Watch('filledCell')
  sidebarUpdateFilledCell(val:any){
    this.sidebarVAttr.filledCell = val

    // update to v-model
    this.$emit('input', val)
  }
  @Watch('activeCell')
  sidebarUpdateSelectedCell(val:any){
    this.sidebarVAttr.selectedCell = val
  }
  @Watch('readonly', {immediate: true})
  sidebarUpdateReadonly(val:boolean){
    this.sidebarVAttr.readonly = val
  }
  @Watch('haveControl', {immediate: true})
  sidebarUpdatehaveControl(val:boolean){
    this.sidebarVAttr.haveControl = val
  }


  indexActiveCell: null | number = null

  get activeCell(){
    if(this.indexActiveCell === null || this.indexActiveCell === undefined) return null
    return this.cellMemory[this.indexActiveCell]
  }

  created() {
    this.createEmptyGrid()
  }

  mounted(){
    if(this.predata){
      this.updateCellBasedPredata(this.predata)
    }

    this.setupSidebarVOn()
  }

  // to refresh table
  tableKey = 0

  @Watch('predata')
  updateCellBasedPredata(newValue:Cell[]){
    if(!newValue || !Array.isArray(newValue)) return false
    this.cellMemory.forEach(cell => {
      for (const v of newValue) {
        if(Cell.isSame(v, cell)){
          // assign only important part
          Object.assign(cell, Cell.getImportantData(v))
        }
      }
    });
    this.tableKey++;
    this.refreshFilledCell();
  }

  createEmptyGrid(){
    this.grid = []
    this.cellMemory = []
    for (let rowNumber = 0; rowNumber < this.row; rowNumber++) {
      let rowData = []
      for (let colNumber = 0; colNumber < this.col; colNumber++) {
        const cell = new Cell({
          col: colNumber,
          row: rowNumber,
        })
        cell.onclick = this.cellOnClick
        cell.indexMemory = this.cellMemory.length
        this.cellMemory.push(cell)

        // pass by reference
        rowData.push(this.cellMemory[this.cellMemory.length - 1])
      }
      this.grid.push(rowData)
    }
  }

  setupSidebarVOn(){
    this.sidebarVOn = {
      selectSampleFilled: (cell:Cell) => {
        this.selectCellFromExternal(cell)
      },
      updateSelectedCell: (cell:Cell) => {
        this.fillDataActiveCell(cell)
      },
      updateCell: (cell:Cell) => {
        this.updateCellFromExternal(cell)
      }
    }
  }

  selectCellFromExternal(selectCell: Cell){
    this.cellMemory.forEach((cell) => {
      if(cell.isSame(selectCell)){
        this.indexActiveCell = cell.indexMemory
        if(this.activeCell){
          this.activeCell.isSelected = true;
        }
        this.modeMap = 'detail'
        cell.keyComponent++;
      } else{
        cell.isSelected = false
      }
    });
  }

  fillDataActiveCell(updateCell:Cell){
    if(!this.activeCell) return false
    Object.assign(this.activeCell, updateCell)
    this.activeCell.keyComponent++;
    this.refreshFilledCell();
  }

  refreshFilledCell(){
    this.filledCell = this.cellMemory.filter((v) => !!v.data)
  }

  updateCellFromExternal(cellChoosen:Cell){
    this.cellMemory.forEach((cell) => {
      if(Cell.isSame(cell, cellChoosen)){
        Object.assign(cell, cellChoosen)
        cell.keyComponent++;
      }
    })
    this.refreshFilledCell()
  }

  cellOnClick(selectedCell: Cell){
    // deactive if click same cell
    if(this.activeCell?.isSame(selectedCell)){
      this.activeCell.isSelected = false
      this.indexActiveCell = null
      this.modeMap = 'idle'
      return;
    }

    // before change, deactive cell
    if(this.activeCell){
      this.activeCell.isSelected = false
    }

    selectedCell.isSelected = true
    this.indexActiveCell = +selectedCell.indexMemory
    
    if(this.activeCell){
      this.activeCell.isSelected = true
      if(this.activeCell.data){
        this.modeMap = 'detail'
      } else {
        this.modeMap = 'fill'
      }
    }
  }

  includeOutside(){
    return [
      document.querySelector(".mapping-sample__sidebar")
    ]
  }
  // when click outside, clear the selectedcell
  clearSelectedCell(){
    this.modeMap = 'idle'
    if(this.activeCell){
      this.activeCell.isSelected = false;
    }
    this.indexActiveCell = null
  }
}
</script>

<style lang="scss">
$width-cell: 90px;
$height-cell: 90px;

.table--container {
  overflow: auto;
  border-right: 1px solid rgba(119, 119, 119, 0.81);
  box-shadow: inset -30px 0px 15px -30px rgba(119, 119, 119, 0.81);
}

table.mapping-table {
  td.cell--td:not(.fixed--cell) {
    width: $width-cell;
    height: $height-cell;
    border: 1px solid green;
    cursor: pointer;
    .cell {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $width-cell;
    }
    .cell__detail {
      overflow-y: hidden;
      height: 50%;
    }
    .cell__container {
      width: $width-cell;
    }
    &.cell__selected {
      background: yellow;
      &.cell__filled {
        background: yellow;
      }
    }
    &.cell__filled {
      border: 3px solid blue;
      background: rgb(221, 221, 248);
    }
    &.cell__control {
      border: 3px solid blueviolet;
    }
    &.cell__selectedToEdit {
      border: 3px solid rgb(26, 219, 26);
      background: yellow;
    }
  }
  td.fixed--cell {
    text-align: center;
    font-weight: bold;
    background: yellow;
    border: 1px solid black;
    padding: 0 10px;
  }
}
.list-sample {
  height: 300px;
  overflow-y: auto;
}
</style>