<template>
  <v-row justify="center" align="center">
    <v-col col="4">
      <v-card :loading="isLoading">
        <v-card-text v-if="!resultApi.data">
          <v-row>
            <v-col cols="12" md="3" class="text-h5">
              Selamat datang
              <strong>
                {{ $auth.user.fullname }}
              </strong>
            </v-col>
            <v-spacer></v-spacer>
            <v-col v-for="i in 4" :key="i" cols="6" md="2">
              <v-card>
                <v-card-text>
                  <div class="d-flex justify-space-between align-center">
                    <div style="width: 60%">
                      <v-skeleton-loader type="text" />
                      <v-skeleton-loader type="text" />
                    </div>
                    <div>
                      <v-skeleton-loader type="avatar" />
                    </div>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6">
              <v-skeleton-loader type="image" height="800" />
            </v-col>
            <v-col cols="12" md="6">
              <v-skeleton-loader type="image" height="800" />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text v-if="resultApi.data">
          <v-row>
            <v-col cols="12" md="3" class="text-h5">
              Selamat datang
              <strong>
                {{ $auth.user.fullname }}
              </strong>
            </v-col>
            <v-spacer />
            <v-col cols="6" md="2">
              <ui-page-dashboard-card
                title="Pasien terdaftar"
                :value="resultApi.data.patientRegistered"
                icon="mdi-account-multiple-check"
              />
            </v-col>
            <v-col cols="6" md="2">
              <ui-page-dashboard-card
                title="Sample diproses"
                :value="resultApi.data.sampleProcessed"
                icon="mdi-account-multiple-check"
              />
            </v-col>
            <v-col cols="6" md="2">
              <ui-page-dashboard-card
                title="Sample Negatif"
                :value="resultApi.data.totalSampleNegatif"
                icon="mdi-account-multiple-check"
              />
            </v-col>
            <v-col cols="6" md="2">
              <ui-page-dashboard-card
                title="Sample Positif"
                :value="resultApi.data.totalSamplePositif"
                icon="mdi-account-multiple-check"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col md="6" cols="12">
              <ui-page-dashboard-chart-interval
                v-model="resultApi.data.recordSampleResult"
                title="Hasil Test Keseluruhan"
                :color="colorChartResult"
              />
            </v-col>
            <v-col md="6" cols="12">
              <ui-page-dashboard-chart-interval
                v-model="resultApi.data.recordSampleType"
                title="Sample Berdasarkan Tipe Produk"
                type="line"
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col md="6" cols="12">
              <ui-page-dashboard-chart-interval
                v-if="resultApi.data.recordSampleResultPcr"
                v-model="resultApi.data.recordSampleResultPcr"
                :color="colorChartResult"
                title="Hasil Test PCR"
              />
            </v-col>
            <v-col md="6" cols="12">
              <ui-page-dashboard-chart-interval
                v-if="resultApi.data.recordSampleResultAntigen"
                v-model="resultApi.data.recordSampleResultAntigen"
                :color="colorChartResult"
                title="Hasil Test Antigen"
              />
            </v-col>
          </v-row>
          <div class="text-right mt-3">
            Terakhir diupdate
            {{ new Date(resultApi.updatedAt).toLocaleString() }}
            <span>
              <v-btn text @click="forceUpdate()">
                <v-icon>mdi-reload</v-icon> Refresh data
              </v-btn>
            </span>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { ReferenceApi } from '@inatti/shared/api-nuxt'
import {
  UiPageDashboardCard,
  UiPageDashboardChartInterval,
} from '@inatti/shared/ui'

@Component({
  components: { UiPageDashboardCard, UiPageDashboardChartInterval },
})
export default class DashboardComponent extends Vue {
  isLoading = true
  created() {
    this.fetchDashboard()
  }
  resultApi = {}

  referenceApi = new ReferenceApi(this.$axios)

  colorChartResult = [
    {
      group: 'negatif',
      color: '#38FE2F',
    },
    {
      group: 'positif',
      color: '#FB41A7',
    },
  ]

  async fetchDashboard(isForce?: boolean) {
    this.isLoading = true
    const idref = this.$store.state.refStore.refId
    try {
      this.resultApi = await this.referenceApi.getDashboard({
        idref,
        force: isForce,
      })
    } finally {
      this.isLoading = false
    }
  }

  forceUpdate() {
    this.resultApi = {}
    this.fetchDashboard(true)
  }
}
</script>

<style></style>
