<template>
  <div>
    <common-toolbar>
      Pengaturan Informasi
      <template #control>
        <v-btn
          :loading="isUpdatingInformationSetting"
          :color="isEditInformationSetting ? 'warning' : 'primary'"
          @click="
            !isEditInformationSetting
              ? editInformationSetting()
              : saveInformationSetting()
          "
        >
          {{
            isEditInformationSetting
              ? 'Simpan Pengaturan Informasi'
              : 'Edit Pengaturan Informasi'
          }}
        </v-btn>
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col md="6" cols="12">
            <v-alert
              v-if="alertForm.isShow"
              :icon="alertForm.icon"
              :type="alertForm.type"
              dismissible
            >
              {{ alertForm.msg }}
            </v-alert>
            <v-form ref="formInformationSetting" lazy-validation>
              <v-text-field
                v-model="formInformationSetting.refName"
                v-bind="formBindInformationSetting"
                label="Nama Rujukan"
              ></v-text-field>
              <v-text-field
                v-model="formInformationSetting.contactWhatsapp"
                v-bind="formBindInformationSetting"
                label="Kontak Whatsapp"
                prefix="+62"
              ></v-text-field>
              <v-autocomplete
                v-model="formInformationSetting.refProvinceId"
                label="Provinsi"
                v-bind="formBindInformationSetting"
                outlined
                :items="province"
                item-text="name"
                item-value="id"
                @change="(v) => fetchCity(v)"
              ></v-autocomplete>
              <v-autocomplete
                v-model="formInformationSetting.refCityId"
                label="Kabupaten / Kota"
                v-bind="formBindInformationSetting"
                outlined
                :items="city"
                item-text="name"
                :loading="isLoadingCity"
                item-value="id"
              ></v-autocomplete>

              <v-textarea
                v-model="formInformationSetting.refAddress"
                v-bind="formBindInformationSetting"
                label="Alamat"
              ></v-textarea>

              <v-select
                v-model="formInformationSetting.config.timezone"
                v-bind="formBindInformationSetting"
                label="Timezone"
                :items="['WIB', 'WITA', 'WIT']"
              />

              <v-card style="margin-bottom: 20px">
                <v-card-text>
                  <page-setting-map-location-picker
                    v-model="formInformationSetting.refPointMap"
                    :disable="formBindInformationSetting.disabled"
                  />
                </v-card-text>
              </v-card>
            </v-form>
          </v-col>
          <v-col cols="12" md="6">
            <v-card>
              <v-card-title class="d-flex justify-space-between">
                <span class="text-subtitle-2 font-weight-medium">
                  Thumbnail
                </span>
                <div v-if="isEditInformationSettingImage">
                  <v-btn
                    color="error"
                    @click="cancelEditInformationSettingThumbnail"
                    >Batal</v-btn
                  >
                  <v-btn
                    color="success"
                    :loading="isUpdatingInformationSettingImage"
                    @click="saveInformationSettingThumbnail"
                    >Simpan</v-btn
                  >
                </div>
                <v-btn
                  v-if="!isEditInformationSettingImage"
                  color="primary"
                  icon
                  @click="isEditInformationSettingImage = true"
                >
                  <v-icon> mdi-pencil </v-icon></v-btn
                >
              </v-card-title>
              <v-card-text class="d-flex justify-center align-center flex-row">
                <page-setting-file-upload-dropzone
                  v-if="
                    isEditInformationSettingImage &&
                    !formInformationSetting.imagePreview
                  "
                  @files-selected="logFiles"
                ></page-setting-file-upload-dropzone>
                <v-img
                  v-if="
                    !isEditInformationSettingImage ||
                    formInformationSetting.imagePreview
                  "
                  height="250"
                  :src="
                    isEditInformationSettingImage
                      ? formInformationSetting.imagePreview
                      : formInformationSetting.image
                  "
                ></v-img>
                <div
                  v-if="
                    !isEditInformationSettingImage &&
                    !formInformationSetting.image
                  "
                  style="width: 100%"
                >
                  <v-row justify="center">
                    <v-icon color="darken-2" size="75">mdi-image</v-icon>
                  </v-row>
                  <v-row justify="center">
                    <span class="text-subtitle-2 grey--text font-weight-medium"
                      >No Image Available</span
                    >
                  </v-row>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>
<script lang="ts">
import { ReferenceSettingApi, WilayahApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class InformationSetting extends Vue {
  alertForm = {
    isShow: false,
    msg: '',
    type: '',
  }
  formBindInformationSetting = {
    disabled: true,
    required: true,
    dense: true,
    outlined: true,
    rules: [(v: any) => !!v || 'Form ini wajib diisi'],
  }
  formInformationSetting = {
    refName: null,
    contactWhatsapp: null,
    refAddress: null,
    refPointMap: null,
    refTenantId: null,
    refNarFaskesId: null,
    refProvinceId: null,
    refCityId: null,
    image: '',
    imagePreview: '',
    imageUploade: '',
    config: {
      timezone: '',
    },
  }

  isEditInformationSettingImage = false
  isEditInformationSetting = false
  isUpdatingInformationSetting = false
  isUpdatingInformationSettingImage = false

  $refs!: {
    formInformationSetting: any
  }

  referenceSettingApi = new ReferenceSettingApi(this.$axios)
  wilayahApi = new WilayahApi(this.$axios)

  isDirtyFormThumbnail() {
    if (
      this.formInformationSetting.imagePreview ||
      this.formInformationSetting.imageUploade
    ) {
      return true
    }
    return false
  }

  $snackbar!: (arg: string) => void

  cancelEditInformationSettingThumbnail() {
    this.formInformationSetting.imageUploade = ''
    this.formInformationSetting.imagePreview = ''
    this.isEditInformationSettingImage = false
  }

  async saveInformationSettingThumbnail() {
    const refId = this.$route.query.refId as string
    if (!this.isDirtyFormThumbnail()) {
      return
    }
    try {
      this.isUpdatingInformationSettingImage = true
      let formData = new FormData()
      formData.append('thumbnail', this.formInformationSetting.imageUploade)
      await this.referenceSettingApi.updateThumbnail(refId, formData)
      this.$snackbar('Success Update Thumbnail')
      this.cancelEditInformationSettingThumbnail()
      this.fetchInformationSetting()
    } catch (error) {
      this.$snackbar('Gagal Update Thumbnail')
    }
    this.isUpdatingInformationSettingImage = false
  }

  editInformationSetting() {
    this.isEditInformationSetting = true
    this.formBindInformationSetting.disabled = false
  }

  editInformationSettingThumbnail() {
    this.isEditInformationSettingImage = true
  }

  async saveInformationSetting() {
    let isValid = this.$refs.formInformationSetting.validate()
    const refId = this.$route.query.refId as string
    if (isValid) {
      try {
        this.isUpdatingInformationSetting = true
        await this.referenceSettingApi.update(
          refId,
          this.formInformationSetting
        )
        this.showAlert('success', 'Sukses Update Pengaturan Informasi')
        this.isEditInformationSetting = false
      } catch (error) {
        this.showAlert('warning', 'Gagal Update Pengaturan Informasi. ' + error)
      }
      this.isUpdatingInformationSetting = false
      this.formBindInformationSetting.disabled = true
    }
  }
  showAlert(type: string, msg: string) {
    this.alertForm = {
      isShow: true,
      msg,
      type,
    }
  }
  province = []
  isLoadingProvince = false
  async fetchProvince() {
    try {
      this.isLoadingProvince = true
      this.province = await this.wilayahApi.getProvince()
    } catch (error) {}
    this.isLoadingProvince = false
  }
  city = []
  isLoadingCity = false
  async fetchCity(provinsiId: number) {
    try {
      this.isLoadingCity = true
      this.city = await this.wilayahApi.getKabupaten(provinsiId)
    } catch (error) {}
    this.isLoadingCity = false
  }
  async fetchInformationSetting() {
    const refId = this.$route.query.refId as string
    try {
      let response = await this.referenceSettingApi.getOne(refId)
      if (!response) {
        throw new Error('Ref not fund')
      }
      this.formInformationSetting.refName = response?.name
      this.formInformationSetting.contactWhatsapp = response?.contactWhatsapp
      this.formInformationSetting.refAddress = response?.refAddress
      this.formInformationSetting.refPointMap = response?.refAddressPoint
      this.formInformationSetting.refTenantId = response?.tenantId
      this.formInformationSetting.refNarFaskesId = response?.narFaskesId
      this.formInformationSetting.refProvinceId = response?.province?.id
      this.formInformationSetting.refCityId = response?.city?.id
      this.formInformationSetting.image = response?.image

      if (response.config) {
        this.formInformationSetting.config = response.config
      }

      this.fetchCity(response?.province?.id)
    } catch (error) {}
  }
  logFiles(files: any) {
    for (const item of files) {
      this.formInformationSetting.imageUploade = item
      this.formInformationSetting.imagePreview = URL.createObjectURL(item)
    }
  }
  created() {
    this.fetchProvince()
    this.fetchInformationSetting()
  }
}
</script>
