<template>
  <div>
    <v-form ref="form">
      <v-text-field
        v-model="form.fullname"
        :rules="formRequire"
        name="fullname"
        outlined
        dense
        label="Nama Lengkap"
        clearable
      />
      <v-text-field
        v-model="form.phonenumber"
        :rules="formRequire"
        name="phonenumber"
        outlined
        dense
        prefix="+62"
        label="No.Telphone"
        clearable
      />
      <v-text-field
        v-model="form.email"
        :rules="emailFieldRule"
        name="email"
        outlined
        dense
        label="Email"
        clearable
      />
    </v-form>
    <v-alert
      v-model="alert.isShow"
      :type="alert.type"
      dismissible
      dense
      outlined
    >
      {{ alert.msg }}
    </v-alert>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class FormPatientAccount extends Vue {
  @Prop({ type: [Object] })
  value!: object
  @Prop({ type: Object })
  alert!: object

  showPassword: Boolean = false
  confirmPassword: Boolean = false

  get form(): object {
    return this.value
  }

  set form(val) {
    this.$emit('input', val)
  }

  $utils: any
  formRequire = [(v: any) => !!v || 'Form ini harus di isi']
  emailFieldRule = [
    (v: any) => this.$utils.emailFormatRule(v) || 'Email Format Tidak Valid',
  ]
  $refs = {
    form: {} as any,
  }
  validateForm() {
    return this.$refs.form.validate()
  }

  oldValue = {}

  appendOldValue(payload: object) {
    this.oldValue = payload
  }

  isDirty() {
    if (JSON.stringify(this.oldValue) === JSON.stringify(this.value)) {
      return false
    }
    return true
  }
}
</script>
