<template>
  <div>
    <common-toolbar>
      Pengaturan Shift
      <template #control>
        <v-btn
          color="primary"
          class="px-3 py-2"
          depressed
          @click="showDialogAdd()"
        >
          <v-icon color="#fff" class="mr-2">mdi-plus</v-icon>
          Tambah Shift
        </v-btn>
      </template>
    </common-toolbar>
    <v-card :loading="listLoading">
      <v-card-text>
        <v-data-table :headers="tableHeader" :items="listShift">
          <template #[`item.action`]="{ item }">
            <v-btn icon @click="previewShift(item)">
              <v-icon> mdi-eye </v-icon>
            </v-btn>
            <v-btn icon @click="confirmDelete(item)">
              <v-icon> mdi-delete </v-icon>
            </v-btn>
          </template>
          <template #[`item.day`]="{ item }">
            {{ typeShift[item.day] }}
          </template>
        </v-data-table>
        <ui-common-dialog
          v-model="dialogForm"
          :title="dialogTitle"
          :loading="dialogLoading"
          @btn-save="saveShift"
          @btn-cancel="dialogForm = !dialogForm"
        >
          <page-setting-form-shift-reference
            ref="formShift"
            v-model="shiftForm"
            :alert="alertForm"
          />
        </ui-common-dialog>
        <div class="text-center">
          <v-dialog v-model="dialogDelete" width="290">
            <v-card>
              <v-card-title class="text-h5"> Hapus Shift ? </v-card-title>

              <v-card-text> Anda yakin akan menghapus Shift ini? </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#4CAF50" text @click="closeDeleteDialog">
                  Batal
                </v-btn>
                <v-btn
                  :loading="deleteLoading"
                  text
                  color="#FF5252"
                  @click="deleteShift"
                >
                  Ya
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'
import { InfoReferenceDTO, ReferenceShiftApi } from '@inatti/shared/api-nuxt'
import { UiCommonDialog } from '@inatti/shared/ui'

type shiftField = {
  refShiftName: string
  refShiftDay: number
  refShiftTimeStart: string
  refShiftTimeEnd: string
  refId: string
  refShiftId: number
}

@Component({ components: { UiCommonDialog } })
export default class Shift extends Vue {
  dialogForm = false
  dialogLoading = false
  tableHeader = [
    {
      text: 'Shift',
      value: 'name',
    },
    {
      text: 'Jam Mulai',
      value: 'timeStart',
    },
    {
      text: 'Jam Selesai',
      value: 'timeEnd',
    },
    {
      text: 'Hari',
      value: 'day',
    },
    {
      text: 'Aksi',
      value: 'action',
    },
  ]
  alertForm = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  }
  shiftForm: shiftField = {
    refShiftName: '',
    refShiftDay: 0,
    refShiftTimeStart: '',
    refShiftTimeEnd: '',
    refId: '',
    refShiftId: 0,
  }

  $refs = {
    formShift: {} as any,
  }

  referenceShiftApi = new ReferenceShiftApi(this.$axios)

  typeShift = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']

  async saveShift() {
    if (!this.$refs.formShift.validateForm() || !this.$refs.formShift.isDirty())
      return false
    if (this.selectedShift) return this.updateShift()
    this.dialogLoading = true
    try {
      await this.referenceShiftApi.add(this.shiftForm)
      this.dialogForm = false
      this.resetForm()
      this.fetchShift()
    } catch (error: any) {
      let errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlert(errData.message, 'error')
    }
    this.dialogLoading = false
  }

  async updateShift() {
    const refId = this.$route.query.refId as string
    if (!this.$refs.formShift.isDirty()) return false
    if (!this.selectedShift) return false
    this.dialogLoading = true
    try {
      await this.referenceShiftApi.update(
        refId,
        this.selectedShift.id,
        this.shiftForm
      )
      this.dialogForm = false
      this.resetForm()
      this.fetchShift()
    } catch (error: any) {
      let errData = error?.response?.data ?? 'Error tidak diketahui'
      this.setAlert(errData.message, 'error')
    }
    this.dialogLoading = false
  }

  dialogTitle = 'Tambah Shift'

  selectedShift: InfoReferenceDTO.Shift | null = null
  previewShift(shift: InfoReferenceDTO.Shift) {
    this.dialogTitle = 'Lihat Shift'
    this.dialogForm = true
    this.shiftForm.refShiftName = shift.name
    this.shiftForm.refShiftDay = shift.day
    this.shiftForm.refShiftTimeStart = shift.timeStart
    this.shiftForm.refShiftTimeEnd = shift.timeEnd
    this.shiftForm.refId = shift.reference.id
    this.shiftForm.refShiftId = shift.id
    this.selectedShift = shift
    setTimeout(() => {
      this.$refs.formShift.appendOldValue(
        JSON.parse(JSON.stringify(this.shiftForm))
      )
    }, 500)
  }

  resetForm() {
    this.dialogTitle = 'Tambah Shift'
    this.selectedShift = null
    this.shiftForm = {
      refShiftName: '',
      refShiftDay: 0,
      refShiftTimeStart: '',
      refShiftTimeEnd: '',
      refId: '',
      refShiftId: 0,
    }
  }
  showDialogAdd() {
    this.dialogForm = true
    this.resetForm()
    const refId: any = this.$route.query.refId
    this.shiftForm.refId = refId
    setTimeout(() => {
      this.$refs.formShift.appendOldValue({
        refShiftName: '',
        refShiftDay: 0,
        refShiftTimeStart: '',
        refShiftTimeEnd: '',
        refId,
        refShiftId: 0,
      })
    }, 500)
  }

  setAlert(msg: string, type: string = 'warning'): void {
    this.alertForm = {
      isShow: true,
      type,
      msg,
    }
  }
  listLoading = false
  listShift: InfoReferenceDTO.Shift[] = []
  dataResult = {}
  dialogDelete = false

  async fetchShift() {
    const refId = this.$route.query.refId as string
    try {
      this.listLoading = true
      const result = await this.referenceShiftApi.get(refId)
      this.listShift = result
    } catch (error: any) {
      // eslint-disable-next-line no-console
      console.log(error)
    }
    this.listLoading = false
  }
  selectedShiftToDelete: null | InfoReferenceDTO.Shift = null
  confirmDelete(item: InfoReferenceDTO.Shift) {
    this.selectedShiftToDelete = item
    this.dialogDelete = true
  }
  $snackbar!: (arg: string) => void
  deleteLoading = false

  @Watch('dialogDelete')
  resetDelete(newValue?: boolean) {
    if (!newValue) {
      this.selectedShiftToDelete = null
    }
  }
  closeDeleteDialog() {
    this.dialogDelete = false
    this.resetDelete()
  }
  async deleteShift() {
    const refId = this.$route.query.refId as string
    this.deleteLoading = true
    try {
      if (!this.selectedShiftToDelete) {
        this.$snackbar('Pilih Shift terlebih dahulu')
        return
      }
      await this.referenceShiftApi.delete(refId, this.selectedShiftToDelete.id)
      this.closeDeleteDialog()
      this.fetchShift()
    } catch (error: any) {
      this.$snackbar(error)
    } finally {
      this.deleteLoading = false
    }
  }
  created() {
    this.fetchShift()
  }
  @Watch('dialogForm')
  onChangeDialogForm(val: boolean) {
    if (val === false) {
      this.resetForm()
    }
  }
}
</script>
