<template>
  <div>
    <v-alert v-if="alert.isShow" :type="alert.type" dismissible dense outlined>
      {{ alert.msg }}
    </v-alert>
    <v-card :loading="isLoading">
      <v-card-text>
        <v-row>
          <v-col md="6" cols="12" order="2" order-md="1">
            <div class="d-flex justify-space-between align-center flex-row">
              <span class="text-h6">Informasi Pasien</span>
              <common-tooltip-locked-patient
                v-if="isApotek && !isEditable && !isAdd"
              />
            </div>
            <v-divider class="my-2"></v-divider>
            <feature-telefarmasi-database-patient-form
              :readonly="isEditablePatient"
              ref="UiCoreDatabasePatientFormRef"
              v-model="form"
              :is-add="isAdd"
            />
            <v-spacer class="mt-3" />
            <v-btn
              color="primary"
              block
              :disabled="!form.etc.isTncAccepted"
              v-if="!isEditablePatient"
              :loading="isLoading"
              @click="validateForm"
              >Simpan</v-btn
            >
          </v-col>
          <ui-common-dialog
            v-model="userDialog.model"
            :width="500"
            :confirm-text="userDialog.confirmText"
            :cancel-text="userDialog.cancelText"
            :loading="userDialog.loading"
            :title="userDialog.title"
            @btn-cancel="onCancelDialogCreatePatientAccount"
            @btn-save="onConfirmCreatePatientAccount"
          >
            <feature-telefarmasi-database-patient-form-patient-account
              v-if="userDialog.model"
              ref="formUser"
              v-model="userForm"
              :alert="userFormAlert"
            />
          </ui-common-dialog>
          <v-col md="6" cols="12" order="2" order-md="1">
            <v-card v-if="!isAdd" outlined>
              <v-card-text>
                <div class="d-flex justify-space-between align-center flex-row">
                  <span class="text-h6 font-weight-normal"
                    >Pembuat Data Pasien</span
                  >
                </div>
                <v-divider class="my-2"></v-divider>
                <feature-telefarmasi-database-patient-data-source-detail
                  :apotek-name="createByApotek ? createByApotek.name : '-'"
                  :apotek-group-name="
                    createByApotek
                      ? createByApotek.apotekGroup
                        ? createByApotek.apotekGroup.name
                        : '-'
                      : '-'
                  "
                  :head-office-name="
                    createByApotek
                      ? createByApotek.apotekGroup
                        ? createByApotek.apotekGroup.headOffice
                          ? createByApotek.apotekGroup.headOffice.name
                          : '-'
                        : '-'
                      : '-'
                  "
                />
              </v-card-text>
            </v-card>
            <v-card class="mt-4" v-if="!isAdd" outlined>
              <v-card-text>
                <div class="d-flex justify-space-between align-center flex-row">
                  <span class="text-h6 font-weight-normal"
                    >Detail Akun Pasien</span
                  >
                </div>
                <v-divider class="my-2"></v-divider>
                <feature-telefarmasi-database-patient-owned-by-form
                  :readonly="isEditablePatient"
                  @on-bind-account="onBindAccountPatientData"
                  @create-new-patient="showDialogCreatePatientAccount"
                  @fill-new-suggested-account="onFillNewSuggestedAccount"
                  v-model="detailPatient"
                />
              </v-card-text>
            </v-card>
            <v-card v-if="!isAdd" class="mt-4" outlined>
              <v-card-text>
                <div class="d-flex justify-space-between align-center flex-row">
                  <span class="text-h6 font-weight-normal">Riwayat PMR</span>
                  <slot name="pmr-history-create-action" v-if="!readonly" />
                </div>
                <v-divider class="my-2"></v-divider>
                <div
                  class="d-flex justify-start rounded-sm align-center flex-column"
                  style="max-height: 600px"
                >
                  <div v-if="pmrHistoryData.length === 0">
                    <span class="text-subtitle-1">Data Not Found</span>
                  </div>
                  <div
                    v-if="pmrHistoryData.length !== 0"
                    class="w-full overflow-auto"
                  >
                    <v-card
                      v-for="item in pmrHistoryData"
                      :key="item.id"
                      class="my-3 w-full pa-3"
                      outlined
                    >
                      <div
                        class="d-flex justify-space-between align-start flex-row"
                      >
                        <div
                          class="d-flex justify-center flex-column align-start"
                        >
                          <span
                            class="text-body-2 black--text font-weight-medium"
                            >{{ item.case }}</span
                          >
                          <span style="font-size: 13px"
                            >Dokter : {{ item.docterName }}</span
                          >
                        </div>
                        <span style="font-size: 13px">{{
                          $utils.dateToMonthText(item.createdAt)
                        }}</span>
                      </div>
                      <div
                        class="mt-2 d-flex justify-space-between align-center flex-row"
                      >
                        <div
                          class="d-flex justify-center flex-column align-start"
                        >
                          <span
                            class="text-body-2 black--text font-weight-medium"
                            >{{ item.apotek.name }}</span
                          >
                        </div>
                        <div>
                          <slot
                            name="pmr-history-card-item-action"
                            :data="item"
                          />
                        </div>
                      </div>
                    </v-card>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col md="12">
            <div v-if="!isAdd">
              <div class="w-100">
                <v-row>
                  <v-col>
                    <div class="text-h6">Rekam Aktivitas</div>
                  </v-col>
                </v-row>
              </div>
              <v-divider class="my-3" />
              <div>
                <feature-telefarmasi-database-patient-log-activity
                  v-if="!isAdd"
                  :patient-id="patientId"
                />
              </div>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Watch, Prop } from 'vue-property-decorator';
import { PatientSwabDetailDTO } from '@inatti/shared/api-nuxt';
import { UiCommonDialog } from '@inatti/shared/ui';
import { Method } from 'axios/index.d';
import { Apotek } from '@inatti/shared/api-nuxt';

@Component({
  components: { UiCommonDialog },
})
export default class DatabasePatienDetail extends Vue {
  @Prop()
  readonly!: boolean;
  @Prop()
  patientId!: string;
  @Prop()
  isAdd!: boolean;
  @Prop()
  branchId: string;
  @Prop({ type: Boolean, default: true })
  readonly isApotek: boolean;

  $snackbar!: (arg: string) => void;
  pmrHistoryData = [];

  get isEditablePatient() {
    if (!this.isApotek) {
      return this.readonly;
    }
    if (this.isAdd) {
      return this.readonly;
    }
    return !this.isEditable;
  }

  userDialog = {
    title: 'Tambah User',
    confirmText: 'Tambah',
    cancelText: 'Batal',
    model: false,
    loading: false,
  };

  onFillNewSuggestedAccount() {
    this.userForm.phonenumber = this.detailPatient.search;
    this.showDialogCreatePatientAccount();
    this.detailPatient.search = '';
  }

  closeDialogPatientAccount() {
    this.userDialog.model = false;
  }

  onCancelDialogCreatePatientAccount() {
    this.closeDialogPatientAccount();
    this.userForm.reset();
    this.userFormAlert.isShow = false;
  }

  showDialogCreatePatientAccount() {
    this.userDialog.model = true;
    this.setAlertUserForm(
      'Setelah diisi dan diinput pasien akan menerima url/link untuk mengaktifkan akun dengan input password',
      'info'
    );
  }

  async onConfirmCreatePatientAccount() {
    this.userDialog.loading = true;
    try {
      const resp = await this.$axios.$post('/admin/user-manage/create', {
        fullname: this.userForm.fullname,
        phonenumber: `62${this.userForm.phonenumber}`,
        email: this.userForm.email,
      });
      this.closeDialogPatientAccount();
      this.userForm.reset();
      this.setAlertDetailPatient(resp.message, 'success');
    } catch (error: any) {
      const errData = error?.response?.data ?? 'Error tidak diketahui';
      this.setAlertUserForm(errData.message, 'error');
    } finally {
      this.userDialog.loading = false;
    }
  }

  userForm = {
    fullname: '',
    phonenumber: '',
    email: '',
    reset: () => {
      this.userForm.fullname = '';
      this.userForm.phonenumber = '';
      this.userForm.email = '';
    },
  };

  userFormAlert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  };

  setAlertUserForm(msg: string, type: string = 'warning'): void {
    this.userFormAlert = {
      isShow: true,
      type,
      msg,
    };
  }

  alert = {
    isShow: false,
    type: null as null | string,
    msg: null as null | string,
  };

  setAlert(msg: string, type: string = 'warning') {
    this.alert = {
      isShow: true,
      type,
      msg,
    };
  }

  detailPatient = {
    search: '',
    bounceInstance: null as any,
    currentOwnedBy: null,
    listData: [],
    isEmpty: false,
    isLoadingSearch: false,
    selectedData: null as any,
    ownedBy: null,
    alert: {
      isShow: false,
      type: null as null | string,
      msg: null as null | string,
    },
  };

  createByApotek = null as Apotek;

  $utils: any;
  async onBindAccountPatientData() {
    try {
      await this.$axios.$patch(
        `/patient-v2/patient-owned-by/${this.patientId}`,
        null,
        {
          params: {
            targetUser: this.detailPatient.selectedData.id,
          },
        }
      );
      this.detailPatient.ownedBy = this.$utils.cloneObject(
        this.detailPatient.selectedData
      );
      this.detailPatient.currentOwnedBy = this.$utils.cloneObject(
        this.detailPatient.selectedData
      );
      this.detailPatient.selectedData = null;
    } catch (error: any) {
      this.setAlertDetailPatient(
        `Gagal ${error.response?.data?.message}`,
        'error'
      );
    }
  }

  @Watch('detailPatient.selectedData')
  onSelectedDataChange(val: any) {
    if (this.detailPatient.currentOwnedBy) {
      return;
    }
    if (val) {
      this.detailPatient.alert = {
        isShow: false,
        type: null,
        msg: null,
      };
    } else {
      this.setAlertDetailPatient(
        'Pasien belum tertaut, silahkan cari di atas',
        'warning'
      );
    }
  }

  @Watch('detailPatient.search')
  findDetailPatient(val: any) {
    this.detailPatient.isEmpty = false;
    clearTimeout(this.detailPatient.bounceInstance);
    if (!val) {
      this.detailPatient.listData = [];
      return;
    }
    this.detailPatient.bounceInstance = setTimeout(async () => {
      try {
        this.detailPatient.isLoadingSearch = true;
        const resp = await this.$axios.$get('/admin/user-manage/find', {
          params: {
            username: val,
          },
        });
        this.detailPatient.listData = resp;
        if (resp.length === 0) {
          this.detailPatient.isEmpty = true;
        }
      } catch (error) {
      } finally {
        this.detailPatient.isLoadingSearch = false;
      }
    }, 1000);
  }

  setAlertDetailPatient(msg: string, type: string = 'warning') {
    this.detailPatient.alert = {
      isShow: true,
      type,
      msg,
    };
  }

  isLoading = false;
  isEditable = false;
  form: PatientSwabDetailDTO.Patient | any = {
    id: null,
    nik: null,
    height: null,
    weight: null,
    job: null,
    type: 'nik', // default
    name: null,
    datebirth: null,
    gender: null,
    phonenumber: null,
    email: null,
    bloodtype: null,
    createdAt: null,
    provinsi: null,
    kabupaten: null,
    kecamatan: null,
    kelurahan: null,
    kelurahanRw: null,
    kelurahanRt: null,
    address: null,
    domisiliProvinsi: null,
    domisiliKabupaten: null,
    domisiliKecamatan: null,
    domisiliKelurahan: null,
    domisiliKelurahanRw: null,
    domisiliKelurahanRt: null,
    addressDomisili: null,
    ownedBy: null,
    etc: {
      isHomecare: false,
      isAlreadyHomecare: false,
      isTncAccepted: false
    },
  };

  $refs!: any;

  oldValue = {};

  appendOldValue(payload: object) {
    this.oldValue = payload;
  }

  isDirty() {
    if (JSON.stringify(this.oldValue) === JSON.stringify(this.form)) {
      return false;
    }
    return true;
  }

  mounted() {
    this.fetchData();
    this.fetchPmrHistory();
  }

  async fetchData() {
    this.isLoading = true;
    try {
      if (!this.isAdd) {
        const resp = await this.$axios.$get('/patient-v2/' + this.patientId);
        this.isEditable = resp.isEditable;
        const patient = {
          ...resp,
          etc: resp.etc
            ? resp.etc
            : { isHomecare: false, isAlreadyHomecare: false },
          provinsi: resp.provinsi?.id,
          kabupaten: resp.kabupaten?.id,
          kecamatan: resp.kecamatan?.id,
          kelurahan: resp.kelurahan?.id,
          domisiliProvinsi: resp.domisiliProvinsi?.id,
          domisiliKabupaten: resp.domisiliKabupaten?.id,
          domisiliKecamatan: resp.domisiliKecamatan?.id,
          domisiliKelurahan: resp.domisiliKelurahan?.id,
        };

        this.form = JSON.parse(JSON.stringify(patient));
        this.appendOldValue(JSON.parse(JSON.stringify(patient)));
        this.createByApotek = this.$utils.cloneObject(resp.createByApotek);
        if (resp.ownedBy) {
          this.detailPatient.ownedBy = this.$utils.cloneObject(resp.ownedBy);
          this.detailPatient.currentOwnedBy = this.$utils.cloneObject(
            resp.ownedBy
          );
          return;
        }
        this.setAlertDetailPatient(
          this.isEditablePatient === false
            ? 'Pasien belum tertaut silahkan cari di atas'
            : 'Pasien belum tertaut',
          'warning'
        );
      }
    } finally {
      this.isLoading = false;
    }
  }

  validateForm() {
    const isValid: boolean =
      this.$refs.UiCoreDatabasePatientFormRef.validateForm();
    if (isValid) {
      if (this.isAdd) {
        this.savePatient('/patient-v2/by-apotek', 'post');
      } else {
        this.savePatient('/patient-v2/' + this.patientId, 'patch');
      }
    } else {
      this.$snackbar('Form belum valid, mohon di perbaiki');
    }
  }

  async savePatient(urlApi: string, method: Method) {
    const { apotekId } = this.$route.query;
    try {
      this.form.weight = +this.form.weight;
      this.form.height = +this.form.height;
      this.isLoading = true;
      const response = await this.$axios.$request({
        method,
        url: urlApi,
        data: this.form,
        params: this.isAdd ? { apotekId } : null,
      });
      if (method === 'post') {
        const idPasien = response.id;
        this.$snackbar('Sukses Menyimpan Data Pasien');
        this.$emit('on-success-create-patient', idPasien);
        return;
      }
      this.setAlert('Sukses Menyimpan Data Pasien', 'success');
      this.fetchData();
    } catch (error: any) {
      this.setAlert(
        'Gagal Menyimpan Data Pasien' + error.response?.data?.message,
        'error'
      );
    } finally {
      this.isLoading = false;
    }
  }

  async fetchPmrHistory() {
    if (this.isAdd) return;
    try {
      this.pmrHistoryData = await this.$axios.$get(
        `/patient-pmr/patient/${this.patientId}`,
        {
          params: {
            idapotek: this.branchId,
          },
        }
      );
    } catch (error) {}
  }
}
</script>

<style></style>
