<template>
  <div>
    <common-toolbar no-back>
      <div>Database Pasien</div>
      <template #control>
        <slot name="add-patient-control" />
      </template>
    </common-toolbar>
    <v-card>
      <v-card-text>
        <ui-table-pagination
          v-model="dataResult"
          search
          :period-filter="true"
          search-hint="Cari berdasarkan nik atau nama"
          :defaultSelectedFilter="1"
          return-object
          @change="fetchData"
        >
          <slot name="additionalFilter"></slot>
          <v-row justify="space-between" dense>
            <v-col cols="12" v-if="role === roles.apotek">
              <v-checkbox
                v-model="forceFilterApotek"
                label="Tampilkan pasien hanya dari apotek ini"
              ></v-checkbox>
            </v-col>
            <v-col cols="12" md="5">
              <v-select
                :items="homecareItems"
                item-text="text"
                item-value="value"
                v-model="homecare"
                label="Filter Homecare"
                :menu-props="{ offsetY: true, bottom: true }"
                hide-details="auto"
                multiple
                small-chips
                outlined
                dense
              ></v-select>
            </v-col>
            <v-col cols="12" md="6" class="d-flex justify-end">
              <v-btn
                :loading="isDownloadingExcelPatient"
                :disabled="isDownloadingExcelPatient"
                @click="onDownloadExcelPatient"
                outlined
                color="primary"
                class="ml-3"
              >
                <v-icon class="mr-2"> mdi-microsoft-excel </v-icon>
                EXPORT DATABASE PASIEN
              </v-btn>
            </v-col>
          </v-row>
          <v-data-table
            :headers="table.headers"
            :items="listPatients"
            :search="table.search"
            :loading="isLoading"
            hide-default-footer
            disable-pagination
          >
            <template #[`item.gender`]="{ item }">
              {{ item.gender === 'lk' ? 'Laki-laki' : 'Perempuan' }}
            </template>
            <template #[`item.createByApotek`]="{ item }">
              {{ item.createByApotek ? item.createByApotek.name : '' }}
            </template>
            <template #[`item.action`]="{ item }">
              <v-btn icon :to="`patient/${item.id}`">
                <v-icon> mdi-eye </v-icon>
              </v-btn>
              <v-btn
                v-show="$allow('manage:pmr')"
                v-if="
                  (role === roles.apotek && item.isEditable) ||
                  forceFilterApotek
                "
                icon
                @click="confirmDelete(item.id)"
              >
                <v-icon> mdi-delete </v-icon>
              </v-btn>
            </template>
            <template #[`item.createdAt`]="{ item }">
              {{ new Date(item.createdAt).toLocaleString() }}
            </template>
          </v-data-table>
        </ui-table-pagination>
      </v-card-text>
    </v-card>
    <div class="text-center">
      <v-dialog v-model="deleteDialog" width="290">
        <v-card>
          <v-card-title class="text-h5"> Hapus Pasien ? </v-card-title>

          <v-card-text> Anda yakin akan menghapus pasien ini? </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error" text @click="closeDialogDeleteData()">
              Batal
            </v-btn>
            <v-btn
              text
              color="primary"
              :loading="deleteDialogLoading"
              @click="onDeleteData()"
            >
              Ya
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { UiTablePagination } from '@inatti/shared/ui';
import { Prop, Watch } from 'nuxt-property-decorator';
import { PatientV2Api, TelepharmacyRolesEnum } from '@inatti/shared/api-nuxt';
import qs from 'qs';
import * as _ from 'lodash';

type homecareItems = {
  value: string;
  text: string;
};

@Component({ components: { UiTablePagination } })
export default class ListPatients extends Vue {
  @Prop()
  customQuery!: any;

  @Prop({ type: String, default: 'apotek-group' })
  readonly role: string;

  roles = TelepharmacyRolesEnum;

  listPatients: any[] = [];
  table = {
    headers: [
      {
        text: 'NIK',
        value: 'nik',
      },
      {
        text: 'Nama',
        value: 'name',
      },
      {
        text: 'Jenis Kelamin',
        value: 'gender',
      },
      {
        text: 'No. Telepone',
        value: 'phonenumber',
      },
      {
        text: 'Unit Bisnis',
        value: 'unitBisnis',
      },
      {
        text: 'Dibuat Oleh Apotek',
        value: 'createByApotek',
      },
      {
        text: 'Tanggal Dibuat',
        value: 'createdAt',
      },
      {
        text: 'Aksi',
        value: 'action',
      },
    ],
    search: null,
  };

  /**
   * @enum libs/shared/dtos/src/lib/patient/patient-etc-dto.ts
   */
  homecareItems: homecareItems[] = [
    { value: 'isHomecare', text: 'Bersedia di Homecare' },
    { value: 'isAlreadyHomecare', text: 'Sudah di Homecare' },
  ];
  homecare = [];

  dataResult = {};
  deleteDialog = false;
  deleteDialogLoading = false;
  isLoading = true;

  lastParams = {};

  @Watch('homecare')
  onHomecareChange(val: string[]) {
    // only trigger fetch data, all process in there
    this.fetchData(this.lastParams);
  }

  patientV2Api!: PatientV2Api;
  mounted() {
    this.patientV2Api = new PatientV2Api(this.$axios);
    this.fetchData();
    if (this.role !== this.roles.headoffice) {
      this.table.headers.splice(4, 1);
    }
  }

  closeDialogDeleteData() {
    this.selectedPatient = '';
    this.deleteDialog = false;
  }

  forceFilterApotek = false;
  @Watch('forceFilterApotek')
  onUpdateForceFilterApotek() {
    this.fetchData(this.lastParams);
  }

  addFilterApotek(params) {
    const apotekId = this.$route.query.apotekId;
    return _.merge(params, {
      filter: {
        apotek: [apotekId],
        forceFilterApotek: this.forceFilterApotek.toString(),
      },
    });
  }

  addCustomQuery(params) {
    if(!params.filter) {
      params.filter = {}
    }
    params.filter = Object.assign(params.filter, this.customQuery.filter);
    return params
  }

  addFilterHomecare(params) {
    const etc = {};
    for (let i = 0; i < this.homecareItems.length; i++) {
      const item = this.homecareItems[i];
      if (this.homecare.some((v) => item.value === v)) {
        etc[item.value] = true;
      }
    }
    return _.set(params, 'filter.etc', etc);
  }

  @Watch('customQuery')
  refetchData() {
    this.fetchData(this.lastParams);
  }

  async fetchData(params: any = {}) {
    this.role === 'apotek'
      ? (params = this.addFilterApotek(params))
      : (params = this.addCustomQuery(params));
    params = this.addFilterHomecare(params);
    this.lastParams = _.defaults(params);

    try {
      this.isLoading = true;
      const query = qs.stringify(params);
      const result = await this.patientV2Api.getPatientsStringifiedQueries(
        query
      );
      this.dataResult = result;
      this.listPatients = result.results.map((e) => ({
        ...e,
        unitBisnis: e.createByApotek?.apotekGroup?.name,
      }));
    } finally {
      this.isLoading = false;
    }
  }

  selectedPatient: string = '';
  confirmDelete(patientId: string) {
    this.selectedPatient = patientId;
    this.deleteDialog = true;
  }

  // on delete
  async onDeleteData() {
    this.deleteDialogLoading = true;
    try {
      await this.patientV2Api.deletePatient(this.selectedPatient);
      this.deleteDialog = false;
    } catch (error) {
      alert(error);
    }
    this.deleteDialogLoading = false;
    this.fetchData();
  }

  isDownloadingExcelPatient = false;
  $utils: any;
  async onDownloadExcelPatient() {
    try {
      this.isDownloadingExcelPatient = true;
      const query = qs.stringify(this.lastParams);
      const resp = await this.patientV2Api.downloadExcelPatientList(query);
      this.$utils.saveFile({
        byteArray: resp,
        fileName: `patient-report-${this.$utils.dateSimpleFormat(new Date())}`,
        extension: 'xlsx',
      });
    } catch (error) {
    } finally {
      this.isDownloadingExcelPatient = false;
    }
  }
}
</script>

<style></style>
