<template>
  <v-alert dense outlined type="error">
    Mohon maaf, saat ini belum mendukung tipe alat ini
  </v-alert>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class NotSupportedAnalyzeToolComponent extends Vue {
  created() {}
}
</script>

<style>
</style>