<template>
  <v-card
    color=""
    outlined
    class="toolbar-location__card rounded-t-0"
    width="100%"
    elevation="0"
  >
    <v-toolbar color="" class="white--text" elevation="0">
      <div
        style="width: 100%"
        class="d-flex justify-space-between align-center"
      >
        <span class="grey--text font-weight-medium">
          Filter Berdasarkan Lokasi Terdekat
        </span>
        <v-btn
          v-if="!location"
          small
          depressed
          class="py-5"
          color="warning"
          @click="getCurrentLocation"
        >
          <v-icon color="white">mdi-crosshairs-gps</v-icon>
          <span class="ml-1">Aktifkan Lokasi</span>
        </v-btn>
        <v-btn
          v-if="location"
          small
          outlined
          depressed
          color="error"
          @click="location = ''"
        >
          Matikan Lokasi
        </v-btn>
      </div>
    </v-toolbar>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class ToolbarLocation extends Vue {
  @Prop({ type: [String] })
  value!: string

  get location() {
    return this.value
  }

  set location(val: any) {
    this.$emit('input', val)
  }

  getCurrentLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(this.succes, this.error)
    }
  }
  succes(resp: any) {
    this.location = `${resp.coords?.latitude},${resp.coords?.longitude}`
  }
  error(resp: any) {
    console.log(resp)
  }
}
</script>

<style scoped>
.toolbar-location__card {
  /* position: fixed; */
  width: 100%;
  z-index: 1;
  left: 0;
}
</style>
