<template>
  <v-sheet height="80vh" class="d-flex flex-column align-center justify-center">
    <div v-show="isDataAvailable" class="py-4 px-6"> Loading... </div>
    <v-alert
      v-show="!isDataAvailable"
      outlined
      dense
      type="error"
      class="ma-4"
    >
      <v-row align="center">
        <v-col class="grow">
          Quick Form tidak ditemukan
        </v-col>
        <v-col class="shrink">
          <v-btn outlined depressed small to="/beranda"> <v-icon left>mdi-home-outline</v-icon> Beranda </v-btn>
        </v-col>
      </v-row>
    </v-alert>
  </v-sheet>
</template>

<script>
import { UserFaskesApi } from '@inatti/shared/api-nuxt'
export default {
  data() {
    return {
      isDataAvailable: true,
      userFaskesApi: null
    }
  },

  mounted() {
    this.userFaskesApi = new UserFaskesApi(this.$axios)
    this.fetchSearchQuickForm()
  },

  methods: {
    async fetchSearchQuickForm() {
      const { id } = this.$route.params
      try {
        const response = await this.userFaskesApi.findQuickForm(id)
        if (response.id) {
          const ref = response.ref.id
          this.$router.replace(`/testcovid/?from=quick-form&ref=${ref}`)
        }
      } catch (err){
        console.log(err)
        this.isDataAvailable = false
      }
    }
  }
}
</script>
