<template>
  <v-app>
    <v-main>
      <Nuxt />
    </v-main>
  </v-app>
  <!-- <ui-container-layout
    brand-image="https://inatti.id/asset-app/inatti-v2.2-large.png"
    brand-title="Identity"
  > -->
  <!-- <template #sidebar-menu>
      <ui-container-menu-navigation :menu-items="menus" />
    </template>
    <template #appbar-sidetool>
      <ui-container-menu-account :currentBranch="roleName" />
    </template> -->
  <!-- </ui-container-layout> -->
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class DefaultLayout extends Vue {}
</script>

<style>
.text-style {
  position: relative;
  top: 2.5px;
  font-size: 1.5rem;
  color: #7a892a;
}
</style>
