<template>
  <v-alert type="warning" v-model="notification.phonenumberNotFound">
    <v-row align="center" no-gutters>
      <v-col class="grow">
      Akun anda tidak memiliki Nomor hp, mohon mengisi nomor telepon anda.
      </v-col>
      <v-col class="shrink">
        <v-btn to="/account/setting" color="secondary">Isi data</v-btn>
      </v-col>
    </v-row>
  </v-alert>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';

@Component({})
export default class NotificationManagementAlertComponent extends Vue {
  $auth: any;

  get notification() {
    return {
      phonenumberNotFound: !this.$auth.user.phoneNumber,
    }
  }
}
</script>

<style ${2|scoped,|} lang="scss">

</style>
