.h-100vh{
    height: 100vh;
  }
  
  .w-full {
    width: 100%;
  }
  
  .h-full {
    height: 100%;
  }
  
  .max-h-screen {
    max-height: 100vh;
  }
  
  .fixed {
    position: fixed;
  }
  
  .relative {
    position: relative;
  }