<template>
  <div>
    <v-row
      justify="center"
      align-content="start"
      align-content-md="center"
      class="h-100vh"
    >
      <v-col md="3" col="12">
        <v-card class="ma-3">
          <v-card-title>
            <h3>Pilih Reference</h3>
          </v-card-title>
          <v-card-text>
            <v-progress-circular
              v-if="isLoading"
              indeterminate
              color="primary"
            />
            <v-list v-else dense>
              <v-list-item
                v-for="(ref, i) in listReference"
                :key="i"
                @click="saveReference(ref.refId.id)"
              >
                <v-list-item-avatar color="primary" class="white--text">
                  {{ ref.refId.name[0] }}
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{ ref.refId.name }}</v-list-item-title>
                  <v-list-item-subtitle>
                    <strong>
                      {{ ref.roleId.name }}
                    </strong>
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>
                    {{ ref.roleId.description }}
                  </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-list-item-action-text> Masuk </v-list-item-action-text>
                  <v-icon> mdi-arrow-right </v-icon>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <ui-common-snackbar-error />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { UiCommonSnackbarError } from '@inatti/shared/ui'

export default Vue.extend({
  components: {
    UiCommonSnackbarError
  },
  layout: 'blank',
  data() {
    return {
      isLoading: true,
      listReference: null,
    }
  },
  mounted() {
    this.fetchRef()
  },
  methods: {
    async fetchRef() {
      this.isLoading = true
      try {
        this.listReference = await this.$axios.$get('/api-ref/registered-ref')
      } catch (error) {
        console.log(error)
      }
      this.isLoading = false
    },
    saveReference(id: string) {
      this.$router.replace({
        path: '/',
        query: {
          refId: id,
        },
      })
    },
  },
})
</script>

<style>
</style>