<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Detail PMR </mobile-appbar-title>
    </template>

    <div style="background-color: #f5f5f5">
      <v-card class="ma-3">
        <v-card-text class="grey--text text--darken-3">
          <div>
            <div class="text-h6"> {{ data.patient ? data.patient.name : '-' }} </div>
            <p class="text-body-2"> {{ data.patient ? data.patient.job : 'Wiraswasta' }} </p>
          </div>
          <v-divider class="mb-3" />
          <div>
            <div class="font-weight-bold text-body-1"> Kasus {{ data.detailPmr.case ? data.detailPmr.case : '________' }} </div>
            <div v-if="data.detailPmr.createdAt" class="text-body-2 mt-2 mb-3"> {{ $dateFns.format(data.detailPmr.createdAt, 'dd / MMMM / yyyy, HH:mm') }} </div>
            <div v-else class="text-body-2 mt-2 mb-3"> -- / -- / ----, --:-- </div>
            <div class="text-body-1 font-weight-medium mb-3"> {{ data.detailPmr.docterName ? data.detailPmr.docterName : '-' }} </div>
            <p class="text-body-2">
              Catatan: <br> {{ data.detailPmr.note ? data.detailPmr.note : '-' }}
            </p>
          </div>
          <v-divider class="mt-10 mb-4" />
          <p class="text-h6">Obat dan Terapi</p>
          <v-card v-for="item in data.medicines" :key="item.id" outlined class="mb-3">
            <v-card-text>
              <div class="d-flex justify-space-between text-capitalize">
                <div> {{ item.medicine ? item.medicine.name : '-' }} </div>
                <div> {{ item.amount }} {{ item.amountUnit }} </div>
              </div>
              <div class="d-flex justify-end">
                <div> {{ item.description ? item.description : '-' }} </div>
              </div>
            </v-card-text>
          </v-card>

          <v-btn @click="downloadPdf" outlined color="primary" :loading="isLoadingDownloadPmr">
            Download PMR
          </v-btn>
        </v-card-text>
      </v-card>
    </div>
  </mobile-layout>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { PmrApi } from '@inatti/shared/api-nuxt'

@Component({
  layout: 'mobile',
})
export default class DetailHistoryPmrComponent extends Vue {
  data = {
    detailPmr: {} as any,
    patient: {} as any,
    medicines: {} as any
  }  

  pmrApi!: PmrApi
  mounted() {
    this.pmrApi = new PmrApi(this.$axios)
    this.fetchDetailPmr()
  }

  async fetchDetailPmr() {
    const { id } = this.$route.params
    try {
      const response = await this.pmrApi.get(id)
      this.data.detailPmr = response
      this.data.patient = response.patient
      this.data.medicines = response.medicines
    } catch (error) {
      this.$router.back()
    }
  }

  isLoadingDownloadPmr = false
  async downloadPdf(){
    this.isLoadingDownloadPmr = true
    const { id } = this.$route.params
    await this.pmrApi.toPdf(id)
    this.isLoadingDownloadPmr = false
  }
  
}
</script>
