<template>
  <section>
    <auth-banner />
    <v-container class="mt-12 d-flex justify-center align-center">
      <v-form ref="form" lazy-validation>
        <v-card
          width="410"
          outlined
          class="rounded-xl mb-12 py-7 px-5 grey--text text--darken-2"
          outline
        >
          <div class="text-center subtitle-1 font-weight-medium mb-3">
            Form Lupa Password
          </div>

          <div class="subtitle-1 font-weight-medium">Nomor Telepon</div>
          <v-row class="mt-1">
            <v-col class="pt-0">
              <v-autocomplete
                v-model="selectedPhoneCountryCode"
                :items="phoneCountryCodes"
                prepend-inner-icon="mdi-plus"
                placeholder="+62"
                outlined
                messages="Kode Negara"
              >
              </v-autocomplete>
            </v-col>
            <v-col class="pt-0">
              <v-text-field
                v-model="phoneNumber"
                :rules="rules.phoneNumber"
                outlined
                placeholder="82230123xx"
                messages="No. Telepon tanpa kode area"
              />
            </v-col>
          </v-row>
          <div class="my-5">
            <v-btn
              color="primary"
              dark
              block
              depressed
              :loading="isLoading"
              @click="validateForm"
            >
              Verifikasi
            </v-btn>
            <v-alert
              v-model="alert.isShow"
              :type="alert.type"
              class="mt-3"
              dismissible
              dense
              outlined
            >
              {{ alert.msg }}
            </v-alert>
          </div>
          <v-row class="d-flex flex-column text-center mb-1 caption">
            <v-col class="pb-0">
              Belum Punya akun ?
              <span
                class="primary--text cursor-pointer"
                @click="$router.push('/auth')"
              >
                Daftar disini
              </span>
            </v-col>
            <v-col class="pt-1">
              Sudah punya akun ?
              <span
                class="primary--text cursor-pointer"
                @click="$router.push('/auth')"
              >
                Klik disini
              </span></v-col
            >
          </v-row>
        </v-card>
      </v-form>
    </v-container>
  </section>
</template>

<script>
import { AccountResetPasswordApi } from '@inatti/shared/api-nuxt'
export default {
  auth: false,

  data: () => ({
    phoneNumber: null,
    selectedPhoneCountryCode: '62',

    phoneCountryCodes: [
      '62',
      '1-684',
      '54',
      '61',
      '43',
      '297',
      '91',
      '358-18',
      '994',
      '353',
      '380',
      '974',
      '258',
    ],

    rules: {
      phoneNumber: [
        (v) => !!v || 'Masukkan No. Telepon',
        (v) => (v && v.length <= 12) || 'No. Telepon maks 12 karakter',
      ],
    },
    isLoading: false,
    alert: {
      isShow: false,
      type: 'warning',
      msg: null,
    },
    accountResetPasswordApi: null,
  }),
  mounted() {
    this.accountResetPasswordApi = new AccountResetPasswordApi(this.$axios)
  },
  methods: {
    async searchAccount() {
      const username = this.phoneNumber
      try {
        this.isLoading = true
        const res = await this.accountResetPasswordApi.searchAccount(
          this.selectedPhoneCountryCode + username
        )
        this.$store.commit('testcovid/setFoundAccount', res)
        this.$router.push('/forget-pass/confirm')
      } catch (err) {
        const message =
          err.response?.data?.message ?? 'Nomor hp tersebut tidak ditemukan'
        this.alert.isShow = true
        this.alert.msg = message
      }
      this.isLoading = false
    },

    validateForm() {
      if (!this.$refs.form.validate()) return false
      this.searchAccount()
    },
  },
}
</script>

<style>
.cursor-pointer:hover {
  cursor: pointer;
  font-weight: normal;
}
</style>
