<template>
  <section>
    <auth-banner />
    <v-container class="mt-12 d-flex justify-center align-center">
      <v-form ref="form" lazy-validation>
        <v-card width="410" outlined class="rounded-xl mb-12 py-7 px-5 grey--text text--darken-2" outline>
          <div class="text-center subtitle-1 font-weight-medium"> Form Lupa Password </div>
          <div class="text-center body-1"> Akun Anda ditemukan dengan nama : </div>
          
          <table width="100%" class="my-7">
            <tbody>
              <tr v-if="name">
                <td> Nama </td>
                <td>:</td>
                <td> {{ name }} </td>
              </tr>
              <tr>
                <td> No. Hp </td>
                <td> : </td>
                <td> {{ phoneNumber }} </td>
              </tr>
              <tr>
                <td> Email </td>
                <td> : </td>
                <td> {{ email }} </td>
              </tr>
            </tbody>
          </table>
          <div class="text-subtitle-1 font-weight-medium"> Verifikasi melalui </div>
          <div class="d-flex align-center">
            <v-radio-group v-model="sendOtpTo" row class="ml-2 mt-0">
              <v-radio value="whatsapp">
                <template #label>
                  <div class="body-2 text ml-1"> Whatsapp </div>
                </template>
              </v-radio>
              <v-radio value="email">
                <template #label>
                  <div class="body-2 text ml-1"> E-mail </div>
                </template>
              </v-radio>
            </v-radio-group>
          </div>
          <div class="mb-5">
            <v-btn
              color="primary"
              dark
              block
              depressed
              @click="validateForm"
            >
              Kirim Verifikasi
            </v-btn>
          </div>
          <v-row class="d-flex flex-column text-center mb-1 caption">
            <v-col class="pb-0"> Belum Punya akun ? <span class="primary--text cursor-pointer" @click="$router.push('/auth')"> Daftar disini </span> </v-col>
            <v-col class="pt-1"> Sudah punya akun ? <span class="primary--text cursor-pointer" @click="$router.push('/auth')"> Klik disini </span></v-col>
          </v-row>
        </v-card>
      </v-form>
    </v-container>
  </section>
</template>

<script>
import { AccountResetPasswordApi } from '@inatti/shared/api-nuxt'
export default {
  auth: false,
  data: () => ({
    sendOtpTo: 'whatsapp',

    rules: {
      phoneNumber: [
        (v) => !!v || 'Masukkan No. Telepon',
        (v) => (v && v.length <= 12) || 'No. Telepon maks 12 karakter',
      ],
    },
    accountResetPasswordApi: null
  }),
  computed: {
    name() {
      return this.$store.state.testcovid.foundAccount.name ?? null
    },
    phoneNumber() {
      return this.$store.state.testcovid.foundAccount.phoneNumber
    },
    email() {
      return this.$store.state.testcovid.foundAccount.email
    },
    id() {
      return this.$store.state.testcovid.foundAccount.id
    }
  },
  mounted() {
    this.accountResetPasswordApi = new AccountResetPasswordApi(this.$axios)
  },
  methods: {
    async requestResetPassword() {
      try {
        await this.accountResetPasswordApi.requestResetPassword(this.id, this.sendOtpTo)
        this.$store.commit('testcovid/setSendOtpForgetPass', this.sendOtpTo)
        this.$router.push('/forget-pass/update-pass')
      } catch (err) {
        return err
      }
    },
    validateForm() {
      if (!this.$refs.form.validate()) return false
      this.requestResetPassword()
    }
  }
}
</script>