<template>
  <section>
    <auth-banner />
    <v-container class="mt-12 d-flex justify-center align-center">
      <v-form ref="form" lazy-validation>
        <v-card
          width="410"
          outlined
          class="rounded-xl mb-12 py-7 px-5 grey--text text--darken-2"
          outline
        >
          <div class="text-center subtitle-1 font-weight-medium mb-1">
            Update Password
          </div>

          <v-row class="text-center">
            <v-col cols="12" class="subtitle-1">
              Masukkan kode verifikasi
            </v-col>
            <v-col cols="12">
              <div class="ma-auto position-relative" style="max-width: 300px">
                <v-otp-input v-model="otp" length="6" @finish="finishOtp" />
              </div>
            </v-col>
            <v-col>
              <p class="caption ma-2 mb-6">
                Tidak mendapatkan kode?
                <span
                  v-if="sendOtpTo === 'email'"
                  class="blue--text text--lighten-2"
                  style="cursor: pointer"
                  @click="resendOtp('email')"
                >
                  kirim ulang Ke Email
                </span>
                <span
                  v-if="sendOtpTo === 'whatsapp'"
                  class="blue--text text--lighten-2"
                  style="cursor: pointer"
                  @click="resendOtp('whatsapp')"
                >
                  kirim ulang Ke Whatsapp
                </span>
              </p>
            </v-col>
          </v-row>

          <v-alert
            v-model="alert.isShow"
            :type="alert.type"
            class="mt-3"
            dismissible
            dense
            outlined
          >
            {{ alert.msg }}
          </v-alert>

          <div class="subtitle-1 font-weight-medium">Password Baru</div>
          <v-row class="mt-1">
            <v-col class="py-0">
              <v-text-field
                v-model="password"
                :rules="rules.password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                outlined
                placeholder="Password Baru"
                @click:append="toggleShowPassword"
              />
            </v-col>
          </v-row>
          <div class="my-5">
            <v-btn
              color="primary"
              dark
              block
              depressed
              :loading="isLoading"
              @click="validateForm"
            >
              Update Password
            </v-btn>
          </div>
          <v-row class="d-flex flex-column text-center mb-1 caption">
            <v-col class="pb-0">
              Belum Punya akun ?
              <span
                class="primary--text cursor-pointer"
                @click="$router.push('/auth')"
              >
                Daftar disini
              </span>
            </v-col>
            <v-col class="pt-1">
              Sudah punya akun ?
              <span
                class="primary--text cursor-pointer"
                @click="$router.push('/auth')"
              >
                Klik disini
              </span></v-col
            >
          </v-row>
        </v-card>
      </v-form>
    </v-container>
  </section>
</template>

<script>
import { AccountResetPasswordApi } from '@inatti/shared/api-nuxt'
export default {
  auth: false,
  data: () => ({
    showPassword: false,
    password: null,
    otp: null,
    rules: {
      password: [(v) => !!v || 'Masukkan Password Baru.'],
    },
    isLoading: false,
    alert: {
      isShow: false,
      type: 'warning',
      msg: null,
    },
    accountResetPasswordApi: null,
  }),
  mounted() {
    this.accountResetPasswordApi = new AccountResetPasswordApi(this.$axios)
  },
  computed: {
    sendOtpTo() {
      return this.$store.state.testcovid.foundAccount.sendOtpTo
    },
  },
  methods: {
    async resendOtp(method) {
      try {
        await this.accountResetPasswordApi.requestResetPassword(
          this.$store.state.testcovid.foundAccount.id,
          method
        )
        this.alert.isShow = true
        this.alert.type = 'info'
        this.alert.msg = 'OTP telah dikirim'
      } catch (error) {
        return error
      }
    },
    async updatePassword() {
      try {
        this.isLoading = true
        await this.accountResetPasswordApi.updatePassword(
          this.otp,
          this.$store.state.testcovid.foundAccount.id,
          this.password
        )
        this.$router.push('/auth')
      } catch (err) {
        this.alert.isShow = true
        this.alert.msg = err.response?.data?.message ?? 'Terjadi kesalahan'
      }
      this.isLoading = false
    },

    toggleShowPassword() {
      this.showPassword = !this.showPassword
    },

    validateForm() {
      if (!this.$refs.form.validate()) return false
      this.updatePassword()
    },

    finishOtp(otp) {
      this.otp = otp
    },
  },
}
</script>
