<template>
  <div>
    <section v-show="isLoading" class="mt-4">
      <v-card class="pt-2">
        <v-skeleton-loader type="list-item-avatar" />
        <v-row>
          <v-col>
            <v-skeleton-loader type="list-item-two-line" />
          </v-col>
          <v-col class="pa-7 pt-8">
            <v-row justify="end" class="ma-0">
              <v-skeleton-loader width="70%" type="text" />
            </v-row>
            <v-row justify="end" class="ma-0">
              <v-skeleton-loader width="50%" type="text" />
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </section>
    <v-col v-if="!list || (list.length < 1 && !isLoading)">
      <v-row>
        <v-col cols="12">
          <v-alert outlined type="info">
            <div>
              <div>
                Relasi akan mucul saat anda mendaftarkan beberapa pasien
                sekaligus dalam pesanan Tambahkan relasi anda di bawah ini
              </div>
            </div>
          </v-alert>
        </v-col>
      </v-row>
    </v-col>
    <v-list class="pa-0 ma-0" two-line>
      <v-list-item-group v-model="selected" active-class="blue--text">
        <template v-for="item in list">
          <v-list-item :value="item.id" :key="item.id">
            <template #default="{ active }">
              <v-list-item-content>
                <v-list-item-title>
                  <div
                    class="d-flex justify-space-between flex-row align-center"
                  >
                    <div
                      class="d-flex justify-space-between flex-row align-center"
                    >
                      <v-icon size="25" class="mr-1"
                        >mdi-account-outline</v-icon
                      >
                      <span>{{ item.name }}</span>
                    </div>
                    <v-icon>{{
                      active ? 'mdi-account-check' : 'mdi-account'
                    }}</v-icon>
                  </div>
                </v-list-item-title>
                <v-list-item-subtitle>
                  <v-row class="mt-0" style="width: 100%">
                    <v-col
                      cols="12"
                      class="
                        pt-2
                        pr-0
                        pb-0
                        d-flex
                        justify-space-between
                        align-center
                        flex-row
                      "
                    >
                      <span>Tgl/ Lahir</span>
                      <span>{{ item.datebirth }}</span>
                    </v-col>
                    <v-col
                      cols="12"
                      class="
                        pt-2
                        pr-0
                        d-flex
                        justify-space-between
                        align-center
                        flex-row
                      "
                    >
                      <span>Nik/ Paspor</span>
                      <span>{{ item.nik }}</span>
                    </v-col>
                  </v-row>
                </v-list-item-subtitle>
              </v-list-item-content>
            </template>
          </v-list-item>
        </template>
      </v-list-item-group>
    </v-list>
  </div>
</template>

<script lang="ts">
import { UserApi } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
@Component
export default class CorePatientRelationList extends Vue {
  @Prop({ type: [String] })
  value!: string

  isLoading = false

  get selected() {
    return this.value
  }

  set selected(val) {
    this.$emit('input', val)
  }

  list = [] as any[]

  async fetchList() {
    this.isLoading = true
    try {
      const resp = await this.userApi.getUserRelation()
      this.list = resp
    } catch (error) {
    } finally {
      this.isLoading = false
    }
  }

  userApi!: UserApi

  mounted() {
    this.userApi = new UserApi(this.$axios)
    this.fetchList()
  }
}
</script>
