<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Lupa Order </mobile-appbar-title>
    </template>

    <v-sheet class="grey lighten-4 mt-toolbar pt-3 pt-md-5">
      <v-row
        class="grey lighten-4 pa-2 px-8 subtitle-2 grey--text text--darken-3"
        align="center"
      >
        Identitas Anda
      </v-row>
      <v-row class="white py-0 px-5">
        <v-col cols="12">
          <v-form ref="form" v-model="valid">
            <v-text-field
              v-model="formData.patientNik"
              outlined
              dense
              name="NIK"
              label="NIK"
              placeholder="masukkan NIK Anda"
              :rules="formRule"
            ></v-text-field>
            <v-text-field
              v-model="formData.patientName"
              outlined
              dense
              name="Nama"
              label="Nama"
              placeholder="Nama Anda"
              :rules="formRule"
            ></v-text-field>
            <v-dialog
              ref="dialog"
              v-model="modal"
              :return-value.sync="formData.swabDate"
              persistent
              width="290px"
            >
              <template #activator="{ on, attrs }">
                <v-text-field
                  v-model="formData.swabDate"
                  label="Tanggal Test"
                  prepend-inner-icon="mdi-calendar"
                  readonly
                  outlined
                  dense
                  :rule="formRule"
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="formData.swabDate" scrollable>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="modal = false">
                  Cancel
                </v-btn>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.dialog.save(formData.swabDate)"
                >
                  OK
                </v-btn>
              </v-date-picker>
            </v-dialog>
            <v-text-field
              v-model="formData.phonenumber"
              outlined
              dense
              name="No. Telepon"
              label="Nomor Telepon"
              placeholder="6282230xxxx"
              :rules="formPhonenumberRule"
            ></v-text-field>
          </v-form>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <div class="mx-3">
            <v-btn
              block
              depressed
              color="primary"
              :loading="isLoading"
              @click="searchOrder"
            >
              Cari Order
            </v-btn>
          </div>
          <v-alert
            v-model="isOrderNotFound"
            text
            outlined
            type="error"
            class="ma-3"
          >
            Order Tidak Ditemukan
          </v-alert>
          <v-alert v-if="!$auth.loggedIn" type="info" text class="ma-3">
            <v-row align="center">
              <v-col class="grow body-2">
                Belum punya akun? Daftar sekarang!
              </v-col>
              <v-col class="shrink">
                <v-btn small depressed color="primary" to="/auth">Daftar</v-btn>
              </v-col>
            </v-row>
          </v-alert>
        </v-col>
      </v-row>
    </v-sheet>
  </mobile-layout>
</template>

<script>
import { UserOrderApi } from '@inatti/shared/api-nuxt'
export default {
  layout: 'blank',
  data() {
    return {
      dialog: false,
      isLoading: false,
      valid: false,
      snackbar: false,
      isOrderNotFound: false,
      formRule: [(v) => !!v || 'Form ini perlu diisi.'],
      formPhonenumberRule: [
        (v) => !!v || 'Nomor hp harus diisi',
        (v) => v !== '62' || 'Nomor hp harus diisi',
      ],
      modal: false,
      formData: {
        patientNik: null,
        patientName: null,
        swabDate: null,
        phonenumber: '62',
      },
      userOrderApi: null
    }
  },
  mounted() {
    this.userOrderApi = new UserOrderApi(this.$axios)
  },
  methods: {
    async searchOrder() {
      if (!this.$refs.form.validate()) return
      if (!this.formData.swabDate) return
      this.isLoading = true
      const params = {
        name: this.formData.patientName,
        nik: this.formData.patientNik,
        phonenumber: this.formData.phonenumber,
        swabDate: this.formData.swabDate,
      }
      try {
        await this.userOrderApi.getForgottenOrder(params)
        this.isOrderNotFound = false
        this.$router.push(`/testcovid/order/search/?from=forget`)
      } catch {
        this.isOrderNotFound = true
      } finally {
        this.isLoading = false
      }
    },
  },
}
</script>
