<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Daftar Pesanan dan hasil test </mobile-appbar-title>
    </template>

    <v-sheet
      class="mt-toolbar pt-1 pb-14"
      style="position: relative"
      min-height="85vh"
    >
      <div class="subtitle-2 font-weight-bold ml-6 my-3 mt-4">
        Daftar Order Test Anda
      </div>
      <v-card
        v-if="isLoading == true"
        outlined
        class="d-flex justify-center align-center py-10"
      >
        <v-progress-circular
          indeterminate
          color="primary"
          size="50"
        ></v-progress-circular>
      </v-card>
      <div class="mb-12">
        <v-alert
          v-if="!order || order.length < 1"
          dense
          prominent
          type="info"
          class="white--text"
        >
          <div>
            <div>Anda belum memesan Test Covid</div>
            <div class="mt-3">
              <v-btn color="secondary" small to="/testcovid">
                Tes Sekarang
              </v-btn>
            </div>
          </div>
        </v-alert>

        <v-alert
          v-if="!$auth.loggedIn"
          outlined
          type="info"
          text
          class="ma-3 mt-0"
        >
          <v-row align="center">
            <v-col class="grow body-2"> Belum punya akun? </v-col>
            <v-col class="shrink">
              <v-btn small color="primary" to="/auth"
                >Sign Up</v-btn
              >
            </v-col>
          </v-row>
        </v-alert>

        <v-card
          v-for="items in order"
          :key="items.id"
          :v-if="isLoading == false"
          cols="12"
          outlined
          @click="clicked(items)"
        >
          <v-card-text>
            <div class="white d-flex justify-space-between">
              <div class="d-flex justify-space-between flex-column">
                <div class="subtitle-2 font-weight-regular">
                  Total Pasien : {{ items.totalOrder }} Orang
                </div>
                <div class="subtitle-1 font-weight-regular">
                  {{ items.reference ? items.reference.name : '' }}
                </div>
                <div class="caption font-weight-normal">
                  <v-icon small>mdi-map-marker</v-icon
                  >{{ items.reference ? items.reference.refAddress : '' }}
                </div>
              </div>
              <div class="text-right">
                <common-chip-status-order
                  :small="true"
                  :status="items.status"
                ></common-chip-status-order>
                <div class="subtitle-2 font-weight-regular">
                  {{
                    items.createdAt
                      ? $utils.dateToMonthText(items.createdAt)
                      : ''
                  }}
                </div>
                <div class="subtitle-2 font-weight-bold">
                  Order Id : {{ items.trxId }}
                </div>
                <div class="subtitle-2 font-weight-regular">
                  {{ $utils.toIdr(items.totalPrice) }}
                </div>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </div>

      <v-btn
        color="info"
        class="mb-12"
        dark
        absolute
        bottom
        right
        fab
        to="/testcovid"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-sheet>
  </mobile-layout>
</template>

<script>
import { UserOrderApi } from '@inatti/shared/api-nuxt'
export default {
  name: 'OrderList',
  layout: 'blank',
  data() {
    return {
      isLoading: false,
      order: [],
      userOrderApi: null
    }
  },
  mounted() {
    if (!this.$auth.loggedIn) return false
    this.userOrderApi = new UserOrderApi(this.$axios)
    this.fetchOrder()
  },
  methods: {
    clicked(items) {
      this.$router.push('/testcovid/order/detail/' + items.id)
    },
    async fetchOrder() {
      this.isLoading = true
      try {
        const resp = await this.userOrderApi.getList()
        this.order = resp
      } catch (error) {}
      this.isLoading = false
    }
  }
}
</script>

<style>
@media only screen and (max-width: 959px) {
  .v-stepper:not(.v-stepper--vertical) .v-stepper__label {
    display: flex !important;
  }
}
</style>
