<template>
  <mobile-layout>
    <template #title>
      <mobile-appbar-title> Periksa hasil Test anda </mobile-appbar-title>
    </template>

    <v-sheet class="grey lighten-4 mt-toolbar pt-3 pt-md-5">
      <v-row
        class="grey lighten-4 pa-2 px-8 subtitle-2 grey--text text--darken-3"
        align="center"
      >
        No.Order
        <v-dialog v-model="dialog" width="80%">
          <template #activator="{ on, attrs }">
            <v-icon dense color="#29b6f6" class="ml-2" v-bind="attrs" v-on="on">
              mdi-help-circle-outline
            </v-icon>
          </template>

          <v-card>
            <v-card-text class="pa-5">
              <v-alert dense text outlined type="info" class="ma-0">
                <strong> Cara memasukaan Invoice ID </strong>
                <ol class="list--word-wrap">
                  <li>
                    Pada invoice id terdapat angka dan huruf seperti berikut
                    <strong> INATTI-TEST-164-360217-1643602179836</strong>.
                  </li>
                  <li>
                    Masukkan kode seksi tengah atau bagian
                    <strong> 360217 </strong> ke
                    <strong>form input. </strong>
                  </li>
                  <li>Tekan tombol <strong> "CARI INVOICE" </strong>.</li>
                </ol>
              </v-alert>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-row>
      <v-row class="white py-0 px-5">
        <v-col cols="12">
          <v-form ref="form" v-model="valid" @submit.prevent="searchInvoice">
            <v-text-field
              v-model="invoiceId"
              outlined
              dense
              append-icon="mdi-magnify"
              hint="Contoh : XXXXXX-XXXX-YY-8Q6O6Q3-ZZZZZZZZZZZZZ"
              persistent-hint
              placeholder="Ex: 8Q6O6Q3"
              :rules="invoiceIdRule"
            ></v-text-field>
            <v-btn
              block
              depressed
              small
              color="primary"
              :loading="isLoading"
              @click="searchInvoice"
              >Cari Invoice</v-btn
            >
          </v-form>
          <NuxtLink
            class="d-flex justify-end grey--text text--darken-1 caption text-decoration-none pt-2"
            to="/testcovid/order/forget-order"
          >
            Lupa No. Order?
          </NuxtLink>
        </v-col>
      </v-row>
      <v-row class="pa-2 px-5">
        <v-col>
          <v-alert v-model="isSendToWa" type="info" text outlined :value="true">
            Kami telah mengirimkan No. Order pada whatsapp anda.
          </v-alert>
        </v-col>
        <v-col
          cols="12"
          class="font-weight-medium text-subtitle-1"
          style="color: #168aad"
        >
          Lihat rekam test anda lainnya? <br />
          Daftarkan diri anda di <strong> <i> InaTTI.id </i> </strong> sekarang!
        </v-col>
        <v-col cols="12" class="pt-0 body-2">
          Atau klik tombol berikut untuk info lebih lanjut
        </v-col>
        <v-col cols="12" class="pt-3">
          <v-btn block depressed small color="secondary" to="/auth"
            >daftar inatti.id</v-btn
          >
        </v-col>
        <v-col cols="12" class="body-2">
          Nikmati fitur lainya seperti covid tracing, isoman dan kelola hasil
          test anda sendiri.
        </v-col>
      </v-row>
      <v-snackbar
        v-model="snackbar"
        timeout="2000"
        color="error"
        bottom
        rounded
      >
        Invoice tidak ditemukan.

        <template #action="{ attrs }">
          <v-btn
            color="grey darken-4"
            small
            v-bind="attrs"
            depressed
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </v-sheet>
  </mobile-layout>
</template>

<script>
import { UserOrderApi } from '@inatti/shared/api-nuxt'
export default {
  layout: 'blank',
  data() {
    return {
      dialog: false,
      invoiceId: null,
      isLoading: false,
      valid: false,
      snackbar: false,
      invoiceIdRule: [(v) => !!v || 'Isi Invoice ID terlebih dahulu.'],
      isSendToWa: false,
      userOrderApi: null,
    }
  },
  mounted() {
    this.userOrderApi = new UserOrderApi(this.$axios)
    this.showAlert()
  },
  methods: {
    async searchInvoice() {
      this.isLoading = true
      try {
        if (!this.$refs.form.validate()) return
        const response = await this.userOrderApi.findInvoice(this.invoiceId)
        const resultId = response.id
        this.$router.push(`/testcovid/order/detail/${resultId}`)
      } catch {
        this.snackbar = true
      } finally {
        this.isLoading = false
      }
    },
    showAlert() {
      if (this.$route.query.from) {
        this.isSendToWa = true
        return null
      }
      this.isSendToWa = false
    },
  },
}
</script>

<style scoped>
.list--word-wrap > li {
  overflow-wrap: anywhere;
}
</style>
