<template>
  <div
    style="
      width: 100px;
      position: relative;
      border: 1px solid #d9d9d9;
      height: 100px;
      cursor: pointer;
    "
    class="d-flex justify-center rounded-lg align-center"
  >
    <v-icon
      v-if="!readonly"
      small
      color="blue-grey lighten-3"
      @click="onDelete"
      style="cursor: pointer; position: absolute; top: 3px; right: 3px"
    >
      mdi-close-circle
    </v-icon>
    <img
      @click="onPreview"
      v-if="value"
      class="rounded-lg"
      style="width: 100%; height: 100%; object-fit: cover"
      :src="value"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class ProofImageDropzonePreview extends Vue {
  @Prop({ type: [String] })
  value!: string
  @Prop()
  readonly!: boolean

  onDelete() {
    this.$emit('deleted')
  }

  onPreview() {
    window.open(this.value)
  }
}
</script>
