<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <fieldset class="pa-3">
      <legend>Data Personal</legend>
      <v-select
        v-model="form.type"
        label="Tipe Nik"
        v-bind="readOnlyfieldConfig"
        :items="options.typeNik"
        item-text="name"
        item-value="id"
      />
      <v-text-field
        v-model="form.nik"
        v-bind="readOnlyfieldConfig"
        label="Nik"
        placeholder="Nomor Induk Kependudukan"
      />
      <v-text-field
        v-model="form.passport"
        v-bind="readOnlyfieldConfig"
        label="Passport"
        placeholder="Passport"
      />
      <v-text-field
        v-model="form.name"
        v-bind="readOnlyfieldConfig"
        label="Nama"
        placeholder="Nama Pasien"
      />
      <v-text-field
        v-model="form.datebirth"
        v-bind="readOnlyfieldConfig"
        type="date"
        label="Tanggal Lahir"
      ></v-text-field>

      <v-text-field
        v-model="form.placebirth"
        v-bind="readOnlyfieldConfig"
        label="Tempat Lahir"
      ></v-text-field>

      <v-text-field
        v-model="form.email"
        v-bind="{ ...readOnlyfieldConfig, required: false }"
        label="Email"
      ></v-text-field>

      <v-text-field
        v-model="form.phonenumber"
        v-bind="{ ...readOnlyfieldConfig, required: false }"
        label="Nomor Hp"
      ></v-text-field>

      <ui-form-select-gender
        v-model="form.gender"
        v-bind="readOnlyfieldConfig"
      />
    </fieldset>

    <fieldset class="pa-3">
      <legend>Alamat KTP</legend>
      <ui-form-select-provinsi
        v-model="form.provinsi"
        v-bind="readOnlyfieldConfig"
      />
      <ui-form-select-kabupaten
        v-model="form.kabupaten"
        v-bind="readOnlyfieldConfig"
        :provinsi="form.provinsi"
      />
      <ui-form-select-kecamatan
        v-model="form.kecamatan"
        v-bind="readOnlyfieldConfig"
        :kabupaten="form.kabupaten"
      />

      <v-row>
        <v-col>
          <v-text-field
            v-model="form.kelurahanRt"
            v-bind="readOnlyfieldConfig"
            label="Kelurahan RT"
          />
        </v-col>
        <v-col>
          <v-text-field
            v-model="form.kelurahanRw"
            v-bind="readOnlyfieldConfig"
            label="Kelurahan RW"
          />
        </v-col>
      </v-row>
      <v-text-field
        v-model="form.address"
        v-bind="readOnlyfieldConfig"
        label="Alamat"
      />
    </fieldset>

    <fieldset class="pa-3">
      <legend>Alamat Domisili</legend>
      <ui-form-select-provinsi
        v-model="form.domisiliProvinsi"
        v-bind="readOnlyfieldConfig"
      />
      <ui-form-select-kabupaten
        v-model="form.domisiliKabupaten"
        v-bind="readOnlyfieldConfig"
        :provinsi="form.domisiliProvinsi"
      />
      <ui-form-select-kecamatan
        v-model="form.domisiliKecamatan"
        v-bind="defaultFieldConfig"
        :kabupaten="form.domisiliKabupaten"
      />
      <ui-form-select-kelurahan
        v-model="form.domisiliKelurahan"
        v-bind="readOnlyfieldConfig"
        :kecamatan="form.domisiliKecamatan"
      />
      <v-row>
        <v-col>
          <v-text-field
            v-model="form.domisiliKelurahanRt"
            v-bind="readOnlyfieldConfig"
            label="Domisili Kelurahan RT"
          />
        </v-col>
        <v-col>
          <v-text-field
            v-model="form.domisiliKelurahanRw"
            v-bind="readOnlyfieldConfig"
            label="Domisili Kelurahan RW"
          />
        </v-col>
      </v-row>
      <v-text-field
        v-model="form.addressDomisili"
        v-bind="readOnlyfieldConfig"
        label="Alamat Domisili"
      />
    </fieldset>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
export default class CorePatientForm extends Vue {
  @Prop({ type: Object })
  value!: object

  get form() {
    return this.value
  }

  set form(val) {
    this.$emit('input', val)
  }

  readOnlyfieldConfig = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
    readonly: true,
  }

  defaultFieldConfig = {
    dense: true,
    outlined: true,
    required: true,
    disabled: false,
  }

  valid = true

  options = {
    typeNik: [
      { id: 'nik', name: 'Nik KTP' },
      { id: 'passport', name: 'Nomor Passport' },
    ],
  }
}
</script>
