<template>
  <v-tab-item eager>
    <v-row class="mt-1">
      <v-col cols="12">
        <core-patient-form v-model="form" />
      </v-col>
    </v-row>
  </v-tab-item>
</template>

<script lang="ts">
import { PatientV2Api } from '@inatti/shared/api-nuxt'
import Vue from 'vue'
import Component from 'vue-class-component'

@Component
export default class TabItemIdentitas extends Vue {
  form = {
    nik: null,
    type: null,
    name: null,
    placebirth: null,
    datebirth: null,
    gender: null,
    phonenumber: null,
    email: null,
    bloodtype: null,
    provinsi: null,
    kabupaten: null,
    kecamatan: null,
    kelurahan: null,
    domisiliProvinsi: null,
    domisiliKabupaten: null,
    domisiliKecamatan: null,
    domisiliKelurahan: null,
    address: null,
    addressDomisili: null,
    citizenship: null,
    height: null,
    weight: null,
    job: null,
  } as any
  showForm = false
  patientV2Api!: PatientV2Api
  async fetchPatient() {
    const { id } = this.$route.params
    try {
      const resp = await this.patientV2Api.getPatientDetailsById(id)
      this.form = {
        ...resp,
        provinsi: resp.provinsi?.id,
        kabupaten: resp.kabupaten?.id,
        kecamatan: resp.kecamatan?.id,
        kelurahan: resp.kelurahan?.id,
        domisiliProvinsi: resp.domisiliProvinsi?.id,
        domisiliKabupaten: resp.domisiliKabupaten?.id,
        domisiliKecamatan: resp.domisiliKecamatan?.id,
        domisiliKelurahan: resp.domisiliKelurahan?.id,
        ownedBy: null,
      }
      this.showForm = true
    } catch (error) {}
  }
  mounted() {
    this.patientV2Api = new PatientV2Api(this.$axios)
    this.fetchPatient()
  }
}
</script>
