<template>
  <v-tab-item eager>
    <div v-if="pmrHistoryList.length > 0">
      <v-card
        v-for="item in pmrHistoryList"
        :key="item.id"
        class="ma-3"
        outlined
        :to="`/pmr/${item.id}`"
      >
        <v-card-text>
          <div class="d-flex justify-space-between">
            <div class="font-weight-bold body-1 text-capitalize">
              {{ item.case }}
            </div>
            <div class="caption">
              {{ $dateFns.format(item.createdAt, 'dd MMMM yyyy, HH:mm') }} WIB -
            </div>
          </div>
          <div class="d-flex justify-space-between text-capitalize pt-3">
            <div>{{ item.docterName }}</div>
            <div>
              <v-btn color="primary" x-small depressed :to="`/pmr/${item.id}`">
                Detail PMR
              </v-btn>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </div>
    <div v-else>
      <v-card
        v-if="!isError"
        class="ma-3 text-center"
        outlined
      >
        <v-card-text> Anda tidak memiliki riwayat PMR </v-card-text>
      </v-card>
      <v-sheet
        v-else
        height="65vh"
        class="d-flex justify-center align-center"
        style="background-color: #f5f5f5"
      >
        <v-alert type="error" class="mx-3" outlined dense>
          Gagal memuat data riwayat PMR
        </v-alert>
      </v-sheet>
    </div>
  </v-tab-item>
</template>

<script lang="ts">
import { PmrApi } from '@inatti/shared/api-nuxt'
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'

@Component({
  layout: 'mobile',
})
export default class TabItemHistoryComponent extends Vue {
  @Prop(String) readonly idPasien: string | undefined

  tab = null
  tabs = ['Riwayat Test', 'Riwayat PMR', 'Identitas']
  pmrHistoryList = []
  isError = false as boolean

  pmrApi!: PmrApi

  mounted() {
    this.pmrApi = new PmrApi(this.$axios)
    this.fetchPatientHistoryPMR()
  }

  @Watch('idPasien')
  async fetchPatientHistoryPMR() {
    if(!this.idPasien) return;
    try {
      const response = await this.pmrApi.getHistoryByPatientId(this.idPasien)
      this.pmrHistoryList = response
      this.isError = false
    } catch (error: any) {
      this.isError = true
    }
  }
}
</script>
