<template>
  <v-tab-item eager>
    <div v-if="historyData.length > 0">
      <v-sheet
        v-for="(history, index) in historyData"
        :key="index"
        class="pa-5"
        outlined
      >
        <table v-if="history.orderSwab" width="100%">
          <tbody class="grey--text text--darken-3">
            <tr>
              <td colspan="2">
                <v-icon color="grey darken-2"
                  >mdi-clock-time-eight-outline</v-icon
                >
                <span class="caption font-weight-bold">
                  {{
                    $utils.dateToFullText(
                      history.requestSwabDate,
                      'EEEE, dd MMMM yyyy'
                    )
                  }}
                </span>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                class="d-flex align-center body-1 font-weight-medium mt-1"
              >
                <img
                  :src="require(`~/assets/icons/test/product_${history.orderSwab.product.product.id}.svg`)"
                  height="25px"
                  class="mr-1"
                />
                <span
                  :class="
                    history.orderSwab.product.product.id === 1
                      ? 'light-green--text text--lighten-1'
                      : 'secondary--text'
                  "
                >
                  Test {{ history.orderSwab.product.product.name }}
                </span>
              </td>
            </tr>
            <tr class="subtitle-1" v-if="history.refTarget">
              <td colspan="2">{{ history.refTarget.name }}</td>
            </tr>
            <tr class="caption" v-if="history.orderSwab">
              <td colspan="2">{{ history.orderSwab.product.name }}</td>
            </tr>
            <tr class="subtitle-2">
              <td>Hasil Test</td>
              <td class="text-right">
                <common-chip-status-swab
                  v-if="history.orderSwab.product.product.name !== 'Vaksin'"
                  :x-small="true"
                  :status="history.resultSwab"
                />
                <common-chip-status-vaccine
                  v-else
                  :x-small="true"
                  :status="history.resultSwab"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </v-sheet>
    </div>
    <div v-else>
      <v-card v-if="!isError" class="ma-3 text-center" outlined>
        <v-card-text> Anda tidak memiliki riwayat test </v-card-text>
      </v-card>
      <v-sheet
        v-else
        height="65vh"
        class="d-flex justify-center align-center"
        style="background-color: #f5f5f5"
      >
        <v-alert type="error" class="mx-3" outlined dense>
          Gagal memuat data riwayat test
        </v-alert>
      </v-sheet>
    </div>
  </v-tab-item>
</template>

<script>
import { UserApi } from '@inatti/shared/api-nuxt'
export default {
  data: () => ({
    historyData: [],
    isError: false,

    resultSwabColor: {
      positif: {
        text: 'Positif',
        color: 'error',
      },
      negatif: {
        text: 'Negatif',
        color: 'success',
      },
      null: {
        text: 'Belum Test',
        color: 'grey lighten-1',
      },
    },
    userApi: null
  }),

  mounted() {
    this.userApi = new UserApi(this.$axios)
    this.getHistoryData()
  },

  methods: {
    async getHistoryData() {
      const { id } = this.$route.params
      try {
        const data = await this.userApi.getSwabHistories(id)
        this.historyData = data.detailSwab
        this.isError = false
      } catch (error) {
        this.isError = true
      }
    },
  },
}
</script>
